.facebook-share {
    background:url("../images/icon_sprite.png");
    width: 26px;
    height: 26px;
    display: inline-block;
    background-position: 0px -425px;
    text-indent: -9999px;
}

.twitter-share{
    background:url("../images/icon_sprite.png");
    width: 26px;
    height: 26px;
    display: inline-block;
    background-position: 0px -372px;
    text-indent: -9999px;
}

.social-sharing-container {
    margin: 10px 0;
}
.action.sharing {
    margin:0 5px;
}