<?php
/**
 * Copyright © Brandsmith Commerce OÜ. All rights reserved.
 * See LICENSE.txt for license details.
 */

// @codingStandardsIgnoreFile

/* @var \Brandsmith\RewardPoints\Block\Link $block */
?>
<li class="link reward" data-bind="scope: 'reward'">
    <a <?= /* @noEscape */ $block->getLinkAttributes() ?>><?= $block->escapeHtml($block->getLabel()) ?>
        <!-- ko if: reward().counter -->
        <span data-bind="text: reward().counter" class="counter qty"></span>
        <!-- /ko -->
    </a>
</li>
<script type="text/x-magento-init">
    {
        "*": {
            "Magento_Ui/js/core/app": {
                "components": {
                    "reward": {
                        "component": "Brandsmith_RewardPoints/js/view/reward"
                    }
                }
            }
        }
    }
</script>
