<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$catalogData   = $objectManager->create('Magento\Catalog\Helper\Data');
$crumbs        = false;
if ($breadcrumbsBlock = $objectManager->create('Sm\Zumi\Block\Html\Breadcrumbs')) {
    $breadcrumbsBlock->addCrumb(
        'home',
        [
            'label' => __('Home'),
            'title' => __('Go to Home Paga.sm_megamenu_heade'),
            'link'  => $breadcrumbsBlock->getBaseUrl()
        ]
    );
    $path = $catalogData->getBreadcrumbPath();
    foreach ((array)$path as $name => $breadcrumb) {
        $breadcrumbsBlock->addCrumb($name, $breadcrumb);
    }
    $crumbs = $breadcrumbsBlock->getCrumbs();
}
?>
<?php if ($crumbs && is_array($crumbs)) : ?>

<div class="container">
  <div class="row">
    <div class="col-lg-12 a-left">
      <div class="breadcrumbs">
        <ul class="items">
          <?php foreach ($crumbs as $crumbName => $crumbInfo) : ?>
          <li class="item <?php /* @escapeNotVerified */ echo $crumbName ?>">
            <?php if ($crumbInfo['link']) : ?>
            <a href="<?php /* @escapeNotVerified */ echo $crumbInfo['link'] ?>" title="<?php echo $block->escapeHtml($crumbInfo['title']) ?>"> <?php echo $block->escapeHtml($crumbInfo['label']) ?> </a>
            <?php elseif ($crumbInfo['last']) : ?>
            <?php echo $block->escapeHtml($crumbInfo['label']) ?>
            <?php else: ?>
            <?php echo $block->escapeHtml($crumbInfo['label']) ?>
            <?php endif; ?>
          </li>
          <?php endforeach; ?>
        </ul>
      </div>
    </div>
  </div>
</div>
<?php endif; ?>
