<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
use Magento\Framework\App\Action\Action;

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Product list template
 *
 * @var $block \Magento\Catalog\Block\Product\ListProduct
 */
 
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$_imagehelper = $this->helper('Magento\Catalog\Helper\Image');

if($category = $objectManager->get('Magento\Framework\Registry')->registry('current_category')):
$catId = $category->getId();
$subca = $objectManager->create('Magento\Catalog\Model\Category')->load($catId);
$subcats = $subca->getChildrenCategories();
$_helper = $this->helper('Magento\Catalog\Helper\Output');

if(count($subcats) > 0):?>
<div class="insidePage f-left-full-width row">
  <?php
foreach ($subcats as $subcat) {
$_category = $objectManager->create('Magento\Catalog\Model\Category')->load($subcat->getId());
$outcathelp = $this->helper('Magento\Catalog\Helper\Output');
$subcaturl = $subcat->getUrl();
$_imgHtml = '';
if ($_imgUrl = $_category->getImageUrl()) {
$_imgHtml = '<img src="' . $_imgUrl . '" />';
$_imgHtml = $outcathelp->categoryAttribute($_category, $_imgHtml, 'image');
?>
  <div class="col-lg-2 col-md-3 col-sm-4">
    <div class="productCat"> <a href="<?php echo $subcaturl ?>"> <?php echo $_imgHtml;?> <span class="submenutitle"><?php echo $subcat->getName(); ?></span> </a> </div>
  </div>
  <?php } } ?> 
  <div class="clearfix"></div>
</div>
<?php endif; ?>
<?php endif; ?>
  

<div class="products clearfix  f-left-full-width">
<div class="container">
<?php
$_productCollection = $block->getLoadedProductCollection();
$_helper = $this->helper('Magento\Catalog\Helper\Output');
$_config = $this->helper('Sm\Zumi\Helper\Data');
$homeStyle = $_config->getThemeLayout('home_style');
?>
<?php if (!$_productCollection->count()): ?>
<div class="message info empty">
  <div>
    <?php /* @escapeNotVerified */ echo __('We can\'t find products matching the selection.') ?>
  </div>
</div>
<?php else: ?>
<div class="toolbar-top"> <?php echo $block->getToolbarHtml() ?> </div>
<?php echo $block->getAdditionalHtml() ?>
<?php
    if ($block->getMode() == 'grid') {
        $viewMode = 'grid';
        $image = 'category_page_grid';
        $showDescription = false;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    } else {
        $viewMode = 'list';
        $image = 'category_page_list';
        $showDescription = true;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;
    }
    /**
     * Position for actions regarding image size changing in vde if needed
     */
    $pos = $block->getPositioned();
    ?>
<div class="productlist row <?php /* @escapeNotVerified */ //echo $viewMode; ?> <?php /*?>products-<?php /* @escapeNotVerified * / echo $viewMode; ?><?php */?>">
<?php $iterator = 1; ?>
<?php if($viewMode == 'grid'){ ?>
  <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
  <?php foreach ($_productCollection as $_product): ?>
  
  <div class="col-lg-4 col-md-4 col-sm-6 itemeach">
	<?php $productImage = $_imagehelper->init($_product, $image)
		->constrainOnly(true)
		->keepAspectRatio(true)
		->keepTransparency(true)
		->keepFrame(true)
		->resize(600, 600)
		->getUrl();
	$_productNameStripped = $block->stripTags($_product->getName(), null, true);?>
                <div class="productItem">
                    <span class="productImg">
                       
                       <img src="<?php echo $productImage; ?>" alt="" class="productImage">
                        <span class="productOverlay">
                        <div class="bss-quickview btn"></div>
                       
                    </span>
                    <a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" class="productInfo">
                    <span>
                        <h4 class="productTitle"> <?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?></h4>
                        <span class="productDet"><span class="productSku"><?php echo $_product->getSku(); ?></span><?php /*?><span class="colourBox"><span class="black"></span><span class="grey"></span><span class="white"></span></span><?php */?></span>
                        <span class="productPrice"><?php /* @escapeNotVerified */ echo $block->getProductPrice($_product) ?></span>
                    </span>
                    </a>
                </div>
            </div>
            
  	
  <?php endforeach; ?>
<?php } else { ?>
<ol class="products list items product-items">
  <?php foreach ($_productCollection as $_product): ?>
  <li class="item respl-item-list product product-item">
    <div class="product-item-info" data-container="product-grid">
      <div class="item-inner">
        <div class="box-image-list">
          <?php $productImage = $block->getImage($_product, $image); ?>
          
          <!--LABEL PRODUCT-->
          
          <?php
                                            $orgprice = $_product->getPrice();
											$specialprice = $_product->getSpecialPrice();
											$specialPriceFromDate = $_product->getSpecialFromDate();
											$specialPriceToDate = $_product->getSpecialToDate();
											
											$today = time();

											if ($specialprice && $_config->getAdvanced('show_salelabel')) {
												if ($today >= strtotime($specialPriceFromDate) && $today <= strtotime($specialPriceToDate) || $today >= strtotime($specialPriceFromDate) && is_null($specialPriceToDate)) { ?>
          <?php if($specialprice < $orgprice){
                                                        $save_percent = 100-round(($specialprice/$orgprice)*100);
                                                    ?>
          <div class="label-product label-sale"> <span class="sale-product-icon"> <?php echo '-' . $save_percent . '%'; ?> </span> </div>
          <?php } ?>
          <?php }
											}
										?>
          <?php
										$now = date("Y-m-d");
										$newsFrom = substr($_product->getNewsFromDate(), 0, 10);
										$newsTo = substr($_product->getNewsToDate(), 0, 10);
										
										
										if (($newsTo != '' || $newsFrom != '') && $_config->getAdvanced('show_newlabel')) {
											if (($newsTo != '' && $newsFrom != '' && $now >= $newsFrom && $now <= $newsTo) || ($newsTo == '' && $now >= $newsFrom) || ($newsFrom == '' && $now <= $newsTo)) {?>
          <div class="label-product label-new"> <span class="new-product-icon"><?php echo __('New'); ?></span> </div>
          <?php }
										} ?>
          
          <!--END LABEL PRODUCT--> 
          
          <a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" class="product photo product-item-photo" tabindex="-1"> <?php echo $productImage->toHtml(); ?> </a> </div>
        <div class="product details product-item-details box-info-list">
          <?php
										$_productNameStripped = $block->stripTags($_product->getName(), null, true);
									?>
          <h2 class="product name product-item-name product-name"> <a class="product-item-link" href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>">
            <?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>
            </a> </h2>
          <?php echo $block->getReviewsSummaryHtml($_product, $templateType); ?>
          <?php /* @escapeNotVerified */ echo $block->getProductPrice($_product) ?>
          <?php echo $block->getProductDetailsHtml($_product); ?>
          <div class="product-item-inner">
            <?php if ($showDescription):?>
            <div class="product description product-item-description">
              <?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>
              <a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" title="<?php /* @escapeNotVerified */ echo $_productNameStripped ?>"
												   class="action more">
              <?php /* @escapeNotVerified */ echo __('Learn More') ?>
              </a> </div>
            <?php endif; ?>
          </div>
          <div class="bottom-action">
            <?php if($_config->getAdvanced('show_addtocart_button')){?>
            <?php if ($_product->isSaleable()): ?>
            <?php $postParams = $block->getAddToCartPostParams($_product); ?>
            <form data-role="tocart-form" action="<?php /* @escapeNotVerified */ echo $postParams['action']; ?>" method="post">
              <input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $postParams['data']['product']; ?>">
              <input type="hidden" name="<?php /* @escapeNotVerified */ echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php /* @escapeNotVerified */ echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
              <?php echo $block->getBlockHtml('formkey')?>
              <button type="submit" title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>" class="action tocart btn-action btn-cart"> <span>
              <?php /* @escapeNotVerified */ echo __('Add to Cart') ?>
              </span> </button>
            </form>
            <?php else: ?>
            <?php if ($_product->getIsSalable()): ?>
            <div class="stock available"><span>
              <?php /* @escapeNotVerified */ echo __('In stock') ?>
              </span></div>
            <?php else: ?>
            <div class="stock unavailable btn-action btn-cart"><span>
              <?php /* @escapeNotVerified */ echo __('Out of stock') ?>
              </span></div>
            <?php endif; ?>
            <?php endif; ?>
            <?php } ?>
            <div class="add-to-links" data-role="add-to-links" class="actions-secondary">
            <?php if($_config->getAdvanced('show_wishlist_button')){?>
            <?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow()): ?>
            <a href="#" class="action towishlist btn-action link-wishlist" title="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"  aria-label="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>" data-post='<?php /* @escapeNotVerified */ echo $block->getAddToWishlistParams($_product); ?>' data-action="add-to-wishlist"  role="button"> <span>
            <?php /* @escapeNotVerified */ echo __('Add to Wish List') ?>
            </span> </a>
            <?php endif; ?>
            <?php } ?>
            <?php if($_config->getAdvanced('show_compare_button')){?>
            <?php $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare'); ?>
            <a href="#"  class="action tocompare btn-action link-compare"  title="<?php echo $block->escapeHtml(__('Add to Compare')); ?>" aria-label="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"  data-post='<?php /* @escapeNotVerified */ echo $compareHelper->getPostDataParams($_product); ?>' role="button"> <span>
            <?php /* @escapeNotVerified */ echo __('Add to Compare') ?>
            </span> </a>
            <?php } ?>
          </div>
        </div>
      </div>
    </div>
  </div>
  </li>
  <?php endforeach; ?>
</ol>
<?php } ?>
</div>
<?php /*?><div class="toolbar-bottom no-display"> <?php echo $block->getToolbarHtml() ?> </div><?php */?>
<?php if (!$block->isRedirectToCartEnabled()) : ?>
<script type="text/x-magento-init">
        {
            "[data-role=tocart-form], .form.map.checkout": {
                "catalogAddToCart": {}
            }
        }
        </script>
<?php endif; ?>
<?php endif; ?>
<div class="clearfix"></div>
</div>
</div>