<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Form\Edit $block */
?>

<form class="form form-edit-account col-lg-12 col-md-12 loc-sm-12 col-xs-12" action="<?= $block->escapeUrl($block->getUrl('customer/account/editPost')) ?>" method="post" id="form-validate" enctype="multipart/form-data" data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>" autocomplete="off">

    <fieldset class="sectionChk accountTop fieldset info">
        <?= $block->getBlockHtml('formkey') ?>
        <?= $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Name')->setObject($block->getCustomer())->toHtml() ?>

        <?php $_dob = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Dob') ?>
        <?php $attributeHelper = $this->helper('Clarion\CustomerAttribute\Helper\Customerattribute');?>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="field email required" >
                    <div class="control">
                        <input type="email" name="email" id="email" autocomplete="email"
                        data-input="change-email"
                        value="<?= $block->escapeHtmlAttr($block->getCustomer()->getEmail()) ?>"
                        title="<?= $block->escapeHtmlAttr(__('Email')) ?>"
                        class="input-text"
                        placeholder="<?= $block->escapeHtml(__('Email')) ?>"
                        data-validate="{required:true, 'validate-email':true}"
                        disabled />
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="field phone required">
                    <div class="control">
                        <input name="comp_phone" id="comp_phone"
                        value="<?= $block->escapeHtmlAttr($attributeHelper->getCustomer($block->getCustomer()->getId())->getData('comp_phone')) ?>"
                        title="<?= $block->escapeHtmlAttr(__('Phone')) ?>"
                        class="input-text"
                        placeholder="<?= $block->escapeHtml(__('Phone')) ?>"
                        data-validate="{maxlength:12, required:true, 'validate-number':true}" type="number" pattern="\d*" onkeydown="javascript: return (event.keyCode === 8 || event.keyCode === 46) ? true : ((event.key === ' ') ? false : !isNaN(event.key))" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="12"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <?php /*<div class="col-lg-6 col-md-6 col-sm-6">
                <div class="field po-number ">
                    <div class="control">
                        <input type="text" name="po-number" id="po-number"
                        title="<?= $block->escapeHtmlAttr(__('PO Number')) ?>"
                        class="input-text"
                        placeholder="<?= $block->escapeHtml(__('PO Number')) ?>" />
                    </div>
                </div>
            </div> */ ?>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="field company-name">
                    <div class="control">
                        <?= $block->escapeHtml(__('Company Name: ')) ?>
                        <?php //echo $block->escapeHtmlAttr($attributeHelper->getCustomer($block->getCustomer()->getId())->getData('comp_company')) ?>
                        <input type="text" name="comp_company" id="comp_company" value="<?= $block->escapeHtmlAttr($attributeHelper->getCustomer($block->getCustomer()->getId())->getData('comp_company')) ?>">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="field choice">
                    <input type="checkbox" style="display: inline" name="change_password" id="change-password" data-role="change-password" value="1" title="<?= $block->escapeHtmlAttr(__('Change Password')) ?>"<?php if ($block->getChangePassword()): ?> checked="checked"<?php endif; ?> class="checkbox" />
                    <label class="label"  for="change-password"><span style="font-weight: normal;font-size: 17px;"><?= $block->escapeHtml(__('Change Password')) ?></span></label>
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset class="fieldset password" data-container="change-email-password">
        <legend class="legend" style="border: none"><span data-title="change-email-password"><?= $block->escapeHtml(__('Change Email and Password')) ?></span></legend><br>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="field email required" data-container="change-email">

                    <div class="control">
                        <?= $block->escapeHtml(__('Email')) ?>
                        <input type="email" name="email" id="email" autocomplete="email" data-input="change-email" value="<?= $block->escapeHtmlAttr($block->getCustomer()->getEmail()) ?>" title="<?= $block->escapeHtmlAttr(__('Email')) ?>" class="input-text" data-validate="{required:true, 'validate-email':true}" />
                    </div>
                </div>
                <div class="field password current required">
                    <div class="control">
                        <?= $block->escapeHtml(__('Current Password')) ?>
                        <input type="password" class="input-text" name="current_password" id="current-password" data-input="current-password" autocomplete="off" />
                    </div>
                </div>
                <div class="field new password required" data-container="new-password">
                    <div class="control">
                        <?= $block->escapeHtml(__('New Password')) ?>
                        <input type="password" class="input-text" name="password" id="password"
                               data-password-min-length="<?= $block->escapeHtml($block->getMinimumPasswordLength()) ?>"
                               data-password-min-character-sets="<?= $block->escapeHtml($block->getRequiredCharacterClassesNumber()) ?>"
                               data-input="new-password"
                               data-validate="{required:true, 'validate-customer-password':true}"
                               autocomplete="off" />
                        <div id="password-strength-meter-container" data-role="password-strength-meter" aria-live="polite">
                            <div id="password-strength-meter" class="password-strength-meter">
                                <?= $block->escapeHtml(__('Password Strength')) ?>:
                                <span id="password-strength-meter-label" data-role="password-strength-meter-label">
                                    <?= $block->escapeHtml(__('No Password')) ?>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field confirm password required" data-container="confirm-password">
                    <div class="control">
                        <?= $block->escapeHtml(__('Confirm New Password')) ?>
                        <input type="password" class="input-text" name="password_confirmation" id="password-confirmation"
                               data-input="confirm-password"
                               autocomplete="off" />
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
   <div class="hidden">
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <h3 class="checkoutTitle"><?= $block->escapeHtml(__('Billing Details')) ?></h3>
        </div>
    </div>
    <fieldset class="sectionChk">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="field comp_street required">
                    <div class="control">
                        <input type="text" name="comp_street" id="comp_street"
                        title="<?= $block->escapeHtmlAttr(__('Street Address')) ?>"
                        class="input-text"
                        value="<?= $block->escapeHtmlAttr($attributeHelper->getCustomer($block->getCustomer()->getId())->getData('comp_street')) ?>"
                        placeholder="<?= $block->escapeHtml(__('Street Address')) ?>"
                        data-validate="{required:true}" />
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="field comp_street2">
                    <div class="control">
                        <input type="text" name="comp_street2" id="comp_street2"
                        title="<?= $block->escapeHtmlAttr(__('Street Address 2')) ?>"
                        class="input-text"
                        placeholder="<?= $block->escapeHtml(__('Street Address 2')) ?>" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="field comp_city required">
                    <div class="control">
                        <input type="text" name="comp_city" id="comp_city"
                        title="<?= $block->escapeHtmlAttr(__('Town')) ?>"
                        class="input-text"
                        value="<?= $block->escapeHtmlAttr($attributeHelper->getCustomer($block->getCustomer()->getId())->getData('comp_city')) ?>"
                        placeholder="<?= $block->escapeHtml(__('Town')) ?>"
                        data-validate="{required:true}"
                        aria-required="true" />
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="field comp_region">
                    <div class="control">
                        <input type="text" name="comp_region" id="comp_region"
                        title="<?= $block->escapeHtmlAttr(__('Region')) ?>"
                        class="input-text"
                        value="<?= $block->escapeHtmlAttr($attributeHelper->getCustomer($block->getCustomer()->getId())->getData('comp_region')) ?>"
                        placeholder="<?= $block->escapeHtml(__('Region')) ?>"
                        data-validate="{required:true}"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="field comp_postcode">
                    <div class="control">
                        <input type="text" name="comp_postcode" id="comp_postcode"
                        title="<?= $block->escapeHtmlAttr(__('Postcode')) ?>"
                        class="input-text"
                        value="<?= $block->escapeHtmlAttr($attributeHelper->getCustomer($block->getCustomer()->getId())->getData('comp_postcode')) ?>"
                        placeholder="<?= $block->escapeHtml(__('Postcode')) ?>"
                        data-validate="{required:true}" />
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="field comp_country_id">
                    <div class="control">
                        <?php $options = $attributeHelper->getAttributeOptions('comp_country_id');?>
                        <?php foreach ($options as $option):?>
                            <?php if ($option['value'] == $attributeHelper->getCustomer($block->getCustomer()->getId())->getData('comp_country_id')):?>
                                <?php echo $option['label'];?>
                            <?php endif?>
                        <?php endforeach;?>
                        <input type="hidden" name="comp_country_id" id="comp_country_id" class="input-text"
                            value="<?= $block->escapeHtmlAttr($attributeHelper->getCustomer($block->getCustomer()->getId())->getData('comp_country_id')) ?>" />
                    </div>
                </div>
            </div>
        </div>

    </fieldset>
     <fieldset class="sectionChk">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6">
                <h3 class="checkoutTitle"><?= $block->escapeHtmlAttr(__('Shipping Details')) ?></h3>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="sameas">
                    <input type="checkbox" checked="checked"><?= $block->escapeHtmlAttr(__(' Use same address as Billing')) ?>
                </div>
            </div>
        </div>
    </fieldset>

    <?php  $block->getChildHtml('form_additional_info') ?>
    <br>
   </div>
   <div class="save-card">
       <a href="<?php echo $block->getUrl('stripe/customer/cards');?>">My Saved Cards</a>
   </div>
    <div class="row">
        <div class="col-lg-12 alignright">
            <button type="submit" class="btn medium action save primary" title="<?= $block->escapeHtmlAttr(__('Save')) ?>"><span><?= $block->escapeHtml(__('Save Details')) ?></span></button>
        </div>
    </div>
</form>
<script>
    require([
        "jquery",
        "mage/mage"
    ], function($){
        var dataForm = $('#form-validate');
        var ignore = <?= /* @noEscape */ $_dob->isEnabled() ? '\'input[id$="full"]\'' : 'null' ?>;

        dataForm.mage('validation', {
        <?php if ($_dob->isEnabled()): ?>
            errorPlacement: function(error, element) {
                if (element.prop('id').search('full') !== -1) {
                    var dobElement = $(element).parents('.customer-dob'),
                        errorClass = error.prop('class');
                    error.insertAfter(element.parent());
                    dobElement.find('.validate-custom').addClass(errorClass)
                        .after('<div class="' + errorClass + '"></div>');
                }
                else {
                    error.insertAfter(element);
                }
            },
            ignore: ':hidden:not(' + ignore + ')'
        <?php else: ?>
            ignore: ignore ? ':hidden:not(' + ignore + ')' : ':hidden'
        <?php endif ?>
        });

    });
</script>
<script type="text/x-magento-init">
    {
        "[data-role=change-email], [data-role=change-password]": {
            "changeEmailPassword": {
                "titleChangeEmail": "<?= $block->escapeJs($block->escapeHtml(__('Change Email'))) ?>",
                "titleChangePassword": "<?= $block->escapeJs($block->escapeHtml(__('Change Password'))) ?>",
                "titleChangeEmailAndPassword": "<?= $block->escapeJs($block->escapeHtml(__('Change Email and Password'))) ?>"
            }
        },
        "[data-container=new-password]": {
            "passwordStrengthIndicator": {
                "formSelector": "form.form-edit-account"
            }
        }
    }
</script>
