/**
 * Copyright © Magefan (support@magefan.com). All rights reserved.
 * See LICENSE.txt for license details (http://opensource.org/licenses/osl-3.0.php).
 *
 * Glory to Ukraine! Glory to the heroes!
 */
.badge_main {
    margin-bottom: 10px;
    margin-top: 10px;
}
.badge_main .single_badge {
    height: 66px;
    width: auto !important;
    border: solid 1px #ddd;
    padding: 3px;
    display: inline-block;
    margin-right: 1px;
    margin-left: 0;
    margin-bottom:5px;
}