<?php
/**
 * CedCommerce
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End User License Agreement (EULA)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://cedcommerce.com/license-agreement.txt
 *
 * @category    Ced
 * @package     Ced_HubIntegration
 * @author      CedCommerce Core Team <connect@cedcommerce.com>
 * @copyright   Copyright CedCommerce (http://cedcommerce.com/)
 * @license     http://cedcommerce.com/license-agreement.txt
 */

/** @var  $block \Ced\HubIntegration\Block\Adminhtml\System\Config\ExportOldData */
//$successImg = $block->getViewFileUrl('Ced_HubIntegration::images/fam_bullet_success.svg');
//$errorImg = $block->getViewFileUrl('Ced_HubIntegration::images/fam_bullet_error.svg');
//$loaderImg = $block->getViewFileUrl('Ced_HubIntegration::images/rule-ajax-loader.gif');
//
//$productsTotal = $block->productsBatch;
//$contactsTotal = $block->contactsBatch;
//$dealsTotal = $block->dealsBatch;
//$lineItemsTotal = $block->lineItemsBatch;

$percentResult = $block->getPercentage();
$contactPercent = $percentResult['CONTACT']['percent'];
$productPercent = $percentResult['PRODUCT']['percent'];
$dealPercent = $percentResult['DEAL']['percent'];
$lineItemPercent = $percentResult['LINE_ITEM']['percent'];
$ajaxUrl = $block->getAjaxUrl();
$msg = $block->getBulkExportMessage();
$showProgressBar = $block->showProgressBar();
if ($showProgressBar) {
    $display = 'block';
} else {
    $display = 'none';
}

?>
<style>

    #batches {
        border: 1px solid #ddd;
        border-radius: 0;
        margin-bottom: 20px;
        font-size: 15px;
    }

    .batches-tab {
        background: #eee;
        padding: 1rem;
        cursor: pointer;
        /*font-weight: bold;*/

    }


    #batches span {
        vertical-align: middle;
    }

</style>


        <div class="row">
            <div class="col-md-12" id="" style="margin-top: 10px; display: <?php echo $display;?>">
                <div class="panel panel-default">
                    <div class="block-content panel-body ">
                        <div id="batches">
                            <div class="batches-tab" data-role="collapsible">
                                <div data-role="trigger">
                                    <span>PRODUCT</span>
                                </div>
                            </div>
                        <div id="product-amazon-progress-bar"></div>
                        </div>
                        <div id="batches">
                            <div class="batches-tab" data-role="collapsible">
                                <div data-role="trigger">
                                    <span>CONTACT</span>
                                </div>
                            </div>
                        <div id="contact-amazon-progress-bar"></div>
                        </div>
                        <div id="batches">
                            <div class="batches-tab" data-role="collapsible">
                                <div data-role="trigger">
                                    <span>DEAL</span>
                                </div>
                            </div>
                        <div id="deal-amazon-progress-bar"></div>
                        </div>
                        <div id="batches">
                            <div class="batches-tab" data-role="collapsible">
                                <div data-role="trigger">
                                    <span>LINE ITEM</span>
                                </div>
                            </div>
                        <div id="line-item-amazon-progress-bar"></div>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>

<script>
    require(['jquery', 'jquery/ui', 'lineProgressbar'], function ($) {

        $("#product-amazon-progress-bar").LineProgressbar({
            percentage: <?php echo $productPercent; ?>,
            fillBackgroundColor: '#77a21b',
            height: '25px',
            duration: 0,
            animation: true
        });

        $("#contact-amazon-progress-bar").LineProgressbar({
            percentage: <?php echo $contactPercent; ?>,
            fillBackgroundColor: '#77a21b',
            height: '25px',
            duration: 0,
            animation: true
        });

        $("#deal-amazon-progress-bar").LineProgressbar({
            percentage: <?php echo $dealPercent; ?>,
            fillBackgroundColor: '#77a21b',
            height: '25px',
            duration: 0,
            animation: true
        });

        $("#line-item-amazon-progress-bar").LineProgressbar({
            percentage: <?php echo $lineItemPercent; ?>,
            fillBackgroundColor: '#77a21b',
            height: '25px',
            duration: 0,
            animation: true
        });
    });


</script>