<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * @var \Magento\Theme\Block\Html\Header $block
 */

$_config = $this->helper('Sm\Zumi\Helper\Data');
$footerStyle = $_config->getThemeLayout('footer_style');
?>

<?php if($_config->getAdvanced('show_gototop')){ ?>
    <a id="yt-totop-fix" href="javascript:void(0)" title="Go to Top"></a>
<?php } ?>

<?php if($footerStyle == "footer-1"){ ?>
    <?php /*?><div class="footer-container footer-style-1">
        <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer-1-content')->toHtml(); ?>

        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <?php if($_config->getAdvanced('custom_copyright')){ ?>
                            <address><?php echo $_config->getAdvanced('copyright_content') ?></address>
                        <?php } else {?>
                            <address><?php /* @escapeNotVerified * / echo $block->getCopyright() ?></address>
                        <?php } ?>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('payment-footer')->toHtml(); ?>
                    </div>
                </div>
            </div>
        </div>
    </div><?php */?>
    
    <div class="footer">
        <div class="container">
            <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer-content')->toHtml(); ?>
        </div>
        <div class="clear"></div>
    </div>
    <div class="bottomfooter">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                   <?php if($_config->getAdvanced('custom_copyright')){ ?>
                            <address><?php echo $_config->getAdvanced('copyright_content') ?></address>
                        <?php } else {?>
                            <address><?php /* @escapeNotVerified */ echo $block->getCopyright() ?></address>
                        <?php } ?>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 alignright">
                    Website by <a href="http://www.brandsmith.co.nz/">Brandsmith</a>
                </div>
            </div>
        </div>
    </div>
    
<?php } else if($footerStyle == "footer-2"){?>
    <div class="footer-container footer-style-2">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('form-newsletter')->toHtml(); ?>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('payment-footer')->toHtml(); ?>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
                        <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('logo-footer')->toHtml(); ?>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('social-footer')->toHtml(); ?>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-middle">
            <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer-2-content')->toHtml(); ?>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <?php if($_config->getAdvanced('custom_copyright')){ ?>
                            <address><?php echo $_config->getAdvanced('copyright_content') ?></address>
                        <?php } else {?>
                            <address><?php /* @escapeNotVerified */ echo $block->getCopyright() ?></address>
                        <?php } ?>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('menu-footer')->toHtml(); ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
<?php }?>

<div id="back_top"><i class="fas fa-arrow-up"></i></div>
<script>
    require([
        'jquery'
    ], function($){
        jQuery(window).scroll(function() {
            if (jQuery(this).scrollTop() > 300) {
                jQuery('#back_top').fadeIn();
            } else {
                jQuery('#back_top').fadeOut();
            }
        });
        jQuery("#back_top").click(function() {
            jQuery("html, body").animate({ scrollTop: 0 }, "slow");
            return false;
        });
    });
</script>