<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * @var \Magento\Theme\Block\Html\Header $block
 */
?>
<?php
//@TODO remove objectManager from here and use the block/helpers instead
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->get('Magento\Customer\Model\Session');
?>
<div class="header-container header-style-1">
    <div class="headerBlock"></div>
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 alignright">
                    <div class="topMenu">
                        <ul>
                            <?php if(!$customerSession->isLoggedIn()) { ?>
                            <li><a href="/resellers/">WHERE TO BUY</a></li>
                            <?php } ?>
                            <li><a href="/contact/">CONTACT</a></li>
                            <?php if($customerSession->isLoggedIn()) { ?>
                                <li><a href="/customer/account/">ACCOUNT</a></li>
                                <li><a href="/customer/account/logout/">LOGOUT</a></li>
                            <?php } else { ?>
                                <li><a href="/customer/account/login/">RESELLER LOGIN</a></li>
                            <?php } ?>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <?php echo $block->getChildHtml('logo_theme'); ?>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 centered col-xs-0 " style="padding-right: 0px; padding-left: 0px;">
                    <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('header-menu-desktop')->toHtml(); ?>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 alignright col-xs-6">
                    <?php if($customerSession->isLoggedIn()):?>
                        <div class="knight-minicart">
                            <div class="minicart-header">
                                <div class="minicart-content">
                                    <?php echo $block->getChildHtml('cart-header'); ?>
                                </div>
                            </div>
                        </div>
                    <?php endif; ?>
                    <div class="mobileSearch"><i class="fa fa-search fontawesomeicon"></i></div>
                    <div class="searchbox-header">
                        <?php echo $block->getChildHtml('search-header'); ?>
                    </div>

                    <div class="mobileButton"><i class="fa fa-bars fontawesomeicon"></i></div>
                </div>
            </div>
        </div>
        <div class="mainMenu mobileMenu">
            <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('header-menu-mobile')->toHtml(); ?>
        </div>
    </div>
</div>
