<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * @var \Magento\Theme\Block\Html\Header\Logo $block
 */
?>
<?php $storeName = $block->getThemeName() ? $block->getThemeName() : $block->getLogoAlt();?>
<div class="logo-wrapper">
	<h1 class="logo-content">
		<strong class="logo">
			<a class="logo" href="<?php echo $block->getUrl(''); ?>" title="<?php /* @escapeNotVerified */ echo $storeName ?>">
				<img class="logo"  src="<?php /* @escapeNotVerified */ echo $block->getLogoSrc() ?>"
					 alt="<?php /* @escapeNotVerified */ echo $block->getLogoAlt() ?>"<?php /*?>
					 <?php echo $block->getLogoWidth() ? 'width="' . $block->getLogoWidth() . '"' : '' ?>
					 <?php echo $block->getLogoHeight() ? 'height="' . $block->getLogoHeight() . '"' : '' ?><?php */?>
				/>

			</a>
		</strong>
	</h1>
</div>

