<?php
/*------------------------------------------------------------------------
# SM Instagram Gallery - Version 2.0.1
# Copyright (c) 2016 YouTech Company. All Rights Reserved.
# @license - Copyrighted Commercial Software
# Author: YouTech Company
# Websites: http://www.magentech.com
-------------------------------------------------------------------------*/

$helper = $this->_helper();
$uniqued = 'instagram_items_inner_' . time().rand();

$users_id = $this->_getConfig('users_id');
$access_token = $this->_getConfig('access_token');
$limit_image = $this->_getConfig('limit_image');
$type_show = $this->_getConfig('nb_type_show');
$nb_rows = $this->_getConfig('nb_rows');
$title = $this->_getConfig('title');
$full_name = $this->_getConfig('full_name');
$target = $this->_getConfig('target');
$type_popup = $this->_getConfig('type_popup');
$j = 0;
$class_instagram = 'instagram00-' . $this->_getConfig('nb_column1', 6) . ' instagram01-' . $this->_getConfig('nb_column1', 6) . ' instagram02-' . $this->_getConfig('nb_column2', 4) . ' instagram03-' . $this->_getConfig('nb_column3', 2) . ' instagram04-' . $this->_getConfig('nb_column4', 1);
$json = @file_get_contents('https://api.instagram.com/v1/users/'.$users_id.'/media/recent?access_token='.$access_token.'&count='.$limit_image);
$json_output = json_decode($json, true);
$count  = count($json_output['data']);
?>
<div class="instagram-items">
    <?php if(!empty($count)) { ?>
    <?php if ($type_show == 'slider') { ?>
    <div class="instagram-items-inner owl2-carousel" id="<?php echo $uniqued; ?>">
        <?php } else { ?>
        <div class="instagram-items-inner <?php echo $class_instagram;?>">
            <?php } ?>

            <?php for($i=0; $i < $count ; $i++) {
                $j++; ?>
                <?php if($type_show == 'slider' && ($j % $nb_rows == 1 || $nb_rows == 1)) { ?>
                    <div class="instagram-item">
                <?php }
            if ($type_show == 'simple'){ ?>
                <div class="instagram-item">
            <?php } ?>
                <div class="instagram_users">
                    <div class="img_users">
                        <a title="<?php echo $json_output['data'][$i]['user']['full_name'] ;?>" data-fancybox-group="next" data-target="<?php echo $target ;?>" data-href="<?php echo $json_output['data'][$i]['link']?>" class="instagram_gallery_image gallery_image" rel="" href="<?php echo $json_output['data'][$i]['images']['low_resolution']['url'] ?>?taken-by=<?php echo $json_output['data'][$i]['user']['username'] ?>">
                            <img class="image_users" src="<?php echo $json_output['data'][$i]['images']['low_resolution']['url'] ?>" title="<?php echo $json_output['data'][$i]['user']['full_name'] ;?>" alt="<?php echo $json_output['data'][$i]['user']['full_name'] ;?>" />
                        </a>
                    </div>
                </div>
                <?php if($type_show == 'slider' && ($j % $nb_rows == 0 || $j == $count)) { ?>
                </div>
            <?php }
                if ($type_show == 'simple'){ ?>
                    </div>
                <?php } ?>
            <?php } ?>
        </div>
        <?php } else { ?>
            <div class="no-images"><?php echo "No Images or  Users ID and Access Token incorrect" ?></div>
        <?php } ?>
    </div>

    <script type="text/javascript">
        require([
			'jquery',
			'owlcarousel',
			'jqueryfancyboxpack',
			'fancybuttons',
			'fancymedia',
			'fancythumbs',
			'domReady!'
		], function ($) {
            <?php if ($this->_getConfig('nb_type_show') == 'slider') { ?>
            var element = $('#<?php echo $uniqued;?>'),
                total_product = <?php echo round($count/$nb_rows) ;?>,
                tab_active = $('.instagram-items-inner', element);
                nb_column1 = <?php echo $this->_getConfig('nb_column1'); ?>,
                nb_column2 = <?php echo $this->_getConfig('nb_column2'); ?>,
                nb_column3 = <?php echo $this->_getConfig('nb_column3'); ?>,
                nb_column4 = <?php echo $this->_getConfig('nb_column4'); ?>;

            element.owlCarousel({
                nav: <?php echo $this->_getConfig('display_nav') ; ?>,
                dots: false,
                margin: 0,
                loop:  <?php echo $this->_getConfig('display_loop') ; ?>,
                autoplay: <?php echo $this->_getConfig('autoplay'); ?>,
                autoplayHoverPause: <?php echo $this->_getConfig('autoplayHoverPause') ; ?>,
                autoplayTimeout: <?php if((int)$this->_getConfig('intervalTimeout')){
                    echo ((int)$this->_getConfig('intervalTimeout'));
                    }else{
                        echo "5000";
                    }
                 ?>,
                autoplaySpeed: <?php if((int)$this->_getConfig('autoplaySpeed')){
                    echo ((int)$this->_getConfig('autoplaySpeed'));
                }else{
                    echo "2000";
                }
                ?>,
                navSpeed: <?php echo $this->_getConfig('navSpeed'); ?>,
                mouseDrag: <?php echo  $this->_getConfig('mouseDrag'); ?>,
                touchDrag: <?php echo $this->_getConfig('touchDrag'); ?>,
                navRewind: true,
                navText: [ '', '' ],
                responsive: {
                    0: {
                        items: nb_column4,
                        nav: total_product <= nb_column4 ? false : ((<?php echo $this->_getConfig('display_nav') ; ?>) ? true: false),
                    },
                    480: {
                        items: nb_column3,
                        nav: total_product <= nb_column3 ? false : ((<?php echo $this->_getConfig('display_nav') ; ?>) ? true: false),
                    },
                    768: {
                        items: nb_column2,
                        nav: total_product <= nb_column2 ? false : ((<?php echo $this->_getConfig('display_nav') ; ?>) ? true: false),
                    },
                    1200: {
                        items: nb_column1,
                        nav: total_product <= nb_column1 ? false : ((<?php echo $this->_getConfig('display_nav') ; ?>) ? true: false),
                    },
                }
            });
            $("#<?php echo $uniqued; ?> .owl-prev").append('&lsaquo;');
            $("#<?php echo $uniqued; ?> .owl-next").append('&rsaquo;');
            <?php } ?>
            $(".gallery_image").fancybox({
                prevEffect	 : 'none',
                nextEffect	 : 'none',
                <?php if($type_popup == 'button') { ?>
                closeBtn		: false,
                <?php } ?>
                helpers: {
                    <?php if($type_popup == 'thumb'){ ?>
                        thumbs	: {
                            width	: 50,
                                height	: 50
                        },
                    <?php } ?>
                    <?php if($type_popup == 'button'){ ?>
                        buttons	: {},
                    <?php } ?>
                    <?php if($full_name) { ?>
                    title : false
                    <?php } ?>
                }
				
            });
        });
    </script>