<?php
$entityType = 'catalog_product';
$_objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$_dropDownData = $this->getAttributeData();

$_lastOption = $_dropDownData['last_option'];
$_frontendLabel = $_dropDownData['frontend_label'];
$_product_sku = $_dropDownData['product_sku'];
$_product = $block->getProductBySku($_product_sku);


$_attributeCode = $_dropDownData['attribute_code'];
//$_attributeOptionAll = $block->getAllOption($_attributeCode);

$_attributeInfo = $block->getAttributeInfo($entityType, $_attributeCode);
$_attributeId = $_attributeInfo->getAttributeId();

$_productTypeInstance = $_objectManager->get('Magento\ConfigurableProduct\Model\Product\Type\Configurable');
$_productAttributeOptions = $_productTypeInstance->getConfigurableAttributesAsArray($_product);
$_superProduct = $block->getCurrentProduct();
$_superProductSku = $_superProduct->getSku();
$_baseProduct = $block->getBaseProductId($_superProduct->getId());
$_baseSku = $_baseProduct->getSku();
$_checkDependency = $block->getAttributeDependency($_superProduct->getId(), $_attributeCode, $_product_sku);
?>
<?php if(isset($_productAttributeOptions[$_attributeId])) { ?>
<div class="super-item-attribute type-dropdown <?php if(count($_checkDependency->getData()) > 0 ) { echo 'hidden';} ?>" id="<?php echo $_attributeCode.'-'.$_product_sku; ?>">
    <div class="super-attr-label dropdown-title"><strong><?php echo $_frontendLabel; ?></strong></div>
    <div id="super-attribute-dropdown-<?= $_product_sku.'-'.$_attributeCode; ?>" class="group-attribute-dropdown">
        <div class="attr-dropdown-display">
            <div class="display-selected">
                <p><?php echo __('Select Option'); ?></p>
                <span class="super-dropdown-icon"></span>
            </div>
        </div>
        <div class="attribute-dropdown">
            <ul class="clearfix">
                <?php foreach ($_productAttributeOptions[$_attributeId]['values'] as $_attributeOption) { ?>
                    <?php if(trim($_attributeOption['label'])) { ?>
                        <?php if($_lastOption && $_lastOption != '1') { ?>
                            <li class="dropdown-option image option-item <?= $_lastOption; ?>" data-last='super-<?php echo $_product->getId(); ?>' data-text="<?php echo $_attributeOption['label']; ?>" data-code="<?php echo $_attributeCode; ?>" data-index="<?php echo $_attributeOption['value_index']; ?>" data-sku="<?php echo $_product_sku; ?>" data-position=""><span><?php echo $_attributeOption['label']; ?></span></li>
                        <?php } else { ?>
                            <li class="dropdown-option image option-item" data-text="<?php echo $_attributeOption['label']; ?>" data-code="<?php echo $_attributeCode; ?>" data-index="<?php echo $_attributeOption['value_index']; ?>" data-sku="<?php echo $_product_sku; ?>" data-position="<?php echo $_lastOption; ?>"><span><?php echo $_attributeOption['label']; ?></span></li>
                        <?php } ?>
                    <?php } ?>
                <?php } ?>
            </ul>
        </div>
    </div>
    <?php if($_baseSku == $_product_sku) { ?>
        <input type="hidden" class="require-<?php echo $_baseSku; ?>" />
    <?php } ?>
</div>

<?php } ?>

