<?php
$_superProduct = $block->getCurrentProduct();
$_superProductSku = $_superProduct->getSku();
$_baseProduct = $block->getBaseProductId($_superProduct->getId());
$entityType = 'catalog_product';
$_labelData = $this->getAttributeData();
$_objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$request = $_objectManager->get('Magento\Framework\App\Request\Http');

$_lastOption = $_labelData['last_option'];
$_frontendLabel = $_labelData['frontend_label'];
$_product_sku = $_labelData['product_sku'];
$_product = $block->getProductBySku($_product_sku);
$_product_id = $_product->getId();
// add for same add on added
if($_baseProduct->getProductId() != $_product_id) {
    $_product_id_temp = $block->getProductIdBySkuAddon($_superProduct->getId() , $_product_sku);
    $skuArr = explode("_", $_product_sku, 2);
    if (count($skuArr) > 1) {
        if($_product_id_temp == $skuArr[0]) {
            $_product_id = $_product_id_temp;
        }
    }
}
//end

$_attributeCode = $_labelData['attribute_code'];
//$_attributeOptionAll = $block->getAllOption($_attributeCode);

$_attributeInfo = $block->getAttributeInfo($entityType, $_attributeCode);
$_attributeId = $_attributeInfo->getAttributeId();

$_productTypeInstance = $_objectManager->get('Magento\ConfigurableProduct\Model\Product\Type\Configurable');
$_productAttributeOptions = $_productTypeInstance->getConfigurableAttributesAsArray($_product);


$_baseSku = $_baseProduct->getSku();
$_baseAttribute = $_baseProduct->getBaseAttribute();
$_checkDependency = $block->getAttributeDependency($_superProduct->getId(), $_attributeCode, $_product_sku);
//$_inputId = $_product->getId() . '-' . $_attributeCode;
$_inputId = $_product_id . '-' . $_attributeCode;

//  Png Rule
$_pngRule = $block->getPngRuleBySuperProductId($_superProduct->getId(), $_product_sku, $_attributeCode);
$_pngRuleData = $_pngRule->getData();
$_imageUrl = '';

// Check Require
$_checkAddOnRequire = $block->getAddOnRequire($_superProduct->getId(), $_product_id);

//  Get Item Id from Page Cart
$param = $request->getParam('item_id');
$paramsavecart = $request->getParam('savecart_id');
$paramwishlist = $request->getParam('wishlist_id');
$paramshare = $request->getParam('share');
$_shareproductHelper = $_objectManager->get('\Knight\ShareProduct\Helper\Data');

$swatchHelper = $_objectManager->get('Magento\Swatches\Helper\Data');
$configPrdHelper = $_objectManager->get('Magento\ConfigurableProduct\Helper\Data');
$attributesData = $swatchHelper->getSwatchAttributesAsArray($_product);
$_childProducts = $_product->getTypeInstance()->getUsedProducts($_product);
$options = $configPrdHelper->getOptions($_product, $_childProducts);
$jsonProducts = json_encode($options['index']);

?>

<?php if( empty($param) && empty($paramsavecart) && empty($paramwishlist) && empty($paramshare)) { ?>
    <?php
    /*
     * Request Without Edit Cart
     * */
    ?>
    <?php if(isset($_productAttributeOptions[$_attributeId])) { ?>
        <div class="super-item-attribute type-label <?php if(count($_checkDependency->getData()) > 0 ) { echo 'hidden';} ?> <?php if($_baseSku != $_product_sku && $_checkAddOnRequire['required'] != 1) { echo 'disabled'; }?>" id="<?php echo $_attributeCode.'-'.$_product_sku; ?>" data-attributecode="<?php echo $_attributeCode; ?>" data-attributeid="<?php echo $_attributeId; ?>">
            <div class="super-attr-label label-title"><strong><?php echo __($_frontendLabel); ?></strong></div>
            <div class="group-attribute-label" data-listproduct='<?php if($_product_id != $_baseProduct->getProductId()) {echo $jsonProducts;}?>'>
                <div id="super-attribute-label-<?= $_product_sku.'-'.$_attributeCode; ?>" class="attribute-label" >
                    <?php foreach ($_productAttributeOptions[$_attributeId]['values'] as $_attributeOption) { ?>
                        <?php if(trim($_attributeOption['label']) != '') { ?>
                            <?php if($_lastOption && $_lastOption != '1') { ?>
                                <span class="option-item <?php echo $_lastOption; ?> <?php if($_product_id == $_baseProduct->getProductId()){echo ' option-base '; }?>"
                                      data-last='super-<?php echo $_product_id; ?>'
                                      data-code="<?php echo $_attributeCode; ?>"
                                      data-attribute="<?php echo $_attributeId; ?>"
                                      data-sku="<?php echo $_product_sku; ?>"
                                      data-id="<?php echo $_product_id; ?>"
                                      data-index="<?php echo $_attributeOption['value_index']; ?>"
                                      data-position=""
                                      data-image="<?php echo $_imageUrl; ?>"
                                      data-attributerule="<?php if( !empty($_pngRuleData) ) {echo $_pngRuleData['attribute']; } ?>" >
                                    <?php echo $_attributeOption['label']; ?>
                                </span>
                            <?php } else { ?>
                                <span class="option-item <?php if($_product_id == $_baseProduct->getProductId()){echo ' option-base '; }?>"
                                      data-code="<?php echo $_attributeCode; ?>"
                                      data-attribute="<?php echo $_attributeId; ?>"
                                      data-sku="<?php echo $_product_sku; ?>"
                                      data-id="<?php echo $_product_id; ?>"
                                      data-index="<?php echo $_attributeOption['value_index']; ?>"
                                      data-position="<?php echo $_lastOption; ?>"
                                      data-image="<?php echo $_imageUrl; ?>"
                                      data-attributerule="<?php if( !empty($_pngRuleData) ) {echo $_pngRuleData['attribute']; } ?>" >
                                    <?php echo $_attributeOption['label']; ?>
                                </span>
                            <?php } ?>
                        <?php } ?>
                    <?php } ?>
                </div>
            </div>
            <?php
            /*
             * Check Add-on Require
             * */
            ?>
            <?php if($_baseSku != $_product_sku) { ?>
                <?php
                    $_checkAddOnRequire = $block->getAddOnRequire($_superProduct->getId(), $_product_id);
                ?>
                    <?php if($_checkAddOnRequire['required'] == 1) { ?>
                        <input type="hidden" id="<?php echo $_inputId; ?>" data-type="<?php echo __('configurable'); ?>" data-id="<?php echo $_product_id; ?>" data-sku="<?php echo $_product_sku; ?>" class="list-add-on require-option-selected" value="0" />
                    <?php } else {?>
                        <input type="hidden" id="<?php echo $_inputId; ?>" data-type="<?php echo __('configurable'); ?>" data-id="<?php echo $_product_id; ?>" data-sku="<?php echo $_product_sku; ?>" class="list-add-on" value="0" />
                    <?php } ?>
            <?php } ?>

            <?php if($_baseSku == $_product_sku) { ?>
                <input type="hidden" id="<?php echo $_inputId; ?>" data-type="<?php echo __('configurable'); ?>" data-id="<?php echo $_product_id; ?>" data-sku="<?php echo $_product_sku; ?>" class="list-add-on require-option-selected" value="0" />
                <input type="hidden" id="size-require" value="" />
                <input type="hidden" class="require-<?php echo $_baseSku; ?>" />
            <?php } ?>
        </div>
    <?php } ?>
<?php } else { ?>
    <?php
    /*
     * Request Edit Cart
     * */
    ?>
    <?php
        $_itemId = $request->getParam('item_id');
        $_superProductId = $_superProduct->getId();
        $_childProductId = $_product_id;

        if(!empty($_itemId)) {
            $_childSuperAttributes = $block->getChildSuperAttributes($_itemId, $_superProductId, $_childProductId);
        }else {
            if(!empty($paramshare)){
                $shareproduct_id = $paramshare;
                $_childSuperAttributes = $_shareproductHelper->getChildSuperAttributes($shareproduct_id, $_childProductId);
                $_childSuperAttributesDisable = $_shareproductHelper->getChildSuperAttributesDisable($shareproduct_id, $_childProductId);
            }else {
                if(!empty($paramsavecart)) {
                    $_childSuperAttributes = $block->getChildSuperSavecartAttributes($paramsavecart, $_childProductId);
                }else {
                    if(!empty($paramwishlist)) {
                        $_childSuperAttributes = $block->getChildSuperSavecartAttributes($paramwishlist, $_childProductId, 1);
                    }
                }
            }
        }
    ?>
    <?php if(isset($_productAttributeOptions[$_attributeId])) { ?>
      <?php $_attCodehasinRule = $block->checkAttributeCodehasInRule($_superProductId,$_product_sku,$_attributeCode);?>
        <div class="super-item-attribute type-label <?php if(empty($_childSuperAttributes)) { echo 'disabled'; }?>" id="<?php echo $_attributeCode.'-'.$_product_sku; ?>" data-attributecode="<?php echo $_attributeCode; ?>" data-attributeid="<?php echo $_attributeId; ?>" data-attinrule="<?php echo ($_attCodehasinRule)? 1 : 0?>">
            <div class="super-attr-label label-title"><strong><?php echo __($_frontendLabel); ?></strong></div>
            <div class="group-attribute-label" data-listproduct='<?php if($_product_id != $_baseProduct->getProductId()) {echo $jsonProducts;}?>'>
                <div id="super-attribute-label-<?= $_product_sku.'-'.$_attributeCode; ?>" class="attribute-label" >
                    <?php foreach ($_productAttributeOptions[$_attributeId]['values'] as $_attributeOption) { ?>
                        <?php if(trim($_attributeOption['label']) != '') { ?>
                            <?php
                                $_productSkuDep = $_product_sku;
                                $_attributeCodeDep = $_attributeCode;
                                $_optionIdDep = $_attributeOption['value_index'];
                                $_classAttributeDependency = $optionInrule = '';
                                $_attributeRule = false;
                                
                                if($_childSuperAttributes[$_attributeCode] != $_optionIdDep) {
                                    if(!empty($_itemId)) {
                                        $_attributeRule = $block->checkAttributeRule($_superProductId, $_itemId, $_productSkuDep, $_attributeCodeDep, $_optionIdDep);
                                        $optionInrule = $block->checkAttributeCodehasInRule($_superProductId,$_product_sku,$_attributeCode,$_optionIdDep);
                                    }else {
                                        if(!empty($paramshare)){
                                            $_attributeRule = $_shareproductHelper->checkAttributeRule($paramshare, $_superProductId, $_productSkuDep, $_attributeCodeDep, $_optionIdDep);
                                            $optionInrule = $_shareproductHelper->checkAttributeCodehasInRule($_superProductId,$_product_sku,$_attributeCode,$_optionIdDep);
                                        }else {
                                            if(!empty($paramsavecart)) {
                                                $_attributeRule = $block->checkAttributeRule($_superProductId, $_itemId, $_productSkuDep, $_attributeCodeDep, $_optionIdDep, $paramsavecart);
                                            }else {
                                                if(!empty($paramwishlist)) {
                                                    $_attributeRule = $block->checkAttributeRule($_superProductId, $_itemId, $_productSkuDep, $_attributeCodeDep, $_optionIdDep, $paramwishlist, 1);
                                                }
                                            }
                                        }
                                    }
                                    if( $_attributeRule ) {
                                        $_classAttributeDependency = 'option-disable';
                                    }
                                }
                            ?>

                            <?php if($_lastOption && $_lastOption != '1') { ?>
                                <span class="option-item <?php echo $_lastOption; ?> <?php if($_product_id == $_baseProduct->getProductId()){echo ' option-base '; }?> <?php if ($_childSuperAttributes[$_attributeCode] == $_attributeOption['value_index']) { echo 'active founded disable-click'; } else { echo ($optionInrule) ? 'option-disable': $_classAttributeDependency; }  ?>"
                                      data-last='super-<?php echo $_product_id; ?>'
                                      data-code="<?php echo $_attributeCode; ?>"
                                      data-sku="<?php echo $_product_sku; ?>"
                                      data-id="<?php echo $_product_id; ?>"
                                      data-attribute="<?php echo $_attributeId; ?>"
                                      data-index="<?php echo $_attributeOption['value_index']; ?>"
                                      data-position=""
                                      data-image="<?php echo $_imageUrl; ?>"
                                      data-attributerule="<?php if( !empty($_pngRuleData) ) {echo $_pngRuleData['attribute']; } ?>" >
                                    <?php echo $_attributeOption['label']; ?>
                                </span>
                            <?php } else { ?>
                                <?php 
                                  if($_attCodehasinRule && !$optionInrule){
                                    $_classAttributeDependency = 'option-disable';
                                  }else{
                                    if(!$_attributeRule){
                                      $_classAttributeDependency = '';
                                    }else{
                                      $_classAttributeDependency = 'option-disable';
                                    }
                                    
                                  }
                                ?>
                                <span class="option-item <?php if($_product_id == $_baseProduct->getProductId()){echo ' option-base '; }?> <?php if ($_childSuperAttributes[$_attributeCode] == $_attributeOption['value_index']) { echo 'active founded disable-click'; } else { echo $_classAttributeDependency; } ?>"
                                      data-attcode="<?php echo $_childSuperAttributes[$_attributeCode];?>"
                                      data-code="<?php echo $_attributeCode; ?>"
                                      data-sku="<?php echo $_product_sku; ?>"
                                      data-id="<?php echo $_product_id; ?>"
                                      data-attribute="<?php echo $_attributeId; ?>"
                                      data-index="<?php echo $_attributeOption['value_index']; ?>"
                                      data-position="<?php echo $_lastOption; ?>"
                                      data-image="<?php echo $_imageUrl; ?>"
                                      data-attributerule="<?php if( !empty($_pngRuleData) ) {echo $_pngRuleData['attribute']; } ?>" >
                                    <?php echo $_attributeOption['label']; ?>
                                </span>
                            <?php } ?>
                        <?php } ?>
                    <?php } ?>
                </div>
            </div>
            <?php
            /*
             * Check Add-on Require
             * */
            ?>
            <?php if($_baseSku != $_product_sku) { ?>
                <?php
                $_checkAddOnRequire = $block->getAddOnRequire($_superProduct->getId(), $_product_id);
                ?>
                <?php if($_checkAddOnRequire['required'] == 1) { ?>
                    <input type="hidden" id="<?php echo $_inputId; ?>" data-type="<?php echo __('configurable'); ?>" data-id="<?php echo $_product_id; ?>" data-sku="<?php echo $_product_sku; ?>" class="list-add-on require-option-selected <?php if ($_childSuperAttributes[$_attributeCode]) { echo 'option-selected'; } ?>" value="<?php if ($_childSuperAttributes[$_attributeCode]) { echo $_childSuperAttributes[$_attributeCode]; } ?>" />
                <?php } else {?>
                    <input type="hidden" id="<?php echo $_inputId; ?>" data-type="<?php echo __('configurable'); ?>" data-id="<?php echo $_product_id; ?>" data-sku="<?php echo $_product_sku; ?>" class="list-add-on <?php if ($_childSuperAttributes[$_attributeCode]) { echo 'require-option-selected option-selected'; } ?>" value="<?php if ($_childSuperAttributes[$_attributeCode]) { echo $_childSuperAttributes[$_attributeCode]; } ?>" />
                <?php } ?>
            <?php } ?>

            <?php if($_baseSku == $_product_sku) { ?>
                <input type="hidden" id="<?php echo $_inputId; ?>" data-type="<?php echo __('configurable'); ?>" data-id="<?php echo $_product_id; ?>" data-sku="<?php echo $_product_sku; ?>" class="list-add-on require-option-selected <?php if ($_childSuperAttributes[$_attributeCode]) { echo 'option-selected'; } ?>" value="<?php if ($_childSuperAttributes[$_attributeCode]) { echo $_childSuperAttributes[$_attributeCode]; } ?>" />
                <input type="hidden" id="size-require" value="" />
                <input type="hidden" class="require-<?php echo $_baseSku; ?>" />
            <?php } ?>
        </div>
    <?php } ?>
<?php } ?>