<?php
$_superProduct = $block->getCurrentProduct();
$_superProductSku = $_superProduct->getSku();
$_baseProduct = $block->getBaseProductId($_superProduct->getId());

$entityType = 'catalog_product';
$_visualData = $this->getAttributeData();
$_objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$request = $_objectManager->get('Magento\Framework\App\Request\Http');
$_swatchImagePath = $_objectManager->get('Magento\Swatches\Helper\Media')->getSwatchMediaUrl();

$_lastOption = $_visualData['last_option'];
$_frontendLabel = $_visualData['frontend_label'];
$_product_sku = $_visualData['product_sku'];
$_product = $block->getProductBySku($_product_sku);
$_product_id = $_product->getId();
if($_baseProduct->getProductId() != $_product_id) {
    $_product_id_temp = $block->getProductIdBySkuAddon($_superProduct->getId() , $_product_sku);
    $skuArr = explode("_", $_product_sku, 2);
    if (count($skuArr) > 1) {
        if($_product_id_temp == $skuArr[0]) {
            $_product_id = $_product_id_temp;
        }
    }
}
$_attributeCode = $_visualData['attribute_code'];
//$_attributeOptionAll = $block->getAllOption($_attributeCode);

$_attributeInfo = $block->getAttributeInfo($entityType, $_attributeCode);
$_attributeId = $_attributeInfo->getAttributeId();

$_productTypeInstance = $_objectManager->get('Magento\ConfigurableProduct\Model\Product\Type\Configurable');
$_productAttributeOptions = $_productTypeInstance->getConfigurableAttributesAsArray($_product);

$_baseSku = $_baseProduct->getSku();
$_baseAttribute = $_baseProduct->getBaseAttribute();
$_checkDependency = $block->getAttributeDependency($_superProduct->getId(), $_attributeCode, $_product_sku);
$_inputId = $_product_id . '-' . $_attributeCode;

//  Png Rule
$_pngRule = $block->getPngRuleBySuperProductId($_superProduct->getId(), $_product_sku, $_attributeCode);
$_pngRuleData = $_pngRule->getData();
$_imageUrl = '';

// Check Require
$_checkAddOnRequire = $block->getAddOnRequire($_superProduct->getId(), $_product_id);

//  Get Item Id from Page Cart
$param = $request->getParam('item_id');
$paramsavecart = $request->getParam('savecart_id');
$paramwishlist = $request->getParam('wishlist_id');
$paramshare = $request->getParam('share');
$_shareproductHelper = $_objectManager->get('\Knight\ShareProduct\Helper\Data');
?>

<?php if( empty($param) && empty($paramsavecart) && empty($paramwishlist) && empty($paramshare)) { ?>
    <?php
    /*
     * Request Without Edit Cart
     * */
    ?>
    <?php if(isset($_productAttributeOptions[$_attributeId])) { ?>
    <div class="super-item-attribute type-thumbnail <?php if(count($_checkDependency->getData()) > 0 ) { echo 'hidden';} ?> <?php if($_baseSku != $_product_sku && $_checkAddOnRequire['required'] != 1) { echo 'disabled'; }?>" id="<?php echo $_attributeCode.'-'.$_product_sku; ?>" data-attributecode="<?php echo $_attributeCode; ?>" data-attributeid="<?php echo $_attributeId; ?>">
        <div class="super-attr-label thumbnail-title"><strong><?php echo __($_frontendLabel); ?></strong></div>
        <div class="group-attribute-thumbnail">
            <div class="attribute-thumbnail">
                <ol id="super-attribute-thumbnail-<?= $_product_sku.'-'.$_attributeCode; ?>" class="clearfix">
                    <?php foreach ($_productAttributeOptions[$_attributeId]['values'] as $_attributeOption) { ?>
                        <?php if(trim($_attributeOption['label']) != '') { ?>
                            <?php 
                                $value = $block->getSwatchValue($_attributeOption['value_index']); 
                                $_attCodeinRule = $block->checkAttributeCodeInRule($_superProduct->getId(),$_attributeCode);
                            ?>
                            <?php if($value) { ?>
                                <?php if($_lastOption && $_lastOption != '1') { ?>
                                    <?php switch ($value[0]['type']) {
                                        case '1':
                                            ?>
                                            <div class="thumb-option color option-item <?php if($_product_id == $_baseProduct->getProductId()){echo ' option-base '; }?> <?= $_lastOption; ?>"
                                                 style="background: <?= $value[0]['value'] ?>"
                                                 data-last='super-<?php echo $_product_id; ?>'
                                                 data-code="<?php echo $_attributeCode; ?>"
                                                 data-sku="<?php echo $_product_sku; ?>"
                                                 data-id="<?php echo $_product_id; ?>"
                                                 data-index="<?php echo $_attributeOption['value_index']; ?>"
                                                 data-text="<?php echo $_attributeOption['label']; ?>"
                                                 data-position=""
                                                 data-image="<?php echo $_imageUrl; ?>"
                                                 data-inrule="<?php echo ($_attCodeinRule) ? 1 : 0;?>"
                                                 data-attributerule="<?php if( !empty($_pngRuleData) ) {echo $_pngRuleData['attribute']; } ?>" >
                                                <span class="option"></span>
                                                <p class="option-text"><span><?php echo $_attributeOption['label']; ?></span></p>
                                            </div>
                                            <?php break;
                                        case '2':
                                            ?>
                                            <div class="thumb-option background option-item <?php if($_product_id == $_baseProduct->getProductId()){echo ' option-base '; }?> <?= $_lastOption; ?>"
                                                 style="background: url(<?= $_swatchImagePath . $value[0]['value']; ?>)"
                                                 data-last='super-<?php echo $_product_id; ?>'
                                                 data-code="<?php echo $_attributeCode; ?>"
                                                 data-sku="<?php echo $_product_sku; ?>"
                                                 data-id="<?php echo $_product_id; ?>"
                                                 data-index="<?php echo $_attributeOption['value_index']; ?>"
                                                 data-text="<?php echo $_attributeOption['label']; ?>"
                                                 data-position=""
                                                 data-image="<?php echo $_imageUrl; ?>"
                                                 data-inrule="<?php echo ($_attCodeinRule) ? 1 : 0;?>"
                                                 data-attributerule="<?php if( !empty($_pngRuleData) ) {echo $_pngRuleData['attribute']; } ?>" >
                                                <span class="option"></span>
                                                <p class="option-text"><span><?php echo $_attributeOption['label']; ?></span></p>
                                            </div>
                                            <?php break;
                                    } ?>
                                    <?php } else { ?>
                                        <?php switch ($value[0]['type']) {
                                            case '1':
                                                ?>
                                                <div class="thumb-option color option-item <?php if($_product_id == $_baseProduct->getProductId()){echo ' option-base '; }?>" style="background: <?= $value[0]['value'] ?>"
                                                     data-code="<?php echo $_attributeCode; ?>"
                                                     data-attribute="<?php echo $_attributeId; ?>"
                                                     data-sku="<?php echo $_product_sku; ?>"
                                                     data-id="<?php echo $_product_id; ?>"
                                                     data-index="<?php echo $_attributeOption['value_index']; ?>"
                                                     data-text="<?php echo $_attributeOption['label']; ?>"
                                                     data-position="<?php echo $_lastOption; ?>"
                                                     data-image="<?php echo $_imageUrl; ?>"
                                                     data-inrule="<?php echo ($_attCodeinRule) ? 1 : 0;?>"
                                                     data-attributerule="<?php if( !empty($_pngRuleData) ) {echo $_pngRuleData['attribute']; } ?>" >
                                                    <span class="option"></span>
                                                    <p class="option-text"><span><?php echo $_attributeOption['label']; ?></span></p>
                                                </div>
                                                <?php break;
                                            case '2':
                                                ?>
                                                <div class="thumb-option background option-item <?php if($_product_id == $_baseProduct->getProductId()){echo ' option-base '; }?>" style="background: url(<?= $_swatchImagePath . $value[0]['value']; ?>)"
                                                     data-code="<?php echo $_attributeCode; ?>"
                                                     data-attribute="<?php echo $_attributeId; ?>"
                                                     data-sku="<?php echo $_product_sku; ?>"
                                                     data-id="<?php echo $_product_id; ?>"
                                                     data-index="<?php echo $_attributeOption['value_index']; ?>"
                                                     data-text="<?php echo $_attributeOption['label']; ?>"
                                                     data-position="<?php echo $_lastOption; ?>"
                                                     data-image="<?php echo $_imageUrl ; ?>"
                                                     data-inrule="<?php echo ($_attCodeinRule) ? 1 : 0;?>"
                                                     data-attributerule="<?php if( !empty($_pngRuleData) ) {echo $_pngRuleData['attribute']; } ?>" >
                                                    <span class="option"></span>
                                                    <p class="option-text"><span><?php echo $_attributeOption['label']; ?></span></p>
                                                </div>
                                            <?php break;
                                        } ?>
                                <?php } ?>
                            <?php } ?>
                        <?php } ?>
                    <?php } ?>
                </ol>
            </div>
        </div>

        <?php
        /*
         * Check Add-on Require
         * */
        $_attCodeRuleRequire = $block->checkAttributeCodeInRule($_superProduct->getId(),$_attributeCode,$required=true);
        $_arrDisableAttcode = [];
        $in = '';
        if(is_array($_attCodeRuleRequire)){
            foreach ($_attCodeRuleRequire as $value) {
                $_arrDisableAttcode[$value['sku_dep']] = $value['attribute_dep'];
            }
            if(array_key_exists($_product_sku,$_arrDisableAttcode)){
                $in = $_product_id.'-'.$_arrDisableAttcode[$_product_sku];
            }
        }
        ?>
        <?php if($_baseSku != $_product_sku) { ?>
            <?php if($_checkAddOnRequire['required'] == 1) { ?>
                <input type="hidden" id="<?php echo $_inputId; ?>" data-type="<?php echo __('configurable'); ?>" data-id="<?php echo $_product_id; ?>" data-sku="<?php echo $_product_sku; ?>" class="list-add-on require-option-selected" value="0"/>
            <?php } else {?>
                <input type="hidden" id="<?php echo $_inputId; ?>" data-type="<?php echo __('configurable'); ?>" data-id="<?php echo $_product_id; ?>" data-sku="<?php echo $_product_sku; ?>" class="list-add-on <?php if($in){ echo 'require-option-attr';}?>" value="0" />
            <?php } ?>
        <?php } ?>


        <?php if($_baseSku == $_product_sku) { ?>
            <input type="hidden" id="<?php echo $_inputId; ?>" data-type="<?php echo __('configurable'); ?>" data-id="<?php echo $_product_id; ?>" data-sku="<?php echo $_product_sku; ?>" class="list-add-on require-option-selected" value="0" />
            <input type="hidden" class="require-<?php echo $_baseSku; ?>" />
        <?php } ?>
    </div>
    <?php } ?>
<?php } else { ?>
    <?php
    /*
     * Request Edit Cart
     * */
    ?>

    <?php
    $_itemId = $request->getParam('item_id');
    $_superProductId = $_superProduct->getId();
    $_childProductId = $_product_id;
    if(!empty($_itemId)) {
        $_childSuperAttributes = $block->getChildSuperAttributes($_itemId, $_superProductId, $_childProductId);
        $_childSuperAttributesDisable = $block->getChildSuperAttributesDisable($_itemId, $_superProductId, $_childProductId);
        
    }else {
        
        if(!empty($paramshare)){
            $shareproduct_id = $paramshare;
            $_childSuperAttributes = $_shareproductHelper->getChildSuperAttributes($shareproduct_id, $_childProductId);
            $_childSuperAttributesDisable = $_shareproductHelper->getChildSuperAttributesDisable($shareproduct_id, $_childProductId);
        }else {
            if(!empty($paramsavecart)) {
                $_childSuperAttributes = $block->getChildSuperSavecartAttributes($paramsavecart, $_childProductId);
            }else {
                if(!empty($paramwishlist)) {
                    $_childSuperAttributes = $block->getChildSuperSavecartAttributes($paramwishlist, $_childProductId, 1);
                }
            }
        }
        
    }

    ?>
    <?php if(isset($_productAttributeOptions[$_attributeId])) { ?>
        <div class="super-item-attribute type-thumbnail <?php if(empty($_childSuperAttributes)) { echo 'disabled'; }?>" id="<?php echo $_attributeCode.'-'.$_product_sku; ?>" data-attributecode="<?php echo $_attributeCode; ?>" data-attributeid="<?php echo $_attributeId; ?>">
            <div class="super-attr-label thumbnail-title"><strong><?php echo __($_frontendLabel); ?></strong></div>
            <div class="group-attribute-thumbnail">
                <div class="attribute-thumbnail">
                    <ol id="super-attribute-thumbnail-<?= $_product_sku.'-'.$_attributeCode; ?>" class="clearfix">
                        <?php foreach ($_productAttributeOptions[$_attributeId]['values'] as $_attributeOption) { ?>
                            <?php if(trim($_attributeOption['label']) != '') { ?>
                                <?php $value = $block->getSwatchValue($_attributeOption['value_index']); ?>
                                <?php if($value) { ?>
                                    <?php
                                    $_productSkuDep = $_product_sku;
                                    $_attributeCodeDep = $_attributeCode;//var_dump($_attributeCodeDep);die();
                                    $_optionIdDep = $_attributeOption['value_index'];
                                    $_classAttributeDependency = $_attCodeinRule = '';
                                    $_attCodeinRule = $block->checkAttributeCodeInRule($_superProductId,$_attributeCode);
                                    if($_childSuperAttributes[$_attributeCode] != $_optionIdDep) {
                                        
                                        if(!empty($_itemId)) {
                                            $_attributeRule = $block->checkAttributeRule($_superProductId, $_itemId, $_productSkuDep, $_attributeCodeDep, $_optionIdDep);
                                        }else {
                                            if(!empty($paramshare)){
                                                $_attributeRule = $_shareproductHelper->checkAttributeRule($paramshare,$_superProductId, $_productSkuDep, $_attributeCodeDep, $_optionIdDep);
                                            }else {
                                                if(!empty($paramsavecart)) {
                                                    $_attributeRule = $block->checkAttributeRule($_superProductId, $_itemId, $_productSkuDep, $_attributeCodeDep, $_optionIdDep, $paramsavecart);
                                                }else {
                                                    if(!empty($paramwishlist)) {
                                                        $_attributeRule = $block->checkAttributeRule($_superProductId, $_itemId, $_productSkuDep, $_attributeCodeDep, $_optionIdDep, $paramwishlist, 1);
                                                    }
                                                }
                                            }
                                        }

                                        if( !empty($_attributeRule) ) {
                                            if($_attributeCode == 'fabric_colour') {
                                                $_classAttributeDependency = 'option-disable hidden';
                                            } else {
                                                $_classAttributeDependency = 'option-disable';
                                            }
                                        }
                                    }

                                    $_checkSpecialAttribute = null;
                                    if($_attributeCode == 'fabric_colour' && !empty($_childSuperAttributes)) {
                                        $_checkSpecialAttribute = $block->checkSpecialAttribute($_product_sku, $_childSuperAttributes['fabric_type'], $_optionIdDep);
                                    }
                                    ?>
                                    <?php if($_lastOption && $_lastOption != '1') { ?>
                                        <?php switch ($value[0]['type']) {
                                            case '1':
                                                ?>
                                                <div class="thumb-option color option-item <?php if($_product_id == $_baseProduct->getProductId()){echo ' option-base '; }?> <?= $_lastOption; ?> <?php if ($_childSuperAttributes[$_attributeCode] == $_attributeOption['value_index']) { echo 'active founded disable-click'; } else { echo $_classAttributeDependency; } ?> <?php if($_attributeCode == 'fabric_colour' && !empty($_childSuperAttributes) && $_checkSpecialAttribute == false) {echo 'hidden';} ?>"
                                                     style="background: <?= $value[0]['value'] ?>"
                                                     data-last='super-<?php echo $_product_id; ?>'
                                                     data-code="<?php echo $_attributeCode; ?>"
                                                     data-attribute="<?php echo $_attributeId; ?>"
                                                     data-sku="<?php echo $_product_sku; ?>"
                                                     data-id="<?php echo $_product_id; ?>"
                                                     data-index="<?php echo $_attributeOption['value_index']; ?>"
                                                     data-text="<?php echo $_attributeOption['label']; ?>"
                                                     data-position=""
                                                     data-image="<?php echo $_imageUrl; ?>"
                                                     data-inrule="<?php echo ($_attCodeinRule) ? 1 : 0;?>"
                                                     data-attributerule="<?php if( !empty($_pngRuleData) ) {echo $_pngRuleData['attribute']; } ?>" >
                                                    <span class="option"></span>
                                                    <p class="option-text"><span><?php echo $_attributeOption['label']; ?></span></p>
                                                </div>
                                                <?php break;
                                            case '2':
                                                ?>
                                                <div class="thumb-option background option-item <?php if($_product_id == $_baseProduct->getProductId()){echo ' option-base '; }?> <?= $_lastOption; ?> <?php if ($_childSuperAttributes[$_attributeCode] == $_attributeOption['value_index']) { echo 'active founded disable-click'; } else { echo $_classAttributeDependency; } ?> <?php if($_attributeCode == 'fabric_colour' && !empty($_childSuperAttributes) && $_checkSpecialAttribute == false) {echo 'hidden';} ?>"
                                                     style="background: url(<?= $_swatchImagePath . $value[0]['value']; ?>)"
                                                     data-last='super-<?php echo $_product_id; ?>'
                                                     data-code="<?php echo $_attributeCode; ?>"
                                                     data-attribute="<?php echo $_attributeId; ?>"
                                                     data-sku="<?php echo $_product_sku; ?>"
                                                     data-id="<?php echo $_product_id; ?>"
                                                     data-index="<?php echo $_attributeOption['value_index']; ?>"
                                                     data-text="<?php echo $_attributeOption['label']; ?>"
                                                     data-position=""
                                                     data-prd="<?php echo $_product_id; ?>"
                                                     data-image="<?php echo $_imageUrl; ?>"
                                                     data-inrule="<?php echo ($_attCodeinRule) ? 1 : 0;?>"
                                                     data-attributerule="<?php if( !empty($_pngRuleData) ) {echo $_pngRuleData['attribute']; } ?>" >
                                                    <span class="option"></span>
                                                    <p class="option-text"><span><?php echo $_attributeOption['label']; ?></span></p>
                                                </div>
                                                <?php break;
                                        } ?>
                                    <?php } else { ?>
                                        <?php switch ($value[0]['type']) {
                                            case '1':
                                                ?>
                                                <div class="thumb-option color option-item <?php if($_product_id == $_baseProduct->getProductId()){echo ' option-base '; }?> <?php if ($_childSuperAttributes[$_attributeCode] == $_attributeOption['value_index']) { echo 'active founded disable-click'; } else { echo $_classAttributeDependency; } ?> <?php if($_attributeCode == 'fabric_colour' && !empty($_childSuperAttributes) && $_checkSpecialAttribute == false) {echo 'hidden';} ?>" style="background: <?= $value[0]['value'] ?>"
                                                     data-code="<?php echo $_attributeCode; ?>"
                                                     data-attribute="<?php echo $_attributeId; ?>"
                                                     data-sku="<?php echo $_product_sku; ?>"
                                                     data-id="<?php echo $_product_id; ?>"
                                                     data-index="<?php echo $_attributeOption['value_index']; ?>"
                                                     data-text="<?php echo $_attributeOption['label']; ?>"
                                                     data-position="<?php echo $_lastOption; ?>"
                                                     data-image="<?php echo $_imageUrl; ?>"
                                                     data-inrule="<?php echo ($_attCodeinRule) ? 1 : 0;?>"
                                                     data-attributerule="<?php if( !empty($_pngRuleData) ) {echo $_pngRuleData['attribute']; } ?>" >
                                                    <span class="option"></span>
                                                    <p class="option-text"><span><?php echo $_attributeOption['label']; ?></span></p>
                                                </div>
                                                <?php break;
                                            case '2':
                                                ?>
                                                <?php 
                                                    $arrCurOp = [];
                                                    $dd = false;
                                                    $arrCurOp[$_attributeId] = $_attributeOption['value_index'];
                                                    if(is_array($_childSuperAttributesDisable)){
                                                        $dd = (count(array_intersect($arrCurOp,$_childSuperAttributesDisable)) > 0 )? true : false;
                                                    }
                                                    $_classAttributeDependency = ($dd)? 'option-disable' : '';
                                                ?>
                                                <div class="thumb-option background option-item <?php if($_product_id == $_baseProduct->getProductId()){echo ' option-base '; }?> <?php if ($_childSuperAttributes[$_attributeCode] == $_attributeOption['value_index']) { echo 'active founded disable-click';} else { echo '$_classAttributeDependency'; } ?> <?php if($_attributeCode == 'fabric_colour' && !empty($_childSuperAttributes) && $_checkSpecialAttribute == false) {echo 'hidden';} ?>" style="background: url(<?= $_swatchImagePath . $value[0]['value']; ?>)"
                                                     data-code="<?php echo $_attributeCode; ?>"
                                                     data-attribute="<?php echo $_attributeId; ?>"
                                                     data-sku="<?php echo $_product_sku; ?>"
                                                     data-id="<?php echo $_product_id; ?>"
                                                     data-index="<?php echo $_attributeOption['value_index']; ?>"
                                                     data-text="<?php echo $_attributeOption['label']; ?>"
                                                     data-position="<?php echo $_lastOption; ?>"
                                                     data-image="<?php echo $_imageUrl ; ?>"
                                                     data-inrule="<?php echo ($_attCodeinRule) ? 1 : 0;?>"
                                                     data-attributerule="<?php if( !empty($_pngRuleData) ) {echo $_pngRuleData['attribute']; } ?>" >
                                                    <span class="option"></span>
                                                    <p class="option-text"><span><?php echo $_attributeOption['label']; ?></span></p>
                                                </div>
                                                <?php break;
                                        } ?>
                                    <?php } ?>
                                <?php } ?>
                            <?php } ?>
                        <?php } ?>
                    </ol>
                </div>
            </div>
            <?php
            /*
             * Check Add-on Require
             * */
            $_attCodeRuleRequire = $block->checkAttributeCodeInRule($_superProduct->getId(),$_attributeCode,$required=true);
            $_arrDisableAttcode = [];
            $in = '';
            if(is_array($_attCodeRuleRequire)){
                foreach ($_attCodeRuleRequire as $value) {
                    $_arrDisableAttcode[$value['sku_dep']] = $value['attribute_dep'];
                }
                if(array_key_exists($_product_sku,$_arrDisableAttcode)){
                    $in = $_product_id.'-'.$_arrDisableAttcode[$_product_sku];
                }
            }
            ?>
            <?php if($_baseSku != $_product_sku) { ?>
                <?php if($_checkAddOnRequire['required'] == 1) { ?>
                    <input type="hidden" id="<?php echo $_inputId; ?>" data-type="<?php echo __('configurable'); ?>" data-id="<?php echo $_product_id; ?>" data-sku="<?php echo $_product_sku; ?>" class="list-add-on require-option-selected <?php if ($_childSuperAttributes[$_attributeCode]) { echo 'option-selected'; } ?>" value="<?php if ($_childSuperAttributes[$_attributeCode]) { echo $_childSuperAttributes[$_attributeCode]; } ?>" />
                <?php } else {?>
                    <input type="hidden" id="<?php echo $_inputId; ?>" data-type="<?php echo __('configurable'); ?>" data-id="<?php echo $_product_id; ?>" data-sku="<?php echo $_product_sku; ?>" class="list-add-on <?php if ($_childSuperAttributes[$_attributeCode]) { echo 'require-option-selected option-selected'; } ?> <?php if($in){ echo 'require-option-attr';}?>" value="<?php if ($_childSuperAttributes[$_attributeCode]) { echo $_childSuperAttributes[$_attributeCode]; } ?>" />
                <?php } ?>
            <?php } ?>


            <?php if($_baseSku == $_product_sku) { ?>
                <input type="hidden" id="<?php echo $_inputId; ?>" data-type="<?php echo __('configurable'); ?>" data-id="<?php echo $_product_id; ?>" data-sku="<?php echo $_product_sku; ?>" class="list-add-on require-option-selected <?php if ($_childSuperAttributes[$_attributeCode]) { echo 'option-selected'; } ?>" value="<?php if ($_childSuperAttributes[$_attributeCode]) { echo $_childSuperAttributes[$_attributeCode]; } ?>" />
                <input type="hidden" class="require-<?php echo $_baseSku; ?>" />
            <?php } ?>

        </div>
    <?php } ?>
<?php } //die();?>
