<?php
/** @var Brandsmith\Manage\Block\Adminhtml\Spimage\Download\Link $block */
?>
<?php
    $spImageData = $block->getSpImageData();
?>
<label class="admin__field-label"><span><?= $block->escapeHtml(__('Download Link')); ?></span></label>
<div class="admin__field-control admin-field-download">
    <a id="sp-image-download" href="#"><?= $block->escapeHtml(__('Download')); ?></a>
</div>

<a href="<?= $spImageData->getDownload(); ?>" download="myimage"><?= $block->escapeHtml(__('Download')); ?></a>

<style>
    .file-uploader-area,
    .action-remove,
    .file-uploader-filename { display: none !important; }

    .admin-field-download { margin-top: 7px; }
</style>

<script type="text/javascript">
    require(['jquery'], function($) {
        $('#sp-image-download').bind('click', function (e) {

            var xhr = new XMLHttpRequest(),
                url = '<?= $spImageData->getDownload(); ?>',
                fileName = '<?= $spImageData->getSpSku(); ?>';

            xhr.open("GET", url, true);
            xhr.responseType = "blob";
            xhr.onload = function(){
                var urlCreator = window.URL || window.webkitURL;
                var imageUrl = urlCreator.createObjectURL(this.response);
                var tag = document.createElement('a');
                tag.href = imageUrl;
                tag.download = fileName;
                document.body.appendChild(tag);
                tag.click();
                document.body.removeChild(tag);
            };
            xhr.send();

            e.preventDefault();
        });
    });
</script>