@media (min-width: 1200px) {
  .header-style-2 .header-top .header-top-links .toplinks-wrapper .header.links li.myaccount-link a:before {
    color: #fff;
  }

  .cms-index-index {
    .header-style-2 {
      .header-bottom .sidebar-megamenu .megamenu-content-sidebar .menu-ver-content {
        display: block !important;
        opacity: 1 !important;
        top: 100% !important;
        visibility: visible !important;
      }

      .more-w .more-view {
        padding: 19px 20px;
      }

      .more-w .more-view:not(*:root) {
        padding: 22px 20px 23px;
      }
    }
  }

  .cms-index-index.body-on-top {
    .header-style-2 {
      .header-bottom .sidebar-megamenu .megamenu-content-sidebar {
        .menu-ver-content {
          opacity: 0 !important;
          top: 130% !important;
          visibility: hidden !important;
        }

        &:hover {
          .menu-ver-content {
            opacity: 1 !important;
            top: 100% !important;
            visibility: visible !important;
          }
        }
      }
    }
  }

  .header-style-2 {
    .header-top {
      .header-top-links {
        .toplinks-wrapper {
          .header.links {
            li.myaccount-link {
              a {
                color: #fff;
                padding-left: 10px;
                text-indent: 28px;
                width: auto;
                background-position: -347px -6px;
              }
            }

            &.toplinks_hover {
              li.myaccount-link {
                a {
                  background-color: transparent !important;
                  color: #fff;
                  padding-left: 0;
                  text-indent: 50px;
                  width: 34px;
                  background-position: -347px -33px;
                }
              }

            }
          }
        }
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {

  .header-style-2 {
    .header-bottom {
      .sm_megamenu_wrapper_horizontal_menu {
        .sm_megamenu_menu {
          > li {
            > .sm_megamenu_head {
              padding: 0 10px;
            }
          }
        }
      }

      .sidebar-megamenu {
        width: 30%;
      }

      .main-megamenu {
        width: 70%;
      }
    }

  }

}

@media (min-width: 768px) and (max-width: 991px) {
  .header-style-2 {
    .header-middle {
      padding: 30px 0 15px;

      .middle-right-content {
        position: absolute;
        display: block;
        bottom: -57px;
        right: 60px;
        left: 15px;
        z-index: 10006;

        .minicart-header {
          padding-right: 10px;

          .minicart-content {
            .cart-wrapper {
              .minicart-wrapper {
                .showcart {
                  height: 34px;
                  width: 34px;
                  padding: 0;

                  &:before {
                    background-color: #333;
                    background-color: #333;
                    height: 34px;
                    width: 34px;
                    line-height: 34px;
                  }

                  .text,
                  .counter.qty {
                    display: none;
                  }
                }
              }
            }
          }
        }

        .searchbox-header {
          display: block;
          padding-left: 45px;

          .search-wrapper .block-content {
            .input-text {
              border: none;
            }

            .btn-search-header {
              background-color: #333;
            }
          }
        }

        .searchbox-header .sm-searchbox .sm-searchbox-content .actions .btn-searchbox {
          background-color: #333 !important;
          border-color: #000 !important;
        }

        .minicart-header {
          position: absolute;
          left: 0;
        }
      }
    }

    .logo-content {
      text-align: center;
      padding-bottom: 10px;
    }

    .megamenu-content-sidebar {
      display: none;
    }

    .navigation-mobile-container {
      display: block;

      .nav-mobile-container {
        height: 50px;

        .btn-mobile .button-mobile {
          height: 34px;
          width: 34px;
          background-color: #333;
          margin-top: 8px;
          font-size: 24px;

          > i {
            position: relative;
            top: -3px;
          }
        }
      }
    }

    .header-bottom {
      .main-megamenu {
        display: none;
      }

    }

    .minicart-wrapper .block-minicart {
      width: 290px !important;
      right: 0 !important;
      left: auto !important;
    }
  }

  .header-style-2 .header-middle .middle-right-content .sm-searchbox .sm-searchbox-content .control .searchbox-cat{
    height: 32px;
    top: 1px;
  }

  .header-style-2 .header-middle .middle-right-content .sm-searchbox .sm-searchbox-content .control #searchbox{
    height: 34px;
  }

  .header-style-2 .header-middle .middle-right-content .searchbox-header .sm-searchbox .sm-searchbox-content .actions .btn-searchbox{
    height: 34px;
  }
}

@media (max-width: 767px) {
  .header-style-2 {
    .header-top {
      .language-currency-top {
        min-height: 0;

        .language-wrapper .switcher-trigger strong {
          span {
            display: none;
          }
        }
      }

      .header-top-links .toplinks-wrapper .header.links li a {
        width: 34px !important;
        text-indent: -999px !important;
      }
    }

    .header-middle {
      padding: 30px 0 15px;

      .middle-right-content {
        display: block;
        position: absolute;
        bottom: -57px;
        right: 60px;
        left: 15px;
        z-index: 10006;

        .minicart-header {
          padding-right: 10px;

          .minicart-content {
            .cart-wrapper {
              .minicart-wrapper {
                .showcart {
                  height: 34px;
                  width: 34px;
                  padding: 0;

                  &:before {
                    background-color: #333;
                    width: 34px;
                    height: 34px;
                    line-height: 34px;
                  }

                  .text,
                  .counter.qty {
                    display: none;
                  }
                }
              }
            }
          }
        }

        .searchbox-header {
          display: block;
          padding-left: 46px;

          .search-wrapper .block-content {
            .input-text {
              border: none;
            }

            .btn-search-header {
              background-color: #333;
            }
          }
        }

        .sm-searchbox .sm-searchbox-content .control {
          &:before {
            display: none;
          }

          .searchbox-cat {
            display: none;
          }

          #searchbox {
            padding-right: 10px !important;
          }

        }

        .searchbox-header .sm-searchbox .sm-searchbox-content .actions .btn-searchbox {
          background-color: #333 !important;
          border-color: #000 !important;
        }

        .minicart-header {
          position: absolute;
          left: 0;
        }
      }
    }

    .logo-content {
      text-align: center;
      padding-bottom: 10px;
    }

    .megamenu-content-sidebar {
      display: none;
    }

    .navigation-mobile-container {
      display: block;

      .nav-mobile-container {
        height: 50px;

        .btn-mobile .button-mobile {
          height: 34px;
          width: 34px;
          background-color: #333;
          margin-top: 8px;
          font-size: 24px;

          > i {
            position: relative;
            top: -3px;
          }
        }
      }
    }

    .header-bottom {
      .main-megamenu {
        display: none;
      }

    }

    .cart-wrapper .mage-dropdown-dialog {
      width: 290px;
      left: 0;
    }
  }

  .header-style-2 .header-middle .middle-right-content .sm-searchbox .sm-searchbox-content .control .searchbox-cat{
    height: 32px;
    top: 1px;
  }

  .header-style-2 .header-middle .middle-right-content .sm-searchbox .sm-searchbox-content .control #searchbox{
    height: 34px;
  }

  .header-style-2 .header-middle .middle-right-content .searchbox-header .sm-searchbox .sm-searchbox-content .actions .btn-searchbox{
    height: 34px;
  }
}

@media (max-width: 480px) {
  .header-style-2 .header-middle .middle-right-content .searchbox-header .sm-searchbox .sm-searchbox-content .actions .btn-searchbox{
    width: 34px;
    height: 34px;
    line-height: 34px;
    padding: 0 !important;
    text-align: center;

    &:before {
      .font-awesome(f002, 14px);
    }

    span {
      display: none;
    }
  }
}