.col-xs-5ths, .col-sm-5ths, .col-md-5ths, .col-lg-5ths {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}
.col-xs-5ths {
  width: 20%;
  float: left;
}
@media (min-width: 768px) {
  .col-sm-5ths {
    width: 20%;
    float: left;
  }
}
@media (min-width: 992px) {
  .col-md-5ths {
    width: 20%;
    float: left;
  }
}
@media (min-width: 1200px) {
  .col-lg-5ths {
    width: 20%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .header-style-2 .header-top .header-top-links .toplinks-wrapper .header.links li.myaccount-link a:before {
    color: #fff;
  }

  .cms-index-index {
    .header-style-2 {
      .header-bottom .sidebar-megamenu .megamenu-content-sidebar .menu-ver-content {
        display: block !important;
        opacity: 1 !important;
        top: 100% !important;
        visibility: visible !important;
      }

      .more-w .more-view {
        padding: 10px 20px 10px 50px;
        border:2px solid #ebebeb;
        border-top:none;
        .border_radius(0px 0px 5px 5px);
        &:after{
          display:none;
        }
        &:before{
          content: "";
          display: inline-block;
          vertical-align: middle;
          width: 15px;
          height: 15px;
          background: url(../images/icon_2.png) no-repeat -25px -463px;
          margin-left: 3px;
          margin-right: 12px;
          position: absolute;
          top: 30%;
          left: 15px;
        }
      }

      .more-w .more-view:not(*:root) {
        padding: 10px 20px 10px 50px;
      }
    }
  }

  .cms-index-index.body-on-top {
    .header-style-2 {
      .header-bottom .sidebar-megamenu .megamenu-content-sidebar {
        .menu-ver-content {
          opacity: 0 !important;
          top: 130% !important;
          visibility: hidden !important;
        }

        &:hover {
          .menu-ver-content {
            opacity: 1 !important;
            top: 100% !important;
            visibility: visible !important;
          }
        }
      }
    }
  }

  .header-style-2 {
    .header-top {
      .header-top-links {
        .toplinks-wrapper {
          .header.links {
            li.myaccount-link {
              a {
                color: #fff;
                padding-right: 10px;
                text-indent: 28px;
                width: auto;
                background-position: -347px -6px;
              }
            }

            &.toplinks_hover {
              li.myaccount-link {
                a {
                  background-color: transparent !important;
                  color: #fff;
                  padding-right: 0;
                  text-indent: 50px;
                  width: 34px;
                  background-position: -347px -33px;
                }
              }

            }
          }
        }
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {

  .header-style-2 {
    .header-bottom {
      .sm_megamenu_wrapper_horizontal_menu {
        .sm_megamenu_menu {
          > li {
            > .sm_megamenu_head {
              padding: 0 10px;
            }
          }
        }
      }

      .sidebar-megamenu {
        width: 30%;
      }

      .main-megamenu {
        width: 70%;
      }
    }

  }

  .header-style-2 .sm_megamenu_wrapper_vertical_menu .sm_megamenu_menu li a.sm_megamenu_head{
    padding:5px;
  }
  .more-w .more-view{
    padding:5px 20px;
    border:2px solid #eee;
    border-top:none;
  }
  .home-page-2 .hot-categories-home .item .cat-title{
    font-size:14px !important;
  }
}

@media (min-width:992px) and (max-width:1024px){
  .header-style-2 .header-bottom .container{
    padding:0;
    margin:0 auto;
  }
  .header-style-2{
    .header-top-links, .language-currency-top{
      width:50%;
    }
  }
  .header-style-2 .header-top .header-top-links ul li{
    padding:0 10px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header-style-2 {
    .header-middle {
      padding: 15px 0;

      .middle-right-content {
        position: absolute;
        display: block;
        z-index: 10006;

        .minicart-header {
          padding-left: 10px;

          .minicart-content {
            .cart-wrapper {
              .minicart-wrapper {
                .showcart {
                  height: 34px;
                  width: 34px;
                  padding: 0;

                  &:before {
                    background-color: #333;
                    height: 37px;
                    width: 37px;
                    line-height: 34px;
                  }

                  .text,
                  .counter.qty {
                    display: none;
                  }
                }
              }
            }
          }
        }

        .searchbox-header {
          display: block;

          .search-wrapper .block-content {
            .input-text {
              border: none;
            }

            .btn-search-header {
              background-color: #333;
            }
          }
        }

        .searchbox-header .sm-searchbox .sm-searchbox-content .actions .btn-searchbox {
          background-color: #333 !important;
          border-color: #000 !important;
        }

        .minicart-header {
          position: absolute;
          right: 0;
        }
      }
    }

    .logo-content {
      text-align: center;
      padding-bottom: 10px;
    }

    .megamenu-content-sidebar {
      display: none;
    }

    .navigation-mobile-container {
      display: block;

      .nav-mobile-container {
        height: 50px;

        .btn-mobile .button-mobile {
          height: 34px;
          width: 34px;
          background-color: #333;
          margin-top: 8px;
          font-size: 24px;

          > i {
            position: relative;
            top: -3px;
          }
        }
      }
    }

    .header-bottom {
      .main-megamenu {
        display: none;
      }

    }

    .minicart-wrapper .block-minicart {
      width: 290px !important;
      right: 0 !important;
      left: auto !important;
    }
  }

  .header-style-2 .header-middle .middle-right-content .sm-searchbox .sm-searchbox-content .control .searchbox-cat{
    height: 32px;
    top: 1px;
  }

  .header-style-2 .header-middle .middle-right-content .sm-searchbox .sm-searchbox-content .control #searchbox{
    height: 34px;
  }

  .header-style-2 .header-middle .middle-right-content .searchbox-header .sm-searchbox .sm-searchbox-content .actions .btn-searchbox{
    height: 34px;
  }

  .header-style-2 .header-middle .middle-right-content{
    margin:5px 50px;
    padding-right:50px;
    margin-right:0;
    top:40px;
  }
  .header-style-2 .header-middle .middle-right-content .searchbox-header .sm-searchbox .sm-searchbox-content .actions .btn-searchbox{
    width:34px;
    line-height:34px;
    padding:0 !important;
    text-align:center;
  }
  .header-style-2 .header-middle .middle-right-content .minicart-header{
    top:0;
  }
  .header-style-2 .header-bottom .container{
    padding:0;
  }
  .header-style-2 .header-top .language-currency-top .language-wrapper, .header-style-2 .header-top .language-currency-top .currency-wrapper, .header-style-2 .header-top .language-currency-top .hotline{
    padding:0 3px;
  }
  .header-style-2 .header-top-links .header.links{
    display:none;
  }
}

@media (max-width: 767px) {
  .header-style-2 {
    .header-top {
      .language-currency-top {
        min-height: 0;

        .language-wrapper .switcher-trigger strong {
          span {
            display: none;
          }
        }
      }

      .header-top-links .toplinks-wrapper .header.links li a {
        width: 34px !important;
        text-indent: -999px !important;
      }
    }

    .header-middle {
      padding: 15px 0;

      .middle-right-content {
        display: block;
        position: absolute;
        z-index: 10006;

        .minicart-header {
          padding-left: 10px;

          .minicart-content {
            .cart-wrapper {
              .minicart-wrapper {
                .showcart {
                  height: 34px;
                  width: 34px;
                  padding: 0;

                  &:before {
                    background-color: #333;
                    width: 37px;
                    height: 37px;
                    line-height: 34px;
                  }

                  .text,
                  .counter.qty {
                    display: none;
                  }
                }
              }
            }
          }
        }

        .searchbox-header {
          display: block;

          .search-wrapper .block-content {
            .input-text {
              border: none;
            }

            .btn-search-header {
              background-color: #333;
            }
          }
        }

        .sm-searchbox .sm-searchbox-content .control {
          &:before {
            display: none;
          }

          .searchbox-cat {
            display: none;
          }

          #searchbox {
            padding-left: 10px !important;
          }

        }

        .searchbox-header .sm-searchbox .sm-searchbox-content .actions .btn-searchbox {
          background-color: #333 !important;
          border-color: #000 !important;
        }

        .minicart-header {
          position: absolute;
          right: 0;
        }
      }
    }

    .logo-content {
      text-align: center;
      padding-bottom: 10px;
    }

    .megamenu-content-sidebar {
      display: none;
    }

    .navigation-mobile-container {
      display: block;

      .nav-mobile-container {
        height: 50px;

        .btn-mobile .button-mobile {
          height: 34px;
          width: 34px;
          background-color: #333;
          margin-top: 8px;
          font-size: 24px;

          > i {
            position: relative;
            top: -3px;
          }
        }
      }
    }

    .header-bottom {
      .main-megamenu {
        display: none;
      }

    }

    .cart-wrapper .mage-dropdown-dialog {
      width: 290px;
      right: 0;
    }
  }

  .header-style-2 .header-middle .middle-right-content .sm-searchbox .sm-searchbox-content .control .searchbox-cat{
    height: 32px;
    top: 1px;
  }

  .header-style-2 .header-middle .middle-right-content .sm-searchbox .sm-searchbox-content .control #searchbox{
    height: 34px;
  }

  .header-style-2 .header-middle .middle-right-content .searchbox-header .sm-searchbox .sm-searchbox-content .actions .btn-searchbox{
    height: 34px;
  }
  .header-style-2 .header-bottom .container{
    padding-top:0;
  }
}

@media (max-width:767px) and (min-width:560px){
  .header-style-2 .header-middle .middle-right-content{
    margin:5px 50px;
    padding-right:50px;
    margin-right:0;
    top:40px;
  }
  .header-style-2 .header-middle .middle-right-content .searchbox-header .sm-searchbox .sm-searchbox-content .actions .btn-searchbox{
    width:34px;
    line-height:34px;
    text-align:center;
    padding:0 !important;
  }
  .header-style-2 .header-middle .middle-right-content .minicart-header{
    top:0;
  }
  .header-style-2 .header-top-links .header.links{
    display:none;
  }
}

@media (max-width:560px) and (min-width:420px){
  .header-style-2 .header-middle .middle-right-content{
    top:43px;
  }
}

@media (max-width: 480px) {
  .header-style-2 .header-middle .middle-right-content .searchbox-header .sm-searchbox .sm-searchbox-content .actions .btn-searchbox{
    width: 34px;
    height: 34px;
    line-height: 34px;
    padding: 0 !important;
    text-align: center;

    &:before {
      .font-awesome(f002, 14px);
    }

    span {
      display: none;
    }
  }
}
@media (max-width: 480px){
  .header-style-2 .header-top{
    background:none;
    height:auto;
    .header-top-links{
      display:none;
    }
    .dropdown .mage-dropdown-dialog{
      padding:5px;
    }
  }
  .header-middle{
    padding-top:15px;
  }

  .header-style-2 .header-top .header-top-links ul li, .header-style-2 .header-top .language-currency-top .hotline, .header-style-2 .header-top .language-currency-top .language-wrapper{
    padding:0 8px;
  }
  .header-style-2 .header-bottom .container{
    padding-top:0;
  }
  .middle-right-content{
    bottom:-107px;
    left:50px;
    right:33px;
    .searchbox-header{
      padding-right:0;
    }
  }
  .header-style-2 .header-middle .middle-right-content .minicart-header{
    top:0;
    right:-33px;
  }
  .header-style-2 .header-middle .middle-right-content .sm-searchbox .sm-searchbox-content .control #searchbox{
    padding-right:0;
  }
}


@media (max-width:320px){
  .header-style-2 .header-top .header-top-links ul li, .header-style-2 .header-top .language-currency-top .hotline, .header-style-2 .header-top .language-currency-top .language-wrapper{
    padding:0 3px;
  }
}