<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Catalog\Block\Product\View */
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$helperCallForPrice = $objectManager->get('\Mageplaza\CallForPrice\Helper\Rule');
$request = $objectManager->get('Magento\Framework\App\Request\Http');
$paramsavecart = $request->getParam('savecart_id');
$qty = $block->getProductDefaultQty() * 1;
$paramwishlist = $request->getParam('wishlist_id');
$qty = $request->getParam('qty');
if(!empty($qty) && $qty>0) {
    $qty = $qty;
}else {
    $qty = 1;
}
?>
<?php $_product = $block->getProduct(); ?>
<?php $buttonTitle = __('Add to Cart'); ?>
<?php if ($_product->isSaleable() && $helperCallForPrice->hideAddToCart($_product->getId())): ?>
<div class="box-tocart">
    <div class="fieldset">
        <?php if ($block->shouldRenderQuantity()): ?>
        <div class="field qty">
            <div class="control">
                <span class="quantity-controls qty-plus"></span>
                <input type="number"
                       name="qty"
                       id="qty"
                       value="<?= /* @escapeNotVerified */ $qty ?>"
                       title="<?= /* @escapeNotVerified */ __('Qty') ?>"
                       class="input-text qty-default qty"
                       data-validate="<?= $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"
                       />
                <span class="quantity-controls qty-minus"></span>
            </div>
            <script type="text/javascript">
                require([
                    'jquery'
                ], function ($) {
                    $('.qty-plus').click(function () {
                        $('.qty-default').val(Number($('.qty-default').val())+1);
                    });

                    $('.qty-minus').click(function () {
                        var value = Number($('.qty-default').val())-1;
                        if(value > 0){
                            $('.qty-default').val(value);
                        }

                    });
                });
            </script>
        </div>
        <?php endif; ?>
        <div class="actions">
            <?php if(!empty($paramsavecart)){ ?>
                <input type="hidden" name="savecart_id" id="savecart_id" value="<?php echo $paramsavecart ?>" />
                <input type="hidden" name="product_type" id="product_type" value="<?php echo $_product->getTypeId() ?>" />
                <?php if($_product->getTypeId() == 'simple'): ?>
                    <input type="hidden" name="product_simple_sku" id="product_simple_sku" value="<?php echo $_product->getSku() ?>" />
                <?php endif; ?>
                <button type="button"
                        title="<?= /* @escapeNotVerified */ __('Update') ?>"
                        class="action primary tocart"
                        id="product-addtocart-button">
                    <span><?= /* @escapeNotVerified */ __('Update') ?></span>
                </button>
            <?php }else {
                if (!empty($paramwishlist)) { ?>
                    <input type="hidden" name="wishlist_id" id="wishlist_id" value="<?php echo $paramwishlist ?>"/>
                    <input type="hidden" name="product_type" id="product_type"
                           value="<?php echo $_product->getTypeId() ?>"/>
                    <button type="button"
                            title="<?= /* @escapeNotVerified */
                            __('Update') ?>"
                            class="action primary tocart"
                            id="product-addtocart-button">
                        <span><?= /* @escapeNotVerified */
                            __('Update') ?></span>
                    </button>

                <?php } else {
                    ?>
                    <button type="submit"
                            title="<?= /* @escapeNotVerified */
                            $buttonTitle ?>"
                            class="action primary tocart"
                            id="product-addtocart-button">
                        <span><?= /* @escapeNotVerified */
                            $buttonTitle ?></span>
                    </button>
                    <?= $block->getChildHtml('', true) ?>
                <?php }
            }
            ?>
        </div>
    </div>
</div>
<?php endif; ?>
<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "Magento_Catalog/js/validate-product": {}
        }
    }
</script>
<?php if(!empty($paramsavecart)){ ?>
    <script type="text/javascript">
        require(['jquery'], function($) {
            $(document).ready(function() {
                $('#product-addtocart-button').bind('click', function () {
                    if ($('#product_addtocart_form').valid()) {
                        var formData = $('#product_addtocart_form').serialize();
                        var urlUpdateSaveCart = '<?php echo $this->getUrl('superproduct/index/updatesavecart'); ?>';
                        $.ajax({
                            type        : 'POST',
                            url         : urlUpdateSaveCart,
                            data        : formData,
                            dataType    : 'json',
                            encode      : true,
                            showLoader: true
                        }).done(function(data) {
                            if(data['errors']  == false ) {
                                if(data['request'] == 2) {
                                    //window.location.href = data.redirectUrl;
                                    setTimeout(function(){ window.location.href = data.redirectUrl; }, 2000);
                                    //$.cookie('super_updated', data['messages']); // Set Cookie Value
                                    //return false;
                                }
                            }

                            if(data['errors']  == true ) {

                            }

                        });
                    }else{
                        return false;
                    }
                });

            })
        });
    </script>
<?php } ?>

<?php if(!empty($paramwishlist)){ ?>
    <script type="text/javascript">
        require(['jquery'], function($) {
            $(document).ready(function() {
                $('#product-addtocart-button').bind('click', function () {
                    if ($('#product_addtocart_form').valid()) {
                        var formData = $('#product_addtocart_form').serialize();
                        var urlUpdateWishlist = '<?php echo $this->getUrl('superproduct/index/updatewishlist'); ?>';
                        $.ajax({
                            type        : 'POST',
                            url         : urlUpdateWishlist,
                            data        : formData,
                            dataType    : 'json',
                            encode      : true,
                            showLoader: true
                        }).done(function(data) {
                            if(data['errors']  == false ) {
                                if(data['request'] == 3) {
                                    //window.location.href = data.redirectUrl;
                                    setTimeout(function(){ window.location.href = data.redirectUrl; }, 2000);
                                    //$.cookie('super_updated', data['messages']); // Set Cookie Value
                                    //return false;
                                }
                            }

                            if(data['errors']  == true ) {

                            }

                        });
                    }else{
                        return false;
                    }
                });

            })
        });
    </script>
<?php } ?>

