<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Product view template
 *
 * @see \Magento\Catalog\Block\Product\View\Description
 */
?>
<?php
$_helper = $this->helper('Magento\Catalog\Helper\Output');
$_product = $block->getProduct();
$_call = $block->getAtCall();
$_code = $block->getAtCode();
$_className = $block->getCssClass();
$_attributeLabel = $block->getAtLabel();
$_attributeType = $block->getAtType();
$_attributeAddAttribute = $block->getAddAttribute();

$renderLabel = true;
// if defined as 'none' in layout, do not render
if ($_attributeLabel == 'none') {
    $renderLabel = false;
}

if ($_attributeLabel && $_attributeLabel == 'default') {
    $_attributeLabel = $_product->getResource()->getAttribute($_code)->getStoreLabel();
}
if ($_attributeType && $_attributeType == 'text') {
    $_attributeValue = ($_helper->productAttribute($_product, $_product->$_call(), $_code)) ? $_product->getAttributeText($_code) : '';
} else {
    $_attributeValue = $_helper->productAttribute($_product, $_product->$_call(), $_code);
}

$helper = $this->helper('Brandsmith\OverrideCustom\Helper\Data');
$saleCates = $helper->getCategoryIdStock();
$textShowing = $helper->getTextShowing();
$isShow = false;
$qty = 0;
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$stockRegistry = $objectManager->get('Magento\CatalogInventory\Api\StockRegistryInterface');
if(!empty($saleCates)) {
    $saleCates = explode(",",$saleCates);
    if($_product->getTypeId() != 'super') {
        $cateIds = $_product->getCategoryIds();
        foreach ($saleCates as $saleId) {
            if(in_array($saleId, $cateIds)) {
                $isShow = true;
            }
        }
        if($isShow) {
            if($_className == 'sku') { ?>
                <div id="stockcustom" style="display: none" class="stock-status"><?php echo str_replace("XX","<span id='qtytock' class='stock-qty'>" .$qty . "</span>",$textShowing) ?></div>
            <?php }
        }
    }
}
?>
<?php if ($_attributeValue): ?>
<div class="product attribute <?= /* @escapeNotVerified */ $_className ?>">
    <?php if ($renderLabel): ?><strong class="type"><?= /* @escapeNotVerified */ $_attributeLabel ?></strong><?php endif; ?>
    <div class="value <?php if($_className == 'sku' && $_product->getTypeId() == 'configurable') { ?> configsku <?php } ?>" <?= /* @escapeNotVerified */ $_attributeAddAttribute ?>><?= /* @escapeNotVerified */ $_attributeValue ?></div>
    <?php
        if($_className == 'sku') {
            if($_product->getTypeId() == 'configurable') {
                $_children = $_product->getTypeInstance()->getUsedProducts($_product);
                foreach ($_children as $child) {
                    if($isShow) {
                        $_stockItem = $stockRegistry->getStockItemBySku($child->getSku());
                        if($_stockItem->getQty() > 0) {
                            $qty = $_stockItem->getQty();
                        }
                    }
                    ?>
                    <div id="simple-<?php echo $child->getId(); ?>" style="display: none" class="value <?php if($isShow): ?> salecate<?php endif; ?>" rel="<?php echo $qty; ?>"><?php echo $child->getSku(); ?></div>
                <?php }
            }
        }
    ?>
</div>
<?php endif; ?>
