<?php
$helper = $this->helper('Brandsmith\OverrideCustom\Helper\Data');
$saleCates = $helper->getCategoryIdStock();
$textShowing = $helper->getTextShowing();

if(!empty($saleCates)) {
    $isShow = false;
    $saleCates = explode(",",$saleCates);
    $product = $block->getProduct();
    if($product->getTypeId() == 'simple') {
        $cateIds = $product->getCategoryIds();
        foreach ($saleCates as $saleId) {
            if(in_array($saleId, $cateIds)) {
                $isShow = true;
            }
        }
        if($isShow) {
            $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
            $stockRegistry = $objectManager->get('Magento\CatalogInventory\Api\StockRegistryInterface');
            $_stockItem = $stockRegistry->getStockItemBySku($product->getSku());
            if($_stockItem->getQty() > 0) { ?>
                <div class="stock-status"><?php echo str_replace("XX","<span id='qtytock' class='stock-qty'>" .$_stockItem->getQty() . "</span>",$textShowing) ?></div>
            <?php }
        }
    }
}
?>