<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Product view template
 *
 * @var $block \Magento\Catalog\Block\Product\View
 */

$_objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$request = $_objectManager->get('Magento\Framework\App\Request\Http');
$_shareproductHelper = $_objectManager->get('\Knight\ShareProduct\Helper\Data');
$paramshare = $request->getParam('share');
if(isset($paramshare) && $paramshare) {
    $id = $this->getProduct()->getId();
    $price = $this->getProduct()->getPriceInfo()->getPrice('final_price')->getAmount()->getValue();
    $productOption = $_shareproductHelper->getSuperCustomOption($paramshare,$id);
    $product_qty = $productOption['qty'];
    $totals_price = $product_qty * $price;
    if($this->getProduct()->getTypeId() == 'configurable'){
        if(isset($productOption['super_attribute']) && $productOption['super_attribute']){
            $attOption = json_encode($productOption['super_attribute']);
        }
    }
}
?>
<?php $_helper = $this->helper('Magento\Catalog\Helper\Output'); ?>
<?php $_product = $block->getProduct(); ?>

<div class="product-add-form">
    <form data-product-sku="<?= $block->escapeHtml($_product->getSku()) ?>"
          action="<?= /* @NoEscape */ $block->getSubmitUrl($_product) ?>" method="post"
          id="product_addtocart_form"<?php if ($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
        <input type="hidden" name="product" value="<?= /* @escapeNotVerified */ $_product->getId() ?>" />
        <input type="hidden" name="selected_configurable_option" value="" />
        <input type="hidden" name="related_product" id="related-products-field" value="" />
        <input type="hidden" name="item"  value="<?= /* @noEscape */ $block->getRequest()->getParam('id') ?>" />
        <?= $block->getBlockHtml('formkey') ?>
        <?= $block->getChildHtml('form_top') ?>
        <?php if (!$block->hasOptions()):?>
            <?= $block->getChildHtml('product_info_form_content') ?>
        <?php else:?>
            <?php if ($block->getOptionsContainer() == 'container1'):?>
                <?= $block->getChildChildHtml('options_container') ?>
            <?php endif;?>
        <?php endif; ?>

        <?php if ($block->hasOptions() && $block->getOptionsContainer() == 'container2'):?>
            <?= $block->getChildChildHtml('options_container') ?>
        <?php endif;?>
        <?= $block->getChildHtml('form_bottom') ?>
    </form>
</div>
<script>
    require([
        'jquery',
        'priceBox'
    ], function($){
        var dataPriceBoxSelector = '[data-role=priceBox]',
            dataProductIdSelector = '[data-product-id=<?= $block->escapeHtml($_product->getId()) ?>]',
            priceBoxes = $(dataPriceBoxSelector + dataProductIdSelector);

        priceBoxes = priceBoxes.filter(function(index, elem){
            return !$(elem).find('.price-from').length;
        });

        priceBoxes.priceBox({'priceConfig': <?= /* @escapeNotVerified */ $block->getJsonConfig() ?>});
    });
</script>
<?php 
if(isset($paramshare) && $paramshare && ($this->getProduct()->getTypeId() == 'configurable')) { ?>
    <script type="text/javascript">
    require(['jquery','domReady!'], function($) {
        $(document).ready(function() {
            var option_selected = '<?php echo $attOption; ?>';
            var ojb_config = $.parseJSON(option_selected);
            var qty = '<?php echo $product_qty; ?>';

            setTimeout(function() {
                $.each(ojb_config, function( index, value ) {
                    $('#product-options-wrapper .swatch-attribute[attribute-id="'+index+'"] .swatch-option[option-id="'+value+'"]').trigger('click');
                });
                $(".box-tocart #qty").val(qty);
            }, 2000);
        });
    });
    </script>
<?php } else { ?>
    <?php if(isset($paramshare) && $paramshare){ ?>
    <script type="text/javascript">
        require(['jquery','domReady!'], function($) {
            $(document).ready(function() {
                var qty = '<?php echo $product_qty; ?>';
                setTimeout(function() {
                    $(".box-tocart #qty").val(qty);
                }, 500);
            });
        });
    </script>
    <?php }?>
<?php }