<?php if ($files = $block->getAttachments()) : ?>
<div class="resourcesArea">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 centered">
                <h2>Resources</h2>
                <div class="resourceList">
                    <?php foreach ($files as $file) : ?>
                        <a href="<?= $block->escapeUrl($file->getFrontendUrl()) ?>" target="_blank" class="btn medium" href="#"><?= $block->escapeHtml($file->getLabel()); ?></a>
                    <?php endforeach; ?>
                </div>
                <a class="fullResources">&nbsp;</a>
                <?php /*<a class="fullResources" href="#">View full resources on this product</a> */ ?>
            </div>
        </div>
    </div>
</div>
<?php endif; ?>
<?php
$product = $block->getProduct();
if($product && !empty($block->getProduct()->getPdpResources())): ?>
<div id="resource-content">
    <?= /* @escapeNotVerified */ $this->helper('Magento\Catalog\Helper\Output')->productAttribute($block->getProduct(), $block->getProduct()->getPdpResources(), 'pdp_resources') ?>
</div>
<?php endif; ?>

<?php /*
<script type="text/javascript">
    require([
        'jquery'
    ], function ($) {
        $(".fullResources").click(function() {
            $('#resource-content').slideDown();
            //$( "#resource-content" ).toggle();
            return false;
        });
    });
</script>

 */ ?>
