<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Wishlist\Block\Customer\Wishlist\Button $block */
?>
<?php if ($block->getWishlist()->getItemsCount() && $block->getWishlist()->getShared() < $block->getConfig()->getSharingEmailLimit()): ?>
    <button type="submit" name="save_and_share" title="<?= $block->escapeHtmlAttr(__('Share Cart')) ?>" class="action share btn medium">
        <span><?= $block->escapeHtml(__('Share Cart')) ?></span>
    </button>
<?php endif;?>
