// /**
//  * Copyright © 2013-2017 Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .product-info-main {
        .gauge{
            width: 100px;
            height: 65px;
            position: absolute;
            top: 10px;
            right: 0;
            z-index: 1;
            display: block;

            &.gauge-low,
            &.gauge-medium,
            &.gauge-high{
                &::before {
                    content: "STOCK LEVEL";
                    font-size: 10px;
                    font-weight: 900;
                    position: absolute;
                    bottom: -18px;
                    width: 100%;
                    text-align: center;
                    color: #000000;
                }
            }

            &.gauge-low {
                background: url("../Brandsmith_TrafficLightStock/images/stock_alert_low.png") no-repeat center;
                background-size: contain;
                
            }

            &.gauge-medium {
                background: url("../Brandsmith_TrafficLightStock/images/stock_alert_medium.png") no-repeat center;
                background-size: contain;
                
            }

            &.gauge-high{
                background: url("../Brandsmith_TrafficLightStock/images/stock_alert_high.png") no-repeat center;
                background-size: contain;
                
            }

            &.gauge-none {
                display: none;
            }
            
            &.gauge-enable.need-login {
                display: none;
            }
        }

        .product-gauge {
            position: relative;

            &.logged {
                display: block;
            }

            &.need-login {
                display: none;
            }

            .gauge-note {
                display: none;
                max-width: 174px;
                text-align: center;
                border-radius: 5px;
                background: #e4e4e4;
                border: 1px solid;
                position: absolute;
                right: 75px;
                top: -15px;
                font-size: 14px;
                line-height: 1.1;
                padding: 5px;
                z-index: 9;
            }
        }
    }

    .knight-super-product{
        .gauge{
            &.gauge-enable{
                display: none;
            }
        }
    }


    
    /*  Traddic Light alert*/
    .alert-traffic-light{
        text-align: left;
        color: #ee3124;
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        align-items: flex-end;
        padding: 10px 0 0;
        
        > i{
            font-size: 26px;
            display: block;
        }

        > .content{
            padding-left: 10px;
            padding-right: 15px;
            font-size: 14px;
            line-height: 1.2;

            p{
                margin: 0;
            }
            
        }
    }

    .automove_cart_pop.modal-popup{
        .modal-inner-wrap {
            top: 40%;
        }

        &._show {
            .modal-inner-wrap {
                overflow: visible;
                max-width: 400px;
            }
        }

        .modal-header {
            border-bottom: 0;
            position: relative;
        }

        .modal-content {
            border: 0;
            box-shadow: none;
        }

        #automove_cart {
            .content-alert {
                color: red;

                a{
                    color: inherit;
                    text-decoration: underline!important;
        
                    &:hover {
                        color: #f94b4b;
                    }
                }
            }
        }
    }

    .cart_notice {
        max-width: 1440px;
        margin: 0 auto;
        padding: 20px;
        text-align: center;
        background: #8ac9da;
        border-radius: 5px;
        margin-bottom: 40px;
        
        p{
            margin: 0 auto;
            max-width: 720px;
            margin-bottom: 0;
            color: #1979c3;
            line-height: 1.2;
            font-weight: 700;

            a{
                color: inherit;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m){
    .automove_cart_pop.modal-popup {
        .action-close{
            position: absolute;
            top: -36px;
            right: -44px;
        }

        &._show .modal-inner-wrap {
            overflow: visible;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
        }

        .modal-header {
            padding: 0 0 2.6rem;
        }

        .action-close:before{
            content: '\f00d';
            color: #fff;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: 24px;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-size: 25px;
            font-weight: lighter;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m){
    .product-info-main {
        .gauge {
            
            width: 75px;
            height: 50px;
            padding-bottom: 25%;
			top: 28px;
            right: 5px;
            background-size: 93%!important;
            background-position: top center !important;
			&::before {
				font-size: 10px;
				bottom: 0;
			}
        }
    }

    .automove_cart_pop.modal-popup._show .modal-inner-wrap {
        background: #fff;
    }
    .catalog-product-view {
		.product-info-main {
			.super-item-image {
				img {
					margin-top: 10%;
				}
			}
		}
	}
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
	.product-info-main {
        .gauge {
            padding-bottom: 20%;
			top: 30px;
        }
	}
	.catalog-product-view {
		.product-info-main {
			.super-item-image {
				img {
					margin-top: 15%;
				}
			}
		}
	}
}


