/**
 * Footer 1 responsive
 */

@media (min-width: 1200px) {

}

@media (min-width: 992px) and (max-width: 1199px) {
    .social-title{
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .social-container{
        background-size: 100% auto;
        margin: 20px 0;
    }

    .payment-footer{
        text-align: unset;
        padding-top: 10px;
    }
    .page-footer{
        .footer-wrapper{
            padding-top:0;
            .footer-style-1{
                .footer-top{
                    padding-bottom:10px;
                    margin-bottom:10px;
                    .app-list{
                        flex-direction: column;
                        li{
                            margin-bottom:10px;
                        }
                    }
                    .social-container{
                        text-align:center;
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .social-container{
        background-size: auto 100%;
        margin: 20px 0;
    }

    .socials-wrap ul li{
        margin: 5px 3px;
    }

    .payment-footer{
        text-align: unset;
        padding-top: 10px;
    }
}

@media (max-width: 480px) {
    .page-footer{
        .footer-wrapper{
            padding-top:0;
            .footer-style-1{
                .footer-top{
                    padding-bottom:10px;
                    margin-bottom:10px;
                    .app-list{
                        flex-direction: column;
                        li{
                            margin-bottom:10px;
                        }
                    }
                    .social-container{
                        text-align:center;
                    }
                }
            }
        }
    }
}
