/**
 * Footer 1
 */
.footer-wrapper{
    background-color: #f5f5f5;
    padding-top: 50px;
}

.footer-top{
    border-bottom:1px solid #dddddd;
    margin-bottom: 50px;
    padding-bottom: 50px;
    .app-list{

        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-flow: row wrap;
        li{
            margin-right:10px;
            &:first-child{
                margin-right: 20px;
                font-size: 18px;
                color:#222;
                font-weight: 700;
            }
            &:last-child{
                margin-right: 0;
            }
        }
    }
}

.social-title{
    font-size: 18px;
    text-transform: uppercase;
    color: #222;
    display: inline-block;
    vertical-align: middle;
    padding-right: 25px;
    font-weight: 700;
}

.title-follow{
    display: none;
}

.social-container{
    text-align: left;
    padding: 0 0 0 70px;

}

.socials-wrap{
    display: inline-block;
    vertical-align: middle;

    ul{
        li{
            display: inline-block;
            vertical-align: top;
            margin: 0 3px;

            a{
                display: block;
                width: 42px;
                height: 42px;
                line-height: 42px;
                text-align: center;
                font-size: 18px;
                color: #fff;
                background-color: #52555c;
                .border_radius(3px);

                .name-social{
                    display: none;
                }
            }
        }
    }
}

.block-footer{
    margin-bottom: 35px;

    .title-block-footer{
        font-size: 18px;
        color: #222;
        text-transform: uppercase;
        position: relative;
        padding-bottom: 5px;
        margin-bottom: 20px;
        font-weight: 700;
    }
    .sm-instagram-gallery{
        .image_users{
            .border_radius(5px;)
        }
    }

    ul li{
        margin-bottom: 10px;
        .transition(all .5s);
        a{
            color: #666;
            &:before{
                visibility: hidden;
                margin-right: 4px;
                .font-awesome(f111,6px);
                position: relative;
                top: -1px;
            }
        }
        &:hover{
            margin-left: 8px;
            a:before{
                visibility: visible;
            }
        }
        .fa{
            margin-right: 8px;
            font-size: 15px;
        }
    }


}

.des-seo-struct{
    padding: 40px 0;
    border-top: 1px solid #e5e5e5;
}

.des-footer{
    margin-bottom: 25px;

    ul li{
        margin-bottom: 12px;

        .hightlight{
            font-weight: 600;
            color: #333;
        }
    }
}

.struct{
    ul li{
        margin-bottom: 5px;

        .hightlight{
            font-weight: 600;
            text-transform: uppercase;
            color: #333;
        }
    }
}

.block-subscribe-footer{
    margin-bottom: 30px;

    .newsletter-content{
        display: table;
    }

    .title-middle-footer{
        display: none;
    }

    .input-box{
        display: table-cell;
        vertical-align: top;
        width: 100%;
        #newsletter-footer{
            .border_radius(3px 0 0 3px);
        }
    }

    .action-button{
        display: table-cell;
        vertical-align: top;

        button{
            .border_radius(0px 3px 3px 0);
        }
    }
}

.footer-bottom{
    background-color: #52555c;
    padding: 17px 0;
    color: #fff;

    a:hover{
        text-decoration: underline;
    }

    address{
        margin-top: 5px;
    }
}

.payment-footer{
    text-align: right;
}

.logo-footer{
    margin-bottom: 20px;
}

.about-shop{
    ul li{
        padding:10px 0 10px 32px;
        position: relative;
        margin-bottom: 8px;

        &:before{
            content: "";
            display: block;
            width: 30px;
            height: 30px;
            background-image: url("../images/icon-image.png");
            background-repeat: no-repeat;
            position: absolute;
        }

        &.address:before{
            background-position: -33px -22px;
            left: 0;
            top: 15px;
        }

        &.phone:before{
            background-position: -32px -65px;
            left: 0;
            top: 4px;
        }

        &.email:before{
            background-position: -32px -111px;
            left: 0;
            top: 4px;
        }

        &.time-open:before{
            background-position: -32px -156px;
            left: 0;
            top: 4px;
        }
    }
}