<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Wishlist\Block\Customer\Wishlist\Item\Column\Image $block */

/** @var \Magento\Wishlist\Model\Item $item */
$item = $block->getItem();
$product = $item->getProduct();
$_options = $item->getOptions();
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
?>
<div class="col-lg-2 col-md-2 col-sm-2">
    
        <?php if($product->getTypeId() == 'super'): ?>
            <?php if($_options): ?>
                <?php
                foreach ($_options as $_option) {
                    $option_config = $_option->getValue();
                    $option_config = json_decode($option_config, true);
                } ?>
                <a class="product-item-photo" tabindex="-1" href="<?= $block->escapeUrl($block->getProductUrl($product)) ?>?wishlist_id=<?php echo $item->getId() ?>&qty=<?php echo (int)$item->getQty() ?>" title="<?= $block->escapeHtmlAttr($product->getName()) ?>">
                <?php if(isset($option_config['super_product_img'])): ?>
                    <img class="product-image-photo" src="<?php echo $option_config['super_product_img'] ?>" width="250" height="250" alt="">
                <?php endif;
                ?>
                </a>
            <?php endif; ?>
        <?php else: ?>
            <?php if($product->getTypeId() =='configurable'): // Config product?>
                <?php
                $productRepository = $objectManager->get('\Magento\Catalog\Model\ProductRepository');
                $productObj = $productRepository->get($product->getSku());
                $imageHelper  = $objectManager->get('\Magento\Catalog\Helper\Image');
                $width = 250;
                $height = 250;
                $imageUrl = $imageHelper->init($productObj, 'product_page_image_small')
                    ->constrainOnly(FALSE)
                    ->keepAspectRatio(TRUE)
                    ->keepFrame(FALSE)
                    ->resize($width, $height)
                    ->getUrl();
                $param = '';
                $unserializer = $objectManager->get(\Magento\Framework\Serialize\Serializer\Json::class);
                $options = $item->getOptions();
                if($options) {
                    foreach ($options as $opt) {
                        if($opt->getCode() == 'info_buyRequest') {
                            $super_attr = $unserializer->unserialize($opt->getValue());
                            if(is_array($super_attr)) {
                                if(isset($super_attr['super_attribute']) && is_array($super_attr['super_attribute'])) {
                                    foreach($super_attr['super_attribute'] as $key=>$value) {
                                        $param .= '&'.$key . '='.$value;
                                    }
                                }
                            }
        
                        }
                    }
                }
                ?>
            <a class="product-item-photo" tabindex="-1" href="<?= $block->escapeUrl($block->getProductUrl($product)) ?>?wishlist_id=<?php echo $item->getId() ?>&qty=<?php echo (int)$item->getQty() ?><?php echo $param ?>" title="<?= $block->escapeHtmlAttr($product->getName()) ?>">
                <img class="product-image-photo" src="<?php echo $imageUrl ?>" />
            <?php else: ?>
                <?= $block->getImage($product, 'wishlist_thumbnail')->toHtml() ?>
            <?php endif; ?>
            </a>
        <?php endif; ?>

    
</div>

