<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Wishlist\Block\Customer\Wishlist\Item\Column\Info $block */

/** @var \Magento\Wishlist\Model\Item $item */
$item = $block->getItem();
//$wl_options = $item->getBuyRequest()->getSuperAttribute();
//print_r($wl_options);die;

$product = $item->getProduct();
$sku = $product->getSku(); 
/* @var $helper \Magento\Catalog\Helper\Product\Configuration */
$helper = $this->helper('\Magento\Catalog\Helper\Product\Configuration');
$params = [
    'max_length' => 55,
    'cut_replacer' => ' <a href="#" class="dots tooltip toggle" onclick="return false">...</a>'
];
        
//$_options = $helper->getCustomOptions($item);
$_options = $item->getOptions();
?>
<div class="col-lg-4 col-md-4 col-sm-4">
    <span class="cartTitle"><?= $block->escapeHtml($product->getName()) ?></span>
    <?php if ($_options):?>
        <?php
        foreach ($_options as $_option) {
            $option_config = $_option->getValue();
            $option_config = json_decode($option_config, true);
        }
        ?>
        <dl class="smallCartDetails <?php echo $product->getTypeId(); ?>">
            <?php if($product->getTypeId() == 'super'): ?>
                <?php $qty_arr = isset($option_config['addon_qty']) ? $option_config['addon_qty'] : array(); ?>
                <?php if(isset($option_config['super_attributes_defined'])): ?>
                    <?php foreach ($option_config['super_attributes_defined'] as $_option) : ?>
                        <div class="product-child">
                            <div class="b-left">
                                <div class="c-name"><?php echo $_option['product_name'] ?></div>
                                <div class="c-sku"><?php echo $_option['product_simple_sku'] ?></div>
                                <?php if(is_array($_option['option_selected'])) { ?>
                                    <div class="options-child">
                                        <?php foreach ($_option['option_selected'] as $label=>$value) { ?>
                                            <dt><?= $block->escapeHtml($label); ?></dt>
                                            <dd>
                                                <?= $value ?>
                                                <br/>
                                            </dd>
                                        <?php } ?>
                                        <div class="o-qty"><?= __('Component Qty') ?>:
                                            <?php
                                            if(isset($qty_arr[ $_option['product_id']])){
                                                echo $qty_arr[$_option['product_id']];
                                            }else {
                                                ?>
                                                <?php echo $_option['product_quantity'] ?>
                                            <?php } ?>
                                        </div>
                                    </div>

                                <?php }else { ?>
                                    <div class="options-child">
                                        <div class="o-qty"><?= __('Component Qty') ?>:
                                            <?php
                                            if(isset($qty_arr[ $_option['product_id']])){
                                                echo $qty_arr[$_option['product_id']];
                                            }else {
                                                ?>
                                                <?php echo $_option['product_quantity'] ?>
                                            <?php } ?>
                                        </div>
                                    </div>
                                <?php } ?>
                            </div>
                            <div class="product-child-image">
                                <img src="<?php echo $_option['product_thumbnail_img'] ?>" alt="" title=""/>
                            </div>
                            <div class="clear"></div>
                        </div>
                    <?php endforeach; ?>
                <?php endif; ?>
            <?php else: ?>
                <?php foreach ($_options as $_option) : ?>
                    <?php if($_option->getCode() == 'attributes'){
                        $option_config = $_option->getValue();
                        $option_config = json_decode($option_config, true);
                        foreach ($option_config as $key=>$value) {
                            $attribute = $block->getAttributeById($key);
                        ?>
                            <dt><?php echo $attribute->getFrontendLabel(); ?></dt>
                            <dd>
                                <?php echo $block->getOptionLabelById($attribute->getAttributeCode() ,$value) ?>
                                <br/>
                            </dd>
                            <?php }
                       } ?>
                <?php endforeach; ?>
            <?php endif; ?>
        </dl>
    <?php endif;?>
</div>


