<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Wishlist\Block\Customer\Wishlist\Item\Column\Cart $block */
$item = $block->getItem();
if($item->getProduct()->getTypeId() == 'super') {
    $superPrice = $block->getSuperProductPriceHtml($item);
?>
<div class="col-lg-2 col-md-2 col-sm-2">
    <div class="price-box price-final_price" data-role="priceBox">
        <p class="price-as-configured">
            <span class="price-container price-final_price tax weee">
                <span class="price-wrapper "><span class="price"><?php echo $superPrice; ?></span></span>
            </span>
        </p>
    </div>
</div>
<?php }else { ?>
<div class="col-lg-2 col-md-2 col-sm-2">
    <?php foreach ($block->getChildNames() as $childName): ?>
	    <?= /* @noEscape */ $block->getLayout()->renderElement($childName, false) ?>
	<?php endforeach;?>
</div>
<?php } ?>

