<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Wishlist\Block\Customer\Wishlist\Item\Column\Image $block */

/** @var \Magento\Wishlist\Model\Item $item */
$item = $block->getItem();
$product = $item->getProduct();
?>
<?php if($product->getTypeId()=='simple') { ?>
    <?php ?>
    <a class="btn" tabindex="-1" href="<?= $block->escapeUrl($block->getProductUrl($product)) ?>?wishlist_id=<?php echo $item->getId() ?>&qty=<?php echo (int)$item->getQty() ?>" title="<?= $block->escapeHtmlAttr($product->getName()) ?>">
        <?= __('Edit Product') ?>
    </a>
<?php } ?>
<?php if($product->getTypeId()=='configurable') { ?>
    <?php
        $param = '';
        $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
        $unserializer = $objectManager->get(\Magento\Framework\Serialize\Serializer\Json::class);
        $options = $item->getOptions();
        if($options) {
            foreach ($options as $opt) {
                if($opt->getCode() == 'info_buyRequest') {
                    $super_attr = $unserializer->unserialize($opt->getValue());
                    if(is_array($super_attr)) {
                        if(isset($super_attr['super_attribute']) && is_array($super_attr['super_attribute'])) {
                            foreach($super_attr['super_attribute'] as $key=>$value) {
                                $param .= '&'.$key . '='.$value;
                            }
                        }
                    }

                }
            }
        }
    ?>
    <a class="btn" tabindex="-1" href="<?= $block->escapeUrl($block->getProductUrl($product)) ?>?wishlist_id=<?php echo $item->getId() ?>&qty=<?php echo (int)$item->getQty() ?><?php echo $param ?>" title="<?= $block->escapeHtmlAttr($product->getName()) ?>">
        <?= __('Edit Product') ?>
    </a>
<?php } ?>
<?php if($product->getTypeId()=='super') { ?>
    <a class="btn" tabindex="-1" href="<?= $block->escapeUrl($block->getProductUrl($product)) ?>?wishlist_id=<?php echo $item->getId() ?>" title="<?= $block->escapeHtmlAttr($product->getName()) ?>">
        <?= __('Edit Product') ?>
    </a>
<?php } ?>
