.cms-index-index {
  .header-style-2 {
    .home-item-parent {
      > a {
        background-color: #f3f4f8;
      }
    }
  }
}

.header-style-2{
  .header-bottom{
    &.menu-on-top{
      height:83px;
      background:#fff;
    }
  }
}
body:not(.cms-index-index){
  .header-style-2{
    .header-bottom .sidebar-megamenu .megamenu-content-sidebar:hover .menu-ver-content{
      background:none;
      .navigation-megamenu-wrapper{
        background:#fff;
        .border_radius(5px);
      }
    }
    .more-w .more-view{
      border:2px solid rgb(235, 235, 235);
      border-top:none;
      .border_radius(0 0 5px 5px);
    }
  }
}

.header-style-2 {
  .header-top-wrapper{
    margin-top:30px;
  }
  .sm_megamenu_wrapper_vertical_menu{

    .sm_megamenu_menu{
      padding-bottom: 3px;
        li a.sm_megamenu_head {
          padding: 10px 0;
          border:none;
          border-bottom:1px solid #ddd;
          font-size:14px;
      }
      position:relative;
      border:2px solid #ebebeb;
      margin-top:12px;
      border-bottom:none;
      .border_radius(5px 5px 0 0);
      &:before, &:after{
        bottom: 100%;
        left: 50%;
        border: solid transparent;
        content:'';
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }
      &:after{
        border-color: rgba(136, 183, 213, 0);
        border-bottom-color: #fff;
        border-width: 11px;
        margin-left: -12px;
      }
      &:before{
        border-color: rgba(194, 225, 245, 0);
        border-bottom-color: #ebebeb;
        border-width: 14px;
        margin-left: -15px;
      }
    }
  }

  .header-top {
    height: 45px;
    background:#f5f5f5;
    padding:0;
    .header-top-links{
      ul{
        li{
          float:left;
          padding:0 20px;
          border-right:1px solid #dcdcdc;
          margin:11px 0;
          a{
            font-size:14px;
            color:#666;
            .fa{
              margin-right:10px;
              font-size:18px;
            }
          }
          &:first-child{
            padding-left:0;
          }
        }
      }
      .header.links{
        li{
          margin-left:20px;
          padding-left:0px;
          &:last-child{
            border-right:none;
          }
        }
        .customer-welcome{
          position:relative;
          .dashboard{
            font-size:14px;
          }
          .customer-menu{
            display:none;
            position:absolute;
            left:0;
            top:100%;
            background:#fff;
            padding-top:13px;
            z-index:99;
            .links{
              li{
                margin-left:0;
                padding:0 5px;
                float:none;
                border-right:none;
              }
            }
          }
          &:hover{
            .customer-menu{
              display:block;
            }
          }
        }
      }
    }
    .language-currency-top {
      .language-wrapper,
      .currency-wrapper ,
      .hotline{
        float: left;
        border-right: 1px solid #dcdcdc;
        padding:0 20px;
        font-size:14px;
        color:#666;
        margin:11px 0;
        .switcher-label {
          display: none;
        }
        .switcher-options{
          height:35px;
        }
        .switcher-trigger {
          padding: 0;
          line-height: 19px;
          cursor: pointer;
          position: relative;

          strong {
            font-weight: normal;
            color: #444;

            &:after {
              .font-awesome(f107, 12px);
              margin-left: 3px;
            }
          }
        }

        .mage-dropdown-dialog {
          margin-top: -1px;

          ul {
            li {
              a {
                display: block;
                padding: 3px 0;
              }
            }
          }
        }
      }
      .hotline{
        padding-left:0;
      }
      .language-wrapper {
        border-left: 1px solid #eee;
        height:23px;
        line-height:23px;
        .switcher-trigger {
          strong {
            padding-left: 20px;
            background-repeat: no-repeat;
            background-position: left center;
            span{
              color:#666;
            }
          }
        }
        .mage-dropdown-dialog {
          ul {
            li {
              a {
                background-repeat: no-repeat;
                background-position: left center;
                white-space: nowrap;
                padding-left: 20px;
              }
            }
          }
        }
        &:hover{
          .switcher-options{
            .mage-dropdown-dialog{
              display:block !important;
            }
          }
        }
      }
      .currency-wrapper{
        padding-right:0;
        border-right:none;
        &:hover{
          .switcher-options{
            .mage-dropdown-dialog{
              display:block !important;
            }
          }
        }
      }
    }

    .header-top-links {
      .toplinks-wrapper {
        float: right;

        .header.links {
          li {
            float: left;

            a {
              position: relative;

              &:before {
                text-indent: 0;
                color: #4a5678;
              }

              &:hover {
                &:before {
                  color: #fff;
                }
              }
            }

            &.link.compare {
              display: none;
            }

            &.myaccount-link {
              a {
                border-left: 1px solid #eeeeee;
                position: relative;

                &:before {
                  .font-awesome(f2be, 13px);
                  position: absolute;
                  left: 10px;
                  top: 10px;
                }
              }
            }

            &.link.wishlist {
              a {
                &:before {
                  .font-awesome(f004, 13px);
                  position: absolute;
                  left: 10px;
                  top: 11px;
                }
              }
            }

            &.checkout-link {
              a {
                &:before {
                  .font-awesome(f14a, 14px);
                  position: absolute;
                  left: 11px;
                  top: 11px;
                }
              }
            }

            &.authorization-link {
              a {
                &:before {
                  .font-awesome(f023, 15px);
                  position: absolute;
                  left: 12px;
                  top: 10px;
                }
              }
            }

            a {
              white-space: nowrap;
              display: block;
              width: 34px;
              line-height: 34px;
              height: 34px;
              border-right: 1px solid #eeeeee;
              overflow: hidden;
              text-indent: 50px;
              padding-right: 0;
              transition: padding 0.4s ease 0s;
              -webkit-transition: padding 0.4s ease 0s;

              &:hover {
                width: auto;
                padding-right: 10px;
                text-indent: 28px;
                color: #fff;
              }
            }
          }

          &.toplinks_hover {
            li.myaccount-link a:before {
              color: #4a5678;
            }
          }
        }
      }
    }
  }

  .header-middle {
    padding: 55px 0 28px;
    .logo-header {
      .logo-wrapper {
        .logo-content {
          line-height: 0;
          margin: 4px 0 0;

          strong {
            a {
              img {
                vertical-align: top;
              }
            }
          }
        }
      }
    }

    .middle-right-content {
      display: table;
      margin-top: 5px;

      .searchbox-header {
        display: table-cell;
        width: 100%;
        vertical-align: text-bottom;

        .search-wrapper {
          border:2px solid #ebebeb;
          .border_radius(30px);
          .block-content {
            position: relative;

            .nested {
              display: none;
            }

            .input-text {
              height: 34px;
              border: 1px solid #dddddd;
              padding-right: 40px;
              color: #444;
            }

            .btn-search-header {
              position: absolute;
              right: 0px;
              top: 0px;
              width: 34px;
              height: 34px;
              opacity: 1;
              padding: 0 !important;
              background-color: #666666;
              text-align: center;
              color: #fff;

              &:before {
                .font-awesome(f002, 17px);
                line-height: 34px;
              }

              span {
                display: none;
              }
            }
          }
          .sm-searchbox-content{
            .searchbox{
              .searchbox-cat{
                left:initial;
                top:0;
                right:70px;
                border-right:none;
                border-left: 1px solid #ebebeb;
                padding-left: 10px;
              }
              .input-searchbox{
                padding-left:25px;
                background:none;
              }
            }
          }
        }
      }

      .sm-searchbox-advanced,
      .sm-searchbox-popular {
        display: none;
      }

      // SEARCH BOX PRO

      .sm-searchbox {
        .sm-searchbox-content {
          position: relative;

          .form.minisearch {
            display: table;
            width: 100%;
          }

          .field.searchbox {
            display: table-cell;
            vertical-align: middle;
            width: 100%;
          }

          .control {
            .searchbox-cat {
              position: absolute;
              left: 0;
              top: 1px;
              height: 50px;
              width: 150px;
              background-color: transparent;
              border: none;
              border-right: 1px solid #dddddd;
              color: #444;

              &:hover {
                cursor: pointer;
              }
            }

            #searchbox {
              height: 50px;
              color: #444;
              padding-right: 170px;
              border: none;
            }
          }

          .actions {
            display: table-cell;
            vertical-align: top;
            display: inline-block;
            margin:0;
            .btn-searchbox {
              color: #fff;
              text-transform: uppercase;
              font-weight: 600;
              height: 50px;
              font-size: 116.67%;
              opacity: 1;
              margin-left: -1px;
              .border_radius(50%);
            }
          }
        }

      }

      // END SEARCH BOX PRO

      .minicart-header {
        display: table-cell;
        vertical-align: middle;
        position: relative;
        top: 0;
        padding-left: 30px;

        .minicart-content {
          .cart-wrapper {
            .minicart-wrapper {
              margin: 0;

              .showcart {
                cursor: pointer;
                position: relative;
                padding-left: 70px;

                &:before {
                  color: #fff;
                  .font-awesome(f07a, 20px);
                  line-height: 50px;
                  position: absolute;
                  left: 0;
                  top: 0;
                  display: inline-block;
                  width: 54px;
                  height: 54px;
                  .border_radius(50%);
                  border:2px solid #e5e5e5;
                }

                .text {
                  white-space: nowrap;
                  text-transform: uppercase;
                  font-weight: 700;
                  color: #222;
                  margin-top: 3px;
                }

                .counter {
                  padding: 0;
                  font-weight: 700;

                  &:before,
                  &:after {
                    display: none;
                  }

                  .counter-number {
                    display: none;
                  }

                  .counter-label {
                    display: table-cell;
                    white-space: nowrap;
                    font-weight:500;
                  }

                  .price-minicart {
                    display: table-cell;
                    .price{
                      font-size:18px;
                    }
                    &:before {
                      content: "-";
                      padding: 0 5px;
                      display: table-cell;
                    }

                    .subtotal {
                      display: table-cell;
                    }

                    .label {
                      display: none;
                    }
                  }
                }
              }

            }
          }
        }
      }
    }

    .id2-header-quicklink{
      margin-top:5px;
      .label{
        font-weight:600 !important;
      }
    }
  }

  .header-bottom {
    height: 50px;
    border-top:1px solid #e5e5e5;
    .container{
      padding-top:20px;
    }
    .sm_megamenu_wrapper_vertical_menu .sambar-inner {
      padding: 0;

      &:before {
        display: none;
      }
    }

    .navigation ul > li > a {
      padding: 11px 12px 11px 20px;
    }

    .sidebar-megamenu {
      .megamenu-content-sidebar {
        position: relative;

        .menu-ver-content {
          visibility: hidden;
          opacity: 0;
          transition: all 0.2s ease-in-out 0s;
          -webkit-transition: all 0.2s ease-in-out 0s;
          position: absolute;
          left: 0;
          top: 130%;
          width: 100%;
          background-color: #fff;
          z-index: 666666;
        }

        &:hover {
          .menu-ver-content {
            opacity: 1;
            visibility: visible;
            top: 100%;
          }
        }
        .btn-megamenu {
          .border_radius(4px);
          a {
            display: block;
            line-height: 50px;
            text-transform: uppercase;
            font-weight: 500;
            padding: 0 25px;
            font-size: 116.67%;
            color: #fff;

            &:before {
              .font-awesome(f0c9, 14px);
              margin-right: 10px;
            }
          }
        }
      }
    }

    .sm_megamenu_wrapper_horizontal_menu {
      .sm_megamenu_menu {
        > li {
          margin-right: 1px;
          &.home-item{
            .transition(all .3s);
            .sm_megamenu_head{
              span.sm_megamenu_title{
                padding-left: 10px;
                &:before{
                  display:inline-block;
                  content:'';
                  background: url(../images/icon_2.png);
                  background-repeat: no-repeat;
                  background-position:-160px -59px;
                  height:22px;
                  width:22px;
                  position:absolute;
                  left:0;
                  top:22%;
                }
              }
            }
            &.sm_megamenu_actived{
              span.sm_megamenu_title {
                &:before {
                  background-position: -200px -59px;
                }
              }
            }
            &:hover{
              .sm_megamenu_head {
                span.sm_megamenu_title {
                  padding-left: 10px;
                  &:before {
                    background-position:-200px -59px;
                  }
                }
              }
            }
          }

          > .sm_megamenu_head {
            display: block;
            line-height: 50px;
            color: #222;
            font-size: 116.67%;
            text-transform: uppercase;
            padding: 0 20px;
            position: relative;
            font-weight:600;
            &:before {
              content: "";
              position: absolute;
              left: 0;
              right: 0;
              top: 0;
              display: block;
              height: 2px;
              opacity: 0;
              z-index: 10;
            }

            .icon_items {
              img {
                position: absolute;
                right: 0;
                top: -15px;
                z-index: 10;
              }
            }
          }

          &.sm_megamenu_actived,
          &:hover {
            > .sm_megamenu_head {
              //background-color: #f3f4f8;

              &:before {
                opacity: 1;
              }
            }
          }

          > div {
            border: none;
            .box_shadow(0px 5px 5px rgba(0, 0, 0, 0.15));
          }
        }
      }
    }
  }

}

.cms-index-index{
  .header-style-2 .header-bottom .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu > li.home-item{
    .sm_megamenu_head{
      span.sm_megamenu_title {
        &:before {
          background-position: -200px -59px;
        }
      }
    }
  }
}