<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="field field-select-billing">
    <div class="control" data-bind="if: (addressOptions.length > 1)">
    	<label class="label subtitle"><span data-bind="i18n: 'Billing address'"></span></label>
        <select class="select billing-address-id" name="billing_address_id" data-bind="
	        afterRender: renderedSelect,
	        options: availableAddressOptions,
	        optionsText: addressOptionsText,
	        value: selectedAddress,
	        event: {change: onAddressChange(selectedAddress())};"></select>
    </div>
</div>
