<?php
$category_id = $block->getData('category_id');
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$categoryInstance = $objectManager->create('Magento\Catalog\Model\CategoryFactory');
$products = $categoryInstance->create()
                      ->load($category_id)
                      ->getProductCollection()
                      ->addAttributeToSelect('*');
?>
<div class="row">
<div class="col-lg-12">
    <div class="single-slider-item">
    <?php   
    foreach($products as $top10): 
    $top10Product = $objectManager->create('Magento\Catalog\Model\Product')->load($top10->getId());
    $_imageHelper = $objectManager->get('Magento\Catalog\Helper\Image');
    $imageURL = $_imageHelper->init($top10Product, 'image', ['type'=>'image'])->keepAspectRatio(true)->resize(250,250)->getUrl();
    ?>
        <div class="single-slider">
            <img src="<?php echo $imageURL; ?>" alt="image" />
            <h3><a class="prod-link" href="<?php echo $top10Product->getProductUrl(); ?>"><?php echo $top10Product->getName(); ?></a></h3>
        </div>
    <?php endforeach; ?>
</div>
</div>
</div>

<!-- 

<div class="single-slider"><img src="{{view url="img/pic1.jpg"}}" alt="" />
<h3>Chicken Meal!</h3>
</div>
<div class="single-slider"><img src="{{view url="img/pic2.jpg"}}" alt="" />
<h3>Chicken Meal!</h3>
</div>
<div class="single-slider"><img src="{{view url="img/pic3.jpg"}}" alt="" />
<h3>Chicken Meal!</h3>
</div>
<div class="single-slider"><img src="{{view url="img/pic4.jpg"}}" alt="" />
<h3>Chicken Meal!</h3>
</div>
<div class="single-slider"><img src="{{view url="img/slider-pic.png"}}" alt="" />
<h3>Chicken Meal!</h3>
</div>
<div class="single-slider"><img src="{{view url="img/pic1.jpg"}}" alt="" />
<h3>Chicken Meal!</h3>
</div>
<div class="single-slider"><img src="{{view url="img/pic3.jpg"}}" alt="" />
<h3>Chicken Meal!</h3>
</div>
<div class="single-slider"><img src="{{view url="img/pic2.jpg"}}" alt="" />
<h3>Chicken Meal!</h3>
</div>
<div class="single-slider"><img src="{{view url="img/pic4.jpg"}}" alt="" />
<h3>Chicken Meal!</h3>
</div>
<div class="single-slider"><img src="{{view url="img/pic4.jpg"}}" alt="" />
<h3>Chicken Meal!</h3>
</div>
<div class="single-slider"><img src="{{view url="img/pic4.jpg"}}" alt="" />
<h3>Chicken Meal!</h3>
</div>
<div class="single-slider"><img src="{{view url="img/pic4.jpg"}}" alt="" />
<h3>Chicken Meal!</h3>
</div>
<div class="single-slider"><img src="{{view url="img/pic4.jpg"}}" alt="" />
<h3>Chicken Meal!</h3>
</div>
<div class="single-slider"><img src="{{view url="img/pic4.jpg"}}" alt="" />
<h3>Chicken Meal!</h3>
</div>
 -->