<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php $_orders = $block->getOrders(); ?>
<?= $block->getChildHtml('info') ?>
<div class="orderList orderhistory">
<?php if ($_orders && count($_orders)): ?>
            <?php /*?><caption class="table-caption"><?= /* @escapeNotVerified * / __('Orders') ?></caption><?php */?>
            
            <div class="cartTitles">
                <div class="row">
                    <div class="col-lg-2 col-sm-2 col-md-2"><b><?= /* @escapeNotVerified */ __('Date') ?></b></div>
                    <div class="col-lg-2 col-sm-2 col-md-2"><b><?= /* @escapeNotVerified */ __('Order Number') ?></b></div>
                    <?php if ($extra): ?><div class="col-lg-2 col-sm-2 col-md-2"><b><?= /* @noEscape */ $block->getChildHtml('extra.column.header') ?></b></div><?php endif; ?>
                    <div class="col-lg-2 col-sm-2 col-md-2"><b><?= /* @escapeNotVerified */ __('Points') ?></b></div>
                    <div class="col-lg-2 col-sm-2 col-md-2"><b><?= /* @escapeNotVerified */ __('Total') ?></b></div>
                    <div class="col-lg-2 col-sm-2 col-md-2"></div>
                    <div class="col-lg-2 col-sm-2 col-md-2"></div>
                </div>
            </div>
            <?php /*?><thead>
                <tr>
                    <th scope="col" class="col id"><?= /* @escapeNotVerified * / __('Order #') ?></th>
                    <th scope="col" class="col date"><?= /* @escapeNotVerified * / __('Date') ?></th>
                    
                    <th scope="col" class="col shipping"><?= /* @escapeNotVerified * / __('Ship To') ?></th>
                    <th scope="col" class="col total"><?= /* @escapeNotVerified * / __('Order Total') ?></th>
                    <th scope="col" class="col status"><?= /* @escapeNotVerified * / __('Status') ?></th>
                    <th scope="col" class="col actions"><?= /* @escapeNotVerified * / __('Action') ?></th>
                </tr>
            </thead><?php */?>
                <?php foreach ($_orders as $_order): ?>
                    <div class="row orderLineItem">
                        <div class="col-lg-2 col-sm-2 col-md-2"><?= /* @escapeNotVerified */ $block->formatDate($_order->getCreatedAt()) ?></div>
                        <div class="col-lg-2 col-sm-2 col-md-2"><?= /* @escapeNotVerified */ $_order->getRealOrderId() ?></div>
                        <?php if ($extra): ?>
                            <?php $extra->setOrder($_order); ?>
                        <div class="col-lg-2 col-sm-2 col-md-2"><?= /* @noEscape */ $extra->getChildHtml() ?></div>
                        <?php endif; ?>
                        <div class="col-lg-2 col-sm-2 col-md-2"></div>
                        <div class="col-lg-2 col-sm-2 col-md-2"><?= /* @escapeNotVerified */ $_order->formatPrice($_order->getGrandTotal()) ?></div>
                        <div class="col-lg-2 col-sm-2 col-md-2 alignright"><a href="<?= /* @escapeNotVerified */ $block->getViewUrl($_order) ?>" class="btn"><?= /* @escapeNotVerified */ __('VIEW ORDER') ?></a></div>
                        <div class="col-lg-2 col-sm-2 col-md-2 alignright">
                         <?php if ($this->helper('Magento\Sales\Helper\Reorder')->canReorder($_order->getEntityId())) : ?>
                          <a href="#" data-post='<?php /* @escapeNotVerified */
								echo $this->helper(\Magento\Framework\Data\Helper\PostHelper::class)
                                    ->getPostData($block->getReorderUrl($_order))
                                ?>' class="action order btn"><?= /* @escapeNotVerified */ __('REORDER') ?></a></div>
                         <?php endif ?>
                    </div>
                    
                <?php endforeach; ?>
    <?php if ($block->getPagerHtml()): ?>
        <div class="order-products-toolbar toolbar bottom"><?= $block->getPagerHtml() ?></div>
    <?php endif ?>
<?php else: ?>
    <div class="message info empty"><span><?= /* @escapeNotVerified */ __('You have placed no orders.') ?></span></div>
<?php endif ?>
</div>