.edit-order-table .product-item-photo {
  float: left;
  width: 75px;
  height: auto;
  margin-right: 10px;
}
.edit-order-table .product-item-photo img {
  width: auto;
  height: auto;
}
.edit-order-table .col-product > div {
  overflow: hidden; }
