.kb-comment-listing-item {
    padding: 3rem 0;
    border-bottom: 1px solid #c9c9c9;

    .kb-comment-listing-item__header {
        margin-bottom: 1rem;

        strong {
            margin-right: 2rem;
        }

        span {
            color: #666;
        }
    }

    .kb-comment-listing-item__body {

    }
}

.kb-article-form {
    margin: 2rem 0;
}