<?php 
	$curentProductId = $block->getCurrentProductId();
	if($block->getCustomerId()) {
		$gaugeClass = 'logged';
	}else{
		$gaugeClass = 'need-login';
	}	
	$channel = $block->getChannel();
?>
<?php if($block->isActiveTrafficLight()):?>
	<div class="product-gauge <?php echo $gaugeClass;?>" >	
		<?php foreach($channel as $productId => $gaugeId): ?>
		<div id="gauge-<?php echo $productId;?>" class="gauge gauge-enable <?php if($block->getCurrentProduct()->getTypeId() == 'simple') echo 'gauge-tffl'; ?> gauge-<?php echo $block->getGauge($productId,$curentProductId == $productId ? false : $curentProductId);?>"></div>
		<?php endforeach; ?>
		<div class="gauge-note gauge-low">
			<?php echo $block->getGaugeLowNote()?>
		</div>
		<div class="gauge-note gauge-medium">
			<?php echo $block->getGaugeMediumNote()?>
		</div>
		<div class="gauge-note gauge-high">
			<?php echo $block->getGaugeHighNote()?>
		</div>
	</div>
	<script>
		requirejs(['pusher','jquery'], function(Pusher,$) {
			// Enable pusher logging - don't include this in production			
			// var pusher = new Pusher('0838c334fcd4ae230387', {
			// cluster: 'ap1'
			// });

			// Enable pusher logging - don't include this in production
			Pusher.logToConsole = true;

			var pusher = new Pusher('lotus', {
				'wsHost': 'pusher.knightgroup.co.nz',
				'wssPort': '8443',
				'secret': 'admin@123',
				'appId': 'knight'
			});

			var channel = pusher.subscribe('traffic-light-stock');
			<?php foreach($channel as $productId => $gaugeId): ?>
			channel.bind('<?php echo $gaugeId ?>', function(data) {
				$('#gauge-<?php echo $productId;?>').removeClass('gauge-low');
				$('#gauge-<?php echo $productId;?>').removeClass('gauge-medium');
				$('#gauge-<?php echo $productId;?>').removeClass('gauge-high');
				$('#gauge-<?php echo $productId;?>').addClass('gauge-'+data.gauge);
				// console.log(JSON.stringify(data));
				// alert(JSON.stringify(data));
			});
			<?php endforeach; ?>
			$(".product-gauge .gauge.gauge-enable").bind('mouseover', function(event) {
				var gaugeNote = $(this).prop("classList")[3];
				$(this).closest('.product-gauge').find('.gauge-note.'+gaugeNote).show();
			});
			$(".product-gauge .gauge.gauge-enable").bind('mouseout', function(event) {
				var gaugeNote = $(this).prop("classList")[3];
				$(this).closest('.product-gauge').find('.gauge-note.'+gaugeNote).hide();
			});
		});
	</script>
<?php endif;?>