<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Catalog\Block\Product\View */
?>
<?php $_product = $block->getProduct(); ?>
<?php $buttonTitle = __('Add to Cart'); ?>

<?php
$_helperSuper = $this->helper('Brandsmith\SuperProduct\Helper\Data');
$_priceHelper = $this->helper('Magento\Framework\Pricing\Helper\Data');
$_helperCallForPrice = $this->helper('\Mageplaza\CallForPrice\Helper\Rule');
$_minExpectedPrice = $_product->getTypeInstance()->getMinExpectedPrice($_product->getId());
$_objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$request = $_objectManager->get('Magento\Framework\App\Request\Http');
//  Get Item Id from Page Cart
$param = $request->getParam('item_id');
$paramsavecart = $request->getParam('savecart_id');
$paramwishlist = $request->getParam('wishlist_id');
$paramshare = $request->getParam('share');
$_shareproductHelper = $_objectManager->get('\Knight\ShareProduct\Helper\Data');
?>
<?php if ($_helperCallForPrice->hideAddToCart($_product->getId())): ?>
    <?php if( empty($param) && empty($paramsavecart) && empty($paramwishlist) && empty($paramshare) ) { ?>
        <?php
        /*
         * Request Without Edit Cart
         * */
        ?>
        <div class="super-box-tocart clearfix">
            <div class="box-tocart">
                <div class="fieldset clearfix">
                    <div class="field qty hidden">
                        <label class="label" for="qty"><span><?= /* @escapeNotVerified */ __('Quantity') ?></span></label>
                        <div id="qty-<?php echo $_product->getId(); ?>" class="control" data-id="<?php echo $_product->getId(); ?>">
                            <input type="number" name="qty" id="qty"  class="input-text qty"
                                   title="<?= /* @escapeNotVerified */ __('Qty') ?>"
                                   value="<?= /* @escapeNotVerified */ $block->getProductDefaultQty() * 1 ?>"
                                   data-validate="<?= $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>" />
                            <div class="super-qty-inner">
                                <span class="super-plus plus"></span>
                                <span class="super-minus minus"></span>
                            </div>
                        </div>
                    </div>
                    <div class="field total-cost">
                        <label class="label" for="qty"><span><?= /* @escapeNotVerified */ __('Total Cost') ?></span></label>
                        <div class="control">
                            <input type="text" name="total-cost" id="total-cost"  class="input-text qty" value="<?= /* @escapeNotVerified */ __('$' . $_minExpectedPrice) ?>" disabled="disabled" />
                        </div>
                    </div>
                    <div class="actions">
                        <input type="button" class="btn action primary tocart" id="product-addtocart-button" data-request="0" value="<?= /* @escapeNotVerified */ $buttonTitle ?>" />
                        <div class="super-action-addto">
                            <?= $block->getChildHtml('', true) ?>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    <?php } else { ?>
        <?php
        /*
         * Without Edit Cart
         * */
        ?>
        <?php
        $data_request = 1;
        $_itemId = $request->getParam('item_id');
        if(!empty($_itemId)) {
            $buttonTitle = __('Update Cart');
            $_itemCollectionFactory = $_objectManager->get('Magento\Quote\Model\ResourceModel\Quote\Item\CollectionFactory')->create();
            $quoteItemCollection = $_itemCollectionFactory->addFieldToFilter('item_id', $_itemId)->getFirstItem();
            $_totalCost = $quoteItemCollection->getRowTotal() * $quoteItemCollection->getQty();
            $_totalQty = $quoteItemCollection->getQty();
        }else {
            if(!empty($paramsavecart)) {
                $data_request = 2;
                $savecartDetail = $block->getLayout()->createBlock('Brandsmith\SuperProduct\Block\Catalog\Product\View\Super')->getSaveCartDetail($paramsavecart);
                $buttonTitle = __('Update');
                if($savecartDetail) {
                    $_totalCost = $savecartDetail->getQuotePrdPrice() * $savecartDetail->getQuotePrdQty();
                    $_totalQty = $savecartDetail->getQuotePrdQty();
                }
            }else {
                if(!empty($paramshare)){
                    $data_request = 0;
                    $_totalCost = $_shareproductHelper->getTotalSpPrice($paramshare);
                    $_totalQty = 1;
                }else{
                    if(!empty($paramwishlist)) {
                        $data_request = 3;
                        $wishlistDetail = $block->getLayout()->createBlock('Brandsmith\SuperProduct\Block\Catalog\Product\View\Super')->getWishlistDetail($paramwishlist);
                        $buttonTitle = __('Update');
                        if(is_array($wishlistDetail)) {
                            $_totalCost = $wishlistDetail['price']* $wishlistDetail['qty'];
                            $_totalQty = $wishlistDetail['qty'];
                        }
                    }else {
                        $_totalCost = 0;
                        $_totalQty = 1;
                    }
                }
            }
        }

        ?>
        <div class="super-box-tocart clearfix">
            <div class="box-tocart">
                <div class="fieldset clearfix">
                    <div class="field qty hidden">
                        <label class="label" for="qty"><span><?= /* @escapeNotVerified */ __('Quantity') ?></span></label>
                        <div id="qty-<?php echo $_product->getId(); ?>" class="control" data-id="<?php echo $_product->getId(); ?>">
                            <input type="number" name="qty" id="qty"  class="input-text qty"
                                   title="<?= /* @escapeNotVerified */ __('Qty') ?>"
                                   value="<?= /* @escapeNotVerified */ $_totalQty ?>"
                                   data-validate="<?= $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>" />
                            <div class="super-qty-inner">
                                <span class="super-plus plus"></span>
                                <span class="super-minus minus"></span>
                            </div>
                        </div>
                    </div>
                    <div class="field total-cost">
                        <label class="label" for="qty"><span><?= /* @escapeNotVerified */ __('Total Cost') ?></span></label>
                        <div class="control">
                            <input type="text" name="total-cost" id="total-cost"  class="input-text qty" value="<?= /* @escapeNotVerified */ __($_priceHelper->currency($_totalCost, true, false)) ?>" disabled="disabled" />
                        </div>
                    </div>
                    <div class="actions">
                        <input type="button" class="btn action primary tocart" id="product-addtocart-button" data-request="<?php echo $data_request ?>" value="<?= /* @escapeNotVerified */ $buttonTitle ?>" />
                        <div class="super-action-addto">
                            <?= $block->getChildHtml('', true) ?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <?php } ?>
<?php endif;?>
<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "Magento_Catalog/js/validate-product": {}
        }
    }
</script>