<?php
$_helperImage = $this->helper('Knight\Theme\Helper\Image');
$_objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$request = $_objectManager->get('Magento\Framework\App\Request\Http');
$_product = $block->getCurrentProduct();

//  Get Item Id from Page Cart
$param = $request->getParam('item_id');
$paramsavecart = $request->getParam('savecart_id');
$paramwishlist = $request->getParam('wishlist_id');
$paramshare = $request->getParam('share');
$_shareproductHelper = $_objectManager->get('\Knight\ShareProduct\Helper\Data');

//  Base Product
$_baseProduct = $block->getBaseProductId($_product->getId());
$_baseName = $_baseProduct->getName();
$_baseSku = $_baseProduct->getSku();
$_baseId = $_baseProduct->getProductId();
$_baseAttribute = $_baseProduct->getBaseAttribute();


$_productDefaultImageUrl = $block->getProductDefaultImageUrl();
$_productDefaultImage = $block->getProductDefaultImage($_product->getId(), $_baseId, $_baseAttribute);
$_data = $_productDefaultImage->getData();

if(count($_data) > 0) {
    $_image = $_productDefaultImageUrl . $_data['image'];
} else {
    $_image = $_helperImage->getSuperProductPlaceholderImage();
}

$superProductId = $_product->getId();
$sku = $_baseSku;
$attribute = '';
$baseDefaultOptions = $_product->getTypeInstance()->getPngDefaultOptions($superProductId, $sku, $attribute);
$baseDefaultOptionsData = isset($baseDefaultOptions) ? $baseDefaultOptions->getData() : array();
$_baseAttributeDefaultId = null;

// Require Add-on
$_listsRequireAddOn = $_product->getTypeInstance()->getListsRequireAddOn($superProductId);

$_defaultOptions = '';
$addOnDefaultOptions = array();
$_listsRequireAddOnData = $_listsRequireAddOn->getData();

foreach ($_listsRequireAddOnData as $_listsRequireAddOn) {
    $sku = $_listsRequireAddOn['sku'];
    $_defaultOptions = $_product->getTypeInstance()->getPngDefaultOptions($superProductId, $sku, $attribute);
    $_defaultOptionsData = isset($_defaultOptions) ? $_defaultOptions->getData() : array();

    foreach ($_defaultOptionsData as $_defaultOptions) {
        $addOnDefaultOptions[] = array (
            'super_product_id' => $_defaultOptions['super_product_id'],
            'sku' => $_defaultOptions['sku'],
            'product_id' => $_listsRequireAddOn['product_id'],
            'attribute' => $_defaultOptions['attribute'],
            'base_attribute' => $_defaultOptions['base_attribute'],
            'default_option' => $_defaultOptions['default_option'],
            'position' => $_defaultOptions['position'],
            'multi_layer' => $_defaultOptions['multi_layer']
        );
    }
}
?>
<?php if( empty($param) && empty($paramsavecart)  && empty($paramwishlist) && empty($paramshare)) {?>
    <?php
    /*
     * Request Without Edit Cart
     * */
    ?>
    <div class="fotorama-item">
        <div class="super-main-img-zoom"></div>
        <div class="super-main-img" style="position: relative;">
            <?php // Base Default Images ?>
            <?php foreach ($baseDefaultOptionsData as $baseDefaultOption) { ?>
                <?php
                $superProductId = $baseDefaultOption['super_product_id'];
                $_sku = $baseDefaultOption['sku'];
                $productId = $_baseId;
                $attribute = $baseDefaultOption['attribute'];
                $_baseAttribute = $baseDefaultOption['base_attribute'];
                $option = $baseDefaultOption['default_option'];
                $_position = $baseDefaultOption['position'];

                if($attribute == $_baseAttribute ) {
                    $_baseAttributeDefaultId = $option;
                    $_imgBaseUrl = $_product->getTypeInstance()->getBaseDefaultImageOptions($superProductId, $productId, $attribute, $_baseAttribute, $option, $_baseAttributeDefaultId);
                } else {
                    $_imgBaseUrl = $_product->getTypeInstance()->getBaseDefaultImageOptions($superProductId, $productId, $attribute, $_baseAttribute, $option, $_baseAttributeDefaultId);
                }
                ?>
                <?php if( !empty($_imgBaseUrl) ) { ?>
                    <img src="<?php echo $_imgBaseUrl; ?>" class="super-image <?php echo $attribute.$_sku; ?> super-<?php echo $_baseId; ?>" data-code="<?php echo $attribute; ?>"  data-position="<?php echo $_position; ?>"  style="z-index: <?php echo $_position; ?>" />
                <?php } ?>
            <?php } ?>

            <?php // Add-on Default Images


            ?>

            <?php foreach( $addOnDefaultOptions as $_addOnDefault ) { ?>
                <?php
                $superProductId = $_addOnDefault['super_product_id'];
                $_sku = $_addOnDefault['sku'];
                $productId = $_addOnDefault['product_id'];
                $attribute = $_addOnDefault['attribute'];
                $_baseAttribute = $_addOnDefault['base_attribute'];
                $option = $_addOnDefault['default_option'];
                $_position = $_addOnDefault['position'];
                $area = $_addOnDefault['multi_layer'];

                $_getPngDependencyRule = $_product->getTypeInstance()->getPngDependencyRule($superProductId, $_sku, $attribute);
                if( is_object($_getPngDependencyRule) && !empty($_getPngDependencyRule->getData()) ) {
                    $_PngDependencyRuleAttribute = $_getPngDependencyRule->getAttribute();
                    $_PngDependencyRuleDefaultOption = $_getPngDependencyRule->getDefaultOption();
                    $_imgAddOnUrl = $_product->getTypeInstance()->getPngLayerImageUrlWithRule($superProductId, $productId, $attribute, $_baseAttribute, $_PngDependencyRuleAttribute, $option, $_baseAttributeDefaultId, $_PngDependencyRuleDefaultOption, $area);
                } else {
                    $_imgAddOnUrl = $_product->getTypeInstance()->getPngLayerImageUrl($superProductId, $productId, $attribute, $_baseAttribute, $option, $_baseAttributeDefaultId, $area);
                }
                ?>
                <?php if( !empty($_imgAddOnUrl) ) { ?>
                    <img src="<?php echo $_imgAddOnUrl; ?>" class="super-image <?php echo $attribute.$_sku; ?> super-<?php echo $productId; ?>" data-code="<?php echo $attribute; ?>" data-position="<?php echo $_position; ?>" style="z-index: <?php echo $_position; ?>" />
                <?php } ?>
            <?php } ?>
        </div>

        <img class="super-default-img" src="<?php echo $_image; ?>" style="opacity: 0 !important;" />
        <input type="hidden" id="product-merged-image" value="" />
        <input type="hidden" id="product-merged-image_thumnail" value="" />
    </div>
<?php } else { ?>
    <?php
    /*
     * Request Edit Cart
     * */
    ?>
    <?php

        $_itemId = $request->getParam('item_id');
        if(!empty($_itemId)) {
            $_SuperCustomOption = $block->getSuperCustomOption($_itemId, $superProductId);
        }else {
            if(!empty($paramshare)) {
                $_SuperCustomOption = $_shareproductHelper->getSuperCustomOption($paramshare, $superProductId);
            }else{
                if(!empty($paramsavecart)) {
                    $_SuperCustomOption = $block->getSuperCustomOptionSavecart($paramsavecart);
                }else {
                    if(!empty($paramwishlist)) {
                        $_SuperCustomOption = $block->getSuperCustomOptionSavecart($paramwishlist, 1);
                    }
                }
            }
        }

        $_super_attributes = $_SuperCustomOption['super_attributes'];
        $_baseOptionSelected = $_product->getTypeInstance()->getBaseOptionSelected($superProductId, $_super_attributes);
        $_imagesUrlCollection = array();
        $superImage = isset($_SuperCustomOption['super_product_img']) ? $_SuperCustomOption['super_product_img'] : "";

        foreach ($_super_attributes as $_productInfo) {
            $_productId = $_productInfo['product_id'];
            $_skuProduct = $_productInfo['product_sku'];
            $_attributesInfo = $_productInfo['option_selected'];
            $_galleryImagesRequestUpdate = $_product->getTypeInstance()->getGalleryImagesRequestUpdate($superProductId, $_productId, $_baseOptionSelected, $_attributesInfo, $_skuProduct);
            $_imagesUrlCollection[] = $_galleryImagesRequestUpdate;
        }

    ?>
    <div class="fotorama-item">
        <div class="super-main-img-zoom"></div>
        <div class="super-main-img" style="position: relative;">
            <?php foreach ($_imagesUrlCollection as $_imagesData) { ?>
                <?php foreach ($_imagesData as $_imageItem) { ?>
                    <?php if( !empty($_imageItem['img_url']) ) { ?>
                        <img src="<?php echo $_imageItem['img_url']; ?>" class="super-image <?php echo $_imageItem['attribute_code'].$_imageItem['product_sku']; ?> super-<?php echo $_imageItem['product_id']; ?>" data-code="<?php echo $_imageItem['attribute_code']; ?>" data-position="<?php echo $_imageItem['position']; ?>" style="z-index: <?php echo $_imageItem['position']; ?>" />
                    <?php } ?>
                <?php } ?>
            <?php } ?>
        </div>

        <img class="super-default-img" src="<?php echo $_image; ?>" style="opacity: 0 !important;" />
        <input type="hidden" id="product-merged-image" value="" />
    </div>
<?php } ?>


<div class=" download-super-product "><a href='#'><?php echo __('Download Image'); ?></a></div>

<?php 
    echo $block->getLayout()->createBlock('Knight\ShareProduct\Block\ShareButton')->setTemplate('Knight_ShareProduct::button_shareproduct.phtml')->toHtml();
?>

<script type="text/javascript">
    require(['jquery'], function($) {
        var superMedia =  $('#super-media');
        var lastScrollTop = 0;
        var lastSuperScrollTop = 0;
        
        superMedia.css("transform", "translate3d(0px, 0px, 0px)");
        
        $(window).scroll(function() {
            var superMediaHeight = superMedia.height();
            var st = $(this).scrollTop();
            var viewportWidth  = $(window).width();
            var hmessenger = $('.page.messages').outerHeight();
            var startSuperMediaTop = $('.column.main').offset().top;
            var endSuperMediaTop = $('.detailed').offset().top;
            var scrollTopHeight = st + superMediaHeight - hmessenger + 50;
            var limbot = endSuperMediaTop - superMediaHeight - 50;
            var ss = (hmessenger > 0)? hmessenger + 40 : hmessenger;
            var k = ((st - ss ) > 0) ? (st - ss) : 0;

            if(viewportWidth  >= 1200) {
                if (st  >= lastScrollTop) {
                    if(st + 110 >= startSuperMediaTop && (st + 110)<= limbot){
                        var alpha = ( hmessenger > 0 ) ? (hmessenger + 40) : 0;
                        var k = st - alpha;
                        superMedia.css("transform", "translate3d(0px, "+ k +"px, 0px)");
                        lastSuperScrollTop = st;
                    }
                } else {
                    if(st + 110 <= limbot) {
                        superMedia.css("transform", "translate3d(0px, "+k+"px, 0px)");
                    }
                }
                lastScrollTop = st;
            }else{
                superMedia.css("transform", "translate3d(0px, 0px, 0px)");
            }
        });
    });
</script>
<div class="wrapper-lds-roller">
    <div class="lds-roller-bg">
        <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>
</div>