<?php
$_helperImage = $this->helper('Knight\Theme\Helper\Image');
$_helperSuper = $this->helper('Brandsmith\SuperProduct\Helper\Data');
$_jsonHelper = $this->helper('Magento\Framework\Json\Helper\Data');
$_objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$request = $_objectManager->get('Magento\Framework\App\Request\Http');

$_product = $block->getCurrentProduct();
$_imageUrl = $_helperImage->getMediaUrl();

//  Base Product
$_baseProduct = $block->getBaseProductId($_product->getId());
$_baseName = $_baseProduct->getName();
$_baseSku = $_baseProduct->getSku();
$_baseId = $_baseProduct->getProductId();
$_baseAttribute = $_baseProduct->getBaseAttribute();

//  Addon Items
$_listAddon = $block->getListsAddonBySuperProductId($_baseProduct->getSuperProductId());
$_configProduct = $block->getProductById($_baseId);

//  Get All Attributes of BaseProduct
$configurableAttributes = $block->getAttributesFromConfigurable($_configProduct);

//  Get First Attribute of Base Product
$_entityType = 'catalog_product';
$_attributes = $block->getAttributeInfo($_entityType, $_baseAttribute);
$_attribute = $_attributes->getData();

//  Get Item Id from Page Cart
$param = $request->getParam('item_id');
$paramsavecart = $request->getParam('savecart_id');
$paramwishlist = $request->getParam('wishlist_id');
$paramshare = $request->getParam('share');
$_shareproductHelper = $_objectManager->get('\Knight\ShareProduct\Helper\Data');
?>

<div class="base-wrapper options-wrapper">
    <div id="super-<?= $_baseId; ?>" class="super-box-content">
        <div class="super-item-name">
            <div class="product-title">
                    <h3 class="close-expanded">
                        <strong><?php echo __($_baseName); ?></strong></h3>
                    <a href="<?= $_configProduct->getProductUrl()?>" class="super-icon-info" target="_blank"></a>
                </div>
                <a class="super-icon-arrow close-expanded"></a> 
            </div>
        <div class="super-item-inner">
            <div class="super-item image-sku">
                <?php
                    echo $_baseProduct->getSis() !== 0 ? $this->getLayout()->createBlock('Brandsmith\TrafficLightStock\Block\Display')->setTemplate('Brandsmith_TrafficLightStock::product_gauge.phtml')->setData('product', $_configProduct)->toHtml() : '';
                ?>
                <?php if(empty($param)) { ?>
                    <?php 
                        $_product_final_price = $_baseProSku ='';
                        if(!empty($paramwishlist)) {
                            $_childProductId = $_baseProduct->getProductId();
                            $_childSuperAttributes = $block->getChildSuperSavecartAttributes($paramwishlist, $_childProductId, 1 );
                            if(!empty($_childSuperAttributes) ) {
                                $_attribute_info_int = $_helperSuper->getAttributesInfo($_childSuperAttributes);
                                $_simple_product = $_product->getTypeInstance()->getSimpleProductByAttributes($_attribute_info_int, $_baseSku);
                                $_baseProSku = $_simple_product->getSku();
                                $_product_final_price = $_simple_product->getPriceInfo()->getPrice('final_price')->getAmount()->getValue();
                            }
                        }else {
                            if(!empty($paramshare)){
                                $shareproduct_id = $paramshare;
                                $_childProductId = $_baseProduct->getProductId();
                                $_childSuperAttributes = $_shareproductHelper->getChildSuperAttributes($shareproduct_id, $_childProductId);
                                $_childSuperAttributesDisable = $_shareproductHelper->getChildSuperAttributesDisable($shareproduct_id, $_childProductId);
                                //$_childSuperCustomQuantity = $_shareproductHelper->getChildSuperCustomQuantity( $shareproduct_id, $_childProductId);
                                if(!empty($_childSuperAttributes) ) {
                                    $_attribute_info_int = $_helperSuper->getAttributesInfo($_childSuperAttributes);
                                    $_simple_product = $_product->getTypeInstance()->getSimpleProductByAttributes($_attribute_info_int, $_baseSku);
                                    $_baseProSku = $_simple_product->getSku();
                                    $_product_final_price = $_simple_product->getPriceInfo()->getPrice('final_price')->getAmount()->getValue();
                                }
                            }
                        }   
                    ?>
                    <div class="super-item-sku"><p>SKU: <?php echo ($_baseProSku)? $_baseProSku : $_baseSku; ?></p></div>
                    <?php 
                        $customerSession = $_objectManager->get('Magento\Customer\Model\Session');
                    ?>
                    <div class="super-item-price"><p><?php echo __('Price: '); ?><span><?php if($_product_final_price && $customerSession->isLoggedIn()){ echo "$".$_product_final_price;} ?></span></p></div>
                <?php } else { ?>
                    <?php
                        $_simple_product = false;
                        $_product_final_price = false;
                        $_itemId = $request->getParam('item_id');
                        $_superProductId = $_baseProduct->getSuperProductId();
                        $_childProductId = $_baseProduct->getProductId();

                        $_childSuperAttributes = $block->getChildSuperAttributes($_itemId, $_superProductId, $_childProductId);
                        $_childSuperCustomQuantity = $block->getChildSuperCustomQuantity($_itemId, $_superProductId, $_childProductId);
                        if(!empty($_childSuperAttributes) ) {
                            $_attribute_info_int = $_helperSuper->getAttributesInfo($_childSuperAttributes);
                            $_simple_product = $_product->getTypeInstance()->getSimpleProductByAttributes($_attribute_info_int, $_baseSku);
                            $_product_final_price = $_simple_product->getPriceInfo()->getPrice('final_price')->getAmount()->getValue();
                        }
                        $_simple_productSku = $_baseSku;

                        if($_simple_product){ $_simple_productSku = $_simple_product->getSku(); }
                    ?>
                    <div class="super-item-sku"><p><?php echo __('SKU: ' . $_simple_productSku); ?></p></div>
                    <div class="super-item-price"><p><?php echo __('Price: '); ?><span>$<?= $_product_final_price ?></span></p></div>
                <?php } ?>
            </div>

            <?php
                /**
                 *   Display First Attribute of Base Product
                 */
                if($_attribute['additional_data']) {
                    $_additionalData = $_jsonHelper->jsonDecode($_attribute['additional_data']);
                    $_firstData = array('attribute_code' => $_baseAttribute, 'base_product' => $_baseId, 'additional_data' => $_additionalData['swatch_input_type']);
                } else {
                    $_firstData = array('attribute_code' => $_baseAttribute, 'base_product' => $_baseId, 'additional_data' => 'select');
                }
                $block->getChildBlock('knight.super.product.attribute.first.attribute')->setData('data_swatch', $_firstData);
                echo $this->getChildHtml('knight.super.product.attribute.first.attribute', false);
            ?>

            <?php
            /**
             *   Display Remaining Attributes of Base Product
             */
                $block->getChildBlock('knight.super.product.attribute.remaining.attributes')->setData('configurable_attributes', $configurableAttributes);
                echo $this->getChildHtml('knight.super.product.attribute.remaining.attributes', false);
            ?>
        </div>
        <?php if(empty($param) && empty($paramsavecart) && empty($paramwishlist)  && empty($paramshare) ) { ?>
            <?php
            /*
             * Request Without Edit Cart
             * */
            ?>
            <div class="super-box-tocart clearfix">
                <div class="box-tocart">
                    <div class="fieldset clearfix">
                        <div class="field qty">
                            <label class="label" for="qty"><span><?= /* @escapeNotVerified */ __('Item Quantity') ?></span></label>
                            <div id="control-<?= $_baseId; ?>" class="control" data-id="<?= $_baseId; ?>">
                                <input type="number" name="item-qty" class="input-text qty super-addon-qty option-selected"
                                       title="<?= /* @escapeNotVerified */ __('Item Quantity') ?>"
                                       value="1"
                                       data-id="<?= $_baseId; ?>"
                                       data-validate="<?= $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>" />
                                <div class="super-qty-inner">
                                    <span class="add-on-plus plus"></span>
                                    <span class="add-on-minus minus"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" data-sku="<?php echo $_baseSku; ?>" data-id="<?php echo $_baseId; ?>" data-quantity="<?php echo $_baseProduct->getQty(); ?>" class="product-total-cost total-selected" value="" />
            <input type="hidden" id="step-required-<?= $_baseId; ?>" class="step-required" value="0" />
        <?php } else { ?>
            <?php
            /*
             * Request Edit Cart
             * */
            ?>
            <?php
            $_itemId = $request->getParam('item_id');
            $_superProductId = $_baseProduct->getSuperProductId();
            $_childProductId = $_baseProduct->getProductId();
            $_childSuperCustomQuantity = 1;

            if(!empty($_itemId)) {
                $_childSuperAttributes = $block->getChildSuperAttributes($_itemId, $_superProductId, $_childProductId);
                $_childSuperCustomQuantity = $block->getChildSuperCustomQuantity($_itemId, $_superProductId, $_childProductId);
            }else {
                if(!empty($paramshare)){
                    $_childSuperAttributes = $_shareproductHelper->getChildSuperAttributes($shareproduct_id, $_childProductId);
                    $_childSuperCustomQuantity = $_shareproductHelper->getChildSuperCustomQuantity($shareproduct_id, $_childProductId);
                }else {
                    if(!empty($paramsavecart)) {
                        $_childSuperCustomQuantity = $block->getChildSuperCustomQuantity($_itemId, $_superProductId, $_childProductId, $paramsavecart);
                        $_childSuperAttributes = $block->getChildSuperSavecartAttributes($paramsavecart, $_childProductId);
                    }else {
                        if(!empty($paramwishlist)) {
                            $_childSuperCustomQuantity = $block->getChildSuperCustomQuantity($_itemId, $_superProductId, $_childProductId, $paramwishlist, 1);
                            $_childSuperAttributes = $block->getChildSuperSavecartAttributes($paramwishlist, $_childProductId, 1 );
                        }
                    }
                }
            }

            $_attribute_info_int = null;
            $_childProduct = null;
            $_product_final_price = null;
            if(!empty($_childSuperAttributes) ) {
                $_attribute_info_int = $_helperSuper->getAttributesInfo($_childSuperAttributes);
                $_simple_product = $_product->getTypeInstance()->getSimpleProductByAttributes($_attribute_info_int, $_baseSku);
                $_product_final_price = $_simple_product->getPriceInfo()->getPrice('final_price')->getAmount()->getValue();
            }
            ?>
            <div class="super-box-tocart clearfix">
                <div class="box-tocart">
                    <div class="fieldset clearfix">
                        <div class="field qty">
                            <label class="label" for="qty"><span><?= /* @escapeNotVerified */ __('Item Quantity') ?></span></label>
                            <div id="control-<?= /* @escapeNotVerified */ $_childProductId ?>" class="control" data-id="<?= /* @escapeNotVerified */ $_childProductId ?>">
                                <input type="number" name="item-qty" class="input-text qty super-addon-qty option-selected"
                                       title="<?= /* @escapeNotVerified */ __('Item Quantity') ?>"
                                       value="<?= /* @escapeNotVerified */ $_childSuperCustomQuantity?>"
                                       data-id="<?= /* @escapeNotVerified */ $_childProductId ?>"
                                       data-validate="<?= /* @escapeNotVerified */ $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>" />
                                <div class="super-qty-inner">
                                    <span class="add-on-plus plus"></span>
                                    <span class="add-on-minus minus"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" data-sku="<?php echo $_baseSku; ?>" data-id="<?php echo $_baseId; ?>" data-quantity="<?php echo $_childSuperCustomQuantity; ?>" class="product-total-cost total-selected" value="<?php if(!empty($_childSuperAttributes) ) {echo $_product_final_price;} ?>" />
            <input type="hidden" id="step-required-<?= $_baseId; ?>" class="step-required" value="1" />
        <?php } ?>
    </div>
</div>

<?php
/*
 *   Add-on Products
 *
 * **/
?>
<?php foreach($_listAddon as $_item) { ?>
    <?php if($_item->getType() == 'simple') { ?>
        <?php
            $block->getChildBlock("knight.super.product.addon.simple")->setData("item", $_item);
            echo $this->getChildHtml("knight.super.product.addon.simple", false);
        ?>
    <?php } ?>

    <?php if($_item->getType() == 'configurable') { ?>
        <?php
            $block->getChildBlock("knight.super.product.addon.configurable")->setData("item", $_item);
            echo $this->getChildHtml("knight.super.product.addon.configurable", false);
        ?>
    <?php } ?>
<?php } ?>