<?php
$_helperImage = $this->helper('Knight\Theme\Helper\Image');
$_product = $block->getProduct();

$_imageUrl = $_helperImage->getMediaUrl();
$_baseName = 'Base Product';
// Instance of Object Manager
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();

// Instance of Pricing Helper
$priceHelper = $objectManager->create('Magento\Framework\Pricing\Helper\Data');
$helperDataCFP = $objectManager->get('\Mageplaza\CallForPrice\Helper\Data');
$helperRuleCFP = $objectManager->get('\Mageplaza\CallForPrice\Helper\Rule');
$isLoggedIn = $helperDataCFP->getCustomerLogedIn();
$productId  = $_product->getId();
$validateProductInRule = $helperRuleCFP->validateProductInRuleAvailable($productId);
$html_super_info_price = '<div class="super-info-price">
    <span>'. __('FROM').'</span>
    <span>'.$priceHelper->currency($_product->getSuperPrice(), true, false).'</span>
</div>'

?>
<div class="row">
    <div class="col-md-12">
        <h1 class="super-product-title"><?php echo $_product->getName(); ?></h1>
    </div>
    <div class="col-md-12">
        <?= $block->getReviewsSummaryHtml($block->getProduct(), false, true); ?>
    </div>
    <div class="col-md-6">
            <?php if (!$validateProductInRule || !$helperDataCFP->isEnabled()) {
                echo $html_super_info_price;
            }else{
                $action = $validateProductInRule->getAction();
                $buttonTitle = $validateProductInRule->getButtonLabel() ?: __('Call For Price');
                if ($action != 'hide_add_to_cart') {
                    /** case actions are login to see price, popup get quote and redirect url*/
                    if ($action == 'login_see_price' && $isLoggedIn) {
                        echo $html_super_info_price;
                    }else{
                        /** case action is hidden add to cart button*/
                        $style_cfp_html = '<style type="text/css">
                            .stock.available span {
                                display: none !important;
                            }
                            .product-item-actions .actions-primary, .mp_tac_label {
                                display: inline !important;
                            }
                        </style>';
                        $button_cfp_html = '<div class="callforprice-action callforprice-action-'.$productId.'">
                            <button type="button" title="'.$buttonTitle.'" class="action tocart primary" id="product-callforprice-'.$productId.'">
                                <span>'.$buttonTitle.'</span>
                            </button>
                        </div>';
                        $jstranfer = '<script type="text/x-magento-init">
                        {
                            ".callforprice-action-'.$productId.'": {
                                "validation": {},
                                "Mageplaza_CallForPrice/js/rule":{
                                    "productId": "'.$productId.'",
                                    "action": "'.$action.'",
                                    "url_redirect_type": "'.$validateProductInRule->getUrlRedirect().'",
                                    "customer_loged_in": "'.$helperDataCFP->getCustomerLogedIn().'",
                                    "show_fields": "'.$validateProductInRule->getShowFields().'",
                                    "required_fields": "'.$validateProductInRule->getRequiredFields().'",
                                    "tac_check_default": "'.$helperDataCFP->getTACDefaultCheckedConfig().'",
                                    "tac_required": "'.$helperDataCFP->getTACRequiredConfig().'",
                                    "tac_label": "'.$helperDataCFP->getTACLabel().'",
                                    "request_form_url": "'.$helperDataCFP->getRequestQuoteUrl().'",
                                    "enable_terms": "'.$validateProductInRule->getEnableTerms().'",
                                    "customer_group_id": "'.$helperDataCFP->getCustomerGroupId().'",
                                    "quote_heading": "'.$validateProductInRule->getQuoteHeading().'",
                                    "loginUrl": "'.$helperDataCFP->getLoginUrl().'",
                                    "quote_description": "'.$validateProductInRule->getQuoteDescription().'"
                                }
                            }
                        }
                        </script>';
                        echo $button_cfp_html . $jstranfer . $style_cfp_html;
                    }
                }else{
                    echo $html_super_info_price;
                }
            }?>
            
    </div>
    <div class="col-md-6">
        <div class="super-stock-sku">
            <strong class="text-uppercase"><?php echo __('In Stock'); ?></strong>
            <p class="text-uppercase"><?php echo __('SKU#: '); ?><?php echo $_product->getSku(); ?></p>
        </div>
    </div>

</div>
