// /**
//  * Copyright © 2016 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________
@media (min-width: 992px) and (max-width: 1366px) {
  	.desktopMenu {
	  	li.hasChildren:nth-of-type(2) {
	  		.submenu{
				height: 560px;
				overflow: scroll;
	  		}
	  	}
  	}
}