//
//  Variables
//  _____________________________________________

//
//  Theme color
//  ---------------------------------------------

//Variables
@knight-blue: rgb(138,201,218);
@knight-purple: rgb(124,132,190);
@knight-pink: rgb(229,205,223);
@knight-orange: rgb(236,188,159);
@knight-green: rgb(184,221,176);
@knight-yellow: rgb(255,234,130);
@knight-blue-o: rgba(138,201,218,0.8);
@knight-purple-o: rgba(124,132,190,0.8);
@knight-pink-o: rgba(229,205,223,0.8);
@knight-orange-o: rgba(236,188,159,0.8);
@knight-green-o: rgba(184,221,176,0.8);
@knight-yellow-o: rgba(255,234,130,0.8);
@knight-blue-o2: rgba(138,201,218,0.9);
@knight-purple-o2: rgba(124,132,190,0.9);
@knight-pink-o2: rgba(229,205,223,0.9);
@knight-orange-o2: rgba(236,188,159,0.9);
@knight-green-o2: rgba(184,221,176,0.9);
@knight-yellow-o2: rgba(255,234,130,0.9);
@default-color: #555;
@color_primary: #e01222;


//
//  @todo move to search.less file
//  ---------------------------------------------
.main {
    .mst-scroll__button {
        clear: left;
    }
}
.searchbox-header {
    display: inline-block;
    float: none;
    padding: 0;

    .block-search {
        padding-left: 0;

        .control {
            padding: 0 0 0;

            .actions {
                display: none;
            }
        }
    }
}
.label {
    color: #333;
}
.catalog-product-view {
    .product-options-bottom {
        .box-tocart {
            .fieldset {
                .qty {
                    .label {
                        display: none;
                    }
                }
            }
        }
    }
}

.form-address-edit .field {
    .city {
        margin-bottom: 0;
    }

    .delivery_home #delivery_home {
        position: relative;
        top: 3px;
    }
}

.fieldset > .field.choice:before, .fieldset > .field.no-label:before {
    width: 0;
    padding: 0;
}

.checkout-index-index .modal-popup .field-tooltip .field-tooltip-content{
    width: 225px;
}

body .promobar .promobar-close {
    font-size: 22px;
}

body .promobar .promobar-close:before {
    content: '\e616';
    font-family: 'icons-blank-theme';
}

.bss_quickview-catalog_product-view {
    .desktop_bar, .mobile_bar{
         display: none!important;
    }
}

.home-listing .slick-track {
    display: flex !important;
}

.home-listing .slick-slide {
    height: inherit !important;
}

.home-listing .slick-slide .home-item {
    height: 100%;
    position: relative;
    padding-bottom: 45px;
}

.home-listing .slick-slide .home-item a.btn {
    display: inline-block;
    position: absolute;
    bottom: 0;
}

.home-listing .slick-prev.slick-arrow {
    top: 50%;
}

.home-listing .slick-next.slick-arrow {
    top: 50%;
}

.home-listing .slick-dots {
    bottom: -35px;
}

.catalog-product-view {
    .product-info-main .product-gauge .gauge-note{
        z-index: 101;
    }
}

.search-autocomplete .amsearch-results {
    .price-box {
        display: none;
    }
}
//
//  Desktop
//  _____________________________________________
@media (min-width: 1700px) {
    .searchbox-header {
        .block-search {
            width: 270px !important;
        }
    }
}

@media (min-width: 992px) and (max-width: 1300px) {
    .searchbox-header {
        width: 100%;
        .block-search {
            width: 100%;
        }

    }
}
@media (min-width: 768px) {
    .searchbox-header {
        .block-search {
            width: 250px;
        }
    }
    .blogblog {
        .blogTitle {
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            height: auto;
            font-size: 1.9vw;
        }
    }
    .modal-popup {
        &._inner-scroll {
            .modal-content {
                height: 300px;
            }
        }
    }
    .catalog-product-view {
        .super-item-name {
            .product-title .super-icon-info{
                right: 35px;
            }

            h3 {
                padding-right: 70px;
            }
        }
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    
    .resourcebut {
        &:nth-child(4n+1) {
            clear: none;
        }
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    .teamM {
        &:nth-child(2n+1) {
            clear: left;
        }
    }
}
@media (max-width: 1200px) {
    .catalog-product-view {
        .container {
            .col-lg-12 {
                clear: left;
            }
        }
    } 
}
@media (max-width: 496px) {
    .blog-post-view {
        .page-wrapper {
            .header-top-wrapper {
                padding: 0;
            }
        }
    }
    .post-view {
        .post-content {
            .post-description {
                .post-ftimg-hld {
                    margin: 0 auto;
                }
            }
        }
    }
}
@media (max-width: 768px) {
    .blog-post-view {
        &.page-layout-1column {
            .header-top-wrapper {
                margin-top: 30px;
            }
        }
    }
    .products-grid {
      .product-item-photo {
        display: block;
        height: auto;
      }
    }
    .page-product-configurable {
        .product-info-main {
            .product-options-bottom {
                .box-tocart {
                    .fieldset {
                        .field {
                            &.qty {
                                float: none;
                            }
                        }
                    }
                }
            }
        }
    }
    .page-wrapper .searchbox-header
    {
        .block-content{
            position: relative;
        }
        .block-search{
            .control input{
                max-width: 100%;
                height: 40px;
            }
        } 
    } 
    .catalog-product-view {
        .base-wrapper .super-item-name h3{
            padding-right: 35px;
        }
        .super-item-name h3 {
            padding-right: 35px;
        }
        .super-item-name .product-title {
            max-width: calc(~"100% - 30px");
            .super-icon-info {
                right: 0;
            }
        }
    }
    
}
@media (min-width: 1024px) and (max-width: 1300px) {
   .bss-onestepcheckout {
        #opc-sidebar {
            .discount-code {
                #discount-form {
                    .payment-option-inner {
                        width: 46%;
                    }
                }
            }
        }
   } 
}
@media (min-width: 1200px) and (max-width: 1300px) {
    .catalog-category-view {
        .category-view {
            .col-lg-2 {
                width: 25%;
            }
        }
    }
}


.catalog-product-view {
    .super-box-content:not(.disabled) {
        .super-icon-info {
            z-index: 100;
        }
    }
	.super-icon-info {
		background: unset;
		color: #00000096;
		padding: 20px 8px;
		top: 0;
		position: unset;
		&:before {
			content: "\f08e";
			font-family: FontAwesome;
			font-size: 20px;
		}
	}
	.super-item-name {
		h3 {
            padding-left: 40px;
            z-index: -1;
            display: inline-block;
            position: relative;
            left: unset;
		}
        .product-title {
            display: inline-block;
            position: relative;
            .super-icon-info {
                position: absolute;
                top: 10px;
                height: 20px;
                width: 25px;
                text-align: center;
                padding: 0;
            }
        }
	}
	.base-wrapper {
		.super-item-name {
			h3 {
                padding-left: 0;
                left: unset;
			}
		}
	}
	
    .super-box-content.disabled {
        .close-expanded {
            z-index: unset;
        }
        .super-icon-info {
            z-index: unset;
        }
    }
}
@media (min-width: 376px) and (max-width: 415px) {
	.catalog-product-view {
		.product-info-main {
			.product-gauge {
				.gauge.gauge-high {
					padding-bottom: 27%;
				}
				.gauge.gauge-medium {
					padding-bottom: 27%;
				}
				.gauge.gauge-low {
					padding-bottom: 27%;
				}
			}
		}
	}
}
@media (max-width: 376px) {
	.catalog-product-view {
		.product-info-main {
			.product-gauge {
				.gauge.gauge-high {
					padding-bottom: 27%;
				}
				.gauge.gauge-medium {
					padding-bottom: 27%;
				}
				.gauge.gauge-low {
					padding-bottom: 27%;
				}
			}
		}
	}
}

