//
//  Variables
//  _____________________________________________

//  Common
//  ---------------------------------------------
//
& when (@media-common = true) {
  .checkout-container {
    .field {
      .label {
        color: #555;
        font-size: 100%;
        border: none;
      }
    }
  }
  .checkout-cart-index {
    .header-top-wrapper {
      display: none;
    }
    .cartItem {
      .field.qty {
        .label {
          display: none;
        }
      }
      .o-price {
        display: none;
      }
      .o-qty {
        display: none;
      }
      .product-item-action{
        display: inline-block;
        float: left;
        width: 10%;
        margin-top: 20px;
        position: relative;
        input.item-action-remove{
          position: absolute;
          opacity: 0;
          cursor: pointer;          
        }
        input.item-action-remove:checked ~ .checkmark {
          background-color: #8ac9da;
        }
        .checkmark{
          position: absolute;
          top: 0;
          left: 0;
          height: 25px;
          width: 25px;
          background-color: transparent;
          border: 1px solid #8ac9da;

          &:after {
            content: "";
            position: absolute;
            left: 9px;
            top: 4px;
            width: 7px;
            height: 12px;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            display: none;
          }
        }
        input.item-action-remove:checked ~ .checkmark:after {
          display: block;
        }
      }
      .product-item-details {
        width: 90%;
      }
    }
    .cartTitle {
      a {
        color: #1979c3;
      }
    }
    .cart.table-wrapper {
      .product-item-photo {
        top:0;
      }
    }
    .cart-container {
      width: 100%;
      max-width: 1500px;
      margin: 0 auto;
      padding-left: 15px;
      padding-right: 15px;

      .cartItem {
        .product-item-details {
            overflow-wrap: break-word;
        }
      }
    }
  }
  .checkout-onepage-success {
    .column.main {
      max-width: 1500px;
      margin: 0 auto;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  .bss-onestepcheckout {
    .mark {
      background: transparent;
    }
    .opc-wrapper {
      #payment {
        input[type="radio"] {
          display: inline-block;
        }
      }
    }
    #opc-sidebar {
      .label {
        font-size: 100%;
        padding: 0 !important;
        color: #555;
        font-weight: 300;
      }
    }
    .block-customer-login {
      .block-content {
        padding: 15px;
      }
    }
  }
  .sharecart-index-viewcart,.savecartpro-customer-viewcart {
    .cartItem .sm-block{
      display: none;
    }
  }
  .checkout-container {
    .field {
      .label {
        font-weight: normal;
      }
    }
    .authentication-wrapper {
      margin-bottom: 10px;
    }
  }
  #delivery_home_email.mage-error {
    border-color: #ed8380;
  }
  #delivery_home_mobile.mage-error {
      border-color: #ed8380;
  }
  .bss-onestepcheckout.checkout-index-index{
    #checkout-payment-method-load {
      .payment-method.stripe-payments {
        .field label {
          text-align: left;
          width: 50%;
          & > span:last-child {
            width: 33%;
            display: inline-block;
          }
        }
      }
    }
  }
}
.multishipping-checkout-addresses {
  .header-top-wrapper {
    margin-top: 60px;
  }
}
.bss-onestepcheckout {
  .checkout-payment-method {
    .payment-method-content {
      .fieldset > .field.type {
        .control{
          margin-left: 0;
        }
      }
    }
    .credit-card-types .item{
      margin: 0 5px 10px 0;
    }
  }
  .checkout-container {
    .opc-wrapper {
      .fieldset > .field.required > label:after{
        top: 5px;
        margin-left: 2px;
      }
    }
  }
}
//  Desktop
//  ---------------------------------------------
//
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
  
}


//  Tablet
//  ---------------------------------------------
//
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
  .sharecart-index-viewcart,.savecartpro-customer-viewcart {
    .cartItem {
      .sm-block{
        display: none;
      }
    }
  }
  .checkout-cart-index {
    .cart-container {
      .cartItem {
        .product-item-details {
          width: 90%;
        }
      }
    }
    .cartSubtotal {
      text-align: center;
    }
    #remove_cart_items{
      float: left;
    }
  }
}

//  Mobile
//  ---------------------------------------------
//

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
  .header-container {
    .header {
      .alignright {
        position: static;
      }
    }
  }
  .page-wrapper {
    .searchbox-header {
      display: none;
      width: 100%;
      position: absolute;
      left: 0;
      top: 85px;
      .block-search {
        .label {
          display: none;
        }
        .control {
          border-top: none;
          input {
            position: static;
            max-width: 270px;
            margin: 0 auto;
          }
        }
      }
    }
    .knight-minicart {
      .block-minicart .minicart-items-wrapper .minicart-items .options .p-item {
        .p-image {
          width: 50px;
        }
        .product_name {
          padding-right: 55px;
          line-height: 18px;
          margin-bottom: 5px;
        }
        .produc_sku {
          padding-right: 55px;
          font-size: 14px;
          line-height: 18px;
        }
        .price-container .price {
          padding-right: 0;
        }
      }
      .minicart-items-wrapper .minicart-items dl.options {
        padding-left: 7px;
      }
    }
  }
  .knight-minicart {
    margin-top: -8px;
    .minicart-wrapper {
      position: static;
      .block-minicart {
        box-shadow: none;
        width: 300px;
        min-width: auto;
        border: none;
        right: auto;
        left: 50%;
        transform: translateX(-50%);
        padding: 20px 15px;
        &:after {
          content: none;
        }
        &:before {
          right: 115px;
        }
        .minicart-items-wrapper {
          margin: 0;
          padding: 0;
        }
        .minicart-price > span {
          float: none !important;
          margin-right: 0 !important;
        }
        .block-content {
          > .actions {
            margin: 0;
            padding: 0;
            width: 100%;
            .viewcart {
              width: 96px;
              padding: 0;
              height: 31px;
              line-height: 30px;
            }
            .checkout {
              float: right;
              margin-right: 0;
              width: 96px;
              padding: 0;
              height: 31px;
              line-height: 30px;
            }
          }
        }
        .minicart-items {
          .product.options.list  {
            .product_name {
              font-size: 14px;
            }
          }
          .product-item-details {
            .details-qty {
              width: auto;
              float: none;
              margin-top: 0;
              .item-qty {
                margin-right: 0;
              }
            }
            padding-left: 70px;
            a {
              color: #555;
            }
            .price-container {
              position: static;
              display: inline;
              .price-wrapper {
                > span {
                  display: inline;
                }
              }
              .price {
                float: none;
                color: #555;
              }
            }
          }
        }
        .product-item-photo {
          width: 57px;
          border: none;
        }
        .subtotal {
          padding: 0;
          margin: 0;
          margin-bottom: 10px;
          .label {
            font-size: 14px !important;
            font-weight: 400 !important;
          }
          .price-container {
            margin-left: 0;
            .price-wrapper:first-child {
              .price {
                font-size: 14px;
                color: #555;
                font-weight: 300;
              }
            }
          }
        }
      }
    }
    display: inline-block;
    vertical-align: baseline;
    .minicart-header {
      vertical-align: baseline;
      .minicart-wrapper {
        margin-top: 0;
        float: none;
      }
    }
  }
  .checkout-cart-index {
    .cart-container {
      .cartItem {
        td.col-lg-2.col-md-2.col-sm-2:nth-child(3),
        td.col-lg-2.col-md-2.col-sm-2:nth-child(4),
        td.col-lg-2.col-md-2.col-sm-2:nth-child(5) {
          display: none;
        }
        .o-price {
          display: block;
          color: #000;
          font-style: normal;
        }

        .o-qty {
          display: block;
          color: #000;
          font-style: normal;
        }
        .product-item-action{
          display: inline-block;
          float: left;
          width: 10%;
        }
        .product-item-details {
          width: 90%;
        }
      }
    }
    .cartSubtotal {
      text-align: center;
    }
  }
  .logo {
    img {
      height: auto;
    }
  }
  .page-products {
    .sorter {
      position: static;
    }
  }
  .page-main {
    .navigation-horizontal {
      max-width: 300px;
      filter-options {
        .filter-options-item {
          display: block;
          .filter-options-title {
            padding-left: 0;
            &:after {
              right: 0;
            }
          }
        }
      }
    }
  }
  .table-checkout-shipping-method {
    tbody {
      tr {
        td {
          font-size: 17px;
        }
      }
    }
  }

  #checkout {
    .checkout-payment-method {
      .billing-address-same-as-shipping-block {
        padding: 0;
        label {
          font-weight: normal;
          display: inline !important;
          padding-left: 5px;
        }
      }
    }
  }
  .bss-onestepcheckout {
    .opc-block-summary {
      padding: 22px 15px;
    }
    .minicart-items {
      .product-item-name {
        a {
          color: #555;
        }
      }
    }
    #opc-sidebar {
      .item-options {
        .label, .values {
          font-size: 14px;
        }
      }
      > div.field {
        clear: both;
      }
      .discount-code {
        #discount-form {
          .payment-option-inner {
            width: 100%;
            display: block;
          }
          .actions-toolbar {
            float: none;
            margin-top: 10px !important;
          }
        }
      }
    }
    .opc-wrapper {
      #payment {
        #checkout-payment-method-load {
          .payment-methods {
            .step-title {
              border-bottom: none;
            }
          }
        }
      }
      #shipping {
        fieldset {
          &.street {
            .label {
              margin-bottom: -11px;
            }
          }
        }

      }
    }
  }
  .checkout-index-index {
    #checkout {
      .field {
        label {
          font-size: 17px;
        }
      }
    }
  }
  .checkout-container {
    .field {
      .label {
        font-size: 17px;
        padding-left: 0 !important;
        margin-left: 0 !important;
      }
    }
    margin: 0 auto;
  }
  .checkout-cart-index {
    .container {
      width: 300px !important;
    }
    .cart-totals {
      .table.totals {
        tr {
          th {
            padding-bottom: 0;
            padding-top: 8px;
            border-top: none;
            border-bottom: 1px solid #dddddd;
            padding-left: 0;
          }
          td {
            padding-bottom: 0;
            padding-top: 8px;
            border-top: none;
            border-bottom: 1px solid #dddddd;
          }
          &.grand {
            strong {
              font-weight: normal;
              font-family: 'IsidoraSans-Medium';
            }
          }
        }
      }
    }


    .cart-container {
      padding-left: 0;
      padding-right: 0;
      .cart-summary {
        .summary.title {
          margin-bottom: 0;
          font-family: 'IsidoraSans-Medium';
          text-transform: none;
          font-size: 20px;
        }
      }
      .checkout-methods-items {
        border-top: none;
      }
      .form-cart {
        .cart.actions {
          text-align: right;
        }
      }
      .cartItem {
        float: none;
      }
      .cart.table-wrapper {
        .price {
          font-weight: normal;
        }
      }
    }
    #block-discount {
      float: none;
      margin-left: -15px;
      margin-right: -15px;
      margin-top: 20px;
      .coupon {
        float: none !important;
      }
      .actions-toolbar {
        > .primary {
          float: none;
          text-align: left;
        }
      }
      .couponslide {
        .label {
          display: none;
        }
        .actions-toolbar{
          margin-top: 5px;
          .btn {
            max-width: 127px;
          }
          .cancel {
            max-width: 140px;
          }
        }
      }
    }
  }
  .sharecart-index-viewcart,.savecartpro-customer-viewcart {
    .cartItem {
      .col-lg-1.col-md-1.col-sm-1:nth-child(3),
      .col-lg-1.col-md-1.col-sm-1:nth-child(4),
      .col-lg-2.col-md-2.col-sm-2:nth-child(5) {
        display: none;
      }

      .sm-block{
        display: block;

        &.m-price, .m-qty{
          color: #000;
          margin-top: 15px;
        }

        &.m-price {
          font-weight: bold;
        }
        .m-qty {
          font-weight: normal;
        }
      }
    }
  }
  .bss-onestepcheckout.checkout-index-index{
    #checkout-payment-method-load {
      .payment-method.stripe-payments {
        .field label {
          position: relative;
          width: 90%;
          top: 9px;
          & > span:last-child {
            width: 65%;
            display: inline-block;
            white-space: break-spaces;
            position: absolute;
            top: 33%;
            transform: translateY(-33%);
          }
        }
        .field input {
          top: -3px;
        }
      }
    }
  }
}