//
//  Variables
//  _____________________________________________

//  Common
//  ---------------------------------------------
//
& when (@media-common = true) {

    //
    //  Mini Cart
    //  _____________________________________________

    .knight-minicart {
        display: inline-block;
        vertical-align: top;
    }

    .minicart-wrapper{
        margin-left: 0;

        .action.showcart {
            &:before {
                width: 0;
            }
        }
    }

    .minicart-header{
        display: inline-block;
        vertical-align: middle;
    }

    .carticon {
        display: inline-block;
        margin-right: 15px;
        margin-top: 5px;
        font-size: 20px;
        line-height: 20px;
        position: relative;
        cursor: pointer;

        .fa-shopping-cart {
            font-size: 20px;
            color: #555;
        }
    }

    .cartnumber {
        width: 15px;
        height: 15px;
        background-color: @knight-green;
        color: #fff;
        text-align: center;
        font-size: 10px;
        line-height: 13px;
        position: absolute;
        bottom: -5px;
        right: -8px;
        border-radius: 30px;
    }
}

//  Desktop
//  ---------------------------------------------
//
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {

}

//  Tablet
//  ---------------------------------------------
//
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

}

//  Mobile
//  ---------------------------------------------
//

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {

}

@media screen and (min-width: 1024px) {
    .am-tabs-view.catalog-product-view .knight-minicart .product-item {
        max-width: 100%;
    }
}