<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Checkout\Block\Cart\Item\Renderer\Actions\Edit */
?>
<?php if ($block->isProductVisibleInSiteVisibility()): ?>
    <?php
        $type = $block->getItem()->getProduct()->getTypeId();
        $productId = $block->getItem()->getProduct()->getId();
        $helperCheckoutCart = $this->helper('Magento\Checkout\Helper\Cart');
        $quote = $helperCheckoutCart->getQuote();
        $useRemoveItem = $quote->getData('use_remove_item');
    ?>
    <?php if($type == 'super'): ?>
        <a class="action action-edit"
           href="<?php echo $block->getItem()->getProduct()->getProductUrl() ?>?item_id=<?php echo $block->getItem()->getId() ?>"
           title="<?= $block->escapeHtml(__('Edit item')) ?>">
            <span>
                <?= /* @escapeNotVerified */ __('Edit') ?>
            </span>
        </a>
        
        <a class="action action-edit sp-update-item" id="sp-update-item-<?= $block->getItem()->getId() ?>" href="javascript:void(0)" title="<?= $block->escapeHtml(__('Update Item')) ?>">
            <span>
                <?= /* @escapeNotVerified */ __('Update Item') ?>
            </span>
        </a>
        <script type="text/javascript">
            require(['jquery'], function($) {
                let itemId = '<?= $block->getItem()->getId() ?>';
                let urlUpdateCart = '<?php echo $block->getBaseUrl() . '/superproduct/index/updatecart' ?>';
                let $el = $('#sp-update-item-' + itemId);
                $el.on('click', function () {
                    let collection = [];
                    let formData = {};
                    $('input[name="cart-sp-'+ itemId +'"]').each(function (index) {
                        let value = $(this).val();
                        let id = $(this).data('cart-item-id');
                        let sku = $(this).data('cart-item-sku');

                        collection.push({
                            product_id : id,
                            product_sku : sku,
                            product_qty : value
                        });
                    });

                    formData['validate'] = 'view-cart';
                    formData['quote_item_id'] = '<?php echo $block->getItem()->getId() ?>';
                    formData['data'] = collection;
                    $el.text('Updating...');
                    $.ajax({
                        type        : 'POST',
                        url         : urlUpdateCart,
                        data        : formData,
                        dataType    : 'json',
                        encode      : true,
                        showLoader  : true,
                    }).done(function(data) {
                        if(data['errors']  == false ) {
                            $el.text('Updated');
                            location.reload();
                        }

                        if(data['errors']  == true ) {
                            $el.text('Update Failed');
                        }
                    });
                    return false;
                });

            });
        </script>

    <?php else: ?>
        <a class="action action-edit"
           href="<?= /* @escapeNotVerified */ $block->getConfigureUrl() ?>"
           title="<?= $block->escapeHtml(__('Edit item')) ?>">
        <span>
            <?= /* @escapeNotVerified */ __('Edit') ?>
        </span>
        </a>
    <?php endif;?>
<?php endif ?>
