

.owl-loaded {
    display: block;
}

.fancybox-skin{
    padding:0 !important;
}
.w-newsletter {
    display: table;
    width: 600px;
    background: url(../images/bg-newsletter.jpg) no-repeat top center;

    .newsletter-info {
        margin-left: 35px;
        text-align: left;
        padding: 36px 0 32px;
        margin-right:227px;
        .newsletter-title{
            color: #666666;
            p{
                font-size: 183.33%;
                text-transform: uppercase;
                font-weight: 600;
                margin: 0;
                line-height: 1;
            }

            h3 {
                font-size: 220%;
                text-transform: capitalize;
                font-weight: 600;
                color:#222222;
            }
        }

        .short-description {
            padding: 20px 0 30px;
            font-size: 108.33%;
            color: #666666;
        }
        .subscribe-bottom {
            padding: 20px 0 30px;
        }
        .subscribe-bottom .checker {
            display: inline-block;
            position: relative;
            top: 2px;
        }
        .subscribe-bottom label {
            font-weight: normal;
            padding-left: 5px !important;
        }

        .form-newsletter-popup{
            position: relative;
        }

        .form-newsletter-popup .input-box {
            width: 100%;
        }

        .form-newsletter-popup .input-box .input-text {
            height: 40px;
            line-height:40px;
            width: 100%;
            padding: 0 114px 0 10px;
            font-size: 108.33%;
            border:1px solid #ebebeb;
        }

        .form-newsletter-popup .action-newsletter button {
            padding: 0 38px !important;
            height: 39px;
            line-height: 39px;
            text-transform: uppercase;
            font-weight: 600;
            color: #fff;
            border: none;
            position: absolute;
            top: 1px;
            right: 0px;
            border-radius: 0 3px 3px 0;
            -webkit-border-radius: 0 3px 3px 0;
            -moz-border-radius: 0 3px 3px 0;
        }
        .form-newsletter-popup .action-newsletter button:hover {
            background-color: #333;
        }
    }
}

.socials-popup {
    li {
        display: inline-block;
        margin: 0 3px 5px;

        a {
            display: inline-block;
            line-height: 38px;
            text-align: center;
            width: 40px;
            height: 40px;
            background-color: #fff;
            color: #222;
            .border_radius(50%);
            font-size: 16px;
            transition: all 0.2s ease-in-out 0s;
            -webkit-transition: all 0.2s ease-in-out 0s;
        }
        a:hover {
            color: #fff;
        }
    }
}

.contact-us-page{
    .contact-info{
        text-align: center;
        .icon{
            color:#222222;
            .fa{
                border:1px solid #222222;
                height:60px;
                line-height: 55px;
                width:60px;
                display:inline-block;
                font-size: 25px;
                .border_radius(50%);
                .transition(all .5s);
            }
            &:hover{
                color:#ffffff;
                .fa{
                    border:1px solid @color_primary;
                    background: @color_primary;
                }
            }
        }
        .title-info{
            text-transform: uppercase;
            font-size:16px;
            color:#222;
            font-weight:600;
        }
        .content{
            font-size: 14px;
        }
    }
    .form.contact{
        margin:60px 0;
        .title-bonus-page{
            h2:after{
                content:'';
                display: inline-block;
                height: 1px;
                width: 40px;
                margin:0 0 7px 46px;
                background:#222222;
            }
        }
        .left-input{
            width: 100%;
        }
        .input-text{
            border-color: #e5e5e5;
        }
        textarea.input-text{
            min-height: 210px;
        }
        .actions-toolbar{
            .action.submit{
                background: @color_primary;
                padding:0 40px !important;
                &:hover{
                    background: #444;
                }
            }
        }
    }
    .google-map{
        border:none;
    }
}
.aboutus-page{
    .title{
        font-size:26px;
        font-weight:600;
        color:#222;
        margin-bottom: 15px;
    }
    .sub-title{
      margin-bottom: 35px;
    }
    .row-1{
        .wrap-about-item{
            margin-bottom: 50px;
            .title-about-item{
                font-size:16px;
                font-weight:600;
                color: #222;
                &:after{
                    content:'';
                    height: 1px;
                    background: #222;
                    width: 30px;
                    display: block;
                    margin:20px 0;
                }
            }
        }
    }

    .row-2{
        position:relative;
        padding: 50px 0;
        z-index:1;
        margin-bottom: 30px;
        &:before{
          background:url('../images/bg-about-us-counter.jpg');
          position: absolute;
          top: 0;
          left: 50%;
          display: block;
          width: 100vw;
          min-height: 100%;
          background-size: 100%;
          background-repeat: no-repeat;
          content: '';
          z-index: -1;
          -moz-transform: translateX(-50%);
          -webkit-transform: translateX(-50%);
          -o-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          transform: translateX(-50%);
        }
        .wrap-item-counter{
          color:#fff;
          font-weight: 600;
          .counter-about{
            font-size: 36px;
            &:before, &:after{
              content:'';
            }
          }
          .title-counter{
            font-size: 18px;
          }
        }
    }
    .row-3{
      margin-bottom:70px;
      .wrap-team-item{
        position: relative;
        .wrap-content{
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-flow: row wrap;
          opacity: 0;
          visibility: hidden;
          background: rgba(0,0,0,.5);
          .transition(all .5s);
          .social-item{
            .fa{
              color:#fff;
              font-size: 18px;
              padding:0 3px;
            }
          }
        }
        &:hover{
          .wrap-content{
            opacity: 1;
            visibility: visible;
          }
        }
      }
      [class*="col-"]{
        .wrap-info{
          background:#f5f5f5;
          padding:20px 0 5px;
          visibility:hidden;
          .transition(all .3s);
          text-align:center;
          .name{
            text-transform: uppercase;
            margin-bottom:5px;
            font-weight:600;
            color:#222;
          }
        }
        &:hover{
          .wrap-info{
            visibility:visible;
          }
        }
      }
    }
    .row-4{
      position:relative;
      padding:80px 0;
      &:before{
        content: '';
        position: absolute;
        top: 0;
        left: -100%;
        width: 1000%;
        height: 100%;
        background: #f5f5f5;
        display:block;
        z-index:-1;
      }
      .barWrapper{
          .tooltip{
            position:relative;
            float:right;
          }
          .tooltip > .tooltip-inner {background-color:#222; padding:5px 15px; color:#fff; font-weight:bold; font-size:13px;}
          .popOver + .tooltip > .tooltip-arrow {    border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 5px solid #222;}
          .progress{
            border-radius:0;
            overflow:visible;
            height:50px;
            .box_shadow(none);
            background:#fff;
            border:1px solid #ebebeb;
            .progress-bar{
              -webkit-transition: width 1.5s ease-in-out;
              transition: width 1.5s ease-in-out;
              &.progress-bar-danger{
                background-color:@color_primary;
              }
            }
          }
          .progressText{
            display:inline-block;
            margin-bottom:10px;
            font-size:16px;
          }

      }
    }
    .row-5{
      padding-top:50px;
    }
}

.catalog-category-view{
	.insidePage{
		margin-top:0px;
		padding-top:0px;
	}
	.category-description{margin-bottom:0px; text-align: center;}
	.column.main{width:100% !important; }
}

.clearfix{clear:both;}
.f-left-full-width{float:left; width:100%;}

.page-layout-1column, .page-layout-2columns-left, .page-layout-2columns-right, .page-layout-3columns{
    .header-top-wrapper{
       /* background:url('../images/bg-breadcrums.jpg') no-repeat top center;
        padding:80px 0;*/
        text-align: center;
       /* margin-bottom: 25px;
        margin:10px 0 25px;*/
		margin-top: 60px;
        *{
            color:#555;
        }
        .page-title-wrapper{
            .page-title{
                font-size: 32px;
				line-height: 38px;
				text-transform:none;
				margin-bottom: 20px;
            }
        }
        .breadcrumbs{
			display:none;
            background: none;
            .items{
                .item{
                    text-transform: uppercase;
                    a{
                        color:#ffffff;
                        &:hover{
                            color:@color_primary;
                        }
                    }
                    &:not(:last-child):after{
                        content:'|';
                    }
                }
            }
        }
    }
}


/* RTL */

.direction-rtl {
    .w-newsletter {
        .newsletter-info {
            .subscribe-bottom label {
                padding-right: 5px !important;
                padding-left: 0 !important;
            }
        }
    }
}

/* END RTL */

@media (min-width: 1200px) {
    .col-lg-20 {
        float: left;
        width: 20%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .col-md-20 {
        float: left;
        width: 20%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .w-newsletter {
        display: block;
        width: 100%;
        text-align: center;

        .image-newsletter {
            float: none;
            width: 100%;

            .static-image {
                display: inline-block;
            }
        }

        .newsletter-info {
            clear: both;
            margin-left: 0 !important;
            margin-right: 0 !important;
            padding-top: 30px;
        }
    }

}

@media (max-width: 768px) {
    .w-newsletter {
        display: block;
        width: 100%;
        text-align: center;

        .image-newsletter {
            float: none;
            width: 100%;

            .static-image {
                display: inline-block;
            }
        }

        .newsletter-info {
            clear: both;
            margin-left: 0 !important;
            margin-right: 0 !important;
            padding-top: 30px;
            padding-bottom: 30px;

            .newsletter-title h3{
                font-size: 250%;
            }
        }
    }
    .fancybox-close {
        background: url(../images/icon-close-popup.png) no-repeat center center !important;
    }
    .w-newsletter{
        background:none !important;
        padding:10px;
    }
    .banner-content .item{
        width: 33% !important;
        margin-right: 0.33%;
    }
    .aboutus-page .row-3 .wrap-team-item .wrap-content{
        opacity: 1;
        visibility: visible;
    }
    .aboutus-page .row-3 .wrap-team-item img{
        width:100%;
    }
    .aboutus-page .row-3 [class*="col-"] .wrap-info{
        visibility: visible;
    }
    .dropdown .mage-dropdown-dialog{
        left:-32px !important;
        min-width:85px !important;
    }
    .home-page-1 .index-banner-top .banner-full .content-mid [class*="col-"]{
        margin:0 50px;
    }
}

@media (max-width: 568px) {
    .sm-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap .ltabs-current-select{
        display:block !important;
    }
    .fancybox-close {
        background: url(../images/icon-close-popup.png) no-repeat center center !important;
    }
    .w-newsletter{
        background:none !important;
        padding:10px;
    }
    .banner-full .content-mid [class*="col-"] {
        padding-left: 20px;
        float: left;
    }
    .deals-countdown .deals-time.title-daily-deal{
        display:block;
    }
    .home-page-1 .wrap-slidershow{
        padding:0 !important;
        margin:0 10px;
    }
    .home-page-1 .static-image .item{
        margin-bottom:10px;
        img{
            width:100%;
        }
    }
    .home-page-1 .newsletter-bottom:before{
        background:none;
    }
    .home-page-1 .newsletter-bottom{
        padding:0;
        margin-top:30px !important;
    }
    .home-page-1 .newsletter-bottom p {
        color:#222 !important;
    }
    .footer-top .app-list {
        flex-flow: column !important;
        li{
            margin:10px 0  !important;
        }
    }
    .aboutus-page .row-2:before{
        background:none;
    }
    .aboutus-page .row-2 .wrap-item-counter .counter, .aboutus-page .row-2 .wrap-item-counter .title-counter{
        color:#222;
    }
    .aboutus-page .row-3{
        .col-sm-6{
            width:50%;
            float:left;
        }
    }
    .aboutus-page .row-3 .wrap-team-item .wrap-content{
        opacity: 1;
        visibility: visible;
    }
    .aboutus-page .row-3 [class*="col-"] .wrap-info{
        visibility: visible;
    }
    .aboutus-page .row-5{
        .col-sm-4{
            width:33.33%;
            float:left;
        }
    }
    .aboutus-page .row-4{
        padding:30px 0;
    }
    .dropdown .mage-dropdown-dialog{
        left:-32px !important;
        min-width:85px !important;
    }
    .home-page-1 .index-banner-top .banner-full .content-mid [class*="col-"]{
        margin:0 !important;
    }
}

@media (max-width: 480px) {
    .w-newsletter{
        background-size: auto 100%;

        .newsletter-info .form-newsletter-popup{
            .input-box .input-text{
                padding: 0 10px;
            }

            .action-newsletter button{
                height: 42px;
                position: static;
                margin-top: 5px;
                width: 100%;
            }
        }
    }
  .aboutus-page .row-2 .wrap-item-counter .counter, .aboutus-page .row-2 .wrap-item-counter .title-counter{
    color:#222;
  }
  .aboutus-page .row-2{
    padding: 0;
  }
  .aboutus-page .row-2:before{
    background: none;
  }
  .aboutus-page .row-1 .wrap-about-item{
    text-align: center;
  }
  .aboutus-page .row-1 .wrap-about-item .title-about-item:after{
    margin: 20px auto;
  }
  .aboutus-page .row-3 .wrap-team-item{
    img{
      width: 100%;
    }
  }
  .fancybox-close {
        background: url(../images/icon-close-popup.png) no-repeat center center !important;
    }
    .w-newsletter{
        background:none !important;
        padding:10px;
    }
    .sm-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap .ltabs-current-select{
        display:block !important;
    }
    .dropdown .mage-dropdown-dialog{
        left:-32px !important;
        min-width:85px !important;
    }
    .banner-content .item{
        width:100% !important;
        margin-right: 0%;
    }
    .home-page-1 .index-banner-top .banner-full .content-mid [class*="col-"]{
        margin:0 !important;
    }
}



@media (max-width:360px){
  .home-page-1 .banner-full .content-mid .content .item img{
    margin-right:0px !important;
  }

  .home-page-1 .hot-categories-home .col-sm-6{
    width:100%;
  }
  .home-page-1 .index-banner-top .banner-full .content-mid [class*="col-"]{
    margin:0 !important;
  }
  .banner-full .content-mid .content{
    padding:0 5px !important;
  }

  .home-page-1 .banner-full{
    padding:20px 0;
  }
}
@media (max-width: 320px) {
    .fancybox-close {
        background: url(../images/icon-close-popup.png) no-repeat center center !important;
    }
    .w-newsletter{
        background:none !important;
        padding:10px;
    }
    .w-newsletter .newsletter-info .newsletter-title h3{
        font-size:25px;
    }
    .toplinks > .header.links{
        width:100%;
        text-align:center;
    }
    .header-style-1 .header-middle .toplinks .track-order, .header-style-1 .header-middle .toplinks .store-location{
        width:100%;
        text-align:center;
    }
    .banner-full .content-mid .content{
        padding:0 !important;
    }
    .home-page-1 .banner-full .content-mid .content .item img{
        margin-right:3px !important;
    }
    .home-page-1 .daily-deal .deals-countdown{
        padding:10px 0px !important;
    }
    .home-page-1 .banner-full{
        padding:0 !important;
    }
    .sm-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap .ltabs-current-select{
        display:block !important;
    }
    .home-page-1 .hot-categories-home .col-sm-6{
        width:100%;
    }
    .dropdown .mage-dropdown-dialog{
        left:-32px !important;
        min-width:85px !important;
    }
    .banner-content .item{
        width: 100% !important;
        margin-right: 0%;
    }
    .home-page-1 .index-banner-top .banner-full .content-mid .item-center, .home-page-1 .index-banner-top .banner-full .content-mid .content .item{
        font-size:12px !important;
    }
    .home-page-1 .daily-deal .deals-countdown .deals-time .num-time{
        min-width:10px;
    }
    .home-page-1 .daily-deal .deals-countdown{
        font-size:11px !important;
    }
    .home-page-1 .index-banner-top .banner-full .content-mid [class*="col-"]{
        margin:0 !important;
    }
}