.cart-container .form.form-cart {width: 100%;}
.checkout-cart-index .cart-container .table > thead > tr > th {text-transform: none;border-bottom: 1px solid #eee;}
.checkout-cart-index .cart-container #shopping-cart-table .table > tbody > tr > td {border: 0;}
.checkout-cart-index .cart-container .table > tbody + tbody {border: 0;}
.checkout-cart-index .cart-container .cartItem:nth-child(odd) {background-color: transparent;}
.checkout-cart-index .cart-container .cartItem:nth-child(even) { background-color: rgba(0, 0, 0, 0.05);} 
.checkout-cart-index #block-discount .coupon {max-width: 100%;float: left !important; }
.cart-container .cart-summary {border: 0;}
.checkout-cart-index #block-shipping {display: none;}
.cart-container .checkout-methods-items {background: transparent;margin: 0;}
.checkout-cart-index .cart-container .checkout-methods-items .action.primary.checkout {padding: 10px 20px 15px;background-color: #8ac9da !important;font-size: 18px !important;height: auto;}
.checkout-cart-index .cart-container .checkout-methods-items {padding: 25px 0;}
.checkout-cart-index .cart-container .cart.table-wrapper .product-item-photo{padding-right:0px; position:relative;}
.checkout-cart-index .cart-container .cart.table-wrapper .product-item-photo .product-image-photo {border: 0;}
.box-tocart {float: left; margin-top: 10px; width: 100%;}
.catalog-category-view .smcqp-modal-popup .modal-inner-wrap {max-width: 900px;}
.cartquickpro-catalog-product-view .insidePage {padding: 10px 0px 10px;}
.sm_quickview_handler {color: #fff;}
.catalog-category-view .modal-slide._show, .catalog-category-view .modal-popup._show {background-color: rgba(229, 205, 223, 0.9);}
html .catalog-category-view .productImg .btn {margin-top: 135px;}
.minicart-wrapper .action.close {color: #000 !important;}
.block-minicart .product-item-photo {width: 50px;}
.block-minicart .minicart-items .product-item-details {padding-left: 60px; text-align: left;}
.block-minicart .minicart-items .product-item-details .product-item-name {font-size: 16px;}
.block-minicart .minicart-items .product-item-details .price-container .price {color: #000; font-size: 14px;float: right;font-weight: 500;}
.minicart-items .product-item-details .details-qty {margin-top: 0;}
.minicart-items .product-item-details .details-qty {
    width: 100px;
    display: inline-flex;
    float: right;
    margin-top: 4px;
}
.minicart-items .item-qty {margin-right: 10px;width: auto !important; height: auto !important;}
.block-minicart .subtotal .label {font-size: 16px !important; font-weight: 500 !important;}
.block-minicart .subtotal {text-align: right;text-transform: none;margin: 0;border: 0;}
.block-minicart .subtotal .price-container {margin-top: 0;margin-left: 20px;}
.block-minicart .subtotal .price-container .price-wrapper:first-child .price {font-size: 16px;}
.block-minicart .block-content > .actions a {font-size: 14px; font-weight: 500; height: auto; border-radius: 4px; padding: 0 15px;background-color: #8ac9da !important; color: #fff;
    text-transform: uppercase; cursor: pointer;}
.block-minicart #btn-minicart-close {display: block !important;}
.block-minicart .block-content > .actions {float: right;}
.block-minicart .minicart-items-wrapper {padding: 20px 10px 0px 20px;}
@media (min-width: 1025px) {
  
  .checkout-cart-index .cart-container .cart.table-wrapper .product-item-photo .product-image-photo {border: 0;border: 0; width: 175px;/*top: 50px !important;*/}

}

@media (min-width: 768px) and (max-width: 1024px) {
	html .checkout-cart-index .container {width: 100% !important;}
    .checkout-cart-index .cart-container .cartItem {display: block;float: left;}
    .checkout-cart-index .cart-container .cartItem tr {display: block;}
    .checkout-cart-index .cart-container .cartItem td.col-lg-2.col-md-2.col-sm-2 {width: 100%;position: relative;padding: 2px 0;display: block;}
    .checkout-cart-index .cart-container .cartItem td.col-lg-2.col-md-2.col-sm-2 .control  {margin-top: 0 !important;}
    .checkout-cart-index .cart-container .cartItem td.col-lg-4.col-md-4.col-sm-4 {width: 100%;position: relative;padding: 2px 0;display: block;}
    .checkout-cart-index .cart-container .cart.table-wrapper .product-item-photo {width: 100%; position: relative;top: 0;max-width: 100%;}
    .checkout-cart-index .cart-container .cart.table-wrapper thead {display: none;}
    .checkout-cart-index .cart-container .cart.table-wrapper .table > tbody > tr > td {border: 0}
    .checkout-cart-index .cart-container .cart.table-wrapper {border: 0}
    .checkout-cart-index .cart-container .cart.table-wrapper .price {font-size: 14px;}
    .checkout-cart-index .cart-container .cart.table-wrapper span {font-size: 14px;}
    .checkout-cart-index #block-discount {width: 100%; float: left;margin-bottom: 20px;}
    .checkout-cart-index #block-discount .actions-toolbar>.primary {width: auto;float: left;margin-top: 5px;}
    .checkout-cart-index .cart-container .checkout-methods-items .action.primary {width: auto;}
    .checkout-cart-index .cart-container .cart.table-wrapper .product-item-photo .product-image-photo {border: 0;border: 0; width: 175px;top: 50px !important;}

  
}

@media (max-width: 767px) {
	html .checkout-cart-index .container {width: 100% !important;}
    .checkout-cart-index .cart-container .cartItem {display: block;float: left;}
    .checkout-cart-index .cart-container .cartItem tr {display: block;}
    .checkout-cart-index .cart-container .cartItem td.col-lg-2.col-md-2.col-sm-2 {width: 100%;position: relative;padding: 2px 0;display: block;}
    .checkout-cart-index .cart-container .cartItem td.col-lg-2.col-md-2.col-sm-2 .control  {margin-top: 0 !important;}
    .checkout-cart-index .cart-container .cartItem td.col-lg-4.col-md-4.col-sm-4 {width: 100%;position: relative;padding: 2px 0;display: block;}
    .checkout-cart-index .cart-container .cart.table-wrapper .product-item-photo {width: 100%; position: relative;top: 0;max-width: 100%;}
    .checkout-cart-index .cart-container .cart.table-wrapper thead {display: none;}
    .checkout-cart-index .cart-container .cart.table-wrapper .table > tbody > tr > td {border: 0}
    .checkout-cart-index .cart-container .cart.table-wrapper {border: 0}
    .checkout-cart-index .cart-container .cart.table-wrapper .price {font-size: 14px;}
    .checkout-cart-index .cart-container .cart.table-wrapper span {font-size: 14px;}
    .checkout-cart-index #block-discount {width: 100%; float: left;margin-bottom: 20px;}
    .checkout-cart-index #block-discount .actions-toolbar>.primary {width: auto;float: left;margin-top: 5px;}
}