-ms-viewport {
	width: device-width;
}
@-o-viewport {
width: device-width;
}
@viewport {
width: device-width;
}
@font-face {
	font-family: 'FontAwesome';
	src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
	src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0')  format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),  url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'),  url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),  url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'IsidoraSans-Medium';
	src: url('../fonts/IsidoraSans-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/IsidoraSans-Medium.otf') format('opentype'),  url('../fonts/IsidoraSans-Medium.woff') format('woff'), url('../fonts/IsidoraSans-Medium.ttf') format('truetype'), url('../fonts/IsidoraSans-Medium.svg#IsidoraSans-Medium') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'GalanoGrotesqueAltDEMO-Bold';
	src: url('../fonts/GalanoGrotesqueAltDEMO-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/GalanoGrotesqueAltDEMO-Bold.otf') format('opentype'),  url('../fonts/GalanoGrotesqueAltDEMO-Bold.woff') format('woff'), url('../fonts/GalanoGrotesqueAltDEMO-Bold.ttf') format('truetype'), url('../fonts/GalanoGrotesqueAltDEMO-Bold.svg#GalanoGrotesqueAltDEMO-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'IsidoraSans-Bold';
	src: url('../fonts/IsidoraSans-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/IsidoraSans-Bold.otf') format('opentype'),  url('../fonts/IsidoraSans-Bold.woff') format('woff'), url('../fonts/IsidoraSans-Bold.ttf') format('truetype'), url('../fonts/IsidoraSans-Bold.svg#IsidoraSans-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'galano_grotesquebold';
	src: url('../fonts/galanogrotesquebold-webfont.eot');
	src: url('../fonts/galanogrotesquebold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/galanogrotesquebold-webfont.woff2') format('woff2'),
	url('../fonts/galanogrotesquebold-webfont.woff') format('woff'),
	url('../fonts/galanogrotesquebold-webfont.ttf') format('truetype'),
	url('../fonts/galanogrotesquebold-webfont.svg#galano_grotesquebold') format('svg');
	font-weight: normal;
	font-style: normal;
}

//Variables
@knight-blue: rgb(138,201,218);
@knight-purple: rgb(124,132,190);
@knight-pink: rgb(229,205,223);
@knight-orange: rgb(236,188,159);
@knight-green: rgb(184,221,176);
@knight-yellow: rgb(255,234,130);
@knight-blue-o: rgba(138,201,218,0.8);
@knight-purple-o: rgba(124,132,190,0.8);
@knight-pink-o: rgba(229,205,223,0.8);
@knight-orange-o: rgba(236,188,159,0.8);
@knight-green-o: rgba(184,221,176,0.8);
@knight-yellow-o: rgba(255,234,130,0.8);
 @knight-blue-o2: rgba(138,201,218,0.9);
@knight-purple-o2: rgba(124,132,190,0.9);
@knight-pink-o2: rgba(229,205,223,0.9);
@knight-orange-o2: rgba(236,188,159,0.9);
@knight-green-o2: rgba(184,221,176,0.9);
@knight-yellow-o2: rgba(255,234,130,0.9);
@default-color: #555;
@headings-font: 'galano_grotesquebold';
@default-font: 'IsidoraSans-Medium';
/* Headings */

html{

.a-left{text-align:left}

h1 {
	font-size: 50px;
	line-height: 60px;
	margin-bottom: 20px;
	margin-top: 0px;
 font-family:@headings-font;
}
h2 {
	font-size: 40px;
	line-height: 50px;
	margin-top: 0px;
	font-family:@headings-font;
	margin-bottom:10px;
}
h3 {
	font-size: 30px;
	line-height: 40px;
	margin-top: 0px;
}
h4 {
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 0px;
	margin-top: 0px;
}
img {
	max-width: 100%;
	height: auto;
}
body {
 color:@default-color;
 font-family: @default-font;
	font-size: 17px;
	line-height: 26px;
}
.form-control {
	font-size: 17px;
}
.centered {
	text-align: center;
}
.mainMenu li {
	list-style: none;
	display: inline-block;
	padding: 0px;
	margin: 0px;
}
#myvid {
	width: 100%;
	margin-top: -5vw;
}
a {
	text-decoration: none !important;
}

.savecartpro-customer-viewcart{
	.cartItem{
		.action.update.btn{font-size:14px !important;}
	}
}

.btn,
a.btn {
	border: 0px;
	padding: 5px 12px 6px;
 background-color:@knight-blue;
	color: #fff;
	text-transform: uppercase;
	cursor: pointer;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
@-webkit-keyframes pulse {
 0% {
 -webkit-box-shadow: 0 0 0 0 rgba(255,255,255, 0.9);
}
 70% {
 -webkit-box-shadow: 0 0 0 20px rgba(255,255,255, 0);
}
 100% {
 -webkit-box-shadow: 0 0 0 0 rgba(255,255,255, 0);
}
}
@keyframes pulse {
 0% {
 -moz-box-shadow: 0 0 0 0 rgba(255,255,255, 0.9);
 box-shadow: 0 0 0 0 rgba(255,255,255, 0.9);
}
 70% {
 -moz-box-shadow: 0 0 0 20px rgba(255,255,255, 0);
 box-shadow: 0 0 0 20px rgba(255,255,255, 0);
}
 100% {
 -moz-box-shadow: 0 0 0 0 rgba(255,255,255, 0);
 box-shadow: 0 0 0 0 rgba(255,255,255, 0);
}
}
.lbhotspot {
	position: absolute;
}
.lbhotspot.first {
	top: 32vw;
	left: 29vw;
}
.lbhotspot.second {
	left: 66vw;
	top: 24vw;
}
.lbdot {
	width: 30px;
	height: 30px;
 background-color:@knight-blue;
	border-radius: 30px;
	border: 3px solid #fff;
	cursor: pointer;
	box-shadow: 0 0 0 rgba(204,169,44, 0.9);
	animation: pulse 1.3s infinite;
}
.lbImg {
	display: block;
}
.lbdescription {
	background-color: #fff;
	padding: 10px 10px 20px;
	width: 300px;
	display: none;
	font-size: 14px;
	line-height: 19px;
	/*margin-left: 30px;*/
}
.lbdescription h4, .lbdescription p, .lbdescription a {
	margin-left: 10px;
	margin-right: 10px;
}
.lbdescription h4 {
	line-height: 24px;
	margin-bottom: 5px;
	color:#555;
}
.lookbookLrg {
	width: 100%;
}
.lookbookLarge {
	position: relative;
	margin-top: 40px;
}
.aboutimg {
	float: right;
	max-width: 430px;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
	filter: grayscale(100%);
	margin-left: 30px;
}
.contact .teamPosition {
	margin-bottom: 10px;
	display: block;
}
.greyfull {
	background-color: #eee;
	margin-top: 60px;
	margin-bottom: 60px;
	padding: 60px 0px;
}
.contactDets {
	margin-top: 30px;
	margin-bottom: 50px;
}
.whitebutton {
 border:1px solid @knight-blue;
	background-color: #fff;
 color:@knight-blue;
	margin-left: 10px;
}
.culture {
	margin-top: 40px;
}
.careersList {
	margin-top: 30px;
}
.careerimages {
	margin-top: 30px;
}
.insidePage.lookbookpage {
	padding-bottom: 0px;
}
.btn.large {
	font-size: 23px;
	padding: 10px 20px 15px;
	line-height: 30px;
}
.btn.medium {
	font-size: 18px;
	line-height: 26px;
	padding: 6px 20px 12px;
}
.btn:hover {
	color: #fff !important;
 background-color:@knight-green;
}
.cartPopup .btn {
	margin-top: 10px;
}
.textBanner {
	padding-top: 13vw;
	padding-left: 4vw;
	color: #fff;
}
.whiteBtn {
	border: 1px solid #fff;
	color: #fff !important;
	background-color: transparent;
}
b, strong {
	font-family: 'IsidoraSans-Bold';
}
.blackBtn {
	border: 1px solid #000;
	color: #000;
	background-color: transparent;
}
.textBanner .btn, .subBannerText .btn {
	margin-right: 10px;
}
.textBanner h2, .subBannerText h2 {
 font-family: @headings-font;
	font-size: 50px;
	line-height: 60px;
}
.mainMenu li a, .topMenu li a {
 color:@default-color;
	display: block;
}
.mainMenu li:hover a, .mainMenu li a.active {
 background-color:@knight-blue;
	border-radius: 4px;
}
.breadCrumb {
	font-size: 14px;
 color:@knight-purple;
	display: inline-block;
	cursor: pointer;
	margin-bottom: 10px;

	*{
		 color:@knight-purple !important;
	}

	li{display:inline-block;
		&:after{content:">";}
		&:last-child{
			&:after{display:none;}
		}
	}

	strong,
	a{
		color: #7c84be;
		font-weight:normal;
	}
}

.product-info-main .price-box .price {
	color: #8ac9da;
    font-weight: bold;
    font-size: 150%;
    line-height: 29px;
    margin-top: 5px;
}

.product-info-main .price-final_price {
	margin-top:5px;
	margin-bottom:0px;
}

.unslider-arrow {
	display: none;
}
.gallery li {
	list-style: none;
}
.productsHome p {
	margin-bottom: 20px;
}
.productsHome .btn {
 background-color:@knight-green;
	margin-right: 10px;
}
.productVid {
	width: 100%;
}
.productsHome {
	padding: 60px 0px;
}
.productsHome img {
	max-width: 100%;
}
.mainMenu li:hover .submenu a {
	background-color: transparent;
	border-radius: 0px;
}
.topMenu li a {
	padding: 5px 10px;
	font-size: 13px;
}
.mainMenu li a {
	padding: 4px 10px 6px;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 25px;
}
.topMenu ul {
	margin: 0px;
	padding: 0px;
}
.topMenu {
	padding-bottom: 6px;
	margin-right: -10px;
}
.topMenu li {
	list-style: none;
	display: inline-block;
}
.carttitle {
	padding-bottom: 10px;
	display: block;
}
.alignright {
	text-align: right;
}
.carticon {
	display: inline-block;
	margin-right: 15px;
	margin-top: 5px;
	font-size: 20px;
	line-height: 20px;
	position: relative;
	cursor: pointer;

	.fa-shopping-cart{font-size:20px; color:#555;}
}
.mobileButton {
	display: none;
}
img.cart {
	max-width: 100% !important;
	height: auto;
}
.cartPopup {
	position: absolute;
	z-index: 999;
	background-color: #fff;
	padding: 30px 25px 25px;
	margin-left: 0px;
	display: none;
	text-align: left;
}
.lineItem {
	margin-bottom: 10px;
}
.cartnumber {
	position: absolute;
 background-color:@knight-green;
	color: #fff;
	border-radius: 30px;
	width: 15px;
	text-align: center;
	font-size: 10px;
	line-height: 13px;
	height: 15px;
	bottom: -5px;
	right: -8px;
}
.searchbox {
	width: 270px;
	display: inline-block;
	vertical-align: top;
}
.fullPage, .page-wrapper {
	border-left: 30px solid #fff;
	border-right: 30px solid #fff;
	overflow: hidden;
}
.mainMenu ul {
	margin: 0px;
	padding: 0px;
}
.nopadding {
	padding: 0px;
}
.VRBackground {
	width: 100%;
	overflow: hidden;
	height: 25vw;
	background-image: url('../images/vrbg.jpg');
	background-repeat: no-repeat;
	background-size: 100% auto;
	margin-top: 20px;
	color: #fff;
}
.mainBanner {
	background-image: url('../images/banner1.jpg');
	width: 100%;
	background-position: top center;
	height: 40vw;
	margin-bottom: 30px;
	overflow: hidden;
}
.solaceChair {
	background-image: url('../images/solace.jpg');
	height: 25vw;
	background-position: bottom right;
	color: #fff;
	background-size: 100% auto;
	background-repeat: no-repeat;
}
.blogItem img {
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
	filter: grayscale(100%);
}
.clear {
	clear: both;
	display: block;
}
.footerAddress {
	margin-top: 15px;
}
.bottomfooter {
	padding: 10px 0px;
}
.footer {
	padding: 40px 0px 30px;
	background-color: #eee;
	clear: both;
	margin-top: 30px;
}
.blogTitle {
	display: block;
	width: 100%;
	text-align: center;
 background-color:@knight-blue-o;
	padding: 7vw 0vw;
	position: absolute;
	top: 0px;
	color: #fff;
 font-family:@headings-font;
	font-size: 27px;
	line-height: 36px;
	letter-spacing: 1px;
	height: 16vw;
	cursor: pointer;
}
.blogItem:hover .blogTitle {
 background-color:@knight-blue-o2;
}
.insidePage {
	padding: 60px 0px 80px;
}
.submenu {
	display: none;
	position: absolute;
	z-index: 999;
	padding-top: 34px !important;
	padding-bottom: 20px !important;
	text-align: left;
	left: 0px;
	background-color: #fff;
	width: 1500px !important;
	padding-left: 0px !important;
	margin-left: -375px !important;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.desktopMenu li.hasChildren:hover .submenu {
	display: block;
}
.submenu:before {
	content: '';
	position: absolute;
	width: 300%;
	margin-left: -100%;
	top: 0px;
	z-index: 0;
	background-color: #fff;
	height: 487px;
}
.submenu.about:before {
	height: 310px;
}
.submenu.inspo:before {
	height: 310px;
}
.rangeli {
	width: 840px !important;
	margin-left: 10px !important;
	vertical-align: top;
}
.rangeli span {
	display: block;
	margin-bottom: 10px;
}
.rangeli li a {
	width: auto !important;
}
.mobileMenu {
	display: none;
}
.range {
 background-color:@knight-blue !important;
	border-radius: 3px !important;
	display: inline-block !important;
	margin-right: 10px;
	color: #fff !important;
	width: auto !important;
	padding: 5px 10px 8px !important;
	line-height: 16px !important;
}
.submenu .submenutitle, .productCat .submenutitle {
	position: absolute;
 font-family:@headings-font;
	color: #fff;
	width: 80%;
	letter-spacing: 1px;
	bottom: 20px;
	font-size: 20px;
	line-height: 25px;
	z-index: 800;
	left: 20px;
}
.submenu li {
	display: inline-block;
	width: 210px;
	position: relative;
}
.mobileSearch {
	display: none;
}
.submenu.about li {
	width: 370px;
}
.submenu.inspo li {
	width: 495px;
}
.submenu li a {
	display: block;
	margin-bottom: 10px;
	padding: 0px;
	margin-left: 5px;
	margin-right: 5px;
	position: relative;
	overflow: hidden;
}
.submenu img {
	max-width: 100%;
	height: auto;
	display: block;
}
.blogblog:nth-child(2) .blogTitle {
 background-color:@knight-orange-o;
}
.blogblog:nth-child(3) .blogTitle {
 background-color:@knight-green-o;
}
.blogblog:nth-child(4) .blogTitle {
 background-color:@knight-pink-o;
}
.blogblog:nth-child(2) .blogItem:hover .blogTitle {
 background-color:@knight-orange-o2;
}
.blogblog:nth-child(3) .blogItem:hover .blogTitle {
 background-color:@knight-green-o2;
}
.blogblog:nth-child(4) .blogItem:hover .blogTitle {
 background-color:@knight-pink-o2;
}
.blogItem img {
	max-width: 100%;
}
.blogItem {
	width: 100%;
	position: relative;
	height: 16vw;
	margin-top: 30px;
	overflow: hidden;
}
.bannerDesc {
	font-size: 18px;
	line-height: 26px;
	margin-bottom: 20px;
}
.subBannerText {
	padding-top: 13vw;
	padding-left: 4vw;
}
.subBannerTextRight {
	width: 40vw;
	float: right;
}
.airChair {
	background-image: url('../images/airchair.jpg');
	min-height: 25vw;
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 100%;
}
.headerBlock {
	width: 100%;
	height: 99px;
}
.footerlinks {
	display: block;
	padding-top: 35px;
}
.footer .logo {
	max-width: 150px;
}
.footer .form-control {
	width: 220px;
	display: inline-block;
	margin-right: 5px;
	vertical-align: top;
}
.newsletterform {
	margin-top: 15px;
}
.subscribe {
	margin-top: 33px;
}
.block-subscribe-footer .action-button,
.block-subscribe-footer .input-box{
    vertical-align: middle;
	width:auto;
}

.block-subscribe-footer .action.subscribe{
	margin: 0px;
    height: auto;
    border-radius: 4px;
	padding:6px 12px 8px !important;
}

.block-subscribe-footer .input-box #newsletter-footer{
	height: auto;
    padding: 6px 12px;
    border-radius: 4px;
    line-height: normal;
}

.footer .btn {
	padding: 6px 12px 8px;
}
.socials i {
	font-size: 30px;
	line-height: 40px;
	margin-right: 10px;
	margin-top: 35px;
	cursor: pointer;
}
.socials i:hover {
 color:@knight-purple;
}
.footerlinks a {
	display: block;
	padding-bottom: 10px;
}
.newslettertitle {
 font-family:@headings-font;
	letter-spacing: 0.5px;
}
a {
 color:@knight-blue;
}
.footer a {
 color:@default-color;
}
.header {
	padding: 10px 0px 20px;
	position: fixed;
	z-index: 999;
	background-color: #fff;
	width: 100%;
	left: 0px;
	top: 0px;
	border-bottom: 1px solid #eee;
}

.cms-index-index .header{border-bottom:none;}

.homeheader {
	border-bottom: 0px;
}
.logo {
	max-width: 200px;
	
	img{display:block}
}
.container {
	width: 1500px !important;
	max-width:none;
}
/*products page*/
.productCat img {
	max-width: 100%;
}
.productCat {
	position: relative;
	margin-bottom: 20px;
}
.productItem img {
	max-width: 100%;
	height: auto;
}
.productImg {
	position: relative;
	display: block;
	overflow: hidden;
}
.productItem {
	margin-bottom: 30px;
	border: 1px solid #efefef;
	cursor: pointer;
}
.productImg .btn {
	position: absolute;
	bottom: auto;
	width: 140px;
	left: 50%;
	margin-left: -70px;
	margin-top: 150px;
	text-align: center;
	z-index: 999;
	background-color: transparent;
	font-size: 20px;
	text-align: center;
	border: 1px solid #fff;
}
.productImg .btn:hover {
	background-color: rgba(255,255,255,0.2);
}
.productInfo {
	padding: 0px 15px 15px;
    display: block;
    z-index: 11;
    background: #FFF;
    position: relative;
}

h4.productTitle{
	color: #555;
}

.productItem:hover .productOverlay {
	display: block;
}
.intro {
	margin-bottom: 50px;
}
.products {
	margin-top: 40px;
}
.filter, .sortBy {
	font-size: 20px;
	cursor: pointer;
	font-weight: bold;
}
.sort {
	display:inline;
	font-size: 20px;
	padding: 10px 30px 10px 10px;
	border-radius: 0px;
	border: none;
	height: 50px !important;
	width: auto;
}
.productSku {
	color:#555;
	display: inline-block;
	margin-bottom: 5px;
}
.productPrice {
	font-weight: bold;
	display: block;
	font-size: 16px;
	margin-top: 5px;
	
	span.price{
		color:#555;
		font-size:16px;
	}
}
.close {
	color: #fff !important;
	z-index: 999;
	font-size: 40px;
	margin-top: -80px;
	margin-right: -80px;
	opacity: 0.8;
}
.close .fas {
	color: #fff !important;
}
.mainimg {
	border: 1px solid #eee;
	margin-bottom: 10px;
}
.customise {
	display: block;
	margin-top: 30px;
}
.thumbnails img {
	max-width: 170px !important;
	display: inline-block;
	border: 1px solid #eee;
	margin-right: 10px;
}
.productDet {
	display: block;
}
.icons {
	display: inline-block;
	max-width: 70px !important;
	height: auto;
}
.productDesc {
	display: block;
	margin-top: 20px;
	max-width: 100%;
}
.colourBox span {
	height: 15px;
	width: 15px;
	display: inline-block;
	margin-right: 5px;
	cursor: pointer;
}
.upgrade select {
	display: block;
	margin-top: 10px;
	border: none;
	min-width: 60px;
	margin-bottom: 20px;
}
.cartTotals {
	margin-top: 20px;
}
span.select {
	margin-top: 20px;
	display: block;
}
.options .btn {
 border:1px solid @knight-blue;
	background-color: transparent;
 color:@knight-blue;
	margin-right: 10px;
	margin-top: 10px;
}
.options .btn:hover {
 background-color:@knight-blue;
}
.attributeTitle {
	display: block;
	margin-top: 20px;
	font-size: 18px;
	font-weight: 800;
	line-height: 24px;
}
.fullProduct .productPrice {
 color: @knight-blue;
	font-size: 22px;
	line-height: 29px;
}
.addToCart {
	text-align: right;
	margin-top: 20px;
}
.wishlist {
	float: right;
	cursor: pointer;
	font-size: 14px;
}
.resourcesArea {
 background-color:@knight-green;
	margin-top: 60px;
	padding: 60px 0px;
	color: #fff;
	margin-bottom: 20px;
}
.resourcesArea .btn {
	background-color: #fff;
 color:@knight-green;
	margin-right: 5px;
	margin-left: 5px;
}
.videoArea {
	padding: 0px 0px 20px;
	display: block;
}
.fullResources {
	margin-top: 16px;
	font-size: 16px;
	line-height: 24px;
	display: block;
	cursor: pointer;
}
.productDetails .row {
	margin-bottom: 20px;
}
.resourcesArea a {
	color: #fff;
}
.wishlist:hover {
 color:@knight-pink;
}
.upgradeTitle {
	font-size: 17px;
	line-height: 25px;
	display: block;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
}
.upgrade {
	margin-top: 20px;
	width: auto;
	border: 1px solid #fff;
	cursor: pointer;
	border: 1px solid #eee;
	border-radius: 4px;
}
.upgrade:hover, .upgrade.activeupgrade {
	background-color: rgba(0,0,0,0.03);
}
.fullProduct H1 {
	margin-bottom: 5px;
}
.fullProduct .productSku {
	font-size: 19px;
	line-height: 29px;
	font-weight: bold;
}
.productPopup .colourBox, .fullProduct .colourBox {
	float: none;
	display: block;
	margin-top: 20px;
}
.productPopup .colourBox span, .fullProduct .colourBox span {
	width: 35px;
	height: 35px;
}
.colourBox .black {
	background-color: #000;
}
.colourBox .grey {
	background-color: #ccc;
}
.colourBox .white {
	border: 1px solid #000;
	background-color: #fff;
}
.colourBox .yellow {
 background-color:@knight-yellow;
}
.colourBox .red {
	background-color: red;
}
.colourBox .purple {
 background-color:@knight-purple;
}
.colourBox .blue {
 background-color:@knight-blue;
}
.colourBox .greenbox {
 background-color:@knight-green;
}
.colourBox {
	display: inline-block;
	float: right;
}
.productOverlay {
	display: none;
	width: 100%;
	position: absolute;
 background-color:@knight-blue-o2;
	height: 500px;
	top: 0px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.productlist .itemeach:nth-child(5n+0) .productOverlay {
 background-color:@knight-green-o2;
}
.productlist .itemeach:nth-child(5n+1) .productOverlay {
 background-color:@knight-orange-o2;
}
.productlist .itemeach:nth-child(5n+2) .productOverlay {
 background-color:@knight-purple-o2;
}
.productlist .itemeach:nth-child(5n+3) .productOverlay {
 background-color:@knight-pink-o2;
}
.productlist .itemeach:nth-child(5n+4) .productItem:hover {
 border-color:@knight-blue-o2;
}
.productlist .itemeach:nth-child(5n+0) .productItem:hover {
 border-color:@knight-green-o2;
}
.productlist .itemeach:nth-child(5n+1) .productItem:hover {
 border-color:@knight-orange-o2;
}
.productlist .itemeach:nth-child(5n+2) .productItem:hover {
 border-color:@knight-purple-o2;
}
.productlist .itemeach:nth-child(5n+3) .productItem:hover {
 border-color:@knight-pink-o2;
}
.featureText {
	padding: 4vw 7vw;
	font-size: 20px;
	line-height: 28px;
}
.productlist {
	margin-top: 50px;
}
.productGallery img {
	max-width: 100%;
}
.productGallery {
	position: relative;
}
.saleFlag {
	position: absolute;
	width: 90px;
	height: 90px;
	border-radius: 50px;
 background-color:@knight-pink;
	color: #fff;
	font-size: 25px;
	text-align: center;
	padding-top: 35px;
	margin-top: -20px;
	margin-left: -20px;
}
.productPopupBg {
	position: fixed;
	z-index: 999;
	width: 100%;
	top: 0px;
	left: 0px;
	height: 100%;
	display: none;
	min-height: 300px;
 background-color:@knight-blue-o2;
}
.productPopupBg.pink {
 background-color:@knight-pink-o2;
}
.productPopupBg.purple {
 background-color:@knight-purple-o2;
}
.productPopupBg.orange {
 background-color:@knight-orange-o2;
}
.productPopupBg .green {
 background-color:@knight-green-o2;
}
.productPopup img {
	max-width: 100%;
}
.fullProductPage {
	padding-bottom: 0px;
}
.productPopupBg .productPopup {
	background-color: #fff;
	left: 50%;
	margin-left: -600px;
	position: fixed;
	top: 20%;
	padding: 40px;
	z-index: 999;
	width: 1200px;
}
/*cart*/
.cartItem:nth-child(odd) {
	background-color: rgba(0,0,0,0.05);
}
.cartItem {
	padding: 10px;
}
.smallCartDetails {
	font-size: 15px;
	line-height: 22px;
	display: block;
	font-style: italic;
}
.cartTitles {
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;
}
select.cartQty {
	display: block;
	margin-top: 20px;
	width: 60px;
}
.cartPrice, .cartSubtotal {
	margin-top: 20px;
	display: block;
}

.cartPrice{
	.price-box .price{
		color: #555;
		font-size: 15px;
	}	
}

.cartTitle {
	display: block;
	font-size: 18px;
	margin-top: 20px;
	line-height: 27px;
	font-weight: bold;
}
.coupon {
	max-width: 200px;
	display: inline-block;
	margin-right: 10px;
}
.couponslide {
	display: none;
	margin-top: 10px;
}
.doCoupon {
	cursor: pointer;
}
.cartTotals {
	font-weight: bold;
	font-size: 20px;
	line-height: 29px;
	width: 100%;
	text-align: left;
	margin-bottom: 10px;
	display: block;
}
.checkoutbutton {
	float: right;
	margin-top: 20px;
}
select {
	border: none;
	height: 35px !important;
}
.totalHeading {
	width: 130px;
	display: inline-block;
	text-align: left;
}
.totalAmount {
	text-align: right;
	width: 215px;
	display: inline-block;
	white-space: nowrap;
}
.checkout .form-control {
	margin-bottom: 20px;
}
.couponButton {
 background-color:@knight-purple;
	vertical-align: top;
}
.checkoutTitle {
	margin-top: 0px;
	margin-bottom: 20px;
}
.sameas input[type=checkbox] {
	margin-right: 10px;
}
.sameas {
	margin-top: 10px;
}
.cartbuttons {
 background-color:@knight-green;
	margin-left: 10px;
	margin-bottom: 30px;
}
.sectionChk {
	margin-bottom: 30px;
}
.othersbought {
	margin-bottom: 20px;
}
.others {
	padding-top: 60px;
}
.totalItem {
	display: block;
	margin-bottom: 10px;
	border-bottom: 1px solid #eee;
}
.bottomCart {
	margin-top: 40px;
}
/*resources*/
.resourcesearch {
	margin-right: 10px;
}
.resourcesButton {
 background-color:@knight-blue;
	color: #fff;
	padding: 40px;
	text-align: center;
	height: 125px;
	cursor: pointer;
	font-size: 22px;
	margin-bottom: 20px;
}
.resourcesButton:hover {
 background-color:@knight-green;
}
.resourcesSearch {
	display: block;
	margin-top: 25px;
	margin-bottom: 25px;
}
.resourceTitle {
	font-size: 20px;
	display: block;
	margin-top: 5px;
	line-height: 27px;
}
.resourceImg {
	position: relative;
}
.resource {
	margin-bottom: 30px;
	cursor: pointer;
}
.resourceImg .iconShare, .resourceImg .iconDownload {
	position: absolute;
	color: #fff;
	display: none;
	bottom: 10px;
	left: 10px;
	font-size: 30px;
}
.downloadPopup .fontawesomeicon {
	font-size: 30px;
	margin-right: 5px;
	display: inline-block;
}
.downloadPopup .fontawesomeicon:hover {
	color: #eee;
}
.downloadPopup, .sharePopup {
	position: absolute;
	background-color: #fff;
	bottom: 50px;
	display: none;
	padding: 10px;
}
.downloadPopup {
	right: 0px;
	padding: 10px 0px;
}
.downloadPopup span {
	display: block;
	font-size: 13px;
	line-height: 18px;
	padding: 0px 10px;
}
.downloadPopup span:hover {
	background-color: #eee;
}
.resource:hover .resourceImg .iconShare, .resource:hover .resourceImg .iconDownload {
	display: block;
}
.resourceImg .iconDownload {
	left: auto;
	right: 10px;
}
.searchRes {
	width: 190px;
}
/*login*/
.loginPanel {
 background-color:@knight-blue;
	color: #fff;
	font-size: 22px;
	text-align: center;
	line-height: 40px;
	padding: 30px 20px;
	margin-top: 40px;
	cursor: pointer;
}
.loginPanel .fontawesomeicon {
	font-size: 40px;
	line-height: 50px;
}
.orderList {
	margin-top: 40px;
}
.loginPanel:hover {
 background-color:@knight-green;
}
.orderLineItem {
	margin-top: 10px;
	cursor: pointer;
	padding: 5px 0px;
}
.accountTop {
	margin-top: 40px;
}
.savedbutton .btn {
	margin-left: 10px;
	margin-top: 20px;
}
.totalRewards {
 background-color:@knight-green;
	padding: 20px 0px;
	color: #fff;
	font-size: 22px;
	line-height: 30px;
	margin-bottom: 40px;
}
.loginpanel .form-control {
	margin-bottom: 10px;
}
.csvupload {
	margin-top: 40px;
}
.orderLineItem:hover {
	background-color: #eee;
}
.green {
 background-color:@knight-purple;
	padding: 60px 0px;
	color: #fff;
	margin-top: 90px;
}
.loginpage {
	padding-bottom: 0px;
}
.lookbookitem {
	padding-bottom: 20px;
	border: 1px solid #eee;
	margin-bottom: 20px;
	height: 21vw;
	position: relative;
	cursor: pointer;
}
.lookbookitem:hover .lookbookOverlay {
	opacity: 1;
}
.lookbookitem:hover {
 border-color:@knight-blue;
}
.lookbook:nth-child(5n+0) .lookbookitem:hover {
 border-color:@knight-orange;
}
.lookbook:nth-child(5n+1) .lookbookitem:hover {
 border-color:@knight-green;
}
.lookbook:nth-child(5n+2) .lookbookitem:hover {
 border-color:@knight-pink;
}
.lookbook:nth-child(5n+3) .lookbookitem:hover {
 border-color:@knight-purple;
}
.lookbookOverlay:hover {
 background-color:@knight-blue-o2;
}
.lookbook:nth-child(5n+0) .lookbookOverlay {
 background-color:@knight-orange-o2;
}
.lookbook:nth-child(5n+1) .lookbookOverlay {
 background-color:@knight-green-o2;
}
.lookbook:nth-child(5n+2) .lookbookOverlay {
 background-color:@knight-pink-o2;
}
.lookbook:nth-child(5n+3) .lookbookOverlay {
 background-color:@knight-purple-o2;
}
.lookbookOverlay {
	position: absolute;
	width: 100%;
	text-align: center;
	left: 0px;
	color: #fff;
	opacity: 0;
	font-size: 25px;
	line-height: 28px;
	padding: 8.6vw 0px;
 background-color:@knight-blue-o2;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.lookbookImg {
	overflow: hidden;
	position: relative;
}
.lookbook {
	overflow: hidden;
}
.lookbookitem h4 {
	margin-top: 10px;
	padding-left: 20px;
	color:#555;
}
.buttonsLookbook .btn {
	margin-right: 10px;
	margin-bottom: 10px;
}
.buttonsLookbook {
	margin-bottom: 30px;
	margin-top: 30px;
}
.loginpanel {
	padding: 40px 40px 40px;
}
.productfeatureline {
	margin-bottom: 20px;
}
.accountmanager {
	max-width: 300px;
}
.manager {
	margin-top: 40px;
}
.jobOpeningTitle {
 background-color:@knight-purple;
	color: #fff;
	padding: 10px;
}
.teamDescription {
	padding: 10px;
	h4{color:#555;}
	p{color:#555}
}
.fullTeam {
	position: fixed;
	width: 100%;
	top: 0px;
	z-index: 999;
	left: 0px;
	display: none;
}
.closeTeam {
	color: #fff;
	font-size: 40px;
	position: Absolute;
	top: 30px;
	font-size: 50px;
	right: 40px;
	cursor: pointer;
}
.videoOverlay {
	position: absolute;
	bottom: 15%;
	left: 10%;
	z-index: 999;
	padding: 40px;
	width: 800px;
	background-color: rgba(255,255,255,0.7);
}
#teamvid {
	height: 100%;
	width: 100%;
	object-fit: cover;
	z-index: -100;
	right: 0;
	bottom: 0;
	background-size: cover;
	overflow: hidden;
}
.teamItem {
	border: 1px solid #eee;
	margin-bottom: 40px;
	cursor: pointer;
}
.jobOpening {
	margin-bottom: 10px;
	cursor: pointer;
}
.teamTitle {
	margin-bottom: 0px;
}
.jobDescription {
	padding: 10px;
 border:1px solid @knight-purple;
	display: none;
}
.teamItem:hover {
 border-color:@knight-blue;
}
.teamM:nth-child(5n+0) .teamItem:hover {
 border-color:@knight-orange;
}
.teamM:nth-child(5n+1) .teamItem:hover {
 border-color:@knight-green;
}
.teamM:nth-child(5n+2) .teamItem:hover {
 border-color:@knight-pink;
}
.teamM:nth-child(5n+3) .teamItem:hover {
 border-color:@knight-purple;
}
.teamImg {
	position: relative;
	overflow: hidden;
}
.teamOverlay {
 background-color:@knight-blue-o2;
}
.teamM:nth-child(5n+0) .teamOverlay {
 background-color:@knight-orange-o2;
}
.teamM:nth-child(5n+1) .teamOverlay {
 background-color:@knight-green-o2;
}
.teamM:nth-child(5n+2) .teamOverlay {
 background-color:@knight-pink-o2;
}
.teamM:nth-child(5n+3) .teamOverlay {
 background-color:@knight-purple-o2;
}
.teamItem:hover .teamOverlay {
	opacity: 1;
}
.teamOverlay {
	position: absolute;
	width: 100%;
	text-align: center;
	left: 0px;
	color: #fff;
	opacity: 0;
	font-size: 25px;
	line-height: 28px;
	padding: 10.6vw 0px;
 background-color:@knight-blue-o2;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.theTeam {
	margin-top: 20px;
}

.pm-mask:before{display:none;}

@media (min-width: 1300px) and (max-width: 1700px) {
.lbdescription {
	/*margin-top: -130px;*/
}
.totalAmount {
	width: 202px;
}
.productImg .btn {
	margin-top: 105px;
}
.mainMenu li a {
	padding: 4px 7px 6px;
}
.container {
	width: 1100px !important;
}
.productPopupBg .productPopup {
	width: 900px;
	margin-left: -450px;
}
.searchbox {
	width: 180px;
}
.textBanner h2, .subBannerText h2 {
	font-size: 45px;
	line-height: 55px;
}
.subBannerText {
	padding-top: 5vw;
}
.blogTitle {
	font-size: 24px;
	line-height: 32px;
}
.footer .form-control {
	width: 142px;
}
.submenu.about li {
	width: 266px;
}
.submenu.inspo:before {
	height: 241px;
}
.submenu .submenutitle {
	left: 7%;
}
.submenu.inspo li {
	width: 357px;
}
.submenu.about:before {
	height: 236px;
}
.submenu {
	width: 1100px !important;
	margin-left: -260px !important;
}
.rangeli {
	width: 100% !important;
}
.submenu li {
	width: 215px;
}
.submenu:before {
	height: 569px;
}
.teamOverlay {
	padding: 12vw 0px;
}

.productlist{
	.itemeach:nth-child(3n+1){
		clear:both;
	}
}

}

@media (min-width: 1300px) and (max-width: 1500px) {
}

@media (min-width: 991px) and (max-width: 1300px) {
.resourcesSearch .searchbox {
	width: 200px;
}
.lbdot {
	width: 20px;
	height: 20px;
}
.featureText {
	font-size: 15px;
	line-height: 22px;
}
.lbdescription {
	width: 200px;
	/*margin-top: -140px;*/
}
body {
	font-size: 15px;
	line-height: 22px;
}
.productImg .btn {
	margin-top: 75px;
}
.thumbnails img {
	max-width: 135px !important;
}
.productPopupBg .productPopup {
	width: 700px;
	margin-left: -350px;
	top: 10%;
}
.textBanner h2, .subBannerText h2 {
	font-size: 34px;
	line-height: 40px;
}
.teamOverlay {
	padding: 12.2vw 0px;
}
.subBannerText {
	padding-top: 2vw;
	padding-left: 30px;
}
.blogTitle {
	font-size: 20px;
	line-height: 27px;
}
.submenu li {
	width: 176px;
}
.submenu {
	width: 900px !important;
	margin-left: -225px !important;
}
.rangeli {
	width: 100% !important;
}
.submenu:before {
	height: 604px;
}
.submenu .submenutitle {
	font-size: 17px;
	line-height: 22px;
}
.header {
	position: relative;
}
.headerBlock {
	height: 0px;
}
.container {
	width: 900px !important;
}
.logo {
	max-width: 160px;
}
.searchbox {
	width: 152px;
}
.mainMenu li a {
	font-size: 14px;
	line-height: 23px;
	padding: 4px 5px 7px;
}
.submenu.about li {
	width: 221px;
}
.submenu.about:before {
	height: 212px;
}
.submenu.inspo li {
	width: 296px;
}
.submenu.inspo:before {
	height: 215px;
}
h1 {
	font-size: 32px;
	line-height: 38px;
}
h2 {
	font-size: 25px;
	line-height: 32px;
}
h3 {
	font-size: 22px;
	line-height: 25px;
}
h4 {
	font-size: 18px;
	line-height: 23px;
}
.totalAmount {
	width: 138px;
}
.btn.medium {
	font-size: 17px;
	line-height: 22px;
	padding: 4px 15px 7px;
}
.btn.large {
	font-size: 20px;
	line-height: 25px;
	padding: 7px 15px 10px;
}
.iconShare, .iconDownload {
	display: block !important;
}
.contactDets .col-lg-3 {
	margin-bottom: 20px !important;
}
.loginPanel {
	font-size: 16px;
	line-height: 21px;
}

.productlist{
	.itemeach:nth-child(3n+1){
		clear:none;
	}
	.itemeach:nth-child(2n+1){
		clear:both;
	}
}

}

@media (max-width: 991px) {
.loginPanel {
	font-size: 16px;
	line-height: 21px;
	height: 140px;
}
.contactDets .col-lg-3 {
	margin-bottom: 20px !important;
}
.iconShare, .iconDownload {
	display: block !important;
}
.resourcesSearch .searchbox {
	width: 200px;
	display: block;
	position: relative;
	top: auto;
	float: right;
	left: auto;
	right: auto;
	margin-bottom: 10px;
	margin-right: 0px;
	margin-left: 10px;
}
.lbdot {
	width: 20px;
	height: 20px;
}
.featureText {
	font-size: 15px;
	line-height: 22px;
}
.lbdescription {
	width: 170px;
	/*margin-top: -150px;*/
}
.lbdescription h4, .lbdescription p, .lbdescription a {
	margin-left: 0px;
	margin-right: 0px;
}
.totalAmount {
	width: 130px;
}
.coupon {
	max-width: 181px;
}
.cartTitle, .cartPrice, .cartSubtotal, select.cartQty {
	margin-top: 0px;
}
.btn.medium {
	font-size: 17px;
	line-height: 22px;
	padding: 4px 15px 7px;
}
.btn.large {
	font-size: 20px;
	line-height: 25px;
	padding: 7px 15px 10px;
}
.featureText {
	font-size: 15px;
	line-height: 22px;
}
.productPopupBg .productPopup {
	width: 550px;
	margin-left: -275px;
	top: 10%;
	overflow-y: scroll;
	overflow-x: hidden;
	height: 400px;
}
.productImg .btn {
	margin-top: 100px;
}
body {
	font-size: 15px;
	line-height: 22px;
}
.thumbnails img {
	max-width: 77px !important;
}
h1 {
	font-size: 32px;
	line-height: 38px;
}
h2 {
	font-size: 25px;
	line-height: 32px;
}
h3 {
	font-size: 22px;
	line-height: 25px;
}
h4 {
	font-size: 18px;
	line-height: 23px;
}
.textBanner h2, .subBannerText h2 {
	font-size: 20px;
	line-height: 25px;
	margin-bottom: 0px;
	margin-top: 3px;
}
.teamOverlay {
	padding: 9vw 0px;
}
.bannerDesc {
	font-size: 16px;
	line-height: 22px;
	margin-bottom: 4px;
}
.subBannerText {
	padding-top: 1vw;
	padding-left: 1vw;
	padding-right: 96px;
}
.subBannerTextRight {
	padding-top: 40px;
}
.container {
	width: 700px !important;
}
.mobileButton {
	display: inline-block;
}
.header {
	position: relative;
}
.searchbox {
	display: none;
	position: absolute;
	right: 0px;
	top: 40px;
}
.mobileSearch {
	display: inline-block;
	margin-right: 20px;
}
.mobileSearch .fontawesomeicon {
	font-size: 20px;
}
.submenu img {
	display: none;
}
.socials i {
	font-size: 24px;
	margin-right: 4px;
}
.footer .form-control {
	width: 159px;
}
.subBannerText .btn {
	margin-bottom: 5px;
}
.submenu {
	padding-top: 10px !important;
	padding-bottom: 0px !important;
}
.submenu:before {
	display: none;
}
li.rangeli {
	display: none !important;
}
.submenu.inspo li, .submenu.about li {
	width: auto !important;
}
.submenu .submenutitle {
 color:@knight-orange;
	position: relative;
	left: 0px;
 font-family:@default-font;
	bottom: 0px;
	font-size: 16px;
	line-height: 25px;
}
.totalItem {
	font-size: 14px;
}
.headerBlock {
	height: 0px;
}
.submenu li {
	width: 100%;
	text-align: center;
}
.submenu {
	width: auto !important;
	text-align: center;
	margin-left: 0px !important;
	position: relative;
}
.mainMenu {
	position: absolute;
	background-color: #fff;
	width: 100%;
	top: 80px;
	display: none;
	padding-bottom: 10px;
	text-align: center;
}
.solaceChair {
	background-position: top center;
}
.mainMenu li {
	display: Block;
}
.mainMenu .submenu {
	position: relative;
}
.blogTitle {
	padding-top: 5vw;
	font-size: 20px;
	line-height: 25px;
}
.mobileButton .fontawesomeicon {
	font-size: 20px;
}
.cartPopup {
	margin-left: -146px;
}
.bannerDesc {
	font-size: 14px;
	line-height: 20px;
}
}

@media (max-width: 769px) {
.resourcesSearch .searchbox {
	width: 200px;
	display: block;
	position: relative;
	top: auto;
	left: auto;
	right: auto;
	margin-bottom: 10px;
	float: right;
	margin-right: 0px;
}
.searchbox {
	top: 48px;
	right: 10px;
}
body {
	font-size: 14px;
	line-height: 19px;
}
.container {
	width: 300px !important;
}
.logo {
	max-width: 100%;
}
.mobileButton {
	display: inline-block;
}
.fullPage, .page-wrapper {
	border: none;
}
.subBannerText {
	padding-top: 15px;
}
.insidePage {
	padding: 30px 0px 30px;
}
.closeTeam {
	font-size: 40px;
	top: 5px;
	right: 10px;
}
.videoOverlay {
	bottom: 10px;
}
.textBanner h2, .subBannerText h2 {
	font-size: 20px;
	line-height: 25px;
}
.solaceChair, .airChair, .VRBackground {
	height: 204px;
	background-size: 155% auto;
}
.solaceChair {
	margin-bottom: 20px;
}
.subBannerTextRight {
	width: 100%;
}
.subBannerText {
	background-color: rgba(0,0,0,0.2);
	height: 204px;
}
.blogItem {
	height: 200px;
}
.blogTitle {
	height: 200px;
	padding-top: 60px;
}
.videoOverlay {
	max-width: 100%;
	width: 300px;
	left: 50%;
	font-size: 13px;
	line-height: 18px;
	margin-left: -150px;
}
.teamOverlay {
	padding: 120px 0px;
}
h1 {
	font-size: 24px;
	line-height: 29px;
}
h2 {
	font-size: 22px;
	line-height: 27px;
}
h3 {
	font-size: 20px;
	line-height: 25px;
}
h4 {
	font-size: 18px;
	line-height: 23px;
}
.productPopupBg .productPopup {
	width: 550px;
	margin-left: -275px;
	top: 10%;
	overflow-y: scroll;
	overflow-x: hidden;
	height: 400px;
}
.productImg .btn {
	margin-top: 100px;
}
.productOverlay {
	display: none;
}
.thumbnails img {
	max-width: 77px !important;
}
.productDetails .row:nth-child(2) {
	background-color: #eee;
	padding-top: 10px;
}
.resourceList a {
	margin-bottom: 5px;
}
.totalAmount {
	width: 132px;
}
.cartbuttons {
	margin-bottom: 5px;
}
.couponslide {
	display: block !important;
	margin-bottom: 20px;
}
.thumbnails {
	margin-bottom: 20px;
}
.cartTitles {
	display: none;
}
.whitebutton {
	margin-left: 0px;
	margin-top: 10px;
}
.lookbookitem {
	height: auto !important;
}
.lbdescription:before {
	content: 'when clicking on mobile just link through to product';
	display: block;
	font-size: 13px;
}
.lbdescription img, .lbdescription h4, .lbdescription p, .lbdescription .btn {
	display: none;
}
.accountmanager {
	margin-bottom: 20px;
	max-width: 100%;
}
.orderLineItem .alignright {
	text-align: left;
}
.orderLineItem .alignright .btn {
	margin-bottom: 5px;
}
.orderLineItem .col-lg-2 {
	margin-bottom: 5px;
}
.orderhistory .orderLineItem .col-lg-2:nth-child(1):before {
	content: 'Date';
	margin-right: 10px;
	display: inline-block;
}
.orderhistory .orderLineItem .col-lg-2:nth-child(2):before {
	content: 'Order Number ';
	display: inline-block;
	margin-right: 10px;
}
.orderhistory .orderLineItem .col-lg-2:nth-child(3):before {
	content: 'Points';
	display: inline-block;
	margin-right: 10px;
}
.orderhistory .orderLineItem .col-lg-2:nth-child(4):before {
	content: 'Order Total ';
	display: inline-block;
	margin-right: 10px;
}
.orderLineItem {
	border-bottom: 1px solid #eee;
}
.cartItem .alignright {
	text-align: left;
}
.aboutimg {
	float: none;
	max-width: 100%;
	margin-left: 0px;
	margin-bottom: 10px;
}
.cartItem .alignright .btn {
	margin-bottom: 5px;
}
.bottomfooter .alignright {
	text-align: left;
}
.rewards .orderLineItem .col-lg-4:nth-child(1):before {
	content: 'Order Date';
	margin-right: 10px;
}
.rewards .orderLineItem .col-lg-4:nth-child(2):before {
	content: 'Order ID';
	margin-right: 10px;
}
.rewards .orderLineItem .col-lg-4:nth-child(3):before {
	content: 'Points';
	margin-right: 10px;
}
.orderList .cartPrice {
	margin-bottom: 10px;
}


}

.sm-searchbox-content .field.searchbox::before {
	display:none;
}
.sm-searchbox-content .field.searchbox .input-text {
	display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 17px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.minicart-wrapper{margin-left:0px;}
.minicart-wrapper .action.showcart:before{display:none}

.minicart-header{display: inline-block;
    vertical-align: middle;}
	
.searchbox-header{
	padding: 0px;
    width: 152px;
    display: inline-block;
    float: none;
    vertical-align: middle;
}	

.cms-index-index .columns.col1-layout > .container,
.catalog-product-view .columns.col1-layout > .container,
.cms-page-view .columns.col1-layout > .container{width:auto !important; padding:0px; max-width:none}

.cms-page-view .insidePage{padding-top:0px;}
.cms-page-view .header-top-wrapper .breadcrumbs{display:block !important}

.customer-account-login .header-top-wrapper,
.cms-page-view.cms-contact .header-top-wrapper .breadCrumb,
.cms-careers.cms-page-view .header-top-wrapper .breadCrumb,
.cms-product-features.cms-page-view .header-top-wrapper .breadCrumb,
.blog-index-index .header-top-wrapper .breadCrumb{display:none !important}

.catalog-category-view .columns.col1-layout > .container {
    width: 1500px !important;
}
	
.header-top-wrapper{display:block;}

.cms-team .header-top-wrapper,
.catalog-product-view .header-top-wrapper{margin-top:0px;}

.footer-wrapper{padding-top:0px; background:none}

.product-info-main .page-title-wrapper.product .page-title {
	font-size: 32px;
    line-height: 38px;
	color:#555;
}

.product-info-main .product-info-stock-sku{/*display:none;*/}
.product-info-main .stock{display: none}

.product-info-main .product-options-bottom .box-tocart .fieldset .actions button,
.product-info-main .product-add-form .box-tocart .fieldset .actions button {
    background: #8ac9da;
    font-size: 20px !important;
    text-transform: uppercase;
    font-weight: normal !important;
    border-radius: 4px;
    padding: 7px 15px 10px !important;
    height: auto !important;
    line-height: normal !important;
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.product-info-main .product-options-bottom .box-tocart .fieldset .actions button:hover,
.product-info-main .product-add-form .box-tocart .fieldset .actions button:hover{
	background-color:#b8ddb0 !important;
}

.product-info-main .product-add-form .box-tocart .actions .tocart span:before{display:none;}

.product-addto-links{display:none;}

.cms-index-index .fullProductPage{padding-top:0px;}

button, button:focus, .cart-container .action.continue, a.action.primary, .modal-footer .action-primary.action-accept{
	line-height:22px;
	border: 0px;
    padding: 5px 12px 6px;
    background-color: #8ac9da;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
	    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    background-image: none;
    white-space: nowrap;
    border-radius: 4px;
    user-select: none;
	height:auto;

}


.form.password.reset, .form.send.confirmation, .form.password.forget, .form.create.account{
	width:auto;
	max-width:none;
	min-width:0px;
}

legend{margin-top:10px; margin-bottom:0px;}

.field label{display:none !important;}

.field label.display-imp{display:inline !important}

.form-login .fieldset > .field{margin-bottom:10px !important;}

.form-create-account{
	.primary,
	.field{margin-top:10px}
}

.login-container .fieldset:after{display:none;}

.actions-toolbar .alignright{text-align:right}

.f-left{float:left !important;}
.f-right{float:right !important;}

.category-view .category-image{display:none;}

.mgs-lookbook-container{float:none;
 .lookbook-image{width:100%;}
}

.blog-index-index{
	#maincontent{
		margin-top: 0px;
		padding-top: 0px;
	}
}

#checkout{
	.field{
		label{
			display:inline-block !important;
		}
	}
}

.minicart-wrapper .action.showcart.active:before{
	display:none;
}

.bundle-actions .action.primary, .bundle-options-container .block-bundle-summary .box-tocart .action.primary, .cart-container .checkout-methods-items .action.primary, .block-minicart .block-content>.actions>.primary .action.primary, .methods-shipping .actions-toolbar .action.primary, .block-authentication .action.action-register, .block-authentication .action.action-login, .checkout-payment-method .payment-method-content>.actions-toolbar>.primary .action.primary, .form-address-edit .actions-toolbar .action.primary, .multicheckout .action.primary{
	padding:5px 12px 6px;
}

.swatch-option{width:36px; height:36px; background-size:100% !important;}

.swatch-option.text{
	border: 1px solid #8ac9da;
    background-color: transparent;
    color: #8ac9da;
    margin-right: 10px;
    margin-top: 0px;
	    padding: 5px 12px 6px;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    background-image: none;
    white-space: nowrap;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
	width:auto;

	&:hover {
		background-color: #8ac9da;
		border: 1px solid #8ac9da;
		margin-right: 10px;
		margin-top: 0px;
		color: #fff !important;
		outline: 0;
		background-image: none;
		-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
		box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	}

}

.swatch-attribute {
    margin-bottom: 10px;
}

.swatch-attribute-label {
    position: relative;
    font-size: 18px;
    font-weight: 800;
}


#wishlist-view-form{
	.actions-toolbar{
		.primary{width: 100%;}
		.secondary{display:none}
	}
}

.cartItem{
	.product-image-container{
		width:150px !important;
	}
}

.no-border{border:none;}

.cart-summary{padding: 0px !important;}

.opc-progress-bar-item._active:before,
.opc-progress-bar-item._active>span:before{
	background: #8ac9da !important;
}

.opc-block-shipping-information .shipping-information-title .action-edit{top:-8px;}

.checkout-container .authentication-wrapper button {
    text-transform: uppercase;
    background-color: #333;
    padding: 5px 10px !important;
    border-radius: 5px !important;
}

}

@media (min-width: 768px){
	.account .fieldset .legend,
	.account .fieldset>.field.choice:before{
		margin-left:0px;
		width:auto;
	}
	.account .fieldset>.field.no-label:before{
		width:auto;
	}
	.page-layout-1column .product-info-main,
	.page-layout-1column .product.media {
		width:50% !important;
	}
	.product-info-main .box-tocart .actions, .product-options-bottom .box-tocart .actions{
		padding-top:0px !important;
	}
	
	.product-info-main .product-add-form .product-options-wrapper .fieldset .field .label{display:block !important}

	.fotorama__stage__frame .fotorama__img{
		position: absolute !important; margin-left:0px !important
	}
	
}
