/**
 *   Here's where everything gets included. You don't need
 *   to change anything here, and doing so might break
 *   stuff. Here be dragons and all that.
 */
/**
 *   Default variables
 *
 *   While these can be set with JavaScript, it's probably
 *   better and faster to just set them here, compile to
 *   CSS and include that instead to use some of that
 *   hardware-accelerated goodness.
 */
.unslider {
    overflow: auto;
    margin: 0;
    padding: 0;
}
.unslider-wrap {
    position: relative;
}
.unslider-wrap.unslider-carousel > li {
    float: left;
}
.unslider-vertical > ul {
    height: 100%;
}
.unslider-vertical li {
    float: none;
    width: 100%;
}
.unslider-fade {
    position: relative;
}
.unslider-fade .unslider-wrap li {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: 8;
}
.unslider-fade .unslider-wrap li.unslider-active {
    z-index: 10;
}
.unslider ul, .unslider ol, .unslider li {
    list-style: none;
    /* Reset any weird spacing */
    margin: 0;
    padding: 0;
    border: none;
}
.unslider-arrow {
    position: absolute;
    left: 20px;
    z-index: 2;
    cursor: pointer;
}
.unslider-arrow.next {
    left: auto;
    right: 20px;
}

.unslider-nav ol {
    list-style: none;
    text-align: center;
}
.unslider-nav ol li {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 4px;
    background: transparent;
    border-radius: 5px;
    overflow: hidden;
    text-indent: -999em;
    border: 2px solid #fff;
    cursor: pointer;
}
.unslider-nav ol li.unslider-active {
    background: #fff;
    cursor: default;
}
