<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2019 Amasty (https://www.amasty.com)
 * @package Amasty_ProductAttachment
 */
?>
<?php
/** @var \Amasty\ProductAttachment\Block\Widgets\AttachmentsList $block */
?>
<?php if ($files = $block->getAttachments()) : ?>
    <?php /* if ($block->getBlockTitle()) : ?>
        <div class="block-title">
            <strong><?= $block->escapeHtml($block->getBlockTitle()); ?></strong>
        </div>
        <?php endif; */?>

    <?php foreach ($files as $file) : ?>
        <div class="col-lg-3 col-md-3 col-sm-4 resourcebut">
            <a class="resourcesButton" href="<?= $block->escapeUrl($file->getFrontendUrl()) ?>"target="_blank">
                <?php if ($file->getThumbimage()) : ?>
                    <img src="<?= $block->escapeUrl($block->resize($file->getThumbimage(),77,109));?>" class="am-fileicon" />
                <?php endif; ?>
                <span><?= $block->escapeHtml($file->getLabel()); ?></span>
                <?php if ($block->isShowFilesize() && $file->getFileSize()) : ?>
                    <span class="am-filesize">(<?= $block->escapeHtml($file->getReadableFileSize()) ?>)</span>
                <?php endif ?>
            </a>
        </div>
        <?php /*<div class="am-fileline">
                <?php if ($block->isShowIcon() && $file->getIconUrl()) : ?>
                <img src="<?= $block->escapeUrl($file->getIconUrl()) ?>" class="am-fileicon" />
                <?php endif; ?>

                <a href="<?= $block->escapeUrl($file->getFrontendUrl()) ?>" class="am-filelink" target="_blank">
                    <?= $block->escapeHtml($file->getLabel()); ?>
                </a>

                <?php if ($block->isShowFilesize() && $file->getFileSize()) : ?>
                    <span class="am-filesize">(<?= $block->escapeHtml($file->getReadableFileSize()) ?>)</span>
                <?php endif ?>
            </div> */ ?>
    <?php endforeach; ?>
<?php endif; ?>
