//
//  Variables
//  _____________________________________________

//
//  Common
//  _____________________________________________


& when (@media-common = true) {

  .resourcebut:nth-child(4n+1) {
    clear: left;
  }
  .list-files {
    display: none;
    padding-bottom: 20px;
    padding-left: 15px;
  }
  .resourcesArea {
    .btn {
      &:hover {
        background-color: #8ac9da;
      }
    }
  }
  .second-block-home {
    margin-top: 30px;
  }
  .cms-page-view {
    .breadCrumb {
      display: none;
    }
    .page-main {
      padding-top: 0;
    }
  }
  body h1 {
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 20px;
    margin-top: 0;
    font-family: 'galano_grotesquebold';
  }
  .page-products {
    .products-grid {
      margin-top: 60px;
      .product-item-info {
        width: auto;
        border: 1px solid #efefef;
        margin-bottom: 30px;
        &:hover {
          box-shadow: none;
          border: 1px solid #efefef;
          padding: 0;
          margin: 0;
          margin-bottom: 30px;
          a {
            position: relative;
            &:before {
              content: "";
              background: rgba(236, 188, 159, 0.9);
            }
          }
          #quickview {
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: rgba(236, 188, 159, 0.9);
            .bss-quickview {
              position: absolute;
              width: 140px;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
              z-index: 999;
              background-color: transparent;
              font-size: 20px;
              text-align: center;
              border: 1px solid #fff;
              padding: 0;
              margin: 0;
              line-height: 33px;
              display: inline-block;
              height: 41px !important;
              border-radius: 4px;
              text-transform: uppercase;
              &:hover {
                background: rgba(255, 255, 255, 0.2);
              }
              &.superlink {
                width: 200px;
              }
            }
          }
        }
        #quickview {
          display: none;
        }
        .productTitle {
          height: 28px;
          white-space: normal;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          a {
            color: #555;
          }
        }
        .price-box {
          .price {
            font-family: 'IsidoraSans-Medium';
            font-weight: bold;
            /*display: block;*/
            font-size: 16px;
            margin-top: 5px;
            color: #555;
          }
        }
        .product-image-wrapper {
          padding-bottom: 0 !important;
        }
      }

      .itemeach:nth-child(5n+0) {
        .product-item-info {
          &:hover {
            border-color: rgba(184, 221, 176, 0.9);
            #quickview {
                background: rgba(184, 221, 176, 0.9);
            }
          }
        }
      }
      .itemeach:nth-child(5n+1) {
        .product-item-info {
          &:hover {
            border-color: rgba(236, 188, 159, 0.9);
            #quickview {
                background: rgba(236, 188, 159, 0.9);
            }
          }
        }
      }
      .itemeach:nth-child(5n+2) {
        .product-item-info {
          &:hover {
            border-color: rgba(124, 132, 190, 0.9);
            #quickview {
                background: rgba(124, 132, 190, 0.9);
            }
          }
        }
      }
      .itemeach:nth-child(5n+3) {
        .product-item-info {
          &:hover {
            border-color: rgba(229, 205, 223, 0.9);
            #quickview {
                background: rgba(229, 205, 223, 0.9);
            }
          }
        }
      }
      .itemeach:nth-child(5n+4) {
        .product-item-info {
          &:hover {
            border-color: rgba(138, 201, 218, 0.9);
            #quickview {
                background: rgba(138, 201, 218, 0.9);
            }
          }
        }
      }
    }
    .toolbar-products {
      text-align: right;
      position: absolute;
      top: 0;
      right: 15px;
      .modes, .toolbar-amount, .pages, .limiter {
        display: none;
      }
      .sorter {
        .sorter-label {
          font-size: 20px;
          cursor: pointer;
          font-weight: bold;
        }
        select {
          width: auto;
          display: inline-block;
          font-size: 20px;
          padding: 10px;
          border-radius: 0px;
          border: none;
          height: 50px !important;
          font-weight: bold;
          background: url('@{baseDir}/images/bg-selectbox.png') no-repeat right center #fff;
        }
        .sorter-action {
          span {
            display: none;
          }
        }
        .sort-desc {
          &:before {
            color: #555;
            font-family: FontAwesome;
            content: '\f175';
          }
        }
        .sort-asc {
          &:before {
            color: #555;
            font-family: FontAwesome;
            content: '\f176';
          }
        }

      }
    }
    .filter-block {
      position: relative !important;
    }
    .block.filter {
      .filter-actions {
        margin-bottom: 10px;
      }
      .filter-current {
        .filter-label {
          display: inline-block;
          font-weight: 700;
          font-size: 18px;
        }
        .filter-value {
          font-size: 18px;
        }
        .action {
          font-size: 18px;
        }
        .item {
          margin-bottom: 5px;
        }
      }
      .filter-options{
        position: relative;
        .filter-options-content {
          top: 46px;
          .item {
            font-size: 18px;
            margin: 5px 0;
            a {
              color: #555;
            }
          }
          .checkbox {
            top:0;
            input[type="checkbox"] {
              position: static;
              margin-left: 0;
            }
            label::before {
              top: 5px;
              margin-left: -19px;
            }
            input[type="checkbox"].styled:checked {
              + label:after {
                top: 8px;
              }
            }
          }
        }

        .filter-options-title {
          font-weight: 700;
          font-size: 18px;
          margin-bottom: 0;
          &:after {
            font-size: 35px;
            width: 25px;
          }
        }
      }
      .block-subtitle {
        display: block;
        margin-top: 10px;
        font-size: 18px;
        font-weight: 800;
        line-height: 24px;
        font-family: 'IsidoraSans-Medium';
        padding-bottom: 10px;
      }
      font-weight: normal;
      .filter-title {
        display: none;
      }
      .filter-options-content {
        display: block;
        margin-bottom: 10px;
      }
    }
    .category-view {
      margin-bottom: 100px;
    }
  }

  .catalog-category-view {
    .intro {
      margin-bottom: 40px;
    }
    .page-title-wrapper {
      h1 {
        font-size: 50px;
        line-height: 60px;
        margin-bottom: 0;
      }
    }
    .page-main {
      padding-top: 16px;
    }
    .breadCrumb {
      display: none;
    }
    .mfp-iframe-scaler {
      padding-top: 0;
      height: auto;
      overflow: visible;
      iframe {
        box-shadow: none;
      }
    }
  }

  .bss_quickview-catalog_product-view {
    .page-wrapper {
      border-left-width: 25px;
      border-right-width: 25px;
      padding-bottom: 50px;
      .container {
        width: auto !important;
      }
      .column.main {
        padding-bottom: 20px;
      }
    }
    .page-main {
      .col-lg-6 {
        width: 50%;
        float: left;
      }
    }
    .header-container {
      display: none;
    }
  }

  .catalogsearch-result-index.page-layout-2columns-left {
    .column.main {
      width: 100% !important;
    }
  }
  .catalogsearch-result-index .product-item-photo {
    display: block;
    height: 351px;
  }
  .catalogsearch-result-index {
    .block-minicart{
      .product-item-photo{
        height: auto;
      }
    }
  }
  .navigation-horizontal {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1500px;
    max-width: none;
  }
  .sku-main {
    margin-left: 15px;
  }

  .smallCartDetails {
    .c-name {
      font-style: normal;
      font-weight: bold;
      margin-bottom: 0;
    }
    .options-child {
      margin-left: 15px;
      dt {
        margin-bottom: 0;
      }
      dd {
        margin-bottom: 5px;
      }
    }
  }
  .minicart-items {
    .product.options.list {
      .product_name {
        font-size: 16px;
        font-weight: bold;
      }
      dt {
        display: block;
        color: #555;
        text-align: left;
        padding-left: 0 !important;
        font-size: 14px;
        margin-bottom: 0;
        padding-bottom: 0;
        margin-left: 15px;
      }
      dd {
        display: block;
        margin-right: 5px;
        font-size: 14px;
        margin-left: 15px;
        margin-bottom: 5px;
        margin-top: 3px;
      }
    }
  }
  .smallCartDetails {
    dt {
      display: inline;
      font-weight: normal;
      &:after {
        content: ":";
      }
    }
    dd {
      display: inline;
    }
  }
  .c-sku {
    font-size: 15px;
  }
  .smallCartDetails.super {
    .c-name {
      margin-left: 0;
      color:#000;
    }
    .c-sku {
      font-style: normal;
      margin-bottom: 5px;
    }
    .options-child {
      margin-left: 0;
      margin-bottom: 15px;
      dt {
        display: inline;
        font-weight: normal;
        &:after {
          content: ":";
        }
      }
      dd {
        display: inline;
      }
    }
    .o-qty {
      font-style: normal;
      /*font-weight: bold;*/
      color: #000;
    }
  }
  .swatch-option.text {
	min-width: 36px;
	min-height: 36px;
  }
  .productCat {
    &.no-catimg {
      background: rgba(138, 201, 218, 1);
    }
  }
  .opc-block-summary {
    .p-sku {
      font-size: 16px;
    }
    .minicart-items {
      .product-item-name {
        margin-bottom: 0;
      }
      .product-sku {
        margin-bottom: 10px;
      }
    }
    .options.super {
      .p-name{
        font-weight: bold;
        font-size: 16px;
        color: #000;
        padding-right: 80px;
      }
      .p-sku {
        padding-right: 80px;
        font-size: 16px;
      }
      .option-super {
        /*margin-left: 15px;*/
        .option-line:last-of-type {
          .label {
            font-style: normal !important;
            color: #000 !important;
          }
          .values {
            font-style: normal !important;
            color: #000 !important;
          }
        }
      }
      .p-item {
        position: relative;
        padding-right: 0;
        .p-image {
          width: 70px;
          position: absolute;
          top: 0;
          right: 0;
          img {
           /* border: 1px solid #ddd;*/
          }
        }
      }
    }
  }

  .bss-onestepcheckout {
    #opc-sidebar {
      .choice {
        .label {
          position: relative;
          top: 2px;
        }
      }
      .item-options {
        .label {
          font-size: 16px;
          margin-bottom: 0;
          font-style: italic;
        }
      }
      .values {
        font-size: 16px;
        font-style: italic;
        padding-left: 2px;
      }
      .opc-block-summary {
        .product-item-details {
          .details-qty {
            display: none;
            float: left;
          }
          input.qty {
            display: inline-block;
          }
        }
      }
    }
  }
  .blog-index-index {
    .header-top-wrapper {
      display: none;
    }
    .teamOverlay {
      a {
        color: #fff;
      }
    }
    .teamDescription  {
      .block-title {
        position: relative;
      }
      h4 {
        color: #555;
        padding-right: 100px;
        margin-bottom: 10px;
        a {
          color: #555;
          font-family: 'galano_grotesquebold';
        }
      }
      .addthis_default_style {
        position: absolute;
        right: 0;
        top: 6px;
      }
      .post-info {
        margin-bottom: 10px;
      }
    }
  }
  .blog-category-view{
    .category-content {
      max-width: 66.6%;
      width: 100%;
      margin: 0 auto;
    }
  }
  .blog-post-view {
    .sidebar-additional {
      width: 23%;
      float: right;
    }
    .column.main {
      float: left;
    }
    .page-main {
      width: 1500px ;
      max-width: none;
      padding-left: 15px;
      padding-right: 15px;
      margin-left: auto;
      margin-right: auto;
      .columns {
        margin-left: -15px;
        margin-right: -15px;
      }
    }
  }
  .page-wrapper {
    .minicart-wrapper {
      .block-minicart {
        width: 400px;
      }
    }
    .block-minicart {
      .price-container {
        .price {
          color: #000 !important;
        }
      }
      .subtotal {
        .price-container {
          .price {
            font-family: 'IsidoraSans-Bold';
          }
        }
        border-top: 1px solid #dddddd;
        margin-top: 10px;
        padding-right: 15px;
        .label {
          margin-right: 14px;
          color: #000;
          &:after {
            margin-left: -5px;
          }
        }
      }

      .minicart-items-wrapper {
        padding: 20px 10px 0px 10px;
        .minicart-items {
          .product-item-pricing {
            text-align: right;
            color: #000;
            .label-qty {
              display: inline-block;
              position: relative;
              top: 3px;
              font-size: 15px;
              right: 20px;
            }
          }
          .product-item-photo {
            width: 75px;
            border: none;
            padding-right: 0;
          }
          .product-item-details {
            padding-left: 85px;
            .item-qty {
              font-size: 15px;
            }
          }
          max-height: 450px;
          .product-name {
            color: #1979c3;
            font-weight: bold;
          }
          dl.options {
            line-height: 22px;
          }
          .options {
            .p-item {
              margin-bottom: 15px;
              position: relative;
              padding-right: 0;
              .label:last-of-type {
                font-style: normal;
                color: #000;
              }
              .values:last-of-type {
                font-style: normal;
                color: #000;
              }
              .p-image {
                width: 75px;
                position: absolute;
                top: 0;
                right: 0;
                img {
                  /*border: 1px solid #ddd;*/
                }
              }
            }
            .product_name {
              color: #000;
              padding-right: 80px;
            }
            .produc_sku {
              padding-right: 80px;
              margin-bottom: 5px;
              overflow-wrap: break-word;
              word-wrap: break-word;
              -ms-word-break: break-all;
              word-break: break-all;
              word-break: break-word;
              -ms-hyphens: auto;
              -moz-hyphens: auto;
              -webkit-hyphens: auto;
              hyphens: auto;
            }
          }
          dt {
            margin-left: 0;
            display: inline;
            font-weight: normal;
            font-style: italic;
            padding: 0 !important;
          }
          dd {
            margin-left: 0;
            display: inline;
            font-style: italic;
            padding: 0;
          }
        }
      }
    }
  }

  .produc_sku {
    font-size: 16px;
  }
  .checkout-cart-index {
    .cartItem {
      .qty {
        text-align: center !important;
      }
      .cartPrice, .cartSubtotal {
        margin-top: 25px;
      }
      .cartSubtotal {
        .action {
          color: #1979c3;
        }
      }
    }
    .cart.table-wrapper {
      .product-item-photo {
        padding-top:12px;
      }
      .product-item-details {
        display: inline-block;
        .b-left {
          width: 78%;
          float: left;
        }
        .product-child-image {
          float: right;
          width: 21%;
          max-width: 90px;
          img {
            /*border: 1px solid #dddddd;*/
          }
        }
      }
    }
  }

  .checkout-index-index {
    .totals-mageworx-fee-summary {
      .amount {
        .price {
          padding-right: 0 !important;
          &:after {
            content: none !important;
          }
        }
      }
    }
    #checkout .field label {
      padding-left: 0 !important;
    }
    #mageworx-shipping-fee-form {
        legend {
          display: none;
        }
        .admin__field-control {
          .admin__field-label {
            font-weight: normal;
            margin-left: 10px;
          }
        }
    }
  }

  .table-order-items {
    .option-super {
      margin-top: 10px;
    }
  }

  .item-options {
    dt {
      font-weight: normal;
      display: inline;
      font-style: italic;
    }
    dd {
      display: inline;
      font-style: italic;
    }
  }
  .product-item-photo {
    padding-right: 15px;
  }
  strong.product-item-name {
    color:#1979c3;
  }

  .p-item {
    .p-single-name {
      font-weight: bold;
      font-style: normal;
      color: #000;
      display: block;
      padding-right: 80px;
    }
    .p-single-sku {
      font-style: normal;
      display: block;
      padding-right: 80px;
    }
    position: relative;
    max-width: 350px;
    margin-bottom: 20px;
    .p-image {
      max-width: 75px;
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
    }
    dt {
      font-weight: normal;
    }
    .option-super {
      dt {
        font-weight: normal;
        font-style: italic;
        display: inline;
        &:last-of-type {
          font-style: normal;
          color: #000;
        }
      }
      dd {
        display: inline;
        font-style: italic;
        &:last-of-type {
          font-style: normal;
        }
      }
    }
  }

  .VRBackground, .block-home, .mainBanner {
    position: relative;
    background-size: cover !important;
    .subBannerText {
      float: none;
      padding: 0;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      .buttons {
        a {
          font-family: 'IsidoraSans-Bold';
          font-weight: bold;
          color: #555 !important;
          width: 180px;
          background: rgba(255, 255, 255, 0.8) !important;
          height: 40px;
          line-height: 38px;
          padding: 0;
          font-size: 16px;
          &:hover {
            background: #8ac9da !important;
          }
          &.btn-learnmore {
            width: 150px;
          }
        }
      }
      h2 {
        font-size: 60px;
        margin-bottom: 5px;
        color: #fff;
      }
      .bannerDesc {
        margin-bottom: 40px;
        color: #fff;
      }
    }
  }


  .mainBanner {
    .subBannerText {
      h2 {
        font-size: 90px;
        line-height: 90px;
        margin-bottom: 40px;
      }
      .bannerDesc {
        font-size: 50px;
        margin-bottom: 70px;
      }
    }
  }
  #tab-label-amfileattachment, #amfileattachment {
    display: none !important;
  }
  .slick-slide {
    .home-item {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  .productsHome {
    a.btn {
      margin-top: 15px;
    }
  }

  .page-wrapper {
    .submenu:not(.about):not(.inspo) {
      &.product {
        position: fixed;
        left: 50%;
        margin-left: 0 !important;
        transform: translate(-50%);
      }
    }
  }
}

//  Desktop
//  ---------------------------------------------
//

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
  .page-wrapper {
    .submenu:not(.about):not(.inspo) {
      .submenutitle {
        color: #555;
        width: 100%;
        letter-spacing: 0;
        bottom: 0;
        line-height: 70px;
        left: 0;
        background: rgba(255,255,255,0.3);
        height: 70px;
        padding-left: 25px;
      }
      width: 1492px !important;
      &.product {
        width: 1440px !important;
      }
      li {
        &.rangeli {
          width: 100% !important;
        }
        width: 295px;
        a {
          margin-bottom: 20px;
          margin-left: 10px;
          margin-right: 10px;
          &:hover {
            .submenutitle {
              color: #fff;
              background: rgba(85,85,85,0.3);
            }
          }
          &.range {
            margin-left: 0;
            margin-right: 15px;
            margin-bottom: 10px;
          }
        }
      }
    }
  }

  .catalog-category-view, .catalogsearch-result-index {
    .mfp-iframe-holder {
      .mfp-content {
        max-width: 1200px;
      }
      .mfp-close {
        font-family: "Font Awesome 5 Free";
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
        font-size: 40px;
        font-weight: 900;
        width: 50px;
        right: -40px !important;
        position: absolute !important;
        background: transparent;
        transition: none;
        text-indent: 20px;
        padding: 0;
        margin: 0;
        overflow: hidden;
        &:before {
          content: "\f00d";
        }
      }
    }
    .products-grid {
      .product-item-photo {
        display: block;
        height: 351px;
      }
    }


    .m-navigation-slider-price {
      width: 100%;
      padding-top: 10px;
    }
    .m-navigation-slider {
      width: 100%;
      max-width: 468px;
      .ui-slider {
        margin-top: 15px;
      }
    }
  }
}


@media screen and (min-width: 768px) {

}
@media (max-width: 1199px) {
  .knight-super-product {
    .product.media {
      transform: none !important;
    }
  }
}
@media (max-width: 1700px) and (min-width: 1300px) {
  .block-home {
    background-size: cover !important;
  }
  .page-wrapper {
    .header {
      .submenu:not(.about):not(.inspo) {
        width: 1100px !important;
        margin-left: -260px !important;
        &.product {
          width: 1260px !important;
          margin-left: 0 !important;
        }
        li {
          &.rangeli {
            width: 100% !important;
          }
          width: 215px;
          a {
            padding: 0;
          }
        }
      }
    }
  }


  .VRBackground, .block-home, .mainBanner {
    position: relative;
    .subBannerText {
      float: none;
      padding: 0;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      .buttons {
        a {
          font-family: 'IsidoraSans-Bold';
          font-weight: bold;
          color: #555 !important;
          width: 180px;
          background: rgba(255, 255, 255, 0.8) !important;
          height: 40px;
          line-height: 38px;
          padding: 0;
          font-size: 16px;
          margin-top: 10px;
          &:hover {
            background: #8ac9da !important;
          }
          &.btn-learnmore {
            width: 150px;
          }
        }
      }
      h2 {
        font-size: 50px;
        margin-bottom: 10px;
        color: #fff;
        line-height: 50px;
      }
      .bannerDesc {
        margin-bottom: 40px;
        color: #fff;
      }
    }
    &:before {
      content: '';
      background: #000;
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0.5;
      left: 0;
      top: 0;
    }
  }
  .mainBanner {
    .subBannerText {
      h2 {
        font-size: 70px;
        line-height: 70px;
        margin-bottom: 40px;
      }
      .bannerDesc {
        font-size: 40px;
        margin-bottom: 70px;
      }
    }
  }

}

@media (min-width: 1301px) and (max-width: 1325px) {
  .product-info-main {
    margin-right: 25px !important;
  }
  .product-essential {
    .super-stock-sku {
      margin-right: 0;
    }
  }
}
@media (min-width: 1560px) {
  .blog-post-view {
    .page-main {
      width: 1500px;
    }
  }
}
@media (min-width: 640px) and (max-width: 767px) {
  .product-info-main {
    .super-box-tocart {
      .fieldset {
        .field.total-cost {
          float: none;
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 1300px) and (min-width: 991px) {
  .page-wrapper {
    .header {
      .submenu:not(.about):not(.inspo) {
        width: 900px !important;
        margin-left: -225px !important;
        &.product {
          width: ~"calc(100vw - 20px)" !important;
          margin-left: 0 !important;
        }
        li {
          &.rangeli {
            width: 100%;
          }
          width: 176px;
          a {
            padding: 0;
          }
        }
      }
    }
  }
  .block-home {
    background-size: cover !important;
  }
  .VRBackground, .block-home, .mainBanner {
    position: relative;
    .subBannerText {
      float: none;
      padding: 0;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      .buttons {
        a {
          font-family: 'IsidoraSans-Bold';
          font-weight: bold;
          color: #555 !important;
          width: 170px;
          background: rgba(255, 255, 255, 0.8) !important;
          height: 40px;
          line-height: 38px;
          padding: 0;
          font-size: 14px;
          margin-top: 5px;
          &:hover {
            background: #8ac9da !important;
          }
          &.btn-learnmore {
            width: 140px;
          }
        }
      }
      h2 {
        font-size: 36px;
        margin-bottom: 5px;
        color: #fff;
        line-height: 36px;
      }
      .bannerDesc {
        margin-bottom: 25px;
        color: #fff;
      }
    }
    &:before {
      content: '';
      background: #000;
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0.5;
      left: 0;
      top: 0;
    }
  }
  .mainBanner {
    .subBannerText {
      h2 {
        font-size: 58px;
        line-height: 58px;
        margin-bottom: 20px;
      }
      .bannerDesc {
        font-size: 30px;
        margin-bottom: 50px;
      }
    }
  }
}

@media (max-width: 1199px) and (min-width: 769px) {
  .resourcebut:nth-child(4n+1) {
    clear: none;
  }
  .resourcebut:nth-child(3n+1) {
    clear: left;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  .block-home {
    background-size: cover !important;
  }
  .VRBackground, .block-home, .mainBanner {
    position: relative;
    .subBannerText {
      float: none;
      padding: 0;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      .buttons {
        a {
          font-family: 'IsidoraSans-Bold';
          font-weight: bold;
          color: #555 !important;
          width: 130px;
          background: rgba(255, 255, 255, 0.8) !important;
          height: 30px;
          line-height: 28px;
          padding: 0;
          font-size: 12px;
          margin-top: 5px;
          &:hover {
            background: #8ac9da !important;
          }
          &.btn-learnmore {
            width: 100px;
          }
        }
      }
      h2 {
        font-size: 22px;
        margin-bottom: 5px;
        color: #fff;
        line-height: 22px;
      }
      .bannerDesc {
        margin-bottom: 10px;
        color: #fff;
      }
    }
    &:before {
      content: '';
      background: #000;
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0.5;
      left: 0;
      top: 0;
    }
  }
  .mainBanner {
    .subBannerText {
      h2 {
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 20px;
      }
      .bannerDesc {
        font-size: 22px;
        margin-bottom: 25px;
      }
    }
  }
}
.catalog-product-view {
  .product-info-main {
    .box-tocart .fieldset .field.qty{
      width: 150px;
      float: left;
      top: 0;
    }
  }
}
// Custom 
// ----------------------------------------------
//
@media (max-width: 1300px){
  .blog-post-view {
    .page-main{
      width: 100%;
    }
  }
}

@media (max-width: 1300px) and (min-width: 1200px){
  .productCat{
    min-height: auto;
  }
}

@media (max-width: 1366px) and (min-width: 1025px){
  .page-wrapper {
    .block-minicart {
      .minicart-items-wrapper .minicart-items{
        max-height: 260px;
      }
    }
  }
}
//  Tablet
//  ---------------------------------------------
//
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

}


//  Mobile
//  ---------------------------------------------
//


.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
  .block-home {
    margin-bottom: 30px !important;
  }
  .super-image-container {
    max-width: 100%;
  }
  .catalog-product-view {
    .box-tocart {
      float: none;
    }
  }
  .knight-super-product {
    .product.media {
      transform: none !important;
    }
  }
  .info.detailed {
    .product.data.items {
      .item.content {
        margin-top: 5px;
      }
    }
  }
  .product-info-main {
    .box-tocart {
      .fieldset {
        .actions {
          display: block;
        }
      }
    }
    .super-action-addto {
      .action {
        display: block;
      }
    }
  }
  .page-wrapper {
    .product-info-main {
      .super-box-tocart {
        .box-tocart {
          .fieldset {
            .control {
              input.qty {
                height: 60px;
                max-width: 100%;
              }
            }
          }
        }
      }
    }
  }
  .product-essential {
    .super-stock-sku {
      text-align: left;
      margin-top: 15px;
    }
  }
  .category-view {
    width: 300px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  .page-main {
    .navigation-horizontal {
      .filter-options {
        .filter-options-item {
          display: block;
          position: relative;
        }
        .filter-options-title {
          padding-left: 0 !important;
        }
      }
    }
  }
  body h1 {
    font-size: 24px;
    line-height: 29px;
  }
  .page-products {
    .toolbar-products {
      position: static;
      text-align: left;
    }
    .category-view {
      margin-bottom: 30px;
    }
    .products-grid {
      margin-top: 30px;
    }
    .product-items {
      margin-top: 0;
    }
  }
  body.catalog-category-view.page-layout-2columns-left {
    .column.main {
      width: 100% !important;
    }
  }
  .catalog-category-view {
    .page-title-wrapper {
      h1 {
        font-size: 24px;
        line-height: 29px;
      }
    }
  }
  .smallCartDetails.super  {
    .options-child {
      dt {
        font-weight: normal;
      }
    }
  }
  .product-child-image {
    display: none;
  }
  .page-products.catalogsearch-result-index{
    .columns{
      padding-top:0;

      .page-products .products-grid{
        margin-bottom: 0;
      }
    }
    .page-main {
      padding: 0;
    }
  } 

  .page-wrapper {
    .VRBackground, .block-home, .mainBanner {
      position: relative;
      background-size: cover;
      .subBannerText {
        float: none;
        padding: 0;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        background: none;
        height: auto;
        width: 60%;
        .buttons {
          a {
            font-family: 'IsidoraSans-Bold';
            font-weight: bold;
            color: #555 !important;
            width: 150px;
            background: rgba(255, 255, 255, 0.8) !important;
            height: 30px;
            line-height: 28px;
            padding: 0;
            font-size: 12px;
            &:hover {
              background: #8ac9da !important;
            }
            &.btn-learnmore {
              width: 120px;
            }
          }
        }
        h2 {
          font-size: 26px;
          margin-bottom: 5px;
          color: #fff;
        }
        .bannerDesc {
          margin-bottom: 15px;
          color: #fff;
        }
      }
    }
  }
  .page-wrapper {
    .productsHome {
      padding-top: 10px;
      padding-bottom: 0;
      .home-item {
        padding-left: 0;
        padding-right: 0;
        h3, p , ul, ol, div{
          padding-left: 15px;
          padding-right: 15px;
        }
        a.btn {
          margin-left: 15px;
          margin-right: 15px;
          margin-top: 15px;
        }
      }
    }
    .mainBanner {
      .subBannerText {
        h2 {
          font-size: 26px;
          line-height: 26px;
          margin-bottom: 0px;
        }
        .bannerDesc {
          font-size: 18px;
          margin-bottom: 10px;
        }
      }
    }
  }
  .second-block-home {
    margin-top: 0 !important;
  }

  .blog-post-view {
    .page-main{
      .post-view{
        padding-left: 15px;
        padding-right: 15px;
      }
    }
    .post-content{
      .post-ftimg-hld{
        margin-left: 0;
      }
    }
  }
  .page-products{
    .products-grid {
      .product-item-info{
        .productTitle{
          height: 40px;
          -webkit-line-clamp: 2;
        }
      }
    }
  }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {

  .blog-post-view {
      .post-content{
        .post-description .post-ftimg-hld{
          float: none;
        }
        .post-ftimg-hld{
          img {
            max-width: none;
            width: 100%;
          }
        }
      }
  }
}