//  Magefan blog
//  ---------------------------------------------
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.post-holder {
    margin-bottom: 30px;
}

.post-holder .post-header {
    position: relative;
}

.post-holder .post-header .post-info {
    padding: 0 0 10px 0;
}

.post-holder .post-header .post-info .label {
    color: #222;
}

.post-list {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
    list-style: none;
}

.post-list .image-featured-post .post-content .post-description .post-ftimg-hld {
    float: left;
    position: relative;
    line-height: 0;
    width: 400px;
    overflow: hidden;
}

.post-list .image-featured-post .post-content .post-description .post-ftimg-hld a {
    position: static;
    border: 1px solid #ddd;
    padding: 5px;
    display: block;
}

.post-list .image-featured-post .post-content .post-description .post-ftimg-hld img {
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
}

.post-list .image-featured-post .post-content .post-text-hld {
    margin-left: 430px;
}

.post-list .post-content .post-text-hld h2 {
    margin: 0 0 10px;
    font-size: 183.33%;
}

.post-list .post-content .post-text-hld .post-info {
    margin-bottom: 10px;
}

.post-list .post-content .post-text-hld .post-info .label {
    color: #222;
}

.post-list .post-content .post-text-hld .read-more-post {
    margin-bottom: 15px;
    text-align: right;

    .post-read-more {
        &:after {
            margin-left: 2px;
            .font-awesome(f101, 12px);
            .transition(.2s);
            position: relative;
            right: 0;
        }

        &:hover {
            &:after {
                right: -5px;
            }
        }
    }
}

.post-list .post-content .post-text-hld .share-post {
    border-top: 1px solid #ddd;
    padding-top: 15px;
}

.post-ftimg-hld .date-post {
    position: absolute;
    left: 17px;
    top: 17px;
    line-height: 1.6em;
    background: #fff;
    padding: 15px 13px 7px;
    text-align: center;
}

.post-ftimg-hld .date-post .day-post {
    font-size: 200%;
    margin-bottom: 3px;
}

.post-list .post-content .post-text-hld .share-post .title-share {
    display: inline-block;
    vertical-align: middle;
}

.post-list .post-content .post-text-hld .share-post .addthis_toolbox {
    display: inline-block;
    vertical-align: middle;
    float: right;
}

.blog-category-view .category-content {
    padding-left: 40px;
}

.post-content .post-description img {
    margin: 0 15px 0 15px;
}

.post-content .post-description ul,
.post-content .post-description ol {
    list-style-position: inside;
}

.post-view .post-description .post-ftimg-hld {
    float: left;
    margin: 0 15px 10px 0;
    max-width: 300px;
}

.post-view .post-description .post-ftimg-hld img {
    margin: 0;
}

.post-bottom .block.related .block-content {
    list-style: none;
    padding: 0;
}

.post-list .post-header .post-title {
    max-width: 80%;
}

.post-list .post-header .post-title a {
    text-decoration: none;
    font-size: 22px;
    color: #636363;
}

.post-list .post-header .post-title {
    margin: 0;
    padding: 10px 0;
    float: left;
}

.post-list .post-holder .post-header .addthis_toolbox {
    float: right;
    padding-top: 20px;
}

.post-list .hidden {
    display: none;
}

.post-view .post-holder .post-header .addthis_toolbox {
    float: right;
}

.post-view .post-bottom {
    margin-top: 30px;
}

.post-view .post-nextprev-hld {
    margin-bottom: 30px;
}

.post-view .post-nextprev-hld .prev-link {
    float: left
}

.post-view .post-nextprev-hld .next-link {
    float: right
}

.post-view .block {
    margin-bottom: 30px;
}

.widget.block-categories ul {
    list-style: initial;
    padding-left: 0;
}

.widget.block-categories ul ul {
    margin-left: 20px;
}

.widget.block-categories ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.widget.block-rss .rss-icon {
    float: left;
    width: 23px;
    padding-right: 10px;
    margin-top: 3px;
}

.widget.blog-search {
    width: 100%;
    margin-bottom: 40px;
    position: relative;
    float: right;
    z-index: 4;
}

.widget.blog-search .block-content {
    margin-bottom: 0;

    .form {
        position: relative;
    }
}

.widget.blog-search label {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    text-decoration: none;
    display: inline-block;
    float: right;
}

.widget.blog-search .control {
    border-top: 0;
    margin: 0;
    padding: 0;
    clear: both;
}

.widget.blog-search input {
    padding-right: 45px;
}

.widget.blog-search .action.search {
    width: 36px;
    height: 36px;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    line-height: 36px;
    background: none;
    border: none;
    padding: 0 !important;

    &:before {
        .font-awesome(f002, 14px);
        color: #333;
    }

    span {
        display: none;
    }
}

/* Tag claud widget */
.widget.block-tagclaud ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: table;
    width: 100%;

    li {
        float: left;
        margin: 2px 0;

        a {
            display: inline-block;
            border: 1px solid #ddd;
            padding: 5px 10px;
            margin-right: 4px;
            background-color: transparent;
            .transition(.2s);
        }
    }
}

.blog-widget-recent .post-holder {
    width: 29%;
    float: left;
    margin: 5px;
}

.blog-widget-recent .post-description .post-text-hld {
    max-height: 150px;
    min-height: 150px;
    overflow-y: auto;
}

.blog-widget-recent-masonry .post-description .post-text-hld {
    max-height: none;
    min-height: 0;
}

.blog-widget-recent-masonry .post-description .post-ftimg-hld {
    width: 100%;
    margin: 0;
}

.mfblog-autoloader {
    text-align: center;
}

.mfblog-autoloader .mfblog-show-onload {
    display: none;
}

.block-categories,
.block-recent-posts,
.block-archive{
	clear: both;
}

.sidebar .block.block-categories .block-content,
.sidebar .block.block-recent-posts .block-content,
.sidebar .block.block-archive .block-content {
    padding: 0;

    > ul {
        list-style: none;
        margin: 0;
        padding: 0;
        overflow: hidden;

        > li {
            margin: 0;
            background-color: transparent;
            border-bottom: 1px solid #ddd;
            display: block;
            font-size: 116.67%;
            transition: all 0.2s ease 0s;

            > a {
                padding: 13px 20px 10px;
                display: block;
            }

            &:last-child {
                border: none;
            }

            &:hover {
                background-color: #fff;
            }
        }
    }
}

.sidebar .block.block-categories .block-content > ul ul li {
    padding-left: 10px;
    font-size: 12px;
}

.catalog-product-view .post-bottom {
    padding-bottom: 30px;
}

/*Blog Detail*/
.blog-post-view{
    .header-top-wrapper{
        text-align: center;
    }
    .sidebar-additional{
        .block{
            &.block-categories{
                .block-title{
                    background:#f3f3f3;
                    padding:10px 20px;
                }
                .accordion{
                    border:1px solid #ddd;
                    border-top:none;
                    padding:0 20px;
                    margin:0;
                    li{
                        list-style-type: none;
                        margin:0;
                        height:50px;
                        line-height: 50px;
                        border-bottom: 1px solid #ddd;
                        &:last-child{
                            border-bottom:none;
                        }
                        a{
                            font-size:14px;
                            .transition(all 0.3s);
                            &:before{
                                .font-awesome(f192,11px);
                            }
                            &:hover{
                                padding-left: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
    .post-holder{
        background:none;
        padding:0;
        &:hover{
            .box_shadow(none);
        }
        .post-ftimg-hld{
            position:relative;
            .post-info{
                &:before{
                    width: 0;
                    height: 0;
                    border-top: 100px solid @color_primary;
                    border-right: 100px solid transparent;
                    display: block;
                    content: '';
                }
                position:absolute;
                top:0;
                left:0;
                text-align: center;
                .post-posed-date{
                    position: absolute;
                    top:10px;
                    left: 10px;
                }
                .value{
                    font-style: normal;
                    font-size: 18px;
                    line-height: 15px;
                    color:#fff;
                    font-weight: 600;
                    .day{
                        font-size:20px;
                    }
                    .month{
                        font-size: 11px;
                    }
                }
                .post-author, .post-comments{
                    display:none;
                }
            }
        }
        .post-name{
            .post-title{
                font-size:16px;
                color:#222;
                font-weight: 600;
                margin:20px 0;
                text-transform: uppercase;
            }
            .post-info{
                padding-bottom: 20px;
                margin-bottom: 45px;
                border-bottom:1px solid #ebebeb;
                .item{
                    margin-right:25px;
                    .label{
                        color:#909090;
                    }
                    &.post-author{
                        &:before{
                            .font-awesome(f007,14px);
                            color:#909090;
                        }
                    }
                    &.post-comments{
                        &:before{
                            .font-awesome(f086,14px);
                            color:#909090;
                        }
                    }
                }
                .post-posed-date{
                    display: none;
                }
            }
        }
        .post-content{
          padding-bottom:20px;
          border-bottom:1px solid #ebebeb;
          .addthis_toolbox{
            padding-top:30px;
          }
        }
        .post-bottom{
          .c-count{
            position:relative;
            &:after{
              content:'';
              height:1px;
              position: absolute;
              bottom: -1px;
              left: 0;
              width: 108px;
            }
          }
          .c-comments{
            .p-header{
              height: 30px;
              line-height: 30px;
              margin-bottom: 12px;
              border-bottom: 1px solid #eaeaea;
              text-transform: uppercase;
              .p-name, .p-actions{
                width:50%;
              }
              .p-name{
                float:left;
                color:#222;
              }
              .p-actions{
                float: right;
                padding:0;
                text-align: right;
              }
            }
          }
          .c-replyform{
            margin-left: 0;
            button{
              &:hover{
                background:#52555c ;
              }
            }
          }
          .c-reply{
            .title-form-cmt{
              position: relative;
              font-size: 16px;
              text-transform: uppercase;
              color: #222;
              border-bottom: 2px solid #e8e8e8;
              &:after{
                position: absolute;
                content: '';
                display: inline-block;
                height: 2px;
                bottom: -2px;
                left: 0;
                width: 150px;
              }
            }
          }
        }
    }
}

/*Blog Category*/
.blog-index-index, .blog-category-view{
  .toolbar{
    border:none;
  }
  .post-list{
    .post-holder{
      width:33.3%;
      float:left;
      background:none;
      padding:0 15px;
      &:hover{
        .box_shadow(none);
      }
      .post-header{
        .post-description{
          position:relative;
          .post-info{
            position:absolute;
            top:0;
            left:0;
            .post-author, .post-comments{
              display:none;
            }
            .post-posed-date{
              position:absolute;
              top:4px;
              left:10px;
              color:#fff;
              font-size:18px;
              line-height:18px;
              text-align:center;
              .value{
                font-style: normal;
                font-weight:600;
                  .day{
                      font-size:20px;
                  }
                  .month{
                      font-size:11px;
                  }
              }
            }
            &:before{
              width: 0;
              height: 0;
              border-right: 80px solid transparent;
              display: block;
              content: '';
            }
          }
        }
      }
      .post-content{
        .post-title{
          font-size:16px;
          margin:20px 0 10px;
        }
        .post-info{
          height:40px;
          line-height: 40px;
          .item{
            float:left;
            margin-right:10px;
            &.post-posed-date{
              display: none;
            }
            .label{
              color:#909090;
            }
            &.post-author{
              &:before{
                .font-awesome(f007,14px);
                color:#909090;
              }
            }
            &.post-comments{
              &:before{
                .font-awesome(f086,14px);
                color:#909090;
              }
            }
          }
        }
      }
      .post-footer{
        border-top:1px solid #ebebeb;
        padding-top: 10px;
        .post-read-more{
          text-transform: capitalize;
          &:before{
            .font-awesome(f0da,14px);
          }
          &:hover{
            color:#222;
          }
        }
      }
    }
  }
}

//  End magefan blog
/*Responsive*/
@media (max-width: 480px) {
    .blog-index-index .post-list .post-holder, .blog-category-view .post-list .post-holder{
        width: 100%;
    }
    .post-content .post-description img{
        margin:0 !important;
    }
    .blog-post-view .header-top-wrapper{
        padding: 40px;
    }
}