<?php
    $cartdata = $block->getMainCartData();
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
    $storeurl = $storeManager->getStore()->getBaseUrl();
    $savecart_helper = $objectManager->get('Magecomp\Savecartpro\Helper\Data');
    $formKey = $objectManager->get ( 'Magento\Framework\Data\Form\FormKey' );
    $cartdetailcollection = $block->getDetailCartData();
    $shareCartHelper = $objectManager->get('Mageplaza\ShareCart\Helper\Data');
?>
<?php
if(count($cartdetailcollection) > 0) : ?>
    <form class="col-lg-12 col-md-12" action="<?php echo $block->getUrl('savecartpro/customer/custaddcart') ?>" method="post" id="custcartviewform"
      name="custcartviewform" class="form form-cart" xmlns="http://www.w3.org/1999/html">
    <?php echo $block->getBlockHtml('formkey'); ?>
    <input type="hidden" name="cart_id" id="cart_id" value="<?php echo $cartdata->getSavecartId(); ?>" />
    <div class="orderList">
        <div class="cartTitles">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <b>&nbsp;</b>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <b><?php echo __('Product') ?></b>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1">
                    <b><?php echo __('Price') ?></b>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 text-center">
                    <b><?php echo __('Qty') ?></b>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <b><?php echo __('Subtotal') ?></b>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <b>&nbsp;</b>
                </div>
            </div>
        </div>
        <?php
        $mastertotal = 0;
        $has_super = false;
        foreach($cartdetailcollection as $cartdata) { ?>
        <?php
            $is_super = $block->isSupperProduct($cartdata->getQuotePrdId());
            $Configdata = unserialize($cartdata->getQuoteConfigPrdData());
            if(isset($Configdata['super_options']) && is_array($Configdata['super_options'])){
                $totalPrice = $block->getTotalSpPrice($Configdata['super_options']);
            }else{
                $_product_id = $Configdata['product'];
                $_product_qty = $Configdata['qty'];
                $totalPrice = $block->getTotalItemsPrice($_product_id,$_product_qty, 1);
            }
        ?>
        <div class="cartItem">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <?php /*<img src="<?php echo $block->getProductImage($cartdata->getQuotePrdId()); ?>" alt="" class=""> */ ?>
                    <img src="<?php echo $block->getProductImageCustom($cartdata->getQuotePrdId(), $cartdata->getQuoteConfigPrdData()); ?>" alt="" class="">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <span class="cartTitle"><?php echo $block->getProductName($cartdata->getQuotePrdId()); ?></span>
                    <div class="smallCartDetails <?php if($is_super){ ?> super<?php }?>">
                        <?php echo $block->getAllOptions($cartdata->getQuotePrdId(),$cartdata->getQuoteConfigPrdData()); ?>
                    </div>
                    <?php if(!$is_super){ ?>
                        <div class="sm-block m-qty"><?php echo "<span>Qty: </span>".$cartdata->getQuotePrdQty(); ?></div>
                    <?php }?>
                    <div class="sm-block m-price"><?php if($block->isCustomerLogged()){ echo "<span>Price: </span>". $block->getUnitPriceFormat($totalPrice); }?></div>
                    <input type="hidden" name="cartitems[<?php echo $cartdata->getSavecartDetailId(); ?>]" id="cartitems[<?php echo $cartdata->getSavecartDetailId(); ?>]" value="<?php echo $cartdata->getQuotePrdQty(); ?>" data-validate="{required:true,'validate-greater-than-zero':true}"  />
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1">
                    <?php 
                        if(isset($Configdata['super_options']) && is_array($Configdata['super_options'])){
                            $singlePrice = $block->getTotalSpPrice($Configdata['super_options']);
                        }else{
                            $_product_id = $Configdata['product'];
                            $_product_qty = $Configdata['qty'];
                            $singlePrice = $block->getTotalItemsPrice($_product_id,$_product_qty);
                        }
                    ?>
                    <span class="cartPrice"><?php if($block->isCustomerLogged()){ echo $block->getUnitPriceFormat($singlePrice); }?></span>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 text-center">
                    <?php if(!$is_super) { ?>
                    <span class="cartPrice"><?php echo $cartdata->getQuotePrdQty(); ?></span>
                    <?php }else{
                        $getNeedData = $block->getAddonHtmlQty($cartdata->getQuoteConfigPrdData());
                        echo $getNeedData;
                    } ?>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <?php 
                        if(isset($Configdata['super_options']) && is_array($Configdata['super_options'])){
                            $totalPrice = $block->getTotalSpPrice($Configdata['super_options']);
                        }else{
                            $totalPrice = $block->getTotalItemsPrice($_product_id,$_product_qty, 1);
                        }
                    ?>
                    <span class="cartPrice"><?php if($block->isCustomerLogged()){ echo $block->getUnitPriceFormat($totalPrice); }?></span>
                </div>
                <div class="col-lg-2 col-sm-2 col-md-2 alignright">
                    <?php
                        $Configdata['qty'] = $cartdata->getQuotePrdQty();
                        array_push($Configdata, 'form_key', $formKey->getFormKey());
                    ?>
                    <?php if($block->isCustomerLogged()) {?>
                    <div class="save-action-item">
                    <?php  if(!$is_super) { ?>
                            <a class="btn additem" rel="0" href="javascript:;" onclick="addProductToCart(this)" data-params='<?php echo json_encode($Configdata)?>'><?php echo __('Add To Cart'); ?></a>
                        <?php }else { ?>
                              <a class="btn additem" rel="1" href="javascript:;" onclick="addSuperProductToCart(this)" data-params='<?php echo isset($Configdata['super_options'])?json_encode($Configdata['super_options']):json_encode($Configdata)?>'><?php echo __('Add To Cart'); ?></a>
                     <?php } ?>
                    </div>
                    <?php } ?>
                </div>

            </div>
        </div>
        <?php } ?>
        <?php if($block->isCustomerLogged()) {?>
        <div class="row">
            <div class="col-lg-12 alignright savedbutton">
                <button id="addalltocart" type="button" name="submit_cart_action" onclick="addAllSuperProductToCart(this)" value="add_cart" title="<?php echo __('Add To Cart'); ?>" class="action update btn medium">
                    <span><?php echo __('ADD ALL PRODUCTS TO CART'); ?></span>
                </button>
            </div>
        </div>
        <?php } ?>
    </div>
</form>

<script type="text/x-magento-init">
    {
        "#custcartviewform": {
            "validation": {}
        }
    }
</script>
<script>
require(['jquery', 'jquery/ui'], 
function($){ 
    let productRows = $('.cartItem');
    
    for(let row = 0; row < productRows.length; row++){
        let productInfoRows = $(productRows[row]).find('.product-child');
        
        let productQties = $(productRows[row]).find('.field.qty');
        let productPrice = $(productRows[row]).find('.product-price');
        let subtotalPrice = $(productRows[row]).find('.subtotal-price');
        let itemTitles = $(productRows[row]).find('.cartTitle');
        
        for(let index = 0; index < itemTitles.length; index++ ) {
            let titleHeight = itemTitles[index].offsetHeight;
            let qty = $(itemTitles[index]).parents('.cartItem').find('.qty-wrapper');
            let price = $(itemTitles[index]).parents('.cartItem').find('.price-wrapper');
            
            $(qty).css('padding-top', ( titleHeight + 18 ) + 'px');
            $(price[0]).css('padding-top', ( titleHeight + 21 ) + 'px');
            $(price[1]).css('padding-top', ( titleHeight + 21 ) + 'px');
        }
        
        
        for(let index = 0; index < productInfoRows.length; index++ ) {
            
            let itemHeigth = productInfoRows[index].offsetHeight;
            $(productQties[index]).css("height", itemHeigth + "px");
            $(productPrice[index]).css("height", itemHeigth + "px");
            $(subtotalPrice[index]).css("height", itemHeigth + "px");
        }
    }
});
 </script>
<script>
    
    function addProductToCart(e,$params) {
        var $params = jQuery(e).data('params');
        var urlData = "<?php echo  $this->getUrl ('checkout/cart/add/form_key/'.$formKey->getFormKey(), array ());?>";
        jQuery.ajax({
            url: urlData,
            data: $params,
            type: 'POST',
            showLoader: true
        }).done(function(data) {
          // jQuery(e).attr('disabled',false);
        });


    }

    function addSuperProductToCart(e,$params) {
        var $params = jQuery(e).data('params');
        var urlData = "<?php echo  $this->getUrl('superproduct/index/cart', array ());?>";
        jQuery.ajax({
            url: urlData,
            data: $params,
            type: 'POST',
            showLoader: true
        }).done(function(data) {
        });
    }

    function addAllSuperProductToCart(e) {
        var numItem = jQuery('a.additem').length - 1;
        jQuery('a.additem').each(function (index, value) {
            var params = jQuery(this).data('params');
            var type = jQuery(this).attr('rel');
            params['request'] = 1;
            console.log(type);
            if(type == 1) {
                var urlData = "<?php echo  $this->getUrl('superproduct/index/cart', array ());?>";
                jQuery.ajax({
                    url: urlData,
                    data: params,
                    type: 'POST',
                    showLoader: true
                }).done(function(data) {
                    if(index == numItem) {
                        if(data.request == 1) {
                            window.location.href = data.redirectUrl;
                        }
                    }
                });
            }else {
                var urlData = "<?php echo  $this->getUrl ('checkout/cart/add/form_key/'.$formKey->getFormKey(), array ());?>";
                jQuery.ajax({
                    url: urlData,
                    data: params,
                    type: 'POST',
                    showLoader: true
                }).done(function(data) {
                    if(index == numItem) {
                        window.location.href = "<?php echo $this->getUrl ('checkout/cart')?>";
                    }
                });
            }
        });
    }

</script>
<?php else : ?>
    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 centered">
        <?php echo $block->escapeHtml(__('You do not have any cart.')); ?>
    </div>
<?php endif; ?>