<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
use Magento\Framework\App\Action\Action;

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Product list template
 *
 * @var $block \Magento\Catalog\Block\Product\ListProduct
 */
?>
<?php
$_productCollection = $block->getLoadedProductCollection();
$_helper = $this->helper('Magento\Catalog\Helper\Output');
//$_swatch_helper = $this->helper('Magento\Swatches\Helper\Data');
$objectManager =\Magento\Framework\App\ObjectManager::getInstance();
$_swatch_helper = $objectManager->get('\Magento\Swatches\Helper\Data');
$helperDataCFP = $objectManager->get('\Mageplaza\CallForPrice\Helper\Data');
$helperRuleCFP = $objectManager->get('\Mageplaza\CallForPrice\Helper\Rule');
$helperSuper = $objectManager->get('\Brandsmith\SuperProduct\Helper\Data');
$productRepository = $objectManager->get('\Magento\Catalog\Model\ProductRepository');
$isLoggedIn = $helperDataCFP->getCustomerLogedIn();

$helperCustom = $this->helper('Brandsmith\OverrideCustom\Helper\Data');
$saleCatesGeneral = $helperCustom->getCategoryIdStock();
$textShowing = $helperCustom->getTextShowing();
$stockRegistry = $objectManager->get('Magento\CatalogInventory\Api\StockRegistryInterface');
?>
<?php if (!$_productCollection->count()): ?>
    <div class="message info empty"><div><?= /* @escapeNotVerified */ __('We can\'t find products matching the selection.') ?></div></div>
<?php else: ?>
    <?php /*<div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 filter-block">
                <div id="shopbyfilter" class="filter">Filter <span id="icon-filter">+</span></div>
                <div id="filter-nav-content" style="display: none"><?= $block->getAdditionalHtml() ?></div>
                <?= $block->getToolbarHtml() ?>
            </div>
        </div>
    </div> */ ?>

    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 filter-block">
                <?= $block->getToolbarHtml() ?></div>
        </div>
    </div>
    <?php
    if ($block->getMode() == 'grid') {
        $viewMode = 'grid';
        $image = 'category_page_grid';
        $showDescription = false;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    } else {
        $viewMode = 'list';
        $image = 'category_page_list';
        $showDescription = true;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;
    }
    /**
     * Position for actions regarding image size changing in vde if needed
     */
    $pos = $block->getPositioned();
    ?>
    <div class="products wrapper <?= /* @escapeNotVerified */ $viewMode ?> products-<?= /* @escapeNotVerified */ $viewMode ?>">
        <?php $iterator = 1; ?>
        <div class="container">
            <div class="row">
                <ol class="products list items product-items">
                    <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
                    <?php foreach ($_productCollection as $_product): ?>
                        <?= /* @escapeNotVerified */ ($iterator++ == 1) ? '<li class="col-lg-4 col-md-4 col-sm-6 itemeach">' : '</li><li class="col-lg-4 col-md-4 col-sm-6 itemeach">' ?>
                        <div class="product-item-info" data-id="<?php echo $_product->getId(); ?>" data-container="product-<?= /* @escapeNotVerified */ $viewMode ?>">
                            <?php
                            $productImage = $block->getImage($_product, $image);
                            if ($pos != null) {
                                $position = ' style="left:' . $productImage->getWidth() . 'px;'
                                    . 'top:' . $productImage->getHeight() . 'px;"';
                            }
                            ?>
                            <?php // Product Image ?>
                            <a href="<?= /* @escapeNotVerified */ $_product->getProductUrl() ?>" class="product photo product-item-photo" tabindex="-1">
                                <?= $productImage->toHtml() ?>
                            </a>
                            <div class="productInfo">
                                <?php
                                $_productNameStripped = $block->stripTags($_product->getName(), null, true);
                                ?>
                                <h4 class="productTitle"><a href="<?= $_product->getProductUrl() ?>"><?= /* @escapeNotVerified */ $_helper->productAttribute($_product, $_product->getName(), 'name') ?></a></h4>
                                <div class="productDet" rel="<?php echo $_product->getTypeId() ?>">
                                    <span class="productSku"><?php echo $_product->getSku(); ?></span>
                                    <?php
                                    if(!empty($saleCatesGeneral)) {
                                        $isShow = false;
                                        if (strpos($saleCatesGeneral, ',') !== false) {
                                            $saleCates = explode(",",$saleCatesGeneral);
                                        }else {
                                            $saleCates = [$saleCatesGeneral];
                                        }
                                        if($_product->getTypeId() == 'simple') {
                                            $cateIds = $_product->getCategoryIds();
                                            foreach ($saleCates as $saleId) {
                                                if(in_array($saleId, $cateIds)) {
                                                    $isShow = true;
                                                }
                                            }
                                            if($isShow) {
                                                $_stockItem = $stockRegistry->getStockItemBySku($_product->getSku());
                                                if($_stockItem->getQty() > 0) { ?>
                                                    <div style="float: right" class="stock-status"><?php echo str_replace("XX","<span id='qtytock' class='stock-qty'>" .$_stockItem->getQty() . "</span>",$textShowing) ?></div>
                                             <?php }

                                            }
                                        }
                                    }
                                    ?>
                                    <?php
                                    $hasSwatch = $_swatch_helper->isProductHasSwatch($_product);
                                    if($hasSwatch) {
                                        $swatch_array = [];
                                        $swatchAttr = $_swatch_helper->getSwatchAttributesAsArray($_product);
                                        foreach ($swatchAttr as $swatch) {
                                            if ($swatch['attribute_code'] == 'frame_colour') {
                                                foreach ($swatch['options'] as $key => $value) {
                                                    $swatch_array[] = $key;
                                                }
                                                if (is_array($swatch_array))
                                                    $swatch_array = $_swatch_helper->getSwatchesByOptionsId($swatch_array);
                                                break;
                                            }
                                        }
                                        $swatch_url = $objectManager->create('Magento\Swatches\Helper\Media')->getSwatchMediaUrl();
                                        if (is_array($swatch_array)) { ?>
                                            <span class="colourBox">
                                    <?php foreach ($swatch_array as $opt) { ?>
                                        <?php if ($opt['type'] == 2) { ?>
                                            <span><img alt="" src="<?php echo $swatch_url . $opt['value']; ?>"/> </span>
                                        <?php } ?>
                                        <?php if ($opt['type'] == 1) { ?>
                                            <span style="background-color: <?php echo $opt['value']; ?>"></span>
                                        <?php } ?>
                                    <?php } ?>
                                     </span>
                                        <?php } ?>
                                    <?php } ?>
                                </div>
                                <?= $block->getReviewsSummaryHtml($_product, $templateType) ?>
                                <?php if($_product->getTypeId() == 'super'): ?>
                                    <?php
                                    $pdata = $_product->getData();
                                    $productId  = $_product->getId();
                                    $validateProductInRule = $helperRuleCFP->validateProductInRuleAvailable($productId);

                                    $superPrice = 0;
                                    $baseProduct = $helperSuper->getBaseProductById($productId);
                                    if($baseProduct) {
                                        $baseProduct = $productRepository->get($baseProduct->getSku());
                                        if($baseProduct) {
                                            //$basePrice = $baseProduct->getPriceInfo()->getPrice('regular_price');
                                            // $regularPrice = $basePrice->getMinRegularAmount()->getValue();
                                            $superPrice = $baseProduct->getFinalPrice();
                                            //  echo $specialPrice;
                                            //  echo "-".$regularPrice;
                                        }
                                    }
                                    $html_super_info_price = '<span class="price-label">'.__('As low as').'</span><span id="product-price-'.$_product->getId().'" data-price-amount="326" data-price-type="finalPrice" class="price-wrapper "><span class="price"> '.$this->helper('Magento\Framework\Pricing\Helper\Data')->currency($superPrice,true,false).'</span></span>';
                                    /*if(isset($specialPrice)){
                                        $html_super_info_price = '<span class="price-label">'.__('Price from').'</span><span id="product-price-'.$_product->getId().'" data-price-amount="326" data-price-type="finalPrice" class="price-wrapper "><span class="price"> '.$this->helper('Magento\Framework\Pricing\Helper\Data')->currency(0,true,false).'</span></span>';
                                    }else{
                                        $html_super_info_price = '<span class="price-label">'.__('Price from').'</span><span id="product-price-'.$_product->getId().'" data-price-amount="326" data-price-type="finalPrice" class="price-wrapper "><span class="price"> '.$this->helper('Magento\Framework\Pricing\Helper\Data')->currency(0,true,false).'</span></span>';
                                    }*/
                                    ?>
                                    <div class="price-box price-final_price" data-role="priceBox" data-product-id="<?php echo $_product->getId() ?>" data-price-box="product-id-<?php echo $_product->getId() ?>">
                                <span class="normal-price">
                                    <span class="price-container price-final_price tax weee">
                                    <?php if (!$validateProductInRule || !$helperDataCFP->isEnabled()) {
                                        echo $html_super_info_price;
                                    }else{
                                        $action = $validateProductInRule->getAction();
                                        $buttonTitle = $validateProductInRule->getButtonLabel() ?: __('Call For Price');
                                        if ($action != 'hide_add_to_cart') {
                                            /** case actions are login to see price, popup get quote and redirect url*/
                                            if ($action == 'login_see_price' && $isLoggedIn) {
                                                echo $html_super_info_price;
                                            }else{
                                                /** case action is hidden add to cart button*/
                                                $style_cfp_html = '<style type="text/css">
                                                .stock.available span {
                                                    display: none !important;
                                                }
                                                .product-item-actions .actions-primary, .mp_tac_label {
                                                    display: inline !important;
                                                }
                                            </style>';
                                                $button_cfp_html = '<div class="callforprice-action callforprice-action-'.$productId.'">
                                                <button type="button" title="'.$buttonTitle.'" class="action tocart primary" id="product-callforprice-'.$productId.'">
                                                    <span>'.$buttonTitle.'</span>
                                                </button>
                                            </div>';
                                                $jstranfer = '<script type="text/x-magento-init">
                                            {
                                                ".callforprice-action-'.$productId.'": {
                                                    "validation": {},
                                                    "Mageplaza_CallForPrice/js/rule":{
                                                        "productId": "'.$productId.'",
                                                        "action": "'.$action.'",
                                                        "url_redirect_type": "'.$validateProductInRule->getUrlRedirect().'",
                                                        "customer_loged_in": "'.$helperDataCFP->getCustomerLogedIn().'",
                                                        "show_fields": "'.$validateProductInRule->getShowFields().'",
                                                        "required_fields": "'.$validateProductInRule->getRequiredFields().'",
                                                        "tac_check_default": "'.$helperDataCFP->getTACDefaultCheckedConfig().'",
                                                        "tac_required": "'.$helperDataCFP->getTACRequiredConfig().'",
                                                        "tac_label": "'.$helperDataCFP->getTACLabel().'",
                                                        "request_form_url": "'.$helperDataCFP->getRequestQuoteUrl().'",
                                                        "enable_terms": "'.$validateProductInRule->getEnableTerms().'",
                                                        "customer_group_id": "'.$helperDataCFP->getCustomerGroupId().'",
                                                        "quote_heading": "'.$validateProductInRule->getQuoteHeading().'",
                                                        "loginUrl": "'.$helperDataCFP->getLoginUrl().'",
                                                        "quote_description": "'.$validateProductInRule->getQuoteDescription().'"
                                                    }
                                                }
                                            }
                                            </script>';
                                                echo $button_cfp_html . $jstranfer . $style_cfp_html;
                                            }
                                        }else{
                                            echo $html_super_info_price;
                                        }
                                    }?>
                                </span>
                                    </div>
                                <?php else: ?>
                                    <?= /* @escapeNotVerified */ $block->getProductPrice($_product) ?>
                                <?php endif; ?>
                                <?= $block->getProductDetailsHtml($_product) ?>
                            </div>
                        </div>
                        <?= ($iterator == count($_productCollection)+1) ? '</li>' : '' ?>
                    <?php endforeach; ?>
                </ol>
            </div>
        </div>
    </div>
    <?php if (!$block->isRedirectToCartEnabled()) : ?>
        <script type="text/x-magento-init">
        {
            "[data-role=tocart-form], .form.map.checkout": {
                "catalogAddToCart": {
                    "product_sku": "<?= /* @NoEscape */ $_product->getSku() ?>"
                }
            }
        }
        </script>
    <?php endif; ?>
    <?php if(!$isLoggedIn): ?>
    <style>
        .product-options-bottom {
            display: none !important;
        }
    </style>
    <?php endif; ?>
<?php endif; ?>

