<form class="form form-discount order-comment-form" data-bind="attr: {'data-hasrequired': $t('* Required Fields')}">
    <div class="payment-option-inner">
        <div class="field">
            <label class="label">
                <span data-bind="i18n: 'PO Number'"></span> <em style="color: #e02b27;font-size: 12px;font-style: normal;">*</em>
            </label>
            <div class="control">
                <input type="text" id="po_number" data-validate="{'required-entry':true}" class="input-text required order-comment order-comment-input" name="comment-code" />
                <!--<p data-bind="if: hasMaxLength()">Remaining characters: <span class="order-comment-form__characters" data-bind="text: remainingCharacters"></span></p>-->
            </div>
        </div>
    </div>
</form>
