<?php
/**
 * Copyright © MageWorx. All rights reserved.
 * See LICENSE.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \MageWorx\MultiFees\Block\Adminhtml\Fee\Edit\Options\Labels  */

?>

<div class="fieldset-wrapper admin__collapsible-block-wrapper opened" id="manage-titles-wrapper">
    <div class="fieldset-wrapper-title">
        <strong class="admin__collapsible-title" data-toggle="collapse" data-target="#manage-titles-content">
            <span><?php /* @escapeNotVerified */ echo __('Store View Fee Names') ?></span>
        </strong>
    </div>
    <div class="fieldset-wrapper-content in collapse" id="manage-titles-content">
        <fieldset class="fieldset">
            <table class="admin__control-table" id="attribute-labels-table">
                <?php $_names = $block->getFeeNamesValues() ?>
                <?php foreach ($block->getStores() as $_store): ?>
                    <tr>
                        <th class="col-store-view"><?php /* @escapeNotVerified */ echo $_store->getName() ?></th>
                    </tr>
                    <tr class="col-store-view">
                        <td>
                            <input class="input-text<?php if ($_store->getId() == \Magento\Store\Model\Store::DEFAULT_STORE_ID): ?>
                            required-option<?php endif; ?>" type="text" name="store_fee_names[<?php /* @escapeNotVerified */ echo $_store->getId() ?>]"
                                   value="<?php  echo $block->escapeHtml($_names[$_store->getId()]) ?>"<?php if ($block->getReadOnly()):?> disabled="disabled"<?php endif;?>/>
                        </td>
                    </tr>
                <?php endforeach; ?>
            </table>
        </fieldset>
    </div>
    <div class="fieldset-wrapper-title">
        <strong class="admin__collapsible-title" data-toggle="collapse" data-target="#manage-description-content">
            <span><?php /* @escapeNotVerified */ echo __('Store View Fee Descriptions') ?></span>
        </strong>
    </div>
    <div class="fieldset-wrapper-content in collapse" id="manage-description-content">
        <fieldset class="fieldset">
            <table class="admin__control-table" id="attribute-labels-table">
                <?php $_descriptions = $block->getFeeDescriptionValues() ?>
                <?php foreach ($block->getStores() as $_store): ?>
                    <tr>
                        <th class="col-store-view"><?php /* @escapeNotVerified */ echo $_store->getName() ?></th>
                    </tr>
                    <tr class="col-store-view">
                        <td>
                            <textarea class="input-text" name="store_fee_descriptions[<?php /* @escapeNotVerified */ echo $_store->getId() ?>]" <?php if ($block->getReadOnly()):?> disabled="disabled"<?php endif;?>><?php echo $block->escapeHtml($_descriptions[$_store->getId()]) ?></textarea>
                        </td>
                    </tr>
                <?php endforeach; ?>
            </table>
        </fieldset>
    </div>
    <div class="fieldset-wrapper-title">
        <strong class="admin__collapsible-title" data-toggle="collapse" data-target="#manage-customer-message-titles-content">
            <span><?php /* @escapeNotVerified */ echo __('Store View Fee Customer Message Titles') ?></span>
        </strong>
    </div>
    <div class="fieldset-wrapper-content in collapse" id="manage-customer-message-titles-content">
        <fieldset class="fieldset">
            <table class="admin__control-table" id="attribute-labels-table">
                <?php $_messageTitles = $block->getCustomerMessageTitleValues() ?>
                <?php foreach ($block->getStores() as $_store): ?>
                    <tr>
                        <th class="col-store-view"><?php /* @escapeNotVerified */ echo $_store->getName() ?></th>
                    </tr>
                    <tr class="col-store-view">
                        <td>
                            <input class="input-text<?php if ($_store->getId() == \Magento\Store\Model\Store::DEFAULT_STORE_ID): ?> required-option<?php endif; ?>" type="text" name="store_fee_customer_message_titles[<?php /* @escapeNotVerified */ echo $_store->getId() ?>]" value="<?php echo $block->escapeHtml($_messageTitles[$_store->getId()]) ?>"<?php if ($block->getReadOnly()):?> disabled="disabled"<?php endif;?>/>
                        </td>
                    </tr>
                <?php endforeach; ?>
            </table>
        </fieldset>
    </div>
    <div class="fieldset-wrapper-title">
        <strong class="admin__collapsible-title" data-toggle="collapse" data-target="#manage-date-fields-titles-content">
            <span><?php /* @escapeNotVerified */ echo __('Store View Fee Date Field Titles') ?></span>
        </strong>
    </div>
    <div class="fieldset-wrapper-content in collapse" id="manage-date-fields-titles-content">
        <fieldset class="fieldset">
            <table class="admin__control-table" id="attribute-labels-table">
                <?php $_dateTitles = $block->getDateTitleValues() ?>
                <?php foreach ($block->getStores() as $_store): ?>
                    <tr>
                        <th class="col-store-view"><?php /* @escapeNotVerified */ echo $_store->getName() ?></th>
                    </tr>
                    <tr class="col-store-view">
                        <td>
                            <input class="input-text<?php if ($_store->getId() == \Magento\Store\Model\Store::DEFAULT_STORE_ID): ?> required-option<?php endif; ?>" type="text" name="store_fee_date_field_titles[<?php /* @escapeNotVerified */ echo $_store->getId() ?>]" value="<?php echo $block->escapeHtml($_dateTitles[$_store->getId()]) ?>"<?php if ($block->getReadOnly()):?> disabled="disabled"<?php endif;?>/>
                        </td>
                    </tr>
                <?php endforeach; ?>
            </table>
        </fieldset>
    </div>
</div>
