<?php
/**
 * Copyright © MageWorx. All rights reserved.
 * See LICENSE.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \MageWorx\MultiFees\Block\Adminhtml\Fee\Edit\Options\Options */

$stores = $block->getStoresSortedBySortOrder();
$values = $block->getOptionValues();
?>
<fieldset class="fieldset">
    <legend class="legend"><span><?php /* @escapeNotVerified */ echo __('Manage Options (Values of Your Fee) - Note: If the \'Required\' field is set to \'Yes\', select at least one \'Is default\' option.') ?></span></legend>
    <div id="manage-options-panel" data-index="attribute_options_select_container">
        <table class="admin__control-table" data-index="attribute_options_select">
            <thead>
            <tr id="attribute-options-table">
                <th class="col-draggable"></th>
                <th class="col-default control-table-actions-th"><span><?php /* @escapeNotVerified */ echo __('Is Default') ?></span></th>
                <th class="col-price"><span><?php /* @escapeNotVerified */ echo __('Price') ?></span></th>
                <th class="col-pricetype"><span><?php /* @escapeNotVerified */ echo __('Price Type') ?></span></th>
                <?php
                foreach ($stores as $_store): ?>
                    <th<?php if ($_store->getId() == \Magento\Store\Model\Store::DEFAULT_STORE_ID): ?> class="_required"<?php endif; ?>>
                        <span><?php /* @escapeNotVerified */ echo __($_store->getName()) ?></span>
                    </th>
                <?php endforeach;
                $storetotal = count($stores) + 5;
                ?>
                <th class="col-delete">&nbsp;</th>
            </tr>
            </thead>
            <tbody data-role="options-container" class="ignore-validate"></tbody>
            <tfoot>
            <tr>
                <th colspan="<?php /* @escapeNotVerified */ echo $storetotal; ?>" class="validation">
                    <input type="hidden" class="required-dropdown-attribute-entry" name="dropdown_attribute_validation"/>
                </th>
            </tr>
            <tr>
                <th colspan="<?php /* @escapeNotVerified */ echo $storetotal; ?>" class="col-actions-add">
                    <?php if (!$block->getReadOnly()):?>
                        <button id="add_new_option_button" data-action="add_new_row" title="<?php /* @escapeNotVerified */ echo __('Add Option'); ?>"
                                type="button" class="action- scalable add">
                            <span><?php /* @escapeNotVerified */ echo __('Add Option'); ?></span>
                        </button>
                    <?php endif; ?>
                </th>
            </tr>
            </tfoot>
        </table>
        <input type="hidden" id="option-count-check" value="" />
    </div>
    <script id="row-template" type="text/x-magento-template">
        <tr>
            <td class="col-draggable">
                <?php if (!$block->getReadOnly()): ?>
                    <div data-role="draggable-handle" class="draggable-handle" title="<?php /* @escapeNotVerified */ echo __('Sort Option'); ?>"></div>
                <?php endif; ?>
                <input data-role="position" type="hidden" name="option[position][<%- data.id %>]"  value="<%- data.position %>" <?php if ($block->getReadOnly()): ?> disabled="disabled"<?php endif; ?>/>
            </td>
            <td class="col-default control-table-actions-cell">
                <input class="input-checkbox" type="<%- data.intype %>" name="option[is_default][<%- data.id %>]" value="<%- data.is_default %>" <%- data.checked %><?php if ($block->getReadOnly()):?>disabled="disabled"<?php endif;?>/>
            </td>
            <td class="col-price">
                <input class="input-text required-option" type="text" name="option[price][<%- data.id %>]" value="<%- data.price %>" <%- data.checked %><?php if ($block->getReadOnly()):?>disabled="disabled"<?php endif;?>/>
            </td>

            <td class="col-price_type">
                <?php echo $block->getPriceTypeSelectHtml(); ?>
            </td>

            <?php foreach ($stores as $_store): ?>
                <td class="col-<%- data.id %>"><input name="option[value][<%- data.id %>][<?php /* @escapeNotVerified */ echo $_store->getId() ?>]" value="<%- data.store<?php /* @escapeNotVerified */ echo $_store->getId() ?> %>" class="input-text<?php if ($_store->getId() == \Magento\Store\Model\Store::DEFAULT_STORE_ID): ?> required-option<?php endif; ?>" type="text" <?php if ($block->getReadOnly()):?> disabled="disabled"<?php endif;?>/></td>
            <?php endforeach; ?>
            <td id="delete_button_container_<%- data.id %>" class="col-delete">
                <input type="hidden" class="delete-flag" name="option[delete][<%- data.id %>]" value="" />
                <?php if (!$block->getReadOnly()):?>
                    <button id="delete_button_<%- data.id %>" title="<?php /* @escapeNotVerified */ echo __('Delete') ?>" type="button"
                            class="action- scalable delete delete-option"
                    >
                        <span><?php /* @escapeNotVerified */ echo __('Delete') ?></span>
                    </button>
                <?php endif;?>
            </td>
        </tr>
    </script>
    <script type="text/x-magento-init">
        {
            "*": {
                "MageWorx_MultiFees/js/options": {
                    "attributesData": <?php /* @escapeNotVerified */ echo json_encode($values); ?>,
                    "isSortable":  <?php echo (int)(!$block->getReadOnly()) ?>,
                    "isReadOnly": <?php echo (int)$block->getReadOnly(); ?>
                }
            }
        }
    </script>
</fieldset>
