<?php
/*------------------------------------------------------------------------
# SM Categories - Version 3.2.0
# Copyright (c) 2016 YouTech Company. All Rights Reserved.
# @license - Copyrighted Commercial Software
# Author: YouTech Company
# Websites: http://www.magentech.com
-------------------------------------------------------------------------*/

$list = $this->_getList();
if (!empty($list)) {
	$_config = $this->helper('Sm\Zumi\Helper\Data');
	$enableLadyLoading = $_config->getAdvanced('enable_ladyloading');
	$mediaSrc = $_config->getMediaUrl();
	
	if($enableLadyLoading){
		$imgClass = 'lazyload';
	} else {
		$imgClass = '';
	}
?>
<?php if (!empty($this->_getConfig('title_module'))){?>
<div class="title-home">
	<h2><span><?php echo $this->_getConfig('title_module') ;?></span></h2>
</div>
<?php } ?>
<div class="sm-categories">
	<div class="cat-wrap row">
        <?php $count = 0; ?>
		<?php foreach($list as $item){ ?>
            <div class="col-md-5ths col-lg-5ths col-sm-6 col-xs-12">
                <div class="item item-<?php echo $count;?>">
                    <div class="content-box">
                        <div class="wrap-cat">
                            <div class="parent-cat">
                                <div class="cat-title">
                                    <a href="<?php echo $item['url'] ?>" title="<?php echo $item['name'] ?>">
                                        <?php echo $item['name']; ?>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <?php $count++;?>
		<?php }?>
	</div>
</div>
<?php 
}else{ ?>
	<div class="message info empty"><div><?php /* @escapeNotVerified */ echo __('We can\'t find categories matching the selection.') ?></div></div>
<?php 
}?>
