<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="admin__field admin__field-group-additional" visible="visible">
    <div class="admin__field-control manage-images">
        <render args="elementTmpl"/>
    </div>
</div>
