//
//  Variables
//  _____________________________________________

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .footer {
        padding: 40px 0 30px;
        background-color: #eee;
        clear: both;
        margin-top: 30px;
    }

    .block-subscribe-footer {
        .newsletter-content {
            .input-box,
            .action-button {
                display: inline-block;
                width: auto;
                vertical-align: middle;
            }
        }
    }

    .footerAddress {
        margin-top: 15px;
    }

    .bottomfooter {
        padding: 10px 0;
    }
}

//  Desktop
//  ---------------------------------------------
//
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {

}

//  Tablet
//  ---------------------------------------------
//
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

}

//  Mobile
//  ---------------------------------------------
//

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {

}