<?php
/**
 * MageVision Custom Carrier Trackers Extension
 *
 * @category     MageVision
 * @package      MageVision_CustomCarrierTrackers
 * @author       MageVision Team
 * @copyright    Copyright (c) 2017 MageVision (http://www.magevision.com)
 * @license      LICENSE_MV.txt or http://www.magevision.com/license-agreement/
 */
?>
<?php $_shipment = $block->getShipment() ?>
<?php $_order = $block->getOrder() ?>
<?php if ($_shipment && $_order && $_shipment->getAllTracks()) : ?>
<br />
<table class="shipment-track">
    <thead>
        <tr>
            <th><?= $block->escapeHtml(__('Shipped By')) ?></th>
            <th><?= $block->escapeHtml(__('Tracking Number')) ?></th>
        </tr>
    </thead>
    <tbody>
    <?php foreach ($_shipment->getAllTracks() as $_item) : ?>
        <tr>
            <td><?= $block->escapeHtml($_item->getTitle()) ?>:</td>
            <?php $trackingUrl = $this->helper('MageVision\CustomCarrierTrackers\Helper\Data')->getTrackingUrl(
                $_item->getCarrierCode(),
                $_item->getNumber(),
                $_shipment->getId()
            )?> 
            <?php if ($trackingUrl) : ?>
                <td><a href="<?= $trackingUrl; ?>"><?= $block->escapeHtml($_item->getNumber()) ?></a></td>
            <?php else : ?>
                <td><?= $block->escapeHtml($_item->getNumber()) ?></td>
            <?php endif; ?>
        </tr>
    <?php endforeach ?>
    </tbody>
</table>
<?php endif; ?>
