<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<div class="block-subscribe-footer">
<p class="newslettertitle">Subscribe to our Newsletter</p>
<p>Be the first to hear about our new products &amp; industry news</p>
<div class="newsletterform">
    <form class="form"
		novalidate
		action="<?php /* @escapeNotVerified */ echo $block->getFormActionUrl() ?>"
		method="post"
		data-mage-init='{"validation": {"errorClass": "mage-error"}}'
		id="newsletter-footer-validate-detail">

		<div class="newsletter-content">
			<div class="input-box">
				<input name="email" type="email" id="newsletter-footer" 
				onfocus="if(this.value=='<?php echo __('Enter your email...')?>') this.value='';"
				onblur="if(this.value=='') this.value='<?php echo __('Enter your email...')?>';"
				value="<?php echo __('Enter your email...')?>"
				data-validate="{required:true, 'validate-email':true}"
                class="form-control"
                />
			</div>

			<div class="action-button">
				<button class="action subscribe primary btn" title="<?php /* @escapeNotVerified */ echo __('Subscribe') ?>" type="submit">
					<span><?php /* @escapeNotVerified */ echo __('Subscribe') ?></span>
				</button>
			</div>
		</div>
    </form>
</div>
</div>
