/**
 * Copyright © Magefan (support@magefan.com). All rights reserved.
 * See LICENSE.txt for license details (http://opensource.org/licenses/osl-3.0.php).
 *
 * Glory to Ukraine! Glory to the heroes!
 */
@media print {
    .page-wrapper .header,.page-main .logo-wrapper {display: none !important;}
}
.bss-quickview-catalog-product-view .page-wrapper .callforprice-action .notlogin {
    display: none;
}
.catalog-category-view .mst-scroll__loader {
    z-index: 9999;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}
#back_top {
  background-color: rgba(138,201,218,0.8);
  bottom: 5px;
  cursor: pointer;
  display: none;
  height: 40px;
  position: fixed;
  left: 30px;
  width: 40px;
  z-index:999;
  border-radius: 100%;
  text-align: center;
  padding-top: 6px;
}
#back_top .fa-arrow-up:before {
    color: #555;
}
#remember-me-box .tooltip.wrapper {display: none}
.showmobile {display: none}
.order-status-break {word-break: break-all;}
.checkout-cart-index .cart-totals .grand.last-excl {
    display: none;
}
.block.related .block-title {
    text-align: center;
}
.column.main .block.related .block-title strong{
    font-size: 30px;
}
.not-logged .cart-summary td .price{display: none}
.orderList .super .b-left {
    width: 78%;
    float: left;
}
.orderList .super .product-child-image {
    float: right;
    width: 21%;
    max-width: 90px;
}
body .message.success {
    position: static;
}
.checkout-index-index .opc-wrapper .step-content {
    margin-bottom: 0;
}
.order-comment-form {
    margin-bottom: 10px;
}
.breadCrumb .item.last:after {
    content: none;
}
.breadCrumb .item.backaccount {
    position: absolute;
    right: 15px;
    top: -7px;
}
.breadCrumb .item.backaccount a {
    display: block;
    background: #8ac9da;
    padding: 6px 30px 12px;
    font-size: 18px;
    color: #fff !important;
    border-radius: 5px;
    text-transform: uppercase;
}
.breadCrumb .item.backaccount a:hover {
    color: #fff !important;
    background-color: #b8ddb0;
}
.breadCrumb .item.backaccount:after,
.customer-account-index .breadCrumb .item.account:after
{
    content: none;
}
.customer-account-index .breadCrumb .item.backaccount {
    display: none;
}
.pager .pages .pages-label {
    display: none;
}
.pages-items .item span.label {
    display: none;
}
.pages-items .current strong {
    margin-left: 5px;
    margin-right: 5px;
}
.pager .pages .next > span , .pager .pages .previous > span{
    float: none;
}
.checkout-cart-index .cartItem input.qty {
    padding: 0 25px;
    width: 100px;
    max-width: 100px;
}
.checkout-cart-index .quantity-controls {
    position: absolute;
    z-index: 2;
    cursor: pointer;
}
.checkout-cart-index .quantity-controls.qty-plus {
    top: 5px;
    right: 10px;
}
.checkout-cart-index .quantity-controls.qty-minus {
    top: 6px;
    left: 10px;
}
.checkout-cart-index .quantity-controls.qty-plus:before {
    content: '\f067';
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    font-synthesis: weight style;
    font-stretch: normal;
    font-size-adjust: none;
    font-language-override: normal;
    font-kerning: auto;
    font-feature-settings: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    font-size: 16px;
    color: #555;
}
.checkout-cart-index .quantity-controls.qty-minus:before {
    content: '\f068';
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    font-synthesis: weight style;
    font-stretch: normal;
    font-size-adjust: none;
    font-language-override: normal;
    font-kerning: auto;
    font-feature-settings: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    font-size: 16px;
    color: #555;
}
.checkout-cart-index .control.qty {
    margin-top: 17px;
    width: 100px;
    text-align: center;
    position: relative;
}
.page.messages,.checkout-cart-index .cart-empty {
    max-width: 1500px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}
.searchRes {
    width: 190px;
    border: none;
    height: 35px !important;
    display: inline-block;
    padding: 5px;
    background: url(../images/bg-selectbox.png) no-repeat right center #fff;

}
.searchbox.resourcesearch {
    width: 270px;
    display: inline-block;
    vertical-align: top;
}
.searchbox.resourcesearch.mgtop {
    margin-top: 3px;
}
@media only screen and (min-width: 768px)  {
    body .resourcesButton img {
        max-width: 50px;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px)  {
    .orderList.rewards > .col-sm-6 {
        width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    body.page-products .products-grid .product-item-info .productTitle {
        height: auto;
    }
    .showmobile {display: inline}
    .searchbox.resourcesearch {
        margin-top: 20px;
    }
    .account .breadCrumb {
        margin-left: -20px;
        margin-right: -20px;
    }
    .account .breadCrumb ul.items {
        padding-right: 52px;
    }
    .account .breadCrumb .item.backaccount {
        position: absolute;
        right: -15px;
        top: -7px;
    }
    .account .breadCrumb .item.backaccount a {
        font-size: 14px;
        padding: 6px 10px 12px;
    }
    .orderhistory .orderLineItem .col-lg-2:nth-child(1):before,
    .orderhistory .orderLineItem .col-lg-2:nth-child(2):before,
    .orderhistory .orderLineItem .col-lg-2:nth-child(3):before,
    .orderhistory .orderLineItem .col-lg-2:nth-child(4):before,
    .orderhistory .orderLineItem .col-lg-2:nth-child(5):before,
    .orderhistory .orderLineItem .col-lg-2:nth-child(6):before{
        content: none;
    }
    .orderLineItem .col-lg-3, .orderLineItem .col-lg-4, .orderLineItem .col-lg-5 {
        margin-bottom: 5px;
    }

    /*.orderhistory .orderLineItem .col-lg-3:nth-child(1):before {
        content: 'Date:';
    }

    .orderhistory .orderLineItem .col-lg-4:nth-child(2):before {
        content: 'Order Number:';
    }

    .orderhistory .orderLineItem .col-lg-5:nth-child(3):before {
        content: 'Order Status:';
    }

    .orderhistory .orderLineItem .col-lg-2:nth-child(4):before {
        content: 'PO Number:';
    }
    .orderhistory .orderLineItem .col-lg-2:nth-child(5):before {
        content: 'Points:';
    }
    .orderhistory .orderLineItem .col-lg-2:nth-child(6):before {
        content: 'Order Total:';
    }*/
}
