<?php
    $storeurl = $block->getStoreurl();
    $isEnable = $block->isEnable();
    $_product = $block->getCurrentProduct();
?>
<?php if($isEnable == 1) { ?>

<div class="share-product-button">
    <button type="button" id="openSharePopup" class="btn btn-primary" data-product-type="<?php echo $block->getProductType(); ?>"><i class="far fa-share-square"></i><?php echo __('Share this product'); ?></button>
</div>

<div id="share-product-popup" style="display: none;">
    <div class="share-product">
      <form class="shareby_email" id="form-validate">
            <div class="form-group">
                <div class="input-group mb-3">
                    <label for="link-product">Product Link</label>
                    <div class="group-control">
                        <input type="text" id="link-product" class="input-text" placeholder="Product Link" aria-label="Product Link" aria-describedby="copy_product_clpbrd" value="">
                        <div class="input-group-append">
                            <button class="btn btn-primary upper" data-type="Copy Link" type="button" id="copy_product_clpbrd"><i class="fas fa-link"></i></span>Copy Link</button>
                        </div>
                    </div>
                    <div id="cpy_msg" style="color: green; display: none">Link Copied to Clipboard</div>
                </div>
            </div>
            <span class="title upper"> Share with email </span>
            <div class="form-group">
                <label for="recipient-name">To</label>
                <input type="text" name="recipient-name" class="input-text" data-validate="{ required:true}" id="recipient-name" placeholder="Recipient name">
            </div>
            <div class="form-group">
                <input type="email" class="input-text" data-validate="{ required:true, 'validate-email':true}" id="recipient-email" placeholder="Recipient email" name="recipient-email">
            </div>
            <div class="form-group">
                <label for="your-name">From</label>
                <input type="text" class="input-text" name="your-name" id="your-name" data-validate="{ required:true}" placeholder="Your name">
            </div>
            <div class="form-group">
                <input type="email" class="input-text" name="your-email" data-validate="{ required:true, 'validate-email':true}" id="your-email" placeholder="Your email">
            </div>
            <input type="hidden" class="input-text" name="product_url" id="product_url">
            <input type="hidden" class="input-text" name="product_name" id="product_name">
            <input type="hidden" class="input-text" name="sharepd_id" id="sharepd_id">
            <div class="form-group">
                <label for="your-comment">Message</label>
                <textarea class="input-text" data-validate="{ required:true}" name="your-comment" id="your-comment" rows="3"></textarea>
            </div>
            <span class="send-alert messages" style="display: none;"></span>
            <button type="submit" class="btn btn-primary submit-form" id="sendby-email" ><span class="glyphicon glyphicon-envelope"></span>Send Email</button>
        </form>
        <div class="share-social">
            <span class="title upper"> Share on Social</span>
            <div class="text-center">
                
                <?php if($block->isFacebookEnable()){ ?>
                <a id="btn_sc_facebook" class="share_btn_sc facebook" data-type="Facebook" href="https://www.facebook.com/sharer/sharer.php?u=<?php echo urlencode($_product->getProductUrl());?>&t=<?php echo urlencode($_product->getName())?>" title="Share on facebook"><i class="fa fa-facebook"></i></a>
                <?php } ?>

                <?php if($block->isTwitterEnable()){ ?>
                <a id="btn_sc_twitter" class="share_btn_sc twitter" data-type="Twitter" href="http://twitter.com/share?text=<?php echo urlencode($_product->getName())?>&url=<?php echo urlencode($_product->getProductUrl());?>" title="Share on Twitter"><i class="fa fa-twitter"></i></a>
                <?php } ?>

                <?php if($block->isLinkedinEnable()){ ?>
                
                <a id="btn_sc_linkedin" class="share_btn_sc linkedin" data-type="Linkedin" target="_blank"  href="https://www.linkedin.com/sharing/share-offsite/?url=<?php echo urlencode($_product->getProductUrl())?>"><i class="fa fa-linkedin"></i></a>
                <?php } ?>

                <?php if($block->isPinterestEnable()){ ?>
                <a id="btn_sc_pinterest" class="share_btn_sc pinterest" data-type="Pinterest" href="https://pinterest.com/pin/create/button/?url=<?php echo urlencode($_product->getProductUrl()); ?>&media=<?php echo urlencode($_product->getImageUrl());?>&description=<?php echo urlencode($_product->getName()); ?>" title="Pin it"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                <?php } ?>
            </div>
        </div>
    </div>
</div>

<script>
    window.fbAsyncInit = function() {
        FB.init({
          appId            : '<?php echo $block->getFbAppId(); ?>',
          autoLogAppEvents : true,
          xfbml            : true,
          version          : 'v7.0'
        });
    };

</script>
<script async defer src="https://connect.facebook.net/en_US/sdk.js"></script>
<script type="text/javascript">
    require(
        [
            'jquery',
            'Magento_Ui/js/modal/modal',
            'mage/mage'
        ],
        function($,modal) {
            
            var options = {
                type: 'popup',
                responsive: true,
                innerScroll: false,
                modalClass: "sharepdp_pop",
                buttons: []
            };
            var popup = modal(options, $('#share-product-popup'));
            $("#openSharePopup").on("click", function(){
                var productType = $(this).data('product-type');
                if(productType == "super"){
                    var validate = 0,
                    length = null,
                    productValidate = [],
                    request = $('#product-addtocart-button').data('request');
                    var url = "<?php echo $storeurl . "knshareproduct/product/saveproductshared"; ?>";
                    length = $('.list-add-on.require-option-selected').length;
                    $('.list-add-on.require-option-selected').each(function(index) {

                        if ($(this).val() == 0) {
                            productValidate.push({
                                product_id : $(this).data('id')
                            });
                            validate = 2;
                        }

                        if (index === (length - 1) && $(this).val() != 0 && validate != 2) {
                            validate = 1;
                        }
                    });
                    var formData = {
                        'validate'   : 0,
                        'product_collection' : productValidate
                    };

                    if(validate == 2 || validate == 0) {
                        doAjaxSavesharepd(url,formData);
                        return false;
                    }

                    if(validate == 1 ) {
                        getUrlImageHasBeenMerged(url, request);
                        return false;
                    }
                }else {
                    if ($('#product_addtocart_form').valid()) {
                        var dataForm = $('#product_addtocart_form').serializeArray();
                        $.ajax({
                            url: "<?php echo $storeurl . "knshareproduct/product/savesimple"; ?>",
                            type: 'POST',
                            showLoader: true,
                            data: dataForm,
                            success: function (data) {

                                if(data['errors']  == false ) {
                                    
                                    $('#link-product').val(data['sharepd_link']);
                                    $('meta[property="og:image"').remove();
                                    $('meta[property="og:url"').remove();
                                    $("head").append('<meta property="og:url" content="'+data.sharepd_link+'"/>');
                                    $("head").append('<meta property="og:image" content="'+data.product_image+'" />');
                                    $('#product_url').val(data.sharepd_link);
                                    $('#product_name').val(data.product_name);
                                    $('#sharepd_id').val(data.sharepd_id);

                                    if(data.link_facbook){
                                        $("#btn_sc_facebook").attr('href', data.link_facbook);
                                    }

                                    if(data.link_twitter){
                                        $("#btn_sc_twitter").attr('href', data.link_twitter);
                                    }

                                    if(data.link_linkedin){
                                        $("#btn_sc_linkedin").attr('href', data.link_linkedin);
                                    }

                                    if(data.link_pinterest){
                                        $("#btn_sc_pinterest").attr('href', data.link_pinterest);
                                    }
                                    
                                    $("#share-product-popup").modal("openModal");
                                }
                                if(data['errors']  == true ) {
                                    $('.page.messages').prepend('<div id="ajaxmess"><div class="messages"><div class="message-error error message">'+data['message']+'</div></div></div>');
                                }
                            },
                            error: function (data) {
                                console.log(data);
                            }
                        });
                        return false;
                    }else{
                        return false;
                    }
                }
            });
            var dataForm = $('#form-validate');
            var ignore = null;

            dataForm.mage('validation', {
                ignore: ignore ? ':hidden:not(' + ignore + ')' : ':hidden'
            }).find('input:text').attr('autocomplete', 'off');

            $(document).ready(function(){
                $("#form-validate").submit(function(event){
                    event.preventDefault();
                    var dataForm = $(this);
                    $.ajax({
                        url: "<?php echo $storeurl . "knshareproduct/product/sendmail"; ?>",
                        type: 'POST',
                        showLoader: true,
                        data: dataForm.serialize(),
                        success: function (data) {

                            var response = data;
                            if(data.message){
                                $('#form-validate .send-alert.messages').text(data.message);
                            }

                            if (response.errors == false){
                                $('#form-validate .send-alert.messages').addClass('success');
                                $('#form-validate .send-alert.messages').show();
                            }else{
                                $('#form-validate .send-alert.messages').addClass('error');
                                $('#form-validate .send-alert.messages').show();
                            }
                        },
                        error: function (data) {
                            if(data.message){
                                $('#form-validate .send-alert.messages').text(data.message);
                                $('#form-validate .send-alert.messages').addClass('error');
                                $('#form-validate .send-alert.messages').show();
                            }
                        }
                    });
                    return false;
                });
            });

            $("#share-product-popup").on('modalclosed', function() { 
                $('#form-validate .send-alert.messages').text('');
                $('#form-validate .send-alert.messages').hide();
            });

            $("#copy_product_clpbrd").on('click',function(){
                var shareid = $('#sharepd_id').val();
                var social = $(this).attr('data-type');

                $.ajax({
                    url: "<?php echo $storeurl . "knshareproduct/product/updateaction"; ?>",
                    type: 'POST',
                    showLoader: false,
                    data: { type: social, shareid: shareid },
                    success: function (data) {
                        console.log(data);
                    }
                });

                CopyFunction();
                $('#cpy_msg').show();
            });

            $(".share_btn_sc").on('click',function(event){
                event.preventDefault()
                var shareid = $('#sharepd_id').val();
                var social = $(this).attr('data-type');
                
                $.ajax({
                    url: "<?php echo $storeurl . "knshareproduct/product/updateaction"; ?>",
                    type: 'POST',
                    showLoader: false,
                    data: { type: social, shareid: shareid },
                    success: function (data) {
                        console.log(data);
                    }
                });
                if(social == "Facebook"){
                    var href = $(this).attr('href');
                    FB.ui({
                        display: 'popup',
                        method: 'share_open_graph',
                        action_type: 'og.likes',
                        action_properties: JSON.stringify({
                            object: href,
                        })
                      }, function(response){});
                }else{
                    window.open($(this).attr('href'),"","width=560,height=480,left=0,top=0,location=no,status=yes,scrollbars=yes,resizable=no");
                }
               
                return false;
            });


            function CopyFunction() {
                var copyText = document.getElementById("link-product");
                copyText.select();
                document.execCommand("Copy");
            }

            function doAjaxSavesharepd(url, formData){
                $.ajax({
                    type        : 'POST',
                    url         : url,
                    data        : formData,
                    dataType    : 'json',
                    encode      : true,
                    showLoader: true
                }).done(function(data) {
                    $('#ajaxmess').remove();
                    
                    $("html, body").animate({ scrollTop: 0 }, "slow");
                    if(data['errors']  == false ) {
                        $('.super-option-required').fadeOut();
                        $("#share-product-popup").modal("openModal");
                        $('#link-product').val(data.sharepd_link);
                        $('#product_url').val(data.sharepd_link);
                        $('#product_name').val(data.product_name);
                        $('#sharepd_id').val(data.sharepd_id);
                        $('meta[property="og:url"').attr("content", data.sharepd_link);
                        if(data.link_facbook){
                            $("#btn_sc_facebook").attr('href', data.link_facbook);
                        }

                        if(data.link_twitter){
                            $("#btn_sc_twitter").attr('href', data.link_twitter);
                        }

                        if(data.link_linkedin){
                            $("#btn_sc_linkedin").attr('href', data.link_linkedin);
                        }

                        if(data.link_pinterest){
                            $("#btn_sc_pinterest").attr('href', data.link_pinterest);
                        }
                    }

                    if(data['errors']  == true ) {
                        $('.page.messages').prepend('<div id="ajaxmess"><div class="messages"><div class="message-error error message">'+data.message+'</div></div></div>');
                        $('.super-option-required').fadeOut();

                        var result = data['product_require'];

                        $.each(result, function(k, v) {
                            var productId = v;
                            if ( ($('#super-' + productId + ' .super-option-required').length > 0) ) {
                                $('#super-' + productId + ' .super-option-required' ).fadeIn();
                            } else {
                                var html = '<div class="super-option-required mage-error" generated="true">Please select required option(s)</div>';
                                $('#super-' + productId + ' .super-item-name' ).append(html);
                            }
                        });
                    }
                    
                });
            }

            function callSavesharepd(url, request) {
                var attributes = [],
                    superInfo = {},
                    addOnQty = {},
                    arr = {},
                    addonAttsDisable = [],
                    optionCheck = null,
                    optionTypeCheck = null,
                    productSkuTemp = null,
                    qty = $('#qty').val();

                var length = $('.list-add-on.option-selected').length;
                $('.list-add-on.option-selected').each(function(index) {

                    /*  Push Array For Configurable Product */
                    if( $(this).val() ) {

                        var productIdCode = $(this).attr('id'),
                            productId = productIdCode.split('-')[0],
                            optionCode = productIdCode.split('-')[1],
                            optionId = $(this).val(),
                            productSku = $(this).data('sku');

                        if(optionCheck == null) {
                            optionCheck = productId;
                            productSkuTemp =  productSku;
                        }

                        /* create array */
                        if(optionCheck == productId) {
                            arr[optionCode] = optionId;
                            optionTypeCheck = $(this).data('type');
                        }

                        if(optionCheck != productId) {
                            /* Push Array For configurable Product */
                            if( optionTypeCheck == 'configurable' ) {
                                attributes.push({
                                    product_id: optionCheck,
                                    product_type: optionTypeCheck,
                                    product_sku: productSkuTemp,
                                    option_selected:  arr
                                });
                            }

                            if (index !== (length - 1)) {
                                optionTypeCheck = $(this).data('type');
                                if( optionTypeCheck == 'simple' || $(this).data('type') == 'simple') {
                                    attributes.push({
                                        product_id: $(this).data('id'),
                                        product_type: $(this).data('type'),
                                        product_sku: $(this).data('sku'),
                                        option_selected:  null,
                                    });
                                }
                            }


                            optionCheck = productId;
                            productSkuTemp =  productSku;
                            arr = {};
                            if ( $(this).data('type') != 'simple') {
                                arr[optionCode] = optionId;
                            }
                        }

                        if (index === (length - 1)) {
                            if( $(this).data('type') == 'simple' ) {
                                attributes.push({
                                    product_id: $(this).data('id'),
                                    product_type: $(this).data('type'),
                                    product_sku: $(this).data('sku'),
                                    option_selected:  null,
                                });
                            }

                            if( $(this).data('type') == 'configurable' ) {
                                attributes.push({
                                    product_id: productId,
                                    product_type: $(this).data('type'),
                                    product_sku: $(this).data('sku'),
                                    option_selected:  arr
                                });
                            }
                        }

                        var Elattributedisable = $(this).closest('.super-item-attribute').find('.option-item.option-disable');
                        $.each(Elattributedisable, function(index){
                            var attbutesDisable = {},
                                dataId = $(this).data('id'),
                                dataAtt = $(this).data('attribute'),
                                dataInd = $(this).data('index');
                            attbutesDisable[dataAtt] = dataInd;
                            addonAttsDisable.push({
                                productId : dataId,
                                options_disable : attbutesDisable
                            });
                        });
                    }
                });

                $('.list-add-on.require-option-attr').each(function(index) {
                    var related_pro = $(this).closest('.super-item-attribute').find('.option-item.option-disable');
                    $.each(related_pro, function(index){
                        var addonAttsreq = {},
                            dataAtt = $(this).data('attribute'),
                            dataInd = $(this).data('index');
                        addonAttsreq[dataAtt] = dataInd;
                        addonAttsDisable.push({
                            productId : $(this).data('id'),
                            options_disable : addonAttsreq
                        });
                    });
                });
                
                $('.super-addon-qty.option-selected').each(function() {
                    addOnQty[$(this).data('id')] = $(this).val();
                });

                var ImageUrl =  $('#product-merged-image').val();
                var thumImageUrl =  $('#product-merged-image_thumnail').val();

                superInfo['validate'] = 1;
                superInfo['super_product_id'] = '<?php echo $block->getCurrentProduct()->getId()?>';
                superInfo['product_qty'] = qty;
                superInfo['super_product_img'] = ImageUrl;
                superInfo['super_product_img_thumnail'] = thumImageUrl;
                superInfo['super_attributes'] = attributes;
                superInfo['super_attributes_disable'] = addonAttsDisable;
                superInfo['addon_qty'] = addOnQty;
                superInfo['request'] = request;
                doAjaxSavesharepd(url,superInfo, request);
            }

            function getUrlImageHasBeenMerged(urlAddCart, request) {
                var url = '<?php echo $block->getImageDownload(); ?>';
                var array = [];
                $('.super-image').each(function() {
                    var imageSrc = $(this).attr('src'),
                        position = $(this).data('position');
                    array.push({
                        src: imageSrc,
                        position: position
                    });
                });
                var jsonString = JSON.stringify(array);
                var formData = {
                    'url_json'   : jsonString,
                    'url_sku'    : '<?php echo $_product->getSku(); ?>',
                    'sp_id'      : '<?php echo $_product->getId(); ?>',
                    'customer_info' : "<?php echo $block->getCustomerInfo(); ?>"
                };
                $.ajax({
                    type        : 'POST',
                    url         : url,
                    data        : formData,
                    dataType    : 'json',
                    encode      : true,
                    showLoader: true
                }).done(function(data) {
                    if(data['errors'] == false) {
                        $('#product-merged-image').val(data['file_path']);
                        $('#product-merged-image').val(data['file_jpg_path']);
                        var imageSrc = data.file_jpg_path;
                        $('meta[property="og:image"').attr("content",imageSrc);
                        callSavesharepd(urlAddCart, request);
                    }else{
                        $("#product-addtocart-button").removeClass('disabled');
                    }
                });
            }
        }
    );
</script>

<?php } ?>