<?php
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * @category   BSS
 * @package    Bss_Faqs
 * @author     Extension Team
 * @copyright  Copyright (c) 2017-2018 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Social share block
 *
 * @var $block Bss\Faqs\Block\SocialShare
 */
?>
<div class="faq_social_share">
</div>
<script type="text/x-magento-init">
    {
        ".faq_social_share": {
            "bss_faqs_social_share": {
            }
        }
    }
</script>
