<?php
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * @category   BSS
 * @package    Bss_Faqs
 * @author     Extension Team
 * @copyright  Copyright (c) 2017-2018 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */

// @codingStandardsIgnoreFile
?>
<?php
/**
 * Question page voting block
 *
 * @var $block Bss\Faqs\Block\VotingBlock
 */
$moduleConfig = $block->getModuleConfig();
?>
<div class="faq_vote_block">
    <div class="vote_block_label">
        <div><?php echo __('Was this article helpful?'); ?></div>
    </div>
    <div class="vote_button like">
    <div tooltip="<?php echo __("Helpful"); ?>"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
    <span class="counter"><i class="fa fa-spinner fa-pulse" aria-hidden="true"></i></span></div>
    </div>
    <div class="vote_button unlike">
    <div tooltip="<?php echo __("Unhelpful"); ?>"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
    <span class="counter"><i class="fa fa-spinner fa-pulse" aria-hidden="true"></i></span></div>
    </div>
</div>
<div class="faq_vote_notify">
</div>
<script type="text/x-magento-init">
    {
        ".faq_vote_block": {
            "bss_faqs_voting_control": {
                "baseUrl": "<?php echo $moduleConfig->getBaseUrl() ?>",
                "faqId": "<?php echo $block->getFaqId() ?>",
                "loginRequiredNotify": "<?php echo __("You need login to vote"); ?>",
                "likeNotify": "<?php echo __("Thanks for voting"); ?>",
                "unlikeNotify": "<?php echo __($moduleConfig->getMessageUnhelpful()); ?>"
            }
        }
    }
</script>
