<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<div class="col-lg-6 col-md-6 col-sm-6">
    <div class="block discount" id="block-discount" data-mage-init='{"collapsible":{"openedState": "active", "saveState": false}}'>
        <div class="doCoupon" data-role="title">
            <span id="block-discount-heading" role="heading" aria-level="2"><?= /* @escapeNotVerified */ __('Do you have a coupon to add?') ?></span>
        </div>
        <div class="couponslide" data-role="content" aria-labelledby="block-discount-heading">
            <form id="discount-coupon-form"
                  action="<?= /* @escapeNotVerified */ $block->getUrl('checkout/cart/couponPost') ?>"
                  method="post"
                  data-mage-init='{"discountCode":{"couponCodeSelector": "#coupon_code",
                                                   "removeCouponSelector": "#remove-coupon",
                                                   "applyButton": "button.action.apply",
                                                   "cancelButton": "button.action.cancel"}}'>
                <div class="fieldset <?= strlen($block->getCouponCode()) ? ' applied' : '' ?>">
                    <input type="hidden" name="remove" id="remove-coupon" value="0" />
                    <div class="field">
                        <label for="coupon_code" class="label"><span><?= /* @escapeNotVerified */ __('Enter discount code') ?></span></label>
                        <div class="coupon control">
                            <input type="text" class="input-text" id="coupon_code" name="coupon_code" value="<?= $block->escapeHtml($block->getCouponCode()) ?>" placeholder="<?= $block->escapeHtml(__('Coupon Code')) ?>" <?php if (strlen($block->getCouponCode())): ?> disabled="disabled" <?php endif; ?> />
                        </div>
                        <div class="actions-toolbar">
                            <?= $block->getBlockHtml('formkey') ?>
                            <?php if (!strlen($block->getCouponCode())): ?>
                            <div class="primary">
                                <button class="action apply primary btn couponButton" type="button" value="<?= /* @escapeNotVerified */ __('Apply Coupon') ?>">
                                    <span><?= /* @escapeNotVerified */ __('Apply Coupon') ?></span>
                                </button>
                            </div>
                            <?php else: ?>
                                <div class="primary">
                                    <button  type="button" class="action cancel primary" value="<?= /* @escapeNotVerified */ __('Cancel Coupon') ?>"><span><?= /* @escapeNotVerified */ __('Cancel Coupon') ?></span></button>
                                </div>
                            <?php endif; ?>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>