//
//  Small Grid Styles
//  _________________________

//
//  Common
//  --------------------------

& when (@media-common = true) {
  .amtab-grid-wrapper.-small {
    .amtab-grid-container {
      flex-basis: 100%;
    }

    .amtab-head-line {
      height: 64px;
      background: @amtab-grid__secondary__color;
      font-weight: normal;
    }

    .amtab-table-line {
      & {
        height: 45px;
      }

      &:nth-child(odd) {
        background: @amtab-grid__secondary__color;
      }

      .amtab-title {
        font-weight: bold;
      }
    }

    .amtab-steps-container {
      & {
        .am-flex(center, center, wrap);

        position: relative;
        align-self: flex-start;
        width: 100%;
      }

      .amtab-img {
        .am-flex(center);

        top: 0;
      }

      .amtab-head {
        .am-flex(none, center);

        position: relative;
        display: inline-flex;
        margin: 0 0 @amtab__indent / 2;
        color: @amtab-grid__active__color__secondary;
        font-weight: bold;
      }

      .amtab-desc {
        margin: 0;
        color: #000;
        font-size: 12px;
      }
    }

    .amtab-arrow {
      & {
        .am-transition(.1);

        position: absolute;
        display: none;
        border-bottom: 1px solid @amtab-grid__active__color__secondary;
        border-radius: 5px 0 0 5px;
      }

      &:after,
      &:before {
        .am-transition(.1);

        position: absolute;
        display: block;
        width: 5px;
        border-bottom: 1px solid @amtab-grid__active__color__secondary;
        content: '';
      }
    }

    .amtab-step {
      position: absolute;
      margin: 0;
      max-width: 300px;
    }

    .amtab-measure {
      & {
        .am-flex(center, none, wrap);

        position: relative;
      }

      > .amtab-title {
        align-self: flex-start;
        margin: @amtab__indent__xl * 2 0 35px 0;
      }
    }
  }
}

//
//  Tablet
//  --------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
  .amtab-grid-wrapper.-small {
    .amtab-grid-container {
      &.amtab-measure {
        max-width: 610px;
        min-height: 379px;
        margin: 0 auto;
        flex-basis: 52%;
      }

      &.amtab-sizes {
        flex-basis: 48%;
      }
    }

    .amtab-table-container {
      margin: 0 50px 0 0;
    }

    .amtab-step {
      max-width: 190px;
    }

    .amtab-img {
      position: absolute;
    }

    .amtab-measure > .amtab-title {
      margin: 0 0 32px;
    }

    .amtab-steps-container {
      height: 100%;
    }
  }
}

//
//  Mobile
//  --------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
  .amtab-grid-wrapper.-small {
    .amtab-arrow {
      display: block;
    }
  }
}


