<div class="seo-preview-container-fb">

    <div class="title">
        <h2 data-bind="i18n:'Facebook Snippet Preview'"></h2>
    </div>
    <div class="seo-preview-tabs">
        <div class="preview-desktop seo-tabs">
            
            <div class="snippet-preview">
                <div class="seo-img-container">
                    <div class="fb-img-container">
                        <img src="" data-bind="attr:{src: facebookImage()}" />
                    </div>
                    <div class="fb-text-container">
                        <div class="seo-snippet-title" data-bind = "html: facebookSnippetTitle()"></div>
                        <div class="seo-snippet-description" data-bind = "html: facebookSnippetDescription()"></div>
                        <div class="seo-snippet-url">
                            <span data-bind="text: productUrl()"></span>
                        </div>
                    </div>
                    <div style="clear:both"></div>
                </div>
            </div>
        </div>
        <div class="preview-mobile  seo-tabs">
            <div class="snippet-preview">
                <div class="seo-img-container">
                    <div class="fb-img-container">
                        <img src="" data-bind="attr:{src: facebookImage()}" />
                    </div>
                    <div class="seo-snippet-title" data-bind = "html: facebookSnippetTitle()"></div>
                    <div class="seo-snippet-description" data-bind = "html: facebookSnippetDescription()"></div>
                    <div class="seo-snippet-url">
                        <span data-bind="text: productUrl()"></span>
                    </div>
                    <div style="clear:both"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="edit-open-graph-facebbok">
    <div class="title">
        <h2 data-bind="html:'Edit Open Graph (OG)'"></h2>
    </div>
    
    <div class="admin__field">
        <label class="admin__field-label" data-bind="i18n: 'Facebook OG Title'"></label>
        <div class="admin__field-control">
            <input type="text" data-bind="textInput: facebookTitle, valueUpdate:'input'" data-form-part="product_form" name="product[facebook_title]" class="admin__control-text facebook_title" />
            <div class="seo-status-messages">
            <!-- ko if titleStatusMessages().length > 0 -->   
                <div class="status-container" data-bind="foreach: titleStatusMessages">
                    <!-- ko if: $data.success -->   
                        <div class="success-status">
                            <span data-bind="html: $data.success"></span>
                        </div>
                    <!-- /ko -->      
                    <!-- ko if: $data.error -->   
                        <div class="error-status">
                            <span data-bind="html: $data.error"></span>
                        </div>
                    <!-- /ko -->
                </div>
            <!-- /ko -->
            </div>
        </div>
    </div>
    <div class="admin__field">
        <label class="admin__field-label" data-bind="i18n: 'Facebook OG Description'"></label>
        <div class="admin__field-control">
            <textarea data-bind="textInput: facebookDescription, valueUpdate:'input'" data-form-part="product_form" name="product[facebook_description]" class="admin__control-text facebook_description"></textarea>
            <div class="seo-status-messages">
            <!-- ko if: descStatusMessages().length > 0 -->
                <div class="status-container" data-bind="foreach: descStatusMessages">   
                    <!-- ko if: $data.success -->   
                        <div class="success-status">
                            <span data-bind="html: $data.success"></span>
                        </div>
                    <!-- /ko -->      
                    <!-- ko if: $data.error -->   
                        <div class="error-status">
                            <span data-bind="html: $data.error"></span>
                        </div>
                    <!-- /ko -->
                </div>
            <!-- /ko -->
            </div>
        </div>
    </div>
    <div class="admin__field">
        <label class="admin__field-label" data-bind="i18n: 'Facebook OG Image'"></label>
        <div class="admin__field-control">
            <input type="file" data-form-part="product_form"  form="product_form" name="product[facebook_image]" class="admin__control-text facebook_image" />
            <!-- ko if: imgStatusMessages().length > 0 -->
                <div class="status-container" data-bind="foreach: imgStatusMessages">   
                    <!-- ko if: $data.success -->   
                        <div class="success-status">
                            <span data-bind="html: $data.success"></span>
                        </div>
                    <!-- /ko -->      
                    <!-- ko if: $data.error -->   
                        <div class="error-status">
                            <span data-bind="html: $data.error"></span>
                        </div>
                    <!-- /ko -->
                </div>
            <!-- /ko -->
        </div>
    </div>
</div>