<div class="seo-preview-container">
    <div class="title">
        <h2 data-bind="i18n:'SERP Snippet Preview'"></h2>
    </div>
    <div class="seo-preview-tabs">
        <div class="seo-tabs-container">
            <div id="preview-desktop" class="seo-tab-title active-preview" data-bind="i18n: 'Desktop'"></div>
            <div id="preview-mobile" class="seo-tab-title" data-bind="i18n: 'Mobile'"></div>
        </div>
        <div class="preview-desktop seo-tabs">
            <div class="snippet-preview">
                <div class="seo-snippet-title" data-bind = "html: snippetTitle"></div>
                <div class="seo-snippet-url">
                    <span data-bind="text: productUrl"></span>
                </div>
                <div class="seo-snippet-description" data-bind = "html: snippetDescription"></div>
            </div>
        </div>
        <div class="preview-mobile  seo-tabs">
            <div class="snippet-preview">
                <div class="seo-snippet-title" data-bind = "html: snippetTitle"></div>
                <div class="seo-snippet-url">
                    <span data-bind="text: mobileProductUrl"></span>
                </div>
                <div class="seo-snippet-description" data-bind = "html: snippetDescription"></div>
            </div>
        </div>
    </div>
</div>