<div class="seo-preview-container-tw">

    <div class="title">
        <h2 data-bind="i18n:'Twitter Snippet Preview'"></h2>
    </div>
    <div class="seo-preview-tabs">
        <div class="preview-desktop seo-tabs">
            
            <div class="snippet-preview">
                
                <div data-bind="attr:{class: $data.largeSummaryCard()+' seo-img-container summary-large' }">
                    <div class="tw-img-container">
                        <img src="../../images/1.png" data-bind="attr:{src: twitterImage()}" />
                    </div>
                    <div class="tw-text-container">
                        <div class="seo-snippet-title" data-bind = "html: twitterSnippetTitle()"></div>
                        <div class="seo-snippet-description" data-bind = "html: twitterSnippetDescription()"></div>
                        <div class="seo-snippet-url">
                            <span data-bind="text: productUrl()"></span>
                        </div>
                    </div>
                    <div style="clear:both"></div>
                </div>
            </div>
        </div>
        <div class="preview-mobile  seo-tabs">
           <div class="snippet-preview">
                
                <!--<div class="seo-snippet-datetime" data-bind = "html: twitterSnippetDateTime()"></div>-->
                <div class="seo-img-container summary-large summary-small">
                    <div class="tw-img-container">
                        <img src="../../images/1.png" data-bind="attr:{src: twitterImage()}" />
                    </div>
                    <div class="seo-snippet-title" data-bind = "html: twitterSnippetTitle()"></div>
                    <div class="seo-snippet-description" data-bind = "html: twitterSnippetDescription()"></div>
                    <div class="seo-snippet-url">
                        <span data-bind="text: productUrl()"></span>
                    </div>
                    <div style="clear:both"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="edit-twitter-card">
    <div class="title">
        <h2 data-bind="i18n: 'Edit Twitter Card'"></h2>
    </div>
    
    <div class="admin__field">
        <label class="admin__field-label" data-bind="i18n: 'Twitter Card Title'"></label>
        <div class="admin__field-control">
            <input type="text" data-bind="textInput: twitterTitle, valueUpdate:'input'"  data-form-part="product_form" name="product[twitter_title]" class="admin__control-text twitter_title" />
            <div class="seo-status-messages">
            <!-- ko if titleStatusMessages().length > 0 -->   
                <div class="status-container" data-bind="foreach: titleStatusMessages">
                    <!-- ko if: $data.success -->   
                        <div class="success-status">
                            <span data-bind="html: $data.success"></span>
                        </div>
                    <!-- /ko -->      
                    <!-- ko if: $data.error -->   
                        <div class="error-status">
                            <span data-bind="html: $data.error"></span>
                        </div>
                    <!-- /ko -->
                </div>
            <!-- /ko -->
            </div>
        </div>
    </div>
    <div class="admin__field">
        <label class="admin__field-label" data-bind="i18n: 'Twitter Card Description'"></label>
        <div class="admin__field-control">
            <textarea data-bind="textInput: twitterDescription, valueUpdate:'input'" data-form-part="product_form" name="product[twitter_description]" class="admin__control-text twitter_description"></textarea>
            <div class="seo-status-messages">
            <!-- ko if: descStatusMessages().length > 0 -->
                <div class="status-container" data-bind="foreach: descStatusMessages">   
                    <!-- ko if: $data.success -->   
                        <div class="success-status">
                            <span data-bind="html: $data.success"></span>
                        </div>
                    <!-- /ko -->      
                    <!-- ko if: $data.error -->   
                        <div class="error-status">
                            <span data-bind="html: $data.error"></span>
                        </div>
                    <!-- /ko -->
                </div>
            <!-- /ko -->
            </div>
        </div>
    </div>
    <div class="admin__field">
        <label class="admin__field-label" data-bind="i18n: 'Twitter Card Image'"></label>
        <div class="admin__field-control">
            <input type="file" data-form-part="product_form" form="product_form" name="product[twitter_image]" class="admin__control-text twitter_image" />
            <!-- ko if: imgStatusMessages().length > 0 -->
                <div class="status-container" data-bind="foreach: imgStatusMessages">   
                    <!-- ko if: $data.success -->   
                        <div class="success-status">
                            <span data-bind="html: $data.success"></span>
                        </div>
                    <!-- /ko -->      
                    <!-- ko if: $data.error -->   
                        <div class="error-status">
                            <span data-bind="html: $data.error"></span>
                        </div>
                    <!-- /ko -->
                </div>
            <!-- /ko -->
        </div>
    </div>
</div>