/*
*** Preview button
*/
.area-button-preview{
    position: sticky;
    z-index: 501;
    width: 100%;
    height: auto;
    margin-top: -30px;
    padding: 10px 0px 10px 0px;
    background: white;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
}
.preview-move .area-button-preview{
    position: fixed;
    top: 106px;
    left: 8.8rem;
    right: 0;
    width: auto;
}
a#button-preview{
    border-width: 1px;
    display: block;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    position: relative;
    transition: all 0.5s;
    line-height: 1.3;
}
.dv-content-button{
    max-height:100%;
    max-width:100%;
    position: absolute;
}

.dv-content-button p {
    margin: 0;
}

/*
*** Set value
*/
.field-edit_button td,
.field-edit_button th{
    height: 58px;
    padding: 8px;
    border: 1px dotted #adadad;
}
.field-edit_button td:first-child{
    font-style: italic;
    font-size: 13px;
}
.field-edit_button tr:nth-child(even){
    background-color: #f3f3f3;
}
.field-edit_button td:first-child p{
    margin: 0;
}

.range-slider input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: #d3cfcf;
    outline: none;
    display: block;
    margin: 14px 0;
}
.range-slider input[type="range"]::-webkit-slider-thumb {
    width: 14px;
    height: 14px;
    border: 0;
    border-radius: 50%;
    background: #aaa;
    -webkit-appearance: none;
    cursor: pointer;
    -webkit-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
}
.range-slider input[type="range"]::-moz-range-thumb {
    width: 14px;
    height: 14px;
    border: 0;
    border-radius: 50%;
    background: #aaa;
    -webkit-appearance: none;
    cursor: pointer;
    -webkit-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
}
.range-slider input[type="range"]:hover::-webkit-slider-thumb {
    background: #666;
}
.range-slider input[type="range"]:hover::-moz-range-thumb {
    background: #fff;
}
.range-slider input[type="range"]:active::-webkit-slider-thumb {
    background: #666;
}
.range-slider input[type="range"]:active::-moz-range-thumb {
    background: #fff;
}
.range-slider > span {
    display: block;
    font-weight: bold;
    line-height: 20px;
    text-align: center;
    min-width: 55px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 666;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    text-align: center;
    font-weight: bold;
    font-size: 27px;
}
.modal-content-error {
    background-color: #fefefe;
    margin: auto;
    padding: 15px;
    border: 1px solid #888;
    width: 80%;
}


.close_error_submit {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
}

.close_error_submit:hover,
.close_error_submit:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}