<?php
/**
 * Copyright © 2017 Brandsmith. All rights reserved.
 * See COPYING.txt for license details.
 */
$objectManager = \Magento\Framework\App\ObjectManager::getInstance ();
$storeManager = $objectManager->get ( '\Magento\Store\Model\StoreManagerInterface' );
$formKey = $objectManager->get ( 'Magento\Framework\Data\Form\FormKey' );
?>
<?php echo $this->getLayout()
->createBlock('Magento\Cms\Block\Block')
->setBlockId('quick-order')
->toHtml(); ?>
<div class="row">
    <div class="col-lg-12">
        <h2>Quick Order By SKU</h2>
    </div>
</div>
<div id="tierprice_load" class="loading-mask" data-role="loader" style="display: none;">
  <div class="popup popup-loading">
    <div class="popup-inner"> 
        <img alt="Loading..." src="<?php echo $storeManager->getStore()->getBaseUrl();?>/pub/static/adminhtml/Magento/backend/en_US/images/loader-2.gif">Please wait... </div>
  </div>
</div>
<div id='approver_errormesage'></div>        
<div class="table-wrapper orders-recent">
<form id="quick_order_form" action="<?php echo  $this->getUrl ( 'checkout', array ()); ?>" method="post">        
    <div class="orderList">
        <div class="cartTitles">
            <div class="row">
                <div class="col-lg-2 col-sm-2 col-md-2"><b>SKU</b></div>
                <div class="col-lg-2 col-sm-2 col-md-2"><b>Name</b></div>
                <div class="col-lg-2 col-sm-2 col-md-2"><b>Variations</b></div>
                <div class="col-lg-2 col-sm-2 col-md-2"><b>Price</b></div>
                <div class="col-lg-2 col-sm-2 col-md-2"><b>Quantity</b></div>
                <div class="col-lg-2 col-sm-2 col-md-2"><b>Total</b></div>
            </div>
        </div>
        <div id="cart_item">
            <div class="row orderLineItem  item-info">
    			<?php $count=0;?>
                <input name="form_key" type="hidden" value="<?php echo $formKey->getFormKey();?>">
                <div class="col-lg-2 col-sm-2 col-md-2"><select onchange="loadProduct(this);" class='select frontend__control-select productadd' id="product_sku" name="product_sku[]"> </select></div>
                
                <div class="col-lg-2 col-sm-2 col-md-2"><span class="name">	&nbsp;</span></div>
                <div class="col-lg-2 col-sm-2 col-md-2"><span class="variations">  &nbsp;</span></div>
                <div class="col-lg-2 col-sm-2 col-md-2"><span class="price">  &nbsp;</span></div>
                <div class="col-lg-2 col-sm-2 col-md-2">
                    <select onchange='updateQuantity(this);' class="cart-item-qty" style="width: 45px;" name="qty[]" data-validate="{required:true,'validate-greater-than-zero':true}" data-role="cart-item-qty">
                        <?php for($qty_count=1;$qty_count<=10;$qty_count++){ ?>
                    		<option value="<?php echo $qty_count ?>"><?php echo $qty_count ?></option>
                        <?php } ?>
                    </select>
                </div>
                <div class="col-lg-2 col-sm-2 col-md-2">
                    <span class="total">&nbsp;</span>
                </div>
                <!-- <div class="col-lg-4 col-sm-4 col-md-4"><a href='javascript:;' onclick='deleteRow(this);'>Remove</a></div> -->
            </div>
        </div>
        <input type="hidden" id="count" value="<?php echo $count?>">
    </div>
</form>          
</div>
<div class="block block-dashboard-info"> 
	<span><button class="action primary add">Add More Product</button></span> 
    <span><button class="action primary proceed" style="display: none;">Add To Cart</button> </span> 
</div>
<div class="csvupload">
    <div class="row">
        <div class="col-lg-12">
            <h2>CSV Upload</h2>
            <form id="bulk-order" enctype="multipart/form-data" action="<?php echo  $this->getUrl ( 'quickorder/cart/bulkorder', array ()); ?>" method="post">
			    <div class="bulk-upload-box">
			      <div class="bulk field upload skus">
			        <div class="bulk-control">
		        		<div class="note">
			            	<p>To upload a CSV to add to cart please first <a href="<?php echo  $this->getUrl ( 'quickorder/cart/download', array ()); ?>">download our template</a>, populate and upload below.</p>
			            </div>
			            <input id="bulk_customer_sku_csv" data-reset="true" name="sku_file" type="file">
			            <input id="bulk-reset" value="0" data-reset="true" name="sku_file_uploaded" type="hidden">
			            <br>
			        </div>
			      </div>
			    </div>
			    <div class="bulk-actions-toolbar">
			      <div class="primary">
			        <button type="submit" title="Add to Cart" class="bulk action tocart primary"> <span>Add to Cart</span> </button>
			      </div>
			    </div>
			  </form>
        </div>
    </div>
</div>
<script>
function isNumberKey(evt) {
    var charCode = (evt.which) ? evt.which : event.keyCode;
    if (charCode > 31 && (charCode < 48 || charCode > 57 || charCode == 46)) {
        return false;
    }
    return true;
}
require([
        'jquery',
        'jquery/ui',
        'Brandsmith_QuickOrder/js/chosen.jquery.min',
        'Brandsmith_QuickOrder/js/select2.min',
        'mage/template',
        'Magento_Ui/js/modal/modal',
        'mage/translate'
    ],
    function($) {
        //Go To Checkout action, redirect to the checkout page
        $(".action.primary.proceed").click(function(e) {
            e.preventDefault();
            addProductToCart();
        });
        //Product Selection using search box
        $(".select.frontend__control-select.productadd").select2({
            placeholder: "Enter SKU Code",
            ajax: {
                url: "<?php echo $this->getUrl('quickorder/cart/productsearchlist');?>",
                dataType: 'json',
                delay: 700,
                data: function(params) {
                    return {
                        productSku: params.term // search term
                    };
                },
                processResults: function(data) {
                    return {
                       results: data
                    };
                },
                cache: true
            },
            minimumInputLength: 3
        });
        //Add More Product action, creates a new row
        $(".action.primary.add").click(function() {
            var count = document.getElementById("count").value;
            document.getElementById("count").value = parseInt(count) + 1;
            var table_data = '<div class="row orderLineItem  item-info">'
                +
               '<div class="col-lg-2 col-sm-2 col-md-2">'
                +
                '<select onchange="loadProduct(this);" class="select frontend__control-select productadd" id="product_sku' + count + '" name="product_sku[]">'
                +
                '</select></div>'
                +
                '<div class="col-lg-2 col-sm-2 col-md-2"><span class="name">    &nbsp;</span></div>'
                +
                '<div class="col-lg-2 col-sm-2 col-md-2"><span class="variations">  &nbsp;</span></div>'
                +
                '<div class="col-lg-2 col-sm-2 col-md-2"><span class="price">  &nbsp;</span></div>'
                +
                '<div class="col-lg-2 col-sm-2 col-md-2">'
                +
                '<select onchange="updateQuantity(this);" style="width: 45px;" name="qty[]" class="cart-item-qty" data-role="cart-item-qty"><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option></select>'
                +
                '</div>'
                +
                '<div class="col-lg-2 col-sm-2 col-md-2"><span class="total">  &nbsp;</span></div>'
                +
                '</div>';
            $("#cart_item").append(table_data);
            //Product Selection using search box
            $(".select.frontend__control-select.productadd").select2({
                placeholder: "Enter SKU Code",
                ajax: {
                    url: "<?php echo $this->getUrl('quickorder/cart/productsearchlist');?>",
                    dataType: 'json',
                    delay: 700,
                    data: function(params) {
                        return {
                            productSku: params.term // search term
                        };
                    },
                    processResults: function(data) {
                        return {
                           results: data
                        };
                    },
                    cache: true
                },
                minimumInputLength: 3
            });
            
        });
    }
);
//Delete product from cart
function deleteRow(currentObject) {
    jQuery('<div />').html('Are you sure you would like to remove this item?')
        .modal({
            autoOpen: true,
            closed: function() {
            },
            buttons: [{
                    text: 'Cancel',
                    attr: {
                        'data-action': 'confirm'
                    },
                    'class': 'action secondary action-dismiss',
                    click: function() {
                        this.closeModal();
                    }
                },
                {
                    text: 'OK',
                    attr: {
                        'data-action': 'confirm'
                    },
                    'class': 'action primary action-accept',
                    click: function() {
                        var rowIndex = currentObject.parentNode.parentNode.rowIndex;
                        document.getElementById("my-orders-table").deleteRow(rowIndex);
                        this.closeModal();
                        var quote_item_id = 0;
                        var sku = jQuery(currentObject).parent().parent().find('select.frontend__control-select.productadd').val();
                        var obj = jQuery.parseJSON(sku);
                        //var positionOfMinQty = sku.lastIndexOf(" min_qty ");
                        var selectedSku = obj.sku;
                        if (selectedSku != '') {
                            jQuery(".item-qty.cart-item-qty").each(function() {
                                var item_sku = jQuery(this).attr('data-cart-item-id');
                                if (selectedSku == item_sku) {
                                    quote_item_id = jQuery(this).attr('data-cart-item');
                                }
                            });
                            var urlData = "<?php echo  $this->getUrl ( 'checkout/sidebar/removeItem', array ()); ?>";
                            jQuery.ajax({
                                url: urlData,
                                data: {
                                    form_key: '<?php echo $formKey->getFormKey();?>',
                                    item_id: quote_item_id
                                },
                                type: 'POST',
                                //        			    showLoader: true
                            }).done(function(data) {
                            });
                        }
                    }
                }
            ]
        });
}
//Numeric validation
function isNumber(value) {
    var quantity = value.val();
    if (isNaN(quantity) || quantity < 0) {
        value.val('');
    }
}
//Update quantity of a product
function updateQuantity(currentInstant) {
    var currentInstant = currentInstant;
    var quote_item_id = 0;
    var dataObject = jQuery(currentInstant).parent().parent().find('.select.frontend__control-select.productadd').val();
    var dataObject = jQuery.parseJSON(dataObject);
    var selectedSku = dataObject.sku;
    var originalQty = jQuery(currentInstant).attr('original_qty');
    var newQty = Number(jQuery(currentInstant).val().trim());
    if (newQty == 0) {
        errorPopUp("Invalid quantity provided for " + selectedSku + ".");
    } else if (newQty != 0 && newQty != '') {
        if(dataObject.quantityAndStockStatus.qty < newQty){
            errorPopUp("We don't have as many " + '"' + selectedSku + '"' + " as you requested.");
            jQuery(currentInstant).val(1);
        }else{
            $total = newQty * dataObject.price;
            $total = $total.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
            jQuery(currentInstant).parent().parent().find('.total').html('$'+$total);
        }
    }else{
        errorPopUp("Invalid update quantity!");
    }
}
//Add product to cart
function loadProduct(object) {
    var dataObject = JSON.parse(object.value);
    var sku = dataObject.sku;
    var productId = dataObject.product_id;
    var selectedSku = dataObject.sku;
    var quantity = dataObject.min_qty;
    var qtyIncrements = dataObject.qty_increments;
    var rowSelected = jQuery(object).parent().parent();

    rowSelected.find('.name').html(dataObject.name);
    rowSelected.find('.variations').html(dataObject.variations);
    rowSelected.find('.price').html(dataObject.price_format);
    rowSelected.find('.total').html(dataObject.price_format);
    jQuery(".action.primary.proceed").show();
    jQuery(object).find("option[value='" + sku + "']").text(selectedSku);
    jQuery(object).parent().find('.select2-selection__rendered').html(selectedSku);
}
function addProductToCart() {
    var orderItems = [];
    var quickForm = jQuery('#quick_order_form');
    var urlData = "<?php echo  $this->getUrl ('checkout/cart/add/form_key/'.$formKey->getFormKey(), array ());?>";
    jQuery.each( quickForm.find('.productadd'), function(key, elementSelected) { 
       var dataObject = JSON.parse(elementSelected.value);
       var rowSelected = jQuery(elementSelected).parent().parent();
       var quantity = rowSelected.find('.cart-item-qty').val();
       jQuery.ajax({
            url: urlData,
            data: {
                form_key: window.FORM_KEY,
                product: dataObject.product_id,
                qty: quantity
            },
            type: 'POST',
        }).done(function(data) {
            if (typeof data.backUrl !== typeof undefined) {
                errorPopUp("We don't have as many " + '"' + selectedSku + '"' + " as you requested.");
            }
        });
    });
    
    
}
//Showing pop up message for error
function errorPopUp(message) {
    jQuery('<div />').html(message)
        .modal({
            autoOpen: true,
            closed: function() {
            },
            buttons: [
                {
                    text: 'OK',
                    attr: {
                        'data-action': 'confirm'
                    },
                    'class': 'action primary action-accept',
                    click: function() {
                        this.closeModal();
                    }
                }
            ]
        });
}
 </script> 
