.seo-preview-container-fb .preview-desktop {
    width:550px;
}
.seo-preview-container-fb {
    margin:10px 0;
}
.status-container .error-status {
    background: rgba(229, 6, 6, 0.1);
    margin: 5px 0;
    padding: 5px;
    color: #e92b2b;
    border-radius: 3px;
}

.status-container .success-status {
    background: rgba(95, 146, 93, 0.24);
    margin: 5px 0;
    padding: 5px;
    color: #3dac39;
    border-radius: 3px;
}

.success-status span::before {
    content: "";
    padding: 0px;
    background: green;
    border-radius: 50%;
    width: 7px;
    height: 7px;
    display: inline-block;
    margin: 0 10px;
}

.error-status span::before {
    content: "";
    padding: 0px;
    background: red;
    border-radius: 50%;
    width: 7px;
    height: 7px;
    display: inline-block;
    margin: 0 10px;
}
.edit-open-graph-facebbok{
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px;
}
.edit-open-graph-facebbok .title {
    background: #e1e1e1;
    padding: 10px;
    border-radius: 5px;
    margin: 0 0 14px 0;
}
.edit-open-graph-facebbok .title h2{
    margin:0;
}

.seo-preview-container-fb .seo-snippet-description {

    font-family: Helvetica, Arial, sans-serif;
    line-height: 16px;
    max-height: 80px;
    overflow: hidden;
    margin-bottom: 5px;
    border-spacing: 0;
    word-wrap: break-word;
    letter-spacing: normal;
    text-decoration: none;
    transition: color .1s ease-in-out;
    color: #4b4f56;
    padding:0;

}
.seo-preview-container-fb .seo-snippet-url, .seo-preview-container-fb .seo-snippet-title{
    padding:10px;
    cursor: pointer;
}

.seo-preview-container-fb .seo-img-container {
    border: 1px solid #e1e1e1;
    padding: 10px;
}
.seo-preview-container-fb .seo-img-container .fb-img-container{
    float:left;
    width:100%;
}
.seo-preview-container-fb .seo-img-container .fb-small-image.fb-img-container{
    width:158px;
    height:158px;
}
.seo-preview-container-fb .seo-snippet-url {
    color: #90949c;
    padding:0px;
    height: auto;
    padding-top: 9px;
    position: relative;
    border-spacing: 0;
}
.seo-preview-container-fb .seo-snippet-url span {
    font-size: 11px;
    line-height: 11px;
    text-transform: uppercase;
    color: #90949c;
}
.seo-preview-container-fb .seo-snippet-title {
    color:#1d2129;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    word-wrap: break-word;
    font-family: Georgia, serif;
    letter-spacing: normal;
    padding:0;
    margin-bottom: 5px;
}
.fb-text-container {
    height: auto;
    margin: 10px 12px;
    max-height: 100px;
    float:left;
    position:relative;
}