
.seo-preview-container-tw .preview-desktop {
    width:610px;
}
.seo-preview-container-tw {
    margin:10px 0;
}
.edit-twitter-card{
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px;
}
.edit-twitter-card .title {
    background: #e1e1e1;
    padding: 10px;
    border-radius: 5px;
    margin: 0 0 14px 0;
}
.edit-twitter-card .title h2{
    margin:0;
}

.seo-preview-container-tw .seo-snippet-description {

    max-height: 2.6em;
    overflow: hidden;
    margin-top: .32333em;
    text-align: left;
    font-size: 14px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.3em

}
.seo-preview-container-tw .seo-snippet-url, .seo-preview-container-tw .seo-snippet-title{
    max-height: 1.3em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1em;
    margin: 0 0 .15em;
    text-align: left;
    color:#000;
    font-weight: bold;
}

.seo-preview-container-tw .seo-img-container {
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    overflow: hidden;
}
.seo-preview-container-tw .seo-snippet-datetime {
    margin: 0 0 10px 0;
    font-size: 14px;
    color: #697882;
}
.seo-img-container.summary-small .tw-img-container {
    width:250px;
    float:left;
}
.seo-preview-container-tw .seo-img-container:hover {
    border-color:#cfd0cf;
}
.seo-preview-container-tw .seo-snippet-url {
    color: #90949c;
    padding:0px;
    height: auto;
    padding-top: 9px;
    position: relative;
    border-spacing: 0;
    max-height: 1.7em;
    font-weight: normal;
}
.seo-preview-container-tw .seo-snippet-url span {
    font-size: 11px;
    line-height: 11px;
    text-transform: uppercase;
    color: #90949c;
}
.tw-text-container {
    height: auto;
    margin: 10px 12px;
    max-height: 100px;
    float:left;
    position:relative;
    float:left;
    box-sizing: border-box;
    text-decoration: none;
    text-align: left;
    font-size: 14px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.3em;
}
