.seo-snippet-title {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 18px;
    color: #1a0dab;
}

.seo-snippet-description {
    font-family: sans-serif;
    font-family: arial,sans-serif;
    font-size: small;
    line-height: 1.4;
    overflow-wrap: break-word;
}
.seo-snippet-description em {
    color: #6a6a6a;
}
.seo-snippet-description em {
    font-style: normal;
    font-weight: bold;
}
.seo-snippet-url{
    min-height: 18px;
    line-height: 16px;
}
.seo-snippet-url span {
    color: #006621;
    font-style: normal;
}

.ping-log-container {
    width: 500px;
    height: 200px;
    overflow: auto;
    margin: 10px 0;
    box-shadow: 0px 0px 12px #555;
}

.preview-mobile {
    display:none;
}
.seo-tabs-container {
    margin: 10px 0;
}
.seo-tab-title {
    display: inline-block;
    cursor: pointer;
    box-shadow: 2px 2px 4px #555;
    padding: 2px;
}

.seo-tabs {
    border: 1px dashed #ccc;
    padding: 10px;
}

.preview-desktop {
    width:632px;
}
.preview-mobile {
    width:400px;
}
.active-preview {
    background: teal;
    color: #fff;
}
.seo-preview-container {
    margin:10px 0;
    margin-left: 150px;
}
.seo-preview-container .seo-snippet-url span::after {
    content: "";
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #006621;
    border-bottom: none;
    background: transparent;
    vertical-align: -13px;
    margin-left: 3px;
}
