.seo-meter-container {
    background: #ffffff none repeat scroll 0 0;
    padding: 10px;
}

.seo-meter-container-fixed {
    position: fixed;
    top: 0px;
    right: 10px;
    z-index: 999999;
    box-shadow: 1px 0px 10px #333;
    height: 316px;
    overflow: auto;
}

.seo-notice {
    background: rgba(253, 246, 98, 0.1);
    border-radius: 5px;
    line-height: 40px;
    padding-left:10px;
    margin: 0 0 15px 0;
    /*border: 1px solid #b1a006;*/
}

.seo-notice > span {
    color: #b1a006;
}

.seo-percentage {
    margin: 10px 0;
    padding: 10px 0;
}
.seo-percentage > span {
    font-size: 20px;
}

.meter {
    display: inline-block;
    height: 3px;
    margin-right: -4px;
    position: relative;
    width: 20%;;
    text-align:center;
}
.meter-indecator {
    width: 0;
    height: 0;
    background: transparent;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid #333;
    top:-8px;
    border-radius:5px;
}

.seo-meter-scale {
    margin: 30px 0px 50px 0px;
    padding: 3px 0;
    height:5px;
    background: red; /* For browsers that do not support gradients */
    /* For Safari 5.1 to 6.0 */
    background: -webkit-linear-gradient(left,red,orange,yellow,green, greenyellow);
    /* For Opera 11.1 to 12.0 */
    background: -o-linear-gradient(left,red,orange,yellow,green,greenyellow);
    /* For Fx 3.6 to 15 */
    background: -moz-linear-gradient(left,red,orange,yellow,green,greenyellow);
    /* Standard syntax */
    background: linear-gradient(to right, red,orange,yellow,green,greenyellow);
    border-radius:5px;
}
.percent-text {
    margin-top: -27px;
    margin-left: -10px;
}

/*.meter.poor {
    background: red none repeat scroll 0 0;
}*/

.seo-message-label > span {
    font-size: 18px;
}
.seo-message > li {
    list-style: outside none none;
    padding: 0 17px;
}
.error-in-seo.seo-mesages {
    background: rgba(229, 6, 6, 0.1);
    margin: 10px 0;
    padding: 10px;
}

.need-improvement.seo-messages {
    background: rgba(253, 246, 98, 0.1);
    margin: 10px 0;
    padding: 10px;
}

.working-fine.seo-messages {
    background: rgba(95, 146, 93, 0.24);
    margin: 10px 0;
    padding: 10px;
}

.error-in-seo .seo-message span {
    color: #e92b2b;;
}
.need-improvement .seo-message span {
    color: #b1a006;
}
.working-fine .seo-message span {
    color: #3dac39;
}

.error-in-seo.seo-mesages .seo-message span::before {
    background: red none repeat scroll 0 0;
    border-radius: 50%;
    content: "";
    display: inline-block;
    margin: 0 5px;
    padding: 4px;
    vertical-align: middle;
}

.need-improvement .seo-message span::before {
    background: yellow none repeat scroll 0 0;
    border-radius: 50%;
    content: "";
    display: inline-block;
    margin: 0 5px;
    padding: 4px;
    vertical-align: middle;
}

.working-fine .seo-message span::before {
    background: green none repeat scroll 0 0;
    border-radius: 50%;
    content: "";
    display: inline-block;
    margin: 0 5px;
    padding: 4px;
    vertical-align: middle;
}

.meter.poor {
    text-align: left;
}

.meter.excelent {
    text-align: right;
}

.meter-text {
    display: inline-block;
    font-family: sans-serif;
    font-size: 12px;
    left: 6px;
    position: relative;
    top: 20px;
}
.ping-log-container {
    width: 600px;
    height:400px;
    overflow: auto;
    margin:10px 0;
}
.ping-log-container > .ping-log {
    word-wrap: break-word;
    background: #333;
    color: #FFFFFF;
    font-size: 12px;
}