<?php
/**
 * Copyright © Magefan (support@magefan.com). All rights reserved.
 * See LICENSE.txt for license details (http://opensource.org/licenses/osl-3.0.php).
 *
 * Glory to Ukraine! Glory to the heroes!
 */
?>
<?php
/**
 * Blog recent posts widget
 *
 * @var $block \Magefan\Blog\Block\Widget\Recent
 */
?>

<?php
    $_postCollection = $block->getPostCollection();

?>
<?php if ($_postCollection->count()) { ?>
    <div class="row">
    <?php foreach ($_postCollection as $_post) { ?>
        <?php
        $_postUrl = $_post->getPostUrl();
        $_postName = $block->escapeHtml($_post->getTitle(), null, true);
        ?>
        <div class="col-lg-3 col-md-3 col-sm-3 blogblog">
            <div class="blogItem blogFirst">
                <a href="<?php echo $_postUrl ?>" title="<?php echo $_postName ?>">
                  <?php if ($featuredImage = $_post->getFeaturedImage()) { ?>
                    <img src="<?php echo $block->resize($_post->getPostImage(), 338,307) ?>" alt="<?php echo $_postName ?>" />
                <?php } ?>
            <span class="blogTitle"><?= $_postName ?></span></div>
            </a>
        </div>
        <?php } ?>
    </div>
<?php } ?>