<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="field" data-bind="visible: visible, attr: {'name': element.dataScope}, css: additionalClasses">
    <label class="label" data-bind="attr: { for: element.uid }">
        <!-- ko if: element.label -->
        <span translate="element.label"></span>
        <!-- /ko -->
    </label>

    <div class="control" data-bind="css: {'_with-tooltip': element.tooltip}">
        <input class="input-text" type="number" pattern="\d*" onkeydown="javascript: return (event.keyCode === 8 || event.keyCode === 46) ? true : ((event.key === ' ') ? false : !isNaN(event.key))" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="12" data-validate="{ maxlength:12, required:true, 'validate-number':true }" data-bind="
            value: value,
            hasFocus: focused,
            attr: {
                name: inputName,
                placeholder: placeholder,
                'aria-describedby': getDescriptionId(),
                'aria-required': required,
                'aria-invalid': error() ? true : 'false',
                id: uid,
                disabled: disabled
            }" />
    </div>

    <!-- ko if: element.notice -->
        <div class="field-note" data-bind="attr: { id: element.noticeId }">
            <span data-bind="text: element.notice"/>
        </div>
    <!-- /ko -->

    <!-- ko if: element.error() -->
        <div class="field-error" data-bind="attr: { id: element.errorId }" generated="true">
            <span data-bind="text: element.error"/>
        </div>
    <!-- /ko -->

    <!-- ko if: element.warn() -->
        <div role="alert" class="message warning" data-bind="attr: { id: element.warningId }" generated="true">
            <span data-bind="text: element.warn"/>
        </div>
    <!-- /ko -->
</div>