<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Address\Edit $block */
?>
<?php $_company = $block->getLayout()->createBlock(\Magento\Customer\Block\Widget\Company::class) ?>
<?php $_telephone = $block->getLayout()->createBlock(\Magento\Customer\Block\Widget\Telephone::class) ?>
<?php $_fax = $block->getLayout()->createBlock(\Magento\Customer\Block\Widget\Fax::class) ?>
<form class="form-address-edit"
      action="<?= $block->escapeUrl($block->getSaveUrl()) ?>"
      method="post"
      id="form-validate"
      enctype="multipart/form-data"
      data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>">
    <fieldset class="fieldset">
        <legend class="legend"><span><?= $block->escapeHtml(__('Contact Information')) ?></span></legend><br>
        <?= $block->getBlockHtml('formkey') ?>
        <input type="hidden" name="success_url" value="<?= $block->escapeUrl($block->getSuccessUrl()) ?>">
        <input type="hidden" name="error_url" value="<?= $block->escapeUrl($block->getErrorUrl()) ?>">
        <?= $block->getNameBlockHtml() ?>

        <div class="row">
            <div class="field field-name-firstname required col-lg-6 col-md-6 col-sm-6">
                <div class="control">
                    <?php if ($_company->isEnabled()): ?>
                        <?= $_company->setCompany($block->getAddress()->getCompany())->toHtml() ?>
                    <?php endif ?>
                </div>
            </div>
            <div class="field field-name-lastname required col-lg-6 col-md-6 col-sm-6">
                <div class="control">
                    <?php if ($_telephone->isEnabled()): ?>
                        <?= $_telephone->setTelephone($block->getAddress()->getTelephone())->toHtml() ?>
                    <?php endif ?>
                </div>
            </div>
        </div>
        <?php if ($_fax->isEnabled()): ?>
            <?= $_fax->setFax($block->getAddress()->getFax())->toHtml() ?>
        <?php endif ?>
    </fieldset>
    <fieldset class="fieldset">
        <legend class="legend"><span><?= $block->escapeHtml(__('Address')) ?></span></legend><br>
        <?php $_streetValidationClass = $this->helper(\Magento\Customer\Helper\Address::class)->getAttributeValidationClass('street'); ?>
        <div class="row">
            <div class="field street required col-lg-6 col-md-6 col-sm-6">
                <label for="street_1" class="label">
                    <span><?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('street') ?></span>
                </label>
                <div class="control">
                    <input type="text"
                           name="street[]"
                           value="<?= $block->escapeHtmlAttr($block->getStreetLine(1)) ?>"
                           title="<?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('street') ?>"
                           id="street_1"
                           class="input-text <?= $block->escapeHtmlAttr($_streetValidationClass) ?>"/>
                    <div class="nested">
                        <?php $_streetValidationClass = trim(str_replace('required-entry', '', $_streetValidationClass)); ?>
                        <?php for ($_i = 1, $_n = $this->helper(\Magento\Customer\Helper\Address::class)->getStreetLines(); $_i < $_n; $_i++): ?>
                            <div class="field additional">
                                <label class="label" for="street_<?= /* @noEscape */ $_i + 1 ?>">
                                    <span><?= $block->escapeHtml(__('Street Address %1', $_i + 1)) ?></span>
                                </label>
                                <div class="control">
                                    <input type="text" name="street[]"
                                           value="<?= $block->escapeHtmlAttr($block->getStreetLine($_i + 1)) ?>"
                                           title="<?= $block->escapeHtmlAttr(__('Street Address %1', $_i + 1)) ?>"
                                           id="street_<?= /* @noEscape */ $_i + 1 ?>"
                                           class="input-text <?= $block->escapeHtmlAttr($_streetValidationClass) ?>">
                                </div>
                            </div>
                        <?php endfor; ?>
                    </div>
                </div>
            </div>    

            <div class="field city required col-lg-6 col-md-6 col-sm-6">
                <label class="label" for="city"><span><?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('city') ?></span></label>
                <div class="control">
                    <input type="text"
                        name="city"
                        value="<?= $block->escapeHtmlAttr($block->getAddress()->getCity()) ?>"
                        title="<?= $block->escapeHtmlAttr(__('City')) ?>"
                        class="input-text <?= $block->escapeHtmlAttr($this->helper(\Magento\Customer\Helper\Address::class)->getAttributeValidationClass('city')) ?>"
                        id="city">
                </div>
            </div>
            <?php $delivery_home = $block->getDeliveryHome();?>
            <!-- Add checkbox fields -->
            <div class="field delivery_home required col-lg-6 col-md-6 col-sm-6">
                <input type="checkbox"
                    name="delivery_home"
                    value="<?php echo $delivery_home; ?>"
                    title="<?= /* @noEscape */  __('This is home delivery address') ?>"
                    class="input-text"
                    id="delivery_home" <?php if ($delivery_home == 1){ echo 'checked';}?>>
                <label class="label" for="delivery_home"><span><?= /* @noEscape */ __('This is home delivery address') ?></span></label>
            </div>

        </div>
        <div class="row">
            <div class="field region required col-lg-6 col-md-6 col-sm-6">
                <label class="label" for="region_id">
                    <span><?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('region') ?></span>
                </label>
                <div class="control">
                    <select id="region_id" name="region_id"
                            title="<?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('region') ?>"
                            class="validate-select" <?= /* @noEscape */ !$block->getConfig('general/region/display_all') ? ' disabled="disabled"' : '' ?>>
                        <option value=""><?= $block->escapeHtml(__('Please select a region, state or province.')) ?></option>
                    </select>
                    <input type="text"
                           id="region"
                           name="region"
                           value="<?= $block->escapeHtmlAttr($block->getRegion()) ?>"
                           title="<?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('region') ?>"
                           class="input-text validate-not-number-first <?= $block->escapeHtmlAttr($this->helper(\Magento\Customer\Helper\Address::class)->getAttributeValidationClass('region')) ?>"<?= !$block->getConfig('general/region/display_all') ? ' disabled="disabled"' : '' ?>/>
                </div>
            </div>
            <div class="field zip required col-lg-6 col-md-6 col-sm-6">
                <label class="label" for="zip">
                    <span><?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('postcode') ?></span>
                </label>
                <div class="control">
                    <input type="text"
                           name="postcode"
                           value="<?= $block->escapeHtmlAttr($block->getAddress()->getPostcode()) ?>"
                           title="<?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('postcode') ?>"
                           id="zip"
                           class="input-text validate-zip-international <?= $block->escapeHtmlAttr($this->helper(\Magento\Customer\Helper\Address::class)->getAttributeValidationClass('postcode')) ?>">
                </div>
            </div>
        </div>
       

        <?php if ($this->helper(\Magento\Customer\Helper\Address::class)->isVatAttributeVisible()) : ?>
            <div class="field taxvat">
                <label class="label" for="vat_id">
                    <span><?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('vat_id') ?></span>
                </label>
                <div class="control">
                    <input type="text"
                           name="vat_id"
                           value="<?= $block->escapeHtmlAttr($block->getAddress()->getVatId()) ?>"
                           title="<?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('vat_id') ?>"
                           class="input-text <?= $block->escapeHtmlAttr($this->helper(\Magento\Customer\Helper\Address::class)->getAttributeValidationClass('vat_id')) ?>"
                           id="vat_id">
                </div>
            </div>
        <?php endif; ?>
       
        <div class="row">
            <div class="field country required col-lg-6 col-md-6 col-sm-6">
                <label class="label" for="country"><span><?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('country_id') ?></span></label>
                <div class="control">
                    <?= $block->getCountryHtmlSelect() ?>
                </div>
            </div>

            <?php $delivery_home_email = $block->getDeliveryHomeEmail();?>
            <div class="field delivery_home_email required col-lg-6 col-md-6 col-sm-6">
                <label class="label" for="delivery_home_email"><span><?= /* @noEscape */ __('Contact home delivery email') ?></span></label>
                <div class="control">
                    <input type="text"
                           name="delivery_home_email"
                           value="<?php echo $delivery_home_email; ?>"
                           title="<?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('vat_id') ?>"
                           class="input-text <?php if ($delivery_home == 1){ echo 'required-entry validate-email';}?>" 
                           <?php //if ($delivery_home == 1){ echo 'data-validate="{required:true, \'validate-email\':true}"';}?>
                           id="delivery_home_email">
                </div>
            </div>

            <?php $delivery_home_mobile = $block->getDeliveryHomeMobile();?>
            <div class="field delivery_home_mobile required col-lg-6 col-md-6 col-sm-6">
                <label class="label" for="delivery_home_mobile"><span><?= /* @noEscape */ __('Contact mobile number') ?></span></label>
                <div class="control">
                    <input type="text" pattern="\d*"
                           name="delivery_home_mobile"
                           value="<?php echo $delivery_home_mobile;?>"
                           title="<?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('delivery_home_mobile') ?>"
                           class="input-text <?php if ($delivery_home == 1){ echo 'required-entry validate-length maximum-length-12';}?>"
                           onkeydown="javascript: return (event.keyCode === 8 || event.keyCode === 46) ? true : ((event.key === ' ') ? false : !isNaN(event.key))" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="12" 
                           <?php //if ($delivery_home == 1){ echo 'data-validate="{required:true}"';}?>
                           id="delivery_home_mobile">
                </div>
            </div>
        </div>

        <?php if ($block->isDefaultBilling()): ?>
            <div class="message info">
                <span><?= $block->escapeHtml(__("It's a default billing address.")) ?></span>
            </div>
        <?php elseif ($block->canSetAsDefaultBilling()): ?>
            <div class="field choice set billing">
                <input type="checkbox" id="primary_billing" name="default_billing" value="1" class="checkbox">
                <label class="label" for="primary_billing">
                    <span><?= $block->escapeHtml(__('Use as my default billing address')) ?></span>
                </label>
            </div>
        <?php else: ?>
            <input type="hidden" name="default_billing" value="1" />
        <?php endif; ?>

        <?php if ($block->isDefaultShipping()): ?>
            <div class="message info">
                <span><?= $block->escapeHtml(__("It's a default shipping address.")) ?></span>
            </div>
        <?php elseif ($block->canSetAsDefaultShipping()): ?>
            <div class="field choice set shipping">
                <input type="checkbox" id="primary_shipping" name="default_shipping" value="1" class="checkbox">
                <label class="label" for="primary_shipping">
                    <span><?= $block->escapeHtml(__('Use as my default shipping address')) ?></span>
                </label>
            </div>
        <?php else: ?>
            <input type="hidden" name="default_shipping" value="1">
        <?php endif; ?>
    </fieldset>
    <div class="actions-toolbar">
        <div class="primary">
            <button type="submit"
                    class="action save primary"
                    data-action="save-address"
                    title="<?= $block->escapeHtmlAttr(__('Save Address')) ?>">
                <span><?= $block->escapeHtml(__('Save Address')) ?></span>
            </button>
        </div>
        <div class="secondary">
            <a class="action back" href="<?= $block->escapeUrl($block->getBackUrl()) ?>">
                <span><?= $block->escapeHtml(__('Go back')) ?></span>
            </a>
        </div>
    </div>
</form>

<script type="text/x-magento-init">
    {
        "#form-validate": {
            "addressValidation": {}
        },
        "#country": {
            "regionUpdater": {
                "optionalRegionAllowed": <?= /* @noEscape */ $block->getConfig('general/region/display_all') ? 'true' : 'false' ?>,
                "regionListId": "#region_id",
                "regionInputId": "#region",
                "postcodeId": "#zip",
                "form": "#form-validate",
                "regionJson": <?= /* @noEscape */ $this->helper(\Magento\Directory\Helper\Data::class)->getRegionJson() ?>,
                "defaultRegion": "<?= (int) $block->getRegionId() ?>",
                "countriesWithOptionalZip": <?= /* @noEscape */ $this->helper(\Magento\Directory\Helper\Data::class)->getCountriesWithOptionalZip(true) ?>
            }
        }
    }
</script>
<script type="text/javascript">
    require([
        'jquery',
        'accordion',
        'jquery/validate'
    ], function ($) {
        $(function () { 
            $("#form-validate").on('submit',function(event) {
                $("#form-validate").validation('clearError')
                if($("#region_id").val() == ''){
                    event.preventDefault();
                    $("#form-validate").validate().element('#region_id')
                }
                if($("#delivery_home").is(":checked")) {
                    const homeEmailValue = $("#delivery_home_email").val()
                    const homeMobileValue = $("#delivery_home_mobile").val()
                    const emailValidate = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(homeEmailValue)
                    if(!emailValidate || homeMobileValue == '') {
                        event.preventDefault();
                        $("#form-validate").validate().element('#delivery_home_email')
                        $("#form-validate").validate().element('#delivery_home_mobile')
                    }
                }
            });
            
            $('#delivery_home').on('change', function() {
                var home_delivery = $("#delivery_home").is(":checked");
                if(home_delivery){
                    $("#delivery_home").val(1);
                    $('.delivery_home_email #delivery_home_email').addClass('required-entry validate-email');
                    $('.delivery_home_mobile #delivery_home_mobile').addClass('required-entry');
                }else{
                    $("#delivery_home").val(0);
                    $('.delivery_home_email #delivery_home_email').removeClass('required-entry validate-email mage-error');
                    $('.delivery_home_mobile #delivery_home_mobile').removeClass('required-entry');
                }
            });
        });
    });
</script>
