//
//  Variables
//  _____________________________________________
.font-awesome (@code, @size) {
    content: '\@{code}';
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    font-synthesis: weight style;
    font-stretch: normal;
    font-size-adjust: none;
    font-language-override: normal;
    font-kerning: auto;
    font-feature-settings: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    font-size: @size;
}

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //  Input Reset
    .knight-super-product {
        input {
            outline: none;

            &:focus,
            &:hover,
            &:visited {
                outline: none;
            }
        }
    }


    //  Styles Loader
    //  ---------------------------------------------
    //
    .wrapper-lds-roller {
        display: none;
    }

    .lds-roller-bg {
        display: block;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.8);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
    }

    .lds-roller {
        display: inline-block;
        width: 64px;
        height: 64px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }
    .lds-roller div {
        animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        transform-origin: 32px 32px;
    }
    .lds-roller div:after {
        content: " ";
        display: block;
        position: absolute;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: #b8ddb0;
        margin: -3px 0 0 -3px;
    }
    .lds-roller div:nth-child(1) {
        animation-delay: -0.036s;
    }
    .lds-roller div:nth-child(1):after {
        top: 50px;
        left: 50px;
    }
    .lds-roller div:nth-child(2) {
        animation-delay: -0.072s;
    }
    .lds-roller div:nth-child(2):after {
        top: 54px;
        left: 45px;
    }
    .lds-roller div:nth-child(3) {
        animation-delay: -0.108s;
    }
    .lds-roller div:nth-child(3):after {
        top: 57px;
        left: 39px;
    }
    .lds-roller div:nth-child(4) {
        animation-delay: -0.144s;
    }
    .lds-roller div:nth-child(4):after {
        top: 58px;
        left: 32px;
    }
    .lds-roller div:nth-child(5) {
        animation-delay: -0.18s;
    }
    .lds-roller div:nth-child(5):after {
        top: 57px;
        left: 25px;
    }
    .lds-roller div:nth-child(6) {
        animation-delay: -0.216s;
    }
    .lds-roller div:nth-child(6):after {
        top: 54px;
        left: 19px;
    }
    .lds-roller div:nth-child(7) {
        animation-delay: -0.252s;
    }
    .lds-roller div:nth-child(7):after {
        top: 50px;
        left: 14px;
    }
    .lds-roller div:nth-child(8) {
        animation-delay: -0.288s;
    }
    .lds-roller div:nth-child(8):after {
        top: 45px;
        left: 10px;
    }
    @keyframes lds-roller {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    // Styles Common
    //  ---------------------------------------------
    //

    .add-on-disabled {
        opacity: 0.5;

        .super-item-name * {
            cursor: not-allowed;
        }
    }

    .option-disable {
        opacity: 0.1;
        cursor: not-allowed !important;
    }

    .super-box-content {
        padding: 18px 20px 18px;
        margin-bottom: 20px;
        border: 2px solid #eee;
        position: relative;
        z-index: 1;

        &.disabled {
            &:before {
                display: block;
                width: 100%;
                height: 100%;
                content: '';
                background: rgba(255, 255, 255, 0.8);
                position: absolute;
                top: 0;
                left: 0;
                z-index: 4;
            }
        }

        .product-gauge {
            position: relative;

            &.logged {
                display: block;
            }

            &.need-login {
                display: none;
            }
        }

        .gauge{
            width: 100px;
            height: 65px;
            position: absolute;
            top: 10px;
            right: 0;
            z-index: 1;
            display: none;

            &.gauge-low {
                background: url("@{baseDir}images/stock_alert_low.png") no-repeat center;
                background-size: contain;
            }

            &.gauge-medium {
                background: url("@{baseDir}images/stock_alert_medium.png") no-repeat center;
                background-size: contain;
            }

            &.gauge-high{
                background: url("@{baseDir}images/stock_alert_high.png") no-repeat center;
                background-size: contain;
            }

            &.gauge-enable {
                display: block;
            }
        }
    }

    .base-wrapper {
        .super-item-name {
            h3 {
                padding: 0 0 0;
                left: 0;
            }
        }
    }

    .super-item-name {
        display: block;
        position: relative;

        h3 {
            display: inline-block;
            width: auto;
            line-height: 30px;
            padding: 0 60px 0 0;
            margin-top: 0;
            margin-bottom: 0;
            cursor: pointer;
            position: relative;
            left: 40px;
        }

        &.narrowing {
            .super-icon-arrow {
                transform: rotate(-180deg);
            }
        }
    }

    .configurable-wrapper,
    .simple-wrapper {
        .super-item-inner {
            .super-item-sku {
                padding-left: 40px;
            }

            .super-item-price {
                padding-left: 0;
            }
        }
    }

    .super-check-box {
        display: inline-block;
        width: 30px;
        height: 30px;
        text-align: center;
        background: #eee;
        margin-right: 10px;
        position: absolute;
        top: 3px;
        z-index: 3;
        border: 2px solid #ddd;
        overflow: hidden;
        cursor: pointer;

        &.attr-checked {
            background: #0eb31b;

            &:before {
                .font-awesome(f00c, 16px);
                color: #fff;
                position: relative;
                top: 0;
            }
        }

        &.attr-required {
            background: #eb9909;

            &:before {
                .font-awesome(f12a, 16px);
                color: #fff;
                position: relative;
                top: 0;
            }
        }
    }

    .super-icon-arrow {
        color: #555;
        position: absolute;
        top: 5px;
        right: 0;
        cursor: pointer;
        transition: transform 0.35s linear;

        &:before {
            .font-awesome(f106, 32px);
        }
    }

    .super-icon-info {
        width: 25px;
        height: 25px;
        background: url('@{baseDir}images/info-icon-26.jpg');
        background-size: cover;
        position: absolute;
        top: 10px;
        right: 30px;
        cursor: pointer;
    }

    .super-item-inner {
        /*overflow: hidden;*/

        .super-item-sku {
            padding: 10px 0 0;
        }
    }

    .super-item-image {
        margin-bottom: 20px;
    }

    .super-image-item {
        position: relative;

        img {
            position: absolute;
            top: 0;
            left: 0;
            background: transparent;
        }
    }

    .super-image-container {
        display: inline-block;
        width: 250px;
        position: relative;

        &:hover {
            p {
                visibility: visible;
                opacity: 1;
            }
        }

        p {
            visibility: hidden;
            width: 100%;
            height: auto;
            font-size: 24px;
            font-weight: bolder;
            color: #555;
            text-align: center;
            position: absolute;
            top: 50%;
            z-index: 1;
            transform: translateY(-50%);
            opacity: 0;
            transition: opacity 0.3s;

            span {
                display: inline-block;
                width: 100px;
            }
        }
    }

    .super-item-image img {
        padding: 2px 2px;
        border: 2px solid #dadada;
        transition: opacity 0.3s;
    }

    .super-item-attribute {
        margin-bottom: 0;
        position: relative;

        &.disabled {
            &:before {
                display: block;
                width: 100%;
                height: 100%;
                content: '';
                background: rgba(255,255,255,0.4);
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
            }
        }
    }

    .super-attr-label {
        margin-bottom: 5px;
    }

    .attribute-label span {
        display: inline-block;
        width: 100%;
        max-width: 90px;
        background: #eee;
        font-size: 12px;
        font-weight: bold;
        text-align: center;
        padding: 5px 10px;
        margin-right: 5px;
        margin-bottom: 10px;
        border: 1px solid #dadada;
        cursor: pointer;
    }

    .attribute-label span.active {
        border-color: #ff0101;
    }

    .attribute-thumbnail ol {
        padding: 0 0 0;
    }

    .thumb-option {
        display: inline-block;
        background: #557cc7;
        border: 1px solid #eee;
        cursor: pointer;
        position: relative;

        &> span {
            display: block;
            width: 50px;
            height: 50px;
        }

        &.active {
            border-color: red;

            span {
                border: 1px solid #fff;
            }
        }
    }

    .group-attribute-dropdown {
        position: relative;
    }

    .attribute-dropdown {
        display: none;

        ul {
            display: inline-block;
            width: auto;
            min-width: 175px;
            background: #eee;
            padding: 5px 10px 5px;
            margin: 0 0 0;

            li {
                font-size: 14px;
                margin: 0 0 5px;
                cursor: pointer;
            }
        }
    }

    .display-selected {
        display: inline-block;
        width: auto;
        min-width: 175px;
        background: #f0f0f0;
        padding: 0 40px 0px 10px;
        border: 2px solid #ddd;
        font-size: 12px;
        font-weight: bold;
        position: relative;
        cursor: pointer;

        p {
            height: 30px;
            line-height: 30px;
            margin: 0 0 0;
        }

        .super-dropdown-icon {
            width: 30px;
            height: 30px;
            color: #555;
            text-align: center;
            background: #ddd;
            position: absolute;
            top: 0;
            right: 0;

            &:before {
                .font-awesome(f106, 22px);
                color: #fff;
                position: relative;
                top: 3px;
                transform: rotate(-180deg);
                transition: transform 0.35s linear;
            }
        }
    }

    .attr-dropdown-display {
        position: relative;

        &.active {
            &:before {
                display: block;
                width: 100%;
                height: 100%;
                content: '';
                background: transparent;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                cursor: pointer;
            }
            .super-dropdown-icon {
                &:before {
                    transform: rotate(0deg);
                }
            }
        }
    }


    //  Product Media
    //  ---------------------------------------------
    //

    .knight-super-product {
        .product.media {
            position: relative;
            top: 0;
        }

        .fotorama__caption {
            display: none;
        }
    }

    .fotorama__stage__frame {
        position: relative;
    }

    .super-main-img .super-image {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        background: transparent;
    }

    .download-super-product {
        display: block;
        text-align: center;
        padding-top: 20px;
    }

    .fotorama-item {
        position: relative;
    }

    .super-zoom-wrapper {
        position: relative;
        z-index: 999;
    }

    .super-main-img-zoom {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
        cursor: zoom-in;
    }

    .super-modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 200; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    }

    .super-modal-content {
        margin: auto;
        display: block;
        width: auto;
        max-width: 80%;
        max-height: 800px;
    }


    .super-modal-content {
        -webkit-animation-name: zoom;
        -webkit-animation-duration: 0.6s;
        animation-name: zoom;
        animation-duration: 0.6s;
    }

    @-webkit-keyframes zoom {
        from {-webkit-transform:scale(0)}
        to {-webkit-transform:scale(1)}
    }

    @keyframes zoom {
        from {transform:scale(0)}
        to {transform:scale(1)}
    }

    /* The Close Button */
    .super-close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;

        &:hover,
        &:focus {
            color: #bbb;
            text-decoration: none;
            cursor: pointer;
        }
    }

    //  Product Info
    //  ---------------------------------------------
    //

    .product-essential {
        border-bottom: 1px solid #dadada;
        margin-bottom: 30px;

        .super-stock-sku {
            text-align: right;
        }

        .product-reviews-summary {
            display: block;
            padding: 0 0 0;
            margin: 0 0 15px;

            .rating-summary {
                display: block;
                left: auto;
                padding-right: 10px;
                line-height: 1;
                position: relative;
                top: 3px;
            }

            .reviews-actions {
                display: inline-block;
                position: relative;
                top: 0;

                .add {
                    font-size: 14px;
                }

                .view {
                    span {
                        &:last-child:after {
                            content: "|";
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
    }

    .super-product-title {
        margin-bottom: 0;
    }

    //  Short Description
    .product.overview {
        margin-bottom: 30px;
    }

    .super-info-price {
        span {
            color: #555;
            font-weight: 600;

            &:first-child {
                font-size: 18px;
                padding-right: 5px;
            }

            &:last-child {
                font-size: 44px;
            }
        }
    }


    //  Base Attribute
    //  ---------------------------------------------
    //


    //  Simple Attribute
    //  ---------------------------------------------
    //

    //  Configurable Attribute
    //  ---------------------------------------------
    //


    //  Add To Cart
    //  ---------------------------------------------
    //

    .product-info-main {
        .super-box-content {
            .super-box-tocart {
                border: 0;
                padding: 0 0 0;
                margin: 0 0 0;
            }
        }
    }

    .product-info-main {
        .super-box-tocart {
            padding: 10px 0 0;
            margin: 30px 0 0;
            position: relative;
            border-top: 2px solid #dedede;

            &.disabled:before {
                display: block;
                width: 100%;
                height: 100%;
                content: '';
                background: rgba(255,255,255,0.4);
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
            }

            .box-tocart .fieldset .control input.qty {
                text-align: left;
            }

            .action.primary.tocart {
                width: 100%;
                max-width: 270px;
            }
        }
    }

    .super-box-tocart {
        .fieldset .field {

            label {
                display: block;
                font-size: 14px;
                color: #555;
                font-weight: 600;
            }

            input {
                height: 60px;
            }

            &.qty {
                float: left;
                width: 150px;

                .control {
                    position: relative;
                    max-width: 100%;
                }
            }

            &.total-cost {
                .control {
                    margin-right: 0;
                    max-width: 100%;
                }

                input {
                    font-size: 22px;
                    font-weight: 600;
                    color: #555;
                    opacity: 1;
                }
            }

            .super-qty-inner {
                position: absolute;
                top: 0;
                right: 4px;

                span {
                    display: block;
                    width: 50px;
                    height: 24px;
                    background: #eee;
                    text-align: center;
                    border-radius: 4px;
                    cursor: pointer;

                    &:before {
                        position: relative;
                        top: -2px;
                    }
                }

                .plus {
                    margin: 4px 0 4px;

                    &:before {
                        .font-awesome(f067, 12px);
                    }
                }

                .minus {
                    &:before {
                        .font-awesome(f068, 12px);
                    }
                }
            }

            &.total-cost {
                float: left;
                width: calc(~"100% - 150px");
            }
        }
    }

    .product-info-main .super-action-addto {
        display: block;
        padding: 30px 0 40px;

        .action {
            font-size: 16px;
            font-weight: 600;
            color: #555;
            text-transform: uppercase;
            margin-right: 30px;
            margin-left: 0 !important;

            &:before {
                margin-right: 5px;
                vertical-align: middle !important;
                position: relative;
            }

            &.towishlist {
                background: transparent;
                padding-left: 0;
                border: 0;

                &:before {
                    .font-awesome(f004, 14px);
                    top: -2px;
                }

                &:hover {
                    background: transparent;
                    border: 0;
                }
            }

            &.tocompare {
                &:before {
                    .font-awesome(f036, 14px);
                    transform: rotate(-90deg);
                    top: -2px;
                }
            }

            &.mailto.friend {
                &:before {
                    .font-awesome(f0e0, 14px);
                }
            }
        }
    }

    //  Tooltip
    //  ---------------------------------------------
    //

    .thumb-option {
        &:hover .option-text {
            visibility: visible;
            opacity: 1;
        }
    }

    p.option-text {
        visibility: hidden;
        width: 150px;
        font-size: 12px;
        line-height: 12px;
        text-align: center;
        padding: 0;
        margin: 0;
        position: absolute;
        bottom: 120%;
        left: -50px;
        opacity: 0;
        transition: opacity 0.3s;

        &:after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-top: 4px;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
        }

        span {
            background: #555;
            font-size: 12px;
            line-height: 12px;
            color: #fff;
            padding: 1px 5px 3px;
        }
    }
}

//  Desktop
//  ---------------------------------------------
//
@media (min-width: 1700px) {
    .knight-super-product {
        .product.media {
            max-width: 720px;
        }
    }
}

@media (min-width: 1280px) {
    .knight-super-product {
        .product.media {
            max-width: 610px;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {

    //  Add To Cart
    //  ---------------------------------------------
    //

    .product-info-main {
        .super-box-tocart {
            .box-tocart .fieldset .control input.qty {
                height: 60px;
                max-width: 100%;

            }
        }
    }

    .knight-super-product {
        .product.media {
            display: inline-block;
            width: 100%;
            height: auto;
            background: #fff;
        }
    }

}

//  Tablet
//  ---------------------------------------------
//
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    //  Product Media
    //  ---------------------------------------------
    //
    .download-super-product {
        display: none;
    }

    .super-modal-content {
        width: 100%;
    }
}

//  Mobile
//  ---------------------------------------------
//

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {

    //  Product Info
    //  ---------------------------------------------
    //
    .super-product-title {
        padding-top: 20px;
    }

    .super-icon-info {
        top: 40px;
        right: 0;
    }

    .super-info-price {
        span {
            &:first-child {
                font-size: 16px;
            }

            &:last-child {
                font-size: 34px;
            }
        }
    }

    .super-image-container {
        width: 220px;
    }

    .super-check-box {
        &.attr-checked {
            &:before {
                top: 3px;
            }
        }

        &.attr-required {
            &:before {
                top: 3px;
            }
        }
    }

    //  Product Media
    //  ---------------------------------------------
    //
    .download-super-product {
        //display: none;
    }

    //  Add To Cart
    //  ---------------------------------------------
    //

    .product-info-main .super-box-tocart {
        .box-tocart .field {
            &.qty {
                display: block;

                .control{
                    max-width: 100%;
                }
            }

            &.total-cost {
                display: block;
                width: 100%;

                .control{
                    max-width: 100%;
                }
            }
        }
    }
}