﻿@media only screen and (max-width: 768px) {
    .vertical-style ul.resp-tabs-list {
        width: 100%;
        margin: 0;
    }

    .vertical-style .resp-tabs-list li {
        margin: 0;
        padding: 10px 20px;
    }

    .vertical-style .resp-tabs-container {
        float: none;
        clear: both;
        margin: 0!important;
        min-height: auto!important;

        .resp-tab-content {
            padding: 20px;
        }
    }

    .default-style .resp-tabs-list li {
        float: none;
        width: 100%;
    }

    .direction-rtl .vertical-style ul.resp-tabs-list li{
        border-left: 1px solid #e5e5e5;
    }
}
