<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Account\Dashboard\Info $block */
?>
<div class="col-lg-12 a-left">
    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 centered">
        <h1><?php echo __('Hello %1, Welcome Back!',$block->escapeHtml($block->getName()))?></h1>
        <?php  echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('account-welcome')->toHtml();?>
    </div>
</div>
