.actiondiv .sub-action .fa.fa-eye, .actiondiv .sub-action .fa.fa-trash, .actiondiv .sub-action .fa.fa-link, .actiondiv .sub-action .fa.fa-envelope-o{
    font-size: 19px;
    margin: 0 25px;
}
#listmaindiv .actiondiv { width:15%; text-align: center; }

.modal-popup .modal-inner-wrap {
    width: 30%;
    top: 10%;
    max-width: 500px;
}
.modal-popup .modal-header {
    text-align: center;
}
.modal-popup .modal-title {
    border-bottom: none;
}
#modal-content-0 > div {
    text-align: center;
}
#copylink-modal > span {
    float: left;
    font-size: 16px;
    line-height: 1.5;
    margin: 25px 0;
    text-align: center;
    width: 100%;
}
#email-heading{
    font-size: 14px;
}
.modal-content{
    text-align: center;
}
.modal-popup.modal-slide .modal-footer {
    display: none;
}

#mailcart-modal .savcart-modal-txtarea{
    margin-bottom: 25px;
}
.actiondiv .sub-action .fa.fa-eye, 
.actiondiv .sub-action .fa.fa-trash, 
.actiondiv .sub-action .fa.fa-link, 
.actiondiv .sub-action .fa.fa-envelope-o{
    font-size: 19px;
    margin: 0 25px;
}
#listmaindiv .actiondiv { width:15%; text-align: center; }

.savcart-modal-input {
    height: 45px;
    margin-bottom: 25px;
    margin-top: 5px;
}
.popup-modal  button {
    margin: 10px auto;
    background-color: #8ac9da;
    border: medium none;
    border-radius: 20px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    height: 45px;
    padding: 5px;
    text-align: center;
    width: 75%;
}
.popup-modal  button:focus{
    width: 75%;
    margin: 10px auto;
    height: 45px;
    padding: 5px;
    border-radius: 20px;
}
#mailcart-modal .savcart-modal-txtarea{
    margin-bottom: 25px;
}
#txtcartname, #slctupdate{
    border: 1px solid;
    border-radius: 20px;
    font-size: 18px;
    height: 45px;
    margin: 30px 10px ;
}
#savecart,#existingsavecart{
    width: 60%;
}