/* CSS Document */

/* First Quote View */
#viewmaindiv {
    clear:both;
}
#custcartviewform > h1 {
    float: left;
    font-size: 40px;
    margin-bottom: 20px;
}
#viewmaindiv .headerclass {
    background: #f0f0f0 none repeat scroll 0 0;
    border: 1px solid #ccc;
    color: #0000ff;
    padding:7px 5px 7px 10px;
}

#viewmaindiv .left
{
    width:85%;
    float:left;
}

#viewmaindiv .right
{
    width:12%;
    float:left;
}

.detailclass {
    border: 1px solid #ccc;
    padding:7px 5px 7px 10px;
    min-height:33px;
}

#quotename { width:70%; display:block; }

.mylabel {
     font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.1;
    margin-bottom: 1rem;
    margin-top: 1rem !important;
}

/* Quote List Data (Customer Dashboard) */

.buttondiv {
    float:right; margin-bottom:20px;
}

#listmaindiv { clear:both;  }

#listmaindiv .listheadclass {
    background: #f0f0f0 none repeat scroll 0 0;
    border: 1px solid #ccc;
    color: #0000ff;
    padding:7px 5px 7px 10px;
    float:left;
}

#listmaindiv .chkdiv { width:4%; }
#listmaindiv .cartdiv { width:10%; }
#listmaindiv .datediv { width:12%; }
#listmaindiv .jobnamediv { width:33%; }
#listmaindiv .actiondiv { width:15%; text-align: center; }

#listdetaildiv { clear:both; }

#listdetaildiv .listdetailclass {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    color: #000;
    padding:7px 5px 7px 10px; float:left;
}

#listdetaildiv .chkdiv { width:4%; }
#listdetaildiv .cartdiv { width:10%; }
#listdetaildiv .datediv { width:12%; }
#listdetaildiv .jobnamediv { width:33%; }
#listdetaildiv .actiondiv { width:15%; }

#listdetaildiv .alink { color:#000; text-decoration:none; }
#listdetaildiv .alink:hover { color:#bbb; }

/* Quote View Data (Customer Dashboard) */

.carttitle {
    float: left;
    font-weight: bold;
}

#cartviewhead { clear:both; }

#cartviewhead .viewheadclass {
    background: #f0f0f0 none repeat scroll 0 0;
    border: 1px solid #ccc;
    color: #0000ff;
    float: left;
    padding: 7px 5px 7px 10px;
}

#cartviewhead .prdname { width:33%; clear:both;}
#cartviewhead .prdqty { width:20%; }
#cartviewhead .itemprice { width:11%; }
#cartviewhead .itemtotal { width:11%; }
#cartviewhead .itemaction { width:15%; }

#cartviewdetaildiv {
    clear: both;
}

#cartviewdetaildiv .viewdetailclass {
    background: #fff none repeat scroll 0 0;
    color: #000;
    float: left;
    padding: 7px 5px 7px 10px;
    min-height: 32px;
}

#cartviewdetaildiv .prdname { width:33%; clear:both; }
#cartviewdetaildiv .prdqty { width:20%; }
#cartviewdetaildiv .itemprice { width:12%; }
#cartviewdetaildiv .itemtotal { width:12%; }
#cartviewdetaildiv .itemaction { width:15%; }

#cartviewdetaildiv .alink { color:#bbb; text-decoration:none; }
#cartviewdetaildiv .alink:hover { color:#000; }

#listdetaildiv .alink:first-child {
     border-right: 1px solid #bbb;
     padding: 8px 0;
 }
#cartviewdetaildiv {
    clear: both;
    float: left;
    width: 100%;
}
.save-cart-row {
    border: 1px solid #dddddd;
    display: inline;
    float: left;
    width: 100%;
}
#cartviewhead {
    clear: both;
    float: left;
    width: 100%;
}
.viewdetailclass.prdname > p {
    font-size: 11px;
    margin-left: 10px;
    line-height: 1.4;
}
.modal-popup .modal-inner-wrap {
    width: 30%;
    top: 10%;
    max-width: 500px;
}
.modal-popup .modal-header {
    text-align: center;
}
.modal-popup .modal-title {
    border-bottom: none;
}
#modal-content-0 > div {
    text-align: center;
}
.modal-content{
    text-align: center;
}
.modal-popup.modal-slide .modal-footer {
    display: none;
}
.popup-modal  button {
    margin: 10px auto;
    background-color: #8ac9da;
    border: medium none;
    border-radius: 20px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    height: 45px;
    padding: 5px;
    text-align: center;
    width: 75%;
}
.popup-modal  button:focus{
    width: 75%;
    margin: 10px auto;
    height: 45px;
    padding: 5px;
    border-radius: 20px;
}
.save-action-item{
    display: inline-block;
    margin-top: 20px;
}