<?php
/**
 * MageVision Custom Carrier Trackers Extension
 *
 * @category     MageVision
 * @package      MageVision_CustomCarrierTrackers
 * @author       MageVision Team
 * @copyright    Copyright (c) 2017 MageVision (http://www.magevision.com)
 * @license      LICENSE_MV.txt or http://www.magevision.com/license-agreement/
 */
$track = $block->getData('track');
$shipId = $block->getData('shipId');
$email = $block->getData('storeSupportEmail');
$fields = [
    'Status' => 'getStatus',
    'Signed by' => 'getSignedby',
    'Delivered to' => 'getDeliveryLocation',
    'Shipped or billed on' => 'getShippedDate',
    'Service Type' => 'getService',
    'Weight' => 'getWeight',
];
$number = is_object($track) ? $track->getTracking() : $track['number'];
?>
<table class="data table order tracking" id="tracking-table-popup-<?= /* @noEscape */ $number ?>">
    <caption class="table-caption"><?php echo $block->escapeHtml(__('Order tracking')); ?></caption>
    <tbody>
    <?php if (is_object($track)): ?>
        <tr>
            <th class="col label" scope="row"><?php echo $block->escapeHtml(__('Tracking Number:')); ?></th>
            <td class="col value"><?php echo $block->escapeHtml($track->getTracking()); ?></td>
        </tr>
        <?php if ($track->getCarrierTitle()): ?>
            <tr>
                <th class="col label" scope="row"><?php echo $block->escapeHtml(__('Carrier:')); ?></th>
                <td class="col value"><?php echo $block->escapeHtml($track->getCarrierTitle()); ?></td>
            </tr>
        <?php endif; ?>
        <?php if ($track->getErrorMessage()): ?>
            <tr>
                <th class="col label" scope="row"><?php echo $block->escapeHtml(__('Error:')); ?></th>
                <td class="col error">
                    <?php echo $block->escapeHtml(__('Tracking information is currently not available. Please ')); ?>
                    <?php if ($block->getContactUsEnabled()) : ?>
                        <a href="<?php echo $block->escapeUrl($block->getContactUs()); ?>" target="_blank"
                           title="<?php echo $block->escapeHtml(__('contact us')); ?>">
                            <?php echo $block->escapeHtml(__('contact us')); ?>
                        </a>
                        <?php echo $block->escapeHtml(__(' for more information or ')); ?>
                    <?php endif; ?>
                    <?php echo $block->escapeHtml(__('email us at ')); ?>
                    <a href="mailto:<?php /* @noEscape */ echo $email; ?>"><?php /* @noEscape */ echo $email; ?></a>
                </td>
            </tr>
        <?php elseif ($track->getTrackSummary()): ?>
            <tr>
                <th class="col label" scope="row"><?php echo $block->escapeHtml(__('Info:')); ?></th>
                <td class="col value"><?php echo $block->escapeHtml($track->getTrackSummary()); ?></td>
            </tr>
        <?php elseif ($track->getUrl()): ?>
            <tr>
                <th class="col label" scope="row"><?php echo $block->escapeHtml(__('Track:')); ?></th>
                <td class="col value">
                    <a href="<?php echo $block->escapeUrl($track->getUrl()); ?>" target="_blank">
                        <?php echo $block->escapeUrl($track->getUrl()); ?>
                    </a>
                </td>
            </tr>
        <?php else: ?>
            <?php foreach ($fields as $title => $property): ?>
                <?php if (!empty($track->$property())): ?>
                    <tr>
                        <th class="col label" scope="row"><?php /* @noEscape */ echo $block->escapeHtml(__($title . ':')); ?></th>
                        <td class="col value"><?php echo $block->escapeHtml($track->$property()); ?></td>
                    </tr>
                <?php endif;?>
            <?php endforeach; ?>

            <?php if ($track->getDeliverydate()): ?>
                <tr>
                    <th class="col label" scope="row"><?php echo $block->escapeHtml(__('Delivered on:')); ?></th>
                    <td class="col value">
                        <?php /* @noEscape */ echo $block->formatDeliveryDateTime($track->getDeliverydate(), $track->getDeliverytime()); ?>
                    </td>
                </tr>
            <?php endif; ?>
        <?php endif; ?>
    <?php elseif (isset($track['title']) && isset($track['number']) && $track['number']): ?>
        <?php /* if the tracking is custom value */ ?>
        <tr>
            <th class="col label" scope="row">
                <?php echo($track['title'] ? $block->escapeHtml($track['title']) : $block->escapeHtml(__('N/A'))); ?>:
            </th>
            <?php if ($trackingUrl = $this->helper('MageVision\CustomCarrierTrackers\Helper\Data')->getTrackingUrl(
                $track['carrier_code'],
                $track['number'],
                $shipId
            )) : ?>
                <td class="col value">
                    <a href="<?php echo $trackingUrl; ?>" target="_blank">
                        <?php echo(isset($track['number']) ? $block->escapeHtml($track['number']) : ''); ?>
                    </a>
                </td>
            <?php else : ?>
                <td class="col value">
                    <?php echo(isset($track['number']) ? $block->escapeHtml($track['number']) : ''); ?>
                </td>
            <?php endif; ?>
        </tr>
    <?php endif; ?>
    </tbody>
</table>
