/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * @category   BSS
 * @package    Bss_B2bRegistration
 * @author     Extension Team
 * @copyright  Copyright (c) 2017-2018 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
 & when (@media-common = true) {
	 .page-header .panel > .header.links {
		 display: flex;
	 }
	 .page-header .panel .bss-b2b-customer{
		 order: 4;
	 }
	 .customer-dob #dob-error {
		 width: 100%;
		 float: left;
		 margin: 10px 0 20px 0;
	 }
 }