<?php
/**
 * Copyright © Brandsmith Commerce OÜ. All rights reserved.
 * See LICENSE.txt for license details.
 */
?>
<?php /** @var \Brandsmith\RewardPoints\Block\Customer\History $block */?>
<?php $history = $block->getPoints(); ?>
<div class="orderList rewards">
<div class="row">
    <div class="col-lg-12 centered">
        <div class="totalRewards"><?php /* @escapeNotVerified */ echo __('Company Reward Points: %1', $block->getRewardPointsCompanyTotal()) ?></div>
    </div>
</div>
<?php if ($history && count($history)): ?>
            <div class="col-lg-8 col-md-8 col-sm-6 col-lg-offet-4 col-md-offset-4 col-sm-offset-3" style="float:none;margin: 0 auto">
                <div class="cartTitles"><div class="row">
                    <div class="col-lg-2 col-sm-2 col-md-2"><b><?php /* @escapeNotVerified */ echo __('Date') ?></b></div>
                    <div class="col-lg-2 col-sm-2 col-md-2"><b><?php /* @escapeNotVerified */ echo __('Reason') ?></b></div>
                    <div class="col-lg-2 col-sm-2 col-md-2"><b><?php /* @escapeNotVerified */ echo __('Points') ?></b></div>
                    <div class="col-lg-2 col-sm-2 col-md-2"><b><?php /* @escapeNotVerified */ echo __('Order ID') ?></b></div>
                    <div class="col-lg-2 col-sm-2 col-md-2"><b><?php /* @escapeNotVerified */ echo __('Order Status') ?></b></div>
                    </div></div>
                <?php foreach ($history as $item): ?>
                <div class="row orderLineItem">
                    <div class="col-lg-2 col-sm-2 col-md-2"><?php echo date('d/m/y',strtotime($item->getCreatedAt())); ?></div>
                    <div class="col-lg-2 col-sm-2 col-md-2"><?php /* @escapeNotVerified */ echo $block->prepareReason($item->getRuleName(), $item->getReason()) ?></div>
                    <div class="col-lg-2 col-sm-2 col-md-2"><?php /* @escapeNotVerified */ echo $item->getPoints() ?></div>
                    <div class="col-lg-2 col-sm-2 col-md-2"><a href="<?php echo $block->getUrl('sales/order/view')."order_id/".$item->getOrderId();?>"><?php /* @escapeNotVerified */ echo $item->getOrderIncrementId() ?></a></div>
                    <div class="col-lg-2 col-sm-2 col-md-2"><?php /* @escapeNotVerified */ echo $item->getStatus() ?></div>
                </div>
                <?php endforeach; ?>
                
            </div>

    <?php /*?><div class="table-wrapper orders-history">
        <table class="data table table-order-items history" id="my-orders-table">
            <caption class="table-caption"><?php /* @escapeNotVerified * / echo __('Points') ?></caption>
            <thead>
                <tr>
                    <th scope="col" class="col"><?php /* @escapeNotVerified * / echo __('Points') ?></th>
                    <th scope="col" class="col"><?php /* @escapeNotVerified * / echo __('Reason') ?></th>
                </tr>
            </thead>
            <tbody>
                <?php foreach ($history as $item): ?>
                    <tr>
                        <td data-th="<?php echo $block->escapeHtml(__('Points')) ?>" class="col"><?php /* @escapeNotVerified * / echo $item->getPoints() ?></td>
                        <td data-th="<?php echo $block->escapeHtml(__('Rule Name')) ?>" class="col"><?php /* @escapeNotVerified * / echo $block->prepareReason($item->getRuleName(), $item->getReason()) ?></td>
                <?php endforeach; ?>
            </tbody>
        </table>
    </div><?php */?>
    <div class="clearfix"></div>
    <?php if ($block->getPagerHtml()): ?>
        <div class="order-products-toolbar toolbar bottom no-border"><?php echo $block->getPagerHtml(); ?></div>
    <?php endif ?>
<?php else: ?>
    <div class="message info empty"><span><?php /* @escapeNotVerified */ echo __('You have no reward points history.'); ?></span></div>
<?php endif ?>
</div>
