<?= /*@noEscape*/ $block->getChildHtml(); ?>
<?php if ($block->getProduct()): ?>
    <meta name="twitter:card" content="<?= $block->escapeHtml($block->getSummaryCard()); ?>" />
    <meta name="twitter:title" content="<?= $block->escapeHtml($block->getTwitterCardTitle()); ?>" />
    <meta name="twitter:description" content="<?= $block->escapeHtml($block->getTwitterCardDesc()); ?>" />
    <meta name="twitter:image:alt" content="<?= $block->escapeHtml($block->getProduct()->getShortDescription()) ?>" /> 
    <meta name="twitter:image" content="<?= $block->escapeUrl($block->getTwitterCardImage()); ?>" />

    <meta property="og:type" content="og:product" />
    <meta property="og:title" content="<?= $block->escapeHtml($block->getFacebookOGTitle()); ?>" />
    <meta property="og:image" content="<?= $block->escapeUrl($block->getFacebookOGImage()); ?>" />
    <meta property="og:description" content="<?= $block->escapeHtml($block->getFacebookOGDesc()); ?>" />
    <meta property="og:url" content="<?= $block->escapeUrl($block->getProduct()->getProductUrl()); ?>" />
    <?php if ($priceAmount = $block->getProduct()->getFinalPrice()):?>
        <meta property="product:price:amount" content="<?= $block->escapeHtml($priceAmount); ?>"/>
        <?= /*@noEscape*/ $block->getChildHtml('seo.meta.currency'); ?>
    <?php endif;?>
<?php endif;?>
<link rel="alternate" href="<?= $block->escapeUrl($block->getCurrentPageUrl()) ?>" hreflang="<?=
 $block->escapeHtml($block->getCurrentLanguage()); ?>" />