<?php
/**
 * CedCommerce
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End User License Agreement (EULA)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://cedcommerce.com/license-agreement.txt
 *
 * @category    Ced
 * @package     Ced_HubIntegration
 * @author      CedCommerce Core Team <connect@cedcommerce.com>
 * @copyright   Copyright CedCommerce (http://cedcommerce.com/)
 * @license     http://cedcommerce.com/license-agreement.txt
 */

?>
<style>
    .container_css_class{
        text-align: center;
    }
    .card {
        display: inline-block;
        width: 50%;
    }

    .modal.show .modal-dialog {
        -webkit-transform: translate(0,-50%);
        -o-transform: translate(0,-50%);
        transform: translate(0,-50%);
        top: 50%;
        margin: 0 auto;
    }

    .progress{
        height: 20px;
    }
</style>
<?php
/* @var $block \Ced\HubIntegration\Block\Authorize\Config */

$successImg = $block->getViewFileUrl('Ced_HubIntegration::images/fam_bullet_success.svg');
$loaderImg = $block->getViewFileUrl('Ced_HubIntegration::images/rule-ajax-loader.gif');

if ($block->getConnectionStatus()) { ?>
    <div class="card">
        <div class="card-body text-white bg-success">
            <div class="text-center">
                <br>
                <i class="fa fa-check-circle fa-5x"></i>

                <br><br><br>
                <h3>Connected To Hubspot</h3>
                <hr>
                <h4>Success</h4>

            </div>
        </div>
    </div>

    <h3 style="padding-top: 20px;">Installation in progress, please do not close window...</h3>

<button type="button" id="modal-button" style="display:none" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
    Open modal
</button>
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-lg" style="width: 80%;">
        <div class="modal-content">

            <!-- Modal body -->
            <div class="modal-body">
                <h2>Installation In Progress</h2>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:10%"></div>
                </div>
                <ul style="list-style: none; margin-top: 5%; text-align: left" id="hubspot-responses">
                </ul>
            </div>

        </div>
    </div>
</div>

    <script type="text/x-magento-init">
        {
        "*" :{
        "Ced_HubIntegration/js/config_properties_lists_workflow":{
           "PropertiesAjaxUrl" : "<?php echo $block->baseUrl() ?>hubintegration/config/exportproperties/task/group_property",
           "ListsAjaxUrl" : "<?php echo $block->baseUrl() ?>hubintegration/config/exportproperties/task/list",
           "WorkflowAjaxUrl" : "<?php echo $block->baseUrl() ?>hubintegration/config/exportproperties/task/workflow",
           "SuccessImg" : "<?php  echo $successImg; ?>"
                 }
             }
        }

    </script>

<?php } else { ?>
    <div class="card">
        <div class="card-body text-white bg-danger">
            <div class="text-center">
                <br>
                <i class="fa fa-times-circle fa-5x"></i>

                <br><br><br>
                <h3>Not Connected To Hubspot</h3>
                <hr>
                <h4>Connection Failed</h4>

            </div>
        </div>
    </div>
<?php } ?>