<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$_catalogHelperImage = $objectManager->get('Magento\Catalog\Helper\Image');
$eavConfig = $objectManager->create('\Magento\Eav\Model\Config');
$shareHelper = $objectManager->get('Knight\ShareProduct\Helper\Data');
// $productRepositoryFactory = $objectManager->get('Magento\Catalog\Api\ProductRepositoryInterfaceFactory');
$imageWidth = 135;
$imageHeight = 135;
$share = $this->getShare();
$shareData = $shareHelper->getSuperCustomOption($share, null);
?>
<?php if($shareData) { ?>
    <?php
    $product_type = '';
    if(isset($shareData['product_type'])){ 
        $product_type =  $shareData['product_type'];
    }else{
        if(array_key_exists('super_product_id', $shareData)){
            $product_type = 'super';
        }
    }
    ?>
<table class="email-items">
    <tbody>
        <tr>
            <?php if($product_type == 'super') { ?>
            <td style="vertical-align: top;">
                <?php 
                    $super_product_id = $shareData['super_product_id'];
                    $super_product = $objectManager->create('Magento\Catalog\Model\Product')->load($super_product_id);
                    $super_attributes = '';
                    if(array_key_exists('super_attributes', $shareData) && count($shareData['super_attributes']) > 0){
                        $super_attributes = $shareData['super_attributes'];
                    }
                ?>
                <?php if(array_key_exists('super_product_img', $shareData)): ?>
                    <span class="product-item-photo" style="padding-right: 10px;">
                        <a href="<?php echo $shareData['super_product_img'] ?>" target="_blank">
                            <img src="<?php echo $shareData['super_product_img'] ?>" width="80" height="80">
                        </a>
                    </span>
                <?php endif; ?>
            </td>
            <td>
                <p class="product-name" style="color: #1979c3;font-weight: bold;margin-top: 0"><?= $super_product->getName(); ?></p>
                <p class="sku"><?= /* @escapeNotVerified */  __('SKU') ?>: <?= $super_product->getSku(); ?></p>
                <?php if(is_array($super_attributes)){ ?>
                    <table class="item-options" style="padding-left: 0" border="0" cellspacing="0" cellpadding="0">
                    <?php foreach ($super_attributes as $super_attribute) { ?>
                        <tr>
                            <td>
                                <table border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
                                    <tr>
                                        <td style="width: 260px;">
                                            <p class="p-single-name" style="color: #000;font-weight: bold"><?php echo $super_attribute['product_name'] ?></p>
                                            <p class="p-single-sku" style="font-weight: normal;color: #555555;letter-spacing: 0;"><?php echo $super_attribute['product_simple_sku'] ?></p>
                                            <?php if(array_key_exists('option_selected', $super_attribute) && is_array($super_attribute['option_selected'])){?>
                                            <div class="option-super">
                                                <?php foreach ($super_attribute['option_selected'] as $attrcode => $opt): ?>
                                                    <?php 
                                                        $attribute = $eavConfig->getAttribute('catalog_product', $attrcode);
                                                        $attributeLabel = $attribute->getData('frontend_label');
                                                        if ($attribute->usesSource()) {
                                                            $optionText = $attribute->getSource()->getOptionText($opt);
                                                        }
                                                    ?>
                                                    <?php if ($attributeLabel != "Component Qty"): ?>
                                                    <dt style="display: inline;font-weight: normal;font-style: italic;margin-left: 0;"><?php echo $attributeLabel ?>:</dt>
                                                    <dd style="display: inline;font-weight: normal;font-style: italic;padding-left: 0;margin-left: 0;"><?php echo $optionText ?><br></dd>
                                                    <?php endif; ?>
                                                <?php endforeach; ?>
                                            </div>
                                            <?php } ?>
                                        </td>
                                        <td style="vertical-align: middle;">
                                            <a href="<?php echo $super_attribute['product_thumbnail_img'] ?>"><img width="60" height="60" src="<?php echo $super_attribute['product_thumbnail_img'] ?>" /></a>
                                        </td>
                                        <td style="width: 50px;text-align: center;"><?php echo $super_attribute['product_quantity']; ?></td>
                                    </tr>
                                </table>
                            </td>
                            <td class="item-qty" style="vertical-align: middle;">
                                <?php if(array_key_exists('option_selected', $super_attribute) && is_array($super_attribute['option_selected'])){?>
                                <?php foreach ($super_attribute['option_selected'] as $attrcode => $opt): ?>
                                    <?php
                                    $attribute = $eavConfig->getAttribute('catalog_product', $attrcode);
                                    $attributeLabel = $attribute->getData('frontend_label');
                                    if ($attribute->usesSource()) {
                                        $optionText = $attribute->getSource()->getOptionText($opt);
                                    }
                                    ?>
                                    <?php if ($attributeLabel == "Component Qty"): ?>
                                    <p style="display: inline;font-weight: normal;padding-left: 0"><?php echo $optionText ?></p>
                                    <?php endif; ?>
                                <?php endforeach; ?>
                            <?php } ?>
                            </td>
                        </tr>
                    <?php } ?>
                    </table>
                <?php } ?>
            </td>
            <?php }else { ?> 
                <?php 
                    $product_id = $shareData['product'];
                    
                    $product = $objectManager->create('Magento\Catalog\Model\Product')->load($product_id);

                    $imageUrl = $_catalogHelperImage->init($product, 'product_page_image_small')
                                ->setImageFile($product->getSmallImage()) // image,small_image,thumbnail
                                ->resize(135,135)
                                ->getUrl();

                    if($shareData['product_type'] == "configurable"){
                        $associateProduct = $shareHelper->getAssociateProduct($product_id,$shareData['super_attribute']);
                        $imageUrl = $_catalogHelperImage->init($product, 'product_page_image_small')
                                ->setImageFile($associateProduct->getSmallImage()) // image,small_image,thumbnail
                                ->resize(135,135)
                                ->getUrl();
                    }

                ?>
            <td>
                <?php if(!isset($shareData['super_product_img'])): ?>
                    <span class="product-item-photo" style="padding-right: 10px;">
                        <a href="<?php echo $imageUrl; ?>" target="_blank">
                            <img src="<?php echo $imageUrl; ?>" width="80" height="80">
                        </a>
                    </span>
                <?php endif; ?>
            </td>
            <td style="vertical-align: middle;">
                <table>
                    <tr>
                        <td>
                            <p class="product-name"><?= $product->getName(); ?></p>
                            <p class="sku"><?= /* @escapeNotVerified */  __('SKU') ?>: <?= $product->getSku(); ?></p>
                            <?php if (array_key_exists('super_attribute', $shareData) && is_array($shareData['super_attribute'])): ?>
                                <dl class="item-options">
                                    <?php foreach ($shareData['super_attribute'] as $attrid => $option): ?>
                                        <?php 
                                        $attribute = $product->getResource()->getAttribute($attrid);
                                        $attributeLabel = $attribute->getData('frontend_label');
                                        
                                        if ($attribute->usesSource()) {
                                            $optionText = $attribute->getSource()->getOptionText($option);
                                        }
                                        ?>
                                        <dt><strong><em><?php echo $attributeLabel; ?></em></strong></dt>
                                        <dd>
                                            <?php echo $optionText; ?> 
                                        </dd>
                                    <?php endforeach; ?>
                                </dl>
                            <?php endif; ?>
                        </td>
                        <td style="width: 50px;text-align: center;"><?php echo $shareData['qty']; ?></td>
                    </tr>
                </table>
            </td>
            <?php } ?>
        </tr>
    </tbody>
</table>
<?php } ?>