<?php
//@TODO remove objectManager from here and use the block/helper instead
$category_id = $block->getData('category_id');
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$categoryInstance = $objectManager->create('Magento\Catalog\Model\CategoryFactory');
$_imageHelper = $objectManager->get('Magento\Catalog\Helper\Image');
$limit = $block->getData('productcount') ? $block->getData('productcount') : '10';
$products = $categoryInstance->create()
    ->load($category_id)
    ->getProductCollection()
    ->addAttributeToSelect('*')
    ->setPageSize($limit);
$products->getSelect()->orderRand();

$filter = $objectManager->create('Magento\Framework\Filter\FilterManager');
?>
<?php if(count($products) > 0) { ?>
    <div class="gallery">
        <section data-featherlight-gallery="" data-featherlight-filter="a">
            <div class="unslider">
                <div class="slider">
                    <ul class="home-listing unslider-wrap unslider-carousel">
                        <?php foreach ($products  as $top10) { ?>
                            <?php
                            $top10Product = $objectManager->create('Magento\Catalog\Model\Product')->load($top10->getId());
                            $imageURL = $_imageHelper->init($top10Product, 'image', ['type' => 'image'])->keepAspectRatio(true)->resize(296, 222)->getUrl();
                            ?>
                            <li class="product-<?= /* @escapeNotVerified */ $top10Product->getId(); ?>">
                                <div class="home-item">
                                    <img src="<?php echo $imageURL; ?>" alt="<?= /* @escapeNotVerified */ $top10->getName(); ?>" />
                                    <h3><?php echo $top10Product->getName(); ?></h3>
                                    <div>
                                    <?php if ($top10Product->getShortDescription()) { ?>
                                            <?= /* @escapeNotVerified */ $filter->truncate(strip_tags($top10Product->getShortDescription()), ['length' => 260, 'etc' => '']); ?>
                                    <?php } ?>
                                    </div>
                                    <a class="btn" target="_blank" href="<?php echo $top10Product->getProductUrl(); ?>"><?= /* @escapeNotVerified */ __('View Product'); ?></a>
                                </div>
                            </li>
                        <?php } ?>
                    </ul>
                </div>
            </div>
        </section>
    </div>

    <script type="text/javascript">
        require(['jquery','domReady!', 'slick'], function ($) {
            $(document).ready(function () {
                $(".home-listing").not('.slick-initialized').slick({
                    dots: true,
                    infinite: true,
                    speed: 500,
                    slidesToShow: 4,
                    swipeToSlide: true,
                    easing : 'linear',
                    responsive: [
                        {
                            breakpoint: 1024,
                            settings: {
                                slidesToShow: 3,
                                slidesToScroll: 3,
                                infinite: true,
                                dots: true
                            }
                        },
                        {
                            breakpoint: 767,
                            settings: {
                                slidesToShow: 1,
                                slidesToScroll: 1
                            }
                        }
                    ]
                });
            });
        });
    </script>
<?php } ?>
