<?php

		$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
		$_productAttachment = $objectManager->create('\Mageants\ProductAttachment\Model\ProductAttachment');


        $collection=$_productAttachment->getCollection();

		foreach($collection as $attachment):
?>

<div class="col-lg-2 col-md-3 col-sm-4">
                <div class="resource">
                    <div class="resourceImg">
                        <img src="<?php echo '/pub/media/'.$attachment->getData('icon'); ?>">
                        <span class="sharePopup"><i class="fab fa-facebook fontawesomeicon"></i> <i class="fab fa-pinterest fontawesomeicon"></i> <i class="fas fa-envelope fontawesomeicon"></i></span>
                        <?php /*?><span class="downloadPopup" style="display: none;"><span>Small 500 x 300</span><span>Medium 700 x 400</span><span>Large 1900 x 700</span></span><?php */?>
                        <span class="iconShare"><i class="fas fa-share-alt fontawesomeicon"></i></span>
                        <a target="_blank" href="<?php echo '/pub/media/'.$attachment->getData('file'); ?>">
                        <span class="iconDownload"><i class="fas fa-download fontawesomeicon"></i></span>
                        </a>
                    </div>
                    <span class="resourceTitle"><?php echo $attachment->getData('title'); ?></span>
                    <span class="resourceDesc"><?php $file = explode('.',$attachment->getData('file'));  echo '.'.$file[1]; ?> file</span>
                </div>
            </div>
            
<?php endforeach; ?>            