<div class="seo-notice"><span data-bind="text: seoManagerNotice"></span></div>
<div class="admin__field">
    <label class="admin__field-label" data-bind="i18n: 'Focus Keyword'"></label>
    <div class="admin__field-control">
        <input type="text" data-bind="textInput: focusKeyword, valueUpdate:'input'" data-form-part="cms_page_form" name="cms_focus_keyword" class="admin__control-text focus_keyword" />
    </div>
</div>
<div id="seo-meter-container" class="seo-meter-container">
    <div class="seo-percentage">
        <span data-bind="i18n: 'CMS SEO level is'"></span>
    </div>
    <div class="seo-meter-scale" data-bind="style: {'position':'relative'}" >
        <div class="meter-indecator" data-bind="style: {'position':'absolute', 'left':positionLeft()}">
            <div class="percent-text" data-bind="text: positionLeft()"></div>
        </div>
        <span class="meter poor">
            <span class="meter-text" data-bind="i18n: 'Poor'"></span>
        </span>
         <span class="meter good" >
            <span class="meter-text" data-bind="i18n: 'Good'"></span>
        </span>
         <span class="meter better">
            <span class="meter-text" data-bind="i18n: 'Better'"></span>
        </span>
         <span class="meter best">
            <span class="meter-text" data-bind="i18n: 'Best'"></span>
        </span>
         <span class="meter excelent">
            <span class="meter-text" data-bind="i18n: 'Excellent'"></span>
        </span>
    </div>
    <div class="on-page-result">
        <!-- ko if: seoIssues().length > 0 -->
        <div class="error-in-seo seo-mesages">
            <div class="seo-message-label">
                <span data-bind="i18n: 'Oh! need to improve'"></span>
            </div>
            <ul class="seo-message" data-bind="foreach: seoIssues">
                <li>
                    <span data-bind="html: message"></span>
                </li>
            </ul>
        </div>
        <!-- /ko -->
        <!-- ko if: seoWarnings().length > 0 -->
        <div class="need-improvement seo-messages">
            <div class="seo-message-label">
                <span data-bind="i18n: 'Ok its fine! can improve'"></span>
            </div>
             <ul class="seo-message" data-bind="foreach: seoWarnings">
                <li>
                    <span data-bind="html: message"></span>
                </li>
            </ul>
        </div>
        <!-- /ko -->
        <!-- ko if: seoSuccess().length > 0 -->
        <div class="working-fine seo-messages">
            <div class="seo-message-label">
                <span data-bind="i18n: 'Bravo! you did it'"></span>
            </div>
             <ul class="seo-message" data-bind="foreach: seoSuccess">
                <li>
                    <span data-bind="html: message"></span>
                </li>
            </ul>
        </div>
        <!-- /ko -->
    </div>
</div>
