
@media (min-width: 768px) and (max-width: 991px){
  .payment-footer{
    text-align:center;
    margin-bottom:20px;
  }
  .socials-wrap{
    float:none !important;
    display:table;
    margin:20px auto 0;
  }
  .menu-footer{
    display:none;
  }
}

@media (max-width:767px) and (min-width:560px){
  .payment-footer{
    text-align:center;
    margin-bottom:20px;
  }
  .socials-wrap{
    float:none !important;
    display:table;
    margin:20px auto 0;
  }
  .menu-footer{
    display:none;
  }
}
@media(max-width:480px){
  .payment-footer{
    text-align:center;
    margin-bottom:20px;
  }
  .socials-wrap{
    float:none !important;
    display:table;
    margin:20px auto 0;
  }
  .menu-footer{
    display:none;
  }
}