/*Footer 2*/
.footer-style-2{
  .newsletter-bottom{
    margin-bottom:40px;
    position:relative;
    margin-top:30px;
    padding:35px 0;
    color:#fff;
    &:before{
      content: '';
      position: absolute;
      top: 0;
      left: -100%;
      width: 1000%;
      height: 100%;
      z-index:-1;
    }
    .wrap-content{
      &:before{
        content:'';
        display:inline-block;
        background: url(../images/icon_2.png);
        background-repeat: no-repeat;
        background-position:-156px -146px;
        height:57px;
        width:75px;
        float:left;
        margin-top:6px;
      }
      p{
        font-size:19px;
        margin:0;
      }
      h3{
        font-size:34px;
        font-weight:600;
      }
    }
    .content-center{
      p{
        font-size:14px;
        margin:10px 0;
        line-height:30px;
      }
    }
    .block-subscribe-footer{
      .title-middle-footer{
        display:none;
      }
      .newsletter-content{
        position:relative;
        margin-top:15px;
        .input-box{
          color:#888;
          position:relative;
          &:before{
            position:absolute;
            left:30px;
            .font-awesome(f0e0,14px);
            line-height:50px;
          }
          input{
            padding-left:50px;
            .border_radius(25px);
            height:50px;
            line-height:50px;
          }
        }
        .action-button{
          position:absolute;
          right:3px;
          top:3px;
          .subscribe{
            height:45px;
            line-height:45px;
            font-size:0 !important;
            .border_radius(50%);
            padding:0 16px!important;
            span{
              &:before{
                .font-awesome(f1d8,14px);
                line-height:45px;
              }
            }
          }
        }
      }
    }
  }
  .footer-top{
    margin-top:20px;
    .container{
      border-bottom:1px solid #ddd;
      padding-bottom:40px;
      .socials-wrap{
        float:right;
        .title-follow{
          display:none;
        }
        ul{
          li{
            float:left;
            margin-right:10px;
            a{
              height:40px;
              line-height:40px;
              width:40px;
              background:#52555c;
              text-align: center;
              .border_radius(5px);
              display:inline-block;
              .transition(all .3s);
              .icon-social{
                font-size:16px;
                color:#fff;
              }
            }
            .name-social{
              display:none;
            }
            &:last-child{
              margin-right:0;
            }
          }
        }
      }
    }
  }
  .footer-middle{
    margin-top:40px;
    .container{
      padding-bottom: 60px;
      border-bottom: 1px solid #ddd;
      .main-title{
        font-size:18px;
        text-transform: uppercase;
        color:#222;
        margin-bottom: 40px;
      }
      .wrap-item{
        border-right: 1px solid #ddd;
        &.item-last{
          border-right: none;
        }
        .icon{
          .fa{
            font-size:26px;
          }
          margin-bottom: 15px;
        }
        .title{
          font-size:18px;
          color:#222;
          text-transform: uppercase;
          margin-bottom: 30px;
        }
        .content{
          font-size: 14px;
          color: #444;
          margin:0;
        }
      }
    }
  }
  .footer-bottom{
    padding:30px 0;
    address{
      font-size: 14px;
    }
    .menu-footer{
      float: right;
      li.item{
        float:left;
        margin-right: 35px;
        a{
          color:#999;
          font-size: 14px;
        }
        &.item-last{
          margin-right: 0;
        }
      }
    }
  }
}