@media (min-width:1025px) {
  .home-page-2{
    .tab-new-product{
      position: relative;
      margin-top:60px;
      .title-home-page{
        margin-bottom: 40px;
        span{
          font-size:26px;
          font-weight:500;
          color:#222;
          position: relative;
          &:after{
            padding-bottom:10px;
            content:'';
            display:block;
            position: absolute;
            width: 100%;
            bottom: 0;
            z-index: 1;
            margin-top:20px;
            top:10px;
          }
        }
      }
      .ltabs-wrap{
        position: static;
        .ltabs-tabs-container{
          width: 23%;
          margin-right: 20px;
          float: left;
          .ltabs-tabs{
            border:1px solid #ddd;
            .ltabs-tab-label{
              font-weight:bold;
              font-size:16px;
            }
            .border_radius(5px);
            .ltabs-tab{
              margin:0;
              padding:33px 22px;
              border-bottom:1px solid #ddd;
              line-height:64px;
              position:relative;
              &:last-child{
                border-bottom:none;
              }
              &:before{
                content:'';
                display:inline-block;
                background: url(../images/icon_2.png);
                background-repeat: no-repeat;
                float:left;
                margin-right:20px;
              }
              &:nth-child(1){
                &:before{
                  background-position:-343px -60px;
                  height:60px;
                  width:60px;
                }
                &.tab-sel, &:hover{
                  .border_radius(5px 5px 0 0);
                  &:before{
                    background-position:-493px -60px;
                  }
                }
              }
              &:nth-child(2){
                &:before{
                  background-position:-343px -189px;
                  height:60px;
                  width:70px;
                }
                &.tab-sel, &:hover{
                  &:before{
                    background-position:-490px -189px;
                  }
                }
              }

              &:nth-child(3){
                &:before{
                  background-position:-343px -326px;
                  height:60px;
                  width:70px;
                }
                &.tab-sel, &:hover{
                  &:before{
                    background-position:-493px -326px;
                  }
                }
              }

              &:nth-child(4){
                &:before{
                  background-position:-343px -450px;
                  height:74px;
                  width:70px;
                }
                &.tab-sel, &:hover{
                  &:before{
                    background-position:-493px -450px;
                  }
                }
              }

              &:nth-child(5){
                &:before{
                  background-position:-343px -583px;
                  height:60px;
                  width:70px;
                }
                &.tab-sel, &:hover{
                  &:before{
                    background-position:-493px -583px;
                  }
                }
              }

              &:nth-child(6){
                &:before{
                  background-position:-343px -720px;
                  height:70px;
                  width:63px;
                }
                &.tab-sel, &:hover{
                  .border_radius(0 0 5px 5px);
                  &:before{
                    background-position:-493px -720px;
                  }
                }
              }
              &.tab-sel, &:hover{
                background: linear-gradient(to right, rgba(226,3,0,1), rgba(254,103,0,1));
                .ltabs-tab-label{
                  color:#fff;
                }
                &:after{
                  content:'';
                  display:inline-block;
                  position:absolute;
                  right:-10px;
                  top:60px;
                  width: 0;
                  height: 0;
                  border-top: 9px solid transparent;
                  border-left: 10px solid #fe6600;
                  border-bottom: 9px solid transparent;
                }
              }

            }
          }
        }
        .ltabs-items-container{
          width: 75%;
          float: right;
          .products-grid{
            position: static;
            .product-items{
              position: static;
              .owl-stage-outer{
                padding-bottom:30px;
              }
              .product-item-info{
                margin-bottom:20px;
                .item-inner .box-info{
                  padding:17px 20px;
                }
                .action-bottom{
                  position:absolute;
                  width:100%;
                  z-index:999;
                }
              }
              .owl-controls{
                .owl-nav{
                  position: absolute;
                  top: 0;
                  right: 0;
                  [class*='owl-']{
                    .border_radius(50%);
                    line-height: 32px;
                  }
                }
              }
              .item-inner{
                .quickview-handler{
                  display:none;
                }
                margin-bottom:0;
                .product-item-details{
                  .product.actions{
                    position:absolute;
                    bottom:12px;
                    right:20px;
                    visibility: visible;
                    left: auto;
                    opacity:1;
                    top: auto;
                    .btn-cart{
                      padding:0!important;
                      .border_radius(50%);
                      height:36px;
                      width:36px;
                      line-height:36px;
                      background:none;
                      span{
                        font-size:0;
                        &:before{
                          .font-awesome(f07a,18px);
                          color:#aaa;
                        }
                      }
                      &:hover{
                        span:before{
                          color:#fff;
                        }
                      }
                    }
                  }
                }
              }
              .product-item-info{
                &:hover{
                  .item-inner{
                    .border_radius(5px 5px 0px 0px);
                  }
                  .action-bottom{
                    visibility: visible;
                    opacity: 1;
                    display:block;
                    display: flex;
                  }
                }
              }
              .action-bottom{
                text-align:center;
                background:#fff;
                box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 10px;
                .border_radius(0 0 5px 5px);
                border:1px solid #ddd;
                border-top:none;
                visibility: hidden;
                display:none;
                opacity:0;
                display: flex;
                .transition(all .3s);
                a.action{
                  display:inline-block;
                  width:100%;
                  padding:10px 0;
                  &:hover{
                    span:before{
                      color:#fff;
                    }
                  }
                  span{
                    font-size:0;
                    &:before{
                      color:#aaa;
                    }
                  }
                  &.link-wishlist{
                    &:hover{
                      &:before{
                        color:#fff;
                      }
                    }
                    &:before{
                      .font-awesome(f004,18px);
                      color:#aaa;
                    }
                    span:before{
                      .font-awesome(f004,18px);
                    }
                  }
                  &.link-compare{
                    span:before{
                      .font-awesome(f079,18px);
                    }
                  }
                  &.quickview-handler{
                    span:before{
                      .font-awesome(f06e,18px);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width:992px) and (max-width:1024px){
  .tab-new-product{
    .ltabs-tabs-container{
      .ltabs-tabs{
        display:table;
        margin:0 auto 30px;
        .ltabs-tab{
          float:left;
          margin-right:10px;
          &.tab-sel{
            color:#fff;
            .border_radius(20px);
            padding:0 10px;
          }
        }
      }
    }
  }
  .cms-index-index .header-style-2 .header-bottom .sidebar-megamenu .megamenu-content-sidebar .menu-ver-content{
    display: block !important;
    opacity: 1 !important;
    top: 100% !important;
    visibility: visible !important;
  }
  .wrap-slidershow{
    width:70%;
    margin-left:30%;
  }
  .home-page-2 .policy .wrap-item .item-content{
    padding:0;
  }
  .home-page-2 .policy{
    [class*="col-"]{
      .wrap-item{
        margin-bottom:15px;
      }
      width:50%;
    }
  }

  .home-page-2 .best-seller .right-container .item .item-inner .box-info{
    padding:25px;
  }
  .home-page-2 .best-seller .right-container .item .item-inner .box-image{
    width:120px;
    height:120px;
  }
  .home-page-2 .best-seller .right-container .item .item-inner{
    min-height:120px;
    margin-bottom:20px;
  }
}

@media (min-width: 768px) and (max-width: 991px){
  .policy{
    margin-top:30px;
    .wrap-item{
      margin-bottom:20px;
    }
  }
  .home-page-2 .id2-banner-full{
    margin-top:30px;
  }
  .hot-categories-home{
    .item{
      margin-bottom:15px;
    }
  }
  .id2-banner-3{
    .item{
      margin-bottom:15px;
    }
  }
  .tab-new-product{
    .ltabs-tabs-container{
      .ltabs-tabs{
        display:table;
        margin:0 auto 30px;
        .ltabs-tab{
          float:left;
          margin-right:10px;
          &.tab-sel{
            color:#fff;
            .border_radius(20px);
            padding:0 10px;
          }
        }
      }
    }
  }
}

@media (max-width:767px) and (min-width:560px){
  .policy{
    margin-top:30px;
    .wrap-item{
      margin-bottom:20px;
    }
  }
  .home-page-2 .id2-banner-full{
    margin-top:30px;
  }
  .hot-categories-home{
    .item{
      margin-bottom:15px;
    }
  }
  .home-page-2 .slider-deal-type2 .deals-countdown .deals-time .num-time{
    font-size:14px;
  }
  .home-page-2 .slider-deal-type2 .deals-countdown{
    position:static;
    display:table;
    margin:10px auto;
    transform: inherit;
  }
  .slider-deal-type2{
    .title-home{
      margin-bottom:30px;
    }
  }
  .id2-banner-3{
    .item{
      margin-bottom:15px;
    }
  }
  .home-page-2 .brand-slider{
    margin-top:0;
  }
}

@media(max-width:480px){
  .policy{
    margin-top:30px;
    .wrap-item{
      margin-bottom:20px;
    }
  }
  .home-page-2 .id2-banner-full{
    margin-top:30px;
  }
  .hot-categories-home{
    .item{
      margin-bottom:15px;
    }
  }
  .home-page-2 .slider-deal-type2 .deals-countdown .deals-time .num-time{
    font-size:14px;
  }
  .home-page-2 .slider-deal-type2 .deals-countdown{
    position:static;
    display:table;
    margin:10px auto;
    transform: inherit;
  }
  .slider-deal-type2{
    .title-home{
      margin-bottom:20px;
    }
  }
  .id2-banner-3{
    .item{
      margin-bottom:15px;
    }
  }
  .home-page-2 .brand-slider{
    margin-top:0;
  }
}

