.home-2-style{
  .message.success, .message.error{
    z-index:9999;
  }
  .products-grid .item .item-inner:hover .box-image .product-item-photo::before, .products-grid .item .item-inner:hover .box-image .wrap-action{
    opacity: 0.3;
  }
  .page-bottom{
    margin-bottom:0;
    .related-upsell-wrapper.block{
      margin-bottom:0;
    }
  }
}
.home-2-style.page-layout-1column, .home-2-style.page-layout-2columns-left, .home-2-style.page-layout-2columns-right, .home-2-style.page-layout-3columns{
    .header-top-wrapper{
      margin-top:30px;
    }
}
.home-page-2{
  .title-home{
    margin-bottom: 40px;
    h2{
      font-size:26px;
      font-weight:600;
      color:#222;
      span{
        padding-bottom:10px;
      }
    }
  }
  .inner-slidershow{
    margin-top:12px;
    .slidershow{
      .owl-controls{
        .owl-nav{
          [class*='owl-']{
            position:absolute;
            top:40%;
            margin:0;
            .transition(all .4s ease);
            visibility: hidden;
            opacity: 0;
            background:none;
            height:34px;
            width:34px;
            line-height: 34px;
            text-align:center;
            .border_radius(50%);
            &:before{
              color:#fff;
              font-size: 45px;
            }
          }
          .owl-prev{
            left:-20px;
          }
          .owl-next{
            right:-20px;
          }
        }
        .owl-dots{
          position:absolute;
          bottom: 0;
          left:0;
          right:0;
          .owl-dot{
            background:#fff;
            height: 10px;
            width:10px;
            &.active{
              background:none;
              border:2px solid #fff;
            }
          }
        }
      }
      &:hover{
        .owl-controls{
          .owl-nav{
            [class*='owl-']{
              visibility: visible;
              opacity: 1;
            }
            .owl-prev{
              left:10px;
            }
            .owl-next{
              right:10px;
            }
          }
        }
      }
    }
  }
  .policy{
    margin-top:60px;
    .wrap-item{
      display:flex;
      flex-direction: row;
      padding:8px;
      border:1px solid #ebebeb;
      cursor: pointer;
      .transition(all .3s);
      min-height: 75px;
      .border_radius(35px);
      .item-img{
        height:55px;
        width:55px;
        line-height:55px;
        text-align:center;
        .border_radius(50%);
        margin-right:20px;
      }
      .item-content{
        padding-top:8px;
        p{
          margin:0;
          font-size: 14px;
          font-weight: 500;
          &.title{
            text-transform: uppercase;
            color:#222;
            //font-weight:600;
          }
        }
      }
    }
  }
  .id2-banner-full{
    margin-top:60px;
  }
  .hot-categories-home{
    margin-top:30px;
    .item{
      .cat-title{
        font-size:16px;
        text-align:center;
        padding:6px 0;
        .border_radius(22px);
        .transition(ease-out .3s);
        a{
          color:#fff;
        }
      }
      &.item-0{
        .cat-title{
          background: linear-gradient(to right, rgba(11,143,129,1), rgba(15,208,188,1));
        }
        &:hover{
          .cat-title{
            background: linear-gradient(to left, rgba(11,143,129,1), rgba(15,208,188,1));
          }
        }
      }
      &.item-1{
        .cat-title{
          background: linear-gradient(to right, rgba(94,81,108,1), rgba(158,132,185,1));
        }
        &:hover{
          .cat-title{
            background: linear-gradient(to left, rgba(94,81,108,1), rgba(158,132,185,1));
          }
        }
      }
      &.item-2{
        .cat-title{
          background: linear-gradient(to right, rgba(0,59,226,1), rgba(100,100,255,1));
        }
        &:hover{
          .cat-title{
            background: linear-gradient(to left, rgba(0,59,226,1), rgba(100,100,255,1));
          }
        }
      }
      &.item-3{
        .cat-title{
          background: linear-gradient(to right, rgba(253,101,0,1), rgba(255,173,119,1));
        }
        &:hover{
          .cat-title{
            background: linear-gradient(to left, rgba(253,101,0,1), rgba(255,173,119,1));
          }
        }
      }
      &.item-4{
        .cat-title{
          background: linear-gradient(to right, rgba(223,0,226,1), rgba(255,140,232,1));
        }
        &:hover{
          .cat-title{
            background: linear-gradient(to left, rgba(223,0,226,1), rgba(255,140,232,1));
          }
        }
      }

    }
  }
  .slider-deal-type2{
    margin-top:60px;
    .block-content-products{
      position:static;
      .owl-controls{
        .owl-nav{
          position:absolute;
          top: 0;
          right:0;
          [class*='owl-']{
            .border_radius(50%);
            line-height: 32px;
          }
        }
      }
      .item-inner{
        .quickview-handler{
          display:none;
        }
        margin-bottom:0;
        .product-item-details{
          .product.actions{
            position:absolute;
            bottom:14px;
            right:20px;
            .btn-cart{
              padding:0!important;
              .border_radius(50%);
              height:36px;
              width:36px;
              line-height:36px;
              background:none;
              span{
                font-size:0;
                &:before{
                  .font-awesome(f07a,18px);
                  color:#aaa;
                }
              }
              &:hover{
                span:before{
                  color:#fff;
                }
              }
            }
          }
        }
      }
      .product-item{
        &:hover{
          .item-inner{
            .border_radius(5px 5px 0px 0px);
          }
          .action-bottom{
              visibility: visible;
              opacity: 1;
          }
        }
      }
      .action-bottom{
        text-align:center;
        background:#fff;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 10px;
        .border_radius(0 0 5px 5px);
        border:1px solid #ddd;
        border-top:none;
        visibility: hidden;
        opacity:0;
        display:flex;
        .transition(all .3s);
        a.action{
          display:inline-block;
          width:100%;
          flex-direction: column;
          padding:10px 0;
          &:hover{
            span:before{
              color:#fff;
            }
          }
          span{
            font-size:0;
            &:before{
              color:#aaa;
            }
          }
          &.link-wishlist{
            &:before{
              display:none !important;
            }
            span:before{
              .font-awesome(f004,18px);
            }
          }
          &.link-compare{
            span:before{
              .font-awesome(f079,18px);
            }
          }
          &.quickview-handler{
            span:before{
              .font-awesome(f06e,18px);
            }
          }
        }
      }
    }
    .deals-countdown{
      position:absolute;
      left:50%;
      top:3%;
      transform:translate(-50%, -50%);
      background:none;
      padding: 0;
      margin:0;
      .deals-time{
        &.spera{
          min-width: 10px;
          font-size: 18px;
          font-weight: 600;
        }
        .num-time{
            background:#52555c;
            color:#fff;
            padding: 3px 6px;
            font-size: 18px;
            font-weight: 600;
            .border_radius(5px);
        }
      }
    }
  }
  .best-seller{
    margin-top:60px;
    position:relative;
    .ltabs-tabs-container{
      display:none;
    }
    .item-first{
      .item-inner{
        .quickview-handler{
          display:none;
        }
        margin-bottom:0;
        .product-item-details{
          .product.actions{
            position:absolute;
            bottom:14px;
            right:20px;
            .btn-cart{
              padding:0!important;
              .border_radius(50%);
              background:none;
              height:36px;
              width:36px;
              line-height:36px;
              span{
                font-size:0;
                &:before{
                  .font-awesome(f07a,18px);
                  color:#aaa;
                }
              }
              &:hover{
                span:before{
                  color:#fff;
                }
              }
            }
          }
        }
      }
      .action-bottom{
        text-align:center;
        background:#fff;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 10px;
        .border_radius(0 0 5px 5px);
        border:1px solid #ddd;
        border-top:none;
        visibility: hidden !important;
        opacity:0 !important;
        display: flex;
        .transition(all .3s);
        a.action{
          display:inline-block;
          width:100%;
          flex-direction: column;
          padding:10px 0;
          &:hover{
            span:before{
              color:#fff;
            }
          }
          span{
            font-size:0;
            &:before{
              color:#aaa;
            }
          }
          &.link-wishlist{
            &:hover{
              &:before{
                color:#fff;
              }
            }
            &:before{
              .font-awesome(f004,18px);
              color:#aaa;
            }
            span:before{
              .font-awesome(f004,18px);
            }
          }
          &.link-compare{
            span:before{
              .font-awesome(f079,18px);
            }
          }
          &.quickview-handler{
            span:before{
              .font-awesome(f06e,18px);
            }
          }
        }
      }
      &:hover{
        .item-inner{
          .border_radius(5px 5px 0 0);
        }
        .action-bottom{
          visibility: visible !important;
          opacity:1 !important;
        }
      }
    }
    .right-container{
      .item{
        .sm_quickview_handler{
          display:none;
        }
        .item-inner{
          min-height:147px;
          overflow: hidden;
          margin-bottom:20px;
          .box-image{
            width:147px;
            float:left;
          }
          .box-info{
            padding:37px;
          }
          .product-item-details{
            .product.actions{
              position:absolute;
              bottom:30px;
              right:20px;
              .btn-cart{
                padding:0 !important;
                .border_radius(50%);
                height:36px;
                width:36px;
                line-height:36px;
                background:none;
                span{
                  font-size:0;
                  &:before{
                    .font-awesome(f07a,18px);
                    color:#aaa;
                  }
                }
                &:hover{
                  span:before{
                    color:#fff;
                  }
                }
              }
            }
          }
        }

      }
    }
    .ltabs-wrap{
      position:static;
      .products-grid{
        position:static;
        .product-items{
          position:static;
        }
        .owl-controls{
          .owl-nav{
            position:absolute;
            top:0;
            right:0;
            [class*='owl-']{
              .border_radius(50%);
              line-height: 32px;
            }
          }
        }
      }
    }
  }
  .id2-banner-2{
    margin-top:40px;
  }
  .latest-post{
    clear:both;
    margin-top:60px;
    position:relative;
    .owl-carousel{
      position:static;
    }
    .owl-controls{
      .owl-nav{
        position:absolute;
        top: 0;
        right:0;
        [class*='owl-']{
          .border_radius(50%);
          line-height: 32px;
        }
      }
    }
    .item-post{
      .image-blog{
        position:relative;
        .post-info{
          [class*='post-']{
            float:left;
            margin-right:10px;
          }
          position:absolute;
          top:10px;
          left:10px;
          text-align:center;
          padding:10px;
          line-height:14px;
          .border_radius(5px);
          color:#fff;
          .post-posed-date{
            .day{
              font-size:24px;
              font-weight:600;
            }
          }
        }
        img{
          .border_radius(8px);
        }
      }
      .info-blog{
        .postTitle{
          font-size:16px;
          font-weight:600;
          margin:20px 0 10px;
        }
      }
      .transition(all .3s);
      &:hover{
        .static-image{
          opacity:0.4;
        }
      }
    }
  }
  .brand-slider{
    margin-top:60px;
    position:relative;
    .owl-carousel{
      position:static;
      .owl-item img{
        margin:0 auto;
      }
    }
    .owl-controls{
      .owl-nav{
        position:absolute;
        top: 0;
        right:0;
        [class*='owl-']{
          .border_radius(50%);
          line-height: 32px;
        }
      }
    }
  }
  .newsletter-bottom{
    position:relative;
    margin-top:60px;
    padding:35px 0;
    color:#fff;
    &:before{
      content: '';
      position: absolute;
      top: 0;
      left: -100%;
      width: 1000%;
      height: 100%;
      z-index:-1;
    }
    .wrap-content{
      &:before{
        content:'';
        display:inline-block;
        background: url(../images/icon_2.png);
        background-repeat: no-repeat;
        background-position:-156px -146px;
        height:57px;
        width:75px;
        float:left;
        margin-top:6px;
      }
      p{
        font-size:19px;
        margin:0;
      }
      h3{
        font-size:34px;
        font-weight:600;
      }
    }
    .content-center{
      p{
        font-size:14px;
        margin:10px 0;
        line-height:30px;
      }
    }
    .block-subscribe-footer{
      .title-middle-footer{
        display:none;
      }
      .newsletter-content{
        position:relative;
        margin-top:15px;
        .input-box{
          color:#888;
          position:relative;
          &:before{
            position:absolute;
            left:30px;
            .font-awesome(f0e0,14px);
            line-height:50px;
          }
          input{
            padding-left:50px;
            .border_radius(25px);
            height:50px;
            line-height:50px;
          }
        }
        .action-button{
          position:absolute;
          right:3px;
          top:3px;
          .subscribe{
            height:45px;
            line-height:45px;
            font-size:0 !important;
            .border_radius(50%);
            padding:0 16px!important;
            span{
              &:before{
                .font-awesome(f1d8,14px);
                line-height:45px;
              }
            }
          }
        }
      }
    }
  }
  .id2-banner-3{
    margin-top:15px;
  }
  .tab-new-product{
    position: relative;
    margin-top:60px;
    .title-home-page{
      margin-bottom: 40px;
      span{
        font-size:26px;
        font-weight:500;
        color:#222;
        position: relative;
        &:after{
          padding-bottom:10px;
          content:'';
          display:block;
          position: absolute;
          width: 100%;
          bottom: 0;
          z-index: 1;
          margin-top:20px;
          top:10px;
        }
      }
    }
    .ltabs-wrap{
      position: static;

      .ltabs-items-container{
        .products-grid{
          position: static;
          .product-items{
            position: static;
            .owl-controls{
              .owl-nav{
                position: absolute;
                top: 0;
                right: 0;
                [class*='owl-']{
                  .border_radius(50%);
                  line-height: 32px;
                }
              }
            }
            .item-inner{
              .quickview-handler{
                display:none;
              }
              margin-bottom:0;
              .product-item-details{
                .product.actions{
                  position:absolute;
                  bottom:14px;
                  right:20px;
                  visibility: visible;
                  left: auto;
                  opacity:1;
                  top: auto;
                  .btn-cart{
                    padding:0 10px !important;
                    .border_radius(50%);
                    background:none;
                    span{
                      font-size:0;
                      &:before{
                        .font-awesome(f07a,18px);
                        color:#aaa;
                      }
                    }
                    &:hover{
                      span:before{
                        color:#fff;
                      }
                    }
                  }
                }
              }
            }
            .product-item-info{
              &:hover{
                .item-inner{
                  .border_radius(5px 5px 0px 0px);
                }
                .action-bottom{
                  visibility: visible;
                  opacity: 1;
                }
              }
            }
            .action-bottom{
              text-align:center;
              background:#fff;
              box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 10px;
              .border_radius(0 0 5px 5px);
              border:1px solid #ddd;
              border-top:none;
              visibility: hidden;
              opacity:0;
              display: flex;
              .transition(all .3s);
              a.action{
                display:inline-block;
                width:100%;
                flex-direction: column;
                padding:10px 0;
                &:hover{
                  span:before{
                    color:#fff;
                  }
                }
                span{
                  font-size:0;
                  &:before{
                    color:#aaa;
                  }
                }
                &.link-wishlist{
                  &:hover{
                    &:before{
                      color:#fff;
                    }
                  }
                  &:before{
                    .font-awesome(f004,18px);
                    color:#aaa;
                  }
                  span:before{
                    .font-awesome(f004,18px);
                  }
                }
                &.link-compare{
                  span:before{
                    .font-awesome(f079,18px);
                  }
                }
                &.quickview-handler{
                  span:before{
                    .font-awesome(f06e,18px);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .owl-controls{
    .owl-nav{
      [class*='owl-']{
        line-height:32px;
        font-size:0;
        text-align:center;
        &:before{
          line-height:30px;
        }
      }
    }
  }
}

.home-2-style{
  .related-upsell-wrapper, .products-grid{
    .item-inner{
      .quickview-handler{
        display:none;
      }
      margin-bottom:0;
      .product-item-details{
        .product.actions{
          position:absolute;
          bottom:14px;
          right:20px;
          .btn-cart{
            padding:0!important;
            .border_radius(50%);
            height:36px;
            width:36px;
            line-height:36px;
            background:none;
            span{
              font-size:0;
              &:before{
                .font-awesome(f07a,18px);
                color:#aaa;
              }
            }
            &:hover{
              span:before{
                color:#fff;
              }
            }
          }
        }
      }
    }
    .product-item{
      &:hover{
        .item-inner{
          .border_radius(5px 5px 0px 0px);
        }
        .action-bottom{
          visibility: visible;
          opacity: 1;
        }
      }
    }
    .action-bottom{
      text-align:center;
      background:#fff;
      box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 10px;
      .border_radius(0 0 5px 5px);
      border:1px solid #ddd;
      border-top:none;
      visibility: hidden;
      opacity:0;
      display: flex;
      .transition(all .3s);
      a.action{
        display:inline-block;
        width:100%;
        flex-direction: column;
        padding:10px 0;
        &:hover{
          span:before{
            color:#fff;
          }
        }
        span{
          font-size:0;
          &:before{
            color:#aaa;
          }
        }
        &.link-wishlist{
          &:hover{
            &:before{
              color:#fff;
            }
          }
          &:before{
            .font-awesome(f004,18px);
            color:#aaa;
          }
          span:before{
            .font-awesome(f004,18px);
          }
        }
        &.link-compare{
          span:before{
            .font-awesome(f079,18px);
          }
        }
        &.quickview-handler{
          span:before{
            .font-awesome(f06e,18px);
          }
        }
      }
    }
  }
}

.home-2-style{
  &.catalog-category-view, &.cms-daily-deals{
    .product-item-info{
      margin-bottom:20px;
      position:relative;
      .action-bottom{
        position:absolute;
        width:100%;
        z-index:999999;
      }
    }
    .item-inner{
      margin-bottom:0 !important;
    }
  }
  &.cms-daily-deals{
    .product-item{
      z-index:999;
    }
    .product-item-info{
      margin-bottom:30px;
      .action-bottom{
        bottom:-30px;
      }
    }
  }
}
.home-page-2 .latest-post .item-post .info-blog .post-info .item{
  float:left;
  margin-right:10px;
}
.product-extend .deals-countdown .deals-time .num-time{
  font-size:20px;
}
.sidebar{
  .list-slider .item-inner:not(:last-child){
    margin-bottom:20px !important;
  }
}
.products-list .item .item-inner .box-info-list .product-item-inner{
  .description{
    font-size:14px;
  }
}
body.cms-index-index{
	.header-top-wrapper{
		display:none;
	}
}
.home-2-style{
    .sm-listing-tabs{
        .products-grid{
          .product-item-info{
              .wrap-action{
                display: none;
              }
          }
        }
    }
}
