<?php
/**
 * Copyright © Magefan (support@magefan.com). All rights reserved.
 * See LICENSE.txt for license details (http://opensource.org/licenses/osl-3.0.php).
 *
 * Glory to Ukraine! Glory to the heroes!
 */
?>
<?php
/**
 * Blog post list item template
 *
 * @var $block \Magefan\Blog\Block\Post\AbstractPost
 */
?>
<?php
    $_post = $this->getPost();
    $_postUrl = $_post->getPostUrl();
    $_postName = $block->escapeHtml($_post->getTitle(), null, true);
	$_shortContent = $_post->getShortContent();
?>

<div class="col-lg-4 col-md-4 col-sm-6 teamM">
						<a href="<?php echo $_postUrl ?>" title="<?php echo $_postName ?>">
                        <div class="teamItem">
                         <?php if ($featuredImage = $_post->getFeaturedImage()) { ?>
                            <div class="teamImg">
                                <div class="teamOverlay">Read More</div>
                                <img src="<?php echo $featuredImage ?>" alt="<?php echo $_postName ?>" class="member" />
                            </div>
                            <?php } ?>
                            <?php //echo $this->getInfoHtml() ?>
                            <div class="teamDescription">
                                <h4 class="teamTitle"><?php echo $_postName; ?></h4>
                                <?php echo $_shortContent; ?>
                            </div>
                        </div>
                        </a>
                    </div>

<?php /*?><li class="post-holder post-holder-<?php echo $_post->getId() ?>">
    <div class="post-header">
        <div class="post-description clearfix">
            <?php if ($featuredImage = $_post->getFeaturedImage()) { ?>
                <div class="post-ftimg-hld">
                    <a href="<?php echo $_postUrl ?>" title="<?php echo $_postName ?>">
                        <img src="<?php echo $featuredImage ?>" alt="<?php echo $_postName ?>" />
                    </a>
                </div>
            <?php } ?>
            
        </div>
    </div>

    <div class="post-content">
        <div class="post-title-holder clearfix">
            <h2 class="post-title">
                <a class="post-item-link"
                   href="<?php echo $_postUrl ?>">
                    <?php echo $_postName; ?>
                </a>
            </h2>
        </div>
        <?php echo $this->getInfoHtml() ?>
    </div>
    <div class="post-footer clear-fix">
        <a class="post-read-more" href="<?php echo $_postUrl ?>" title="<?php echo $_postName ?>">
            <?php echo __('Read more') ?>
        </a>
    </div>
</li><?php */?>