& when (@media-common = true) {
    .page-layout-2columns-left .column.main {
        width: 70% !important;
    }
    .page-layout-2columns-left .sidebar.sidebar-main {
        width: 30%;
    }
    .page-layout-2columns-right .column.main {
        width: 75% !important;
    }
    .page-layout-2columns-right .sidebar.sidebar-main {
        width: 25%;
    }
    .bss_faqs a, a:hover {
        color: #536fd8;
    }
    .faq_main_block {
        opacity: 0.88;
        border-radius: 3px;
        background-color: #ffffff;
        box-shadow: 0px 4px 59px 0 rgba(0, 0, 0, 0.13);
        overflow: hidden;
        min-height: 200px;
        width: 100%;
    }
    .main_block_loading {
        height: 200px;
        width: 100%;
    }
    .main_block_loading i {
        margin-top: 100px;
        margin-left: 50%;
        font-size: xx-large;
    }
    .faq_main_block ul {
        list-style: none;
        padding: 0;
        margin-bottom: 0;
    }
    .faq_main_block ul > li {
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 1.3em;
        margin-left: 20px;
    }
    .faq_main_block ul > li:before {
        content: "\f0da";
        font-family: FontAwesome;
        display: inline-block;
        margin-left: -1.3em;
        margin-top: 10px;
        vertical-align: top;
        width: 21px;
        height: 21px;
    }
    .faq_main_block ul > li.expanding:before {
        content: "\f0d7";
    }
    .faqs_mainpage_category_block {
        width: 100%;
        float: left;
        min-height: 200px;
    }
    .faqs_mainpage_category_image {
        width: 150px;
        height: 200px;
        border-radius: 3px;
        margin: 30px;
        float: left;
    }
    .faqs_mainpage_category_image img {
        max-width: 90%;
        margin-top: 50%;
        margin-left: 50%;
        transform: translate(-50%, -50%);
    }
    .faqs_catepage_category_image {
        width: 40%;
        height: 200px;
        border-radius: 3px;
        margin: 10px 5% 10px 5%;
        float: left;
    }
    .faqs_catepage_category_image img {
        max-height: 60%;
        margin-left: 50%;
        margin-top: 40px;
        transform: translateX(-50%);
    }
    .catepage_title_block {
        width: 45%;
        height: 20px;
        margin-top: 30px;
        margin-bottom: 10px;
        margin-left: 5%;
        font-family: Roboto;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 0.2px;
        text-align: justify;
        float: left;
        cursor: pointer;
    }
    .faqs_mainpage_question_list {
        width: 530px;
        min-height: 160px;
        float: left;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .faqs_catepage_question_list {
        width: 100%;
        float: left;
        overflow-x: hidden;
    }
    .faq_question {
        margin-left: 5px;
        margin-top: 5px;
        width: 85%;
        padding: 5px;
    }
    .faq_question div:hover {
        box-shadow: 0px 4px 59px 0 rgba(0, 0, 0, 0.13);
    }
    .faq_question_expand {
        display: none;
        width: 85%;
        margin-top: 5px;
        font-family: Roboto;
        font-size: 14px;
        line-height: 1.57;
        text-align: justify;
        color: #777777;
        padding: 4px;
    }
    .faqs_catepage_question_list .faq_question_expand {
        margin-left: 5px;
        margin-top: 5px;
    }
    .faq_question_expand.expanding {
        display: inline-block;
    }
    .faq_question_expand p {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 12px;
    }
    .category_block_info {
        width: 530px;
        margin-top: 30px;
        margin-bottom: 30px;
        float: left;
    }
    .catepage_block_info {
        width: 100%;
        margin: 30px 5% 30px 5%;
        float: left;
    }
    .faqs_catepage_question_list li {
        width: 80%;
        float: left;
    }

    .category_title_block {
        width: 90%;
        height: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 20px;
        font-family: Roboto;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 0.2px;
        text-align: justify;
        float: left;
        cursor: pointer;
    }
    .faqs_sidebar_label {
        width: 100%;
        height: 40px;
        border-radius: 3px 3px 0 0;
        background-color: #fbc02d;
        box-shadow: 0px 11px 24px 0 rgba(0, 0, 0, 0.11);
        font-family: Roboto;
        font-size: 14px;
        font-weight: bold;
        text-align: justify;
        color: #ffffff;
    }
    .faqs_sidebar_label div {
        float: left;
        margin-top: 12px;
        margin-left: 20px;
    }
    .faqs_sidebar_menu {
        width: 100%;
        opacity: 0.88;
        border-radius: 3px;
        background-color: #ffffff;
        box-shadow: 0px 4px 59px 0 rgba(0, 0, 0, 0.13);
        margin-bottom: 50px;
        font-family: Roboto;
    }
    .faqs_sidebar_data {
        margin: 12px;
        padding-top: 3px;
        padding-bottom: 3px;
    }
    .faqs_sidebar_data ul {
        list-style: none;
        padding: 0;
    }
    .faqs_sidebar_data ul > li {
        margin-top: 13px;
        margin-bottom: 13px;
        padding-left: 1.3em;
        margin-left: 20px;
    }
    .faqs_sidebar_data ul > li:before {
        content: "\f0da";
        font-family: FontAwesome;
        display: inline-block;
        margin-left: -1.3em;
        vertical-align: top;
        width: 1.3em;
    }
    .faqs_sidebar_data ul > li.category_li:before {
        content: "";
    }
    .faqs_sidebar_data ul > li.expanding:before {
        content: "\f0d7";
    }
    .faqs_sidebar_item, .faq_question {
        font-family: Roboto;
        font-size: 16px;
        color: #505050;
        display: inline-block;
    }
    .faqs_sidebar_item, .faq_question .title {
        cursor: pointer;
    }
    .faqs_sidebar_item:hover {
        box-shadow: 0px 4px 59px 0 rgba(0, 0, 0, 0.13);
    }
    .faqs_sidebar_item_expand {
        display: none;
        margin-left: 40px;
        margin-right: 23px;
        font-family: Roboto;
        font-size: 14px;
        line-height: 1.57;
        letter-spacing: 0.1px;
        text-align: justify;
        color: #6f6f6f;
    }
    .faqs_sidebar_item_expand.expanding {
        display: inline-block;
    }
    .faqs_sidebar_item_expand:before {
        width: 20px;
        height: 1px;
        background-color: #212b40;
        content: "";
        display: inline-block;
        margin-top: 5px;
        margin-left: -44px;
        margin-right: 20px;
        vertical-align: top;
    }
    .faq-spinner {
        margin-left: 50%;
        margin-top: 20px;
    }
    .faqs_mainpage_question_block {
        width: 100%;
        float: left;
    }
    .faq_question_main_block {
        overflow: hidden;
    }
    .faqs_mainpage_question_image {
        width: 27%;
        height: 10%;
        border-radius: 3px;
        background-color: #fbc02d;
        box-shadow: 0px 5px 24px 0 rgba(251, 192, 45, 0.55);
        float: left;
    }
    .faqs_mainpage_question_image img {
        max-width: 90%;
        margin-top: 50%;
        margin-left: 50%;
        transform: translate(-50%, -50%);
    }
    .question_block_info {
        width: 70%;
        float: right;
    }
    .question_title_block {
        margin: 15px 0 15px 0;
        font-family: Roboto;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 0.2px;
        text-align: justify;
        color: #666666;
    }
    .question_questioner_block {
        float: left;
        margin-right: 10px;
        font-family: Roboto;
        font-size: 12px;
        letter-spacing: 0.1px;
        text-align: justify;
        color: #666666;
    }
    .question_time_block {
        float: left;
        margin-left: 10px;
        font-family: Roboto;
        font-size: 12px;
        letter-spacing: 0.1px;
        text-align: justify;
        color: #666666;
    }
    .question_questioner_block span {
        font-weight: bold;
    }
    .question_answer_block {
        float: left;
        margin-top: 35px;
        width: 100%;
        font-family: Roboto;
        font-size: 14px;
        line-height: 1.57;
        letter-spacing: 0.1px;
        text-align: justify;
        color: #777777;
    }
    .faq_searchbar_block {
        width: 50%;
        margin-bottom: 30px;
        float: right;
    }
    .faqs_sidebar_tag_list {
        margin: 27px;
        height: auto;
        overflow: hidden;
    }
    .faqs_sidebar_tag {
        padding: 3px 10px 3px 10px;
        margin-right: 13px;
        margin-bottom: 16px;
        float: left;
        border-radius: 2px;
        background-color: #eeeeee;
        border: solid 1px #9e9e9e;
        font-family: Roboto;
        font-size: 10px;
        letter-spacing: 0.1px;
        text-align: justify;
        cursor: pointer;
    }
    #faq_search_textfield {
        width: 50%;
        float: right;
        height: 35px;
        border-radius: 2px;
        background-color: #ffffff;
        border: solid 1px #bdbdbd;
    }
    .faq_search_submit {
        all: unset;
        width: 70px;
        height: 35px;
        background-color: #2f4860;
        color: #ffffff;
        float: right;
        text-align: center;
        box-shadow: none !important;
    }
    .faq_sort_order {
        width: 100%;
        display: inline-block;
    }

    .faq_sort_order select {
        float: right;
    }
    .faq_search_submit:hover {
        all: unset;
        background-color: #405971;
        width: 70px;
        height: 35px;
        color: #ffffff;
        float: right;
        text-align: center;
    }
    .faq_vote_block {
        width: 70%;
        float: right;
        margin-top: 30px;
    }
    .vote_block_label {
        float: left;
        margin-right: 20px;
    }
    .vote_block_label div {
        margin-top: 10px;
        font-family: Roboto;
        font-size: 16px;
    }
    .vote_button {
        width: auto;
        height: 35px;
        border-radius: 2px;
        background-color: #ffffff;
        float: left;
        margin-right: 20px;
        cursor: pointer;
    }
    .vote_button.like {
        border: solid 1px #1b95e0;
    }
    .vote_button.unlike {
        border: solid 1px #e74c3c;
    }
    .vote_button.like.active {
        background-color: #1b95e0;
    }
    .vote_button.unlike.active {
        background-color: #ef5350;
    }
    .vote_button.active div {
        color: #ffffff !important;
    }
    .vote_button div {
        margin: 10px;
        text-align: center;
        font-family: Roboto;
        font-size: 14px;
        font-weight: bold;
    }
    .vote_button.like div {
        color: #1b95e0;
    }
    .vote_button.unlike div {
        color: #ef5350;
    }
    .vote_button span:after {
        content: ")";
    }
    .vote_button span:before {
        content: " (";
    }
    [tooltip]:before {
        /* needed - do not touch */
        content: attr(tooltip);
        position: absolute;
        opacity: 0;

        /* customizable */
        /*transition: all 0.15s ease;*/
        padding: 10px;
        color: #111111;
        border-radius: 10px;
        box-shadow: 2px 2px 1px silver;
    }

    [tooltip]:hover:before {
        /* needed - do not touch */
        opacity: 1;

        /* customizable */
        background: #ffffff;
        margin-top: -50px;
        margin-left: 20px;
    }
    .faq_vote_notify {
        float: right;
        width: 70%;
        font-size: 16px;
    }
    .faq_vote_notify#helpful, .faq_vote_notify#unhelpful {
        color: #006400;
    }
    .faq_vote_notify#unhelpful:before {
        content: "\f12a";
        font-family: FontAwesome;
    }
    .faq_vote_notify#helpful:before {
        content: "\f00c";
        font-family: FontAwesome;
    }
    .faq_vote_notify#warning {
        color: red;
    }
    .faq_vote_notify#warning:before {
        content: "\f071";
        font-family: FontAwesome;
    }
    .faq_tag_block {
        width: 40%;
        margin-left: 30%;
        float: left;
        margin-top: 30px;
        overflow: hidden;
    }
    .tag_block_label {
        float: left;
        margin-right: 20px;
    }
    .tag_block_label div {
        margin-top: 5px;
        text-align: center;
        font-family: Roboto;
        font-size: 16px;
    }
    .faqs_tag {
        height: 25px;
        opacity: 0.8;
        border-radius: 2px;
        background-color: #ffffff;
        border: solid 1px #9d9d9d;
        float: left;
        margin-right: 13px;
        cursor: pointer;
    }
    .faqs_tag div {
        margin: 6px 4px 6px 4px;
        text-align: center;
        font-family: Roboto;
        font-size: 12px;
        color: #666666;
    }
    .faq_social_share {
        width: 30%;
        float: right;
        margin-top: 30px;
    }
    .faq_share_button {
        float: right;
        margin-left: 5px;
    }
    .faq_message_block {
        float: left;
        width: 100%;
        margin-bottom: 35px;
        font-family: Roboto;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 0.1px;
        text-align: justify;
        color: #666666;
    }
    .faq_message_block p {
        margin-left: 15px;
    }
    .faq_tag_list ul {
        margin-top: 15px !important;
    }
    .faq_back_button_block {
        width: 300px;
        height: 38px;
        border-radius: 2px;
        background-color: #ffffff;
        border: solid 1px #9e9e9e;
    }
    .faq_back_button_block div {
        margin-top: 10px;
        text-align: center;
    }
    .closeable_tag {
        display: inline;
        color: #888888;
        background-color: #eeeeee;
        border: solid 1px #999999;
        margin-left: 7px;
        padding: 4px 5px 4px 5px;
    }
    .closeable_tag .close {
        display: inline;
        margin-left: 4px;
    }
    .closeable_tag .close:hover {
        color: #ffffff;
    }
    .product_faq_tab {
        width: 50%;
    }
    .faq_ask_button {
        border-radius: 2px;
        background-color: #ef5350;
        float: left;
        margin-right: 20px;
        cursor: pointer;
        margin-bottom: 20px;
    }
    .faq_ask_button.active {
        background-color: #ffffff;
        border: solid 1px #ef5350;
    }
    .faq_ask_button div {
        margin: 10px;
        text-align: center;
        font-family: Roboto;
        font-size: 13px;
        font-weight: bold;
        color: #ffffff;
    }
    .faq_ask_button.active div {
        color: #ef5350;
    }
    .faq_ask_field {
        width: 100%;
        display: none;
        overflow: hidden;
    }
    .faq_ask_label {
        text-align: center;
        font-family: Roboto;
        font-size: 15px;
        font-weight: bold;
    }
    .faq_product_submit {
        border-radius: 2px;
        background-color: #ef5350;
        margin-right: 20px;
        cursor: pointer;
        width: 70px;
        height: 20px;
        padding: 10px;
    }
    .faq_product_submit div {
        text-align: center;
        font-family: Roboto;
        font-size: 13px;
        font-weight: bold;
        color: #ffffff;
    }
    .faq_product_textfield input, .faq_product_textfield textarea {
        width: 100%;
        border-radius: 2px;
        background-color: #ffffff;
        border: solid 1px #bdbdbd;
        display: inline-block;
        margin-bottom: 20px;
        margin-top: 10px;
    }
    .faq_product_textfield input {
        height: 38px;
    }
    .faq_product_textfield {
        display: inline-block;
        width: 70%;
    }
    .product_faq_list {
        margin-top: 20px;
    }
    .product_faq_title {
        width: 100%;
        overflow: hidden;
        margin-top: 20px;
    }
    .product_faq_li {
        width: 21px;
        height: 21px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 3px 7px 0 rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        float: left;
        cursor: pointer;
    }
    .product_faq_li i {
        margin-left: 50%;
    }
    .product_faq_label {
        margin-left: 14px;
        font-family: Roboto;
        font-size: 16px;
        text-align: justify;
        color: #505050;
        display: inline-block;
        float: left;
        cursor: pointer;
    }
    .product_faq_content {
        margin-left: 35px;
        margin-top: 20px;
        font-family: Roboto;
        font-size: 14px;
        line-height: 1.57;
        letter-spacing: 0.1px;
        text-align: justify;
        color: rgb(80, 80, 80);
        display: none;
    }
    .faq_ask_field_notify {
        display: none;
        color: red;
    }
    //social share
    .jssocials-shares {
      margin: 0.2em 0;
    }

    .jssocials-shares * {
      box-sizing: border-box;
    }

    .jssocials-share {
      display: inline-block;
      vertical-align: top;
      margin: 0.3em 0.6em 0.3em 0;
    }

    .jssocials-share:last-child {
      margin-right: 0;
    }

    .jssocials-share-logo {
      width: 1em;
      vertical-align: middle;
      font-size: 1.5em;
    }

    img.jssocials-share-logo {
      width: auto;
      height: 1em;
    }

    .jssocials-share-link {
      display: inline-block;
      text-align: center;
      text-decoration: none;
      line-height: 1;
    }

    .jssocials-share-link.jssocials-share-link-count {
      padding-top: .2em;
    }

    .jssocials-share-link.jssocials-share-link-count .jssocials-share-count {
      display: block;
      font-size: .6em;
      margin: 0 -.5em -.8em -.5em;
    }

    .jssocials-share-link.jssocials-share-no-count {
      padding-top: .5em;
    }

    .jssocials-share-link.jssocials-share-no-count .jssocials-share-count {
      height: 1em;
    }

    .jssocials-share-label {
      padding-left: 0.3em;
      vertical-align: middle;
    }

    .jssocials-share-count-box {
      display: inline-block;
      height: 1.5em;
      padding: 0 0.3em;
      line-height: 1;
      vertical-align: middle;
      cursor: default;
    }

    .jssocials-share-count-box.jssocials-share-no-count {
      display: none;
    }

    .jssocials-share-count {
      line-height: 1.5em;
      vertical-align: middle;
    }

    .jssocials-share-twitter .jssocials-share-link {
      background: #00aced;
    }

    .jssocials-share-twitter .jssocials-share-link:hover {
      background: #0087ba;
    }

    .jssocials-share-facebook .jssocials-share-link {
      background: #3b5998;
    }

    .jssocials-share-facebook .jssocials-share-link:hover {
      background: #2d4373;
    }

    .jssocials-share-googleplus .jssocials-share-link {
      background: #dd4b39;
    }

    .jssocials-share-googleplus .jssocials-share-link:hover {
      background: #c23321;
    }

    .jssocials-share-linkedin .jssocials-share-link {
      background: #007bb6;
    }

    .jssocials-share-linkedin .jssocials-share-link:hover {
      background: #005983;
    }

    .jssocials-share-pinterest .jssocials-share-link {
      background: #cb2027;
    }

    .jssocials-share-pinterest .jssocials-share-link:hover {
      background: #9f191f;
    }

    .jssocials-share-email .jssocials-share-link {
      background: #3490F3;
    }

    .jssocials-share-email .jssocials-share-link:hover {
      background: #0e76e6;
    }

    .jssocials-share-stumbleupon .jssocials-share-link {
      background: #eb4823;
    }

    .jssocials-share-stumbleupon .jssocials-share-link:hover {
      background: #c93412;
    }

    .jssocials-share-whatsapp .jssocials-share-link {
      background: #29a628;
    }

    .jssocials-share-whatsapp .jssocials-share-link:hover {
      background: #1f7d1e;
    }

    .jssocials-share-telegram .jssocials-share-link {
      background: #2ca5e0;
    }

    .jssocials-share-telegram .jssocials-share-link:hover {
      background: #1c88bd;
    }

    .jssocials-share-line .jssocials-share-link {
      background: #25af00;
    }

    .jssocials-share-line .jssocials-share-link:hover {
      background: #1a7c00;
    }

    .jssocials-share-viber .jssocials-share-link {
      background: #7b519d;
    }

    .jssocials-share-viber .jssocials-share-link:hover {
      background: #61407b;
    }

    .jssocials-share-pocket .jssocials-share-link {
      background: #ef4056;
    }

    .jssocials-share-pocket .jssocials-share-link:hover {
      background: #e9132e;
    }

    .jssocials-share-messenger .jssocials-share-link {
      background: #0084ff;
    }

    .jssocials-share-messenger .jssocials-share-link:hover {
      background: #006acc;
    }

    .jssocials-share-vkontakte .jssocials-share-link {
      background: #45668e;
    }

    .jssocials-share-vkontakte .jssocials-share-link:hover {
      background: #344d6c;
    }

    .jssocials-share-link {
      padding: .5em .6em;
      color: #fff;
      -webkit-transition: background 200ms ease-in-out, border-color 200ms ease-in-out;
      transition: background 200ms ease-in-out, border-color 200ms ease-in-out;
    }

    .jssocials-share-link:hover, .jssocials-share-link:focus, .jssocials-share-link:active {
      color: #fff;
    }

    .jssocials-share-count-box {
      position: relative;
      height: 2.5em;
      padding: 0 .3em;
      margin-left: 0.3em;
      background: #f5f5f5;
      -webkit-transition: background 200ms ease-in-out, border-color 200ms ease-in-out;
      transition: background 200ms ease-in-out, border-color 200ms ease-in-out;
    }

    .jssocials-share-count-box:hover {
      background: gainsboro;
    }

    .jssocials-share-count-box:hover:after {
      border-color: transparent gainsboro transparent transparent;
    }

    .jssocials-share-count-box:after {
      content: "";
      display: block;
      position: absolute;
      top: 0.85em;
      left: -0.3em;
      width: 0;
      height: 0;
      border-width: 0.4em 0.4em 0.4em 0;
      border-style: solid;
      border-color: transparent #f5f5f5 transparent transparent;
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
      -webkit-transition: background 200ms ease-in-out, border-color 200ms ease-in-out;
      transition: background 200ms ease-in-out, border-color 200ms ease-in-out;
    }

    .jssocials-share-count-box .jssocials-share-count {
      line-height: 2.5em;
      color: #444;
    }

}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .faqs_mainpage_category_block {
        width: 100%;
    }
    .faqs_mainpage_category_image {
        margin-left: 2%;
        margin-right: 2%;
        width: 25%;
    }
    .category_block_info {
        width: 70%;
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .faqs_mainpage_category_image {
        display: none;
    }
    .faqs_mainpage_question_image {
        float: inherit;
        margin-left: 35%;
    }
    .vote_block_label, .faq_vote_block, .faq_tag_block, .faq_searchbar_block, .question_block_info, .faq_social_share {
        width: 100%;
    }
    .category_block_info {
        width: 100%;
    }
    .category_title_block {
        width: 90%;
    }
    .faq_tag_block {
        margin-left: 0;
    }
    .faqs_catepage_question_list li {
        width: 80%;
    }
    .catepage_title_block {
        width: 80%;
    }
    .faqs_catepage_category_image {
        width: 80%;
        margin-top: 10px;
    }
    .faqs_catepage_category_image img {
        transform: translate(-50%, 20%);
    }
    .faqs_mainpage_question_list, .faq_question_expand {
        width: 100%;
    }
}
