<?php
/**
 * Copyright © Magefan (support@magefan.com). All rights reserved.
 * See LICENSE.txt for license details (http://opensource.org/licenses/osl-3.0.php).
 *
 * Glory to Ukraine! Glory to the heroes!
 */
?>
<?php
/**
 * Blog post list template
 *
 * @var $block \Magefan\Blog\Block\Post\PostList
 */
?>
<?php
$_postCollection = $block->getPostCollection();
?>
<?php if (!$_postCollection->count()): ?>
    <div class="message info empty"><div><?php echo __('We can\'t find posts matching the selection.') ?></div></div>
<?php else: ?>
    <?php echo $block->getAdditionalHtml() ?>

<div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 centered"><p>Nulla rhoncus purus ut dolor congue, ut cursus mauris volutpat. Quisque ultrices volutpat venenatis. Quisque hendrerit turpis suscipit commodo pellentesque. Pellentesque facilisis leo eu lectus luctus, quis hendrerit purus placerat.</p>
                    <p>Nam in interdum magna. Morbi vel erat nisl. Integer aliquet ex nec posuere dapibus. Aenean luctus et eros eget luctus. Donec sit amet dictum mauris. Ut porttitor lacus placerat ex consequat, vel luctus sem commodo. Nullam egestas vestibulum lacinia.</p></div>
            </div>

<div class="theTeam">
                <div class="row">
                    
        <?php $iterator = 1; ?>
            <?php foreach ($_postCollection as $_post): ?>
                <?php echo $block->getPostHtml($_post) ?>
            <?php endforeach; ?>
            <div class="hidden">
                <script type="text/javascript">
                    if (window.addthis) {
                        addthis.toolbox('.addthis_toolbox');
                    }
                </script>
            </div>
    </div>
    </div>

    <?php echo $block->getToolbarHtml() ?>
    <?php echo $this->getChildHtml('addthisJs'); ?>
<?php endif; ?>
