<?php
    $product_badges = $this->getProductBadges();
    if(count($product_badges)) {
?>
     <div class="badge-container">
         <div class="badge_main">
             <?php foreach($product_badges as $item): ?>
                <img src="<?php echo  $this->resizeBadge($item->getImage(), 58,58) ?>" class="single_badge showtootip" alt="<?php echo $item->getName() ?>" title="<?php echo $item->getName() ?>" />
            <?php endforeach; ?>
         </div>
     </div>
<?php } ?>
