<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php $_item = $block->getItem() ?>
<tr class="border">
    <td class="col-product <?php echo $_item->getOrderItem()->getProductType() ?>"><?= $block->getColumnHtml($_item, 'name') ?></td>
    <td class="col-qty last"><?= /* @escapeNotVerified */ $_item->getQty()*1 ?></td>
</tr>
