<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<button class="action-delete-grid"
        attr="{'data-action': 'remove_row'}"
        data-bind="
            click: $data.deleteRecord.bind($data, $record().index, $record().recordId),
            attr: {
                title: $parent.deleteButtonLabel
            }
        ">
    <span translate="$parent.deleteButtonLabel"></span>
</button>
