<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="control-table-text status">
	<!-- ko if: isReady -->
		<button class="ready" attr="'data-index': index" data-bind="
		text: value,
		css: {_disabled: disabled}
		"></button>
	<!-- /ko -->
	<!-- ko ifnot: isReady -->
		<button class="not-ready" attr="'data-index': index" data-bind="
		text: value,
		css: {_disabled: disabled}
		"></button>
	<!-- /ko -->
</div>
