<?php
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * @category   BSS
 * @package    Bss_AdvancedHidePrice
 * @author     Extension Team
 * @copyright  Copyright (c) 2017-2018 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */

// @codingStandardsIgnoreFile
use Magento\Catalog\Block\Product\View\BaseImage;
use Magento\Catalog\Pricing\Price\TierPrice;
use Magento\GroupedProduct\Block\Product\View\Type\Grouped;

/**
 * Grouped product data template
 *
 * @var $block BaseImage
 * @var $block Grouped
 */
?>
<?php $block->setPreconfiguredValue(); ?>
<?php $_product = $block->getProduct(); ?>
<?php $_associatedProducts = $block->getAssociatedProducts(); ?>
<?php $_hasAssociatedProducts = count($_associatedProducts) > 0; ?>
<?php $helper = $this->helper("Bss\AdvancedHidePrice\Helper\Data") ?>

<div class="table-wrapper grouped">
    <table class="table data grouped" id="super-product-table">
        <caption class="table-caption"><?= /* @escapeNotVerified */ __('Grouped product items') ?></caption>
        <thead>
        <tr>
            <th class="col item" scope="col"><?= /* @escapeNotVerified */ __('Product Name') ?></th>
            <?php if ($_product->isSaleable()): ?>
                <th class="col qty" scope="col"><?= /* @escapeNotVerified */ __('Qty') ?></th>
            <?php endif; ?>
        </tr>
        </thead>

        <?php if ($_hasAssociatedProducts): ?>
            <?php foreach ($_associatedProducts as $_item): ?>
                <tbody>
                <tr>
                    <td data-th="<?= $block->escapeHtml(__('Product Name')) ?>" class="col item">
                        <strong class="product-item-name"><?= $block->escapeHtml($_item->getName()) ?></strong>
                        <?php if ($block->getCanShowProductPrice($_product)): ?>
                            <?php if ($block->getCanShowProductPrice($_item)): ?>
                                <?= /* @escapeNotVerified */ $block->getProductPrice($_item) ?>
                            <?php endif; ?>
                        <?php endif; ?>
                    </td>
                    <?php if ($_product->isSaleable()): ?>
                        <td data-th="<?= $block->escapeHtml(__('Qty')) ?>" class="col qty">
                            <?php if ($_item->isSaleable()) : ?>
                                <div class="control qty">
                                    <?php if (!$_product->getActiveCallHidePrice()): ?>
                                        <?php
                                        /**
                                         * If parent disabled call/hide price
                                         * Get child item config for its
                                         */
                                        ?>
                                        <?php if (!$_item->getActiveCallHidePrice()): ?>
                                            <input type="number"
                                                   name="super_group[<?= $block->escapeHtml($_item->getId()) ?>]"
                                                   data-selector="super_group[<?= $block->escapeHtml($_item->getId()) ?>]"
                                                   value="<?= /* @escapeNotVerified */ $_item->getQty() * 1 ?>"
                                                   title="<?= /* @escapeNotVerified */ __('Qty') ?>"
                                                   class="input-text qty"
                                                   data-validate="{'validate-grouped-qty':'#super-product-table'}"
                                                   data-errors-message-box="#validation-message-box"/>
                                        <?php else: ?>
                                            <input type="number"
                                                   name="super_group[<?= $block->escapeHtml($_item->getId()) ?>]"
                                                   data-selector="super_group[<?= $block->escapeHtml($_item->getId()) ?>]"
                                                   value="0"
                                                   title="<?= /* @escapeNotVerified */ __('Qty') ?>"
                                                   class="input-text qty bss-item-hidden"
                                                   data-validate="{'validate-grouped-qty':'#super-product-table'}"
                                                   data-errors-message-box="#validation-message-box"/>
                                            <?php if ($_item->getActiveCallHidePrice() == "callforprice"): ?>
                                                <div id="callforprice" class="callforprice-container callforprice_<?= $_item->getId(); ?>">
                                                    <input type="hidden" name="parent_id" value="<?= $_product->getId(); ?>">
                                                    <input type="hidden" name="product" value="<?= $_item->getId(); ?>">
                                                    <input type="hidden" name="product_name" value="<?= $_item->getName(); ?>">
                                                    <a class="callforprice_clickme action primary" title="<?= $_item->getCallforpriceText(); ?>"><?= $_item->getCallforpriceText(); ?></a>
                                                </div>
                                            <?php elseif ($_item->getActiveCallHidePrice() == "hideprice"): ?>
                                                <div id="callforprice_text" class="callforprice-container callforprice_text"><?= $_item->getCallforpriceText(); ?></div>
                                            <?php endif; ?>
                                        <?php endif; ?>
                                    <?php else: ?>
                                        <?php
                                        /**
                                         * If parent enabled call/hide price
                                         * Get parent config for child item
                                         */
                                        ?>
                                        <?php if ($_product->getActiveCallHidePrice() == "callforprice"): ?>
                                            <div id="callforprice" class="callforprice-container callforprice_<?= $_item->getId(); ?>">
                                                <input type="hidden" name="parent_id" value="<?= $_product->getId(); ?>">
                                                <input type="hidden" name="product" value="<?= $_item->getId(); ?>">
                                                <input type="hidden" name="product_name" value="<?= $_item->getName(); ?>">
                                                <a class="callforprice_clickme action primary" title="<?= $_product->getCallforpriceText(); ?>"><?= $_product->getCallforpriceText(); ?></a>
                                            </div>
                                        <?php elseif ($_product->getActiveCallHidePrice() == "hideprice"): ?>
                                            <div id="callforprice_text" class="callforprice-container callforprice_text"><?= $_product->getCallforpriceText(); ?></div>
                                        <?php endif; ?>
                                    <?php endif; ?>
                                </div>
                            <?php else: ?>
                                <div class="stock unavailable" title="<?= /* @escapeNotVerified */ __('Availability') ?>">
                                    <span><?= /* @escapeNotVerified */ __('Out of stock') ?></span>
                                </div>
                            <?php endif; ?>
                        </td>
                    <?php endif; ?>
                </tr>
                <?php if ($block->getCanShowProductPrice($_product)
                    && $block->getCanShowProductPrice($_item)
                    && trim($block->getProductPriceHtml(
                        $_item,
                        TierPrice::PRICE_CODE
                    ))): ?>
                    <tr class="row-tier-price">
                        <td colspan="2">
                            <?= $block->getProductPriceHtml(
                                $_item,
                                TierPrice::PRICE_CODE
                            ) ?>
                        </td>
                    </tr>
                <?php endif; ?>
                </tbody>
            <?php endforeach; ?>
        <?php else: ?>
            <tbody>
            <tr>
                <td class="unavailable"
                    colspan="<?php if ($_product->isSaleable()): ?>4<?php else : ?>3<?php endif; ?>">
                    <?= /* @escapeNotVerified */ __('No options of this product are available.') ?>
                </td>
            </tr>
            </tbody>
        <?php endif; ?>
    </table>
</div>
<div id="validation-message-box"></div>
