
// DETAIL GENERAL

.fancybox-lock .menu-ver-content {
    z-index: 9990 !important;
}

.thumb-item.lslide {
    padding-bottom: 5px;
}

.product-info-main .swatch-opt {
    margin: 0;
}

.page-product-downloadable .product-options-wrapper,
.page-product-downloadable .product-options-bottom {
    float: none !important;
    width: 100% !important;
}

.page-product-downloadable .product-info-main .product-options-bottom .price-box {
    display: none;
}

.fotorama__stage__frame .fotorama__img {
    margin-left: -2px;
}

.gallery-placeholder {
    position: relative;
}

.magnifier-preview {
    left: 100% !important;
    right: auto !important;
    top: 0 !important;
}

.product.attribute.overview {
    margin-bottom: 20px;
    .value{
        font-size:14px;
    }
}
.product.attribute.description{
    font-size:14px;
}
.page-product-downloadable {
    .field.choice {
        .label {
            span {
                float: left;
            }

            .sample.link {
                float: right;
            }
        }
    }

}

.bundle-summary {
    clear: both;
}

.page-product-bundle {
    .fieldset-bundle-options {
        margin-bottom: 0;
    }

    .field.option {
        .control {
            .qty {
                width: 35px;
                text-align: center;
            }
        }
    }

    .block-bundle-summary {
        .bundle-summary,
        .product-image-container,
        .title {
            display: none;
        }
    }

    .product-info-main {
        .bundle-actions,
        .product-social-links,
        .action.customization,
        #customizeTitle {
            display: none;
        }
    }

    .product-add-form {
        display: block !important;

        .bundle-info {
            .control.control-qty-cart {
                width: 70px !important;
                float: left !important;
                margin-top: 5px;
            }
        }
    }

    .product-details .price-box.price-configured_price {
        display: block;
    }
}

.bundle-options-wrapper {
    clear: both;
}

.image-box-detail .product.media {
    overflow: visible;
}

.review-toolbar .limiter {
    display: none;
}

.additional-attributes {
    width: auto;

    tr {
        th {
            padding: 8px !important;
            display: block !important;
            font-weight: bold !important;
        }
    }
}

.review-form .action.submit.primary {
    background-color: #333;
}

.review-form .action.submit.primary:focus, .review-form .action.submit.primary:active, .review-form .action.submit.primary:hover {
    background-color: #000;
}

.review-control-vote input[type="radio"] {
    position: relative;
    display: none;
}

.fotorama__stage, .fotorama__nav {
    overflow: visible;
}

.fotorama__nav-wrap--horizontal .fotorama__thumb__arr--right,
.fotorama__nav-wrap--horizontal .fotorama__thumb__arr--left {
    width: 27px !important;
    height: 27px !important;
    line-height: 25px;
    text-align: center;
    border: 1px solid #ddd;
    position: absolute;
    top: 50% !important;
    margin-top: -14px;
    background-color: #fff;

    .fotorama__thumb__arr {
        display: none;
    }

    &:hover {
        &:before {
            color: #fff;
        }
    }
}

.fotorama__dot {
    border: 1px solid #ddd !important;
    width: 10px !important;
    height: 10px !important;
    border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
}

body .fotorama--fullscreen {
    z-index: 999999 !important;
}

.fotorama__thumb__arr {
    transition: none !important;
    -webkit-transition: none !important;
}

.fotorama__thumb__arr--right,
.fotorama__thumb__arr--left {
    .fotorama__thumb--icon {
        display: none;
    }
}

.fotorama__thumb-border {
    background: none;
}

.fotorama__wrap--slide .fotorama__stage__frame{
    border: 1px solid #ddd;
}

.fotorama__thumb {
    border: 1px solid #ddd;
}

.fotorama__nav-wrap--horizontal .fotorama__thumb__arr--right {
    right: 10px !important;

    &:before {
        .font-awesome(f105, 18px);
        line-height: 24px;
    }
}

.fotorama__nav-wrap--horizontal .fotorama__thumb__arr--left {
    left: 10px !important;

    &:before {
        .font-awesome(f104, 18px);
        line-height: 24px;
    }
}

.fotorama__nav-wrap--vertical .fotorama__thumb__arr--right {
    text-align: center;

    &:before {
        .font-awesome(f107, 18px);
        line-height: 30px;
    }
}

.fotorama__nav-wrap--vertical .fotorama__thumb__arr--left {
    text-align: center;

    &:before {
        .font-awesome(f106, 18px);
        line-height: 30px;
    }
}

.fotorama__nav-wrap--vertical .fotorama__thumb__arr {
    background-color: rgba(255, 255, 255, 0.9) !important;
}

.image-box-detail {
    position: static;
}

.magnifier-preview {
    border: 1px solid #ddd;
}

// STYLE

.box-tocart.update {
    .field.qty {
        .control {
            width: 70px;
            margin-top: 5px;
        }
    }
}

.product-add-form .box-tocart {
    float: left;
}

.fieldset.review-fieldset {
    margin-bottom: 0;
}

.detail-title {
    border-bottom: 2px solid #eee;
    text-transform: uppercase;
    color: #222;
    font-size: 150%;
    font-weight: 600;
    margin-bottom: 30px;

    span{
        display: inline-block;
        padding-bottom: 5px;
        position: relative;

        &:before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            bottom: -2px;
            height: 2px;
        }
    }
}

.related-upsell-wrapper {
    .owl-controls .owl-nav div{
        background-color: #fff;
        width: 44px;
        height: 44px;
        line-height: 44px;
        color: #aaa;
        position: absolute;
        top: 50%;
        margin: -22px 0 0 0;
        .box_shadow(0px 2px 3px rgba(0,0,0,0.2));
        .border_radius(50%);

        &:hover{
            color: #fff;
        }

        &:before{
            font-size: 24px;
            line-height: 44px;
        }

        &.owl-next{
            right: -22px;
        }

        &.owl-prev{
            left: -22px;
        }
    }

    .products-grid .item .item-inner {
        margin-bottom: 0;

        .reviews-actions {
            display: none;
        }
    }
}

.product-options-wrapper {
    margin-bottom: 15px;
    padding-top: 10px;
    min-height: 100px;
}

.product.info.detailed {
    clear: both;
}

.product.attribute.overview {
    padding-top: 20px;
    clear: both;
}

.media {
    overflow: visible;
    float: left;
    width: 50%;
    margin: 0 0 30px;
    padding-right: 15px;
}

.product-info-main {
    width: 50%;
    float: right;
    padding-left: 15px;
    margin-bottom: 30px;

    .page-title-wrapper.product {
        .page-title {
            text-transform: none;
            font-weight: 500;
            font-size: 166.67%;
            color: #444;
            margin-bottom: 5px;

            &:before {
                display: none;
            }
        }
    }

    .product-reviews-summary {
        margin: 10px 0;
        display: table;
    }

    .price-box {
        margin-bottom: 10px;
        display: inline-block;

        .price {
            font-size: 166.67%;
        }
    }

    .product-info-stock-sku {
        display: inline-block;
        float: right;
        margin-top: 9px;

        .available {
            span {

                &:before {
                    .font-awesome(f046, 14px);
                    position: relative;
                    top: 1px;
                    margin-right: 5px;
                }

            }
        }

        .sku {
            display: none;
        }
    }

    .product-options-bottom {
        float: left;
    }

    .product-options-bottom,
    .product-add-form {
        .box-tocart {
            .fieldset {
                background-color: #eeeeee;
                display: table;
                margin-right: 10px;

                .qty {
                    float: left;
                    margin: 0 !important;

                    .label {
                        line-height: 40px;
                        padding: 0 8px 0 10px !important;
                        float: none !important;
                        display: table-cell;
                        vertical-align: middle;
                        margin: 0;
                    }

                    .control {
                        display: inline-block;
                        vertical-align: middle;
                        margin-right: 20px;
                        float: none !important;

                        #qty {
                            width: 35px;
                            height: 30px;
                            text-align: center;
                            margin-right: 0;
                        }
                    }
                }

                .actions {
                    float: left;

                    button {
                        color: #fff !important;
                        line-height: 40px;
                        font-weight: 700;
                        height: 40px;

                        &:hover {
                            background-color: #444 !important;
                        }
                    }
                }
            }
        }
    }

    .product-addto-links,
    .product-social-links {
        .action {
            border: 1px solid #adadad;
            display: block !important;
            background-color: transparent;
            float: left;
            line-height: 35px;
            text-align: center;
            color: #000;
            width: 40px;
            height: 40px;
            padding: 0;
            margin-right: 10px;
            .border_radius(4px);

            &:last-child {
                margin-right: 0;
            }

            &.mailto.friend {
                display: none !important;
            }

            &:hover {
                background-color: transparent;
            }

            span {
                display: none;
            }

            &:before {
                color: #000;
            }

            &.tocompare {
                &:before {
                    .font-awesome(f021, 18px);
                    line-height: 40px;
                    color: #999;
                }
            }

            &.towishlist {
                &:before {
                    .font-awesome(f004, 18px);
                    line-height: 40px;
                    color: #999;
                }

            }

            span {
                display: none;
            }

            &.mailto.friend {
                margin: 0;

                &:before {
                    line-height: 34px;
                }
            }
        }
    }
}

#addthis_wrap {
    clear: both;
    padding-top: 20px;
}

.detail-bottom-wrapper {
    padding-top: 40px;
    margin-bottom: 30px;
    clear: both;

    .product.data.items {
        border: 1px solid #e1e1e1;

        > .item.title {
            margin-left: -1px !important;
            margin-right: 0 !important;
            border-top: none !important;

            .counter {
                &:before {
                    content: "(";
                }

                &:after {
                    content: ")";
                }
            }
        }

        .data.item.content {
            border: none !important;
            margin-top: 50px !important;
        }
    }

}

.product-image-detail {
    .large-image {
        border: 1px solid #ddd;
        margin-bottom: 10px;
        position: relative;
        padding: 1px;
        text-align: center;
    }

    .thumbs-container {
        .thumb-slider {
            .thumb-item {
                .thumb-image {
                    border: 1px solid #ddd;
                    background-color: #fff;
                }

                img {
                    border: 1px solid transparent;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

// THUMB VERTICAL

.product-image-detail {
    position: relative;
}

.thumb-vertical {
    .thumbs-container {
        width: 90px;
        position: absolute;
        left: 10px;
        top: 10px;
        z-index: 10002;

        .lSSlideOuter.vertical .lSAction > a {
            transform: rotate(90deg);
            -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
        }

    }
}

.fancybox-lock .thumb-vertical .thumbs-container {
    z-index: 9995;
}


.list-slider{
    .block-title{
        border:none;
        font-size: 20px;
        margin-bottom: 15px;
        span{
            &:before{
                background:none;
                .font-awesome(f03b,18px);
                display: inline-block;
                position: static;
                margin-right:10px;
            }
        }
    }
    .product-item{
        border:1px solid #ddd;
        padding: 15px;
        .border_radius(5px);
        margin-right: 1px;
        .item-inner{
            .box-image{
                border:1px solid #ddd;
                .border_radius(3px);
            }
            .product-item-details{
                .product-reviews-summary{
                    display: none;
                }
                .product-item-name{
                    text-overflow: initial;
                    white-space: normal;
                    overflow: initial;
                }
            }
            .price-box{
                .special-price, .price-final_price{
                    font-weight: 600;
                    color:@color_primary;
                }
                .old-price{
                    font-size: 14px;
                }
            }
        }
    }
}
.product-info-main{
    .product-info-stock-sku{
        float:none;
        border-top:1px solid #ddd;
        display:block;
        padding-top:10px;
        .stock, .sku{
            width:50%;
        }
        .stock{
            float:right;
            text-align:right;
            span{
                text-transform: uppercase;
            }
        }
        .sku{
            display: block;
            float:left;
            strong{
                float:left;
                margin-right:5px;
            }
        }
    }
    .price-final_price{
        display:block;
        .special-price{
            font-weight:700;
            font-size:20px;
        }
    }
    .product.overview{
        border-bottom: 1px solid #ddd;
        padding-bottom: 15px;
    }
    .product-add-form{
        .product-options-wrapper{
            .fieldset{
                .field{
                    width:46%;
                    float:left;
                    margin-right:2% !important;
                    margin-bottom: 10px !important;
                    .label{
                        text-transform: uppercase;
                        color:#222;
                        font-weight:600 !important;
                    }
                }
            }
        }
        .box-tocart{
            .fieldset{
                background:none;
            }
            .qty{
                .label{
                    display:none;
                }
                .control-qty-cart{
                    position:relative;
                    display:inline-block;
                    margin-right:20px;
                    padding-right:0;
                    .input-text{
                        width: 80px !important;
                        height: 40px !important;
                        line-height:40px;
                        .border_radius(30px);
                    }
                    .control-qty{
                        position:static;
                        .quantity-controls{
                            position:absolute;
                            top:0;
                            height:100%;
                            line-height:43px;
                            background:none;
                            &.quantity-plus{
                                right:5px;
                                &:before{
                                    .font-awesome(f067,14px);
                                }
                            }
                            &.quantity-minus{
                                left:5px;
                                &:before{
                                    .font-awesome(f068,14px);
                                }
                            }
                        }
                    }
                }
            }
            .actions{
                .tocart{
                    .border_radius(18px);
                    text-transform: capitalize;
                    span{
                        &:before{
                            .font-awesome(f07a,14px);
                            margin-right:10px;
                        }
                    }
                }
            }
        }
    }
    .product-social-links{
        .product-addto-links{
            .action{
                background:#959595;
                .border_radius(50%);
                &:before{
                    color:#fff;
                }
                &:hover{
                    &:before{
                        color:#fff !important;
                    }
                }
            }
        }
    }
}
.product-info-main .product-options-bottom .box-tocart .fieldset .qty .label, .product-info-main .product-add-form .box-tocart .fieldset .qty .label{
    display: none;
}
.product.info.detailed{
    .default-style{
        .resp-tabs-list{
            li.item{
                background:#ebebeb;
                margin: 0 5px 0 0;
                border-radius:3px 3px 0 0;
                -webkit-border-radius:3px 3px 0 0;
                -moz-border-radius:3px 3px 0 0;
                &.active{
                    a{
                        color:#fff;
                    }
                    &:before, &:after{
                        height:0;
                    }
                }
            }
        }
    }
}
.page-bottom{
    .related-upsell-wrapper{
        .detail-title{
            text-align:center;
            border-bottom:0;
        }
    }
    margin-bottom: 50px;
}
.fotorama__caption__wrap{
    display:none;
}

@media (min-width: 1200px) {

}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 768px) and (max-width: 991px) {
    .review-ratings ~ .review-content, .review-ratings ~ .review-details {
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding-top: 10px;
        clear: both;
    }
}

@media (max-width: 767px) {
    /*.sm-recently-viewed{
        display: none!important;
        visibility: hidden!important;
    }*/
    .catalog-product-view .column.main {
        display: flex;
        flex-direction: column;
    }

    .product-info-main,
    .product.media {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        float: none;
    }

    .product.media {
        order: -1;
    }

    .additional-attributes tr th {
        display: none !important;
    }

    .review-ratings ~ .review-content, .review-ratings ~ .review-details {
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding-top: 10px;
        clear: both;
    }
}


@media (max-width: 480px) {
    .product-info-main .product-addto-links {
        clear: both;
        padding-top: 10px;
    }

    .sidebar-image {
        display: table;
    }
}
.fotorama__stage__frame .fotorama__img{
	position:relative;
}
