<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Account\Dashboard\Info $block */
?>

<div class="insidePage loginpage">
<div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 centered"><h1><?= $block->escapeHtml(__('Hello')) ?> <?= $block->escapeHtml($block->getName()) ?>, <?= $block->escapeHtml(__('Welcome Back!')) ?></h1>
        
        <p>Nulla rhoncus purus ut dolor congue, ut cursus mauris volutpat. Quisque ultrices volutpat venenatis. Quisque hendrerit turpis suscipit commodo pellentesque. Pellentesque facilisis leo eu lectus luctus, quis hendrerit purus placerat.</p>
            
        <p>Nam in interdum magna. Morbi vel erat nisl. Integer aliquet ex nec posuere dapibus. Aenean luctus et eros eget luctus. Donec sit amet dictum mauris. Ut porttitor lacus placerat ex consequat, vel luctus sem commodo. Nullam egestas vestibulum lacinia.</p></div>
    </div>
        
<div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3">
            	<a href="/sales/order/history/">
                <div class="loginPanel">
                    <div class="loginIcon"><i class="fas fa-shopping-bag fontawesomeicon"></i></div>
                    <div class="loginName"><?= $block->escapeHtml(__('Order History')) ?></div>
                </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
            	<a href="/points/history/">
                <div class="loginPanel">
                    <div class="loginIcon"><i class="fas fa-medal fontawesomeicon"></i></div>
                    <div class="loginName"><?= $block->escapeHtml(__('Knight Rewards')) ?></div>
                </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
            	<a href="/customer/address">
                <div class="loginPanel">
                    <div class="loginIcon"><i class="fas fa-marker fontawesomeicon"></i></div>
                    <div class="loginName"><?= $block->escapeHtml(__('Edit Your Details')) ?></div>
                </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <a href="/savecartpro/customer/cartlist">
                <div class="loginPanel">
                    <div class="loginIcon"><i class="fas fa-shopping-cart fontawesomeicon"></i></div>
                    <div class="loginName"><?= $block->escapeHtml(__('Saved Carts')) ?></div>
                </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
            	<a href="/quickorder/cart/productlisting/">
                <div class="loginPanel">
                    <div class="loginIcon"><i class="fas fa-cart-plus fontawesomeicon"></i></div>
                    <div class="loginName"><?= $block->escapeHtml(__('Quick Order')) ?></div>
                </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
            	<a href="/wishlist">
                <div class="loginPanel">
                    <div class="loginIcon"><i class="fas fa-heart fontawesomeicon"></i></div>
                    <div class="loginName"><?= $block->escapeHtml(__('Favourites')) ?></div>
                </div>
                </a>
            </div>
        </div>      
        
          
</div>
<?php /*?><div class="block block-dashboard-info">
    <div class="block-title"><strong><?= $block->escapeHtml(__('Account Information')) ?></strong></div>
    <div class="block-content">
        <div class="box box-information">
            <strong class="box-title">
                <span><?= $block->escapeHtml(__('Contact Information')) ?></span>
            </strong>
            <div class="box-content">
                <p>
                    <?= $block->escapeHtml($block->getName()) ?><br>
                    <?= $block->escapeHtml($block->getCustomer()->getEmail()) ?><br>
                </p>
                <?= $block->getChildHtml('customer.account.dashboard.info.extra'); ?>
            </div>
            <div class="box-actions">
                <a class="action edit" href="<?= $block->escapeUrl($block->getUrl('customer/account/edit')) ?>">
                    <span><?= $block->escapeHtml(__('Edit')) ?></span>
                </a>
                <a href="<?= $block->escapeUrl($block->getChangePasswordUrl()) ?>" class="action change-password">
                    <?= $block->escapeHtml(__('Change Password')) ?>
                </a>
            </div>
        </div>
        <?php if ($block->isNewsletterEnabled()): ?>
            <div class="box box-newsletter">
                <strong class="box-title">
                    <span><?= $block->escapeHtml(__('Newsletters')) ?></span>
                </strong>
                <div class="box-content">
                    <p>
                        <?php if ($block->getIsSubscribed()): ?>
                            <?= $block->escapeHtml(__('You are subscribed to "General Subscription".')) ?>
                        <?php else: ?>
                            <?= $block->escapeHtml(__('You aren\'t subscribed to our newsletter.')) ?>
                        <?php endif; ?>
                    </p>
                </div>
                <div class="box-actions">
                    <a class="action edit" href="<?= $block->escapeUrl($block->getUrl('newsletter/manage')) ?>"><span><?= $block->escapeHtml(__('Edit')) ?></span></a>
                </div>
            </div>
        <?php endif; ?>
    </div>
</div><?php */?>
