<?php
$_helperImage = $this->helper('Knight\Theme\Helper\Image');
$_helperSuper = $this->helper('Brandsmith\SuperProduct\Helper\Data');
$_objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$request = $_objectManager->get('Magento\Framework\App\Request\Http');
$_imageUrl = $_helperImage->getMediaUrl();
$priceHelper = $_objectManager->create('Magento\Framework\Pricing\Helper\Data');
$_item = $this->getItem();
$_configName = $_item->getName();
$_configSku = $_item->getSku();
$_configRequired = $_item->getRequired();

$_product = $block->getProductBySku($_item->getSku());

// Super Product
$_superProduct = $block->getCurrentProduct();
$_baseProduct = $block->getBaseProductId($_superProduct->getId());
$_baseSku = $_baseProduct->getSku();

$_product_id = $_product->getId();
// add for same add on added
if($_baseProduct->getProductId() != $_product_id) {
    $_product_id_temp = $block->getProductIdBySkuAddon($_superProduct->getId() , $_configSku);
    $skuArr = explode("_", $_configSku, 2);
    if (count($skuArr) > 1) {
        if($_product_id_temp == $skuArr[0]) {
            $_product_id = $_product_id_temp;
        }
    }

}
//end


//  Get All Attributes of configurableProduct
//$_configurableProduct = $block->getProductBySku($_configSku);
$_configurableProduct = $_product;
$_configurableAttributes = $block->getAttributesFromConfigurable($_configurableProduct);

//  Get Item Id from Page Cart
$param = $request->getParam('item_id');
$paramsavecart = $request->getParam('savecart_id');
$paramwishlist = $request->getParam('wishlist_id');
$paramshare = $request->getParam('share');
$_shareproductHelper = $_objectManager->get('\Knight\ShareProduct\Helper\Data');

?>
<?php if( empty($param) && empty($paramsavecart)  && empty($paramwishlist) && empty($paramshare)) { ?>
    <?php
    /*
     * Request Without Edit Cart
     * */
    ?>
<div class="configurable-wrapper options-wrapper">
    <div id="super-<?= $_product_id; ?>" class="super-box-content disabled" data-sku="<?php echo $_configSku; ?>" data-producttype="<?php echo $_item->getType(); ?>" >
        <div class="super-item-name narrowing">
            <div class="super-check-box disabled-check-box <?php if($_configRequired) { echo 'attr-required'; } ?>"></div>
            <div class="product-title"> 
                <h3 class="close-expanded"><strong><?php echo __($_configName); ?></strong></h3>
                <a href="<?= $_product->getProductUrl()?>" class="super-icon-info" target="_blank"></a>
                
            </div>
            <a class="super-icon-arrow close-expanded"></a>
        </div>
        <div class="super-item-inner" style="display: none">
            <div class="super-item image-sku">
                <?php
                    echo $_product->getSis() !== 0 ? $this->getLayout()->createBlock('Brandsmith\TrafficLightStock\Block\Display')->setTemplate('Brandsmith_TrafficLightStock::product_gauge.phtml')->setData('product', $_product)->toHtml() : 'not sis';
                ?>
                <div class="super-item-sku"><p><?php echo __('SKU: ' . $_configSku); ?></p></div>
                <div class="super-item-price"><p><?php echo __('Price: '); ?><span></span></p></div>
                <div class="super-item-image">
                    <div class="super-image-container">
                        <div class="super-image-item"></div>
                        <img class="addon-default-img" src="<?php echo $block->getProductThumbnailBySku($_configSku); ?>" alt="<?php echo __($_configName); ?>" title="<?php echo __($_configName); ?>" />
                    </div>
                </div>
            </div>

            <?php
            /**
             *   Display Attributes
             */
                $_configurableData = array('configurable_attributes' => $_configurableAttributes, 'configurable_sku' => $_configSku);
                $block->getChildBlock("knight.super.product.addon.configurable.rendered")->setData("configurable_data", $_configurableData);
                echo $this->getChildHtml("knight.super.product.addon.configurable.rendered", false);
            ?>


            <?php
                $_quantity = $_item->getQty();
            ?>
            <div class="super-box-tocart clearfix <?php if($_baseSku != $_configSku && $_configRequired != 1) { echo 'disabled'; }?>">
                <div class="box-tocart">
                    <div class="fieldset clearfix">
                        <div class="field qty">
                            <label class="label" for="qty"><span><?= /* @escapeNotVerified */ __('Item Quantity') ?></span></label>
                            <div id="control-<?= $_product_id; ?>" class="control" data-id="<?= $_product_id; ?>">
                                <input type="number" name="item-qty" class="input-text qty super-addon-qty <?php if($_configRequired) { echo 'option-selected'; } ?>"
                                       title="<?= /* @escapeNotVerified */ __('Item Quantity') ?>"
                                       value="<?= /* @escapeNotVerified */ $_quantity ?>"
                                       data-id="<?= $_product_id; ?>"
                                       data-validate="<?= $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>" />
                                <div class="super-qty-inner">
                                    <span class="add-on-plus plus"></span>
                                    <span class="add-on-minus minus"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <input type="hidden" class="step-required" value="0" />
        <input type="hidden" data-sku="<?php echo $_configSku; ?>" data-id="<?php echo $_product_id; ?>" data-quantity="<?php echo $_item->getQty(); ?>" class="product-total-cost <?php if($_configRequired) { echo 'total-selected'; } ?>" value="0" />
    </div>
</div>

<?php } else { ?>
    <?php
    /*
     * Request Edit Cart
     * */
    ?>
    <?php
    $_attribute_info_int = null;
    $_childProduct = null;
    $_product_final_price = null;
    $_checkProductRule = null;

    $_classRequire = 'attr-required';
    $_classChecked = 'attr-checked';
    $_classDisabled = 'disabled';

    $_itemId = $request->getParam('item_id');
    $savecartId = $paramsavecart;
    $_superProductId = $_superProduct->getId();
    //$_childProductId = $_product->getId();
    //$_childProductSku = $_product->getSku();
    $_childProductId = $_item->getProductId();
    $_childProductSku = $_configSku;

    if(!empty($_itemId)) {
        $_childSuperAttributes = $block->getChildSuperAttributes($_itemId, $_superProductId, $_childProductId);
        $_childSuperCustomQuantity = $block->getChildSuperCustomQuantity($_itemId, $_superProductId, $_childProductId);
        if(!empty($_childSuperAttributes) ) {
            $_attribute_info_int = $_helperSuper->getAttributesInfo($_childSuperAttributes);
            $_simple_product = $_superProduct->getTypeInstance()->getSimpleProductByAttributes($_attribute_info_int, $_childProductSku);
            $_product_final_price = $priceHelper->currency($_simple_product->getPriceInfo()->getPrice('final_price')->getAmount()->getValue(), true, false);
            $_checkProductRule = $block->getProductChosenRuleDetail($_itemId, $_superProductId, $_childProductSku);
        }
    }else {
        if(!empty($savecartId)) {
            $_childSuperAttributes = $block->getChildSuperSavecartAttributes($savecartId, $_childProductId);
            $_childSuperCustomQuantity = $block->getChildSuperCustomQuantity($_itemId, $_superProductId, $_childProductId, $savecartId);
            if(!empty($_childSuperAttributes) ) {
                $_attribute_info_int = $_helperSuper->getAttributesInfo($_childSuperAttributes);
                $_simple_product = $_superProduct->getTypeInstance()->getSimpleProductByAttributes($_attribute_info_int, $_childProductSku);
                $_product_final_price = $priceHelper->currency($_simple_product->getPriceInfo()->getPrice('final_price')->getAmount()->getValue(), true, false); ;
                $_checkProductRule = $block->getProductChosenRuleDetail($_itemId, $_superProductId, $_childProductSku, $savecartId);
            }
        }else {
            if(!empty($paramshare)){
                $_childSuperAttributes = $_shareproductHelper->getChildSuperAttributes($paramshare, $_childProductId);
                $_childSuperCustomQuantity = $_shareproductHelper->getChildSuperCustomQuantity($paramshare, $_childProductId);

                if(!empty($_childSuperAttributes) ) {
                    $_attribute_info_int = $_helperSuper->getAttributesInfo($_childSuperAttributes);
                    $_simple_product = $_superProduct->getTypeInstance()->getSimpleProductByAttributes($_attribute_info_int, $_childProductSku);
                    $_product_final_price = $priceHelper->currency($_simple_product->getPriceInfo()->getPrice('final_price')->getAmount()->getValue(), true, false);
                    $_checkProductRule = $_shareproductHelper->getProductChosenRuleDetail($paramshare, $_superProductId, $_childProductSku);
                }
            }else{
                if(!empty($paramwishlist)) {
                    $_childSuperAttributes = $block->getChildSuperSavecartAttributes($paramwishlist, $_childProductId, 1);
                    $_childSuperCustomQuantity = $block->getChildSuperCustomQuantity($_itemId, $_superProductId, $_childProductId, $paramwishlist, 1);
                    if(!empty($_childSuperAttributes) ) {
                        $_attribute_info_int = $_helperSuper->getAttributesInfo($_childSuperAttributes);
                        $_simple_product = $_superProduct->getTypeInstance()->getSimpleProductByAttributes($_attribute_info_int, $_childProductSku);
                        $_product_final_price = $priceHelper->currency($_simple_product->getPriceInfo()->getPrice('final_price')->getAmount()->getValue(), true, false);
                        $_checkProductRule = $block->getProductChosenRuleDetail($_itemId, $_superProductId, $_childProductSku, $paramwishlist, 1);
                    }
                }
            }
        }
    }

    ?>

    <div class="configurable-wrapper options-wrapper">
        <?php if(empty($_childSuperAttributes)) { ?>
            <?php
            if(!empty($_itemId)) {
                $_checkProductRuleExclude = $block->getProductNotChosenRuleDetail($_itemId, $_superProductId, $_childProductSku);
            }else {
                if(!empty($paramshare)){
                    $shareproduct_id = $paramshare;
                    $_checkProductRuleExclude = $_shareproductHelper->getProductNotChosenRuleDetail($paramshare, $_superProductId, $_childProductSku);
                }else{
                    if(!empty($savecartId)) {
                        $_checkProductRuleExclude = $block->getProductNotChosenRuleDetail($_itemId, $_superProductId, $_childProductSku, $savecartId);
                    }else {
                        if(!empty($paramwishlist)) {
                            $_checkProductRuleExclude = $block->getProductNotChosenRuleDetail($_itemId, $_superProductId, $_childProductSku, $paramwishlist, 1);
                        }
                    }
                }
            }
            ?>
            <?php if($_checkProductRuleExclude['rule'] == true) { ?>
                <div id="super-<?= $_product->getId(); ?>" class="super-box-content disabled" data-sku="<?php echo $_configSku; ?>" data-producttype="<?php echo $_item->getType(); ?>" >
            <?php } else { ?>
                <div id="super-<?= $_product->getId(); ?>" class="super-box-content" data-sku="<?php echo $_configSku; ?>" data-producttype="<?php echo $_item->getType(); ?>" >
            <?php } ?>
        <?php } else { ?>
            <div id="super-<?= $_product->getId(); ?>" class="super-box-content" data-sku="<?php echo $_configSku; ?>" data-producttype="<?php echo $_item->getType(); ?>" >
        <?php } ?>
            <div class="super-item-name <?php if(empty($_childSuperAttributes) ) { echo 'narrowing';}?>">
                <?php if(empty($_childSuperAttributes)) { ?>
                    <?php
                    if(!empty($_itemId)) {
                        $_checkProductRuleExclude = $block->getProductNotChosenRuleDetail($_itemId, $_superProductId, $_childProductSku);
                    }else {
                        if(!empty($savecartId)) {
                            $_checkProductRuleExclude = $block->getProductNotChosenRuleDetail($_itemId, $_superProductId, $_childProductSku, $savecartId);
                        }else {
                            if(!empty($paramwishlist)) {
                                $_checkProductRuleExclude = $block->getProductNotChosenRuleDetail($_itemId, $_superProductId, $_childProductSku, $paramwishlist, 1);
                            }
                        }
                    }
                    ?>
                    <?php if($_checkProductRuleExclude) { ?>
                        <div class="super-check-box disabled"></div>
                    <?php } else { ?>
                        <div class="super-check-box disabled-check-box"></div>
                    <?php } ?>
                <?php } else { ?>
                    <?php if($_checkProductRule['rule'] == true) { ?>
                        <div class="super-check-box attr-checked attr-required"></div>
                    <?php } else { ?>
                        <div class="super-check-box attr-checked <?php if($_configRequired) { echo $_classRequire; } ?>"></div>
                    <?php } ?>
                <?php } ?>
                <h3 class="close-expanded"><strong><?php echo __($_configName); ?></strong></h3>
                <a class="super-icon-arrow close-expanded"></a>
                <a href="<?= $_product->getProductUrl()?>" class="super-icon-info" target="_blank"></a>
            </div>
            <div class="super-item-inner" <?php if(empty($_childSuperAttributes) ) { echo 'style="display: none;"';}?> >
                <div class="super-item image-sku">
                    <?php if(!empty($_itemId)) { ?>
                        <?php
                            $_simpleProductSku = $_configSku;
                            if(!empty($_childSuperAttributes) ) {
                                $_attribute_info_int = $_helperSuper->getAttributesInfo($_childSuperAttributes);
                                $_simple_product = $_superProduct->getTypeInstance()->getSimpleProductByAttributes($_attribute_info_int, $_childProductSku);
                                $_simpleProductSku = $_simple_product->getSku();
                            }
                        ?>
                        <div class="super-item-sku"><p><?php echo __('SKU: ' . $_simpleProductSku); ?></p></div>
                    <?php } else { ?>
                        <?php 
                            $_simpleProductSku = '';
                            if(!empty($paramwishlist)){
                                if(!empty($_childSuperAttributes) ) {
                                    $_attribute_info_int = $_helperSuper->getAttributesInfo($_childSuperAttributes);
                                    $_simple_product = $_superProduct->getTypeInstance()->getSimpleProductByAttributes($_attribute_info_int, $_childProductSku);
                                    $_simpleProductSku = $_simple_product->getSku();
                                }
                            }
                        ?>
                        <div class="super-item-sku"><p>SKU: <?php echo ($_simpleProductSku)? $_simpleProductSku : $_configSku; ?></p></div>
                    <?php } ?>
                    <?php 
                        $customerSession = $_objectManager->get('Magento\Customer\Model\Session');
                    ?>
                    <div class="super-item-price"><p><?php echo __('Price: '); ?><span><?php if($customerSession->isLoggedIn()) {
                        echo $_product_final_price ;
                    } ?></span></p></div>
                    <div class="super-item-image">
                        <div class="super-image-container">
                            <div class="super-image-item"></div>
                            <img class="addon-default-img" src="<?php echo $block->getProductThumbnailBySku($_configSku); ?>" alt="<?php echo __($_configName); ?>" title="<?php echo __($_configName); ?>" />
                        </div>
                    </div>
                </div>

                <?php
                    /**
                     *   Display Attributes
                     */
                    $_configurableData = array('configurable_attributes' => $_configurableAttributes, 'configurable_sku' => $_configSku);
                    $block->getChildBlock("knight.super.product.addon.configurable.rendered")->setData("configurable_data", $_configurableData);
                    echo $this->getChildHtml("knight.super.product.addon.configurable.rendered", false);
                    $_quantity = $_item->getQty();
                ?>
                <div class="super-box-tocart clearfix <?php if(empty($_childSuperAttributes)) { echo 'disabled'; }?>">
                    <div class="box-tocart">
                        <div class="fieldset clearfix">
                            <div class="field qty">
                                <label class="label" for="qty"><span><?= /* @escapeNotVerified */ __('Item Quantity') ?></span></label>
                                <div id="control-<?= $_product->getId(); ?>" class="control" data-id="<?= $_product->getId(); ?>">
                                    <input type="number" name="item-qty" class="input-text qty super-addon-qty <?php if($_configRequired || $_childSuperCustomQuantity != false) { echo 'option-selected'; } ?>"
                                           title="<?= /* @escapeNotVerified */ __('Item Quantity') ?>"
                                           value="<?php if($_childSuperCustomQuantity == false){echo $_quantity;}else{echo $_childSuperCustomQuantity;} ?>"
                                           data-id="<?= $_product->getId(); ?>"
                                           data-validate="<?= $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>" />
                                    <div class="super-qty-inner">
                                        <span class="add-on-plus plus"></span>
                                        <span class="add-on-minus minus"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <input type="hidden" class="step-required" value="0" />
            <input type="hidden" data-sku="<?php echo $_configSku; ?>" data-id="<?php echo $_product->getId(); ?>" data-quantity="<?php if($_childSuperCustomQuantity == false){echo $_item->getQty();}else{echo $_childSuperCustomQuantity;} ?>" class="product-total-cost <?php if($_childSuperAttributes) { echo 'total-selected'; } ?>" value="<?php if(!empty($_childSuperAttributes) ) {echo $_product_final_price;} ?>" />
        </div>
    </div>
<?php } ?>