<?php
$_helperImage = $this->helper('Knight\Theme\Helper\Image');
$_helperSuper = $this->helper('Brandsmith\SuperProduct\Helper\Data');
$_objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$request = $_objectManager->get('Magento\Framework\App\Request\Http');
$_imageUrl = $_helperImage->getMediaUrl();

$_item = $this->getItem();
$_simpleName = $_item->getName();
$_simpleSku = $_item->getSku();
$_simpleRequired = $_item->getRequired();

$_product = $block->getProductBySku($_item->getSku());

// Super Product
$_superProduct = $block->getCurrentProduct();
$_baseProduct = $block->getBaseProductId($_superProduct->getId());
$_baseSku = $_baseProduct->getSku();

$_product_id = $_product->getId();
// add for same add on added
if($_baseProduct->getProductId() != $_product_id) {
    $_product_id_temp = $block->getProductIdBySkuAddon($_superProduct->getId() , $_simpleSku);
    $skuArr = explode("_", $_simpleSku, 2);
    if (count($skuArr) > 1) {
        if($_product_id_temp == $skuArr[0]) {
            $_product_id = $_product_id_temp;
        }
    }

}
//end

//  Get Item Id from Page Cart
$param = $request->getParam('item_id');
$paramsavecart = $request->getParam('savecart_id');
$paramwishlist = $request->getParam('wishlist_id');
$paramshare = $request->getParam('share');
$_shareproductHelper = $_objectManager->get('\Knight\ShareProduct\Helper\Data');
?>
<?php if( empty($param) && empty($paramsavecart) && empty($paramwishlist) && empty($paramshare) ) { ?>
    <?php
    /*
     * Request Without Edit Cart
     * */
    ?>
<div class="simple-wrapper options-wrapper">
    <div id="super-<?= $_product_id; ?>" class="super-box-content disabled" data-sku="<?php echo $_simpleSku; ?>" data-producttype="<?php echo $_item->getType(); ?>">
        <div class="super-item-name narrowing">
            <div class="super-check-box simple-checkbox disabled-check-box <?php if($_simpleRequired) { echo 'attr-required'; } ?>"></div>
            <div class="product-title">
                <h3 class="close-expanded"><strong><?php echo __($_simpleName); ?></strong></h3>
                <a href="<?= $_product->getProductUrl()?>" class="super-icon-info" target="_blank"></a>
            </div>
            <a class="super-icon-arrow close-expanded"></a>
            
        </div>
        <div class="super-item-inner" style="display: none;">
            <?php
                echo $_product->getSis() !== 0 ? $this->getLayout()->createBlock('Brandsmith\TrafficLightStock\Block\Display')->setTemplate('Brandsmith_TrafficLightStock::product_gauge.phtml')->setData('product', $_product)->toHtml() : '';
            ?>
            <div class="super-item-sku"><p><?php echo __('SKU: ') . $_simpleSku; ?></p></div>
            <?php if($block->getCustomerInfo() != 'Guest'){ ?>
            <div class="super-item-price"><p><?php echo __('Price: '); ?><span>$<?= $_product->getPriceInfo()->getPrice('final_price')->getAmount()->getValue() ?></span></p></div>
            <?php }else{ ?>
            <div class="super-item-price"><p><?php echo __('Price: '); ?><span> </span></p></div>
            <?php }?>
            <div class="super-item-image">
                <div class="super-image-container">
                    <div class="super-image-item"></div>
                    <img class="addon-default-img" src="<?php echo $block->getProductThumbnailBySku($_simpleSku); ?>" alt="<?php echo __($_simpleName); ?>" title="<?php echo __($_simpleName); ?>" />
                </div>
            </div>


            <?php
            $_quantity = $_item->getQty();
            ?>
            <div class="super-box-tocart clearfix <?php if($_baseSku != $_simpleSku && $_simpleRequired != 1) { echo 'disabled'; }?>">
                <div class="box-tocart">
                    <div class="fieldset clearfix">
                        <div class="field qty">
                            <label class="label" for="qty"><span><?= /* @escapeNotVerified */ __('Item Quantity') ?></span></label>
                            <div id="control-<?= $_product_id; ?>" class="control" data-id="<?= $_product_id; ?>">
                                <input type="number" name="item-qty" class="input-text qty super-addon-qty <?php if($_simpleRequired) { echo 'option-selected'; } ?>"
                                       title="<?= /* @escapeNotVerified */ __('Item Quantity') ?>"
                                       value="<?= /* @escapeNotVerified */ $_quantity ?>"
                                       data-id="<?= $_product_id; ?>"
                                       data-validate="<?= $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>" />
                                <div class="super-qty-inner">
                                    <span class="add-on-plus plus"></span>
                                    <span class="add-on-minus minus"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <input type="hidden" class="step-required" value="1" />
        <input type="hidden" id="<?php echo $_product_id; ?>" data-type="<?php echo __('simple'); ?>" data-id="<?php echo $_product_id; ?>" data-sku="<?php echo $_simpleSku; ?>" class="list-add-on <?php if($_simpleRequired) { echo 'option-selected'; } ?>" value="<?php echo $_product_id; ?>" />
        <input type="hidden" data-sku="<?php echo $_simpleSku; ?>"  data-id="<?php echo $_product_id; ?>" data-quantity="<?php echo $_item->getQty(); ?>" class="product-total-cost <?php if($_simpleRequired) { echo 'total-selected'; } ?>" value="<?php echo $_product->getPriceInfo()->getPrice('final_price')->getAmount()->getValue(); ?>" />
    </div>
</div>
<?php } else { ?>
    <?php
    /*
     * Request Edit Cart
     * */
    ?>

    <?php
    $_itemId = $request->getParam('item_id');
    $_superProductId = $_superProduct->getId();
    //$_childProductId = $_product->getId();
    $_childProductId = $_item->getProductId();
    $_childProductSku = $_product->getSku();
    if(!empty($_itemId)) {
        $_childSuperSimple = $block->getChildSuperSimple($_itemId, $_superProductId, $_childProductId);
        $_checkProductRule = $block->getProductChosenRuleDetail($_itemId, $_superProductId, $_childProductSku);
        $_childSuperCustomQuantity = $block->getChildSuperCustomQuantity($_itemId, $_superProductId, $_childProductId);
    }else {
        if(!empty($paramshare)){
            $shareproduct_id = $paramshare;
            $_childSuperSimple = $_shareproductHelper->getChildSuperSimple($shareproduct_id, $_childProductId);
            $_checkProductRule = $_shareproductHelper->getProductChosenRuleDetail($shareproduct_id, $_superProductId, $_childProductSku);
            $_childSuperCustomQuantity = $_shareproductHelper->getChildSuperCustomQuantity($shareproduct_id, $_childProductId);
            
        }else{
            if(!empty($paramsavecart)) {
                $_childSuperSimple = $block->getChildSuperSimple($_itemId, $_superProductId, $_childProductId, $paramsavecart);
                $_checkProductRule = $block->getProductChosenRuleDetail($_itemId, $_superProductId, $_childProductSku, $paramsavecart);
                $_childSuperCustomQuantity = $block->getChildSuperCustomQuantity($_itemId, $_superProductId, $_childProductId, $paramsavecart);
            }else {
                if(!empty($paramwishlist)) {
                    $_childSuperSimple = $block->getChildSuperSimple($_itemId, $_superProductId, $_childProductId, $paramwishlist, 1);
                    $_checkProductRule = $block->getProductChosenRuleDetail($_itemId, $_superProductId, $_childProductSku, $paramwishlist, 1);
                    $_childSuperCustomQuantity = $block->getChildSuperCustomQuantity($_itemId, $_superProductId, $_childProductId, $paramwishlist, 1);
                }
            }
        }
    }

    $_classRequire = 'attr-required';
    $_classChecked = 'attr-checked';
    $_classDisabled = 'disabled';
    ?>
    <div class="simple-wrapper options-wrapper">
        <?php if($_childSuperSimple == false) { ?>
            <?php
            if(!empty($_itemId)) {
                $_checkProductRuleExclude = $block->getProductNotChosenRuleDetail($_itemId, $_superProductId, $_childProductSku);
            }else {
                if(!empty($paramshare)){
                    $shareproduct_id = $paramshare;
                    $_checkProductRuleExclude = $_shareproductHelper->getProductNotChosenRuleDetail($shareproduct_id, $_superProductId, $_childProductSku);
                }else{
                    if (!empty($paramsavecart)) {
                        $_checkProductRuleExclude = $block->getProductNotChosenRuleDetail($_itemId, $_superProductId, $_childProductSku, $paramsavecart);
                    }else {
                        if(!empty($paramwishlist)) {
                            $_checkProductRuleExclude = $block->getProductNotChosenRuleDetail($_itemId, $_superProductId, $_childProductSku, $paramwishlist, 1);
                        }
                    }
                }
            }

            ?>
            <?php if($_checkProductRuleExclude['rule'] == true) { ?>
                <div id="super-<?= $_product_id; ?>" class="super-box-content disabled" data-sku="<?php echo $_simpleSku; ?>" data-producttype="<?php echo $_item->getType(); ?>">
            <?php } else { ?>
                <div id="super-<?= $_product_id; ?>" class="super-box-content" data-sku="<?php echo $_simpleSku; ?>" data-producttype="<?php echo $_item->getType(); ?>">
            <?php } ?>
        <?php } else { ?>
            <div id="super-<?= $_product_id; ?>" class="super-box-content" data-sku="<?php echo $_simpleSku; ?>" data-producttype="<?php echo $_item->getType(); ?>">
        <?php } ?>

            <div class="super-item-name <?php if(!$_childSuperSimple) { echo 'narrowing'; }?>">
                <?php if($_childSuperSimple == false) { ?>
                    <div class="super-check-box simple-checkbox"></div>
                <?php } else { ?>
                    <?php if($_checkProductRule['rule'] == true) { ?>
                        <div class="super-check-box simple-checkbox attr-checked <?php echo $_classRequire; ?>"></div>
                    <?php } else { ?>
                        <div class="super-check-box simple-checkbox attr-checked <?php if($_simpleRequired) { echo $_classRequire; } ?>"></div>
                    <?php } ?>
                <?php } ?>
                <h3 class="close-expanded"><strong><?php echo __($_simpleName); ?></strong></h3>
                <a class="super-icon-arrow close-expanded"></a>
                <a href="<?= $_product->getProductUrl()?>" class="super-icon-info" target="_blank"></a>
            </div>
            <div class="super-item-inner" <?php if(!$_childSuperSimple) { echo 'style="display: none;"'; }?> >
                <?php
                    echo $_product->getSis() !== 0 ? $this->getLayout()->createBlock('Brandsmith\TrafficLightStock\Block\Display')->setTemplate('Brandsmith_TrafficLightStock::product_gauge.phtml')->setData('product', $_product)->toHtml() : '';
                ?>        
                <div class="super-item-sku"><p><?php echo __('SKU: ') . $_simpleSku; ?></p></div>
                <?php 
                    $customerSession = $_objectManager->get('Magento\Customer\Model\Session');
                ?>
                <div class="super-item-price"><p><?php echo __('Price: '); ?><span><?php if($customerSession->isLoggedIn()) {
                        echo '$'.$_product->getPriceInfo()->getPrice('final_price')->getAmount()->getValue() ;
                    } ?></span></p></div>
                <div class="super-item-image">
                    <div class="super-image-container">
                        <div class="super-image-item"></div>
                        <img class="addon-default-img" src="<?php echo $block->getProductThumbnailBySku($_simpleSku); ?>" alt="<?php echo __($_simpleName); ?>" title="<?php echo __($_simpleName); ?>" />
                    </div>
                </div>


                <?php
                    $_quantity = $_item->getQty();
                ?>
                <div class="super-box-tocart clearfix <?php if($_childSuperSimple == false) {echo 'disabled'; }?>">
                    <div class="box-tocart">
                        <div class="fieldset clearfix">
                            <div class="field qty">
                                <label class="label" for="qty"><span><?= /* @escapeNotVerified */ __('Item Quantity') ?></span></label>
                                <div id="control-<?= $_product_id; ?>" class="control" data-id="<?= $_product_id; ?>">
                                    <input type="number" name="item-qty" class="input-text qty super-addon-qty <?php if($_simpleRequired || $_childSuperCustomQuantity != false) { echo 'option-selected'; } ?>"
                                           title="<?= /* @escapeNotVerified */ __('Item Quantity') ?>"
                                           value="<?php if($_childSuperCustomQuantity == false){echo $_quantity;}else{echo $_childSuperCustomQuantity;} ?>"
                                           data-id="<?= $_product_id; ?>"
                                           data-validate="<?= $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>" />
                                    <div class="super-qty-inner">
                                        <span class="add-on-plus plus"></span>
                                        <span class="add-on-minus minus"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <input type="hidden" class="step-required" value="1" />
            <input type="hidden" id="<?php echo $_product_id; ?>" data-type="<?php echo __('simple'); ?>" data-id="<?php echo $_product_id; ?>" data-sku="<?php echo $_simpleSku; ?>" class="list-add-on <?php if($_childSuperSimple) { echo 'option-selected'; } ?>" value="<?php echo $_product_id; ?>" />
            <input type="hidden" data-sku="<?php echo $_simpleSku; ?>"  data-id="<?php echo $_product_id; ?>" data-quantity="<?php if($_childSuperCustomQuantity == false){echo $_item->getQty();}else{echo $_childSuperCustomQuantity;} ?>" class="product-total-cost <?php if($_childSuperSimple) { echo 'total-selected'; } ?>" value="<?php echo $_product->getPriceInfo()->getPrice('final_price')->getAmount()->getValue(); ?>" />
        </div>
    </div>
<?php } ?>
