<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Wishlist\Block\Catalog\Product\View\AddTo\Wishlist $block */
$product = $block->getProduct();
?>
<?php if ($block->isWishListAllowed()) : ?>
    <?php if($product->getTypeId() == 'super') { ?>
        <a href="#"
           class="action towishlist" id="super-add-wishlist"><span><?= __('Add to Favourites') ?></span></a>
       <?php }else { ?>
        <a href="#"
           class="action towishlist"
           data-post='<?= /* @noEscape */ $block->getWishlistParams() ?>'
           data-action="add-to-wishlist"><span><?= __('Add to Favourites') ?></span></a>
       <?php } ?>
<?php endif; ?>
<script type="text/x-magento-init">
    {
        "body": {
            "addToWishlist": <?= /* @noEscape */ $block->getWishlistOptionsJson() ?>
        }
    }
</script>
