<?php
$category_id = $block->getData('category_id');
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$categoryInstance = $objectManager->create('Magento\Catalog\Model\CategoryFactory');
$products = $categoryInstance->create()
                      ->load($category_id)
                      ->getProductCollection()
                      ->addAttributeToSelect('*')
					  ->setPage(0,8);
?>
<div class="gallery">
  <section data-featherlight-gallery="" data-featherlight-filter="a">
    <div class="unslider">
      <div class="slider">
        <ul class="unslider-wrap unslider-carousel">
          <li>
	<?php $count = 0; ?>    
    <?php   
    foreach($products as $top10): 
	
    $top10Product = $objectManager->create('Magento\Catalog\Model\Product')->load($top10->getId());
    $_imageHelper = $objectManager->get('Magento\Catalog\Helper\Image');
    $imageURL = $_imageHelper->init($top10Product, 'image', ['type'=>'image'])->keepAspectRatio(true)->resize(1200,900)->getUrl();
    ?>
        <div class="col-lg-3 col-md-3 col-sm-6">
        <img src="<?php echo $imageURL; ?>" />
        <h3><?php echo $top10Product->getName(); ?></h3>
		<p><?php if ($_description = $top10Product->getShortDescription()):?>       
            <?php echo $_description; ?>
		<?php endif; ?>
        </p>
        <a class="btn" href="<?php echo $top10Product->getProductUrl(); ?>">View Products</a></div>
        
        <?php  $count++; if($count%4==0){ ?> </li><li class="unslider-clone" style="width: 50%;"> <?php } ?>
    <?php endforeach; ?>
        </ul>
      </div>
      <?php /*?><a class="unslider-arrow next">Next</a><a class="unslider-arrow prev">Prev</a>
      <nav class="unslider-nav">
        <ol>
          <li data-slide="0">1</li>
          <li class="unslider-active" data-slide="1">2</li>
        </ol>
      </nav><?php */?>
    </div>
  </section>
</div>