<?php
$category_ids = $block->getData('category_id');
$ids = explode(',', $category_ids);
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$categoryFactory = $objectManager->create('Magento\Catalog\Model\ResourceModel\Category\CollectionFactory');
$categories = $categoryFactory->create()                              
    ->addAttributeToSelect('*')
    ->addAttributeToFilter('entity_id', $ids);
?>

<?php /*?><script type="text/javascript">

	require([
	    'jquery'
	], function ($) {

    $('.slider').unslider({
        infinite: true,
        autoplay: true,
        delay: 5000
    });

	});

</script><?php */?>
<div class="gallery">
  <section data-featherlight-gallery="" data-featherlight-filter="a">
    <div class="unslider">
      <div class="slider unslider-horizontal" style="position: relative; overflow: hidden;">
        <ul class="unslider-wrap unslider-carousel" style="width: 200%; margin-left: 0%; left: 0%;">
          <li class="unslider-clone" style="width: 50%;">

		<?php $count = 0; ?>    
		<?php  foreach($categories as $subcategory): ?>
        <div class="col-lg-3 col-md-3 col-sm-6"><img src="/pub/media/wysiwyg/planter.jpg<?php //echo $subcategory->getImageUrl(); ?>" />
        <h3><?php echo $subcategory->getName(); ?></h3>
		<p><?php if ($_description = $subcategory->getDescription()):?>       
            <?php echo $_description; ?>
		<?php endif; ?>
        </p>
        <a class="btn" href="<?php echo $subcategory->getUrl(); ?>">View Products</a></div>
	    <?php $count++; ?>
        <?php if($count%4==0){ ?> </li><li class="unslider-clone" style="width: 50%;"> <?php } ?>
        <?php endforeach; ?>
        </ul>
      </div>
      <a class="unslider-arrow next">Next</a><a class="unslider-arrow prev">Prev</a>
      <nav class="unslider-nav">
        <ol>
          <li data-slide="0">1</li>
          <li class="unslider-active" data-slide="1">2</li>
        </ol>
      </nav>
    </div>
  </section>
</div>

