//
//  Variables
//  _____________________________________________

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
 .cms-lookbook {
   .insidePage {
    h1 {
      font-size: 50px;
      line-height: 60px;
      margin-bottom: 20px;
      margin-top: 0px;
      font-family: 'galano_grotesquebold';
    }
   }
   .breadCrumb {
     display: none;
   }
   .page-wrapper {
     .header-top-wrapper {
       margin-top:29px;
     }
   }
 }
  .lookbook-post-view {
    .page-title-wrapper {
      h1 {
        font-size: 50px;
        line-height: 60px;
        margin-bottom: 20px;
        margin-top: 0px;
        font-family: 'galano_grotesquebold';
      }
    }
  }
  .lookbook-toolbar {
    clear: both;
    .toolbar-amount {
      display: none;
    }
    .label, .limiter {
      display: none;
    }
    .pager {
      li {
        margin: 0px 3px;
        .action, a {
          display: inline-flex;
          color: #1979c2;
        }
      }
    }
  }
  .lookbookLarge {
    .lbdescription {
      width: 300px !important;
      h4, a, p {
        margin-left: 0;
        margin-right: 0;
      }
    }
    .pin__popup--top:before {
      content: none;
    }
    .pin__opened {
      .pin__popup {
        bottom: auto;
        top: 100%;
        left: 30px;
      }
    }
    .pin__popup {
      bottom: auto;
      top: 100%;
      left: 30px;
      transition: none;
      opacity: 1;
      visibility: unset;
      &.pin__popup--right {
        top: 50%;
        left: 45px;
      }
    }
  }
}

//  Desktop
//  ---------------------------------------------
//
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
}

//  Tablet
//  ---------------------------------------------
//
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

}

//  Mobile
//  ---------------------------------------------
//

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {

}