<!--
  ~ Copyright © Brandsmith Commerce OÜ. All rights reserved.
  ~ See LICENSE.txt for license details.
  -->

<!-- ko if: isDisplayedEarnPoints() -->
<tr class="totals reward-points excl">
    <th class="mark" colspan="1" scope="row" data-bind="text: earn_points"></th>
    <td class="amount">
        <span class="price" data-bind="text: getEarnPoints(), attr: {'data-th': earn_points}"></span>
    </td>
</tr>
<!-- /ko -->
