<!--
  ~ Copyright © Brandsmith Commerce OÜ. All rights reserved.
  ~ See LICENSE.txt for license details.
  -->
<!-- ko if: isVisible -->
<li id="block-reward" class="wccf_field_container wccf_field_container_checkout_field wccf_field_container_radio wccf_field_container_checkout_field_radio ">
    <div class="step-content">
        <div class="step-title" data-role="title">Knight Loyalty Programme</div>
        <input type="hidden" name="wccf[checkout_field][120999]" id="_wccf_checkout_field_knight_loyalty_level3" value="" >
        <ul>
            <li>
                <input type="radio" value="checkout_discount"  data-bind="click: kupply('1'),attr:{checked: getChecked('1')}" name="wccf" id="wccf_checkout_field_knight_loyalty_level3_checkout_discount_5000" class="wccf wccf_checkout_field wccf_radio wccf_checkout_field_radio" data-wccf-checkout-pricing="1" data-wccf-field-id="120999">
                <label for="wccf_checkout_field_knight_loyalty_level3_checkout_discount_5000"> Checkout Discount <span class="wccf_price_label" data-bind="text: getPercentRewards()"></span></label>
            </li>
            <li>
                <input type="radio" value="knight_rewards" data-bind="click: kupply('2'), attr:{checked: getChecked('2')}" name="wccf" id="wccf_checkout_field_knight_loyalty_level3_knight_rewards_5000" class="wccf wccf_checkout_field wccf_radio wccf_checkout_field_radio" data-wccf-checkout-pricing="1" data-wccf-field-id="120999">
                <label for="wccf_checkout_field_knight_loyalty_level3_knight_rewards_5000"> Knight Rewards</label>
            </li>
        </ul>
        <small>Choose your preference of either a discount on this order, or Knight Reward Points which are redeemed at the end of each quarter.</small>
    </div>
</li>
<!-- /ko -->
