<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * @var \Magento\Theme\Block\Html\Header $block
 */
 
$_config = $this->helper('Sm\Zumi\Helper\Data');
$headerStyle = $_config->getThemeLayout('header_style');
$compile_less = $_config->getAdvanced('compile_less');

//include (dirname(__FILE__).'/header-style/'.$headerStyle.'.phtml');
include ($block->getTemplateFile("Magento_Theme::html/header-style/" . $headerStyle . ".phtml"));
if( $compile_less ){
	//include (dirname(__FILE__).'/compile_less.phtml');
	echo $this->getLayout()->createBlock("Magento\Theme\Block\Html\Header")->setTemplate("Magento_Theme::html/compile_less.phtml")->toHtml();
}
?>

<?php 
	if($_config->getAdvanced('show_newsletter_popup')){
		echo $block->getChildHtml('form.subscribe.popup'); 
	}
?>

<script type="text/javascript">
require([
	'jquery'
], function ($) {
	jQuery(document).ready(function(e) {
	        
		jQuery('.field input').each(function(index, element) {
			var title = jQuery(this).attr('title');
			jQuery(this).attr('placeholder',title);
			
			if(jQuery(this).attr('type') == 'checkbox' || jQuery(this).attr('type') == 'radio'){
				jQuery(this).next('label').addClass('display-imp');
			}
		
		});

    });

});
</script>

<?php if($_config->getGeneral('menu_ontop') == 1){ ?>
	<script type="text/javascript">
		require([
			'jquery'
		], function ($) {
			$window = $(window);
			if($('.header-bottom').length){
				menu_offset_top = $('.header-bottom').offset().top;
				function processScroll() {
					var scrollTop = $window.scrollTop();
					if ( scrollTop >= menu_offset_top) {
						$('.header-bottom').addClass('menu-on-top');
						$('body').addClass('body-on-top');
					} else if (scrollTop <= menu_offset_top) {
						$('.header-bottom').removeClass('menu-on-top');
						$('body').removeClass('body-on-top');
					}
				}
				processScroll();
				$window.scroll(function(){
					processScroll();
				});
			}
		});
	</script>
<?php } ?>
