<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
/**
 * @var $block \Magento\OfflinePayments\Block\Info\Checkmo
 */
$additional = $block->getInfo()->getAdditionalInformation();
$method_title = $block->escapeHtml($block->getMethod()->getTitle());
?>
<?php
if($additional) {
    if(isset($additional['method_title'])) {
        $method_title = $additional['method_title'];
    }
}
echo $method_title; ?>
<?php if ($block->getInfo()->getAdditionalInformation()): ?>
    <?php if ($block->getPayableTo()): ?>
        <br /><?= $block->escapeHtml(__('Make Check payable to: %1', $block->getPayableTo())) ?>
    <?php endif; ?>
    <?php if ($block->getMailingAddress()): ?>
        <label><?= $block->escapeHtml(__('Send Check to:')) ?></label>
        <div class="checkmo-mailing-address">
            <?= /* @noEscape */ nl2br($block->escapeHtml($block->getMailingAddress())) ?>
        </div>
    <?php endif; ?>
<?php endif; ?>
