<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
/**
 * @var \Magento\Payment\Block\Info $block
 * @see \Magento\Payment\Block\Info
 */

$method_title = $block->escapeHtml($block->getMethod()->getTitle());
if($block->getMethod()->getCode() == 'banktransfer') {
    $additional = $block->getInfo()->getAdditionalInformation();
    if ($additional) {
        if (isset($additional['method_title'])) {
            $method_title = $additional['method_title'];
        }
    }
}
?>
<p><?= $method_title ?></p>
<?php if ($block->getInstructions()): ?>
    <table>
        <tbody>
        <tr>
            <td><?= /* @noEscape */ nl2br($block->escapeHtml($block->getInstructions())) ?></td>
        </tr>
        </tbody>
    </table>
<?php endif; ?>
