<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
/**
 * @var $block \Magento\OfflinePayments\Block\Info\Purchaseorder
 */

$method_title = $block->escapeHtml($block->getMethod()->getTitle());
$additional = $block->getInfo()->getAdditionalInformation();
if($additional) {
    if(isset($additional['method_title'])) {
        $method_title = $additional['method_title'];
    }
}
?>
<div class="order-payment-method-name"><?php echo $method_title; ?></div>
<table class="data-table admin__table-secondary">
    <tr>
        <th><?= $block->escapeHtml(__('Purchase Order Number')) ?>:</th>
        <td><?= $block->escapeHtml($block->getInfo()->getPoNumber()) ?></td>
    </tr>
</table>
