<!--
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * @category  BSS
 * @package   Bss_OneStepCheckout
 * @author    Extension Team
 * @copyright Copyright (c) 2017-2018 BSS Commerce Co. ( http://bsscommerce.com )
 * @license   http://bsscommerce.com/Bss-Commerce-License.txt
 */
-->

<!-- ko foreach: getRegion('before_details') -->
<!-- ko template: getTemplate() --><!-- /ko -->
<!-- /ko -->
<div class="product-item-details" data-bind="attr:{sku: getSku($parent.item_id)}">
    <div class="product-item-inner">
        <div class="product-item-name-block">
            <strong class="product-item-name">
                <a data-bind="html: $parent.name, attr: {href: getProductUrl($parent.item_id)}"></a>
            </strong>
            <!-- ko if: (getType($parent.item_id) != "super")-->
            <div class="p-sku" data-bind="html: getSku($parent.item_id)"></div>
            <!-- /ko -->
            <div class="details-qty">
                <span class="label"><!-- ko i18n: 'Qty' --><!-- /ko --></span>
                <input type="number" class="input-text qty" data-bind="
                    value: $parent.qty,
                    event: {
                        change: function () {updateQty($parent);}
                    },
                    attr: {
                        title: titleQtyBox
                    }"/>
            </div>
            <!-- ko if: (getType($parent.item_id) != "super")-->
            <div class="alert-traffic-light summary-checkout-item  hide">
                <i class="fas fa-exclamation-triangle"></i>           
                <div class="content">
                    <p>Stock status has changed since this product was added to the cart</p>
                </div>
            </div>
            <!-- /ko -->
        </div>
        <!-- ko foreach: getRegion('after_details') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->

       
    </div>


    <!-- ko if: (getType($parent.item_id) == "super")-->
    <div class="product options super" data-bind="mageInit: {'collapsible':{'openedState': 'active'}}">
        <span data-role="title" class="toggle"><!-- ko i18n: 'View Details' --><!-- /ko --></span>
        <div data-role="content" class="content">
            <strong class="subtitle"><!-- ko i18n: 'Options Details' --><!-- /ko --></strong>
            <dl class="item-options" >
                <!--ko foreach: (getOptionsSuper($parent))-->
                <div class="p-item" data-bind="attr:{sku: product_simple_sku}">
                    <div class="p-name" data-bind="html: product_name"></div>
                    <div class="p-sku" data-bind="html: product_simple_sku"></div>
                    <!-- ko if: ($data.customoptions.length > 0)-->
                    <div class="option-super">
                        <!--ko foreach: ($data.customoptions)-->
                        <div class="option-line"><span class="label" data-bind="text: label"></span>:<span class="values" data-bind="html: value"></span></div>
                        <!-- /ko -->
                    </div>
                    <!-- /ko -->
                    <div class="p-image">
                        <img data-bind="attr: {src: product_thumbnail_img}" />
                    </div>
                    <div class="alert-traffic-light summary-checkout-item-super-product  hide">
                        <i class="fas fa-exclamation-triangle"></i>           
                        <div class="content">
                            <p>Stock status has changed since this product was added to the cart</p>
                        </div>
                    </div>
                </div>
                <!-- /ko -->

            </dl>
        </div>
    </div>
    <!-- /ko -->
    <!-- ko if: (getType($parent.item_id) != "super")-->
    <!-- ko if: (JSON.parse($parent.options).length > 0)-->
    <div class="product options" data-bind="mageInit: {'collapsible':{'openedState': 'active'}}">
        <span data-role="title" class="toggle"><!-- ko i18n: 'View Details' --><!-- /ko --></span>
        <div data-role="content" class="content">
            <strong class="subtitle"><!-- ko i18n: 'Options Details' --><!-- /ko --></strong>
            <dl class="item-options">
                <!--ko foreach: JSON.parse($parent.options)-->
                <dt class="label"><span data-bind="text: label"></span>:</dt>
                <!-- ko if: ($data.full_view)-->
                <dd class="values" data-bind="html: full_view"></dd>
                <!-- /ko -->
                <!-- ko ifnot: ($data.full_view)-->
                <dd class="values" data-bind="html: value"></dd>
                <!-- /ko -->
                <br/>
                <!-- /ko -->
            </dl>
        </div>
    </div>
    <!-- /ko -->
    <!-- /ko -->
</div>
