<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->create('Magento\Customer\Model\SessionFactory')->create();
$logger = false;
if($customerSession->isLoggedIn()) {
    $logger = true;
}

$helperCheckoutCart = $this->helper('Magento\Checkout\Helper\Cart');
$quote = $helperCheckoutCart->getQuote();
$useRemoveItem = $quote->getData('use_remove_item');
?>
<?php $mergedCells = ($this->helper('Magento\Tax\Helper\Data')->displayCartBothPrices() ? 2 : 1); ?>

<?= $block->getChildHtml('form_before') ?>
<div class="cart-grid">
    <form action="<?= /* @escapeNotVerified */ $block->getUrl('checkout/cart/updatePost') ?>"
          method="post"
          id="form-validate"
          data-mage-init='{"validation":{}}'
          class="form form-cart">
        <?= $block->getBlockHtml('formkey') ?>
        <div class="cart table-wrapper<?= $mergedCells == 2 ? ' detailed' : '' ?> table-responsive">
            <?php if ($block->getPagerHtml()): ?>
                <div class="cart-products-toolbar cart-products-toolbar-top toolbar" data-attribute="cart-products-toolbar-top"><?= $block->getPagerHtml() ?></div>
            <?php endif ?>
            <table id="shopping-cart-table"
                   class="cart items data table"
                   data-mage-init='{"shoppingCart":{"emptyCartButton": "action.clear",
                   "updateCartActionContainer": "#update_cart_action_container"}}'>
                <caption role="heading" aria-level="2" class="table-caption"><?= /* @escapeNotVerified */ __('Shopping Cart Items') ?></caption>
                <thead>
                <tr>
                    <th class="col-lg-2 col-md-2 col-sm-2"></th>
                    <th class="col-lg-4 col-md-4 col-sm-4" scope="col"><span><b><?= /* @escapeNotVerified */ __('Product') ?></b></span></th>
                    <th class="col-lg-2 col-md-2 col-sm-2" scope="col"><span><b><?= /* @escapeNotVerified */ __('Price') ?></b></span></th>
                    <th class="col-lg-2 col-md-2 col-sm-2" scope="col"><span><b><?= /* @escapeNotVerified */ __('Quantity') ?></b></span></th>
                    <th class="col-lg-2 col-md-2 col-sm-2" scope="col"><span><b><?= /* @escapeNotVerified */ __('Subtotal') ?></b></span></th>
                </tr>
                </thead>
                <?php $hasSuperProduct = false; ?>
                <?php foreach ($block->getItems() as $_item): ?>
                    <?php if($_item->getProduct()->getTypeId() == 'super') $hasSuperProduct = true; ?>
                    <?= $block->getItemHtml($_item) ?>
                <?php endforeach ?>
            </table>
            <?php if ($block->getPagerHtml()): ?>
                <div class="cart-products-toolbar cart-products-toolbar-bottom toolbar" data-attribute="cart-products-toolbar-bottom"><?= $block->getPagerHtml() ?></div>
            <?php endif ?>
        </div>

        <?php if($logger): ?>
            <div class="cart main actions">
                <button type="button"
                        name="remove_cart_action"
                        data-cart-empty=""
                        value="empty_cart"
                        title="<?= $block->escapeHtml(__('Remove Items')) ?>"
                        class="btn medium cartbuttons" id="remove_cart_items">
                    <span><?= /* @escapeNotVerified */ __('Remove Items') ?></span>
                </button>
                <input type="hidden" value="" id="items_cart_remove" data-cart-items-remove="" />
                <button type="submit"
                        name="update_cart_action"
                        data-cart-item-update=""
                        value="update_qty"
                        title="<?= $block->escapeHtml(__('Update Shopping Cart')) ?>"
                        class="btn medium cartbuttons">
                    <span><?= /* @escapeNotVerified */ __('Update Shopping Cart') ?></span>
                </button>
                <button type="submit"
                        name="update_cart_action"
                        data-cart-empty=""
                        value="empty_cart"
                        title="<?= $block->escapeHtml(__('Clear Shopping Cart')) ?>"
                        class="btn medium cartbuttons" id="empty_cart_button">
                    <span><?= /* @escapeNotVerified */ __('Clear Shopping Cart') ?></span>
                </button>
                <input type="hidden" value="" id="update_cart_action_container" data-cart-item-update=""/>
                
                <button class="btn medium cartbuttons" type="button"
                        name="savecart_cart_action" id="savecart_cart_action"
                        value="Save Cart"
                        title="<?php echo $block->escapeHtml(__('Save Cart')); ?>">
                    <span><i class="fas fa-save fontawesomeicon"></i>&nbsp;&nbsp;<?php /* @escapeNotVerified */ echo __('Save Cart'); ?></span>
                </button>
                
                <button data-bind="click:function(){}"
                        name="action_sharecart_link"
                        class="btn medium cartbuttons action_sharecart_link"
                        title="<?= $block->escapeHtml(__('Share Cart')) ?>"
                        >
                    <span><i class="fas fa-share-alt fontawesomeicon"></i>&nbsp;&nbsp;<?php /* @escapeNotVerified */ echo __('Share Cart'); ?></span>
                </button>
            </div>
        <?php endif; ?>
            <input type="hidden" value="" id="update_cart_action_container" data-cart-item-update=""/>
    </form>
</div>
    <div id="savecart-login" class="popup-modal" style="display:none;">
        <span>Before Saving into cart you must Login</span>
        <button id="savecartlogin">Login</button>
    </div>

    <div id="popup-modal" class="popup-modal" style="display:none;">

        <button id="newcart">New</button>
        <button id="existingcart">Existing</button>
    </div>

    <div id="newcart_popup-modal" class="popup-modal" style="display:none;">
        <span>Please set the title to save your Cart </span>
        <input type="text" id="txtcartname" required placeholder="Name Your Cart">
        <button id="savecart">Save Cart</button>
    </div>

    <div id="existing_cart_popup-modal" class="popup-modal" style="display:none;">

        <?php 
        $listblock = $objectManager->create('\Magecomp\Savecartpro\Block\Custcartlist');
        $cartlist = $listblock->CustomerCartList();
        if(sizeof($cartlist) > 0) :?>
            <span>Select a cart you want to update</span>
        <select id="slctupdate">

            <?php foreach($cartlist as $cart) { ?>
                    <option value="<?php echo $cart->getSavecartId(); ?>"><?php echo $cart->getCartName(); ?></option>
                    <?php
                }
            ?>
        </select>
        <button id="existingsavecart">Save Cart</button>
        <?php else: ?>
            <span><?php /* @escapeNotVerified */ echo __('You don\'t have any Existing Saved Cart'); ?></span>
       <?php  endif; ?>

    </div>

<?php //echo $block->getChildHtml('checkout.cart.order.actions') ?>
<?php //echo $block->getChildHtml('shopping.cart.table.after'); ?>
<?php
// Custom Code
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$storeurl = $storeManager->getStore()->getBaseUrl();
$redirect = $objectManager->get('Magento\Framework\App\RequestInterface');
$lasturl = $redirect->getServer('HTTP_REFERER');
if(strpos($lasturl,'savecartpro/customer/viewcart/qid') !== false || strpos($lasturl,'savecartpro/customer/cartlist') !== false) { ?>
	<script>
	require([
        'Magento_Customer/js/customer-data'
    ], function (customerData) {
        var sections = ['cart'];
        customerData.invalidate(sections);
    });
	document.getElementById('update_cart_action').click();

	</script>
<?php } ?>

<script>
    require(
        [
            'jquery',
            'Magento_Ui/js/modal/modal'
        ],
        function(
            $,
            modal
        ) {
            var options = {
                type: 'popup',
                responsive: true,
                innerScroll: true,
                title: '<b>Save Cart</b>'

            };
            var redirectlink;
            var popup = modal(options, $('#popup-modal'));
            var popuplog=modal(options, $('#savecart-login'));
            $("#savecart_cart_action").on('click',function(){
                var body = $('body').loader();
                body.loader('show');
                $.ajax({
                    url: "<?php echo $storeurl."savecartpro/customer/isloggedin"; ?>",
                    type: 'POST',
                    data: {},
                    success: function(response){
                        var body = $('body').loader();
                        body.loader('hide');
                        if (response.redirectUrl!="") {
                            redirectlink=response.redirectUrl;
                            $("#savecart-login").modal("openModal");
                            window.location.href = response.redirectUrl;
                        } else {
                            $("#popup-modal").modal("openModal");
                        }

                    },
                });

            });

            var popup1 = modal(options, $('#newcart_popup-modal'));
                    $("#newcart").on('click',function(){
                        $(".modal-header h1 b").text("Save Cart");
                        $("#newcart_popup-modal").modal("openModal");
                        $('#popup-modal').modal('closeModal');
                    });

            var popup2 = modal(options, $('#existing_cart_popup-modal'));
            $("#existingcart").on('click',function(){
                $(".modal-header h1 b").text("Your Existing Saved Carts");
                $("#existing_cart_popup-modal").modal("openModal");
                $('#popup-modal').modal('closeModal');
            });
            $("#savecart").on('click',function(e){
                e.preventDefault();
                var cartname=$('#txtcartname').val();
                var body = $('body').loader();
                body.loader('show');
                $.ajax({
                    url: "<?php echo $storeurl."savecartpro/index/save"; ?>",
                    type: 'POST',
                    data: {
                        cartname:cartname,
                        qty:1
                    },
                    success: function(response){
                        var body = $('body').loader();
                        body.loader('hide');
                        if (response.redirectUrl!="") {
                            window.location.href = response.redirectUrl;
                        }

                    },
                    error: function(data) {
                        var body = $('body').loader();
                        body.loader('hide');
                        location.reload();
                    }
                });
            });
            $("#existingsavecart").on('click',function(event){
                event.preventDefault();
                var selectedCart = $("#slctupdate option:selected").val();
                var cartname = $("#slctupdate option:selected").text();
                var body = $('body').loader();
                body.loader('show');
                $.ajax({
                    url: "<?php echo $storeurl."savecartpro/index/updatesavedcart"; ?>",
                    type: 'POST',
                    data: {
                        cartname:cartname,
                        savecartid:selectedCart,
                        qty:1
                    },
                    success: function(response){
                        var body = $('body').loader();
                        body.loader('hide');
                        if (response.redirectUrl!="") {
                            window.location.href = response.redirectUrl;
                        }
                    },
                    error: function(data) {
                        var body = $('body').loader();
                        body.loader('hide');
                        location.reload();
                    }
                });

            });
            $("#savecartlogin").on('click',function() {
                document.location.href=redirectlink;
            });

        }
    );
</script>
<script type="text/javascript">
    require([
        'jquery'
    ], function ($) {
        $('.qty-plus').click(function () {
            var target = $(this).parent().find('input.qty');
            target.val(Number(target.val())+1);
        });

        $('.qty-minus').click(function () {
            var target = $(this).parent().find('input.qty');
            var value = Number(target.val())-1;
            if(value > 0){
                target.val(value);
            }
        });
    });
</script>
