<?php

/** @var \AddressFinder\AddressFinder\Block\Checkout $block */
?>
<?php if ($block->isEnabled()): ?>

    <script>
        require(['addressfinder_magento', 'addressfinder', 'domReady!'], function (AddressFinderMagento, AddressFinder) {
            var options = {
                licenceKey: "<?=$block->getLicenceKey()?>",
                <?php if ($block->isDebugMode()): ?>
                    debugMode: true,
                <?php endif ?>
                <?php if ($block->hasWidgetOptions()): ?>
                    widgetOptions: "<?=$block->getWidgetOptionsEscaped()?>",
                <?php endif ?>
                attachToParent: true,
                fieldMappings: {
                    ".form-shipping-address input[name='street[0]']": {
                        addressLine2: "input[name='street[1]']",
                        addressLine3: "input[name='street[2]']",
                        city: "input[name=city]",
                        region: "input[name=region]",
                        postcode: "input[name=postcode]",
                        country: "select[name=country_id]",
                        region_id: "select[name=region_id]"
                    }
                }
            };

            window.AddressFinder = AddressFinder;

            new AddressFinderMagento.Checkout(options).start();
        });
    </script>
    <script>
        require(['addressfinder_magento', 'addressfinder', 'domReady!'], function (AddressFinderMagento, AddressFinder) {
            var options_2 = {
                licenceKey: "<?=$block->getLicenceKey()?>",
                <?php if ($block->isDebugMode()): ?>
                debugMode: true,
                <?php endif ?>
                <?php if ($block->hasWidgetOptions()): ?>
                widgetOptions: "<?=$block->getWidgetOptionsEscaped()?>",
                <?php endif ?>
                attachToParent: true,
                fieldMappings: {
                    ".form-billing-address input[name='street[0]']": {
                        addressLine2: "input[name='street[1]']",
                        addressLine3: "input[name='street[2]']",
                        city: "input[name=city]",
                        region: "input[name=region]",
                        postcode: "input[name=postcode]",
                        country: "select[name=country_id]",
                        region_id: "select[name=region_id]"
                    }
                }
            };

            window.AddressFinder = AddressFinder;

            new AddressFinderMagento.Checkout(options_2).start();
        });
    </script>

<?php endif ?>
