<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Category view template
 *
 * @var $block \Magento\Catalog\Block\Category\View
 */
?>
<?php 
$currentCate = $block->getCurrentCategory();
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$subcategories = $currentCate->getChildrenCategories();
if(count($subcategories) >0) { ?>
<div class="row">
<?php foreach($subcategories as $subcate) { ?>
<?php $cat = $objectManager->create('Magento\Catalog\Model\Category')->load($subcate->getId()); ?>
   <div class="col-lg-2 col-md-3 col-sm-4">
		<div class="productCat <?php if(!$cat->getImageUrl()){ ?> no-catimg <?php } ?>">
			<a href="<?php echo $cat->getUrl(); ?>">
			<?php if ($_imgUrl = $cat->getImageUrl()) { ?>
			<?php $_imgHtml = '<img src="' . $_imgUrl . '" alt="' . $block->escapeHtml($subcate->getName()) . '" title="' . $block->escapeHtml($subcate->getName()) . '" class="" />'; 
				echo $_imgHtml;
			?>
			<?php } ?>
			<span class="submenutitle" ><?php echo $subcate->getName(); ?></span>
			</a>
		</div>
   </div>
<?php }?>
</div>
<?php } ?>