<?php 
	$cartTimeLimit = $block->cartTimeLimit();
    $warning_text = $block->getWarningCart();
    $warning_text = str_replace('{{cart_time}}', $cartTimeLimit , $warning_text );
    $alert_text = $block->getPopupMessege();
    $customerId = $block->getCustomerId();
    $isShowNote = $block->isEnableWarningCart();
?>
<?php if($isShowNote == 1){?>
<div id="automove_cart_notice" class="cart_notice"><?php echo $warning_text; ?></div>
<?php } ?>
<div id="automove_cart" class="popup-modal" style="display:none;">
    <div class="content-alert"><?php echo $alert_text; ?></div>
</div>

<script>
	requirejs(['pusher','jquery','Magento_Ui/js/modal/modal'], function(Pusher, $, modal) {
		// Enable pusher logging - don't include this in production			
		// var pusher = new Pusher('0838c334fcd4ae230387', {
		// cluster: 'ap1'
		// });			

		// Enable pusher logging - don't include this in production
		Pusher.logToConsole = true;

		var pusher = new Pusher('lotus', {
			'wsHost': 'pusher.knightgroup.co.nz',
			'wssPort': '8443',
			'secret': 'admin@123',
			'appId': 'knight'
		});

        var channel = pusher.subscribe('traffic-light-stock');
        channel.bind('cart-<?php echo $customerId ?>', function(data) {
			window.location.href = '/checkout/cart?warning=1';
		});
        
        jQuery(document).ready(function($) {
            var options = {
                type: 'popup',
                responsive: true,
                innerScroll: false,
                modalClass: "automove_cart_pop",
                buttons: []
            };
            var automove_cart_popup = modal(options, $('#automove_cart'));
        	var getUrlParameter = function getUrlParameter(sParam) {
			    var sPageURL = window.location.search.substring(1),
			        sURLVariables = sPageURL.split('&'),
			        sParameterName,
			        i;

			    for (i = 0; i < sURLVariables.length; i++) {
			        sParameterName = sURLVariables[i].split('=');

			        if (sParameterName[0] === sParam) {
			            return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
			        }
			    }
			};
			var showarning = getUrlParameter('warning');
            if ( (typeof showarning !== "undefined") && (showarning == 1) ){
                $('#automove_cart').modal("openModal");
            }
        });
	});
</script>