@media (min-width: 1200px) {

}

@media (min-width: 992px) and (max-width: 1199px) {
    .thumbs-product .item-img{
        margin: 10px 1px;
    }

    .col-left .sm-listing-tabs .products-grid .item .item-inner .box-image{
        width: 100%;
        float: none;
    }

    .col-left .sm-listing-tabs .products-grid .item .item-inner .box-info{
        margin: 0;
        padding: 10px 0 20px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .slidershow{
        margin-left: 0;
    }

    .banner-content{
        margin-right: 0;

        .item{
            width: 49%;
            float: right;

            img{
                width: 100%;
            }

            &:last-child{
                float: left;
            }
        }
    }

    .thumbs-product .item-img{
        margin: 10px 1px;
    }

    .col-left .sm-listing-tabs .products-grid .item .item-inner .box-image{
        width: 100%;
        float: none;
    }

    .col-left .sm-listing-tabs .products-grid .item .item-inner .box-info{
        margin: 0;
        padding: 10px 0 20px;
    }

    .call-us .static-image img{
        width: 100%;
    }

    .client-slider{
        margin-bottom: 40px;
    }
}

@media (max-width: 767px) {
    .slidershow{
        margin-left: 0;
    }

    .banner-content{
        margin-right768: 0;

        .item{
            img{
                width: 100%;
            }
        }
    }

    .thumbs-product .item-img{
        margin: 10px 1px;
    }

    .col-left .sm-listing-tabs .products-grid .item .item-inner .box-image{
        width: 100%;
        float: none;
    }

    .col-left .sm-listing-tabs .products-grid .item .item-inner .box-info{
        margin: 0;
        padding: 10px 0 20px;
    }

    .call-us .static-image img{
        width: 100%;
    }

    .client-slider{
        margin-bottom: 40px;
    }
}

@media (max-width: 480px) {
    .home-page-1 .title-home-page .link-title{
        display: none;
    }
}