@media (min-width: 1200px) {
    .home-page-1 .newsletter-bottom{
        padding: 50px 0 70px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .thumbs-product .item-img{
        margin: 10px 1px;
    }

    .col-left .sm-listing-tabs .products-grid .item .item-inner .box-image{
        width: 100%;
        float: none;
    }

    .col-left .sm-listing-tabs .products-grid .item .item-inner .box-info{
        margin: 0;
        padding: 10px 0 20px;
    }
}

@media (min-width:991px) and (max-width:1024px){
    .track-order, .store-location{
        margin-left:5px;
    }
    .track-order a, .store-location a, .toplinks > .header.links > li > a{
        font-size:12px;
    }
    .header-middle-2{
        height:auto;
    }
    .header-middle-2 .col-right{
        width:50%;
    }
    .sm-searchbox-content .field.searchbox .input-text{
        padding:0 0 0 160px;

    }
    .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu > li:not(:last-child){
        margin-right: 20px;
    }
    .header-style-1 .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li.sm_megamenu_actived > a span:not(.sm_megamenu_title){
        padding: 10px 5px;
    }
    .banner-content .item{
        margin-top:6px;
    }
    .home-page-1 .index-banner-top .banner-full .content-mid [class*="col-"]{
        float:left;
        margin:0 72px;
    }
    .home-page-1 .daily-deal .block-content-products .product-item .item-inner .box-image{
        width:95px;
        height:95px;
    }
    .header-bottom .container{
        margin:0 15px;
        padding: 0;
    }
    .home-page-1 .hot-categories-home .item .content-box .wrap-cat .parent-cat .cat-title a{
        font-size: 12px;
    }
      .home-page-1 .hot-categories-home .item .content-box .wrap-cat a{
          font-size:11px;
      }
    .sm_megamenu_wrapper_vertical_menu .sm_megamenu_menu li a.sm_megamenu_head{
        padding:7px 10px;
    }
    .more-w .more-view{
        padding:21px;
        border-bottom: 1px solid #fff;
    }
    .fancybox-close {
        background: url(../images/icon-close-popup.png) no-repeat center center !important;
    }
    .home-page-1 .policy .wrap-item .item-content p{
        font-size:12px;
    }
    .home-page-1 .newsletter-bottom{
        padding: 12px 0 50px;
    }
    .social-title{
        display:block;
        padding-top: 6px;
        float: left;
    }
    .aboutus-page .row-1 .wrap-about-item{
        img{
            min-height: 80px;
        }
    }
    .aboutus-page .row-2{
        padding:20px 0;
    }
    .aboutus-page .row-3{
        .col-sm-6{
            width:25%;
            float: left;
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .header-top .header-links-top .checkout-link {
        display: none;
    }

    .slidershow {
        margin-right: 0;
    }

    .banner-content {
        margin-left: 0;

        .item {
            width: 100%;
            float: left;

            img {
                width: 100%;
            }

            &:last-child {
                float: right;
            }
        }
    }

    .thumbs-product .item-img {
        margin: 10px 1px;
    }

    .col-left .sm-listing-tabs .products-grid .item .item-inner .box-image {
        width: 100%;
        float: none;
    }

    .col-left .sm-listing-tabs .products-grid .item .item-inner .box-info {
        margin: 0;
        padding: 10px 0 20px;
    }

    .call-us .static-image img {
        width: 100%;
    }

    .client-slider {
        margin-bottom: 40px;
    }

    .home-page-1 {
        .wrap-slidershow {
            padding: 0 10px;
        }
        .index-banner-top {
            .wrap-slidershow {
                padding: 0 10px;
                .slidershow .owl-controls .owl-dots {
                    bottom: 0;
                }
            }
            .banner-full {
                .content-mid {
                    [class*="col-"] {
                        float: left;
                    }
                    .content {
                        .item {
                            margin: 0;
                            font-size: 14px;
                        }
                    }
                    .item-center {
                        font-size: 14px;
                        margin: 0;
                    }
                    .item-icon {
                        margin: 0;
                        padding-top: 7px;
                    }
                }
            }
        }

        .daily-deal {
            .deals-countdown {
                .title-daily-deal {
                    display: block;
                }
            }
            .block-content-products {
                .product-item {
                    border-right: none;
                    .item-inner {
                        border-top: 1px solid #ddd !important;
                    }
                }
            }
            .static-image {
                img {
                    width: 100%;
                }
            }
        }
        .hot-categories-home {
            .image-cat {
                img {
                    width: 100%;
                }
            }
        }
        .static-image {
            img {
                width: 100%;
                margin-bottom: 10px;
            }
        }
        .policy {
            .wrap-item {
                margin-bottom: 10px;
            }
        }
        .newsletter-bottom {
            padding: 0;
        }
    }

    .minicart-content {
        padding-left: 5px;
    }

    .header-style-1 .header-top .minicart-header .minicart-wrapper::before {
        position: absolute;
        top: 40%;
        right: 30px;
    }

    .toplinks {
        float: none;
    }
    .header-style-1 .header-middle .toplinks .track-order, .header-style-1 .header-middle .toplinks .store-location{
        margin-left: 190px;
    }
    .header-middle-2 .quicklinks-inner a{
        font-size: 10px;
    }
    .header-style-1 .header-bottom{
        .container{
            .border_radius(0);
        }
    }
    .home-page-1 .index-banner-top .banner-full .content-mid [class*="col-"]{
        margin: 0 60px;
    }
    .home-page-1 .newsletter-bottom{
        margin: 30px 0;
    }
    .home-page-1 .newsletter-bottom:before{
        background: 0;
    }
    .home-page-1 .newsletter-bottom p{
        color: #222;
    }
    .page-footer .footer-wrapper .footer-style-1 .footer-top .app-list li{
        margin:0 0 10px 0;
    }
    .page-footer .footer-wrapper .footer-style-1 .footer-top{
        padding-top: 20px;
    }
    .page-footer .footer-wrapper .footer-style-1 .footer-top .social-container{
        padding-left: 0;
    }
    .aboutus-page .row-1 .wrap-about-item{
        img{
            min-height: 65px;
        }
    }
    .aboutus-page .row-2:before{
        background: none;
    }
    .aboutus-page .row-2 .wrap-item-counter .counter, .aboutus-page .row-2 .wrap-item-counter .title-counter{
        color: #222;
    }
    .blog-index-index .post-list .post-holder, .blog-category-view .post-list .post-holder{
        width: 50%;
    }
    .home-page-1 .index-banner-top .banner-full .content-mid [class*="col-"]{
        margin:0 55px;
    }
}
@media (max-width: 767px) {
    .slidershow{
        margin-right: 0;
    }
    .header-top .header-links-top .checkout-link{
        display: none;
    }
    .banner-content{
        margin-left: 0;

        .item{
            img{
                width: 100%;
            }
        }
    }

    .thumbs-product .item-img{
        margin: 10px 1px;
    }

    .col-left .sm-listing-tabs .products-grid .item .item-inner .box-image{
        width: 100%;
        float: none;
    }

    .col-left .sm-listing-tabs .products-grid .item .item-inner .box-info{
        margin: 0;
        padding: 10px 0 20px;
    }

    .call-us .static-image img{
        width: 100%;
    }

    .client-slider{
        margin-bottom: 40px;
    }
}

@media (min-width:667px) and (max-width:767px){
    .home-page-1 .hot-categories-home .sm-categories .col-sm-6{
        width:50%;
        float:left;
        margin-bottom:15px;
        img{
            width:100%;
        }
    }
    .aboutus-page .row-3 .col-sm-6{
        width:50%;
        float:left;
    }
    .aboutus-page .row-5 .col-sm-4{
        width:33.3%;
        float:left;
        margin-bottom:5px;
    }
}

@media (min-width:640px) and (max-width:767px){
    .home-page-1 .hot-categories-home .sm-categories .col-sm-6{
        width:50%;
        float:left;
        margin-bottom:15px;
        img{
            width:100%;
        }
    }
    .aboutus-page .row-3 .col-sm-6{
        width:50%;
        float:left;
    }
    .aboutus-page .row-5 .col-sm-4{
        width:33.3%;
        float:left;
        margin-bottom:5px;
    }
}

@media(max-width:667px){
    .home-page-1 .index-banner-top .banner-full .content-mid [class*="col-"]{
        float: left;
        margin:0 15px;
    }
    .home-page-1 .wrap-slidershow{
        margin:0 10px;
        padding:0;
    }
    .deals-countdown .deals-time.title-daily-deal{
        display:block;
    }
    .home-page-1 .banner-full{
        padding:20px 0 30px;
    }
    .banner-content .item{
        float:left;
    }

    .home-page-1 .static-image .item{
        margin-bottom:5px;
    }
    .home-page-1 .newsletter-bottom::before{
        background:none;
    }
    .home-page-1 .newsletter-bottom{
        padding:20px 0;
    }
    .home-page-1 .newsletter-bottom p{
        color:#222;
    }
    .footer-top .app-list{
        flex-flow: column;
    }
    .footer-top .app-list li{
        margin:0 0 5px;
    }
    .footer-top .app-list li:first-child{
        margin:0;
    }
    .social-container{
        padding: 0;
        text-align: center;
    }
    .aboutus-page .row-2::before{
        background:none;
    }
    .aboutus-page .row-2 .wrap-item-counter .counter, .aboutus-page .row-2 .wrap-item-counter .title-counter{
        color:#222;
    }
}

@media(max-width:640px){
    .home-page-1 .index-banner-top .banner-full .content-mid [class*="col-"]{
        float: left;
        margin:0 15px;
    }
    .home-page-1 .wrap-slidershow{
        margin:0 10px;
        padding:0;
    }
    .deals-countdown .deals-time.title-daily-deal{
        display:block;
    }
    .home-page-1 .banner-full{
        padding:20px 0 30px;
    }
    .banner-content .item{
        float:left;
    }

    .home-page-1 .static-image .item{
        margin-bottom:5px;
    }
    .home-page-1 .newsletter-bottom::before{
        background:none;
    }
    .home-page-1 .newsletter-bottom{
        padding:20px 0;
    }
    .home-page-1 .newsletter-bottom p{
        color:#222;
    }
    .footer-top .app-list{
        flex-flow: column;
    }
    .footer-top .app-list li{
        margin:0 0 5px;
    }
    .footer-top .app-list li:first-child{
        margin:0;
    }
    .social-container{
        padding: 0;
        text-align: center;
    }
    .aboutus-page .row-2::before{
        background:none;
    }
    .aboutus-page .row-2 .wrap-item-counter .counter, .aboutus-page .row-2 .wrap-item-counter .title-counter{
        color:#222;
    }
}

@media (max-width: 480px) {
    .home-page-1 .title-home-page .link-title{
        display: none;
    }
    .header-style-1 .header-bottom{
        background: none;
        .container{
            .border_radius(0);
        }
    }
    .group-product .product-item{
        float: none;
        width: 100%;
    }
    .home-page-1{
        .index-banner-top{
            .wrap-slidershow{
                padding:0 10px;
                .slidershow .owl-controls .owl-dots{
                    bottom:0;
                }
            }
            .banner-full{
                .content-mid{
                    [class*="col-"]{
                        float:left;
                    }
                    .content{
                        .item{
                            margin:0;
                            font-size:14px;
                        }
                    }
                    .item-center{
                        font-size:14px;
                        margin:0;
                    }
                    .item-icon{
                        margin:0;
                        padding-top:7px;
                    }
                }
            }
        }
        .daily-deal{
            margin-top:60px;
            .deals-countdown{
                padding:5px 15px;
                .deals-time{
                    font-size:15px;
                    padding:0;
                    min-width:20px;
                    .sperator{
                        margin:0;
                    }
                }
                .title-daily-deal{
                    display:block;
                }
            }
            .block-content-products{
                .product-item{
                    border-right:none;
                    .item-inner{
                        border-top:1px solid #ddd !important;
                    }
                }
            }
        }
        .hot-categories-home{
            [class*="col-"]{
                margin-bottom:20px;
            }
            .item{
                .content-box{
                    .image-cat{
                        img{
                            width:100%;
                        }
                    }
                }
            }
        }
        .static-image{
            .item{
                margin-bottom:10px;
            }
        }
        .tab-best-sellers{
            margin-bottom:35px;
            .sm-listing-tabs .ltabs-tabs-container .ltabs-tabs{
                flex-direction: column;
                .ltabs-tab .ltabs-tab-label{
                    padding:0 25px;
                }
            }
        }
        .policy{
            margin-bottom:35px;
            .wrap-item{
                margin-bottom:10px;
            }
        }
        .newsletter-bottom{
            padding:0;
            &:before{
                background:none;
            }
            .title, .sub-title{color:#222;}
        }
    }
    .home-page-1 .group-product .group-product-inner .products-grid .item-1, .home-page-1 .group-product .group-product-inner .products-grid .item-2, .home-page-1 .group-product .group-product-inner .products-grid .item-3{
        margin:0 0 0 5px;
    }
    .home-page-1 .daily-deal .deals-countdown .deals-time .num-time{
        min-width: 20px;
    }
    .home-page-1 .group-product .group-product-inner.gp-1{
        margin-bottom: 15px;
    }
    .home-page-1 .newsletter-bottom{
        margin-top:30px;
    }
    .page-footer .footer-wrapper .footer-style-1 .footer-top{
        padding-top:20px;
    }
    .page-footer .footer-wrapper .footer-style-1 .footer-top .app-list li{
        margin-right: 0;
    }
    .page-footer .footer-wrapper .footer-style-1 .footer-top .social-container{
        padding: 0;
    }
}

@media (max-width:375px){
    .home-page-1 .banner-full{
        padding: 20px 0 0;
    }
    .home-page-1 .daily-deal .deals-countdown{
        padding:5px;
    }
    .language-wrapper, .currency-wrapper{
        padding-right:7px;
        margin-right:5px;
    }
    .home-page-1 .newsletter-bottom p.title{
        font-size:15px;
    }
    .banner-full .content-mid .content{
        padding:0 8px;
    }
}

@media (max-width:360px){
    .home-page-1 .banner-full{
        padding: 20px 0 0;
    }
    .home-page-1 .daily-deal .deals-countdown{
        padding:5px;
    }
    .language-wrapper, .currency-wrapper{
        padding-right:7px;
        margin-right:5px;
    }
    .home-page-1 .newsletter-bottom p.title{
        font-size:15px;
    }

}
@media (max-width: 320px){
    .language-wrapper, .currency-wrapper{
        padding-right: 3px;
        margin-right: 1px;
    }
    .header-top .language-currency-top .top-email{
        margin-right: 5px;
    }

    .home-page-1 .newsletter-bottom p.title{
        font-size:13px;
    }
}