/**
 * Home 1
 */

.home-page-1{
    padding-top: 15px;

    .title-home-page{
        border-bottom: 2px solid #eee;
        text-transform: uppercase;
        color: #222;
        font-size: 150%;
        font-weight: 600;
        margin-bottom: 30px;

        span{
            display: inline-block;
            padding-bottom: 5px;
            position: relative;

            &:before{
                content: "";
                display: block;
                position: absolute;
                left: 0;
                right: 0;
                bottom: -2px;
                height: 2px;
            }
        }

        .link-title{
            font-weight: normal;
            text-transform: none;
            font-size: 77.77%;
            float: left;
            position: relative;
            top: 5px;
            color: #666;

            &:after{
                .font-awesome(f0d9,14px);
                margin-right: 10px;
            }
        }
    }

    .owl-controls .owl-nav div{
        background-color: #fff;
        width: 44px;
        height: 44px;
        line-height: 44px;
        color: #aaa;
        .box_shadow(0px 2px 3px rgba(0,0,0,0.2));
        .border_radius(50%);

        &:hover{
            color: #fff;
        }

        &:before{
            font-size: 24px;
            line-height: 44px;
        }
    }

    .list-slider{
        margin-bottom: 50px;
    }
}

.top-tags{
    background-color: #f5f5f5;
    padding: 10px 0;
    margin-bottom: 10px;

    ul li{
        display: inline-block;
        vertical-align: top;

        &:not(:last-child){
            margin-left: 25px;
        }

        &:first-child{
            color: #222;
        }

        a{
            opacity: .8;

            &:hover{
                opacity: 1;
            }
        }
    }
}

.slidershow{
    margin-bottom: 20px;
    margin-left: -5px;

    .owl-controls{
        .owl-nav{
            opacity: 0;
            .transition(.2s);

            div{
                position: absolute;
                top: 50%;
                margin-top: -22px;

                &.owl-next{
                    right: 20px;
                }

                &.owl-prev{
                    left: 20px;
                }
            }
        }

        .owl-dots{
            position: absolute;
            bottom: 15px;
            left: 0;
            right: 0;

            .owl-dot{
                width: 30px;
                height: 6px;
                background-color: #fff;
                margin: 0 5px;
                .border_radius(3px);
            }
        }
    }

    &:hover{
        .owl-controls .owl-nav{
            opacity: 1;
        }
    }
}

.banner-content{
    margin-right: -15px;
    margin-bottom: 10px;

    .static-image{
        margin-bottom: 0;
    }

    .item{
        margin-bottom: 10px;
    }
}

.tab-sale{
    margin-bottom: 20px;
}

.sm-listing-tabs .ltabs-tabs-container{
    left: 0;
    right: auto;
}

.sm-listing-tabs .ltabs-tabs-container .ltabs-tabs li{
    float: right;
}

.sm-listing-tabs .ltabs-tabs-container .ltabs-tabs li:not(:first-child){
    margin-right: 35px;
    margin-left: 0;
}

.sm-listing-tabs{
    .deals-countdown{
        background: none;
        margin: 0;
        padding: 8px 0 0;
        .deals-time{
            height: 31px;
            line-height: 31px;
            margin: 0 6px;
            color: #fff;
            font-size: 150%;
            position: relative;
            .border_radius(4px);
            &:not(:last-child){
                &:before{
                    content: ":";
                    font-size: 15px;
                    position: absolute;
                    right: -9px;
                    top: 0;
                    color: #333;
                    line-height:38px;
                }
            }

            .title-time{
                display: none;
            }
        }
    }

    .owl-controls .owl-nav div{
        position: absolute;
        top: 30%;
        margin-top: -22px;

        &.owl-next{
            right: -22px;
        }

        &.owl-prev{
            left: -22px;
        }
    }
}

.col-left{
    .sm-listing-tabs{
        margin-bottom: 40px;

        .title-home-page{
            span{
                display: inline-block;
                color: #fff;
                padding: 5px 20px;
                .border_radius(4px 4px 0 0);

                &:before{
                    display: none!important;
                }
            }
        }

        .products-grid .item{
            .product-item-info{
                position: relative;

                &:not(:first-child){
                    border-top: 1px solid #e5e5e5;
                    padding-top: 30px;

                    &:before{
                        content: "";
                        display: block;
                        width: 50px;
                        height: 1px;
                        background-color: #e5e5e5;
                        position: absolute;
                        top: -1px;
                        right: -40px;
                    }
                }

                &:last-child .item-inner{
                    margin-bottom: 0;
                }
            }

            .item-inner{
                &:after{
                    content: "";
                    display: block;
                    clear: both;
                }

                .box-image{
                    width: 200px;
                    float: right;
                }

                .box-info{
                    direction: rtl;
                    margin-right: 220px;
                    text-align: unset;
                    padding-top: 5px;

                    .product-item-description{
                        margin: 5px 0 15px;
                    }

                    .bottom-action{
                        position: static;
                        opacity: 1;
                        visibility: visible;
                    }

                    .product-reviews-summary,
                    .product-name{
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }

        .owl-controls .owl-nav div{
            top: 50%;
            margin-top: -25px;
        }
    }
}

.call-us{
    margin-bottom: 50px;

    .static-image{
        margin: 0;
    }

    .services-content{
        border: 1px solid #e5e5e5;
        border-top: none;
        padding: 0 20px;

        li{
            display: table;
            width: 100%;
            padding: 20px 0;

            &:not(:last-child){
                border-bottom: 1px solid #e5e5e5;
            }

            .sv-icon{
                display: table-cell;
                vertical-align: middle;
                width: 45px;
                text-align: center;
            }

            .sv-content{
                display: table-cell;
                vertical-align: middle;
                font-size: 108.33%;
                padding-right: 10px;

                h4{
                    text-transform: uppercase;
                    color: #333;
                    font-size: 100%;
                    font-weight: 600;
                }

                p{
                    color: #999;
                    margin: 0;
                }
            }
        }
    }
}

.latest-post-container{
    margin-bottom: 50px;

    .title-home{
        border-bottom: 2px solid #eee;
        text-transform: uppercase;
        color: #222;
        font-size: 133.33%;
        font-weight: 600;
        padding-bottom: 5px;
        margin-bottom: 30px;
    }

    .image-blog{
        margin-bottom: 10px;
    }

    .info-blog{
        direction: rtl;
    }

    .date-post{
        margin: 2px 0 6px;

        &:before{
            .font-awesome(f274,13px);
            margin-right: 2px;
        }
    }

    .postTitle{
        font-size: 116.67%;
    }

    .owl-dots{
        position: absolute;
        left: 0;
        top: -58px;

        .owl-dot.active{
            width: 30px;
            .border_radius(4px);
        }
    }
}

.client-slider{
    border: 1px solid #e5e5e5;
    padding: 25px 5px 20px;
    text-align: center;
    .border_radius(4px);

    .client-image{
        width: 84px;
        height: 84px;
        overflow: hidden;
        margin: 0 auto 8px;
        .border_radius(50%);

        img{
            .border_radius(50%);
        }
    }

    .client-name{
        font-size: 116.67%;
        font-weight: 600;
        color: #222;
        margin-bottom: 8px;
    }

    .client-description{
        margin-bottom: 10px;
        position: relative;
        padding: 0 15px;

        &:before,
        &:after{
            position: absolute;
            color: #eee;
        }

        &:after{
            margin-left: 7px;
            .font-awesome(f10e,20px);
        }

        &:before{
            margin-left: -25px;
            .font-awesome(f10d,20px);
        }
    }

    .owl-dots{
        .owl-dot.active{
            width: 30px;
            .border_radius(4px);
        }
    }
}

.brand-slider{
    margin-bottom: 50px;

    .brand-content{
        border: 1px solid #e5e5e5;
        overflow: hidden;
        .border_radius(4px);

        .slider-content{
            margin: 0 -1px;
        }

        .item{
            border-right: 1px solid #e5e5e5;

            img{
                .border_radius(4px);
            }
        }
    }

    .owl-dots{
        position: absolute;
        left: 0;
        top: -58px;

        .owl-dot.active{
            width: 30px;
            .border_radius(4px);
        }
    }
}

.group-product{
    margin-bottom: 20px;

    .products-grid .item .item-inner .image-thumbs{
        padding: 1px;
        border: 1px solid #e5e5e5;
    }
}

.sm-listing-tabs{
    .owl-controls .owl-nav{
        opacity: 0;
        .transition(.2s);
    }

    &:hover{
        .owl-controls .owl-nav{
            opacity: 1;
        }
    }
}

.col-left {
    .products-grid .item .item-inner{
        .box-info{
            .product-name{
                padding: 6px 0;
            }

            .bottom-action .tocart{
                opacity: 0;
                visibility: hidden;
                .transition(.2s);
            }
        }

        &:hover{
            .box-info .bottom-action .tocart{
                opacity: 1;
                visibility: visible;
            }
        }
    }
}
