/**
 * Home 1
 */

.home-page-1{
    .title-home-page{
        text-align:center;
        text-transform: uppercase;
        margin-bottom:30px;
        color:#222;
        font-size:20px;
        font-weight: 700;
        &:after{
            content:'';
            height:2px;
            width:60px;
            display:block;
            margin:0 auto;
            margin-top:20px;
        }

        .link-title{
            font-weight: 500;
            text-transform: none;
            font-size: 14px;
            float: right;
            position: relative;
            top: 5px;
            color: #666;

            &:after{
                .font-awesome(f0da,14px);
                margin-left: 10px;
            }
        }
    }

    .owl-controls .owl-nav div{
        background-color: #fff;
        width: 44px;
        height: 44px;
        line-height: 44px;
        color: #aaa;
        .box_shadow(0px 2px 3px rgba(0,0,0,0.2));
        .border_radius(50%);

        &:hover{
            color: #fff;
        }

        &:before{
            font-size: 24px;
            line-height: 44px;
        }
    }

    .list-slider{
        margin-bottom: 50px;
    }
    .daily-deal{
        position:relative;
        border:1px solid #ddd;
        padding:40px 20px 0;
        .border_radius(8px);
        margin-top:70px;
        .static-image{
            margin:5px 0 30px 0;
        }
        .deals-countdown{
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            padding:8px 25px;
            .border_radius(20px);
            color:#fff;
            font-weight:600;
            text-transform: uppercase;
            font-size:18px;
            .deals-time{
                .num-time{
                    background:#fff;
                    .border_radius(5px);
                    padding:0 3px;
                    float:left;
                    min-width: 30px;
                }
                .sperator{
                    display:inline-block;
                    margin:0 5px;
                }
                .title-time{
                    display:none;
                }
                &.time-secs{
                    .num-time{
                        float:none;
                    }
                }
            }
        }
        .block-content-products{
            .product-item{
                border-right:1px solid #ddd;
                .item-inner{
                    margin:0 40px 0 20px;
                    border-top:1px solid #ddd;
                    .box-image{
                        height:110px;
                        width:110px;
                        float:left;
                        margin-right:10px;
                    }
                    .product-item-details{
                        padding-top:20px;
                        .product-name{
                            font-size:14px;
                            font-weight: 500;
                        }
                        .product-reviews-summary{
                            .reviews-actions{
                                display:none;
                            }
                        }
                    }
                }
            }
            [class*="col-"]:nth-child(1), [class*="col-"]:nth-child(2), [class*="col-"]:nth-child(3){
                .product-item{
                    .item-inner{
                        border-top:none;
                    }
                }
            }
            [class*="col-"]:nth-child(3n+0){
                .product-item{
                    border-right:none;
                }
            }
        }
    }
    .wrap-slidershow{
        padding-left:0;
        padding-right:10px;
    }
    .index-banner-top{
        position: relative;
        z-index:1;
        padding-bottom:20px;
        &:before{
            background-color:#fff;
            position: absolute;
            top: 0;
            left: -1000px;
            right: -1000px;
            display: block;
            min-height: 100%;
            background-size:1920px auto;
            background-repeat: no-repeat;
            background-position: top center;
            content: '';
            z-index:-1;
        }
        .inner-slidershow{
            background:#fff;
            padding-bottom:15px;
            .border_radius(0 0 5px 5px);
            .box_shadow(0 2px 3px rgba(136,136,136,0.3));

        }
    }
    .banner-full{
        text-align:center;
        padding:20px 0 70px;
        .title{
            font-size:26px;
            color:#222;
            text-transform:uppercase;
            margin-bottom:3px;
            text-align:center;
        }
        .sub-title{
            text-transform: uppercase;
            letter-spacing:2px;
            margin-top:10px;
        }
        .content-mid{
            background:#fd6500;
            color:#fff;
            .border_radius(60px);
            .content{
                display: flex;
                justify-content: center;
                align-items: center;
                .item{
                    text-transform: uppercase;
                    font-weight:bold;
                    margin:10px 0;
                    font-size:22px;
                    line-height:25px;
                    img{
                        margin-right:10px;
                    }
                }
            }
            .item-center{
                text-align:left;
                text-transform: uppercase;
                font-size:22px;
                line-height:25px;
                margin:10px 0;
                font-weight:600;
            }
            .item-icon{
                margin:20px 0;
                .fa{
                    padding:10px 15px;
                    border:1px solid #fff;
                    .border_radius(50%);
                    cursor: pointer;
                }
            }
        }
    }
    .hot-categories-home{
        margin:70px 0;
        .title-home{
            text-align:center;
            text-transform: uppercase;
            margin-bottom:30px;
            h2{
                color:#222;
                font-size:20px;
                font-weight: 700;
                &:after{
                    content:'';
                    height:2px;
                    width:60px;
                    display:block;
                    margin:0 auto;
                    margin-top:20px;
                }
            }
        }
        .item{
            a{
                position: relative;
                &:before{
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    bottom: 0;
                    left: 0;
                    background-color: #fff;
                    width: 0%;
                    transition: 0.3s ease all .3s;
                    -webkit-transition: 0.3s ease all .3s;
                    -moz-transition: 0.3s ease all .3s;
                }
                &:hover:before{
                    width: 100%;
                }
            }
            .content-box{
                position:relative;
                .image-cat{
                    margin:0;
                }
                .wrap-cat{
                    position:absolute;
                    bottom:0;
                    left:0;
                    width:100%;
                    padding:10px 20px;
                    opacity:0.9;
                    .border_radius(0 0 5px 5px);
                    a{
                        color:#fff;
                        font-size: 13px;
                    }
                    .parent-cat{
                        .cat-title{
                            a{
                                font-size:16px;
                                font-weight: 700;
                            }
                        }
                    }
                    .child-cat{
                        ul li{
                            padding:2px 0;
                        }
                    }
                }
            }
            .view-more{
                padding:10px 0;
                text-align:center;
                margin-top:5px;
                .border_radius(5px);
                a{
                    color:#fff;
                    font-size:14px;
                    font-weight: 400;
                }
            }
            &.item-0{
                .content-box{
                    .wrap-cat{
                        background:#21988a;
                    }
                }
                .view-more{
                    background:#21988a;
                }

            }
            &.item-1{
                .content-box{
                    .wrap-cat{
                        background:#5e516c;
                    }
                }
                .view-more{
                    background:#5e516c;
                }
            }
            &.item-2{
                .content-box{
                    .wrap-cat{
                        background:#f26a0f;
                    }
                }
                .view-more{
                    background:#f26a0f;
                }
            }
            &.item-3{
                .content-box{
                    .wrap-cat{
                        background:#de2432;
                    }
                }
                .view-more{
                    background:#de2432;
                }
            }
        }
    }
    .group-product{
        .products-grid{
            .product-item{
                .sm_quickview_handler{
                    display:none;
                }
            }
            display: grid;
            display: -ms-grid;
            grid-template-columns: 50% 50%;
            -ms-grid-template-columns: 50% 50%;
            grid-template-rows: 33.33% 33.33% 33.33%;
            -ms-grid-template-rows: 33.33% 33.33% 33.33%;
            .item-inner{
                border:none;
                margin-bottom:0;
                .product-item-link{
                    white-space: normal !important;
                }
                .border_radius(0);
                &:hover{
                    .box_shadow(none);

                }
                .box-info{
                    padding:5px 20px;
                }
            }
            .item-0{
                grid-column: 1 ;
                -ms-grid-column: 1 ;
                grid-row: 1/4;
                -ms-grid-row:1/4;
            }
            .item-1{
                grid-column: 2 ;
                -ms-grid-column: 2 ;
                grid-row: 1;
                -ms-grid-row: 1;
            }
            .item-2{
                grid-column: 2 ;
                -ms-grid-column: 2 ;
                grid-row: 2;
                -ms-grid-row: 2;
            }
            .item-3{
                grid-column: 2 ;
                -ms-grid-column: 2 ;
                grid-row: 3;
                -ms-grid-row: 3;
            }
            .item-1, .item-2, .item-3{
                .item-inner{
                    margin-bottom:0;
                    &:hover{
                        .box-image{
                            .product-item-photo:before{
                                background:none;
                            }
                        }
                    }
                    .sm_quickview_handler{
                        display:none;
                    }
                }
                .image-thumbs{
                    width:90px;
                    height:90px;
                    float:left;
                }
                .product-item-details{
                    padding:0;
                }
            }
        }
        .group-product-inner{
            border:1px solid #ddd;
            .border_radius(6px);
            .title-home-page{
                margin:0;
                text-align: left;
                padding:8px 15px;
                border-bottom:1px solid #ddd;
                &:after{
                    display:none;
                }
            }
            .products-grid{
                margin:15px 5px;
                .first-item{
                    border-right:1px solid #ddd;
                }
                .item-1, .item-2, .item-3{
                    padding-top:15px;
                    margin:0 15px;
                    border-top:1px solid #ddd;
                }
                .item-1{
                    border-top:none;
                }
            }
            &.gp-1{
                border-top:3px solid @color_primary;
                .title-home-page{
                    color:@color_primary;
                }
            }
            &.gp-2{
                border-top:3px solid #fd6500;
                .title-home-page{
                    color:#fd6500;
                }
            }
        }
    }
    .tab-best-sellers{
        margin: 70px 0 40px;
        .sm-listing-tabs{
            .ltabs-tabs-container{
                .ltabs-tabs{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    margin-bottom:30px;
                    .ltabs-tab{
                        .ltabs-tab-label{
                            padding:10px 25px;
                            .border_radius(20px);
                            background:#e1e1e1;
                            .transition(all .3s);
                        }
                        &.tab-sel, &:hover{
                            .ltabs-tab-label{
                                color:#fff;
                            }
                        }

                    }
                }
            }
        }
    }
    .policy{
        margin-bottom:70px;
        .wrap-item{
            display:flex;
            flex-direction: row;
            padding:8px;
            border:1px solid #ebebeb;
            .transition(all .3s);
            min-height: 75px;
            .border_radius(35px);
            .item-img{
                height:55px;
                width:55px;
                line-height:55px;
                text-align:center;
                .border_radius(50%);
                margin-right:20px;
            }
            .item-content{
                padding-top:8px;
                p{
                    margin:0;
                    font-size: 14px;
                    font-weight: 500;
                    &.title{
                        text-transform: uppercase;
                        color:#222;
                        //font-weight:600;
                    }
                }
            }
        }
    }
    .newsletter-bottom{
        margin-top: 70px;
        p{
            margin:0;
            color:#fff;
            &.title{
                font-size:20px;
                font-weight:600;
            }
        }
        .newsletter-content{
            margin-top:15px;
            .input-box{
                position:relative;
                input{
                    padding:0 25px 0 40px;
                    .border_radius(6px 0 0 6px);
                    height:52px;
                    line-height: 52px;
                }
                &:before{
                    .font-awesome(f0e0,14px);
                    position:absolute;
                    left:0;
                    top:0;
                    margin:0 10px 0 20px;
                    height: 52px;
                    line-height: 52px;
                    color:#999;
                }
            }
            .action-button{
                .subscribe{
                    .border_radius(0 6px 6px 0);
                    height: 52px;
                    line-height: 52px;
                    &:hover{
                        background:#444;
                    }
                }
            }
        }
    }
}

.top-tags{
    background-color: #f5f5f5;
    padding: 10px 0;
    margin-bottom: 10px;

    ul li{
        display: inline-block;
        vertical-align: top;

        &:not(:last-child){
            margin-right: 25px;
        }

        &:first-child{
            color: #222;
        }

        a{
            opacity: .8;

            &:hover{
                opacity: 1;
            }
        }
    }
}

.slidershow{
    margin-bottom:25px;
    .owl-controls{
        .owl-nav{
            opacity: 0;
            .transition(.2s);

            div{
                position: absolute;
                top: 50%;
                margin-top: -22px;

                &.owl-next{
                    right: 20px;
                }

                &.owl-prev{
                    left: 20px;
                }
            }
        }

        .owl-dots{
            position: absolute;
            bottom: -30px;
            left: 0;
            right: 0;

            .owl-dot{
                width: 10px;
                height: 10px;
                background-color: #c1c1c1;
                margin: 0 5px;
                .border_radius(50%);
                &.active{
                    background:none !important;
                }
            }
        }
    }

    &:hover{
        .owl-controls .owl-nav{
            opacity: 1;
        }
    }
}

.banner-content{
    .static-image{
        margin-bottom: 0;
    }

    .item{
        margin-top: 17px;
    }
}

.tab-sale{
    margin-bottom: 20px;
}

.sm-listing-tabs{
    .deals-countdown{
        background: none;
        margin: 0;
        padding: 8px 0 0;

        .deals-time{
            height: 31px;
            line-height: 31px;
            margin: 0 6px;
            color: #fff;
            font-size: 150%;
            position: relative;
            .border_radius(4px);

            &:not(:last-child){
                &:before{
                    content: ":";
                    font-size: 15px;
                    position: absolute;
                    right: -9px;
                    top: 0;
                    color: #333;
                    line-height:38px;
                }
            }

            .title-time{
                display: none;
            }
        }
    }

    .owl-controls .owl-nav div{
        position: absolute;
        top: 30%;
        margin-top: -22px;

        &.owl-next{
            right: -22px;
        }

        &.owl-prev{
            left: -22px;
        }
    }
}

.col-left{
    .sm-listing-tabs{
        margin-bottom: 40px;

        .title-home-page{
            span{
                display: inline-block;
                color: #fff;
                padding: 5px 20px;
                .border_radius(4px 4px 0 0);

                &:before{
                    display: none!important;
                }
            }
        }

        .products-grid .item{
            .product-item-info{
                position: relative;

                &:not(:first-child){
                    border-top: 1px solid #e5e5e5;
                    padding-top: 30px;

                    &:before{
                        content: "";
                        display: block;
                        width: 50px;
                        height: 1px;
                        background-color: #e5e5e5;
                        position: absolute;
                        top: -1px;
                        right: -40px;
                    }
                }

                &:last-child .item-inner{
                    margin-bottom: 0;
                }
            }

            .item-inner{
                &:after{
                    content: "";
                    display: block;
                    clear: both;
                }

                .box-image{
                    width: 200px;
                    float: left;
                }

                .box-info{
                    margin-left: 220px;
                    text-align: unset;
                    padding-top: 5px;

                    .product-item-description{
                        margin: 5px 0 15px;
                    }

                    .bottom-action{
                        position: static;
                        opacity: 1;
                        visibility: visible;
                    }

                    .product-reviews-summary,
                    .product-name{
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }

        .owl-controls .owl-nav div{
            top: 50%;
            margin-top: -25px;
        }
    }
}

.call-us{
    margin-bottom: 50px;

    .static-image{
        margin: 0;
    }

    .services-content{
        border: 1px solid #e5e5e5;
        border-top: none;
        padding: 0 20px;

        li{
            display: table;
            width: 100%;
            padding: 20px 0;

            &:not(:last-child){
                border-bottom: 1px solid #e5e5e5;
            }

            .sv-icon{
                display: table-cell;
                vertical-align: middle;
                width: 45px;
                text-align: center;
            }

            .sv-content{
                display: table-cell;
                vertical-align: middle;
                font-size: 108.33%;
                padding-left: 10px;

                h4{
                    text-transform: uppercase;
                    color: #333;
                    font-size: 100%;
                    font-weight: 600;
                }

                p{
                    color: #999;
                    margin: 0;
                }
            }
        }
    }
}

.latest-post-container{
    margin-bottom: 50px;

    .title-home{
        border-bottom: 2px solid #eee;
        text-transform: uppercase;
        color: #222;
        font-size: 133.33%;
        font-weight: 600;
        padding-bottom: 5px;
        margin-bottom: 30px;
    }

    .image-blog{
        margin-bottom: 10px;
    }

    .date-post{
        margin: 2px 0 6px;

        &:before{
            .font-awesome(f274,13px);
            margin-right: 2px;
        }
    }

    .postTitle{
        font-size: 116.67%;
    }

    .owl-dots{
        position: absolute;
        right: 0;
        top: -58px;

        .owl-dot.active{
            width: 30px;
            .border_radius(4px);
        }
    }
}

.client-slider{
    border: 1px solid #e5e5e5;
    padding: 25px 5px 20px;
    text-align: center;
    .border_radius(4px);

    .client-image{
        width: 84px;
        height: 84px;
        overflow: hidden;
        margin: 0 auto 8px;
        .border_radius(50%);

        img{
            .border_radius(50%);
        }
    }

    .client-name{
        font-size: 116.67%;
        font-weight: 600;
        color: #222;
        margin-bottom: 8px;
    }

    .client-description{
        margin-bottom: 10px;
        position: relative;
        padding: 0 15px;

        &:before,
        &:after{
            position: absolute;
            color: #eee;
        }

        &:after{
            margin-left: 7px;
            .font-awesome(f10e,20px);
        }

        &:before{
            margin-left: -25px;
            .font-awesome(f10d,20px);
        }
    }

    .owl-dots{
        .owl-dot.active{
            width: 30px;
            .border_radius(4px);
        }
    }
}

.brand-slider{
    margin-bottom: 50px;

    .brand-content{
        border: 1px solid #e5e5e5;
        overflow: hidden;
        .border_radius(4px);

        .slider-content{
            margin: 0 -1px;
        }

        .item{
            border-right: 1px solid #e5e5e5;

            img{
                .border_radius(4px);
            }
        }
    }

    .owl-dots{
        position: absolute;
        right: 0;
        top: -58px;

        .owl-dot.active{
            width: 30px;
            .border_radius(4px);
        }
    }
}

.group-product{
    margin: 70px 0;
}

.sm-listing-tabs{
    .owl-controls .owl-nav{
        opacity: 0;
        .transition(.2s);
    }

    &:hover{
        .owl-controls .owl-nav{
            opacity: 1;
        }
    }
}

.col-left {
    .products-grid .item .item-inner{
        .box-info{
            .product-name{
                padding: 6px 0;
            }

            .bottom-action .tocart{
                opacity: 0;
                visibility: hidden;
                .transition(.2s);
            }
        }

        &:hover{
            .box-info .bottom-action .tocart{
                opacity: 1;
                visibility: visible;
            }
        }
    }
}
body:not(.cms-index-index){
    .megamenu-content-sidebar .btn-megamenu{
        margin-top:0;
    }
}
body.cms-index-index{
	.header-top-wrapper{
		display:none;
	}
}
.home-1-style{
    .sm-listing-tabs{
        .products-grid{
            .product-item-info{
                .action-bottom{
                    display:none;
                }
                .box-info{
                    .product.actions{
                        display: none;
                    }
                }
            }
        }
    }
}

