abs-action-button-as-link,.action-additional,.data-grid .action-delete{
    line-height:1.36;
    padding:0;
    color:#41362f;
    text-decoration:none;
    background:none;
    border:0;
    display:inline;
    font-weight:400;
    border-radius:0;
}
.abs-action-button-as-link:visited,.action-additional:visited,.data-grid .action-delete:visited{
    color:#41362f;
    text-decoration:none;
}
.abs-action-button-as-link:hover,.action-additional:hover,.data-grid .action-delete:hover{
    color:#41362f;
    text-decoration:none;
}
.abs-action-button-as-link:active,.action-additional:active,.data-grid .action-delete:active{
    color:#ff5501;
    text-decoration:none;
}
.abs-action-button-as-link:hover,.action-additional:hover,.data-grid .action-delete:hover{
    color:#41362f;
}
.abs-action-button-as-link:hover,.abs-action-button-as-link:active,.abs-action-button-as-link:focus,.action-additional:hover,.action-additional:active,.action-additional:focus,.data-grid .action-delete:hover,.data-grid .action-delete:active,.data-grid .action-delete:focus{
    background:none;
    border:0;
}
.abs-action-button-as-link.disabled,.abs-action-button-as-link[disabled],fieldset[disabled] .abs-action-button-as-link,.action-additional.disabled,.action-additional[disabled],fieldset[disabled] .action-additional,.data-grid .action-delete.disabled,.data-grid .action-delete[disabled],fieldset[disabled] .data-grid .action-delete{
    color:#41362f;
    opacity:.5;
    cursor:default;
    pointer-events:none;
    text-decoration:none;
}
.abs-action-button-as-link:focus,.action-additional:focus,.data-grid .action-delete:focus{
    color:#41362f;
}
.data-grid .status,.data-grid .manage-images{
    text-align:center;
}
.data-grid .status button{
    padding: 5px 15px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    text-align:center;
    width: 70%
}
.data-grid .status button.ready{
    background: #90c447;
    border: #90c447;
}
.data-grid .status button.not-ready{
    background: #ffa602;
    border: #ffa602;
}
.data-grid button.action-basic{
    width: 70%;
}

.admin__field-super-complex-elements {
    float: right;
    text-align: center;
    display: flex;
}

#super-export-button {
    color: black;
    background-color: #EFEFEF;
    border: #EFEFEF;
    margin-right: 10px;
}

#super-import-button {
    background-color: #6495ED;
    border: #6495ED;
}