<?php
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * @category   BSS
 * @package    Bss_B2bRegistration
 * @author     Extension Team
 * @copyright  Copyright (c) 2017-2018 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
// @codingStandardsIgnoreFile
?>
<?php
/**
 * New Customer block template
 *
 * @var \Bss\B2bRegistration\Block\Form\Login\Info $block
 */
?>
<?php 
    $enable = $block->isEnable();
    $enableShortCut = $block->isEnableShortcutLink();
    $shortCutLinkText = $block->getShortcutLinkText();
    $b2bCreateUrl = $block->getUrlB2bAccountCreate();
?>
<div class="block block-new-customer">
    <div class="block-title">
        <strong id="block-new-customer-heading" role="heading" aria-level="2"><?php echo $block->escapeHtml(__('New Resellers')) ?></strong>
    </div>
    <div class="block-content" aria-labelledby="block-new-customer-heading">
        <p><?php echo __('If you would like to join our extensive Reseller network and sell quality Knight office products, please call our friendly sales & support team on %1.','<a href="tel:0800143143">0800 143 143</a>') ?></p>
        <div class="actions-toolbar">
            <?php if (($enable && $block->getRegistration()->isAllowed()) || !$enable): ?>
                <div class="primary">
                    <a href="<?php echo $block->escapeUrl($block->getCreateAccountUrl()) ?>" class="action create primary"><span><?php echo $block->escapeHtml(__('Create an Account')) ?></span></a>
                </div>
            <?php endif; ?>
            <?php if ($enable && $enableShortCut): ?>
                <div class="second-primary">
                    <a href="<?php echo $block->escapeUrl($b2bCreateUrl) ?>" class="action create primary"><span><?php echo $block->escapeHtml(__($shortCutLinkText)) ?></span></a>
                </div>
            <?php endif ?>
        </div>
    </div>
</div>
