<?php
    $facebookSharing = $block->getFacebookSharingStatus();
    $twitterSharing = $block->getTwitterSharingStatus();
    $googleSharing = $block->getGoogleSharingStatus();
?>
<div class="social-sharing-container">
    <?php if ($facebookSharing) { ?>
        <a class="action sharing facebook-share" onclick="javascript:window.open(this.href,
    '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes');return false;" href="<?=
     $block->escapeUrl($block->getFbShareUrl()); ?>"><?= /*@noEscape*/ __("Facebook") ?></a>
    <?php } ?>

    <?php if ($twitterSharing) { ?>
        <a class="action sharing twitter-share" onclick="javascript:window.open(this.href,
    '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes');return false;" href="<?=
     $block->escapeUrl($block->getTweetUrl()); ?>"><?= /*@noEscape*/ __("Tweet") ?></a>
    <?php } ?>
    <?php if ($googleSharing) { ?>
        <a class="action sharing google-share" href="<?=
         $block->escapeUrl($block->getGoogleShareUrl()); ?>" onclick="javascript:window.open(this.href,
        '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes');return false;"><img
        src="https://www.gstatic.com/images/icons/gplus-16.png" alt="Share on Google+"/>
        </a>
    <?php } ?>
</div>