<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * @see \Magento\Sales\Block\Adminhtml\Items\Column\Name
 */
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$mediaUrl =  $objectManager->get('Magento\Store\Model\StoreManagerInterface')
    ->getStore()
    ->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA)."order/";
?>

<?php if ($_item = $block->getItem()): ?>
    <?php $options = $block->getOrderOptions(); ?>
    <?php if($_item->getProductType() == 'super'): ?>
        <?php if(isset($options[0]['super_product_img'])): ?>
            <span class="product-item-photo showing">
                <a href="<?php echo $options[0]['super_product_img'] ?>" target="_blank">
                    <img src="<?php echo $options[0]['super_product_img'] ?>" width="75" height="75">
                </a>
            </span>
        <?php endif; ?>
        <?php  else: ?>
        <span class="product-item-photo showing">
            <a href="<?php echo $mediaUrl.$_item->getData('image') ?>" target="_blank">
                <img src="<?php echo $mediaUrl.$_item->getData('image') ?>" width="75" height="75">
            </a>
        </span>
    <?php endif; ?>
    <div id="order_item_<?= $block->escapeHtml($_item->getId()) ?>_title"
         class="product-title">
        <?= $block->escapeHtml($_item->getName()) ?>
    </div>
    <div class="product-sku-block">
        <span><?= $block->escapeHtml(__('SKU'))?>:</span> <?= implode('<br />', $this->helper('Magento\Catalog\Helper\Data')->splitSku($block->escapeHtml($block->getSku()))) ?>
    </div>

    <?php if ($options): ?>
        <?php if($_item->getProductType() == 'super'): ?>
        <dl class="item-options">
            <?php foreach ($options as $_option): ?>
                <div class="p-item">
                    <dt class="p-single-name"><?php echo $_option['product_name'] ?></dt>
                    <dt class="p-single-sku"><?php echo $_option['product_simple_sku'] ?></dt>
                    <div class="option-super">
                        <?php foreach ($_option['customoptions'] as $opt): ?>
                        <dt><?php echo $opt['label'] ?>:</dt>
                        <dd><?php echo $opt['value'] ?></dd>
                        <?php endforeach; ?>
                    </div>
                    <div class="p-image">
                        <a href="<?php echo $_option['product_thumbnail_img'] ?>"><img src="<?php echo $_option['product_thumbnail_img'] ?>" /></a>
                    </div>
                    <div class="clear"></div>
                </div>
            <?php endforeach; ?>
        </dl>
        <?php else: ?>
        <dl class="item-options">
            <?php foreach ($options as $_option): ?>
                <dt><?= $block->escapeHtml($_option['label']) ?>:</dt>
                <dd>
                    <?php if (isset($_option['custom_view']) && $_option['custom_view']): ?>
                        <?= $block->escapeHtml($block->getCustomizedOptionValue($_option)) ?>
                    <?php else: ?>
                        <?php $_option = $block->getFormattedOption($_option['value']); ?>
                        <?= $block->escapeHtml($_option['value']) ?>
                        <?php if (isset($_option['remainder']) && $_option['remainder']): ?>
                            <?php $dots = 'dots' . uniqid(); ?>
                            <span id="<?= /* @noEscape */ $dots; ?>"> ...</span>
                            <?php  $id = 'id' . uniqid(); ?>
                            <span id="<?= /* @noEscape */ $id; ?>"><?= $block->escapeHtml($_option['remainder']) ?></span>
                            <script>
                                require(['prototype'], function(){
                                    $('<?= /* @noEscape */ $id; ?>').hide();
                                    $('<?= /* @noEscape */ $id; ?>').up().observe('mouseover', function(){$('<?= /* @noEscape */ $id; ?>').show();});
                                    $('<?= /* @noEscape */ $id; ?>').up().observe('mouseover', function(){$('<?= /* @noEscape */ $dots; ?>').hide();});
                                    $('<?= /* @noEscape */ $id; ?>').up().observe('mouseout',  function(){$('<?= /* @noEscape */ $id; ?>').hide();});
                                    $('<?= /* @noEscape */ $id; ?>').up().observe('mouseout',  function(){$('<?= /* @noEscape */ $dots; ?>').show();});
                                });
                            </script>
                        <?php endif; ?>
                    <?php endif; ?>
                </dd>
            <?php endforeach; ?>
        </dl>
        <?php endif; ?>
    <?php endif; ?>
    <?= $block->escapeHtml($_item->getDescription()) ?>
<?php endif; ?>
