<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php $_orders = $block->getOrders();?>
<?= $block->getChildHtml('info') ?>
<div class="orderList orderhistory col-lg-12">
<?php if ($_orders && count($_orders)): ?>
            <?php /*?><caption class="table-caption"><?= /* @escapeNotVerified * / __('Orders') ?></caption><?php */?>
            
            <div class="cartTitles">
                <div class="row">
                    <div class="col-lg-10 col-sm-10 col-md-10">
                        <div class="row">
                            <div class="col-lg-6 col-sm-6 col-md-6">
                                <div class="row">
                                    <div class="col-lg-3 col-sm-3 col-md-3"><b><?= /* @escapeNotVerified */ __('Date') ?></b></div>
                                    <div class="col-lg-4 col-sm-4 col-md-4"><b><?= /* @escapeNotVerified */ __('Order Number') ?></b></div>
                                    <div class="col-lg-5 col-sm-5 col-md-5"><b><?= /* @escapeNotVerified */ __('Order Status') ?></b></div>
                                </div>
                            </div>
                            <?php /*?><?= /* @noEscape * / $block->getChildHtml('extra.column.header') ?><?php */?>
                            <div class="col-lg-2 col-sm-2 col-md-2"><b><?= /* @escapeNotVerified */ __('PO Number') ?></b></div>
                            <div class="col-lg-2 col-sm-2 col-md-2"><b><?= /* @escapeNotVerified */ __('Points') ?></b></div>
                            <div class="col-lg-2 col-sm-2 col-md-2"><b><?= /* @escapeNotVerified */ __('Total') ?></b></div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-2 col-md-2"></div>
                </div>
            </div>
            <?php /*?><thead>
                <tr>
                    <th scope="col" class="col id"><?= /* @escapeNotVerified * / __('Order #') ?></th>
                    <th scope="col" class="col date"><?= /* @escapeNotVerified * / __('Date') ?></th>
                    
                    <th scope="col" class="col shipping"><?= /* @escapeNotVerified * / __('Ship To') ?></th>
                    <th scope="col" class="col total"><?= /* @escapeNotVerified * / __('Order Total') ?></th>
                    <th scope="col" class="col status"><?= /* @escapeNotVerified * / __('Status') ?></th>
                    <th scope="col" class="col actions"><?= /* @escapeNotVerified * / __('Action') ?></th>
                </tr>
            </thead><?php */?>
                <?php $_objectManager = \Magento\Framework\App\ObjectManager::getInstance(); ?>
                <?php foreach ($_orders as $_order): ?>
                    <?php $comment = trim($_order->getData('bold_order_comment')); ?>
                    <div class="row orderLineItem">
                        <div class="col-lg-10 col-sm-10 col-md-10">
                            <div class="row">
                                <div class="col-lg-6 col-sm-6 col-md-6">
                                    <div class="row">
                                        <div class="col-lg-3 col-sm-3 col-md-3"><span class="showmobile">Date:</span> <?= /* @escapeNotVerified */ $block->formatDate($_order->getCreatedAt()) ?></div>
                                        <div class="col-lg-4 col-sm-4 col-md-4"><span class="showmobile">Order Number:</span> <?= /* @escapeNotVerified */ $_order->getRealOrderId() ?></div>
                                        <div class="col-lg-5 col-sm-5 col-md-5 order-status-break"><span class="showmobile">Order Status:</span> <?= /* @escapeNotVerified */ $_order->getStatus() ?></div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-sm-2 col-md-2"><span class="showmobile">PO Number:</span> <?= /* @escapeNotVerified */ $comment ?></div>
                                <?php $extra = $block->getChildBlock('extra.container'); ?>
                                <div class="col-lg-2 col-sm-2 col-md-2">
                                    <span class="showmobile">Points:</span>
                                    <?php
                                    $collection = $_objectManager->create('Brandsmith\RewardPoints\Model\ResourceModel\History\CollectionFactory')->create();
                                    $collection->addFieldToFilter('order_increment_id', ['eq' => $_order->getIncrementId()]);
                                    $collection->addFieldToFilter('type_rule', ['eq' => 2]);
                                    $collection->load();
                                    if(count($collection) > 0) {
                                        $item = $collection->fetchItem();
                                        if ($item) {
                                            $reward_point = $item->getData('points');
                                            echo $reward_point;
                                        }
                                    }
                                    ?>
                                </div>
                                <div class="col-lg-2 col-sm-2 col-md-2"><span class="showmobile">Order Total:</span> <?= /* @escapeNotVerified */ $_order->formatPrice($_order->getGrandTotal()) ?></div>
                            </div>
                        </div>
                        <div class="col-sm-2 col-md-2 alignright">
                            <a href="<?= /* @escapeNotVerified */ $block->getViewUrl($_order) ?>" class="btn"><?= /* @escapeNotVerified */ __('VIEW ORDER') ?></a>
                            <?php if ($this->helper('Magento\Sales\Helper\Reorder')->canReorder($_order->getEntityId())) : ?>
                                <a href="#" data-post='<?php /* @escapeNotVerified */
                                echo $this->helper(\Magento\Framework\Data\Helper\PostHelper::class)
                                    ->getPostData($block->getReorderUrl($_order))
                                ?>' class="action order btn"><?= /* @escapeNotVerified */ __('REORDER') ?></a>
                            <?php endif ?>
                        </div>
                    </div>
                    
                <?php endforeach; ?>
    <?php if ($block->getPagerHtml()): ?>
        <div class="order-products-toolbar toolbar bottom"><?= $block->getPagerHtml() ?></div>
    <?php endif ?>
<?php else: ?>
    <div class="message info empty"><span><?= /* @escapeNotVerified */ __('You have placed no orders.') ?></span></div>
<?php endif ?>
</div>