/*
 * Copyright © Brandsmith Commerce OÜ. All rights reserved.
 * See LICENSE.txt for license details.
 */

//& when (@media-common = true) {
//  .reward-points.block {
//    width: 50%;
//
//    > .title {
//
//      strong {
//
//        color: #1979c3;
//        font-weight: 400;
//        font-size: 1.6rem;
//
//        &::after {
//
//          color: #858585;
//          font-family: 'luma-icons';
//          content: "\e622";
//          font-size: 12px;
//          line-height: inherit;
//          overflow: hidden;
//          speak: none;
//          font-weight: normal;
//          -webkit-font-smoothing: antialiased;
//          display: inline;
//          vertical-align: middle;
//          text-align: center;
//          margin-left: 10px;
//
//          position: static;
//        }
//      }
//    }
//
//  }
//  .reward-points.block.active {
//    > .title {
//      strong {
//        &::after {
//          content: "\e621";
//        }
//
//      }
//    }
//
//  }
//}
