<?php 
/**
 * @category Mageants ProductAttachment
 * @package Mageants_ProductAttachment
 * @copyright Copyright (c) 2017 Mageants
 * @author Mageants Team <support@mageants.com>
 */

$_product = $block->getProduct();
$productId=$_product->getId(); 
$attachCollection=$block->CheckAttachAvailable($productId);
if(sizeof($attachCollection) > 0)
{ 
?>
<div class="tab-content">
	<div class="downloads-links-block">
		<div class="head">
		<h4>Downloads Attachments</h4>
		</div>
	</div>
	<table>
	<tr>
		<th>No.</th>
		<th>File </th>
		<th> Description</th>
	</tr>
	<?php $j=1; foreach($attachCollection as $attach) { ?>
	<tr>
			<?php
				$src='';
				if(!empty($attach['icon']))
				{
					$src=$this->getUrl('pub/media/').$attach['icon']; 
				} 
				else
				{
					$src=$this->getViewFileUrl('Mageants_ProductAttachment::images/default.jpeg');
				}
			?>
			<?php $href=$this->getUrl('pub/media/').$attach['file']; ?>
			<td style="width: 46px;"><b><?php echo $j++.") "; ?></b></td>
			<td style="width: 86px;"><a target="_blank" href="<?php echo $href; ?>"> <img name="<?php echo $attach['attach_id']; ?>" height="25px" width="51px" src='<?php echo $src; ?>' /></a></td>

			<td><a target="_blank" href="<?php echo $href; ?>"><?php echo $attach['title']; ?></a></td>
	</tr>
	<?php } ?>
	</table>
</div>
<?php } ?>