.bss-quickview-catalog-product-view .share-product-button{
    display: none;
}

.modal-popup .modal-header {
    border: 0;
    background: #fff;
}

.modal-popup .modal-inner-wrap{
    width: 30%;
    min-width: 500px;
}

.modal-popup .modal-content {
    box-shadow: none !important;
    border: none;
}

.modal-content{
    border: none;
    border-radius: 0;
    padding: 20px 50px 40px !important;
}

.share-product-button{
    width: 100%;
    float: left;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.share-product-button i.fa-share-square {
    margin-right: 5px;
}

#share-product-popup .share-product label{
    text-transform: uppercase;
    font-weight: normal;
    font-size: 16px;
    margin-bottom: 5px;
    width: 100%;
}

#share-product-popup .share-product input{
    font-size: 14px;
}

#share-product-popup .share-product .title{
    font-size: 16px;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    display: block;
    padding: 15px;
    font-weight: bold;
}

#share-product-popup .form-group{
    width: 100%;
    position: relative;
    margin-bottom: 15px;
}

#share-product-popup .input-group {
    width: 100%;
    position: relative;
    margin-bottom: 15px;
}

#share-product-popup .input-group.mb-3, #share-product-popup .input-group.mb-3 .group-control{
    position: relative;
}

#share-product-popup .input-group-append{
    position: absolute;
    right: 1px;
    top: 0;
    height: 35px;
    z-index: 9;
    margin: 0;
}

#share-product-popup .input-group-append button{
    height: 33px;
    background: #ecbea0;
}

#share-product-popup #link-product{
    width: 100%;
    background: transparent;
    border-right: none;
    padding-right: 120px;
}

#share-product-popup #cpy_msg {
    margin-top: 10px;
}

#openSharePopup{
    background: #b7aed7;
    line-height: 22px;
}

#openSharePopup:focus {
    outline: none;
    box-shadow: none;
}

#openSharePopup span{
    margin-right: 5px;
    font-size: 18px;
}

#share-product-popup .submit-form{
    float: right;
    background: #b7aed7;
}

#share-product-popup .submit-form span{
    margin-right: 5px;
    font-size: 18px;
}

#share-product-popup .share-social{
    width: 100%;
    float: left;
    margin-top: 20px;
    border-top: 1px solid #cccccc;
}

#share-product-popup .share-social .mp_social_share_inline{
    display: block;
}

#share-product-popup button i{
    margin-right: 5px;
}

#share-product-popup .btn-twitter {
    color: #fff;
    background-color: #2795e9 !important;
    border-color: rgba(0, 0, 0, 0.2);
}

#share-product-popup .btn-facebook{
    color: #fff;
    background-color: #2d4373 !important;
    border-color: rgba(0, 0, 0, 0.2);
}

#share-product-popup .btn-linkedin{
    background-color: #00405f !important;
    border-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

#share-product-popup .send-alert.messages {
    font-size: 14px;
    line-height: 1.2;
    display: inline-block;
    margin: 15px 0;
}

#share-product-popup .send-alert.messages.error {
    color: red;
}

#share-product-popup .send-alert.messages.success{
    color: green;
}

#share-product-popup .share-product input:focus {
    outline: none;
    box-shadow: none;
}
#share-product-popup .share-product input.mage-error {
    border-color: #ed8380;
}

.share-social .share_btn_sc {
    width: 32px;
    height: 32px;
    display: inline-block;
    color: #fff;
    line-height: 32px;
}

.share-social .share_btn_sc:hover{
    color: #fff;
}

.share-social .share_btn_sc.facebook {
    background: #135CB6;
}

.share-social .share_btn_sc.twitter {
    background: #00ACED;
}

.share-social .share_btn_sc.linkedin {
    background: #0077b5;
}

.share-social .share_btn_sc.pinterest {
    background: #e84e89;
}

.share-social .st-custom-button{
    width: 32px;
    height: 32px;
    display: inline-block;
    color: #fff;
    line-height: 32px;
    cursor: pointer;
}

.share-social .st-custom-button.facebook{
    background: #135CB6;
}
.share-social .st-custom-button.twitter{
    background: #00ACED;
}
.share-social .st-custom-button.linkedin{
    background: #0077b5;
}
.share-social .st-custom-button.pinterest{
    background: #e84e89;
}

@media only screen and (max-width: 1440px) {
    #share-product-popup .modal-content{
        zoom: 0.8;
    }
    
    #share-product-popup .input-group-append {
        float: right;
        position: absolute;
        right: 1px;
        height: 39px;
    }
}

@media (min-width: 1366px) and (max-width: 1600px){
    .modal-popup.sharepdp_pop .modal-header{
        padding-bottom: 10px;
        padding-top: 20px;
    }

    .modal-popup.sharepdp_pop .action-close{
        z-index: 1;
    }

    .modal-popup.sharepdp_pop .modal-content {
        padding-top: 10px !important;
        padding-bottom: 20px !important;
    }

    #share-product-popup #cpy_msg {
        margin-top: 0px;
    }

    #share-product-popup .form-group {
        margin-bottom: 10px;
    }

    #share-product-popup .share-product .title {
        padding: 5px 15px;
    }
}

@media screen and (max-width: 767px) {
    .modal-popup .modal-inner-wrap{
        width: 100%;
        min-width: auto;
    }
    .modal-content{
        padding: 10px 15px 30px !important;
    }
    .modal-popup.modal-slide {
        left: 0;
    }
}