<?php
	 $cartdata = $this->getLayout()->createBlock('Magecomp\Savecartpro\Block\Customerviewcart');
	 $cartdata = $cartdata->getMainCartData();
?>
<div class="container">
	<div class="row">
		<div class="col-lg-12 a-left">
			<div class="breadCrumb">
				<ul class="items">
					<li class="item Login">
						<a href="/customer/account/" title="Login"> My Account </a>
					</li>
                    <li class="item backaccount">
                        <a href="/customer/account" title="Back"> Back </a>
                    </li>
					<li class="item Saved Carts">
						<a href="/savecartpro/customer/cartlist/" title="Saved Carts"> Saved Carts </a>
					</li>
					<li class="item Cart Name">
						<?php echo $block->escapeHtml(__($cartdata->getCartName())) ?>                    
					</li>
				</ul>
			</div>	
		</div>	
	</div>
</div>