<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Checkout\Block\Cart\Item\Renderer */

$_item = $block->getItem();
$product = $_item->getProduct();
$_itemchildid = ($product->getTypeId() == 'configurable') ?  $_item->getOptionByCode('simple_product')->getProduct()->getId() : $block->getItem()->getId();
$isVisibleProduct = $product->isVisibleInSiteVisibility();
/** @var \Magento\Msrp\Helper\Data $helper */
$helper = $this->helper('Magento\Msrp\Helper\Data');
//$helper_product = $this->helper('Magento\ConfigurableProduct\Helper\Data');
$canApplyMsrp = $helper->isShowBeforeOrderConfirm($product) && $helper->isMinimalPriceLessMsrp($product);
$_options = $block->getOptionList();
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->create('Magento\Customer\Model\SessionFactory')->create();
$logger = false;
if($customerSession->isLoggedIn()) {
    $logger = true;
}
$itemId = $block->getItem()->getId();
$productRepositoryInterface = $objectManager->get('Magento\Catalog\Api\ProductRepositoryInterface');
$priceHelper = $objectManager->get('Magento\Framework\Pricing\Helper\Data');
$groupId = $customerSession->getCustomer()->getGroupId();
?>
<tbody class="cartItem" sku="<?php echo $product->getSku(); ?>">
<tr class="item-info">
    <td data-th="<?= $block->escapeHtml(__('Item')) ?>" class="col-lg-2 col-md-2 col-sm-2">
        <?php if ($block->hasProductUrl()):?>
            
        <a href="<?= /* @escapeNotVerified */ $block->getProductUrl() ?>"
           title="<?= $block->escapeHtml($block->getProductName()) ?>"
           tabindex="-1"
           class="product-item-photo">
            <?php else:?>
            <span class="product-item-photo">
            <?php endif;?>
                <?php if($product->getTypeId() == 'super'): ?>
                    <span class="product-image-container" style="width:250px;">
                    <span class="product-image-wrapper" style="padding-bottom: 100%;">
                        <img class="product-image-photo" src="<?php echo $_options['super_product_img'] ?>" width="250" height="250" alt="<?php echo $block->getProductName(); ?>">
                    </span>
                </span>
                <?php else: ?>
                    <?php if($product->getTypeId() =='configurable'): // Config product?>
                        <?php
                        $productRepository = $objectManager->get('\Magento\Catalog\Model\ProductRepository');
                        $productObj = $productRepository->get($product->getSku());

                        $imageHelper  = $objectManager->get('\Magento\Catalog\Helper\Image');
                        $width = 250;
                        $height = 250;
                        $imageUrl = $imageHelper->init($productObj, 'product_page_image_small')
                            ->constrainOnly(FALSE)
                            ->keepAspectRatio(TRUE)
                            ->keepFrame(FALSE)
                            ->resize($width, $height)
                            ->getUrl();

                        ?>
                        <img src="<?php echo $imageUrl ?>" alt="<?php echo $product->getImage() ?>" />
                    <?php else: // Simple or other product?>
                        <?php echo $block->getImage($block->getProductForThumbnail(), 'cart_page_product_thumbnail')->toHtml() ?>
                    <?php endif; ?>
                <?php endif; ?>
                <?php if ($block->hasProductUrl()):?>
        </a>
    <?php else: ?>
        </span>
    <?php endif; ?>
    </td>
    <td class="col-lg-4 col-md-4 col-sm-4">
        <div class="product-item-action">
            <input type="checkbox" id="item-action-<?php echo $_itemchildid; ?>" data-quote-item-id="<?php echo $block->getItem()->getId();?>" class="item-action-remove" name="item-action" value="<?php echo $product->getId(); ?>" />
            <label for="item-action-<?php echo $_itemchildid; ?>" class="checkmark"></label>
        </div>
        <div class="product-item-details">
            <strong class="cartTitle">
                <?php if ($block->hasProductUrl()):?>
                    <a href="<?= /* @escapeNotVerified */ $block->getProductUrl() ?>"><?= $block->escapeHtml($block->getProductName()) ?></a>
                <?php else: ?>
                    <?= $block->escapeHtml($block->getProductName()) ?>
                <?php endif; ?>
            </strong>

            <?php if($product->getTypeId() != 'super'): ?>
                <?php $sku = $product->getSku(); ?>
                <div class="c-sku"><?php echo $sku; ?></div>
                <div class="o-qty">
                    <?= "Qty: " . $block->getQty() ?>
                </div>
				<div class="o-price"><?= __('Price') ?>:
                    <?php
                    $productSimple = $productRepositoryInterface->get($sku);
                    $productAllTierPrices = $productSimple->getData('tier_price');
                    $productPrice = $priceHelper->currency($productSimple->getPriceInfo()->getPrice('final_price')->getAmount()->getValue(), true, false);

                    if(!empty($productAllTierPrices)) {
                        foreach ($productAllTierPrices as $itemPrice) {
                            if($itemPrice['cust_group'] == $groupId) {
                                $productPrice =  $priceHelper->currency($itemPrice['price'], true, false );
                            }
                        }
                    }
                    ?>
					<?= $productPrice ?>
				</div>
            <?php endif; ?>
            <?php if ($_options):?>
                <dl class="smallCartDetails <?php echo $product->getTypeId(); ?>">
                    <?php if($product->getTypeId() == 'super'): ?>
                        <?php $qty_arr = isset($_options['addon_qty']) ? $_options['addon_qty'] : array(); ?>
                        <?php foreach ($_options['super_attributes_defined'] as $_option) : ?>
                            <div class="product-child" sku="<?php echo $_option['product_simple_sku'] ?>">
                                <div class="b-left">
                                    <div class="c-name"><strong><?php echo $_option['product_name'] ?></strong></div>
                                    <div class="c-sku"><?php echo $_option['product_simple_sku'] ?></div>
                                    <?php if(is_array($_option['option_selected'])) { ?>
                                        <div class="options-child">
                                            <?php foreach ($_option['option_selected'] as $label=>$value) { ?>
                                                <dt><?= $block->escapeHtml($label); ?></dt>
                                                <dd>
                                                    <?= $value ?>
                                                    <br/>
                                                </dd>
                                            <?php } ?>
                                            <div class="o-qty"><?= __('Component Qty') ?>:
                                                <?php
                                                if(isset($qty_arr[ $_option['product_id']])){
                                                    echo $qty_arr[$_option['product_id']];
                                                }else {
                                                    ?>
                                                    <?php echo $_option['product_quantity'] ?>
                                                <?php } ?>
                                            </div>
											<div class="o-price"><?= __('Price') ?>:
                                                <?php 
                                                $productSimple = $productRepositoryInterface->get($_option['product_simple_sku']);
                                                $productAllTierPrices = $productSimple->getData('tier_price');
                                                $productPrice = $priceHelper->currency($productSimple->getPriceInfo()->getPrice('final_price')->getAmount()->getValue(), true, false);
                
                                                if(!empty($productAllTierPrices)) {
                                                    foreach ($productAllTierPrices as $itemPrice) {
                                                        if($itemPrice['cust_group'] == $groupId) {
                                                            $productPrice =  $priceHelper->currency($itemPrice['price'], true, false );
                                                        }
                                                    }
                                                }
                                                ?>
                                                <?= $productPrice ?>
                                            </div>
											
                                        </div>

                                    <?php }else { ?>
                                        <div class="options-child">
                                            <div class="o-qty"><?= __('Component Qty') ?>:
                                                <?php
                                                if(isset($qty_arr[ $_option['product_id']])){
                                                    echo $qty_arr[$_option['product_id']];
                                                }else {
                                                    ?>
                                                    <?php echo $_option['product_quantity'] ?>
                                                <?php } ?>
                                            </div>
											<div class="o-price"><?= __('Price') ?>:
                                                <?php
                                                $productSimple = $productRepositoryInterface->get($_option['product_simple_sku']);
                                                $productAllTierPrices = $productSimple->getData('tier_price');
                                                $productPrice = $priceHelper->currency($productSimple->getPriceInfo()->getPrice('final_price')->getAmount()->getValue(), true, false);

                                                if(!empty($productAllTierPrices)) {
                                                    foreach ($productAllTierPrices as $itemPrice) {
                                                        if($itemPrice['cust_group'] == $groupId) {
                                                            $productPrice =  $priceHelper->currency($itemPrice['price'], true, false );
                                                        }
                                                    }
                                                }
                                                ?>
												<?= $productPrice ?>
                                            </div>
                                        </div>
                                    <?php } ?>
                                </div>
                                <div class="product-child-image">
                                    <img src="<?php echo $_option['product_thumbnail_img'] ?>" alt="" title=""/>
                                </div>
                                <div class="alert-traffic-light item-super-product hide">
                                    <i class="fas fa-exclamation-triangle"></i>           
                                    <div class="content">
                                        <p>Stock status has changed since this product was added to the cart</p>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                        <?php endforeach; ?>
                    <?php else: ?>
                        <?php foreach ($_options as $_option) : ?>
                            <?php $_formatedOptionValue = $block->getFormatedOptionValue($_option) ?>
                            <dt><?= $block->escapeHtml($_option['label']) ?></dt>
                            <dd>
                                <?php if (isset($_formatedOptionValue['full_view'])): ?>
                                    <?= /* @escapeNotVerified */ $_formatedOptionValue['full_view'] ?>
                                <?php else: ?>
                                    <?= /* @escapeNotVerified */ $_formatedOptionValue['value'] ?>
                                <?php endif; ?>
                                <br/>
                            </dd>
                        <?php endforeach; ?>
                    <?php endif; ?>
                </dl>
            <?php endif;?>
            <?php if ($messages = $block->getMessages()): ?>
                <?php foreach ($messages as $message): ?>
                    <div class="cart item message <?= /* @escapeNotVerified */ $message['type'] ?>"><div><?= $block->escapeHtml($message['text']) ?></div></div>
                <?php endforeach; ?>
            <?php endif; ?>
            <?php $addInfoBlock = $block->getProductAdditionalInformationBlock(); ?>
            <?php if ($addInfoBlock): ?>
                <?= $addInfoBlock->setItem($_item)->toHtml() ?>
            <?php endif;?>

            <div class="alert-traffic-light hide">
                <i class="fas fa-exclamation-triangle"></i>           
                <div class="content">
                    <p>Stock status has changed since this product was added to the cart</p>
                </div>
            </div>
        </div>
    </td>

    <?php if ($canApplyMsrp): ?>
        <td class="col-lg-2 col-md-2 col-sm-2" data-th="<?= $block->escapeHtml(__('Price')) ?>">
                <?php if($logger): ?>
                    <span class="pricing msrp">
                        <span class="msrp notice"><?= /* @escapeNotVerified */ __('See price before order confirmation.') ?></span>
                        <?php $helpLinkId = 'cart-msrp-help-' . $_item->getId(); ?>
                        <a href="#" class="action help map" id="<?= /* @escapeNotVerified */ ($helpLinkId) ?>" data-mage-init='{"addToCart":{"helpLinkId": "#<?= /* @escapeNotVerified */ $helpLinkId ?>","productName": "<?= /* @escapeNotVerified */ $product->getName() ?>","showAddToCart": false}}'>
                            <span><?= /* @escapeNotVerified */ __("What's this?") ?></span>
                        </a>
                    </span>
                <?php endif; ?>
        </td>
    <?php else: ?>
        <td class="col-lg-2 col-md-2 col-sm-2" data-th="<?= $block->escapeHtml(__('Price')) ?>">
            <?php if($logger): ?>                
                <?php if($product->getTypeId() == 'super'): ?>
				<div class="price-wrapper">
					<?php $qty_arr = isset($_options['addon_qty']) ? $_options['addon_qty'] : array(); ?>
					<?php foreach ($_options['super_attributes_defined'] as $_option) : ?>
						<div class="product-price" style="font-weight: 700;">
                            <?php
                            $productSimple = $productRepositoryInterface->get($_option['product_simple_sku']);
                            if( isset($qty_arr[ $_option['product_id']]) ) {
                                $productQty = $qty_arr[$_option['product_id']];
                            } else {
                                $productQty = $_option['product_quantity'];
                            }
                            $productAllTierPrices = $productSimple->getData('tier_price');
                            $productPrice = $priceHelper->currency($productSimple->getPriceInfo()->getPrice('final_price')->getAmount()->getValue(), true, false);

                            if(!empty($productAllTierPrices)) {
                                foreach ($productAllTierPrices as $itemPrice) {
                                    if($itemPrice['cust_group'] == $groupId && $itemPrice['price_qty'] <= $productQty) {
                                        $productPrice =  $priceHelper->currency($itemPrice['price'], true, false );
                                        break;
                                    }
                                }
                            }
                            ?>
							<div class="c-price"><?= $productPrice ?></div>
						</div>
					<?php endforeach; ?>
				</div>
                <?php else: ?>
                        <span class="cartPrice" style="font-weight: 700;">
                            <?php
                            $productSimple = $productRepositoryInterface->get($product->getSku());
                            $productQty = $block->getQty();
                            $productAllTierPrices = $productSimple->getData('tier_price');
                            $productPrice = $priceHelper->currency($productSimple->getPriceInfo()->getPrice('final_price')->getAmount()->getValue(), true, false);

                            if(!empty($productAllTierPrices)) {
                                foreach ($productAllTierPrices as $itemPrice) {
                                    if($itemPrice['cust_group'] == $groupId && $itemPrice['price_qty'] <= $productQty ) {
                                        $productPrice =  $priceHelper->currency($itemPrice['price'], true, false );
                                        break;
                                    }
                                }
                            }
                            ?>
							<div class="c-price"><?= $productPrice ?></div>
						</span>
                <?php endif; ?>
            <?php endif; ?>
        </td>
    <?php endif; ?>
    <td class="col-lg-2 col-md-2 col-sm-2" data-th="<?= $block->escapeHtml(__('Qty')) ?>">
        <?php if($product->getTypeId() === 'super') { ?>
			<div class="qty-wrapper">
				<?php $qty_arr = isset($_options['addon_qty']) ? $_options['addon_qty'] : array(); ?>
				<?php foreach ($_options['super_attributes_defined'] as $_option) : ?>
					<?php if(is_array($_option['option_selected'])) { ?>
						<?php
							if( isset($qty_arr[ $_option['product_id']]) ) {
								$qty = $qty_arr[$_option['product_id']];
							} else {
								$qty = $_option['product_quantity'];
							}
						?>
						<div class="field qty">
							<div class="control qty" style="margin-top: 0px;">
								<span class="quantity-controls qty-plus"></span>
								<input id="cart-<?= /* @escapeNotVerified */ $_option['product_id'] ?>-qty"
									   name="cart-sp-<?= /* @escapeNotVerified */ $itemId ?>"
									   data-cart-item-id="<?= $block->escapeHtml($_option['product_id']) ?>"
									   data-cart-item-sku="<?= $block->escapeHtml($_option['product_simple_sku']) ?>"
									   value="<?= /* @escapeNotVerified */ $qty ?>"
									   type="number"
									   size="4"
									   title="<?= $block->escapeHtml(__('Qty')) ?>"
									   class="input-text qty"
									   data-validate="{required:true,'validate-greater-than-zero':true}"
									   data-role="cart-item-qty"/>
								<span class="quantity-controls qty-minus"></span>
							</div>
						</div>
					<?php } else { ?>
						<?php
							if( isset($qty_arr[ $_option['product_id']]) ) {
								$qty = $qty_arr[$_option['product_id']];
							} else {
								$qty = $_option['product_quantity'];
							}
						?>
						<div class="field qty">
							<div class="control qty" style="margin-top: 0px;">
								<span class="quantity-controls qty-plus"></span>
								<input id="cart-<?= /* @escapeNotVerified */ $_option['product_id'] ?>-qty"
									   name="cart-sp-<?= /* @escapeNotVerified */ $itemId ?>"
									   data-cart-item-id="<?= $block->escapeHtml($_option['product_id']) ?>"
									   data-cart-item-sku="<?= $block->escapeHtml($_option['product_simple_sku']) ?>"
									   value="<?= /* @escapeNotVerified */ $qty ?>"
									   type="number"
									   size="4"
									   title="<?= $block->escapeHtml(__('Qty')) ?>"
									   class="input-text qty"
									   data-validate="{required:true,'validate-greater-than-zero':true}"
									   data-role="cart-item-qty"/>
								<span class="quantity-controls qty-minus"></span>
							</div>
						</div>
					<?php } ?>
				<?php endforeach; ?>
			</div>	
        <?php } else { ?>
            <div class="field qty">
                <label class="label" for="cart-<?= /* @escapeNotVerified */ $_item->getId() ?>-qty">
                    <span><?= /* @escapeNotVerified */ __('Qty') ?></span>
                </label>
                <div class="control qty">
                    <span class="quantity-controls qty-plus"></span>
                    <input id="cart-<?= /* @escapeNotVerified */ $_item->getId() ?>-qty"
                           name="cart[<?= /* @escapeNotVerified */ $_item->getId() ?>][qty]"
                           data-cart-item-id="<?= $block->escapeHtml($_item->getSku()) ?>"
                           value="<?= /* @escapeNotVerified */ $block->getQty() ?>"
                           type="number"
                           size="4"
                           title="<?= $block->escapeHtml(__('Qty')) ?>"
                           class="input-text qty"
                           data-validate="{required:true,'validate-greater-than-zero':true}"
                           data-role="cart-item-qty"/>
                    <span class="quantity-controls qty-minus"></span>
                </div>
            </div>
        <?php } ?>

    </td>

    <td class="col-lg-2 col-md-2 col-sm-2" data-th="<?= $block->escapeHtml(__('Subtotal')) ?>">
        <?php if($logger): ?>
            <?php if ($canApplyMsrp): ?>
                <span class="cart msrp subtotal">--</span>
            <?php else: ?>               
				<?php if($product->getTypeId() == 'super'): ?>
					<div class="price-wrapper">
						<?php $qty_arr = isset($_options['addon_qty']) ? $_options['addon_qty'] : array(); ?>
                        <?php $first = true;?>
						<?php foreach ($_options['super_attributes_defined'] as $_option) : ?>
							<div class="subtotal-price" style="font-weight: 700;">
                                <?php 
                                $productSimple = $productRepositoryInterface->get($_option['product_simple_sku']);
                                $productQty = $_option['product_quantity'];
                                $productAllTierPrices = $productSimple->getData('tier_price');
                                $productPrice = $productSimple->getPriceInfo()->getPrice('final_price')->getAmount()->getValue();

                                if(!empty($productAllTierPrices)) {
                                    foreach ($productAllTierPrices as $itemPrice) {
                                        if($itemPrice['cust_group'] == $groupId && $itemPrice['price_qty'] <= $productQty) {
                                            $productPrice =  $itemPrice['price'];
                                            break;
                                        }
                                    }
                                }
                                ?>
								<?php if( isset($qty_arr[ $_option['product_id']]) ) {
									$qty = $qty_arr[$_option['product_id']];
								} else {
									$qty = $_option['product_quantity'];
								} ?>
								<?php $subtotal = $priceHelper->currency($productPrice * $qty, true, false); ?>
								<?php echo $subtotal; ?>
                            </div>
						<?php endforeach; ?>
					</div>
					<?php else: ?>
					<span class="cartSubtotal"><?= $block->getRowTotalHtml($_item) ?></span>
				<?php endif; ?>
            <?php endif; ?>
        <?php endif; ?>
    </td>
    <td class="col-lg-2 col-md-2 col-sm-2" data-th="Edit">
        <span class="cartSubtotal">
            <?= /* @escapeNotVerified */ $block->getActions($_item) ?>
        </span>
    </td>
</tr>
</tbody>
