<?php
/**
 * Copyright © Magefan (support@magefan.com). All rights reserved.
 * See LICENSE.txt for license details (http://opensource.org/licenses/osl-3.0.php).
 *
 * Glory to Ukraine! Glory to the heroes!
 */
?>
<?php
/**
 * Blog post list template
 *
 * @var $block \Magefan\Blog\Block\Post\PostList
 */
?>
<?php
$_postCollection = $block->getPostCollection();
?>
<div class="insidePage">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 centered">
                <?php echo $this->getLayout()
                    ->createBlock('Magento\Cms\Block\Block')
                    ->setBlockId('blog-recent-top')
                    ->toHtml(); ?>
            </div>
        </div>
        <?php if (!$_postCollection->count()): ?>
            <div class="message info empty"><div><?php echo __('We can\'t find posts matching the selection.') ?></div></div>
        <?php else: ?>
            <div class="theTeam">
                <div class="row">
                    <?php echo $block->getAdditionalHtml() ?>
                    <?php $iterator = 1; ?>
                    <?php foreach ($_postCollection as $_post): ?>
                        <?php echo $block->getPostHtml($_post) ?>
                    <?php endforeach; ?>
                    <div class="hidden">
                        <script type="text/javascript">
                            if (window.addthis) {
                                addthis.toolbox('.addthis_toolbox');
                            }
                        </script>
                    </div>
                </div>
            </div>

            <?php echo $block->getToolbarHtml() ?>
            <?php echo $this->getChildHtml('addthisJs'); ?>
        <?php endif; ?>
    </div>
</div>
