//
//  Women Bottoms Grid Styles
//  _________________________

//
//  Common
//  --------------------------

& when (@media-common = true) {
  .amtab-grid-wrapper.-bottoms.-women {
    .amtab-img {
      margin: 0 auto 30px;
    }

    .amtab-step {
      &:nth-child(1) {
        & {
          top: -7px;
          right: 0;
          max-width: 29vw;
        }

        .amtab-arrow {
          right: 100%;
          margin: 0 @amtab__indent 0 0;
          min-width: 50px;
          max-width: 90px;
          width: 5vw;
        }

        .amtab-arrow:after,
        .amtab-arrow:before {
          right: -2px;
        }

        .amtab-arrow:before {
          transform: rotate(-145deg) translate(3px, 0px);
        }

        .amtab-arrow:after {
          transform: rotate(145deg) translate(3px, 0px);
        }
      }

      &:nth-child(2) {
        & {
          top: 17%;
          left: 0;
          width: 33vw;
          max-width: 300px;
        }

        .amtab-arrow {
          left: 45px;
          min-width: 50px;
          max-width: 108px;
          width: 20vw;
        }

        .amtab-arrow:after,
        .amtab-arrow:before {
          left: -4px;
        }

        .amtab-arrow:before {
          transform: rotate(45deg) translate(3px, -1px);
        }

        .amtab-arrow:after {
          transform: rotate(-45deg) translate(3px, 1px);
        }
      }

      &:nth-child(3) {
        & {
          bottom: 0;
          left: 0;
          max-width: 345px;
        }

        .amtab-arrow {
          left: 100%;
          margin: 0 0 0 @amtab__indent;
          width: 75px;
        }

        .amtab-arrow:before {
          transform: rotate(45deg) translate(1px, 1px);
        }

        .amtab-arrow:after {
          transform: rotate(-45deg) translate(1px, -1px);
        }
      }
    }
  }
}

//
//  Tablet
//  --------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
  .amtab-grid-wrapper.-bottoms.-women {
    .amtab-img {
      left: 18%;
      margin: 0 auto @amtab__indent;
    }

    .amtab-step {
      &:nth-child(1) {
        right: 24px;
        max-width: 174px;
      }

      &:nth-child(2) {
        top: 20%;
        max-width: 174px;
      }

      &:nth-child(3) {
        & {
          right: -20px;
          bottom: 85px;
          left: auto;
          max-width: 190px;
        }

        .amtab-arrow {
          right: 100%;
          left: auto;
          margin: 0 @amtab__indent 0 0;
        }

        .amtab-arrow:after,
        .amtab-arrow:before {
          right: 0;
        }

        .amtab-arrow:before {
          transform: rotate(145deg) translate(1px, -1px);
        }

        .amtab-arrow:after {
          transform: rotate(-145deg) translate(1px, 1px);
        }
      }
    }
  }
}
