//
//  Base Styles
//  _________________________

//
//  Common
//  --------------------------

& when (@media-common = true) {
  .am-tabs-view {
    .product-items {
      .am-flex(center, center, wrap);
    }

    .product-item {
      padding: @amtab__indent__l;
    }

    .block.crosssell {
      padding: 0;
      width: 100%;
    }

    .product.data.items {
      > .item.title > .switch {
        overflow: hidden;
        padding: 0 @amtab__indent;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      > .item.title.active > .switch {
        &,
        &:focus,
        &:hover {
          padding-bottom: 1px;
        }
      }

      > .content {
        display: none;
      }

      > .active + .content {
        display: block;
      }

      > .item.content {
        margin-top: @amtab__indent;
        padding: @amtab__indent @amtab__indent 30px;
      }
    }
  }
}

//
//  Tablet +
//  --------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
  .amtabs-accordion-view {
    .product.data.items > .item.title {
      float: none;
      width: 100%;
    }
  }
}

//
//  Tablet
//  --------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
  .am-tabs-view .product.data.items > .item.content {
    padding: 35px;
    margin-top: 41px;
  }

  .amtabs-accordion-view.product.data.items {
    & {
      border-bottom: 1px solid #ccc;
    }

    > .item.content {
      margin: 0;
      padding: @amtab__indent__xl;
      border-bottom: 0;
      float: none;
    }

    > .item.title {
      & {
        width: 100%;
        float: none;
      }

      &.active .switch:after {
        transform: rotate(180deg);
      }

      .switch {
        & {
          padding: @amtab__indent / 2 @amtab__indent__xl;
          font-weight: 600;
          background-color: #fff;
          color: #333;
        }

        &:after {
          .am-transition(.1);
          .am-flex(center, center);

          top: 0;
          bottom: 0;
          content: @icon-down;
        }
      }
    }
  }
}
