<?php
/**
 * Copyright © Magefan (support@magefan.com). All rights reserved.
 * See LICENSE.txt for license details (http://opensource.org/licenses/osl-3.0.php).
 *
 * Glory to Ukraine! Glory to the heroes!
 */
?>
<?php
/**
 * Blog post list item template
 *
 * @var $block \Magefan\Blog\Block\Post\AbstractPost
 */
?>
<?php
    $_post = $this->getPost();
    $_postUrl = $_post->getPostUrl();
    $_postName = $block->escapeHtml($_post->getTitle(), null, true);
?>
<div class="col-lg-4 col-md-4 col-sm-6 teamM">
    <div class="teamItem">
        <div class="teamImg">
            <div class="teamOverlay"><a href="<?php echo $_postUrl ?>">Read More</a></div>
            <?php if ($featuredImage = $_post->getFeaturedImage()) { ?>
            <a href="<?php echo $_postUrl ?>" title="<?php echo $_postName ?>">
                <?php if ($featuredImage = $_post->getFeaturedImage()) { ?>
                    <img  class="member" src="<?php echo $block->resize($_post->getPostImage(), 485) ?>" alt="<?php echo $_postName ?>" />
                <?php } ?>
            </a>
            <?php } ?>
        </div>
        <div class="teamDescription">
            <div class="block-title">
                <h4 class="teamTitle"><a href="<?php echo $_postUrl ?>"><?php echo $_postName ?></a></h4>
                <div class="addthis_toolbox addthis_default_style"
                     addthis:url="<?php echo $_postUrl ?>"
                     addthis:title="<?php echo $_postName; ?>"
                    <?php if ($firstImage = $_post->getFirstImage()) { ?>
                        addthis:media="<?php echo $firstImage ?>"
                    <?php } ?>>
                    <a class="addthis_button_facebook"></a>
                    <a class="addthis_button_twitter"></a>
                    <a class="addthis_button_email"></a>
                    <a class="addthis_button_compact"></a>
                </div>
            </div>
            <?php echo $this->getInfoHtml() ?>
            <?php echo $block->getShorContent() ?>
        </div>
    </div>
</div>

<?php /*
<li class="post-holder post-holder-<?php echo $_post->getId() ?>">
    <div class="post-header">

        <div class="post-title-holder clearfix">
            <h2 class="post-title">
                <a class="post-item-link"
                   href="<?php echo $_postUrl ?>">
                    <?php echo $_postName; ?>
                </a>
            </h2>

            <div class="addthis_toolbox addthis_default_style"
                addthis:url="<?php echo $_postUrl ?>"
                addthis:title="<?php echo $_postName; ?>"
                <?php if ($firstImage = $_post->getFirstImage()) { ?>
                addthis:media="<?php echo $firstImage ?>"
                <?php } ?>>
                <a class="addthis_button_facebook"></a>
                <a class="addthis_button_twitter"></a>
                <a class="addthis_button_email"></a>
                <a class="addthis_button_compact"></a>
            </div>
        </div>

        <?php echo $this->getInfoHtml() ?>
    </div>

    <div class="post-content">
        <div class="post-description clearfix">
            <?php if ($featuredImage = $_post->getFeaturedImage()) { ?>
            <div class="post-ftimg-hld">
                <a href="<?php echo $_postUrl ?>" title="<?php echo $_postName ?>">
                    <img src="<?php echo $featuredImage ?>" alt="<?php echo $_postName ?>" />
                </a>
            </div>
            <?php } ?>
            <div class="post-text-hld clearfix">
                <?php echo $block->getShorContent() ?>
            </div>
            <a class="post-read-more" href="<?php echo $_postUrl ?>" title="<?php echo $_postName ?>"
               >
               <?php echo __('Read more &#187;') ?>
            </a>
        </div>
    </div>
    <div class="post-footer">

    </div>
</li> */ ?>