<!--@subject {{trans "Hi ,%recipient_name" recipient_name=$recipient_name}} @-->

{{template config_path="design/email/header_template"}}

<p class="greeting">{{trans " Hi, %name," name=$recipient-name}}</p>
<p>{{trans "%sender_name wants to share this product with you:" sender_name=$sender_name }} <a href="{{var product_url}}">{{var product_name}}</a></p>

{{depend message}}
<table class="message-info">
    <tr>
        <td>
            <p>{{trans "Message from %sender_name:" sender_name=$sender_name}}</p>
           {{var message|raw}}
        </td>
    </tr>
</table>
<br />
{{/depend}}

{{template config_path="design/email/footer_template"}}