<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * @var \Magento\Payment\Block\Info $block
 * @see \Magento\Payment\Block\Info
 */
$specificInfo = $block->getSpecificInformation();
$title = $block->escapeHtml($block->getMethod()->getTitle());

$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$order_id = $this->getRequest()->getParam('order_id');
$order = $objectManager->create('\Magento\Sales\Model\Order')->load($order_id);
if($order) {
    $comment = $order->getData('bold_order_comment');
}
?>
<dl class="payment-method">
    <dt class="title"><?= /* @noEscape */ $title ?></dt>
<?php if ($specificInfo):?>
    <dd class="content">
        <table class="data table">
            <caption class="table-caption"><?= /* @noEscape */ $title ?></caption>
            <?php foreach ($specificInfo as $label => $value):?>
                <tr>
                    <th scope="row"><?= $block->escapeHtml($label) ?></th>
                    <td>
                        <?= /* @noEscape */ nl2br($block->escapeHtml(implode("\n", $block->getValueAsArray($value, true)))) ?>
                    </td>
                </tr>
            <?php endforeach; ?>
        </table>
        <div>
            <?php if($comment):?>
                <dd class="content">
                    <strong><?= $block->escapeHtml(__('PO Number')) ?></strong>
                    <span class="number"><?= $block->escapeHtml($comment) ?></span>
                </dd>
            <?php endif; ?>
        </div>
    </dd>
<?php endif;?>
</dl>
<?= $block->getChildHtml() ?>
