<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
/**
 * @var \Magento\Payment\Block\Info $block
 * @see \Magento\Payment\Block\Info
 */
?>
<dl class="payment-method">
    <dt class="title"><?= $block->escapeHtml($block->getMethod()->getTitle()) ?></dt>
<?php if ($block->getInstructions()): ?>
    <dd class="content"><?= /* @noEscape */ nl2br($block->escapeHtml($block->getInstructions())) ?></dd>
<?php endif; ?>
    <?php if($comment = $block->getOrderComment()):?>
        <dd class="content">
            <strong><?= $block->escapeHtml(__('PO Number')) ?></strong>
            <span class="number"><?= $block->escapeHtml($comment) ?></span>
        </dd>
    <?php endif; ?>
</dl>
