<div class="header-container header-style-1">
<div class="headerBlock"></div>
    <?php /*?><div style="display:none;">
    <div class="header-top-ads">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('header-top-ads')->toHtml();?>
                </div>
            </div>
        </div>
    </div>
	<div class="header-top">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-7 language-currency-top col-xs-12">
                    <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('header-top-email-address')->toHtml();?>
					<?php echo $block->getChildHtml('language-header'); ?>
					<?php echo $block->getChildHtml('currency-header'); ?>
				</div>

                <div class="col-lg-6 col-md-6 col-sm-5 header-links-top col-xs-12">
                    <div class="top-checkout-link hidden-xs">
                        <?php echo $block->getChildHtml('header.link.checkout'); ?>
                    </div>
                    <div class="minicart-header">
                        <div class="minicart-content">
                            <?php echo $block->getChildHtml('cart-header'); ?>
                        </div>
                    </div>
                    <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('header-top-social')->toHtml();?>

                </div>
			</div>
		</div>
	</div>

    <div class="header-middle">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-3 logo-header col-xs-12">
					<?php echo $block->getChildHtml('logo_theme'); ?>
				</div>

                <div class="col-lg-5 col-md-5 search-header col-xs-12">
                    <div class="searchbox-header">
                        <?php //echo $block->getChildHtml('search-header-pro'); ?>
                    </div>
                </div>

				<div class="col-lg-4 col-md-4 hidden-xs">
                    <div class="toplinks">
                        <?php echo $block->getChildHtml('header.links'); ?>
                        <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('track-order')->toHtml();?>
                    </div>
				</div>
			</div>
		</div>
	</div>

    <div class="header-middle-2 hidden-xs">
        <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('header-middle-2')->toHtml();?>
    </div>

    <div class="header-bottom">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-3 sidebar-megamenu">
					<div class="megamenu-content-sidebar">
						<div class="btn-megamenu">
							<a href="javascript:void(0)" title="<?php echo __('All Department')?>"><?php echo __('All Department')?></a>
						</div>

						<div class="menu-ver-content">
							<?php
							if($_config->getGeneral('menu_style') == 'megamenu'){
								echo $block->getChildHtml('navigation-header-megamenu');
							} else {
								echo $block->getChildHtml('navigation-header');
							}
							?>
						</div>
					</div>

					<div class="navigation-mobile-container">
						<?php echo $block->getChildHtml('navigation.mobile'); ?>
					</div>
				</div>

				<div class="col-lg-9 col-md-9 main-megamenu">
                    <div class="navigation-container">
                        <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('megamenu-horizontal')->toHtml();?>
                    </div>
				</div>
			</div>
		</div>
	</div>
    </div><?php */?>
    
        <div class="header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 alignright">
                        <div class="topMenu">
                            <ul>
                                <li><a href="/resources/">RESOURCES</a></li>
                                <?php $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
									$customerSession = $objectManager->get('Magento\Customer\Model\Session');
									if($customerSession->isLoggedIn()) { ?>
                                <li><a href="/customer/account/">ACCOUNT</a></li>
                                <li><a href="/customer/account/logout/">LOGOUT</a></li>
                                <?php } else { ?>
                                <li><a href="/customer/account/login/">LOGIN</a></li>
                                <?php } ?>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                        <?php echo $block->getChildHtml('logo_theme'); ?>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 centered col-xs-0">
                        <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('header-menu-desktop')->toHtml(); ?>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 alignright col-xs-6">
                    	<div class="minicart-header">
                        <div class="minicart-content">
                            <?php echo $block->getChildHtml('cart-header'); ?>
                        </div>
                    </div>
                        
                        <div class="mobileSearch"><i class="fa fa-search fontawesomeicon"></i></div>
                        <div class="searchbox-header">
							<?php echo $block->getChildHtml('search-header-pro'); ?>
                        </div>
                        
                        <?php /*?><input type="text" placeholder="Search..." class="form-control searchbox"><?php */?>
                        <?php /*?><div class="cartPopup" style="display: none;">
                            <span class="carttitle">Your Cart</span>
                            <div class="lineItem">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4"><img src="/images/table3.jpg" class="cart"></div>
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-4">Product Name</div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 alignright">5 x $10.00 </div>
                                </div>
                            </div>
                            <div class="lineItem">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4"><img src="/images/table3.jpg" class="cart"></div>
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-4">Product Name</div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 alignright">10 x $5.00 </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 alignright">
                                    Total $100.00
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <a href="" class="btn">VIEW CART</a>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 alignright">
                                    <a href="" class="btn">CHECKOUT</a>
                                </div>
                            </div>
                        </div><?php */?>
                        <div class="mobileButton"><i class="fa fa-bars fontawesomeicon"></i></div>
                    </div>
                </div>
            </div>
            <div class="mainMenu mobileMenu">
                <?php /*?><ul>
                    <li><a href="/">Home</a></li>
                    <li class="hasChildren"><a href="#">Product</a>
                        <ul class="submenu">
                            <li><a href="">
                                    <img src="/images/table.jpg">
                                    <span class="submenutitle">Desking</span>
                                </a>
                            </li>
                            <li><a href="">
                                    <img src="/images/table2.jpg">
                                    <span class="submenutitle">Tables</span>
                                </a>
                            </li>
                            <li><a href="">
                                    <img src="/images/table3.jpg">
                                    <span class="submenutitle">Seating</span>
                                </a>
                            </li>
                            <li><a href="">
                                    <img src="/images/screens1.jpg">
                                    <span class="submenutitle">Storage</span>
                                </a>
                            </li>
                            <li><a href="">
                                    <img src="/images/table2.jpg">
                                    <span class="submenutitle">Receptions</span>
                                </a>
                            </li>
                            <li><a href="">
                                    <img src="/images/screens2.jpg">
                                    <span class="submenutitle">Screens</span>
                                </a>
                            </li>
                            <li><a href="">
                                    <img src="/images/table.jpg">
                                    <span class="submenutitle">Frames</span>
                                </a>
                            </li>
                            <li><a href="">
                                    <img src="/images/table3.jpg">
                                    <span class="submenutitle">Motion Office</span>
                                </a>
                            </li>
                            <li><a href="">
                                    <img src="/images/screens2.jpg">
                                    <span class="submenutitle">Componets</span>
                                </a>
                            </li>
                            <li><a href="">
                                    <img src="/images/screens1.jpg">
                                    <span class="submenutitle">Sale</span>
                                </a>
                            </li>
                            <li class="rangeli">
                                <span>Shop by Range</span>
                                <a href="" class="range">Cubit</a>
                                <a href="" class="range">Ergoplan</a>
                                <a href="" class="range">Eko</a>
                                <a href="" class="range">Agile</a>
                                <a href="" class="range">Anvil</a>
                                <a href="" class="range">Team</a>
                                <a href="" class="range">Bentley</a>
                                <a href="" class="range">Free</a>
                                <a href="" class="range">Moda</a>
                                <a href="" class="range">Metro</a>
                                <a href="" class="range">Legend</a>
                                <a href="" class="range">Monza</a>
                                <a href="" class="range">Falcon</a>
                                <a href="" class="range">Motion Sync</a>
                                <a href="" class="range">Urban</a>
                                <a href="" class="range">Flex</a>
                                <a href="" class="range">Plymouth</a>
                                <a href="" class="range">Strauss</a>
                                <a href="" class="range">Edge</a>
                                <a href="" class="range">Evo</a>
                                <a href="" class="range">Holly</a>
                                <a href="" class="range">Stool</a>
                                <a href="" class="range">Luna</a>
                                <a href="" class="range">Jazmin</a>
                                <a href="" class="range">Vision</a>
                                <a href="" class="range">Que</a>
                                <a href="" class="range">Raz</a>
                                <a href="" class="range">Jump</a>
                                <a href="" class="range">Matrix</a>
                                <a href="" class="range">Swift</a>
                                <a href="" class="range">Adapta Mesh</a>
                                <a href="" class="range">Adapt Cantilever</a>
                                <a href="" class="range">Seeger</a>
                                <a href="" class="range">Link</a>
                            </li>
                        </ul>
                    </li>
                    <li class="hasChildren">
                        <a href="#">About</a>
                        <ul class="submenu about">
                            <li><a href="">
                                    <img src="/images/about.jpg">
                                    <span class="submenutitle">Meet the Team</span>
                                </a>
                            </li>
                            <li><a href="">
                                    <img src="/images/knight.jpg">
                                    <span class="submenutitle">About Knight</span>
                                </a>
                            </li>
                            <li><a href="">
                                    <img src="/images/about.jpg">
                                    <span class="submenutitle">Our Values</span>
                                </a>
                            </li>
                            <li><a href="">
                                    <img src="/images/careers.jpg">
                                    <span class="submenutitle">Careers</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="hasChildren"><a href="#">Inspiration</a>
                        <ul class="submenu inspo">
                            <li><a href="">
                                    <img src="/images/vr.jpg">
                                    <span class="submenutitle">Virtual Showroom</span>
                                </a>
                            </li>
                            <li><a href="">
                                    <img src="/images/lookbook.jpg">
                                    <span class="submenutitle">Lookbook</span>
                                </a>
                            </li>
                            <li><a href="">
                                    <img src="/images/camp.jpg">
                                    <span class="submenutitle">Product Campaigns</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="/blog/">Blog</a></li>
                    <li><a href="/contact/">Contact</a></li>
                </ul><?php */?>
                <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('header-menu-mobile')->toHtml(); ?>
                
            </div>
        </div>
    
</div>


