<div class="header-container header-style-2">
    <div class="header-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-8 col-md-8 col-sm-6 header-top-links">
                    <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('header-top-location-track-order')->toHtml();?>
                    <?php echo $block->getChildHtml('header.links'); ?>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 language-currency-top">
                    <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('header-top-hotline')->toHtml();?>
                    <?php echo $block->getChildHtml('language-header'); ?>
                    <?php echo $block->getChildHtml('currency-header'); ?>
                </div>
            </div>
        </div>
    </div>

    <div class="header-middle">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 logo-header">
                    <?php echo $block->getChildHtml('logo_theme'); ?>
                </div>

                <div class="col-lg-9 col-md-9 header-middle-right">
                    <div class="middle-right-content">
                        <div class="searchbox-header">
                            <?php echo $block->getChildHtml('search-header-pro'); ?>
                        </div>

                        <div class="minicart-header">
                            <div class="minicart-content">
                                <?php echo $block->getChildHtml('cart-header'); ?>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 text-center">
                    <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('id2-header-quicklink-top')->toHtml();?>
                </div>
            </div>
        </div>
    </div>

    <div class="header-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 sidebar-megamenu">
                    <div class="megamenu-content-sidebar">
                        <div class="btn-megamenu">
                            <a href="javascript:void(0)" title="<?php echo __('All Categories')?>"><?php echo __('All Categories')?></a>
                        </div>

                        <div class="menu-ver-content">
                            <?php
                            if($_config->getGeneral('menu_style') == 'megamenu'){
                                echo $block->getChildHtml('navigation-header-megamenu');
                            } else {
                                echo $block->getChildHtml('navigation-header');
                            }
                            ?>
                        </div>
                    </div>

                    <div class="navigation-mobile-container">
                        <?php echo $block->getChildHtml('navigation.mobile'); ?>
                    </div>
                </div>

                <div class="col-lg-9 col-md-9 main-megamenu">
                    <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('megamenu-horizontal')->toHtml();?>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    require([
        'jquery'
    ], function ($) {
        $( ".header-style-7 .header-top .header-top-links .toplinks-wrapper .header.links li" ).not( ".myaccount-link" ).mouseover(function() {
            $( ".header-style-7 .header-top .header-top-links .toplinks-wrapper .header.links" ).addClass('toplinks_hover');
        }).mouseout(function() {
            $( ".header-style-7 .header-top .header-top-links .toplinks-wrapper .header.links" ).removeClass('toplinks_hover');
        });
    });
</script>
