<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/** @var \Magento\Wishlist\Block\Customer\Wishlist\Items $block */
$columns = $block->getColumns();
?>


<div class="orderList">
			<?php $iterator = 1; ?>
			<?php if (count($block->getItems())): ?>
            <div class="cartTitles">
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2">

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <b>Product</b>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2">
                        <b>Price</b>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2">

                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2">

                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2">
                        <b></b>
                    </div>
                </div>
            </div>
            
            <?php foreach ($block->getItems() as $item): ?>
                    <div class="cartItem">
                	<div class="row">
                <?php foreach ($columns as $column): ?>
					<?= $column->setItem($item)->toHtml() ?>
                <?php endforeach; ?>
                    </div>
                    </div>
            <?php /*?><div class="cartItem">
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2">
                        <img src="/images/evo.jpg" alt="" class="">
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <span class="cartTitle">Evo 3 Highback Splice Chair</span>
                        <span class="smallCartDetails">Colour: Green   Delivery Option: Assembled</span>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2">
                        <span class="cartPrice">$299.00</span>
                    </div>
                    <div class="col-lg-1 col-sm-2 col-md-2 alignright"><a href="#" class="btn">VIEW PRODUCT</a></div>
                    <div class="col-lg-1 col-sm-2 col-md-2 alignright"><a href="#" class="btn">SHARE</a></div>
                    <div class="col-lg-1 col-sm-2 col-md-2 alignright"><a href="#" class="btn">ADD TO CART</a></div>
                </div>
            </div><?php */?>
			<?php endforeach; ?>
            
            

			<?php else: ?>
                <div class="message info empty">
                    <span><?= $block->escapeHtml(__('This Wish List has no Items')) ?></span>
                </div>
            <?php endif; ?>

        </div>

<?php /*?><div class="products-grid wishlist">
    <?php $iterator = 1; ?>
    <?php if (count($block->getItems())): ?>
    <ol class="product-items">
        <?php foreach ($block->getItems() as $item): ?>
        <?= /* @noEscape * / ($iterator++ == 1) ? '<li data-row="product-item" class="product-item" id="item_' . $block->escapeHtmlAttr($item->getId()) . '">' : '</li><li class="product-item" id="item_' . $block->escapeHtmlAttr($item->getId()) . '">' ?>
            <div class="product-item-info" data-container="product-grid">
                <?php foreach ($columns as $column): ?>
                    <?= $column->setItem($item)->toHtml() ?>
                <?php endforeach; ?>
            </div>
        <?= ($iterator == count($block->getItems())+1) ? '</li>' : '' ?>
        <?php endforeach; ?>
    </ol>
    <?php else: ?>
        <div class="message info empty">
            <span><?= $block->escapeHtml(__('This Wish List has no Items')) ?></span>
        </div>
    <?php endif; ?>
</div><?php */?>


<?php foreach ($columns as $column): ?>
    <?= $column->getAdditionalHtml() ?>
<?php endforeach; ?>
