<?php
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * @category   BSS
 * @package    Bss_Faqs
 * @author     Extension Team
 * @copyright  Copyright (c) 2017-2018 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */

// @codingStandardsIgnoreFile
?>
<?php
/**
 * Sidebar category block
 *
 * @var $block Bss\Faqs\Block\ModuleBlock
 */
$moduleConfig = $block->getModuleConfig();
?>
<div class="faqs_sidebar_menu bss_faqs">
    <div class="faqs_sidebar_label"
    style="background-color: <?php echo $block->escapeHtml($moduleConfig->getBackgroundColor()); ?>">
        <div><?php echo __('Category'); ?></div></div>
        <i class="fa fa-spinner fa-pulse faq-spinner" aria-hidden="true"></i>
        <div class="faqs_sidebar_data categories">
        <ul>
        </ul>
    </div>
</div>
<script type="text/x-magento-init">
    {
        ".faqs_sidebar_menu": {
            "bss_faqs_sidebar_category": {
                "baseUrl": "<?php echo $moduleConfig->getBaseUrl(); ?>"
            }
        }
    }
</script>
