<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<!-- ko if: (visible)-->
<div class="field addresses">
    <div class="control">
        <div class="shipping-address-items">
		    <select class="select shipping_address_id" name="shipping_address_id" data-bind="
		    	afterRender: renderedSelect,
		    	options: availableAddressOptions,
		        optionsText: addressOptionsText,
		        value: selectedAddress,
		        event: {change: onAddressChange};
		    "></select>
        </div>
    </div>
</div>
<!-- /ko -->