<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Product list toolbar
 *
 * @var $block \Magento\Catalog\Block\Product\ProductList\Toolbar
 */
use Magento\Catalog\Model\Product\ProductList\Toolbar;
?>



<?php if ($block->getCollection()->getSize()): ?>

<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="filter">Filter +</div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 alignright">
        <?php if ($block->isExpanded()): ?>
    <?php include ($block->getTemplateFile('Magento_Catalog::product/list/toolbar/sorter.phtml')) ?>
<?php endif; ?>
    </div>
</div>

<?php /*?><div class="toolbar toolbar-products" data-mage-init='<?php /* @escapeNotVerified * / echo $block->getWidgetOptionsJson(); ?>'>
        <?php if ($block->isExpanded()): ?>
            <?php include ($block->getTemplateFile('Magento_Catalog::product/list/toolbar/viewmode.phtml')) ?>
        <?php endif; ?>

        <?php include ($block->getTemplateFile('Magento_Catalog::product/list/toolbar/amount.phtml')) ?>
		
		
		
		<?php include ($block->getTemplateFile('Magento_Catalog::product/list/toolbar/limiter.phtml')) ?>

        <?php echo $block->getPagerHtml() ?> 
    </div><?php */?>
<?php endif ?>
