<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/** @var \Magento\Wishlist\Block\Customer\Wishlist\Items $block */
$columns = $block->getColumns();
?>

<div class="orderList">
    <?php $iterator = 1; ?>
    <?php if (count($block->getItems())): ?>
    <div class="cartTitles">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2">
                &nbsp;
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <b>Product</b>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
                <b>Price</b>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6">
                &nbsp;
            </div>
        </div>
    </div>
    <?php foreach ($block->getItems() as $item): ?>
        <div class="cartItem">
            <div class="row">
                <?php foreach ($columns as $column): ?>
                    <?= $column->setItem($item)->toHtml() ?>
                <?php endforeach; ?>
            </div>
        </div>
    <?php endforeach; ?>
    <?php else: ?>
        <div class="message info empty">
            <span><?= $block->escapeHtml(__('This Wish List has no Items')) ?></span>
        </div>
    <?php endif; ?>
</div>

<?php foreach ($columns as $column): ?>
    <?= $column->getAdditionalHtml() ?>
<?php endforeach; ?>
