<?php if(count($this->getLookbooks())>0): ?>
    <?php $lookbooks = $this->getLookbooks() ?>
    <?php foreach($lookbooks as $lookbook): ?>
        <div class="col-lg-4 col-md-4 col-sm-4 lookbook">
            <a href="<?php echo $this->getLookbookUrl($lookbook); ?>">
                <div class="lookbookitem">
                    <div class="lookbookImg"><span class="lookbookOverlay">Get The Look</span><img src="<?php echo $this->getImageUrl($lookbook) ?>" alt="<?php echo $lookbook->getName() ?>" class="lookbook-image"/></div>
                    <h4>
                        <?php echo $lookbook->getName() ?>
                    </h4>
                </div>
            </a>
        </div>
    <?php endforeach ?>
    <?php if ($block->getPagerHtml()): ?>
        <div class="lookbook-toolbar toolbar bottom"><?php echo $block->getPagerHtml(); ?></div>
    <?php endif ?>
<?php endif; ?>