<?php
$_post = $this->getPost();
?>
<?php if($_post): ?>
<div class="lookbookpage">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 centered">
                <?php echo $_post->getContent(); ?>
            </div>
        </div>
    </div>

        <div class="lookbook-container">
            <div class="mgs-lookbook-container">
                <div class="lookBookFeature">
                    <div class="row">
                        <div class="col-lg-12 lookbook">
                            <div class="lookbookLarge">
                                <div class="pin__image">
                                    <img src="<?php echo $this->getImageUrl($_post) ?>" alt="<?php echo $_post->getName() ?>" class="lookbook-image"/>
                                </div>
                                <?php echo $this->getPinHtml($_post) ?>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<?php endif; ?>