@media all and (min-width: 640px) {
    .amtab-grid-wrapper.-small .amtab-arrow {
        display: block;
    }
}

@media all and (min-width: 768px), print {
    .am-tabs-view .product.data.items > .item.content {
        padding: 35px;
    }

    .amtab-grid-wrapper .amtab-title,
    .amtab-grid-wrapper .amtab-cell {
        padding: 0 0 0 20px;
    }

    .amtab-grid-wrapper.-large .amtab-steps-container .amtab-step {
        max-width: 260px;
    }

    .amtab-grid-wrapper.-large .amtab-steps-container .amtab-step:not(:last-child) {
        margin: 0 50px 0 0;
    }

    .amtab-grid-wrapper.-large .amtab-steps-container .amtab-img {
        padding: 0 0 0 35px;
    }
}

@media all and (min-width: 1024px), print {
    .am-tabs-view .product-item {
        max-width: 16.66666667%;
    }

    .amtab-grid-wrapper.-small .amtab-grid-container.amtab-measure {
        flex-basis: 52%;
    }

    .amtab-grid-wrapper.-small .amtab-grid-container.amtab-sizes {
        flex-basis: 48%;
    }

    .amtab-grid-wrapper.-small .amtab-table-container {
        margin: 0 50px 0 0;
    }

    .amtab-grid-wrapper.-small .amtab-step {
        max-width: 190px;
    }

    .amtab-grid-wrapper.-small .amtab-img {
        position: absolute;
    }

    .amtab-grid-wrapper.-small .amtab-measure > .amtab-title {
        margin: 0 0 32px;
    }

    .amtab-grid-wrapper.-small .amtab-steps-container {
        height: 100%;
    }

    .amtab-grid-wrapper.-bottoms.-men .amtab-img {
        left: 16%;
        margin: 0 auto 10px;
    }

    .amtab-grid-wrapper.-bottoms.-men .amtab-step:nth-child(1) {
        left: 58%;
        max-width: 174px;
    }

    .amtab-grid-wrapper.-bottoms.-men .amtab-step:nth-child(1) .amtab-arrow {
        right: 100%;
        display: block;
        margin: 0 10px 0 0;
        max-width: 51px;
        width: 5vw;
    }

    .amtab-grid-wrapper.-bottoms.-men .amtab-step:nth-child(2) {
        top: 16%;
        max-width: 174px;
    }

    .amtab-grid-wrapper.-bottoms.-men .amtab-step:nth-child(3) {
        right: -6px;
        bottom: 100px;
        left: auto;
        max-width: 190px;
    }

    .amtab-grid-wrapper.-bottoms.-men .amtab-step:nth-child(3) .amtab-arrow {
        right: 100%;
        left: auto;
        margin: 0 10px 0 0;
    }

    .amtab-grid-wrapper.-bottoms.-men .amtab-step:nth-child(3) .amtab-arrow:after,
    .amtab-grid-wrapper.-bottoms.-men .amtab-step:nth-child(3) .amtab-arrow:before {
        right: 0;
    }

    .amtab-grid-wrapper.-bottoms.-men .amtab-step:nth-child(3) .amtab-arrow:before {
        transform: rotate(145deg) translate(1px, -1px);
    }

    .amtab-grid-wrapper.-bottoms.-men .amtab-step:nth-child(3) .amtab-arrow:after {
        transform: rotate(-145deg) translate(1px, 1px);
    }

    .amtab-grid-wrapper.-tops.-men .amtab-img {
        left: 12.5%;
    }

    .amtab-grid-wrapper.-tops.-men .amtab-step:nth-child(1) {
        top: 19.2%;
        right: 20px;
        left: auto;
        max-width: 174px;
    }

    .amtab-grid-wrapper.-tops.-men .amtab-step:nth-child(1) .amtab-arrow {
        right: 100%;
        display: block;
        margin: 0 10px 0 0;
        width: 44px;
    }

    .amtab-grid-wrapper.-tops.-men .amtab-step:nth-child(2) {
        top: 46.5%;
        left: -10px;
        max-width: 172px;
    }

    .amtab-grid-wrapper.-tops.-men .amtab-step:nth-child(2) .amtab-arrow {
        width: 12vw;
    }

    .amtab-grid-wrapper.-tops.-men .amtab-step:nth-child(3) {
        right: 0;
        bottom: 75px;
        left: auto;
        max-width: 176px;
    }

    .amtab-grid-wrapper.-tops.-men .amtab-step:nth-child(3) .amtab-arrow {
        right: 100%;
        bottom: -48px;
        left: auto;
        margin: 0 10px 0 0;
    }

    .amtab-grid-wrapper.-tops.-men .amtab-step:nth-child(3) .amtab-arrow:after,
    .amtab-grid-wrapper.-tops.-men .amtab-step:nth-child(3) .amtab-arrow:before {
        right: 0;
    }

    .amtab-grid-wrapper.-tops.-men .amtab-step:nth-child(3) .amtab-arrow:before {
        transform: rotate(145deg) translate(1px, -1px);
    }

    .amtab-grid-wrapper.-tops.-men .amtab-step:nth-child(3) .amtab-arrow:after {
        transform: rotate(-145deg) translate(1px, 1px);
    }

    .amtab-grid-wrapper.-bottoms.-women .amtab-img {
        left: 16%;
        margin: 0 auto 10px;
    }

    .amtab-grid-wrapper.-bottoms.-women .amtab-step:nth-child(1) {
        right: 24px;
        max-width: 174px;
    }

    .amtab-grid-wrapper.-bottoms.-women .amtab-step:nth-child(2) {
        top: 20%;
        max-width: 174px;
    }

    .amtab-grid-wrapper.-bottoms.-women .amtab-step:nth-child(3) {
        right: -30px;
        bottom: 85px;
        left: auto;
        max-width: 190px;
    }

    .amtab-grid-wrapper.-bottoms.-women .amtab-step:nth-child(3) .amtab-arrow {
        right: 100%;
        left: auto;
        margin: 0 10px 0 0;
    }

    .amtab-grid-wrapper.-bottoms.-women .amtab-step:nth-child(3) .amtab-arrow:after,
    .amtab-grid-wrapper.-bottoms.-women .amtab-step:nth-child(3) .amtab-arrow:before {
        right: 0;
    }

    .amtab-grid-wrapper.-bottoms.-women .amtab-step:nth-child(3) .amtab-arrow:before {
        transform: rotate(145deg) translate(1px, -1px);
    }

    .amtab-grid-wrapper.-bottoms.-women .amtab-step:nth-child(3) .amtab-arrow:after {
        transform: rotate(-145deg) translate(1px, 1px);
    }

    .amtab-grid-wrapper.-tops.-women .amtab-img {
        left: 12.5%;
    }

    .amtab-grid-wrapper.-tops.-women .amtab-step:nth-child(1) {
        top: 25.2%;
        right: 24px;
        left: auto;
        max-width: 174px;
    }

    .amtab-grid-wrapper.-tops.-women .amtab-step:nth-child(1) .amtab-arrow {
        right: 100%;
        display: block;
        margin: 0 10px 0 0;
        width: 44px;
    }

    .amtab-grid-wrapper.-tops.-women .amtab-step:nth-child(2) {
        top: 45.5%;
        left: 0;
        max-width: 172px;
    }

    .amtab-grid-wrapper.-tops.-women .amtab-step:nth-child(2) .amtab-arrow {
        width: 12vw;
    }

    .amtab-grid-wrapper.-tops.-women .amtab-step:nth-child(3) {
        right: -6px;
        bottom: 77px;
        left: auto;
        max-width: 176px;
    }

    .amtab-grid-wrapper.-tops.-women .amtab-step:nth-child(3) .amtab-arrow {
        right: 100%;
        bottom: -48px;
        left: auto;
        margin: 0 10px 0 0;
        width: 50px;
    }

    .amtab-grid-wrapper.-tops.-women .amtab-step:nth-child(3) .amtab-arrow:after,
    .amtab-grid-wrapper.-tops.-women .amtab-step:nth-child(3) .amtab-arrow:before {
        right: 0;
    }

    .amtab-grid-wrapper.-tops.-women .amtab-step:nth-child(3) .amtab-arrow:before {
        transform: rotate(145deg) translate(1px, -1px);
    }

    .amtab-grid-wrapper.-tops.-women .amtab-step:nth-child(3) .amtab-arrow:after {
        transform: rotate(-145deg) translate(1px, 1px);
    }
}

.am-noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.am-tabs-view .product-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.am-tabs-view .product-item {
    padding: 15px;
}

.am-tabs-view .block.crosssell {
    padding: 0;
    width: 100%;
}

.am-tabs-view .product.data.items > .item.title > .switch {
    overflow: hidden;
    padding: 0 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.am-tabs-view .product.data.items > .item.title.active > .switch,
.am-tabs-view .product.data.items > .item.title.active > .switch:focus,
.am-tabs-view .product.data.items > .item.title.active > .switch:hover {
    padding-bottom: 1px;
}

.am-tabs-view .product.data.items > .content {
    display: none;
}

.am-tabs-view .product.data.items > .active + .content {
    display: block;
}

.am-tabs-view .product.data.items > .item.content {
    margin-top: 41px;
    padding: 10px 10px 30px;
}

.amtab-grid-wrapper {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}

.amtab-cell-select {
    position: relative;
    margin: 0 0 0 -10px;
    cursor: pointer;
}

.amtab-cell-select:focus:after,
.amtab-cell-select:active:after {
    border-color: #3b68bb transparent transparent transparent;
    transform: rotate(180deg);
}

.amtab-cell-select:focus .amtab-select,
.amtab-cell-select:active .amtab-select {
    color: #3b68bb;
}

.amtab-cell-select:after {
    transition: 0.1s all ease-in;
    position: absolute;
    top: 45%;
    right: 0;
    border-width: 4px 3px 0 3px;
    border-style: solid;
    border-color: #6597f3 transparent transparent transparent;
    content: '';
}

.amtab-cell-select .amtab-select {
    transition: 0.1s all ease-in;
    padding: 0 10px;
    outline: none;
    border: none;
    background: none;
    box-shadow: none;
    color: #6597f3;
    font-weight: 600;
}

.amtab-cell-select .amtab-select:focus,
.amtab-cell-select .amtab-select:hover {
    outline: none;
    border: none;
    box-shadow: none;
}

.amtab-cell-select .amtab-select ::-ms-expand {
    display: none;
}

.amtab-cell-select .amtab-select .amtab-option {
    color: #41362f;
}

.amtab-grid-container > .amtab-title {
    width: 100%;
    font-weight: 600;
    font-size: 16px;
}

.amtab-grid-container > .amtab-note {
    margin: 10px 0 0 0;
    color: #6f716e;
    font-size: 12px;
}

.amtab-grid-container > .amtab-desc {
    margin: 0 0 10px 0;
    color: #41362f;
    font-size: 14px;
}

.amtab-table-container {
    flex-basis: 100%;
    border: 1px solid #eff3f9;
    color: #41362f;
}

.amtab-table-container .amtab-cell {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    cursor: pointer;
}

.amtab-table-container .amtab-cell:not(:last-child) {
    border-right: 1px solid #eff3f9;
}

.amtab-table-container .amtab-cell .amtab-desc {
    transition: 0.1s all ease-in;
    flex-basis: 100%;
    color: #6597f3;
    font-weight: bold;
    font-style: normal;
}

.amtab-table-container .amtab-title {
    display: flex;
    align-items: center;
    border-right: 1px solid #eff3f9;
}

.amtab-table-container .amtab-title.-amtab-hoverline {
    background: #6597f3;
    color: #fff;
}

.amtab-table-container .amtab-title,
.amtab-table-container .amtab-cell {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: 0.1s all ease-in;
    align-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 0 0 0 14px;
    width: 100%;
    font-size: 14px;
}

.amtab-table-container .amtab-table-line .amtab-cell:hover,
.amtab-table-container .amtab-table-line .amtab-cell.-active {
    background: #6597f3;
    color: #fff;
    font-weight: bold;
}

.amtab-table-container .-amtab-hoverline {
    background: rgba(101, 151, 243, 0.2);
}

.amtab-table-container .amtab-table-line,
.amtab-table-container .amtab-head-line {
    display: flex;
    margin: 0;
}

.amtab-table-container .amtab-head-line {
    border-bottom: 1px solid #eff3f9;
}

.amtab-table-container .amtab-table-line:not(:last-child) {
    border-bottom: 1px solid #eff3f9;
}

.amtab-table-container .amtab-head-line .-amtab-hoverline {
    background: #6597f3;
    color: #fff;
    font-weight: bold;
}

.amtab-table-container .amtab-head-line .-amtab-hoverline .amtab-select {
    color: #fff;
}

.amtab-table-container .amtab-head-line .-amtab-hoverline .amtab-select:after {
    border-color: #fff transparent transparent transparent;
}

.amtab-table-container .amtab-head-line .-amtab-hoverline .amtab-desc {
    color: #fff;
}

.amtab-steps-container {
    position: relative;
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.amtab-steps-container .amtab-steps {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.amtab-grid-wrapper.-large .amtab-grid-container {
    overflow: auto;
    max-width: 100%;
}

.amtab-grid-wrapper.-large .amtab-grid-container .amtab-sizes > .amtab-title {
    margin: 0 0 25px;
}

.amtab-grid-wrapper.-large .amtab-grid-container .amtab-measure {
    padding: 45px 0 0 0;
}

.amtab-grid-wrapper.-large .amtab-grid-container .amtab-measure > .amtab-title {
    margin: 0 0 10px;
}

.amtab-grid-wrapper.-large .amtab-table-container {
    border-radius: 4px;
    overflow: hidden;
    overflow-x: scroll;
    scrollbar-color: #aab0ba #fff;
    scrollbar-width: thin;
    position: relative;
    border: 1px solid #eff3f9;
}

.amtab-grid-wrapper.-large .amtab-table-container::-webkit-scrollbar {
    background: transparent;
}

.amtab-grid-wrapper.-large .amtab-table-container::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #aab0ba;
    cursor: pointer;
}

.amtab-grid-wrapper.-large .amtab-table-container ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #aaa;
}

.amtab-grid-wrapper.-large .amtab-table-container::-webkit-scrollbar {
    height: 4px;
}

.amtab-grid-wrapper.-large .amtab-table-container::-webkit-scrollbar-thumb {
    height: 4px;
}

.amtab-grid-wrapper.-large .amtab-table-container ::-webkit-scrollbar-track {
    height: 4px;
}

.amtab-grid-wrapper.-large .amtab-table-container .amtab-cell {
    min-width: 65px;
}

.amtab-grid-wrapper.-large .amtab-table-container .amtab-title {
    min-width: 130px;
    background: #f9fafc;
    font-weight: bold;
}

.amtab-grid-wrapper.-large .amtab-table-container .amtab-title.-amtab-hoverline {
    background: #6597f3;
}

.amtab-grid-wrapper.-large .amtab-table-container .amtab-desc {
    flex-basis: 100%;
    font-weight: 600;
    font-style: normal;
    font-size: 12px;
}

.amtab-grid-wrapper.-large .amtab-head-line,
.amtab-grid-wrapper.-large .amtab-table-line {
    height: 65px;
}

.amtab-grid-wrapper.-large .amtab-head-line .amtab-cell {
    color: #6597f3;
    font-weight: bold;
}

.amtab-grid-wrapper.-large .amtab-head-line .amtab-cell.-amtab-hoverline {
    color: #fff;
}

.amtab-grid-wrapper.-large .amtab-steps-container {
    display: flex;
    flex-wrap: wrap;
    padding: 16px 0 25px;
    counter-reset: step;
}

.amtab-grid-wrapper.-large .amtab-steps-container .amtab-step {
    margin: 0 0 40px 0;
    width: 100%;
}

.amtab-grid-wrapper.-large .amtab-steps-container .amtab-img {
    position: relative;
    padding: 0 0 0 100px;
    max-height: 110px;
}

.amtab-grid-wrapper.-large .amtab-steps-container .amtab-img:after,
.amtab-grid-wrapper.-large .amtab-steps-container .amtab-img:before {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 18px;
    height: 18px;
    content: '';
}

.amtab-grid-wrapper.-large .amtab-steps-container .amtab-img:before {
    border: 1px solid transparent;
    border-radius: 50%;
    background: #cfe0ff;
}

.amtab-grid-wrapper.-large .amtab-steps-container .amtab-img:after {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 11px;
    line-height: 10px;
    counter-increment: step;
    color: #4983f1;
    content: counter(step);
}

.amtab-grid-wrapper.-large .amtab-steps-container .amtab-tip {
    display: block;
    margin: 5px 0 0 0;
    color: #000;
    font-weight: bold;
    font-size: 12px;
}

.amtab-grid-wrapper.-large .amtab-steps-container .amtab-desc {
    margin: 10px 0 0 0;
    font-size: 12px;
}

.amtab-grid-wrapper.-small .amtab-grid-container {
    flex-basis: 100%;
}

.amtab-grid-wrapper.-small .amtab-head-line {
    height: 64px;
    background: #f9fafc;
    font-weight: normal;
}

.amtab-grid-wrapper.-small .amtab-table-line {
    height: 45px;
}

.amtab-grid-wrapper.-small .amtab-table-line:nth-child(odd) {
    background: #f9fafc;
}

.amtab-grid-wrapper.-small .amtab-table-line .amtab-title {
    font-weight: bold;
}

.amtab-grid-wrapper.-small .amtab-steps-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    align-self: flex-start;
    width: 100%;
}

.amtab-grid-wrapper.-small .amtab-steps-container .amtab-img {
    display: flex;
    justify-content: center;
    top: 0;
}

.amtab-grid-wrapper.-small .amtab-steps-container .amtab-head {
    display: flex;
    align-items: center;
    position: relative;
    display: inline-flex;
    margin: 0 0 5px;
    color: #4983f1;
    font-weight: bold;
}

.amtab-grid-wrapper.-small .amtab-steps-container .amtab-desc {
    margin: 0;
    color: #000;
    font-size: 12px;
}

.amtab-grid-wrapper.-small .amtab-arrow {
    transition: 0.1s all ease-in;
    position: absolute;
    display: none;
    border-bottom: 1px solid #4983f1;
    border-radius: 5px 0 0 5px;
}

.amtab-grid-wrapper.-small .amtab-arrow:after,
.amtab-grid-wrapper.-small .amtab-arrow:before {
    transition: 0.1s all ease-in;
    position: absolute;
    display: block;
    width: 5px;
    border-bottom: 1px solid #4983f1;
    content: '';
}

.amtab-grid-wrapper.-small .amtab-step {
    position: absolute;
    margin: 0;
    max-width: 300px;
}

.amtab-grid-wrapper.-small .amtab-sizes > .amtab-title {
    margin: 0 0 26px;
}

.amtab-grid-wrapper.-small .amtab-measure {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}

.amtab-grid-wrapper.-small .amtab-measure > .amtab-title {
    align-self: flex-start;
    margin: 40px 0 35px 0;
}

.amtab-grid-wrapper.-bottoms.-men .amtab-img {
    margin: 0 auto 42px;
}

.amtab-grid-wrapper.-bottoms.-men .amtab-step:nth-child(1) {
    top: -8px;
    right: 0;
    max-width: 29vw;
}

.amtab-grid-wrapper.-bottoms.-men .amtab-step:nth-child(1) .amtab-arrow {
    display: none;
}

.amtab-grid-wrapper.-bottoms.-men .amtab-step:nth-child(1) .amtab-arrow:after,
.amtab-grid-wrapper.-bottoms.-men .amtab-step:nth-child(1) .amtab-arrow:before {
    right: -2px;
}

.amtab-grid-wrapper.-bottoms.-men .amtab-step:nth-child(1) .amtab-arrow:before {
    transform: rotate(-145deg) translate(3px, 0px);
}

.amtab-grid-wrapper.-bottoms.-men .amtab-step:nth-child(1) .amtab-arrow:after {
    transform: rotate(145deg) translate(3px, 0px);
}

.amtab-grid-wrapper.-bottoms.-men .amtab-step:nth-child(2) {
    top: 16%;
    left: 0;
    max-width: 29vw;
}

.amtab-grid-wrapper.-bottoms.-men .amtab-step:nth-child(2) .amtab-arrow {
    left: 45px;
    min-width: 50px;
    max-width: 108px;
    width: 20vw;
}

.amtab-grid-wrapper.-bottoms.-men .amtab-step:nth-child(2) .amtab-arrow:after,
.amtab-grid-wrapper.-bottoms.-men .amtab-step:nth-child(2) .amtab-arrow:before {
    left: -4px;
}

.amtab-grid-wrapper.-bottoms.-men .amtab-step:nth-child(2) .amtab-arrow:before {
    transform: rotate(45deg) translate(3px, -1px);
}

.amtab-grid-wrapper.-bottoms.-men .amtab-step:nth-child(2) .amtab-arrow:after {
    transform: rotate(-45deg) translate(3px, 1px);
}

.amtab-grid-wrapper.-bottoms.-men .amtab-step:nth-child(3) {
    bottom: 0;
    left: 0;
    max-width: 100%;
}

.amtab-grid-wrapper.-bottoms.-men .amtab-step:nth-child(3) .amtab-arrow {
    left: 100%;
    margin: 0 0 0 10px;
    min-width: 40px;
    max-width: 124px;
    width: 30vw;
}

.amtab-grid-wrapper.-bottoms.-men .amtab-step:nth-child(3) .amtab-arrow:before {
    transform: rotate(45deg) translate(1px, 1px);
}

.amtab-grid-wrapper.-bottoms.-men .amtab-step:nth-child(3) .amtab-arrow:after {
    transform: rotate(-45deg) translate(1px, -1px);
}

.amtab-grid-wrapper.-tops.-men .amtab-step:nth-child(1) {
    top: 25px;
    left: 0;
    max-width: 38vw;
}

.amtab-grid-wrapper.-tops.-men .amtab-step:nth-child(1) .amtab-arrow {
    display: none;
}

.amtab-grid-wrapper.-tops.-men .amtab-step:nth-child(1) .amtab-arrow:after,
.amtab-grid-wrapper.-tops.-men .amtab-step:nth-child(1) .amtab-arrow:before {
    right: -2px;
}

.amtab-grid-wrapper.-tops.-men .amtab-step:nth-child(1) .amtab-arrow:before {
    transform: rotate(-145deg) translate(3px, 0px);
}

.amtab-grid-wrapper.-tops.-men .amtab-step:nth-child(1) .amtab-arrow:after {
    transform: rotate(145deg) translate(3px, 0px);
}

.amtab-grid-wrapper.-tops.-men .amtab-step:nth-child(2) {
    top: 50.9%;
    left: 0;
}

.amtab-grid-wrapper.-tops.-men .amtab-step:nth-child(2) .amtab-arrow {
    left: 50px;
    min-width: 50px;
    max-width: 123px;
    width: 16vw;
}

.amtab-grid-wrapper.-tops.-men .amtab-step:nth-child(2) .amtab-arrow:after,
.amtab-grid-wrapper.-tops.-men .amtab-step:nth-child(2) .amtab-arrow:before {
    left: -4px;
}

.amtab-grid-wrapper.-tops.-men .amtab-step:nth-child(2) .amtab-arrow:before {
    transform: rotate(45deg) translate(3px, -1px);
}

.amtab-grid-wrapper.-tops.-men .amtab-step:nth-child(2) .amtab-arrow:after {
    transform: rotate(-45deg) translate(3px, 1px);
}

.amtab-grid-wrapper.-tops.-men .amtab-step:nth-child(3) {
    bottom: 2px;
    left: 0;
    max-width: 300px;
}

.amtab-grid-wrapper.-tops.-men .amtab-step:nth-child(3) .amtab-arrow {
    left: 100%;
    margin: 0 0 0 10px;
    min-width: 40px;
    max-width: 75px;
    width: 15vw;
}

.amtab-grid-wrapper.-tops.-men .amtab-step:nth-child(3) .amtab-arrow:before {
    transform: rotate(45deg) translate(1px, 1px);
}

.amtab-grid-wrapper.-tops.-men .amtab-step:nth-child(3) .amtab-arrow:after {
    transform: rotate(-45deg) translate(1px, -1px);
}

.amtab-grid-wrapper.-bottoms.-women .amtab-img {
    margin: 0 auto 30px;
}

.amtab-grid-wrapper.-bottoms.-women .amtab-step:nth-child(1) {
    top: -7px;
    right: 0;
    max-width: 29vw;
}

.amtab-grid-wrapper.-bottoms.-women .amtab-step:nth-child(1) .amtab-arrow {
    right: 100%;
    margin: 0 10px 0 0;
    min-width: 50px;
    max-width: 90px;
    width: 5vw;
}

.amtab-grid-wrapper.-bottoms.-women .amtab-step:nth-child(1) .amtab-arrow:after,
.amtab-grid-wrapper.-bottoms.-women .amtab-step:nth-child(1) .amtab-arrow:before {
    right: -2px;
}

.amtab-grid-wrapper.-bottoms.-women .amtab-step:nth-child(1) .amtab-arrow:before {
    transform: rotate(-145deg) translate(3px, 0px);
}

.amtab-grid-wrapper.-bottoms.-women .amtab-step:nth-child(1) .amtab-arrow:after {
    transform: rotate(145deg) translate(3px, 0px);
}

.amtab-grid-wrapper.-bottoms.-women .amtab-step:nth-child(2) {
    top: 17%;
    left: 0;
    max-width: 300px;
}

.amtab-grid-wrapper.-bottoms.-women .amtab-step:nth-child(2) .amtab-arrow {
    left: 45px;
    min-width: 50px;
    max-width: 108px;
    width: 20vw;
}

.amtab-grid-wrapper.-bottoms.-women .amtab-step:nth-child(2) .amtab-arrow:after,
.amtab-grid-wrapper.-bottoms.-women .amtab-step:nth-child(2) .amtab-arrow:before {
    left: -4px;
}

.amtab-grid-wrapper.-bottoms.-women .amtab-step:nth-child(2) .amtab-arrow:before {
    transform: rotate(45deg) translate(3px, -1px);
}

.amtab-grid-wrapper.-bottoms.-women .amtab-step:nth-child(2) .amtab-arrow:after {
    transform: rotate(-45deg) translate(3px, 1px);
}

.amtab-grid-wrapper.-bottoms.-women .amtab-step:nth-child(3) {
    bottom: 0;
    left: 0;
    max-width: 345px;
}

.amtab-grid-wrapper.-bottoms.-women .amtab-step:nth-child(3) .amtab-arrow {
    left: 100%;
    margin: 0 0 0 10px;
    width: 75px;
}

.amtab-grid-wrapper.-bottoms.-women .amtab-step:nth-child(3) .amtab-arrow:before {
    transform: rotate(45deg) translate(1px, 1px);
}

.amtab-grid-wrapper.-bottoms.-women .amtab-step:nth-child(3) .amtab-arrow:after {
    transform: rotate(-45deg) translate(1px, -1px);
}

.amtab-grid-wrapper.-tops.-women .amtab-step:nth-child(1) {
    top: 25px;
    left: 0;
    max-width: 38vw;
}

.amtab-grid-wrapper.-tops.-women .amtab-step:nth-child(1) .amtab-arrow {
    display: none;
}

.amtab-grid-wrapper.-tops.-women .amtab-step:nth-child(1) .amtab-arrow:after,
.amtab-grid-wrapper.-tops.-women .amtab-step:nth-child(1) .amtab-arrow:before {
    right: -2px;
}

.amtab-grid-wrapper.-tops.-women .amtab-step:nth-child(1) .amtab-arrow:before {
    transform: rotate(-145deg) translate(3px, 0px);
}

.amtab-grid-wrapper.-tops.-women .amtab-step:nth-child(1) .amtab-arrow:after {
    transform: rotate(145deg) translate(3px, 0px);
}

.amtab-grid-wrapper.-tops.-women .amtab-step:nth-child(2) {
    top: 50%;
    left: 0;
}

.amtab-grid-wrapper.-tops.-women .amtab-step:nth-child(2) .amtab-arrow {
    left: 50px;
    min-width: 50px;
    max-width: 150px;
    width: 16vw;
}

.amtab-grid-wrapper.-tops.-women .amtab-step:nth-child(2) .amtab-arrow:after,
.amtab-grid-wrapper.-tops.-women .amtab-step:nth-child(2) .amtab-arrow:before {
    left: -4px;
}

.amtab-grid-wrapper.-tops.-women .amtab-step:nth-child(2) .amtab-arrow:before {
    transform: rotate(45deg) translate(3px, -1px);
}

.amtab-grid-wrapper.-tops.-women .amtab-step:nth-child(2) .amtab-arrow:after {
    transform: rotate(-45deg) translate(3px, 1px);
}

.amtab-grid-wrapper.-tops.-women .amtab-step:nth-child(3) {
    bottom: 2px;
    left: 0;
    max-width: 300px;
}

.amtab-grid-wrapper.-tops.-women .amtab-step:nth-child(3) .amtab-arrow {
    left: 100%;
    margin: 0 0 0 10px;
    width: 16vw;
}

.amtab-grid-wrapper.-tops.-women .amtab-step:nth-child(3) .amtab-arrow:before {
    transform: rotate(45deg) translate(1px, 1px);
}

.amtab-grid-wrapper.-tops.-women .amtab-step:nth-child(3) .amtab-arrow:after {
    transform: rotate(-45deg) translate(1px, -1px);
}
