<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<li class="item product product-item" data-role="product-item" data-bind="attr: {sku: product_sku}">
    <div class="product">
        <!-- ko if: product_has_url -->
        <a data-bind="attr: {href: product_url, title: product_name}" tabindex="-1" class="product-item-photo">
            <!-- ko foreach: $parent.getRegion('itemImage') -->
            <!-- ko template: {name: getTemplate(), data: item.product_image} --><!-- /ko -->
            <!-- /ko -->
        </a>
        <!-- /ko -->
        <!-- ko ifnot: product_has_url -->
        <span class="product-item-photo">
            <!-- ko foreach: $parent.getRegion('itemImage') -->
            <!-- ko template: {name: getTemplate(), data: item.product_image} --><!-- /ko -->
            <!-- /ko -->
        </span>
        <!-- /ko -->

        <div class="product-item-details">
            <!-- ko if: product_has_url -->
            <strong><a class="product-name" data-bind="attr: {href: product_url}, html: product_name"></a></strong>
            <!-- /ko -->
            <!-- ko ifnot: product_has_url -->
            <!-- ko text: product_name --><!-- /ko -->
            <!-- /ko -->

            <!-- ko if: product_type != "super" -->
            <div class="produc_sku"><!-- ko text: product_sku --><!-- /ko --></div>
            <!-- /ko -->
            <!-- ko if: options.length -->
            <div class="product options" data-mage-init='{"collapsible":{"openedState": "active", "saveState": false}}'>
                <span data-role="title" class="toggle"><!-- ko i18n: 'See Details' --><!-- /ko --></span>
                <!-- ko if: product_type == "super" -->
                <div data-role="content" class="content issuper new">
                    <strong class="subtitle"><!-- ko i18n: 'Options Details' --><!-- /ko --></strong>
                    <dl class="product options list">
                        <!-- ko foreach: { data: options, as: 'option' } -->
                        <div class="p-item" data-bind="attr: {sku: option.product_simple_sku}" >
                            <div class="product_name"><!-- ko text: option.product_name --><!-- /ko --></div>
                            <div class="produc_sku"><!-- ko text: option.product_simple_sku --><!-- /ko --></div>
                            <!-- ko foreach: { data: option.customoptions, as: 'optionchild' } -->
                            <dt class="label"><!-- ko text: optionchild.label --><!-- /ko -->:</dt>
                            <dd class="values">
                                <!-- ko if: Array.isArray(optionchild.value) -->
                                <span data-bind="html: optionchild.value.join('<br>')"></span>
                                <!-- /ko -->
                                <!-- ko ifnot: Array.isArray(optionchild.value) -->
                                <span data-bind="html: optionchild.value"></span>
                                <!-- /ko -->
                                <br/>
                            </dd>
                            <!-- /ko -->
                            <div class="p-image">
                                <img data-bind="attr: {src: option.product_thumbnail_img}" />
                            </div>
                            <div class="alert-traffic-light hide">
                                <i class="fas fa-exclamation-triangle"></i>           
                                <div class="content">
                                    <p>Stock status has changed since this product was added to the cart</p>
                                </div>
                            </div>
                        </div>
                        <!-- /ko -->
                    </dl>
                </div>
                <!-- /ko -->
                <!-- ko if: product_type != "super" -->
                <div data-role="content" class="content normal">
                    <strong class="subtitle"><!-- ko i18n: 'Options Details' --><!-- /ko --></strong>
                    <dl class="product options list">
                        <!-- ko foreach: { data: options, as: 'option' } -->
                        <dt class="label"><!-- ko text: option.label --><!-- /ko -->:</dt>
                        <dd class="values">
                            <!-- ko if: Array.isArray(option.value) -->
                            <span data-bind="html: option.value.join('<br>')"></span>
                            <!-- /ko -->
                            <!-- ko ifnot: Array.isArray(option.value) -->
                            <span data-bind="html: option.value"></span>
                            <!-- /ko -->
                            <br/>
                        </dd>
                        <!-- /ko -->
                    </dl>
                </div>
                <!-- /ko -->

            </div>
            <!-- /ko -->

            <div class="product-item-pricing">
                <div class="label-qty"><!-- ko i18n: 'Quantity' --><!-- /ko -->:</div>
                <div class="details-qty qty">
                    <div data-bind="html: qty"
                         class="item-qty cart-item-qty"></div>
                </div>
                <!-- ko if: canApplyMsrp -->

                <div class="details-map">
                    <span class="label" data-bind="i18n: 'Price'"></span>
                    <span class="value" data-bind="i18n: 'See price before order confirmation.'"></span>
                </div>

                <!-- /ko -->
                <!-- ko ifnot: canApplyMsrp -->
                <!-- ko foreach: $parent.getRegion('priceSidebar') -->
                <!-- ko template: {name: getTemplate(), data: item.product_price, as: 'price'} --><!-- /ko -->
                <!-- /ko -->
                <!-- /ko -->

            </div>
            <!-- ko if: product_type != "super" -->
            <div class="alert-traffic-light hide">
                <i class="fas fa-exclamation-triangle"></i>           
                <div class="content">
                    <p>Stock status has changed since this product was added to the cart</p>
                </div>
            </div>
            <!-- /ko -->
            <!-- ko if: product_type == "super" -->
                <!-- ko ifnot: options.length -->
                    <div class="alert-traffic-light hide">
                        <i class="fas fa-exclamation-triangle"></i>           
                        <div class="content">
                            <p>Stock status has changed since this product was added to the cart</p>
                        </div>
                    </div>
                <!-- /ko -->
            <!-- /ko -->
        </div>        
    </div>
</li>
