<?php
$params = $block->getRequestDefault();
$collection = $block->getSearchCollection($params);
?>

<?php /* if ($files = $block->getAttachments()) : ?>
    <?php foreach ($files as $file) : ?>
        <div class="col-lg-3 col-md-3 col-sm-4 resourcebut">
            <a class="resourcesButton" href="<?= $block->escapeUrl($file->getFrontendUrl()) ?>"target="_blank">
                <?php if ($block->isShowIcon() && $file->getIconUrl()) : ?>
                    <img src="<?= $block->escapeUrl($file->getIconUrl()) ?>" class="am-fileicon" />
                <?php endif; ?>
                <span><?= $block->escapeHtml($file->getLabel()); ?></span>
                <?php if ($block->isShowFilesize() && $file->getFileSize()) : ?>
                    <span class="am-filesize">(<?= $block->escapeHtml($file->getReadableFileSize()) ?>)</span>
                <?php endif ?>
            </a>
        </div>
    <?php endforeach; ?>
<?php endif; */?>
<?php
    if(count($collection) > 0) {
?>
<?php /*<div class="col-lg-12 col-md-12 col-sm-12">
    <h2>Search results for: '<?php echo $params['keyword'] ?>'</h2>
</div> */ ?>
        <?php foreach ($collection as $file): ?>
            <div class="col-lg-3 col-md-3 col-sm-4 resourcebut">
                <a class="resourcesButton" href="<?= $block->escapeUrl($block->getDownloadUrl($file->getFileId())) ?>" target="_blank">
                    <?php if ($file->getThumbimage()) : ?>
                            <img src="<?= $block->escapeUrl($this->helper('Magento\Cms\Helper\Wysiwyg\Images')->getBaseUrl().'amasty/thumb/'.$file->getThumbimage()) ?>" class="am-fileicon" />
                    <?php endif; ?>
                    <span><?= $block->escapeHtml($file->getLabel()); ?></span>

                        <span class="am-filesize">(<?= $block->escapeHtml($file->getReadableFileSize()) ?>)</span>

                </a>
            </div>
        <?php endforeach; ?>
<?php }else { ?>
        <div class="col-lg-12 col-md-12 resourcebut">
           No resources found!
        </div>
<?php } ?>
