<?php
$cates = $block->getStoreCategoryIds();
?>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 alignright">
        <div class="resourcesSearch">
            <button type="button" class="action login primary" name="r-reset" id="r-reset"><span>Reset</span></button>
            <button type="button" class="action login primary" name="r-seacrh" id="r-seacrh"><span>Search</span></button>
            <input id="resources-search" class="form-control searchbox resourcesearch <?php if(count($cates) > 0): ?> mgtop <?php endif; ?>" type="text" placeholder="Search Resources..." />
            <?php if(count($cates) > 0): ?>
                <select class="searchRes" id="searchRes">
                    <option value="0">Search by Category</option>
                    <?php foreach ($cates as $item): ?>
                        <option value="<?php echo $item['category_id'] ?>"><?php echo $item['value'] ?></option>
                    <?php endforeach; ?>
                </select>
            <?php endif; ?>
        </div>
    </div>
</div>
<script>
    require(
        [
            'jquery',
            'mage/url'
        ],
        function($, url) {
            $("#r-seacrh").on('click',function(){
                var keyword = $('#resources-search').val();
                var category = $('#searchRes').val();
                if(keyword.length >0 || category >0) {
                    var body = $('body').loader();
                    body.loader('show');
                    $.ajax({
                        url: url.build('resources/search/result'),
                        type: 'POST',
                        dataType: "json",
                        data: {
                            keyword: keyword,
                            category: category
                        },
                        success: function (response) {
                            var body = $('body').loader();
                            body.loader('hide');
                            if (response.error == 0) { // Success
                                $('#default-list').hide();
                                $('#search-result').html(response.html);
                                $('#search-result').show();
                            } else {
                                alert(response.messages);
                            }

                        },
                        error: function (data) {
                            var body = $('body').loader();
                            body.loader('hide');
                            //location.reload();
                        }
                    });
                }else {
                    $("#r-reset").trigger('click');
                }
            });

            $('#resources-search').keypress(function (e) {
                var key = e.which;
                if(key == 13)  // the enter key code
                {
                    $('#r-seacrh').trigger('click');
                    return false;
                }
            });

            $("#r-reset").on('click',function(){
                $('#search-result').hide();
                $('#default-list').show();
                $('#resources-search').val('');
                $('#searchRes').find('option:first').attr('selected', 'selected');
            });
        }
    );
</script>