<div class="row">
    <div class="col-lg-12 col-md-12 centered"><h1>Login</h1>
    
    <p>Nulla rhoncus purus ut dolor congue, ut cursus mauris volutpat. Quisque ultrices volutpat venenatis. Quisque hendrerit turpis suscipit commodo pellentesque. Pellentesque facilisis leo eu lectus luctus, quis hendrerit purus placerat.</p>
    
    <p>Nam in interdum magna. Morbi vel erat nisl. Integer aliquet ex nec posuere dapibus. Aenean luctus et eros eget luctus. Donec sit amet dictum mauris. Ut porttitor lacus placerat ex consequat, vel luctus sem commodo. Nullam egestas vestibulum lacinia.</p></div>
</div>