.edit-order-table .product-item-photo {
    float: left;
    width: 75px;
    height: auto;
    margin-right: 10px;
}
.edit-order-table .product-item-photo img {
    width: auto;
    height: auto;
}
.edit-order-table .col-product > div {
    overflow: hidden; }
.clear {clear: both}
.product-title {
    font-weight: bold;
    color: #1979c3;
}
.p-single-name {
    font-weight: bold;
    font-style: normal !important;
}
.p-single-sku {
    font-style: normal !important;
}
.option-super {
    font-style: italic;
}
.option-super dt:last-of-type {
    font-style: normal !important;
    color: #000;
}
.option-super dd:last-of-type {
    font-style: normal;
    color: #000;
}
.p-item {
    margin-bottom: 10px;
    position: relative;
    padding-right: 85px;
    max-width: 350px;
}
.p-image {
    position: absolute;
    width: 75px;
    right: 0;
    top: 0;
}
.col-product{
    position: relative;
    padding-left: 85px !important;
}
.col-product .product-item-photo {
    position: absolute;
    left: 0;
    top: 10px;
}
.col-product > .product-item-photo {
    display: none;
}
.col-product > .product-item-photo.showing {
    display: block !important;
}
.col-product.simple .product-item-photo.showing {
    position: static;
    float: left;
    margin-left: -85px;
}
.col-product .item-options dt, .col-product .item-options dd{
    font-style: italic;
}
.order-view .col-product.simple > .product-item-photo {
    display: block;
}
.order-view .col-product.simple > .product-item-photo .product-item-photo {
    display: none;
}
.product-item-photo.showing img {
    height: auto;
}