<?php $_shipment = $block->getShipment() ?>
<?php $_order = $block->getOrder() ?>
<?php if ($_shipment && $_order): ?>
    <?php
    if (method_exists($_order, 'getTracksCollection')) {
        $trackCollection = $_order->getTracksCollection($_shipment->getId());
    } else {
        $trackCollection = $_shipment->getAllTracks();
    }
    ?>
    <?php if ($trackCollection): ?>
        <br/>
        <table class="shipment-track">
            <thead>
            <tr>
                <th><?= __('Shipped By') ?></th>
                <th><?= __('Tracking Number') ?></th>
            </tr>
            </thead>
            <tbody>
            <?php foreach ($trackCollection as $_item): ?>
                <?php
                if (class_exists('\Xtento\CustomTrackers\Helper\Track')) {
                    $trackingUrl = $this->helper('\Xtento\CustomTrackers\Helper\Track')->getDirectTrackingUrl($_item);
                } else {
                    $trackingUrl = '';
                }
                ?>
                <tr>
                    <td><?= $block->escapeHtml($_item->getTitle()) ?></td>
                    <?php if ($trackingUrl === ''): ?>
                        <td><?= $block->escapeHtml($_item->getNumber()) ?></td>
                    <?php else: ?>
                        <td><a href="<?php echo $trackingUrl ?>"><?= $block->escapeHtml($_item->getNumber()) ?></a></td>
                    <?php endif; ?>
                </tr>
            <?php endforeach ?>
            </tbody>
        </table>
    <?php endif; ?>
<?php endif; ?>