<?php
/*------------------------------------------------------------------------
# SM Filter Products - Version 1.0.0
# Copyright (c) 2016 YouTech Company. All Rights Reserved.
# @license - Copyrighted Commercial Software
# Author: YouTech Company
# Websites: http://www.magentech.com
-------------------------------------------------------------------------*/

use Magento\Framework\App\Action\Action;

?>

<?php
$_productCollection = $block->getLoadedProductCollection();
$_helper = $this->helper('Magento\Catalog\Helper\Output');
$_config = $this->helper('Sm\Zumi\Helper\Data');
$lthelper = $this->helper('Sm\FilterProducts\Helper\Data');

$thumbLimit = $this->_getConfig('thumb_limit');

$linkName = $this->_getConfig('link_name');
$linkUrl = $this->_getConfig('link_url');
?>
<?php if (!$_productCollection->count()): ?>
    <div class="message info empty"><div><?php /* @escapeNotVerified */ echo __('We can\'t find products matching the selection.') ?></div></div>
<?php else: ?>
    <?php
	$viewMode = 'grid';
	$image = 'category_page_grid';
	$showDescription = false;
	$templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
	$showWishlist = true;
    $showCompare = true;
    $showCart = true;
    /**
     * Position for actions regarding image size changing in vde if needed
     */
    $pos = $block->getPositioned();
	$tag_id = "sm_filterproducts_".time().rand()."";
    ?>

	<?php if (!empty($this->_getConfig('title_module'))){?>
        <div class="title-home-page">
			<span><?php echo $this->_getConfig('title_module') ;?></span>

            <?php if($linkName){ ?>
                <a class="link-title" href="<?php echo $linkUrl; ?>"><?php echo $linkName; ?></a>
            <?php } ?>
		</div>
	<?php } ?>

	<div id="<?php echo $tag_id; ?>" class="slider-wrapper products-grid">
		<?php
		if ($this->_getConfig('product_source') == 'countdown_products') {
			$dateTo = $this->_getConfig('date_to', '');
		?>
		<div class="deals-countdown" data-timer="<?php echo date("Y/m/d H:i:s", strtotime($dateTo)); ?>">
			<div class="deals-time time-day"><div class="num-time"></div><div class="title-time"></div></div>
			<div class="deals-time time-hours"><div class="num-time"></div><div class="title-time"></div></div>
			<div class="deals-time time-mins"><div class="num-time"></div><div class="title-time"></div></div>
			<div class="deals-time time-secs"><div class="num-time"></div><div class="title-time"></div></div>
		</div>
		<?php }?>


        <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
        <?php $k=0; ?>
        <?php foreach ($_productCollection as $_product): ?>
            <div class="item item-<?php echo $k; ?> product product-item <?php if($k == 0){ echo "first-item";}?>" <?php if($k==0) {echo "style=\"-ms-grid-row:1;-ms-grid-row-span:3;grid-row:1/4;\""; } ?>>
                <div class="item-inner clearfix">
                    <?php
                    $productImage = $block->getImage($_product, $image);
                    if ($pos != null) {
                        $position = ' style="left:' . $productImage->getWidth() . 'px;'
                            . 'top:' . $productImage->getHeight() . 'px;"';
                    }
                    ?>

                    <?php
                        $productInfo = "product_" . rand() . time();
                    ?>
                    <div class="image-thumbs <?php echo $productInfo; ?>">
                        <div class="box-image">
                            <a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" class="product photo product-item-photo" tabindex="-1">
                                <?php echo $productImage->toHtml(); ?>
                            </a>

                                <!--LABEL PRODUCT-->

                                <?php
                                $orgprice = $_product->getPrice();
                                $specialprice = $_product->getSpecialPrice();
                                $specialPriceFromDate = $_product->getSpecialFromDate();
                                $specialPriceToDate = $_product->getSpecialToDate();

                                $today = time();

                                if($k==0) {
                                    if ($specialprice && $_config->getAdvanced('show_salelabel')) {
                                        if ($today >= strtotime($specialPriceFromDate) && $today <= strtotime($specialPriceToDate) || $today >= strtotime($specialPriceFromDate) && is_null($specialPriceToDate)) { ?>
                                            <?php if ($specialprice < $orgprice) {
                                                $save_percent = 100 - round(($specialprice / $orgprice) * 100);
                                                ?>
                                                <div class="label-product label-sale">
											<span class="sale-product-icon">
												<?php echo '-' . $save_percent . '%'; ?>
											</span>
                                                </div>
                                            <?php } ?>
                                        <?php }
                                    }
                                }
                                ?>

                                <?php
                                $now = date("Y-m-d");
                                $newsFrom = substr($_product->getNewsFromDate(), 0, 10);
                                $newsTo = substr($_product->getNewsToDate(), 0, 10);


                                if (($newsTo != '' || $newsFrom != '') && $_config->getAdvanced('show_newlabel')) {
                                    if (($newsTo != '' && $newsFrom != '' && $now >= $newsFrom && $now <= $newsTo) || ($newsTo == '' && $now >= $newsFrom) || ($newsFrom == '' && $now <= $newsTo)) {?>
                                        <div class="label-product label-new">
                                                <span class="new-product-icon"><?php echo __('New'); ?></span>
                                            </div>
                                    <?php }
                                } ?>


                                <!--END LABEL PRODUCT-->
                            <?php if($k == 0) { ?>
                            <div class="wrap-action">
                                <div class="button-action">
                                    <?php if($_config->getAdvanced('show_wishlist_button')){?>
                                        <?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow()): ?>
                                            <a href="#"
                                               data-post='<?php /* @escapeNotVerified */ echo $block->getAddToWishlistParams($_product); ?>'
                                               class="action towishlist btn-action link-wishlist" data-action="add-to-wishlist"
                                               title="<?php /* @escapeNotVerified */ echo __('Add to Wish List') ?>">
                                                <span><?php /* @escapeNotVerified */ echo __('Add to Wish List') ?></span>
                                            </a>
                                        <?php endif; ?>
                                    <?php } ?>

                                    <?php if($_config->getAdvanced('show_compare_button')){?>
                                        <?php if ($block->getAddToCompareUrl()): ?>
                                            <?php $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');?>
                                            <a href="#" class="action tocompare btn-action link-compare"
                                               data-post='<?php /* @escapeNotVerified */ echo $compareHelper->getPostDataParams($_product);?>'
                                               title="<?php /* @escapeNotVerified */ echo __('Add to Compare') ?>">
                                                <span><?php /* @escapeNotVerified */ echo __('Add to Compare') ?></span>
                                            </a>
                                        <?php endif; ?>
                                    <?php } ?>
                                </div>
                                <div class="product actions product-item-actions bottom-action">
                                    <?php if($_config->getAdvanced('show_addtocart_button')){ ?>
                                        <?php if ($_product->isSaleable()): ?>
                                            <?php $postParams = $block->getAddToCartPostParams($_product); ?>
                                            <form data-role="tocart-form" action="<?php /* @escapeNotVerified */ echo $postParams['action']; ?>" method="post">
                                                <input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $postParams['data']['product']; ?>">
                                                <input type="hidden" name="<?php /* @escapeNotVerified */ echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php /* @escapeNotVerified */ echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
                                                <?php echo $block->getBlockHtml('formkey')?>
                                                <button type="submit"
                                                        title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
                                                        class="action tocart primary btn-action btn-cart">
                                                    <span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
                                                </button>
                                            </form>
                                        <?php else: ?>
                                            <?php if ($_product->getIsSalable()): ?>
                                                <div class="stock available"><span><?php /* @escapeNotVerified */ echo __('In stock') ?></span></div>
                                            <?php else: ?>
                                                <div class="stock unavailable btn-action btn-cart"><span><?php /* @escapeNotVerified */ echo __('Out of stock') ?></span></div>
                                            <?php endif; ?>
                                        <?php endif; ?>
                                    <?php } ?>
                                </div>
                            </div>

                            <?php } ?>



                        </div>

                        <div class="thumbs-product">
                            <?php
                            $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                            $product = $objectManager->create('Magento\Catalog\Model\Product')->load($_product->getId());
                            $images = $product->getMediaGalleryImages();
                            $limit = 0;

                            foreach($images as  $child){ $limit++;
                            //var_dump($child->getData('file'));die('123123');
                                if ($limit <= $thumbLimit){
                                    $img = $lthelper->_getImageThumbnail($child->getData('file'));
                                    if (!empty($img) && isset($img[0])) {
                                        $big_image_config = [
                                           'width' => 300,
                                           'height' => 300,
                                           'background' => '#ffffff',
                                           'function' => 1
                                       ];
                                       $small_image_config = [
                                           'width' => 60,
                                           'height' => 60,
                                           'background' => '#ffffff',
                                           'function' => 1
                                       ];
                                        $resizedImageBig =  $lthelper->_resizeImage($img[0], $big_image_config , 'product');
                                        $resizedImageUrl =  $lthelper->_resizeImage($img[0], $small_image_config , 'product'); ?>
                                        <div class="item-img" data-src="<?php echo $resizedImageBig; ?>">
                                            <img src="<?php echo $resizedImageUrl; ?>" alt="image" />

                                        </div>
                                <?php
                                    }
                                }
                            }?>
                        </div>

                        <script type="text/javascript">
                            require([
                                'jquery'
                            ], function ($) {
                                $( ".<?php echo $productInfo;?> .thumbs-product .item-img" ).click(function() {
                                    $( ".<?php echo $productInfo;?> .thumbs-product .item-img" ).removeClass('thumb-active');
                                    $(this).addClass('thumb-active');
                                    var thumb_src = $(this).attr("data-src");
                                    $( ".<?php echo $productInfo;?> .box-image a img").attr("src",thumb_src);
                                });
                            });
                        </script>
                    </div>

                    <div class="product details product-item-details box-info">
                        <?php
                            $_productNameStripped = $block->stripTags($_product->getName(), null, true);
                        ?>
                        <h2 class="product name product-item-name product-name">
                            <a class="product-item-link"
                               href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>">
                                <?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>
                            </a>
                        </h2>
                        <?php /* @escapeNotVerified */ echo $block->getProductPrice($_product) ?>
                        <?php echo $block->getReviewsSummaryHtml($_product, $templateType, true); ?>
                        <?php echo $block->getProductDetailsHtml($_product); ?>

                        <div class="bottom-action">
                            <?php if($_config->getAdvanced('show_addtocart_button')){ ?>
                                <?php if ($_product->isSaleable()): ?>
                                    <?php $postParams = $block->getAddToCartPostParams($_product); ?>
                                    <form data-role="tocart-form" action="<?php /* @escapeNotVerified */ echo $postParams['action']; ?>" method="post">
                                            <input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $postParams['data']['product']; ?>">
                                            <input type="hidden" name="<?php /* @escapeNotVerified */ echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php /* @escapeNotVerified */ echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
                                        <?php echo $block->getBlockHtml('formkey')?>
                                        <button type="submit"
                                                title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
                                                class="action tocart primary btn-action btn-cart">
                                                <span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
                                            </button>
                                        </form>
                                <?php else: ?>
                                    <?php if ($_product->getIsSalable()): ?>
                                        <div class="stock available"><span><?php /* @escapeNotVerified */ echo __('In stock') ?></span></div>
                                    <?php else: ?>
                                        <div class="stock unavailable btn-action btn-cart"><span><?php /* @escapeNotVerified */ echo __('Out of stock') ?></span></div>
                                    <?php endif; ?>
                                <?php endif; ?>
                            <?php } ?>
                        </div>
                    </div>

                    <?php
                    if ((int)$this->_getConfig('display_countdown') && !empty($_product->getSpecialPrice()) && !empty($_product->getSpecialToDate())) {
                        $specialToDate = $_product->getSpecialToDate();
                    ?>
                    <div class="deals-countdown clearfix" data-timer="<?php echo date("Y/m/d H:i:s", strtotime($specialToDate)); ?>">
                        <div class="deals-time time-day"><div class="num-time"></div><div class="title-time"></div></div>
                        <div class="deals-time time-hours"><div class="num-time"></div><div class="title-time"></div></div>
                        <div class="deals-time time-mins"><div class="num-time"></div><div class="title-time"></div></div>
                        <div class="deals-time time-secs"><div class="num-time"></div><div class="title-time"></div></div>
                    </div>
                    <?php }?>
                </div>
            </div>
            <?php $k++; ?>
        <?php endforeach; ?>
	</div>


	<script type="text/javascript">
        require([
            'jquery',
            'owlcarousel'
        ], function ($) {
			var $element = $('#<?php echo $tag_id ?>');

			function CountDown(date,id){
				dateNow = new Date();
				amount = date.getTime() - dateNow.getTime();
				delete dateNow;
				if(amount < 0){
					id.html("Now!");
				} else{
					days=0;hours=0;mins=0;secs=0;out="";
					amount = Math.floor(amount/1000);
					days=Math.floor(amount/86400);
					amount=amount%86400;
					hours=Math.floor(amount/3600);
					amount=amount%3600;
					mins=Math.floor(amount/60);
					amount=amount%60;
					secs=Math.floor(amount);
					$(".time-day .num-time" , id).text(days);
					$(".time-day .title-time" , id).text(((days <= 1)? "Day" : "Days"));
					$(".time-hours .num-time" , id).text(hours);
					$(".time-hours .title-time" , id).text(((hours <= 1)? "Hour" : "Hours"));
					$(".time-mins .num-time" , id).text(mins);
					$(".time-mins .title-time" , id).text(((mins <= 1)? "Min" : "Mins"));
					$(".time-secs .num-time" , id).text(secs);
					$(".time-secs .title-time" , id).text(((secs <= 1)? "Sec" : "Secs"));
					setTimeout(function(){CountDown(date,id)}, 1000);
				}
			}
			$( ".deals-countdown",$element).each(function() {
				var timer = $(this).data('timer');
				var data = new Date(timer);
				CountDown(data,$(this));
			});
        });
    </script>
    <?php if (!$block->isRedirectToCartEnabled()) : ?>
        <script type="text/x-magento-init">
        {
            "[data-role=tocart-form], .form.map.checkout": {
                "catalogAddToCart": {}
            }
        }
        </script>
    <?php endif; ?>
<?php endif; ?>
