/*
 * Copyright © Brandsmith Commerce OÜ. All rights reserved.
 * See LICENSE.txt for license details.
 */

& when (@media-common = true) {
  .customer-list-wrapper {
    position: relative;

    > div {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      background: #fff;
      z-index: 100;
      border: 1px solid #ccc;
      padding: 10px 10px 0 10px;
    }

    ul {
      list-style: none;
      margin: 0;
      li {
        display: block;
        margin-bottom: 5px;
        cursor: pointer;
      }
    }

    .no-items-found {
      color: #d04b0a;
    }
  }

  #points_form {

    label.error {
      border: 1px solid #e22626;
      display: block !important;
      margin: 2px 0 0;
      padding: 6px 10px 6px;
      background: #fff8d6;
      color: #555;
      font-size: 12px;
      font-weight: 500;
      box-sizing: border-box;
    }
  }
}
