<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php
/**
 * Shopping cart template
 *
 * @var $block \Magento\Checkout\Block\Cart
 */

$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->create('Magento\Customer\Model\SessionFactory')->create();
$logger = false;
if($customerSession->isLoggedIn()) {
    $logger = true;
}
if ($block->getItemsCount()) {
    if(!$logger) echo "<div class='not-logged'>";
        echo $block->getChildHtml('with-items');
    if(!$logger) echo "</div>";
} else {
    echo $block->getChildHtml('no-items');
}

?>

<script>
require(['jquery', 'jquery/ui'], 
function($){ 
	//let productInfoRows = $('.cartItem>.item-info').find('.product-child');
	//let productQties = $('.cartItem>.item-info').find('.field.qty');
	
	let productRows = $('.cartItem');
	
	for(let row = 0; row < productRows.length; row++){
		let productInfoRows = $(productRows[row]).find('.product-child');
		let productQties = $(productRows[row]).find('.field.qty');
		let productPrice = $(productRows[row]).find('.product-price');
		let subtotalPrice = $(productRows[row]).find('.subtotal-price');
		let itemTitles = $(productRows[row]).find('.cartTitle');
		
		for(let index = 0; index < itemTitles.length; index++ ) {
			let titleHeight = itemTitles[index].offsetHeight;
			let qty = $(itemTitles[index]).parents('.item-info').find('.qty-wrapper');
			let price = $(itemTitles[index]).parents('.item-info').find('.price-wrapper');
			
			$(qty).css('padding-top', ( titleHeight + 23 ) + 'px');
			$(price[0]).css('padding-top', ( titleHeight + 21 ) + 'px');
			$(price[1]).css('padding-top', ( titleHeight + 21 ) + 'px');
		}
		
		
		for(let index = 0; index < productInfoRows.length; index++ ) {
			
			let itemHeigth = productInfoRows[index].offsetHeight;
			
			$(productQties[index]).css("height", itemHeigth + "px");
			$(productPrice[index]).css("height", itemHeigth + "px");
			$(subtotalPrice[index]).css("height", itemHeigth + "px");
		}
	}

    $('.sp-remove-quote-item').bind('click', function(event) {
        var url = '/superproduct/index/remove';
        var formData = {
            'super_product_id'    : $(this).data('sp-id'),
            'quote_item_id' : $(this).data('quote-item-id'),
            'simple_sku' : $(this).data('simple-sku')
        };

        $.ajax({
            type        : 'POST',
            url         : url,
            data        : formData,
            dataType    : 'json',
            encode      : true,
            showLoader: true
        }).done(function(data) {
            window.location.href = data.redirectUrl;
        });
        return false;
    });

    $('input.item-action-remove').change(function() {
        let values = [];
        let quotes = [];
        $.each($('input.item-action-remove:checked'), function(){
            values.push($(this).val());
            quotes.push($(this).data('quote-item-id'));
        });
        $('#items_cart_remove').val(values.toString());
        $('#items_cart_remove').data('cart-items-remove',quotes.toString());
    });


    $('#remove_cart_items').bind('click', function(event) {
    	
    	if(!$('#items_cart_remove').val()){
    		alert('Please choose item to remove');
    		return false;
    	}
        var url = '/superproduct/index/removeitems';
        var formData = {
            'product_ids'    : $('#items_cart_remove').val(),
            'quote_items_id' : $('#items_cart_remove').data('cart-items-remove')
        };
        $.ajax({
            type        : 'POST',
            url         : url,
            data        : formData,
            dataType    : 'json',
            encode      : true,
            showLoader: true
        }).done(function(reponse) {
            window.location.href = reponse.redirectUrl;
        });
        return false;
    });
 });
</script>