/**
 * Header 1 responsive
 */

@media (min-width: 1200px) {
    .searchbox-header{
        padding-left: 110px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .megamenu-content-sidebar{
        margin: 0 -15px 0 0;
    }

    .sm_megamenu_wrapper_horizontal_menu{
        margin: 0 0 0 10px;
    }

    .hotline-header{
        display: none;
    }

    .sm_megamenu_wrapper_vertical_menu .sm_megamenu_menu li a.sm_megamenu_head{
        padding: 10px;
    }

    .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu > li:not(:last-child){
        margin-right: 30px;
    }

    .sm-searchbox-content .field.searchbox .searchbox-cat{
        width: 140px;
    }

    .sm-searchbox-content .field.searchbox .input-text{
        padding: 0 160px 0 25px;
    }

    .sm-searchbox-content .field.searchbox:before {
        right: 150px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .megamenu-content-sidebar,
    .main-megamenu{
        display: none;
    }

    .navigation-mobile-container{
        display: block;
    }

    .header-bottom{
        height: 50px;
    }

    .logo-wrapper{
        text-align: center;
    }

    .header-middle{
        padding: 30px 0;
    }

    .btn-mobile .button-mobile{
        vertical-align: top;
        font-size: 28px;
        line-height: 50px;
    }

    .hotline-header{
        display: none;
    }

    .minicart-header{
        position: absolute;
        right: 10px;
        bottom: -75px;
        z-index: 200;
    }

    .minicart-content{
        display: inline-block;
    }

    .minicart-wrapper{
        margin: 0;
        float: none;
        height: 40px;
    }

    .minicart-wrapper .action.showcart{
        width: 40px;
        height: 40px;
        padding: 0;

        .text,
        .counter .price-minicart{
            display: none!important;
        }
    }

    .searchbox-header{
        position: absolute;
        bottom: -76px;
        left: 50px;
        right: 60px;
        z-index: 200;

        .sm-searchbox-content .field.searchbox .input-text{
            border: none;
        }
    }

    .track-order{
        display: none;
    }

    .item.link.compare{
        display: none!important;
    }
    .header-style-1{
        .header-top{
            height:auto;
            .header-top-social{
                float:left;
            }
            .minicart-header{
                bottom:0;
                right:0;
                padding:0;
                .border_radius(5px);
                .minicart-wrapper{
                    line-height:45px;
                    padding:0 8px;
                    .border_radius(5px);
                    &:before{
                        .font-awesome(f07a,18px);
                        color:#fff;
                    }
                    .showcart{
                        width:30px;
                    }
                }
            }
        }
        .header-middle{
            padding:10px 0;
            .search-header{
                margin:20px 0;
                .searchbox-header{
                    position:static;
                    padding:0;
                    .sm-searchbox-content{
                        .field.searchbox .input-text{
                            border:1px solid #ddd;
                        }
                        .actions button:before{
                            color:#fff;
                        }
                    }
                }
            }
            .toplinks{
                .track-order{
                    display:block;
                }
                .track-order, .store-location{
                    margin-left:50px;
                }
            }
        }
        .header-middle-2{
            height:auto;
            text-align:center;
            .col-right{
                text-align:center;
            }
        }
        .header-bottom{
            background:none;
        }
    }
}

@media (max-width: 767px) {
    .megamenu-content-sidebar,
    .main-megamenu{
        display: none;
    }

    .navigation-mobile-container{
        display: block;
    }

    .header-bottom{
        height: 50px;
    }

    .logo-wrapper{
        text-align: center;
    }

    .header-middle{
        padding: 30px 0;
    }

    .btn-mobile .button-mobile{
        vertical-align: top;
        font-size: 28px;
        line-height: 50px;
    }

    .hotline-header{
        display: none;
    }

    .minicart-header{
        position: absolute;
        right: 10px;
        bottom: -75px;
        z-index: 200;
    }

    .cart-wrapper{
        display: inline-block;
    }

    .minicart-content{
        display: inline-block;
    }

    .minicart-wrapper{
        margin: 0;
        float: none;
        height: 40px;

        &:before,
        &:after{
            display: none;
        }
    }

    .minicart-wrapper .action.showcart{
        width: 40px;
        height: 40px;
        padding: 0;
        vertical-align: top;

        .text,
        .counter .price-minicart{
            display: none!important;
        }
    }

    .searchbox-header{
        position: absolute;
        bottom: -76px;
        left: 50px;
        right: 60px;
        z-index: 200;

        .sm-searchbox-content .field.searchbox .input-text{
            border: none;
        }
    }

    .track-order{
        display: none;
    }

    .sm-searchbox-content .field.searchbox .searchbox-cat{
        display: none;
    }

    .sm-searchbox-content .field.searchbox{
        display: block;

        &:before{
            display: none;
        }

        .input-text{
            padding: 0 40px 0 15px;
            .border_radius(20px);
        }
    }

    .sm-searchbox-content .actions{
        display: block;

        button{
            background: none;
            border: none;
            width: 40px;
            position: absolute;
            top: 0;
            right: 0;
            padding: 0!important;
            .border_radius(0);

            &:before{
                color: #222;
                .font-awesome(f002,14px);
            }

            span{
                display: none;
            }
        }
    }

    .language-currency-top{
        float: left;

        > div:last-child{
            margin: 0;
            padding: 0;
        }
    }

    .item.link.compare{
        display: none!important;
    }
    .header-style-1{
        .header-top{
            height:auto;
            .header-top-social{
                float:left;
            }
            .minicart-header{
                bottom:0;
                right:0;
                padding:0;
                .border_radius(5px);
                .minicart-wrapper{
                    line-height:45px;
                    padding:0 8px;
                    .border_radius(5px);
                    &:before{
                        .font-awesome(f07a,18px);
                        color:#fff;
                    }
                    .showcart{
                        width:30px;
                    }
                }
            }
        }
        .header-middle{
            padding:10px 0;
            .search-header{
                margin:20px 0;
                .searchbox-header{
                    position:static;
                    padding:0;
                    .sm-searchbox-content{
                        .field.searchbox .input-text{
                            border:1px solid #ddd;
                        }
                        .actions button:before{
                            color:#fff;
                        }
                    }
                }
            }
            .toplinks{
                .track-order{
                    display:block;
                }
                .track-order, .store-location{
                    margin-left:50px;
                }
            }
        }
        .header-middle-2{
            height:auto;
            text-align:center;
            .col-right{
                text-align:center;
            }
        }
    }
}

@media (max-width: 480px) {
    .cart-wrapper .mage-dropdown-dialog{
        width: 300px!important;
    }
    .header-style-1{
        .header-top{
            height:auto;
            .header-top-social{
                float:left;
            }
            .minicart-header{
                bottom:0;
                right:0;
                padding:0;
                .border_radius(5px);
                .minicart-wrapper{
                    line-height:45px;
                    padding:0 8px;
                    .border_radius(5px);
                    &:before{
                        .font-awesome(f07a,18px);
                        color:#fff;
                    }
                    .showcart{
                        width:30px;
                    }
                }
            }
        }
        .header-middle{
            padding:10px 0;
            .search-header{
                margin:20px 0;
                .searchbox-header{
                    position:static;
                    padding:0;
                    .sm-searchbox-content{
                        .field.searchbox .input-text{
                            border:1px solid #ddd;
                        }
                        .actions button:before{
                            color:#fff;
                        }
                    }
                }
            }
            .toplinks{
                .track-order{
                    display:block;
                }
                .track-order, .store-location{
                    margin-left:10px;
                }
            }
        }
        .header-middle-2{
            height:auto;
            text-align:center;
            .col-right{
                text-align:center;
            }
        }
    }
    .header-style-1 .header-top .minicart-header .minicart-wrapper .showcart{
        padding-top: 0;
    }
    .header-top .header-links-top .minicart-wrapper .showcart .counter-number {
        margin: 0px 20px 0px 5px;
    }
    .language-currency-top > div:last-child{
        float:right;
    }
    .header-middle-2 .quicklinks-inner{
        font-size: 12px;
        a{
            font-size:12px;
        }
    }
    .banner-full{
        .content-mid{
            [class*="col-"]{
                padding:0;
            }
            .content{
                padding: 0 15px;
            }
            .item-center{
                padding-right: 10px;
            }
        }
    }
}