/**
 * Header 1
 */
.header-top-ads{
    .action-ads{
        position:absolute;
        right:10px;
        top:0;
        button{
            .border_radius(0);
            height: auto;
            padding: 5px 8px !important;
            line-height: initial;
            background:rgba(68, 68, 68, 0.6);
        }
    }
    .container-fluid{
        padding:0;
    }
    .banner-inder{
        position:relative;
        .notification-dismiss{
            position: absolute;
            right:0;
            top:0;
            background: rgba(0, 0, 0, 0.5);
            padding: 2px 8px;
            color:#fff;
        }
    }
}
.header-top{
    height: 41px;
    background:#52555c;
    .language-currency-top{
        .top-email{
            float:left;
            line-height: 41px;
            margin-right:20px;
            font-size:14px;
            color:#fff;
        }
        .language-wrapper{
            .view-default{
                span{
                    color:#fff;
                }
            }
        }
    }
    .header-links-top{
        .header-top-social, .minicart-header, .top-checkout-link{
            float:right;
            &:before{
                display:none;
            }
        }
        .header-top-social{
            margin-right:0;
            line-height: 41px;
            .social-item{
                font-size: 16px;
                margin-right: 12px;
                .fa{
                    color:#fff;
                }
            }
        }
        .minicart-header{
            padding:0 0 0 7px;
            margin:0;
            border-radius:0 0 0 6px;
            -webkit-border-radius:0 0 0 6px;
            -moz-border-radius:0 0 0 6px;
            line-height:0.66;
            height:45px;
        }
        .minicart-wrapper{
            .showcart{
                line-height:41px;
                padding-top:2px;
                .text{
                    font-size: 14px;
                    text-transform: uppercase;
                    color:#fff;
                }
                .counter{
                    line-height:41px;
                }
                &:before{
                    display:none;
                }
                .counter:before, .counter:after{
                    display:none;
                }
                .counter-number{
                    margin:0 20px 0 10px;
                    color:#fff;
                    font-size:14px;
                    &:before{
                        content:'(';
                    }
                    &:after{
                        content:')';
                    }
                }
                span{
                    float:left;
                    .counter-label{
                        display:none!important;
                    }
                    .price-minicart{
                        .subtotal{
                            .label{
                                display: none;
                            }
                            .price{
                                color:#fff;
                                font-size:14px;
                            }
                        }
                    }
                }
            }
        }
        .checkout-link{
            line-height: 45px;
            height: 45px;
            padding:0 20px;
            border-radius:0 0 6px 0;
            -webkit-border-radius:0 0 6px 0;
            -moz-border-radius:0 0 6px 0;
            a{
                font-size:14px;
                color:#fff;
                text-transform:uppercase;
            }
        }
    }
}

.language-currency-top{
    > div:not(:last-child){
        &:before{
            content: "";
            display: block;
            background-color: #ccc;
            width: 1px;
            height: 10px;
            position: absolute;
            right: 0;
            top: 50%;
            margin-top: -5px;
        }
    }
}

.language-wrapper,
.currency-wrapper{
    float: left;
    margin-right: 19px;
    padding-right: 20px;
    position: relative;

    .mage-dropdown-dialog{
        display: none!important;
    }

    &:hover{
        .mage-dropdown-dialog{
            display: block!important;
        }
    }

    .switcher-label{
        display: none;
    }

    .switcher-trigger{
        strong{
            line-height: 40px;
            font-weight: normal;
            text-transform: uppercase;
            color:#fff;
            span:after{
                margin-left: 5px;
                .font-awesome(f107,14px);
            }
        }
    }
}

.language-wrapper{
    .switcher-trigger strong{
        background-repeat: no-repeat;
        background-position: left center;
        padding-left: 20px;
    }
}

.toplinks{
    float: right;
    .header.links{
        &:before{
            .font-awesome(f023,28px);
            margin-right: 3px;
            display:block;
            vertical-align: middle;
            color: #999;
        }
    }
    > .header.links{
        display: inline-block;
        vertical-align: middle;

        > li{
            float: left;

            > a{
                display: inline-block;
                height: 33px;
                line-height: 33px;
                color: #222;
                font-size: 14px;
            }

            &.authorization-link{
                &:after{
                    content: attr(data-label);
                    margin: 0 10px 0 6px;
                    display: inline-block;
                    color: #888;
                }
            }
        }
    }
}

.track-order, .store-location{
    float: right;
    margin-left:30px;
    a{
        display: inline-block;
        height: 33px;
        line-height: 33px;
        color: #222;
        font-size: 14px;
        &:before{
            .font-awesome(f0d1,28px);
            display:block;
            color:#999;
        }
    }
}
.store-location{
    a{
        &:before{
            .font-awesome(f041,28px);
            display:block;
            color:#999;
        }
        &:hover{
            color:@color_primary;
        }
    }
}

.header-links-top{
    > div:not(:first-child){
        margin-right: 20px;
        padding-right: 10px;
        position: relative;

        &:before{
            content: "";
            display: block;
            width: 1px;
            height: 10px;
            background-color: #ccc;
            position: absolute;
            right: 0;
            top: 50%;
            margin-top: -5px;
        }
    }
}

.item.link.compare{
    &:before{
        display: none;
    }

    .no-display{
        display: none;
    }

    .action.compare{
        &:before{
            content: "";
            display: block;
            width: 1px;
            height: 10px;
            background-color: #ccc;
            position: absolute;
            right: 0;
            top: 50%;
            margin-top: -5px;
        }
    }
}

.customer-welcome{
    position: relative;

    & + .authorization-link{
        display: none;
    }

    .dashboard{
        display: block;
        height: 40px;
        line-height: 40px;

        &:after{
            .font-awesome(f107,14px);
            margin-left: 5px;
        }
    }

    .customer-menu{
        display: none;
        min-width: 150px;
        white-space: nowrap;
        padding: 10px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        position: absolute;
        top: 100%;
        right: 0;
        z-index: 100;
        .box_shadow(0 0 4px rgba(0, 0, 0, 0.15));

        > .header.links li a{
            display: block;
            padding: 5px 0;
        }
    }

    &:hover{
        .customer-menu{
            display: block;
        }
    }
}

.item.link.compare{
    float: right;

    a{
        display: block;
        height: 40px;
        line-height: 40px;
        color: #888;
    }
}

.header-middle{
    padding: 35px 0 30px;
    .searchbox-header{
        padding:8px 0 0;
        .searchbox{
            .input-searchbox{
                border-radius: 5px 0 0 5px !important;
            }
        }
        .actions{
            .btn-searchbox{
                border-radius: 0px 5px 5px 0px;
                &:hover{
                    background:#52555c;
                }
            }
        }
    }
}
.header-middle-2{
    margin-bottom:10px;
    height:35px;
    line-height:35px;
    .quicklinks-inner{
        color:#222;
        font-size:14px;
        a{
            color:#666;
            font-size: 14px;
            font-weight: 400;
        }
    }
    .col-right{
        text-align:right;
        .hotline{
            display: inline-block;
            background: #fd6500;
            padding: 0 15px;
            color: #fff;
            font-size: 14px;
            .border_radius(5px);
        }
    }
}
.header-bottom{
    position:relative;
    z-index:2;
    .container{
        background:#52555c;
        -webkit-border-radius: 5px 0 0 0 ;
        -moz-border-radius: 5px 0 0 0 ;
        border-radius: 5px 0 0 0 ;
        .main-megamenu{
            padding-left:50px;
        }
    }
}

.sm-searchbox-content{
    .form.minisearch{
        display: table;
        width: 100%;
    }
    .field.searchbox{
        display: table-cell;
        vertical-align: top;
        width: 100%;
        position: relative;

        &:before{
            content: "";
            display: block;
            width: 1px;
            height: 45px;
            background-color: #e5e5e5;
            position: absolute;
            left: 135px;
            top: 0;
            margin-top: 0;
        }

        .input-text{
            height: 45px;
            padding: 0 25px 0 145px;
            .border_radius(20px 0 0 20px);
        }

        .searchbox-cat{
            width: 130px;
            height: 45px;
            border: none;
            background-color: transparent;
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    .actions{
        display: table-cell;
        vertical-align: top;

        button{
            height: 45px;
            line-height: 45px;
            font-weight: 600;
            opacity: 1;
            .border_radius(0 20px 20px 0);
        }
    }
}



.megamenu-content-sidebar{
    position: relative;
    .btn-megamenu{
        height: 50px;
        line-height: 50px;
        margin-top:-2px;
        padding: 0 23px;
        font-size: 116.67%;
        text-transform: uppercase;
        font-weight: 500;
        border-radius: 5px 5px 0 0;
        -webkit-border-radius: 5px 5px 0 0;
        -moz-border-radius: 5px 5px 0 0;
        a{
            color: #fff;
            display: block;
            font-weight: 500;
            &:before{
                .font-awesome(f0c9,14px);
                margin-right: 7px;
                color:#fff !important;
            }

            &:after{
                .font-awesome(f107,16px);
                float: right;
                line-height: 46px;
                color:#fff;
            }
        }
    }

    .menu-ver-content{
        opacity: 0;
        visibility: hidden;
        top: 70px;
        left: 0;
        position: absolute;
        width: 100%;
        background-color: #fff;
        z-index: 99999;
        .transition(.2s);
    }

    &:hover{
        .btn-megamenu{
            .border_radius(3px 3px 0 0);
        }

        .menu-ver-content{
            opacity: 1;
            visibility: visible;
            top: 40px;
        }
    }
}

.sm_megamenu_wrapper_horizontal_menu{
    .sm_megamenu_menu{
        > li{
            &:not(:last-child){
                margin-right: 45px;
            }

            > a{
                &:after{
                    display: none!important;
                }

                .sm_megamenu_title{
                    text-transform: uppercase;
                    font-size: 116.67%;
                    color: #fff;
                    display: inline-block;
                    line-height: 50px;
                    font-weight: 500;
                }

                .icon_items{
                    position: absolute;
                    right: 0;
                    top: -8px;
                }
            }
        }
    }
}

.navigation-container{
    position: relative;
}

.hotline-header{
    color: #222;
    position: absolute;
    top: 0;
    right: 0;
    line-height: 40px;

    &:before{
        margin-right: 3px;
        .font-awesome(f098,14px);
    }

    span{
        font-size: 116.67%;
        font-weight: 600;
    }
}

.header-bottom.menu-on-top{
    background-color: #fff;
    padding: 5px 0;
}

.cms-index-index{
    .header-style-1{
        .header-bottom .sidebar-megamenu .megamenu-content-sidebar .menu-ver-content {
            display: block !important;
            opacity: 1 !important;
            top: 100% !important;
            visibility: visible !important;
        }
        .sidebar-megamenu{
            padding-right:0;
            padding-left:10px;
        }
    }
    &.body-on-top{
        .header-style-1{
            .header-bottom .sidebar-megamenu .megamenu-content-sidebar{
                .menu-ver-content {
                    opacity: 0 !important;
                    visibility: hidden !important;
                }
                &:hover{
                    .menu-ver-content {
                        opacity: 1 !important;
                        visibility: visible !important;
                    }
                }
            }
        }
    }
}
.cms-index-index .header-style-1 .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li.home-item > a span:not(.sm_megamenu_title) {
    padding: 10px 20px;
    .border_radius(4px);
}
.header-style-1 .sm_megamenu_wrapper_vertical_menu .sm_megamenu_menu li a.sm_megamenu_head{
    margin:0 20px;
}