<?php
/**
* Magedelight
* Copyright (C) 2017 Magedelight <info@Magedelight.com>
*
* @category Magedelight
* @package Magedelight_Customerprice
* @copyright Copyright (c) 2017 Mage Delight (http://www.Magedelight.com/)
* @license http://opensource.org/licenses/gpl-3.0.html GNU General Public License,version 3 (GPL-3.0)
* @author Magedelight <info@Magedelight.com>
 */
?>
<div class="admin__fieldset-wrapper-content _show" >

    <fieldset class="admin__fieldset" data-bind="foreach: {data: elems, as: 'element'}">
        <div class="fieldset-wrapper" id="customerpricet_container" data-block="product-custom-options">
            <form data-form="quick-view-form" data-role="tocart-form"  name="customerprice-option" id="customerprice_save_form" method="post" enctype="multipart/form-data" validate="validate">

                <div class="fieldset-wrapper-title">
                   
                    <div class="page-actions">
                        <button class="action-primary" id="save_customerprice" onclick="closeCustomerpricePopup()" type="button" data-role="action"><span><?php echo __("Done"); ?></span>

                        </button>
                    </div>
                </div>


                <div class="fieldset-wrapper-content" id="customerprice-options-content" data-role="customerprice-options-content">
                    <fieldset class="admin__fieldset">

                        <div id="order-search" style="display: none" class="admin__page-section order-search-items">
                            <?php echo $block->getChildHtml('customer_search') ?>
                        </div>
                        <section id="order-items" class="admin__page-section order-items" data-mage-init='{"loader": {}}'>
                            <?php echo $block->getChildHtml('product_items') ?>
                        </section>
                    </fieldset>
                </div>
            </form>
        </div>
    </fieldset>
</div>

