<?php $slider = $this->getSlider() ?>
<?php if($slider && (count($this->getLookbooks())>0)): ?>
    <?php $lookbooks = $this->getLookbooks() ?>
    <?php foreach($lookbooks as $lookbook): ?>
        <div class="col-lg-4 col-md-4 col-sm-4 lookbook">
            <a href="<?php echo str_replace(' ','-',strtolower($lookbook->getName())) ?>">
                <div class="lookbookitem">
                    <div class="lookbookImg"><span class="lookbookOverlay">Get The Look</span><img src="<?php echo $this->getImageUrl($lookbook) ?>" alt="<?php echo $lookbook->getName() ?>" class="lookbook-image"/></div>
                    <h4>
                        <?php echo $lookbook->getName() ?>
                    </h4>
                </div>
            </a>
        </div>
    <?php endforeach ?>
    <?php /*?><div class="lookbook-slider owl-carousel owl-theme <?php echo $slider->getCustomClass() ?>" id="lookbook_slider_<?php echo $slider->getId() ?>">
		<?php $lookbooks = $this->getLookbooks() ?>
		<?php foreach($lookbooks as $lookbook): ?>
			<div class="lookbook-container">
				<div class="mgs-lookbook-container">
					<div class="pin__image">
						<img src="<?php echo $this->getImageUrl($lookbook) ?>" alt="<?php $lookbook->getName() ?>" class="lookbook-image"/>
					</div>
					<?php echo $this->getPinHtml($lookbook) ?>
				</div>
			</div>
		<?php endforeach ?>
	</div>
	<script type="text/javascript">
		require([
			'jquery',
			'lookbook/owlcarousel',
		], function(jQuery){
			(function($) {
				$(document).ready(function () {
					$('#lookbook_slider_<?php echo $slider->getId() ?>').owlCarousel({
						items: 1,
						loop: <?php echo $this->getLoop(); ?>,
						nav: <?php echo $this->getNavigation(); ?>,
						dots: <?php echo $this->getPagination(); ?>,
						autoplay: <?php echo $this->getAutoPlay(); ?>,
						autoplayHoverPause: <?php echo $this->getStopAuto(); ?>,
						autoplayTimeout: <?php echo $this->getAutoplayTimeout(); ?>,
						navText : ["<img src='<?php echo $this->getPrevIcon() ?>'/>","<img src='<?php echo $this->getNextIcon() ?>'/>"]
					});
				});
			})(jQuery);
		});
	</script><?php */?>
<?php endif ?>
