<div class="orderList col-lg-12 col-md-12">
<script>
    require([
        'Magento_Customer/js/customer-data'
    ], function (customerData) {
        var sections = ['cart'];
        customerData.invalidate(sections);
    });
</script>
<?php
$om = \Magento\Framework\App\ObjectManager::getInstance();
$savecart_helper=$om->get('Magecomp\Savecartpro\Helper\Data');
$cartlist = $block->CustomerCartList();
if(sizeof($cartlist) > 0) : ?>
<form action="<?php echo $block->getUrl('savecartpro/customer/addcart'); ?>" method="post" id="cartlistform" name="cartlistform" class="form form-cart">
    <?php echo $block->getBlockHtml('formkey'); ?>
    <?php /*?><div class="buttondiv">
    <button type="submit" name="submit_cart_action" value="submit_cart" title="<?php echo $block->escapeHtml(__('Add To Cart')); ?>" class="action update">
        <span><?php echo __('Add To Cart'); ?></span>
    </button>
    </div><?php */?>
    <div class="cartTitles">
        <div class="row">
            <div class="col-lg-2 col-sm-2 col-md-2 col-xs-12"><b><?php echo $block->escapeHtml(__('Date')) ?></b></div>
            <div class="col-lg-3 col-sm-2 col-md-3 col-xs-13"><b><?php echo $block->escapeHtml(__('Name')) ?></b></div>
            <div class="col-lg-1 col-sm-1 col-md-1 col-xs-12"><b><?php echo $block->escapeHtml(__('Total')) ?></b></div>
            <div class="col-lg-6 col-sm-7 col-md-6 col-xs-12"><b></b></div>
        </div>
    </div>
    
    <?php foreach($cartlist as $cart) {  ?>
        <div class="row orderLineItem">
                <div class="col-lg-2 col-sm-2 col-md-2 col-xs-12 colItem"><?php echo date("m/d/y",strtotime($cart->getCreatedAt())); ?></div>
                <div class="col-lg-3 col-sm-2 col-md-3 col-xs-12 colItem"><?php echo $cart->getCartName(); ?></div>
                <div class="col-lg-1 col-sm-1 col-md-1 col-xs-12 colItem"><?php echo $block->getUnitPriceFormat($block->getTotalPrice($cart->getSavecartId())); ?></div>
                <div class="col-lg-6 col-sm-7 col-md-6 col-xs-12 colItem">
                    <div class="action row">
                        <?php /*<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 alignright">
                           <input style="display:none" type="checkbox" name="selectcart[]" class="checkbox" id="selectcart[]" value="<?php echo $cart->getSavecartId(); ?>" />
                            <button type="submit" onClick="jQuery(this).prev('.checkbox').attr('checked',true)" name="submit_cart_action" value="submit_cart" title="<?php echo $block->escapeHtml(__('Add To Cart')); ?>" class="btn action update">
                                <span><?php echo __('Add To Cart'); ?></span>
                            </button>
                        </div>*/ ?>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 alignright">
                            <a href="<?php echo $block->getUrl('savecartpro/customer/viewcart')."qid/".$cart->getSavecartId();?>" class="btn">VIEW CART</a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 alignright">
                            <?php //if(!$block->hasSuperProduct($cart->getSavecartId())): ?>
                                <a href="#" class="btn alink sharecartlink" id="<?php echo base64_encode($cart->getSavecartId());?>">SHARE CART</a>
                            <?php //endif; ?>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 alignright">
                            <a class="btn alink" href="<?php echo $block->getUrl('savecartpro/customer/deletecart')."qid/".$cart->getSavecartId(); ?>">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
            <?php /*?><div class="listdetailclass chkdiv">
                <input type="checkbox" name="selectcart[]" id="selectcart[]" value="<?php echo $cart->getSavecartId(); ?>" />
            </div>
            <div class="listdetailclass cartdiv"><?php echo $cart->getSavecartId(); ?></div>
            <div class="listdetailclass datediv"><?php echo date("m/d/y",strtotime($cart->getCreatedAt())); ?></div>
            <div class="listdetailclass jobnamediv"><?php echo $cart->getCartName(); ?></div>
            <div class="listdetailclass actiondiv">
                    <div class="sub-action">
                        <a class="alink" href="<?php echo $block->getUrl('savecartpro/customer/viewcart')."qid/".$cart->getSavecartId();?>">
                            <i class="fa fa-eye"></i>

                        </a>
                        <a class="alink" href="<?php echo $block->getUrl('savecartpro/customer/deletecart')."qid/".$cart->getSavecartId(); ?>">
                            <i class="fa fa-trash" aria-hidden="true"></i>

                        </a>
                    </div>

            </div>
            <div class="listdetailclass actiondiv">
                <div class="sub-action">
                    <a class="alink sharecartlink" href="#" id="<?php echo $savecart_helper->generateRandomString().$cart->getSavecartId().$savecart_helper->generateRandomString(); ?>">
                        <i class="fa fa-link" aria-hidden="true"></i>
                    </a>
                    <a class="alink mailcart" href="#" id="<?php echo $savecart_helper->generateRandomString().$cart->getSavecartId().$savecart_helper->generateRandomString(); ?>">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div style="clear:both"></div><?php */?>

    <?php } ?>
</form>
<?php
else :
    echo $block->escapeHtml(__('You do not save any cart.'));
endif;
?>
<?php
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
    $storeurl=$storeManager->getStore()->getBaseUrl();
?>
<div id="copylink-modal" class="popup-modal" style="display:none;">
    <span>Click on Below Button to Copy the Genreated Link to Share.</span>
    <input type="text" class="savcart-modal-input" id="txtsharelink" value=""/>
    <label id="cpy_msg" style="color: green; display: none">Link Copied to Clipboard</label>
    <button id="copy_clpbrd"><?php  echo $block->escapeHtml(__('Copy To Clipboard')); ?></button>
</div>
<div id="mailcart-modal" class="popup-modal" style="display:none;">
    <form id="frm_savecart" name="frm_savecart">
        <input type="text" class="savcart-modal-input required" id="txtmail_to" value="" placeholder="To">
        <input type="text" class="savcart-modal-input required" id="txtmail_fromname" value="" placeholder="From Name">
        <input type="text" class="savcart-modal-input required" id="txtmail_subject" value="" placeholder="Subject">
        <textarea id="txtmail_content" class="savcart-modal-txtarea" rows="2"></textarea>
        <button id="btnmail_send"><?php echo $block->escapeHtml(__('Send Cart Email')); ?></button>
    </form>
</div>

<script>
    require(
        [
            'jquery',
            'Magento_Ui/js/modal/modal'
        ],
        function(
            $,
            modal
        ) {
            var options = {
                type: 'popup',
                responsive: true,
                innerScroll: true,
                title: '<b>My Cart Link</b><br><span id="email-heading">Fill this form to share your cart via Email</span>',
                buttons: [{
                    text: $.mage.__('Continue'),
                    class: 'popup-share',
                    click: function () {
                        this.closeModal();
                    }
                }]
            };

            var popup = modal(options, $('#copylink-modal'));
            $(".sharecartlink").on('click',function(){
                var url = "<?php echo $block->getUrl('sharecart/index/viewcart')."key/"; ?>";
                $("#copylink-modal").modal("openModal");
                $('#cpy_msg').hide();
                $(".modal-header h1 b").text("My Cart Link");
                $("#email-heading").hide();
                $("#txtsharelink").val(url + $(this).attr("id"));
            });
            $("#copy_clpbrd").on('click',function(){
               CopyFunction()
                $('#cpy_msg').show();
            });

            var popup1 = modal(options, $('#mailcart-modal'));
            $(".mailcart").on('click',function(){
                var str="Hi, Please Have a look at my cart products.\n";
                var url = "<?php echo $block->getUrl('savecartpro/index/savenewquote')."qid/"; ?>";
                $(".modal-header h1 b").text("Share Cart to Email");
                $("#mailcart-modal").modal("openModal");
                $("#email-heading").show();

                $("#txtmail_content").val(str + url + $(this).attr("id"));
            });
            $("#btnmail_send").on('click', function () {
                var mailTo = $('#txtmail_to').val();
                var fromName = $('#txtmail_fromname').val();
                var mailSubject = $('#txtmail_subject').val();
                var mailContent = $('#txtmail_content').val();
                var body = $('body').loader();
                body.loader('show');
                $.ajax({
                    url: "<?php echo $storeurl . "savecartpro/index/sendmail"; ?>",
                    type: 'POST',
                    data: {
                        mailTo: mailTo,
                        fromName: fromName,
                        mailSubject:mailSubject,
                        mailContent:mailContent
                    },
                    success: function (data) {
                        var response = data;
                        if (response == 'success'){
                            var body = $('body').loader();
                            body.loader('hide');
                            location.reload();
                        }
                    },
                    error: function (data) {
                        var body = $('body').loader();
                        body.loader('hide');
                        location.reload();
                    }
                });
            });
        }
    );

    function CopyFunction() {
        /* Get the text field */
        var copyText = document.getElementById("txtsharelink");
        /* Select the text field */
        copyText.select();
        /* Copy the text inside the text field */
        document.execCommand("Copy");

    }
</script>
</div>