<?php 
$cartitems = $block->getCartAllItems(); 
if(count($cartitems > 0)) : ?>
	<form action="<?php echo $block->getUrl('savecartpro/index/save') ?>" method="post" id="savecartform" name="savecartform" class="form form-cart">
		<?php echo $block->getBlockHtml('formkey'); ?>
		<h3><?php echo $block->escapeHtml(__('Selected Products From Your Cart')); ?></h3>
        <div id="viewmaindiv">
            <div class="headerclass left"><?php echo $block->escapeHtml(__('Products')); ?></div>
            <div class="headerclass right"><?php echo $block->escapeHtml(__('Qty')); ?></div>
            	<?php 
				$count = 0;
				foreach($cartitems as $item) : ?>
                	<div class="detailclass left"><?php echo $item->getName(); ?></div>
                    <div class="detailclass right"><input type="text" id="qty[<?php echo $count; ?>]" name="qty[<?php echo $count; ?>]" value="<?php echo $item->getQty(); ?>"  data-validate="{required:true,'validate-greater-than-zero':true}" /></div>
                <?php 
				$count++;
				endforeach; ?>
        </div>
        <fieldset class="fieldset info">
            <div class="field required">
                <label class="label mylabel" for="cartname">
                    <span><?php echo $block->escapeHtml(__('Cart Title')); ?></span>
                </label>
                <textarea id="cartname" name="cartname" data-validate="{required:true}"></textarea>
            </div>
            <button type="submit" name="submit_qty_action" value="update_qty"
                    title="<?php echo $block->escapeHtml(__('Save My Cart')); ?>"
                    class="action update">
                <span><?php echo __('Save My Cart'); ?></span>
            </button>
        </fieldset>
	</form>



    <script type="text/x-magento-init">
    {
        "#savecartform": {
            "validation": {}
        }
    }
</script>
<?php endif; ?>