<div class="header-container header-style-1">
    <div class="headerBlock"></div>
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 alignright">
                    <div class="topMenu">
                        <ul>
                            <li><a href="/resources/">RESOURCES</a></li>
                            <?php $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                                $customerSession = $objectManager->get('Magento\Customer\Model\Session');
                                if($customerSession->isLoggedIn()) { ?>
                            <li><a href="/customer/account/">ACCOUNT</a></li>
                            <li><a href="/customer/account/logout/">LOGOUT</a></li>
                            <?php } else { ?>
                            <li><a href="/customer/account/login/">LOGIN</a></li>
                            <?php } ?>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <?php echo $block->getChildHtml('logo_theme'); ?>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 centered col-xs-0">
                    <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('header-menu-desktop')->toHtml(); ?>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 alignright col-xs-6">
                    <div class="minicart-header">
                    <div class="minicart-content">
                        <?php echo $block->getChildHtml('cart-header'); ?>
                    </div>
                </div>

                <div class="mobileSearch"><i class="fa fa-search fontawesomeicon"></i></div>
                    <div class="searchbox-header">
                        <?php echo $block->getChildHtml('search-header-pro'); ?>
                    </div>

                    <div class="mobileButton"><i class="fa fa-bars fontawesomeicon"></i></div>
                </div>
            </div>
        </div>
        <div class="mainMenu mobileMenu">
            <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('header-menu-mobile')->toHtml(); ?>
        </div>
    </div>
</div>


