<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
/**
 * @var $block \Magento\OfflinePayments\Block\Info\Purchaseorder
 */
?>
<dl class="payment-method purchase order">
    <dt class="title"><?= $block->escapeHtml($block->getMethod()->getTitle()) ?></dt>
    <?php if($comment = $block->getOrderComment()):?>
    <dd class="content">
        <strong><?= $block->escapeHtml(__('PO Number')) ?></strong>
        <span class="number"><?= $block->escapeHtml($comment) ?></span>
    </dd>
    <?php endif; ?>
</dl>
