<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
$baseOption = $block->getBaseOption();
$formId = $block->getFormId();
$formLabel = $block->getFormLabel();
$option = $block->getOption();
$imageHelper = \Magento\Framework\App\ObjectManager::getInstance()->get(\Magento\Catalog\Helper\Image::class);
//$imageHelper->getDefaultPlaceholderUrl('image');
?>
<div id="manage-image-upload<?= $formId ?>" data-bind="scope: 'image_upload<?= $formId ?>'">
    <!-- ko template: getTemplate() --><!-- /ko -->
</div>
<script type="text/x-magento-init">
    {
        "*": {
            "Magento_Ui/js/core/app": {
                "components": {
                    "image_upload<?= $formId ?>": {
                        "type": "fieldset",
                        "name": "image_upload",
                        "children": {
                            "upload_records": {
                                "type": "container",
                                "name": "<?= $formId ?>",
                                "children": {
                                    "record": {
                                        "type": "container",
                                        "name": "record",
                                        "children": {
                                            "product_id": {
                                                "type": "form.input",
                                                "name": "product_id",
                                                "dataScope": "product_id",
                                                "config": {
                                                    "component": "Magento_Ui\/js\/form\/element\/abstract",
                                                    "template": "ui\/form\/field",
                                                    "componentType": "field",
                                                    "dataType": "text",
                                                    "formElement": "input",
                                                    "visible": false,
                                                    "additionalClasses": {
                                                        "_hidden": true
                                                    },
                                                    "sortOrder": 0
                                                }
                                            },
                                            "sku": {
                                                "type": "form.input",
                                                "name": "sku",
                                                "dataScope": "sku",
                                                "config": {
                                                    "component": "Magento_Ui\/js\/form\/element\/abstract",
                                                    "template": "ui\/form\/field",
                                                    "componentType": "field",
                                                    "dataType": "text",
                                                    "formElement": "input",
                                                    "visible": false,
                                                    "additionalClasses": {
                                                        "_hidden": true
                                                    },
                                                    "sortOrder": 0
                                                }
                                            },
                                            "attribute": {
                                                "type": "form.input",
                                                "name": "attribute",
                                                "dataScope": "attribute",
                                                "config": {
                                                    "component": "Magento_Ui\/js\/form\/element\/abstract",
                                                    "template": "ui\/form\/field",
                                                    "componentType": "field",
                                                    "dataType": "text",
                                                    "formElement": "input",
                                                    "visible": false,
                                                    "additionalClasses": {
                                                        "_hidden": true
                                                    },
                                                    "sortOrder": 0
                                                }
                                            },
                                            "rule_attribute": {
                                                "type": "form.input",
                                                "name": "rule_attribute",
                                                "dataScope": "rule_attribute",
                                                "config": {
                                                    "component": "Magento_Ui\/js\/form\/element\/abstract",
                                                    "template": "ui\/form\/field",
                                                    "componentType": "field",
                                                    "dataType": "text",
                                                    "formElement": "input",
                                                    "visible": false,
                                                    "additionalClasses": {
                                                        "_hidden": true
                                                    },
                                                    "sortOrder": 0
                                                }
                                            },
                                            "rule_option": {
                                                "type": "form.input",
                                                "name": "rule_option",
                                                "dataScope": "rule_option",
                                                "config": {
                                                    "component": "Magento_Ui\/js\/form\/element\/abstract",
                                                    "template": "ui\/form\/field",
                                                    "componentType": "field",
                                                    "dataType": "text",
                                                    "formElement": "input",
                                                    "visible": false,
                                                    "additionalClasses": {
                                                        "_hidden": true
                                                    },
                                                    "sortOrder": 0
                                                }
                                            },
                                            "area_hide": {
                                                "type": "form.input",
                                                "name": "area_hide",
                                                "dataScope": "area_hide",
                                                "config": {
                                                    "component": "Magento_Ui\/js\/form\/element\/abstract",
                                                    "template": "ui\/form\/field",
                                                    "componentType": "field",
                                                    "dataType": "text",
                                                    "formElement": "input",
                                                    "visible": false,
                                                    "additionalClasses": {
                                                        "_hidden": true
                                                    },
                                                    "sortOrder": 0
                                                }
                                            },
                                            "area": {
                                                "type": "form.input",
                                                "name": "area",
                                                "dataScope": "area",
                                                "config": {
                                                    "component": "Magento_Ui\/js\/form\/element\/abstract",
                                                    "template": "ui\/form\/field",
                                                    "componentType": "field",
                                                    "dataType": "text",
                                                    "formElement": "input",
                                                    "elementTmpl": "ui\/dynamic-rows\/cells\/text",
                                                    "label": "View Index",
                                                    "sortOrder": 0
                                                }
                                            },
                                            "option_hide": {
                                                "type": "form.input",
                                                "name": "option_hide",
                                                "dataScope": "option_hide",
                                                "config": {
                                                    "component": "Magento_Ui\/js\/form\/element\/abstract",
                                                    "template": "ui\/form\/field",
                                                    "componentType": "field",
                                                    "dataType": "text",
                                                    "formElement": "input",
                                                    "visible": false,
                                                    "additionalClasses": {
                                                        "_hidden": true
                                                    },
                                                    "sortOrder": 0
                                                }
                                            },
                                            "option": {
                                                "type": "form.input",
                                                "name": "option",
                                                "dataScope": "option",
                                                "config": {
                                                    "component": "Magento_Ui\/js\/form\/element\/abstract",
                                                    "template": "ui\/form\/field",
                                                    "componentType": "field",
                                                    "dataType": "text",
                                                    "formElement": "input",
                                                    "elementTmpl": "ui\/dynamic-rows\/cells\/text",
                                                    "label": "<?= $formLabel ?>",
                                                    "sortOrder": 10
                                                }
                                            },
                                            <?php foreach ($baseOption as $key => $opt): ?>
                                            "<?= $opt['label'] ?>": {
                                                "type": "form.media",
                                                "name": "image<?= $opt['value'] ?>",
                                                "dataScope": "image<?= $opt['value'] ?>",
                                                "config": {
                                                    "component": "Brandsmith_SuperProduct\/js\/form\/element\/file-uploader",
                                                    "template": "Brandsmith_SuperProduct\/form\/element\/uploader\/uploader",
                                                    "formElement": "fileUploader",
                                                    "previewTmpl": "Brandsmith_SuperProduct\/image-preview",
                                                    "uploaderConfig": {
                                                        "url": "<?= $block->getUrl('brandsmith_superproduct/pnglayer_image/upload/field/image') ?>"
                                                    },
                                                    "label": "<?= $opt['label'] ?>",
                                                    "dataType": "text",
                                                    "sku": "<?= $block->getSku() ?>",
                                                    "baseSku": "<?= $block->getBaseSku() ?>",
                                                    "attribute": "<?= $block->getAttribute() ?>",
                                                    "baseAttribute": "<?= $block->getBaseAttribute() ?>",
                                                    "baseOption": "<?= $opt['value'] ?>",
                                                    "elementTmpl": "ui\/form\/element\/uploader\/uploader",
                                                    "sortOrder": "<?= ($key+2)*10 ?>"
                                                }
                                            },
                                            <?php endforeach; ?>
                                            "is_default": {
                                                "type": "form.checkbox",
                                                "name": "is_default",
                                                "dataScope": "is_default",
                                                "config": {
                                                    "component": "Brandsmith_SuperProduct\/js\/form\/element\/radio",
                                                    "template": "ui\/form\/field",
                                                    "formElement": "checkbox",
                                                    "componentType": "field",
                                                    "parentSelections": "image_upload<?= $formId ?>",
                                                    "dataType": "boolean",
                                                    "label": "Default Option",
                                                    "prefer": "radio",
                                                    "value": "0",
                                                    "sortOrder": 500,
                                                    "valueMap": {
                                                        "false": "0",
                                                        "true": "1"
                                                    }
                                                }
                                            }
                                        },
                                        "config": {
                                            "component": "Magento_Ui\/js\/dynamic-rows\/record",
                                            "componentType": "container",
                                            "isTemplate": true,
                                            "is_collection": true
                                        }
                                    }
                                },
                                "dataScope": "data.png",
                                "config": {
                                    "component": "Brandsmith_SuperProduct\/js\/dynamic-rows\/dynamic-rows-upload",
                                    "componentType": "container",
                                    "dataOption": <?= $option ?>,
                                    "template": "Brandsmith_SuperProduct\/dynamic-rows\/templates\/upload",
                                    "additionalClasses": "admin__field-wide",
                                    "isDefaultFieldScope": "is_default",
                                    "columnsHeader": true
                                }
                            }
                        },
                        "config": {
                            "componentType": "fieldset",
                            "collapsible": true,
                            "label": "",
                            "headerLabel": "",
                            "opened": true,
                            "sortOrder": 4
                        }
                    }
                }
            }
        }
    }
</script>
<script>
    require(['jquery'], function ($) {
        $('body').trigger('contentUpdated');
        $('#manage-image-upload<?= $formId ?>').applyBindings();
    })
</script>
