//
//  Variables
//  _____________________________________________

//
//  Common
//  _____________________________________________

//  Desktop
//  ---------------------------------------------
//
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .home-item {
        padding: 0 15px 0;
    }
}

//  Tablet
//  ---------------------------------------------
//
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
	.catalog-product-view {
		.product-info-main {
			.product-info-wishlist {
				position: unset;
				a {
					padding-left: 0px;
				}
			}
			.box-tocart {
				.fieldset {
					.control {
						input {
							&.qty {
								height: 33px;
							}
						}
					}
				}
			}
		}
	}
	.modal-popup {
		&.modal-slide {
			&._inner-scroll {
				.modal-inner-wrap {
					max-height: 500px;
				}
			}
		}
	}
	.block-search {
		.block-content {
			.control {
				.search-autocomplete {
				    left: 0px;
				    right: 0px;
				    margin-left: auto;
				    margin-right: auto;
				    margin-top: 0px;
				}
			}
		}
	}
}

//  Mobile
//  ---------------------------------------------
//

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
	.product-info-main {
        .product-add-form {
            .product-options-wrapper {
                .swatch-option {
                    &.text {
                        margin-bottom: 7px;
                    }
                }
            }
        }
    }
}
