<?php
/**
 * Copyright © Magefan (support@magefan.com). All rights reserved.
 * See LICENSE.txt for license details (http://opensource.org/licenses/osl-3.0.php).
 *
 * Glory to Ukraine! Glory to the heroes!
 */
?>
<?php
/**
 * Blog category info template
 *
 * @var $block \Magefan\Blog\Block\Category\Info
 */
?>

<?php if ($content = $this->getContent()): ?>
   <div class="container">
       <div class="row">
           <div class="category-content"><?php echo $content ?></div>
       </div>
   </div>
<?php endif; ?>
