<!-- ko if: getInitialCollapseState() == 2 -->
<div class="payment-option opc-payment-additional comment last">
    <div class="field">
        <span style="padding-left: 0;padding-bottom: 5px; display: inline-block" data-bind="i18n: 'PO Number'"></span>
    </div>
    <div class="payment-option-content">
        <!-- ko template: 'Bold_OrderComment/checkout/form-content' --><!-- /ko -->
    </div>
</div>
<!-- /ko -->

<!-- ko if: getInitialCollapseState() != 2 -->
<div class="payment-option _collapsible opc-payment-additional comment last"
     data-bind="mageInit: {'collapsible':{'openedState': '_active', 'active': isInitialStateOpened()}}">

    <div class="payment-option-title field choice" data-role="title">
        <span class="action action-toggle" role="heading" aria-level="2">
            <!-- ko i18n: 'Do you have any comments regarding the order?'--><!-- /ko -->
        </span>
    </div>
    <div class="payment-option-content" data-role="content">
        <!-- ko template: 'Bold_OrderComment/checkout/form-content' --><!-- /ko -->
    </div>
</div>
<!-- /ko -->
