//
//  Variables
//  _____________________________________________

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .info.detailed .product.data.items {
        .item {
            &.title {
                height: 50px;
                line-height: 50px;
                text-transform: uppercase;
                background: rgba(0, 0, 0, 0.03);
                padding: 0 33px;
                margin-right: -1px !important;
                border: 1px solid #e1e1e1;

                .switch {
                    display: inline-block;
                    background: transparent;
                    color: #000;
                    font-weight: 600;
                    line-height: normal;
                    padding: 0;
                    margin: 0;
                    border: none;
                    outline: none;

                    &:hover {
                        background: transparent;
                    }
                }

                &.active {
                    background: transparent;

                    .switch {
                        color: #000;
                    }
                }
            }

            &.content {
                margin-top: 49px;
                border: 1px solid #e1e1e1;
                padding: 30px;
            }
        }
    }

    //@TODO move to product detail less file.
    .fotorama-item {
        border: 1px solid #eee;

    }

    .product {
        &.detailed {
            margin-top: 40px;
        }

        &.overview {
            margin-top: 20px;
        }
    }

    .product-info-main {
        .box-tocart {
            .fieldset {
                .field,
                .actions {
                    display: inline-block;
                }

                .control {
                    position: relative;
                    margin-right: 20px;

                    input.qty {
                        height: 40px;
                        line-height: 40px;
                        max-width: 100px;
                        padding: 0 25px;
                        text-align: center;

                    }
                }

                .quantity-controls {
                    position: absolute;
                    z-index: 2;
                    cursor: pointer;

                    &.qty-plus {
                        top: 5px;
                        right: 10px;

                        &:before {
                            .font-awesome(f067, 16px);
                            color: #555;
                        }
                    }

                    &.qty-minus {
                        top: 6px;
                        left: 10px;

                        &:before {
                            .font-awesome(f068, 16px);
                            color: #555;
                        }
                    }
                }
            }
        }
    }

    .product-info-main .breadcrumbs  {
        background: transparent;

        .items {
            .item {
                &:after {
                    width: 0;
                }

                a {
                    color: #7c84be;
                    font-size: 14px;

                    &:after {
                        content: ">";
                        margin: 0 3px;
                    }
                }

                strong {
                    color: #7c84be;
                    font-size: 14px;
                }
            }
        }

    }

    .product-info-main {
        position: relative;

        .product-info-wishlist {
            position: absolute;
            right: 0;

            .action.towishlist {
                font-size: 14px;
                border: 0;
                background: none;
                font-family: 'IsidoraSans-Medium';
                color: #555;

                &:hover {
                    color: #e5cddf;
                }

                &:before {
                    .font-awesome(f004, 16px);
                    margin-right: 2px;
                }
            }
        }

        .product-options-wrapper {
            .field .label {
                margin-bottom: 0;
            }

            .field .options-list {
                input,
                label {
                    display: inline-block !important;
                }

                input {
                    top: 9px;
                }

                label {
                    text-align: left;
                    line-height: 18px;
                }
            }
        }
    }



}

//  Desktop
//  ---------------------------------------------
//
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {

}

//  Tablet
//  ---------------------------------------------
//
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

}

//  Mobile
//  ---------------------------------------------
//

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {

}


