//
//  Variables
//  _____________________________________________

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .fotorama-item {
        border: 1px solid #eee;

    }

    .product {
        &.detailed {
            margin-top: 40px;
        }

        &.overview {
            margin-top: 20px;
        }
    }

    .product-info-main {
        .box-tocart {
            .fieldset {
                .field,
                .actions {
                    display: inline-block;
                }

                .control {
                    position: relative;
                    margin-right: 20px;
                    max-width: 100px;
                    
                    input.qty {
                        height: 40px;
                        line-height: 40px;
                        max-width: 100px;
                        padding: 0 25px;
                        text-align: center;

                    }
                }

                .quantity-controls {
                    position: absolute;
                    z-index: 2;
                    cursor: pointer;

                    &.qty-plus {
                        top: 5px;
                        right: 10px;

                        &:before {
                            .font-awesome(f067, 16px);
                            color: #555;
                        }
                    }

                    &.qty-minus {
                        top: 6px;
                        left: 10px;

                        &:before {
                            .font-awesome(f068, 16px);
                            color: #555;
                        }
                    }
                }
                .field.qty {
                    position: relative;
                    top:2px;
                }
            }
        }
    }


    .product-info-main .breadcrumbs {
        background: transparent;
        margin-top: 0;
        padding-top: 0;
        .items {
            .item {
                &:after {
                    width: 0;
                }

                a {
                    color: #7c84be;
                    font-size: 14px;

                    &:after {
                        content: ">";
                        margin: 0 3px;
                    }
                }

                strong {
                    color: #7c84be;
                    font-size: 14px;
                }
            }
        }

    }

    .product-info-main {
        position: relative;

        .product-info-wishlist {
            position: absolute;
            right: 0;

            .action.towishlist {
                font-size: 14px;
                border: 0;
                background: none;
                font-family: 'IsidoraSans-Medium';
                color: #555;

                &:hover {
                    color: #e5cddf;
                }

                &:before {
                    .font-awesome(f004, 16px);
                    margin-right: 2px;
                }
            }
        }

        .product-options-wrapper {
            .field .label {
                margin-bottom: 0;
                color: #555;
            }

            .field .options-list {
                input,
                label {
                    display: inline-block !important;
                }

                input {
                    top: 9px;
                }

                label {
                    text-align: left;
                    line-height: 18px;
                }
            }
        }
    }

    .catalog-product-view .product-info-main {
        .product-add-form .product-options-wrapper {
            .fieldset .field .label {
                display: inline-block !important;
            }
        }
    }

    .catalog-product-view:not(.knight-super-product) {
        .product-info-main .field.qty {
            .label{
                display: none;
            }
        }
    }
}

//  Desktop
//  ---------------------------------------------
//
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {

}

//  Tablet
//  ---------------------------------------------
//
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

}

//  Mobile
//  ---------------------------------------------
//

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {

}

@media (max-width: 1199px) {
    #super-media {
        margin-bottom: 30px;
    }
}
