<?php
/**
 * Copyright © Brandsmith Commerce OÜ. All rights reserved.
 * See LICENSE.txt for license details.
 */

/**
 * @var \Brandsmith\RewardPoints\Block\Adminhtml\Order\Creditmemo\View\Points $block
 * @codingStandardsIgnoreFile
 */

?>
<?php $_source  = $block->getSource() ?>
<?php if ($_source): ?>
    <tr class="totals">
        <th <?= /* @escapeNotVerified */ $block->getLabelProperties() ?>>
            <?= $block->escapeHtml($block->getLabel()) ?>
        </th>
        <td class="amount">
            <?= /* @escapeNotVerified */ $block->getPointsValue() ?>
        </td>
    </tr>
<?php endif; ?>



