<?php
/**
 * Copyright © 2016 Ihor Vansach (ihor@magefan.com). All rights reserved.
 * See LICENSE.txt for license details (http://opensource.org/licenses/osl-3.0.php).
 *
 * Glory to Ukraine! Glory to the heroes!
 */
?>
<?php
/**
 * Blog recent posts widget
 *
 * @var $block \Magefan\Blog\Block\Widget\Recent
 */
?>

<?php
$_postCollection = $block->getPostCollection();
$_config = $this->helper('Sm\Zumi\Helper\Data');
$enableLadyLoading = $_config->getAdvanced('enable_ladyloading');
$mediaSrc = $_config->getMediaUrl();
if($enableLadyLoading){
    $imgClass = 'owl-lazy';
} else {
    $imgClass = '';
}
?>
<?php if ($_postCollection->count()) { ?>
    <div class="latest-post">
        <div class="title-home">
            <h2><span><?php echo $block->escapeHtml($block->getTitle()) ?></span></h2>
        </div>
        <div class="slider-post-container">
            <div class="owl-carousel slider-post">
                <?php foreach ($_postCollection as $_post) { ?>
                    <?php
                    $_postUrl = $_post->getPostUrl();
                    $_postName = $block->escapeHtml($_post->getTitle(), null, true);
                    ?>
                    <div class="item item-post">
                        <div class="post-content">
                            <div class="image-blog static-image">
                                <?php if ($featuredImage = $_post->getFeaturedImage()) { ?>
                                    <a href="<?php echo $_postUrl ?>" title="<?php echo $_postName ?>">
                                        <img class="<?php echo $imgClass;?>"

                                            <?php if($enableLadyLoading){ ?>
                                                src="<?php echo $mediaSrc . 'lazyloading/blank.png'; ?>"
                                                data-src="<?php echo $featuredImage ?>"
                                            <?php } else { ?>
                                                src="<?php echo $featuredImage ?>"
                                            <?php } ?>

                                             alt="<?php echo $_postName ?>"
                                        />
                                    </a>
                                <?php } else { ?>
                                    <a title="<?php echo $_postName; ?>" href="<?php echo $_postUrl ?>">
                                        <img src="<?php /* @escapeNotVerified */ echo $block->getViewFileUrl('images/post/no_image.jpg') ?>" alt="<?php echo $_postName ?>" />
                                    </a>
                                <?php } ?>
                                <div class="post-info clear">
                                    <div class="item post-posed-date">
                                        <span class="value day"><?php echo $_post->getPublishDate('d') ?></span><br/>
                                        <span class="value month"><?php echo $_post->getPublishDate('F') ?></span>
                                    </div>
                                </div>
                            </div>

                            <div class="info-blog">
                                <h2 class="postTitle">
                                    <a class="post-item-link" href="<?php echo $_postUrl ?>">
                                        <?php echo $_postName; ?>
                                    </a>
                                </h2>
                                <div class="post-info clear">
                                    <!--Author-->
                                    <div class="item post-author">
                                        <span class="fa fa-user" aria-hidden="true"></span>
                                        <span class="label"><?php echo __('Post by:') ?></span>
                                        <a title="<?php echo $block->escapeHtml($_post->getTitle()) ?>" href="<?php echo $_post->getPostUrl() ?>">
                                            <?php echo __('admin')?>
                                        </a>
                                    </div>
                                    <!--End:Author-->

                                    <div class="item post-comments">
                                        <span class="fa fa-comments-o" aria-hidden="true"></span>
                                        <a title="<?php echo $block->escapeHtml($_post->getTitle()) ?>" href="<?php echo $_post->getPostUrl() ?>#post-comments">
                                            <?php echo $block->escapeHtml($_post->getCommentsCount()) ?>
                                        </a>
                                        <span class="label"><?php echo __('comments') ?></span>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                <?php } ?>
            </div>
        </div>


        <script type="text/javascript">
            require([
                'jquery',
                'owlcarousel'
            ], function ($) {
                $(".slider-post").owlCarousel({
                    responsive:{
                        0:{
                            items:1
                        },
                        480:{
                            items:2
                        },
                        768:{
                            items:2
                        },
                        992:{
                            items:3
                        },
                        1200:{
                            items:3
                        },
                    },
                    <?php if($enableLadyLoading){ ?>
                    lazyLoad: true,
                    <?php } ?>
                    autoplay:false,
                    loop:true,
                    nav : true,
                    dots: false,
                    autoplayHoverPause: true,
                    margin:20
                });
            });
        </script>
    </div>
<?php } ?>